/*---------------重设CSS样式--------------------*/
html{min-height:100%; width: 100%;}
body{margin:0px;padding:0px;min-height:100%;width: 100%;font:14px "Microsoft Yahei",Arial,Helvetica,sans-serif;color:#333;}
h1,h2,h3,h4,h5,h6,p,dl,ol,ul,pre{margin-top:0px;margin-bottom:0px;}
ul,ol,dd{list-style:none;margin-left:0px;padding-left:0px;}
input{outline:none;}
a,img{border:none;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.hover-none:hover,.hover-none a:hover{text-decoration:none;}

/*----------------杂项-------------------*/
.left{display:block;float:left;_white-space:nowrap;}
.right{display:block;float:right;_white-space:nowrap;}
.clearfix { *zoom:1; }
.clearfix:after {content:"\200B"; display:block; height:0; clear:both; }

.col-red{color: red;}
.col-green{color: #38B34B;}
.col-link{color: #08C;}
.col-orange{color: #F77B3A;}
.col-purple{color: #aa61c5;}
.font-weight{font-weight: bold;}
.bg-f7f7f7{background-color: #f4f4f4 !important;}

body{
	padding-bottom: 100px;
}

#header_wrap{
	position: relative;
	height: 70px;
	width: 100%;
	background: #fff;
}
#header{
	margin: auto;
	height: 70px;
	width: 960px;
}
#header a{
	text-decoration: none;
}
#logo{
	margin-top: 15px;
}
#nav-main{
	margin-left: 30px;
	height: 70px;
	line-height: 70px;
	font-size: 15px;
}
#nav-main li{
	float: left;
	height:70px;
	margin-right: 18px;
}
#nav-main li a{
	color: #444;
}
#nav-main li a.col-red{
	color: #D33428;
}
#nav-main li.sub-menu{
	position: relative;
	cursor: pointer;
}
#nav-main li.sub-menu .icon{
	background: url('../images/icons.png') 3px 7px no-repeat; /*703*/
	_background: url('../images/icons.jpg') 3px 7px no-repeat;
}
#nav-main li.sub-menu:hover .icon{
	background: url('../images/icons.png') 3px -44px no-repeat;
	_background: url('../images/icons.jpg') 3px -44px no-repeat;
}
#nav-main li.sub-menu ul{
	position: absolute;
	display: none;
	top:50px;
	left: 0px;
	border: 1px solid #ddd;
	border-bottom: 0px;
	background-color: #f6f6f6;
	z-index: 1001;
}
#nav-main li.sub-menu ul li{
	float: none;
	height: 36px;
	margin-right: 0px;
	padding: 0px 16px;
	line-height: 36px;
	white-space: nowrap;
	border-bottom: 1px solid #ddd;
}
#nav-main li.sub-menu ul li:hover{
	background-color: #e5e5e5;
}
#nav-main li.sub-menu ul li a{
	display: block;
}



#info{
	padding: 50px 0px;
	background-color: #C8403A;
	color: #fff;
	text-align: center;
}
#info h1{
	font-size: 40px;
}
#info p{
	width: 800px;
	margin: 30px auto auto auto;
	font-size: 18px;
}

#introduce{
	width: 800px;
	margin: 40px auto auto auto;
}
#introduce p, #introduce li{
	line-height: 1.8em;
	font-size: 18px;
}
#introduce ul{
	list-style: disc;
	padding-left: 20px;
}
#introduce table{
	width: 100%;
	border-collapse: collapse;
}
#introduce table td{
	padding: 20px 0px;
	font-size: 18px;
	border: 1px solid #dcdcdc;
	background-color: #f9f9f9;
}


.service_box{font-size: 16px; position:fixed; z-index:1000;right:-147px;top:50%;margin-top:-100px;width:146px;border:1px solid #ece8e5; background:#fff; }
.service_box .tab_nav{ position:absolute;left:-42px;top:-1px;}
.service_box .tab_nav > li {background:#ece8e5;border-bottom:1px solid #dfdbd9;}
.service_box .tab_nav > li.active{ background:#ff6b09;}
.service_box .tab_nav > li:first-child{border-radius:8px 0 0;}
.service_box .tab_nav > li:last-child{ border-bottom:none; border-radius:8px 0 0 8px;}
.service_box .tab_nav > li > a{ display:block; width:28px;padding:12px 6px 12px 8px; line-height:14px; text-align:center;color:#2c2c2c; text-decoration:none;}
.service_box .tab_nav > li.active > a{ color:#fff;}
.service_box .tab_nav .icon{ display:block; height:28px;width:28px; background:url("./../images/bg_online_service_new.gif") no-repeat; overflow:hidden;margin:3px 0;*margin:6px 0;}
.service_box .tab_nav .icon_1{ background-position:0 0 ;}
.service_box .tab_nav .icon_2{ background-position:-28px 0 ;}
.service_box .tab_nav .icon_3{ background-position:-56px 0 ;}
.service_box .tab_nav .active .icon_1{ background-position:0 -28px ;}
.service_box .tab_nav .active .icon_2{ background-position:-28px -28px ;}
.service_box .tab_nav .active .icon_3{ background-position:-56px -28px ;}
.service_box .tab_content{padding:20px 5px 10px; position:relative;}
.service_box .tab_plan{ display:none; text-align:center;}
.service_box .tab_plan p{color:#333;}