body{
	background-color: #f6f6f6;
}
#main{
	width: 1040px;
	min-width: auto;
	margin: auto;
	padding: 25px 0px 30px 0px;
}

#top-banner{
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#top-banner>a{
	width: 49.4%;
}
#top-banner>a img{
	display: block;
}
/*#top-banner{
	display: block;
	width: 1040px;
	height: 90px;
	margin-bottom: 20px;
}*/

/**************产品推广**************/
/*标题样式*/
#promotion-title{
	height: 42px;
	border-bottom: 1px solid #dbdbdb;
	border-top: 1px solid #dbdbdb;
	overflow: visible;
	background-color: #f6f6f6;
}
#promotion-title .list-item{
	float: left;
	height: 42px;
	padding: 0px 12px;
	line-height: 42px;
	cursor: pointer;
}
#promotion-title .this-item{
	border-bottom: 1px solid #D33428;
	color: #D33428;
}

/*内容样式*/
#promotion-list{
	display: table;
	width: 100%;
}
#promotion-list .pbox{
	display: table-cell;
	padding: 12px;
	background-color: #fff;
}
#promotion-list .pbox dl dt{
	padding-bottom: 8px;
	height: 19px;
	line-height: 19px;
	border-bottom: 1px solid #e3e3e3;
	font-weight: 700;
	color: #555;
}
#promotion-list .pbox dl dd a{
	color: #444;
}

/*官方出品*/
#project-list{
	width: 266px;
}
#project-list dd{
	padding: 10px 0px 2px 0px;
	height: 50px;
}
#project-list dd .icon{
	width: 50px;
	height: 50px;
}
#project-list dd .icon img{
	width: 50px;
	height: 50px;
}
#project-list dd .info{
	margin-left: 8px;
	padding-top: 5px;
	line-height: 20px;
	color: #777;
}
#project-list dd .info span{
	font-size: 13px;
}
#project-list dd .time{
	line-height: 50px;
	color: #777;
	font-size: 13px;
}

/*推荐阅读*/
#recommend-read{
	border-left: 15px solid #f9f9f9;
	border-right: 15px solid #f9f9f9;
}
#recommend-read dl{
	background: url('../images/index_pc/icon_arclist.png') 0px 43px no-repeat;
}
#recommend-read dt{
	margin-bottom: 8px;
}
#recommend-read dd{
	height: 30px;
	line-height: 30px;
	padding-left: 22px;
	overflow: hidden;
}

/*最近更新*/
#recent-update{
	width: 290px;
} 
#recent-update dt{
	margin-bottom: 8px;
}
#recent-update dd{
	height: 30px;
	line-height: 30px;
	padding-left: 12px;
	overflow: hidden;
	background: url('../images/index_pc/icons_32.png') 0px -386px no-repeat;
}
#recent-update dd a{
	display: inline-block;
	max-width: 230px;
	overflow: hidden;
}
#recent-update dd span.right{
	color: #777;
}

/**************教程列表**************/
#tutorial-title{
	margin-top: 25px;
	padding-bottom: 8px;
	text-align: center;
	font-size: 18px;
}
#tutorial{
	padding-top: 12px;
	background-color: #fff;
}
#tutorial h4.t-type{
	margin: auto 12px 12px 12px;
	padding-bottom: 6px;
	border-bottom: 1px solid #ddd;
}
#tutorial ul.t-list>li{
	float: left;
	width: 33.3%;
	height: 72px;
	overflow: hidden;
	margin-bottom: 20px;
}
#tutorial ul.t-list>li.delete-course{
	display: none;
}
#tutorial ul.t-list>li a{
	display: table;
	margin: auto 12px;
	background-color: #f3f3f3;
	color: #444;
	border-radius: 4px;
}
#tutorial ul.t-list>li a:hover{
	text-decoration: none;
	background-color: #ececec;
}
#tutorial ul.t-list>li a .image{
	display: table-cell;
	padding: 6px 0px 6px 10px;
	width: 60px;
	height: 60px;
	vertical-align: middle;
	text-align: center;
}
#tutorial ul.t-list>li a .image img{
	display: inline-block;
	max-width: 60px;
	max-height: 60px;
}
#tutorial ul.t-list>li a .desc{
	display: table-cell;
	padding: 6px 10px;
}
#tutorial ul.t-list>li a .desc p{
	height: 38px;
	line-height: 19px;
	font-size: 14px;
	color: #888;
	overflow: hidden;
}

/**************答疑/辅导**************/
#q2a-fudao{
	margin-top: 30px;
	display: table;
}
#q2a-fudao>div{
	display: table-cell;
	padding:25px 15px;
	background-color: #fff;
	text-align: center;
}
#q2a-fudao>div h4{
	padding: 10px 0px;
	font-size: 24px;
	color: #555;
	font-weight: normal;
}
#q2a-fudao>div p{
	color: #666;
	font-size: 16px;
	line-height: 1.6em;
}
#q2a-fudao>div a.btn-more{
	display: inline-block;
	margin-top: 20px;
	padding: 12px 40px;
	color: #fff;
	background-color: #4a94d8;
	background-image: linear-gradient(0deg,#1890ff,#40a9ff);
	border-radius: 4px;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
}
#q2a-fudao>div a.btn-more:hover{
	background-image: linear-gradient(0deg, #40a9ff, #6bcbff);
}
#q2a-fudao div.q2a{
	border-right: 12px solid #f6f6f6;
}
#q2a-fudao div.fudao{
	border-left: 12px solid #f6f6f6;
}

/**************自适应**************/
@media all and (max-width: 1150px){
	#main{
		width: 90%;
	}

	#top-banner{
		width: auto;
		height: auto;
	}
	#top-banner img{
		width: 100%;
	}

	#project-list{
		width: 30.5%;
	}
	#recommend-read {
		border-left-width: 10px;
		border-right-width: 10px;
	}
	#recent-update{
		width: 30%;
	} 
	#recent-update dd a{
		max-width: 81%;
	}
}
@media all and (max-width: 1060px){
	#main{
		width: 100%;
	}
}
@media all and (max-width: 970px){
	#project-list{
		width: 28%;
	}
	#project-list dd .time {
		display: none;
	}
	#recent-update dd span.right {
		display: none;
	}
	#recent-update dd a{
		max-width: 100%;
	}
}
@media all and (max-width: 820px){
	#project-list{
		width: 30%;
	}
}
@media all and (max-width: 800px){
	#tutorial h4.t-type{
		margin: auto auto 12px auto;
		padding-left: 12px;
	}
	#tutorial ul.t-list>li{
		width: 49.9%;
	}
}
@media all and (max-width: 769px){ /*移动端*/
	#main{
		padding-top: 0px;
	}
	#top-banner{
		margin-bottom: 0px;
	}

	/**************产品推广**************/
	#promotion-list .pbox{
		padding: 12px 0px;
		width: 100%;
	}
	#promotion-list .pbox>dl{
		margin: auto 12px;
	}
	#promotion-list>div.list-item{
		display: none;
	}
	#promotion-list>div.this-item{
		display: block;
	}
	#promotion-list .pbox dl dt{
		display: none;
	}

	/*官方出品*/
	#project-list dd{
		padding: 5px 0px;
	}
	#project-list dd .time {
		display: block;
	}
	/*推荐阅读*/
	#recommend-read{
		border-left: none;
		border-right: none;
	}
	#recommend-read dl{
		background-position: 0px 7px;
	}
	/*最近更新*/
	#recent-update dd a {
		max-width: 85%; 
	}
	#recent-update dd span.right {
		display: block;
	}
}
@media all and (max-width: 600px){
	#tutorial ul.t-list>li{
		float: none;
		width: auto;
		padding-left: 12px;
		padding-right: 12px;
	}
	#tutorial ul.t-list>li a{
		margin: 0px;
		width: 100%;
	}

	/**************答疑/辅导**************/
	#q2a-fudao{
		display: block;
	}
	#q2a-fudao>div{
		display: block;
		margin-top: 30px;
	}
	#q2a-fudao div.q2a{
		border-right: none;
	}
	#q2a-fudao div.fudao{
		border-left: none;
	}
}
@media all and (max-width: 450px){
	#top-banner{
		display: none;
	}
	#recent-update dd a {
		max-width: 80%; 
	}
}
@media all and (max-width: 330px){
	#recent-update dd a {
		max-width: 75%; 
	}
}