#rights{
	margin-top: 30px;
	font-size: 14px;
}
#rights dt{
	line-height: 22px;
	float: left;
	font-weight: bold;
	color: #666;
}
#rights dd{
	float: left;
	padding: 0px 12px;
	margin-left: 20px;
	line-height: 22px;
	color: #fff;
	background-color: #bbb;
	border-radius: 4px;
}
#rights dd.true{
	background-color: #59D268;
}

#pay-way{
	margin-top: 30px;
	padding-top: 20px;
	border-top: 1px solid #ddd;
}

#other-pay-way{
	background: url("../images/detail_list.png") no-repeat 0px 0px;
}
#other-pay-way li{
	line-height: 30px;
	font-size: 14px;
	padding-left: 24px;
}
#btn-pay{
	display: block;
	width: 150px;
	margin: auto;
	padding: 12px 0px;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
}