/*---------------重设CSS样式----------------*/
html{min-height:100%; width: 100%;}
body{margin:0px;padding:0px;min-height:100%;width: 100%;font:14px "Microsoft Yahei",Arial,Helvetica,sans-serif;color:#333;background-color: #f0f1f2;}
h1,h2,h3,h4,h5,h6,p,dl,ol,ul,pre{margin-top:0px;margin-bottom:0px;}
ul,ol,dd{list-style:none;margin-left:0px;padding-left:0px;}
input{outline:none;}
a,img{border:none;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}

/*----------------杂项----------------*/
.left{display:block;float:left;_white-space:nowrap;}
.right{display:block;float:right;_white-space:nowrap;}
.clearfix { *zoom:1; }
.clearfix:after {content:"\200B"; display:block; height:0; clear:both; }

.col-red{color: #fd5353;}
.col-gray{color: #999;}
.col-orange{color: #ff5c00;}
.col-green{color: #298429;}
.col-link{color: #1890ff;}

.wap-yes{display: none;}

.hover-none:hover{text-decoration: none;}
.nowrap{white-space: nowrap;}

.btn-blue{
	display: inline-block;
	padding: 12px 40px;
	color: #fff;
	background-color: #4a94d8;
	background-image: linear-gradient(0deg, #4a94d8, #63b5f9);
	border-radius: 4px;
	text-align: center;
}

/* tab公共样式 */
.tab{
	overflow: hidden;
}
.tab .title-list>li{
	float: left;
}
.tab .cont-list>li{
	display: none;
}
.tab .cont-list>li.this{
	display: block;
}

/*----------------WEB字体----------------*/
@font-face {
	font-family: "iconfont";
	src: url('./../font/iconfont.eot?v=1.0');
	src: url('./../font/iconfont.eot?v=1.0#iefix') format('embedded-opentype'),
		 url('./../font/iconfont.woff2?v=1.0') format('woff2'),
		 url('./../font/iconfont.woff?v=1.0') format('woff'),
		 url('./../font/iconfont.ttf?v=1.0') format('truetype'),
		 url('./../font/iconfont.svg?v=1.0') format('svg');
}

.iconfont {
	font-family: "iconfont" !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-user:before {
	content: "\e610";
}
.icon-points:before {
	content: "\e69b";
}
.icon-product:before {
	content: "\e632";
}
.icon-user-border:before {
	content: "\e63e";
}
.icon-time:before {
	content: "\e62b";
}
.icon-menu:before {
	content: "\e605";
}
.icon-welfare:before {
	content: "\e6db";
}

/*----------------提示框样式----------------*/
/* 错误/成功提示框样式 */
.std-msg-box{
	width: 500px;
	margin: 100px auto auto auto;
	padding-bottom: 25px;
	border: 1px solid #dfdfdf;
	background-color: #fff;
	border-radius: 8px;
	color: #666;
}
.std-msg-box dt{
	height: 50px;
	margin-bottom: 13px;
	padding-left: 20px;
	line-height: 50px;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #dfdfdf;
	border-radius: 8px 8px 0px 0px;
}
.std-msg-box dd{
	padding: 12px 20px 0px 20px;
	line-height: 1.6em;
	font-size: 15px;
}
.std-msg-box a{
	color: #1890ff;
}

/*----------------卡片式列表----------------*/
.card-list{
	margin-top: 20px;
}
.card-list li{
	margin-bottom: 15px;
	border: 1px solid #ddd;
	border-radius: 5px;
}
.card-list li .item-title{
	padding: 8px 15px;
	background-color: #f9f9f9;
	border-radius: 6px 6px 0px 0px;
	color: #777;
	font-size: 13px;
}
.card-list li .item-detail{
	border-top: 1px solid #ddd;
	padding: 10px 15px;
}
.card-list li .item-detail table{
	border-collapse: collapse;
}
.card-list li .item-detail table td{
	border-right: 5px solid #fff;
}
.card-list li .item-detail table td a{
	color: #1890ff;
}

/*----------------产品简介列表----------------*/
ul.product-intro{
	margin-left: 20px;
	list-style: disc;
}
ul.product-intro li{
	padding: 2px 0px;
	line-height: 1.6em;
}

/*----------------无列表内容提示----------------*/
.no-item-tip{
	padding: 20px 0px;
	text-align: center;
	font-size: 18px;
	color: #666;
}
.no-item-tip .btn-blue{
	font-size: 16px;
}

/*----------------宽度----------------*/
#header, #main, #footer{
	width: 1100px;
}
#sidebar{
	width: 250px;
}
#content{
	width: 830px;
}

/*----------------头部样式----------------*/
#header-wrap{
	background-color: #375a7f;
	border-bottom: 1px solid #335070;
}
#header{
	height: 60px;
	margin: auto;
	color: #fff;
}
#header a{
	color: #fff;
}

/*Logo*/
#logo{
	height: 30px;
	padding: 15px 0px;
}
#logo img{
	height: 30px;
}
#logo-addon{
	line-height: 30px;
	font-size: 16px;
}
#logo-addon span.split{
	padding: 0px 6px;
}

/*主导航*/
#nav-main{
	margin-left: 26px;
}
#nav-main li {
	float: left;
	margin-right: 16px;
	line-height: 60px;
}
#nav-main li a {
	display: inline-block;
}

/*用户信息*/
#user-info{
	line-height: 60px;
}
#user-info .icon-user-border{
	font-size: 18px;
}

/*----------------主体框架----------------*/
#main{
	margin: auto;
}

/*----------------面包屑导航----------------*/
#position{
	padding: 20px 0px;
	color: #aaa;
}
#position span.split{
	padding: 0px 8px;
}
#position a{
	color: #555;
}

/*----------------内容----------------*/
#content>div.box{
	padding: 20px;
	background-color: #fff;
	border-radius: 4px;
}
#content>div.box>h4{
	font-size: 18px;
	color: #555;
}

/*----------------边栏----------------*/
#sidebar>div{
	padding: 20px 0px;
	background-color: #fff;
	border-radius: 4px;
}
#sidebar>div dl dt{
	padding: 10px 20px;
	color: #777;
}
#sidebar>div dl dt span.iconfont{
	display: inline-block;
	width: 20px;
}
#sidebar>div dl dt:first-child{
	padding-top: 0px;
}
#sidebar>div dl dd a{
	display: block;
	padding: 8px 20px 8px 40px;
}
#sidebar>div dl dd.this{
	background-color: #f6f6f6;
}
#sidebar>div dl dd:hover{
	background-color: #f6f6f6;
}
#sidebar>div dl dd a{
	color: #444;
}
#sidebar>div dl dd a:hover{
	text-decoration: none;
}

/*----------------边栏----------------*/
#footer{
	margin-top: 50px;
}

/*-------------------自适应----------------*/
@media all and (max-width: 1500px){
	/*----------------宽度----------------*/
	#header, #main, #footer{
		width: 1000px;
	}
	#sidebar{
		width: 230px;
	}
	#content{
		width: 750px;
	}
}
@media all and (max-width: 1200px){
	/*----------------宽度----------------*/
	#header, #main, #footer{
		width: 900px;
	}
	#sidebar{
		width: 230px;
	}
	#content{
		width: 650px;
	}
}
@media all and (max-width: 950px){
	/*----------------宽度----------------*/
	#header, #main, #footer{
		width: 800px;
	}
	#sidebar{
		width: 200px;
	}
	#content{
		width: 580px;
	}
}

/*手机端*/
@media all and (max-width: 800px){
	.wap-yes{display: block;}
	.pc-yes{display: none;}
	.toggle-target{ display: none; }

	.card-list li{
		margin-bottom: 20px;
		border-radius: 0px;
		border-left: none;
		border-right: none;
	}

	/* 错误/成功提示框样式 */
	.std-msg-box{
		width: 100%;
		border-left: none;
		border-right: none;
		border-radius: 0px;
	}
	.std-msg-box dt{
		border-radius: 0px;
	}


	/*----------------布局----------------*/
	#header, #main, #footer{
		width:100%;
	}
	#header{
		height: auto;
	}
	#sidebar{
		width:100%;
		float: none;
	}
	#content{
		width:100%;
		float: none;
	}

	/*----------------头部----------------*/
	/*切换按钮*/
	.toggle-btn {
		display: block;
		position: absolute;
		height: 40px;
		padding: 0px 15px;
		line-height: 40px;
		color: #fff;
		font-size: 16px;
	}
	.toggle-btn-active {
		background-color: #2f4b69;
	}
	.toggle-target-active{
		display: block;
	}
	/*logo*/
	#logo{
		float: none;
		width: 210px;
		margin: auto;
		height: 26px;
		padding: 7px 0px;
	}
	#logo img{
		height: 26px;
	}
	#logo-addon{
		line-height: 26px;
		font-size: 16px;
	}

	/*主导航*/
	#nav-main{
		float: none;
		margin: auto;
		padding: 0px 20px;
		border-top: 1px solid #2f4b69;
		background-color: #456c96;
	}
	#nav-main li{
		margin-right: 20px;
		line-height: 36px;
	}
	#nav-main li a{
		margin-right: 0px;
	}

	/*用户信息*/
	#user-info{
		position: absolute;
		top: 0px;
		right: 0px;
		height: 40px;
		padding-right: 15px;
		line-height: 40px;
	}

	#position{
		padding: 10px 20px;
	}

	/*----------------边栏----------------*/
	#sidebar{
		margin-bottom: 20px;
	}
	#sidebar>div{
		background-color: #f9f9f9;
		border-bottom: 1px solid #e6e6e6;
		border-top: 1px solid #e6e6e6;
		border-radius: 0px;
	}
	#sidebar>div dl dd:hover{
		background-color: #f0f0f0;
	}

	/*----------------内容----------------*/
	#content>div.box{
		padding: 20px 0px;
		border-radius: 0px;
		border-top: 1px solid #e6e6e6;
		border-bottom: 1px solid #e6e6e6;
	}
	#content>div.box>h4{
		padding: 0px 20px;
	}
}