#reg-login-wapper{
	text-align: center;
}

#reg-login-form{
	display: inline-block;
	margin: 120px auto auto auto;
	padding: 30px;
	border: solid 1px #e5e5e5;
	background-color: #fff;
	border-radius: 4px;
}

#reg-login-form .toggle{
	padding-bottom: 12px;
	font-size: 18px;
	text-align: center;
	color: #777;
}
#reg-login-form .toggle .split{
	display: inline-block;
	padding: 0px 8px 3px 8px;
}
#reg-login-form .toggle a{
	display: inline-block;
	padding: 0px 5px 3px 5px;
	color: #777;
}
#reg-login-form .toggle a.active{
	font-weight: bold;
	color: #e8685e;
	border-bottom: 2px solid #e8685e;
}
#reg-login-form .toggle a:hover{
	text-decoration: none;
	border-bottom: 2px solid #e8685e;
}

#reg-login-form tr.error-tip{
	display: none;
}
#reg-login-form td{
	padding: 6px 6px 6px 0px;
}
#reg-login-form td table td{
	padding: 0px;
}
#reg-login-form tr.error-tip td{
	padding: 0px 6px 0px 0px;
}
#reg-login-form td input{
	width: 270px;
	padding: 8px;
	color: #666;
	font-weight: bold;
	border: 1px solid #ccc;
	border-radius: 5px;
}
#reg-login-form td p.msg{
	width: 270px;
	color: #e06056;
	text-align: left;
}
#reg-login-form td label{
	font-weight: bold;
	color: #666;
	white-space:nowrap;
}

#captcha-img:hover{
	cursor: pointer;
}

#reg-login-form td .require-mark{
	padding-left: 6px;
	color: #D33428;
}
#reg-login-form td #submit{
	width: 288px;
	height: 40px;
	padding: 0px;
	color: #fff;
	cursor: pointer;
	border: 1px solid #DA6B62;
	background-color: #CD584F;
}

#tip-box{
	text-align: center;
}

#reg-login-addon{
	margin-top: 15px;
	text-align: center;
	color: #666;
}

/*-------------------手机端-------------------*/
@media all and (max-width: 600px){
	#reg-login-form{
		display: block;
		margin-top: 50px;
		padding: 30px 10px;
		border-left: none;
		border-right: none;
		border-radius: 0px;
	}
	#reg-login-form>table{
		width: 100%;
	}
	#reg-login-form td input{
		width: 83%;
	}
	#reg-login-form td #submit{
		width: 88%;
	}
	#captcha{
		width: 60px !important;
	}
}