#qrcode-wapper{
	width: 300px;
	margin: 60px auto auto auto;
	padding: 30px;
	text-align: center;
	border: solid 1px #e5e5e5;
	background-color: #fff;
	border-radius: 4px;
}

#qrcode-wapper .title{
	padding-bottom: 12px;
	font-size: 20px;
	text-align: center;
	color: #444;
}
#qrcode-wapper div.text{
	margin-top: 5px;
	line-height: 1.8em;
}

#qrcode-wapper .captcha{
	font-size: 24px;
	line-height: 1.7em;
	letter-spacing: 1px;
	color: #07c160;
}

#qrcode-wapper .expire-tip{
	color: #777;
	
}
#qrcode-wapper .expire-tip b{
	color: #d57b7b;
}

#msg-tip{
	display: none;
}
#msg-tip.fail{
	color: #e85740;
}
#msg-tip.success{
	color: #07c160;
}


#qrcode-addon{
	margin-top: 15px;
	text-align: center;
	color: #666;
}

/*-------------------手机端-------------------*/
@media all and (max-width: 600px){
	#qrcode-wapper{
		width: 100%;
		padding: 30px 0px;
		margin: 50px auto auto auto;
		border-right: none;
		border-left: none;
		border-radius: 0px;
	}
}