.arc-info{
	border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
}
#arc-body{
	margin-bottom: 0px;
}
#arc-body blockquote, #arc-body .tip-box{
	margin: 0px;
}

/**章节列表**/
#contents-detail{
	padding-top: 10px;
}
#contents-detail dl{
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-right: 3%;
}
#contents-detail dl dt{
	margin-bottom: 3px;
	padding: 6px 0px;
	border-bottom: 2px solid #ddd;
}
#contents-detail dl dt .title{
	font-weight: bold;
	padding-left: 8px;
	border-left: 3px solid #D33428;
	color: #444;
}
#contents-detail dl dt a{
	font-weight: bold;
	padding-left: 8px;
	border-left: 3px solid #D33428;
	color: #444;
}
#contents-detail dl dd, #contents-detail dl dd a{
	/*color: #2591c7;*/
	color: #007dbb;
}
#contents-detail dl dd.vip, #contents-detail dl dd.vip a{
	color: #dc5d4d;
	/*color: #d76259;*/
	/*color: #D33428;*/
}
/*----------------自适应处理-------------------*/
@media all and (max-width: 1100px){
	#contents-detail dl{
		width: 46%;
		margin-right: 3.5%;
	}
}
@media all and (max-width: 768px){
	#contents-detail dl{
		display: block;
		width: 100%;
		margin-right: 0px;
	}
	#contents-detail dl dt a{
		padding-left: 0px;
		margin-left: 12px;
		border-left: none;
	}
	#contents-detail dl dd{
		padding-left: 12px;
	}
}