<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 启用Chromium高速渲染模式 -->
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<!-- 禁止百度转码 -->
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止识别电话号码 -->
<meta name="format-detection" content="telephone=no" />

<link rel="shortcut icon" href="../favicon_3.ico" />
<link href="../templets/new/style/common_2.css" rel="stylesheet" />
<title>Shell if条件判断语句用法详解</title>
<meta name="description" content="if 条件判断在语言中最为常见，主要用于判断条件是否成立，比如在课堂上，并不是所有的学员都可以进入教室，而是必须符合条件（如必须是本班级学员）才能进入教室。当然，在上" />
</head>
<body>
<div id="topbar" class="clearfix">
	<ul id="product-type" class="left">
		<li>
			<a href="../m_biancheng_default_2.html"><span class="iconfont iconfont-home"></span>首页</a>
		</li>
		<li class="active">
			<a href="../sitemap/sitemap_2.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
		</li>
		<li>
			<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
		</li>
		<li>
			<a href="niz69i_5.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
		</li>
		<!-- <li>
			<a href="https://www.54benniao.com/c_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-c-course"></span>C语言高级课程</a>
		</li>
		<li>
			<a href="https://www.54benniao.com/java_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-java-course"></span>Java高级课程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/q2a/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-q2a"></span>一对一答疑</a>
		</li> -->
	</ul>
</div>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="../m_biancheng_default_2.html">
		<img height="26" src="../templets/new/images/logo_2.png" alt="C语言中文网" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li class="wap-yes"><a href="../m_biancheng_default_2.html">首页</a></li>
		<li><a href="../c/c_4.html">C语言教程</a></li>
		<li><a href="../cplus/cplus_2.html">C++教程</a></li>
		<li><a href="../python/python_2.html">Python教程</a></li>
		<li><a href="../java/java_2.html">Java教程</a></li>
		<li><a href="../linux_tutorial/linux_tutorial_2.html">Linux入门</a></li>
		<li><a href="../sitemap/sitemap_2.html" title="网站地图">更多&gt;&gt;</a></li>
	</ul>
	<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
	<div class="arc-info">
		<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../m_biancheng_default_2.html">首页</a> &gt; 编程笔记</span>
	</div>
	<div id="ggxc-position-bottom" class="ggxc-box"></div>
	<h1>Shell if条件判断语句用法详解</h1>
	<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
	<div id="arc-body">if 条件判断在语言中最为常见，主要用于判断条件是否成立，比如在课堂上，并不是所有的学员都可以进入教室，而是必须符合条件（如必须是本班级学员）才能进入教室。当然，在上课时，是通过人的大脑进行判断的；如果在程序语言中，就要通过 if 条件判断语句来判断了。<br />
<h2>
	单分支 if 条件语句</h2>
单分支 if 条件语句最为简单，就是只有一个判断条件，如果符合条件则执行某个程序，否则什么事情都不做。语法如下：<br />
<p class="info-box">
	if [条件判断式];then<br />
	程序<br />
	fi</p>
在使用单分支 if 条件查询时需要注意几点：<br />
<ul>
	<li>
		if 语句使用 fi 结尾，和一般语言使用大括号结尾不同。</li>
	<li>
		[条件判断式] 就是使用 test 命令判断，所以中括号和条件判断式之间必须有空格。</li>
	<li>
		then 后面跟符合条件之后执行的程序，可以放在 [] 之后，用&quot;:&quot;分隔；也可以换行写入，就不需要&quot;:&quot;了，比如单分支 if 条件语句还可以这样写：</li>
</ul>
<p class="info-box">
	if [条件判断式]<br />
	then<br />
	程序<br />
	fi</p>
单分支 if 条件语句非常简单，但是千万不要小看它，这是流程控制语句最基本的语法。而且在实现 Linux 管理时，我们的管理脚本一般都不复杂，单分支 if 条件语句使用的概率还是很大的。<br />
<br />
举个例子，我想通过脚本判断根分区的使用率是否超过 80%，如果超过 80% 则向管理员报警，请他注意。 脚本就可以这样写：<br />
<p class="info-box">
	[root@localhost ~]# df -h<br />
	#查看一下服务器的分区状况<br />
	文件系统 容量 已用 可用 已用％ %挂载点<br />
	/dev/sda3 20G 1.8G 17G 10% /<br />
	tmpfs 306M 0 306M 0% /dev/shm<br />
	/dev/sda1 194M 26M 158M 15% /boot<br />
	/dev/srO 3.5G 3.5G 0100% /mnt/cdrom<br />
	[root@localhost ~]# vi sh/if1.sh<br />
	#!/bin/bash<br />
	#统计根分区的使用率<br />
	rate=$(df -h | grep &quot;/dev/sda3&quot; | awk &#39;{print $5}&#39; | cut -d&quot;%&quot;-f1)<br />
	#把根分区使用率作为变量值赋予变量rate<br />
	if [$rate -ge 80 】<br />
	#判断rate的值，如果大于等于80,则执行then程序<br />
	then<br />
	echo &#39;Warning! /dev/sda3 is full!!&quot;<br />
	#打印警告信息。在实际工作中，也可以向管理员发送邮件<br />
	fi</p>
其实这个脚本最主要的地方是&quot;rate=$(df-h|grep &quot;/dev/sda3&quot;|awk&#39;{print$5}&#39;|cut-d&quot;%&quot;-f1)&quot;这条命令，我们来分析一下这条命令：先使用&quot;df-h&quot;列出系统中的分区情况；然后使用&quot;grep&quot;命令提取出根分区行；再使用&quot;awk&quot;命令列出第五列，也就是根分区使用率这一列（不过使用率是 10%，不好比较，还要提取出 10 这个数字）；最后使用&quot;cut&quot;命令（cut 命令比 awk 命令简单），以&quot;％&quot;作为分隔符，提取出第一列。<br />
<br />
这条命令的执行结果如下：
<p class="info-box">
	[root@localhost ~]# df -h | grep &quot;/dev/sda3&quot; |awk&#39;{print $5}&#39;|cut -d&quot;%&quot; -f1 10</p>
提取出根分区的使用率后，判断这个数字是否大于等于 80，如果大于等于 80 则报警。至于报警信息，我们在脚本中直接输出到屏幕上。在实际工作中，因为服务器屏幕并不是 24 小时有人值守的，所以也可以给管理员发送邮件，用于报警。<br />
<br />
脚本写好之后，就可以利用我们在前面章节中讲到的系统定时任务，让这个脚本每天或几天执行一次，就可以实现自动检测硬盘剩余空间了。后续的系统管理的脚本，如果需要重复执行，则也需要依赖系统定时任务。<br />
<h2>
	双分支条件语句</h2>
在双分支 if 条件语句中，当条件判断式成立时，则执行某个程序；当条件判断式不成立时，则执行另一个程序。<br />
<br />
语法如下：
<p class="info-box">
	if [条件判断式]<br />
	then<br />
	当条件判断式成立时，执行的程序<br />
	else<br />
	当条件判断式不成立时，执行的另一个程序<br />
	fi</p>
例如，还记得我们在进行条件测试时是怎么显示测试结果的吗？
<p class="info-box">
	[root@localhost ~]# [-d /root/sh] &amp;&amp; echo &quot;yes&quot; || echo &quot;no&quot;<br />
	#第一条判断命令如果正确执行，则打印&quot;yes&quot;; 否则打印&quot;no&quot;<br />
	yes</p>
这样显示条件测试的结果还是非常不方便的。当时是因为我们还没有讲 if 语句，所以只能用逻辑与和逻辑或来显示测试结果。既然我们已经学习了 if 语句，就把这个条件测试改写为 if 语句吧。<br />
<p class="info-box">
	#!/bin/bash<br />
	#判断输入的文件是否是一个目录<br />
	read -t 30 -p &quot;Please input a directory:&quot; dir #read接受键盘的输入，并存入dir变量<br />
	if[-d $dir]<br />
	#测试$dir中的内容是否是一个目录<br />
	then<br />
	echo &quot;yes&quot;<br />
	#如果是一个目录，则输出yes<br />
	else<br />
	echo &quot;no&quot;<br />
	#如果不是一个目录，则输出no<br />
	fi</p>
解释一下这个脚本的思路：其实逻辑与和逻辑或也是在判断前一条命令的&quot;$?&quot;的返回值是不是 0，如果是 0，则前一条命令正确执行；如果不是 0，则证明前一条命令执行错误。双分支if条件语句的判断思路也是测试条件判断式是否成立，如果成立，则执行&quot;then&quot;中的命令；如果不成立，则执行&quot;else&quot;中的命令。<br />
<h2>
	多分支 if 条件语句</h2>
在多分支 if 条件语句中，允许执行多次判断。也就是当条件判断式 1 成立时，执行程序 1；当条件判断式 2 成立时，执行程序 2；依次类推，当所有条件不成立时，执行最后的程序。语法如下：<br />
<p class="info-box">
	if[条件判断式1]<br />
	then<br />
	当条件判断式1成立时，执行程序1<br />
	elif [条件判断式2]<br />
	then<br />
	当条件判断式2成立时，执行程序2<br />
	&hellip;省略更多条件...<br />
	else<br />
	当所有条件都不成立时，最后执行此程序、<br />
	fi</p>
例如，用多分支 if 条件语句来判断用户输入的是一个个文件还是一个目录。<br />
<p class="info-box">
	[root@localhost ~]#vi sh/if-elif.sh<br />
	#!/bin/bash<br />
	#判断用户输入的是什么文件<br />
	read -p &quot;Please input a filename:&quot; file<br />
	#接收键盘的输入，并赋予变量file<br />
	if[-z &quot;$file&quot;]<br />
	#判断file变量是否为空<br />
	then<br />
	echo &quot;Error,please input a filename&quot;<br />
	#如果为空，则执行程序1，也就是输出报错信息、<br />
	exit 1<br />
	#退出程序，并定义返回值为1 (把返回值赋予变量$?)<br />
	elif[!-e &quot;$file&quot;]<br />
	#判断file的值是否存在<br />
	then<br />
	echo &#39;Your input is not a file!&quot;<br />
	#如果不存在，则执行程序2<br />
	exit 2<br />
	#退出程序，并定义返回值为2<br />
	elif[-f &quot;$file&quot;]<br />
	#判断file的值是否为普通文件<br />
	then<br />
	echo &quot;$file is a regulare file!&quot;<br />
	#如果是普通文件，则执行程序3<br />
	elif[-d&quot;$file&quot;]<br />
	#判断file的值是否为目录文件<br />
	then<br />
	echo &quot;$file is a directory!&quot;<br />
	#如果是目录文件，则执行程序4<br />
	else<br />
	echo is an other file!&quot;<br />
	#如果以上判断都不是，则执行程序5<br />
	fi</p>
解释一下脚本思路：这个脚本比较简单，需要说明的是 exit 这条命令。这条命令是退出执行程序的命令，如果符合条件 1（没有输入）和条件 2（输入的不是文件），则需要执行 exit 命令；否则程序还是会运行一下脚本的，这不符合我们的要求。至于 exit 后面的返回值，是自由定义的，主要用于把返回值赋予变量 $?。我们执行一下这个脚本：<br />
<p class="info-box">
	[root@localhost ~]# chmod 755 sh/if-elif.sh<br />
	#赋予执行权限<br />
	[root@localhost ~]# sh/if-elif.sh<br />
	#执行脚本<br />
	Please input a filename:<br />
	#没有任何输入<br />
	Error,please input a filename<br />
	#报错信息是脚本中自己定义的<br />
	[root@localhost ~]# echo $?<br />
	1<br />
	#变量$?的返回值是我们自己定义的1<br />
	[root@localhost ~]# sh/if-elif.sh<br />
	Please input a filename: jkgeia<br />
	#随便输入不是文件的字符串<br />
	Your input is not a file!<br />
	#报错信息是自己定义的<br />
	[root@localhost ~]# echo $?<br />
	2<br />
	#变量$?的返回值是我们自己定义的2</p>
</div>
	<div id="ggxc-weixin-arcbottom">
	<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
	<p style="margin-top:12px; text-align:center;">
		<img src="../templets/new/images/material/qrcode_mp_4.png" alt="公众号二维码" width="160" /><br />
		<span class="col-green">微信扫码关注公众号</span>
	</p>
</div>
	<div id="nice-arcs" class="box-bottom">
    <h4>推荐阅读</h4>
    <ul class="clearfix">
<li><a href="niz69i_8.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_4.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_4.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="430_2.html" title="C++11 shared_ptr（智能指针）详解" target="_blank">C++11 shared_ptr（智能指针）详解</a></li>
<li><a href="2593_2.html" title="MySQL创建存储过程（CREATE PROCEDURE）" target="_blank">MySQL创建存储过程（CREATE PROCEDURE）</a></li>
<li><a href="3159_2.html" title="Docker应用容器化（将应用程序部署到容器中）" target="_blank">Docker应用容器化（将应用程序部署到容器中）</a></li>
<li><a href="../sql/full-join_2.html" title="SQL FULL JOIN：全连接" target="_blank">SQL FULL JOIN：全连接</a></li>
<li><a href="9618_2.html" title="没有项目经验，能找到工作吗？能进大厂吗？" target="_blank">没有项目经验，能找到工作吗？能进大厂吗？</a></li>
<li><a href="pq6601_2.html" title="Go语言开发环境搭建（所有平台）" target="_blank">Go语言开发环境搭建（所有平台）</a></li>
<li><a href="9in9o7_2.html" title="机器学习的分类及其典型算法（非常全面）" target="_blank">机器学习的分类及其典型算法（非常全面）</a></li>
</ul>
</div>
	
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 1002;
window.arcId = "8e51ThyCxjDd4c0KgD04+m1cUMbv40YUq68+DHRuYkBZsEMfgBArWGGeM7U";
window.typeidChain = "210|119";
</script>
<div id="footer" class="clearfix">
	<div class="info left">
	<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
	<p>
		<a href="8066_2.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
		<a href="8092_3.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
		<a href="8097_2.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
		<a href="9648_2.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
		<a href="8093_2.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
		<a href="../sitemap/sitemap_2.html" target="_blank" rel="nofollow">网站地图</a>
	</p>
	<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan_2.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
	</p>
	</div>
	<img id="logo_bottom" class="right" src="https://m.biancheng.net/templets/new/images/logo_bottom_2.gif" alt="底部Logo" />
	<span id="return-top"><b>↑</b></span>
</div>

<div id="addweixin-widget">
	<p>
		<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://m.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
		<img src="https://m.biancheng.net/templets/new/images/material/qrcode_mp_4.png" alt="微信交流群" width="120" />
		<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
	</p>
	<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>

<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>

<script src="https://m.biancheng.net/templets/new/script/jquery1.12.4.min_2.js"></script>
<script src="https://m.biancheng.net/templets/new/script/common_2.js"></script>
<!-- 51la V6 -->
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<!-- 51la V5 -->
<!-- <span style="display: none;"><script type="text/javascript" src="https://js.users.51.la/21368967.js"></script></span> -->
</body>
</html>