<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>C++ cout输出语句用法详解</title>
<meta name="description" content="cout 可用于在计算机屏幕上显示信息 ，程序可以显示的最简单的屏幕输出类型是控制台输出，它只是纯文本。 控制台这个词是一个老旧的计算机术语，计算机操作员通过在终端上打字来" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>C++ cout输出语句用法详解</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body"><span style="color:#008000;">cout </span><span style="color:#b22222;">可用于在计算机屏幕上显示信息</span>，程序可以显示的最简单的屏幕输出类型是控制台输出，它只是纯文本。<br />
<p class="info-box">
控制台这个词是一个老旧的计算机术语，计算机操作员通过在终端上打字来与系统进行交互的日子。终端由简单的屏幕和键盘组成，被称为控制台。</p>
在现代计算机上，运行的是 Windows 或 Mac OS 等图形操作系统，控制台输出通常显示在如图 1 所示的窗口中。<a href='../cplus/cplus.html' target='_blank'>C++</a> 提供了一个名为 cout 的对象，用于产生控制台输出。cout 这个词可以看作是来源于 console output（控制台输出）。
<div style="text-align: center;">
<br />
<img alt="控制台窗口" src="../uploads/allimg/181112/2-1Q11215330b12.gif" /><br />
图 1 控制台窗口</div>
<br />
cout 被分类为流对象，这意味着它是使用数据流的。要在屏幕上打印消息，则可以发送一串字符到 cout。还是来看一下下列程序中的第 7 行：
<pre class="cpp">
// A simple C++ program
#include &lt;iostream&gt;
u<a href='https://c.biancheng.net/ref/sin.html' target='_blank'>sin</a>g namespace std;

int main()
{
    cout &lt;&lt; &quot;Programming is great fun!&quot;;
    return 0;
}</pre>
&lt;&lt; 操作符用于将字符串&quot;Programming is great fine!&quot;发送到 cout。当以这种方式使用 &lt;&lt; 符号时，它被称为<span style="color:#008000;">流插入运算符</span>。运算符右侧的项目被插入到输出流中，该输出流将被发送到 cout 以在屏幕上显示。<br />
<br />
流插入运算符总是写为两个小于号，它们之间没有空格。因为正在使用它将数据流发送到 cout 对象，所以可以将流插入运算符视为必须指向 cout 的箭头，如下所示。<br />
<p class="info-box">
cout&lt;&lt;&quot;Hello&quot;;<br />
cout&lt;&mdash;&quot;Hello&quot;;</p>
下面的这个程序显示了编写相同程序的另外一种方法。
<pre class="cpp">
// A simple C++ program
#include &lt;iostream&gt;
using namespace std;

int main()
{
    cout &lt;&lt; &quot;Programming is &quot; &lt;&lt; &quot;great fun!&quot;;
    return 0;
}</pre>
可以看到，流插入运算符可以用于发送多个项目到 cout。该程序的输出与之前同。<br />
<br />
以下程序显示的还是用另一种方式来完成同样的事情：
<pre class="cpp">
// A simple C++ program
#include &lt;iostream&gt;
using namespace std;

int main()
{
    cout &lt;&lt; &quot;Programming is &quot;;
    cout &lt;&lt; &quot;great fun!&quot;;
    return 0;
}</pre>
该程序的输出结果与前面程序是一样的。<br />
<br />
理解此程序的一个重要概念是：尽管输出被分成两个编程语句，但该程序仍将在单行上显示该消息。除非另有说明，否则发送给 cout 的信息将以连续的流显示。有时这可能会产生不太理想的结果，下面的程序说明了这一点：
<pre class="cpp">
// A unruly printing program
#include &lt;iostream&gt;
using namespace std;

int main()
{
    cout &lt;&lt; &quot; The following items were top sellers&quot;;
    cout &lt;&lt; &quot;during the month of June:&quot;;
    cout &lt;&lt; &quot;Computer games&quot;;
    cout &lt;&lt; &quot;Coffee&quot;;
    cout &lt;&lt; &quot;Aspirin&quot;;
    return 0;
}</pre>
程序输出结果：
<p class="info-box">
The following items were top sellersduring the month of June:Computer gamesGoffeeAspirin</p>
实际输出的结果看起来并不像源代码中字符串的排列方式。首先，可以发现在单词&ldquo;sellers&rdquo;和&ldquo;during&rdquo;之间以及&ldquo;June:&rdquo;和&ldquo;Computer&rdquo;之间都没有显示空格。cout 严格按发送的字符串显示消息，所以，要显示空格，则它们必须出现在字符串中。<br />
<br />
其次，虽然在源代码中输出的字符串被分成 5 行，但是最终输出的结果却只有一个长字符串。因为字符串太长一行显示不完，所以在显示时才会绕到第 2 行。造成这种输出结果的原因是 cout 不会开始新的一行，除非告诉它这样做。<br />
<br />
有两种方法可以指示 cout 开始新的一行。第一种方法是给 cout 发送一个名为 endl（发音为&ldquo;end-line&rdquo;或&ldquo;end-L&rdquo;）的流操作符，如下面的程序所示：
<pre class="cpp">
//An unruly printing program
#include &lt;iostream&gt;
using namespace std;

int main()
{
    cout &lt;&lt; &quot;The following items were top sellers&quot; &lt;&lt; endl;
    cout &lt;&lt; &quot;during the month of June:&quot; &lt;&lt; endl;
    cout &lt;&lt; &quot;Computer games&quot; &lt;&lt; endl;
    cout &lt;&lt; &quot;Coffee&quot; &lt;&lt; endl;
    cout &lt;&lt; &quot;Aspirin&quot; &lt;&lt; endl;
    return 0;
}</pre>
程序输出结果：<br />
<p class="info-box">
The following items were top sellers<br />
during the month of June:<br />
Computer games<br />
Coffee<br />
Aspirin</p>
<div class="cpp">
注意，endl 的最后一个字符是字母 L 的小写形式，不是数字 1。</div>
<br />
每次 cout 遇到一个 endl 流操作符，它将输出提前到下一行的开始，以便后续打印。操作符可以插入到发送给 cout 的字符串中的任何位置，只要它在双引号之外。请注意，endl 也在最后一行的输出结尾使用。<br />
<br />
使后续输出在新行上开始的第2种方法是在要输出的字符串中插入 \n。下面程序就是 这样做的：
<pre class="cpp">
//An unruly printing program
#include &lt;iostream&gt;
using namespace std;
int main()
{
    cout &lt;&lt; &quot;The following items were top sellers\n&quot;;
    cout &lt;&lt; &quot;during the month of June:\n&quot;;
    cout &lt;&lt; &quot;Computer games\nCoffee&quot;;
    cout &lt;&lt; &quot;\nAspirin&quot;;
    return 0;
}</pre>
程序输出结果：
<p class="info-box">
The following items were top sellers<br />
during the month of June:<br />
Computer games<br />
Coffee<br />
Aspirin</p>
\n 是转义序列的示例。转义序列被写为反斜杠字符（\），后跟一个控制字符，用于控制显示输出的方式。C++ 中有许多转义序列。换行符序列（\n）正是其中之一。<br />
<br />
当 cout 在字符串中遇到 \n 时，它不会在屏幕上打印，而是将其解释为一个特殊的命令，将输出光标推到下一行。有些人可能已经注意到插入转义序列比插入 endl 要少，这就是为什么一些程序员更喜欢它的原因。<br />
<br />
转义序列使程序员能够更好地控制程序输出信息的方式。表 1 列出了若干个常用的转义序列。<br />
<br />
<table>
<caption>
表 1 常用转义序列</caption>
<tbody>
<tr>
<th>
转义序列</th>
<th>
名&nbsp;称</th>
<th>
说&nbsp;明</th>
</tr>
<tr>
<td>
\n</td>
<td>
换行</td>
<td>
将光标移到下一行进行后续打印</td>
</tr>
<tr>
<td>
\t</td>
<td>
水平制表</td>
<td>
将光标跳到下一个制表位置</td>
</tr>
<tr>
<td>
\a</td>
<td>
报警</td>
<td>
使计算机发出蜂鸣</td>
</tr>
<tr>
<td>
\b</td>
<td>
退格</td>
<td>
使光标后退（例如向左移动）一个位置</td>
</tr>
<tr>
<td>
\r</td>
<td>
回车</td>
<td>
将光标移到当前行（不是下一行）的开头</td>
</tr>
<tr>
<td>
\\</td>
<td>
反斜杠</td>
<td>
打印一个反斜杠字符</td>
</tr>
<tr>
<td>
\*</td>
<td>
单引号</td>
<td>
打印一个单引号字符</td>
</tr>
<tr>
<td>
\&quot;</td>
<td>
双引号</td>
<td>
打印一个双引号字符</td>
</tr>
</tbody>
</table>
<br />
刚开始学习 C++ 的学生容易犯的一个常见错误是在尝试写入转义序列时使用正斜杠（/）而不是反斜杠（\）。这样是无效的。来看下面的代码行示例。<br />
<p class="info-box">
cout &lt;&lt; &quot;Four score/nAnd seven/nYears ago. /n&quot;; // 错误!</p>
因为程序员不小心写了 /n 而不是 \n，所以 cout 只会在屏幕上显示 /n 字符，而不是开始一个新的输出行。此代码将创建以下输出：<br />
<p class="info-box">
Four score/nAnd seven/nYears ago./n</p>
另一个常见的错误是忘记把 \n 放在引号内。例如，以下代码将无法编译。<br />
<p class="info-box">
cout &lt;&lt; &quot;Good&quot; &lt;&lt; \n; // 错误!<br />
cout &lt;&lt; &quot;Morning&quot; &lt;&lt; \n; //该代码不会被编译</p>
可以通过将 \n 序列放在字符串文字中来更正代码，如下所示：<br />
<p class="info-box">
cout &lt;&lt; &quot;Good\n&quot;; //这才是正确的<br />
cout &lt;&lt;&quot;Morning\n&quot;;</p>
重要的是不要将反斜杠（\）与正斜杠（/）混淆。转义序列必须以反斜杠开头，放置在引号内，反斜杠和控制字符之间没有空格。<br />
<br />
在字符串中键入转义序列时，需键入两个字符（反斜杠后跟另一个字符）。但是，转义序列是作为单个字符存储在存储器中的。<br />
<br />
例如，来看下面这个字符串文字：<br />
<p class="info-box">
&quot;One\nTwo\nThree\n&quot;</p>
图 2 中的示意图将该字符串分解成了单个字符，这样就可以清楚地看到每个 \n 转义序列是如何被认为只是一个字符的。
<div style="text-align: center;">
<br />
<img alt="字符串分解示意图" src="../uploads/allimg/181112/2-1Q11215415L48.gif" /><br />
图 2 字符串分解示意图</div>
</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="306_2.html" title="|和||的区别，C语言|和||的区别详解" target="_blank">|和||的区别，C语言|和||的区别详解</a></li>
<li><a href="828.html" title="Java字符串大小写转换（toLowerCase()和toUpperCase()）" target="_blank">Java字符串大小写转换（toLowerCase()和toUpperCase()）</a></li>
<li><a href="1031.html" title="Java匿名类，Java匿名内部类" target="_blank">Java匿名类，Java匿名内部类</a></li>
<li><a href="7248.html" title="C++ STL unordered_multimap容器精讲" target="_blank">C++ STL unordered_multimap容器精讲</a></li>
<li><a href="vip_7719.html" title="C++ map容器operator[]和insert()效率对比（深度剖析）" target="_blank">C++ map容器operator[]和insert()效率对比（深度剖析）</a></li>
<li><a href="../maven2/import-local-jar.html" title="Maven导入本地jar包" target="_blank">Maven导入本地jar包</a></li>
<li><a href="../springcloud/sentinel.html" title="Sentinel：Spring Cloud Alibaba高可用流量控制组件（非常详细）" target="_blank">Sentinel：Spring Cloud Alibaba高可用流量控制组件（非常详细）</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 1308;
window.arcId = "b81aOF4Yuj6cv0rk375eRL3le+UP2EpuiB7jGyS7J4ONUuW4OV4eGVoVXU4";
window.typeidChain = "120|119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>