<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>C++ seekg函数用法详解</title>
<meta name="description" content="很多时候用户可能会这样操作，打开一个文件，处理其中的所有数据，然后将文件倒回到开头，再次对它进行处理，但是这可能有点不同。例如，用户可能会要求程序在数据库中搜索某" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>C++ seekg函数用法详解</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">很多时候用户可能会这样操作，打开一个文件，处理其中的所有数据，然后将文件倒回到开头，再次对它进行处理，但是这可能有点不同。例如，用户可能会要求程序在数据库中搜索某种类型的所有记录，当这些记录被找到时，用户又可能希望在数据库中搜索其他类型的所有记录。<br />
<br />
文件流类提供了许多不同的成员函数，可以用来在文件中移动。其中的一个方法如下:<br />
<p class="info-box">
seekg(offset, place);</p>
这个输入流类的成员函数的名字 seekg 由两部分组成。首先是 seek（寻找）到文件中的某个地方，其次是 &quot;g&quot; 表示 &quot;get&quot;，指示函数在输入流上工作，因为要从输入流获取数据。<br />
<br />
要查找的文件中的新位置由两个形参给出：新位置将从由 place 给出的起始位置开始，偏移 offset 个字节。offset 形参是一个 long 类型的整数，而 place 可以是 ios 类中定义的 3 个值之一。起始位置可能是文件的开头、文件的当前位置或文件的末尾，这些地方分别由常量 ios::beg、ios::cur 和 ios::end 表示。<br />
<br />
有关在文件中移动的更多信息将在后面的章节中给出，目前先来关注如何移动到文件的开头。要移到文件的开始位置，可以使用以下语句：<br />
<p class="info-box">
seekg(0L,ios::beg);</p>
以上语句表示从文件的开头位置开始，移动 0 字节，实际上就是指移动到文件开头。<br />
<br />
注意，如果目前已经在文件末尾，则在调用此函数之前，必须清除文件末尾的标志。因此，为了移动到刚读取到末尾的文件流 dataln 的开头，需要使用以下两个语句：
<p class="info-box">
dataIn.clear();<br />
dataIn.seekg(0L, ios::beg);</p>
下面的程序演示了如何倒回文件的开始位置。它首先创建一个文件，写入一些文本，并关闭文件；然后打开文件进行输入，一次读取到最后，倒回文件开头，然后再次读取：
<pre class="cpp">
//Program shows how to rewind a file. It writes a text file and opens it for reading, then rewinds
// it to the beginning and reads it again.
#include &lt;iostream&gt;
#include &lt;fstream&gt;
u<a href='https://c.biancheng.net/ref/sin.html' target='_blank'>sin</a>g namespace std;

int main()
{
    // Variables needed to read or write file one character at a time char ch;
    fstream ioFile(&quot;rewind.txt&quot;, ios::out);
    // Open file.
    if (!ioFile)
    {
        cout &lt;&lt; &quot;Error in trying to create file&quot;;
        return 0;
    }
    // Write to file and close
    ioFile &lt;&lt; &quot;All good dogs&quot; &lt;&lt; endl &lt;&lt; &quot;growl, bark, and eat.&quot; &lt;&lt; endl;
    ioFile.close();
    //Open the file
    ioFile.open (&quot;rewind.txt&quot;, ios::in);
    if (!ioFile)
    {
        cout &lt;&lt; &quot;Error in trying to open file&quot;;
        return 0;
    }
    // Read the file and echo to screen
    ioFile.get(ch);
    while (!ioFile.fail())
    {
        cout.put(ch);
        ioFile.get(ch);
    }
    //Rewind the file
    ioFile.clear();
    ioFile.seekg(0, ios::beg);
    //Read file again and echo to screen
    ioFile.get(ch);
    while (!ioFile.fail())
    {
        cout.put(ch);
        ioFile.get(ch);
    }
    return 0;
}</pre>
程序输出结果：
<p class="info-box">
All good dogs<br />
growl, bark, and eat.<br />
All good dogs<br />
growl, bark, and eat.</p></div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="../linux/Vim.html" title="Vim命令_Linux Vim命令：替换文本内容" target="_blank">Vim命令_Linux Vim命令：替换文本内容</a></li>
<li><a href="vip_2121.html" title="C语言static变量和函数" target="_blank">C语言static变量和函数</a></li>
<li><a href="3472.html" title="Shell过滤器" target="_blank">Shell过滤器</a></li>
<li><a href="5509.html" title="Spring Boot Admin的介绍及使用" target="_blank">Spring Boot Admin的介绍及使用</a></li>
<li><a href="6127.html" title="PHP for循环" target="_blank">PHP for循环</a></li>
<li><a href="../sql/top.html" title="SQL TOP子句：限制返回数据的条数" target="_blank">SQL TOP子句：限制返回数据的条数</a></li>
<li><a href="6ljbux6.html" title="Vue v-pre命令的用法" target="_blank">Vue v-pre命令的用法</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 1537;
window.arcId = "199b1rT4yLrgWsa/DN81lwRIC2QOR6G/z3IWoED7JJDyJ1gAOc8N6DIk8oQ";
window.typeidChain = "120|119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>