<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 启用Chromium高速渲染模式 -->
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<!-- 禁止百度转码 -->
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止识别电话号码 -->
<meta name="format-detection" content="telephone=no" />

<link rel="shortcut icon" href="../favicon_3.ico" />
<link href="../templets/new/style/common_2.css" rel="stylesheet" />
<title>C++派生类的构造函数和析构函数（入门必读）</title>
<meta name="description" content="在 C++ 中，继承使得派生类的内部包含了基类的成员，因此派生类也必须负责基类成员的构造和析构。 派生类的构造函数 首先，构造函数是不能被继承的，派生类必须重新定义自己的构" />
</head>
<body>
<div id="topbar" class="clearfix">
	<ul id="product-type" class="left">
		<li>
			<a href="../m_biancheng_default_2.html"><span class="iconfont iconfont-home"></span>首页</a>
		</li>
		<li class="active">
			<a href="../sitemap/sitemap_2.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
		</li>
		<li>
			<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
		</li>
		<li>
			<a href="niz69i_5.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
		</li>
		<!-- <li>
			<a href="https://www.54benniao.com/c_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-c-course"></span>C语言高级课程</a>
		</li>
		<li>
			<a href="https://www.54benniao.com/java_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-java-course"></span>Java高级课程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/q2a/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-q2a"></span>一对一答疑</a>
		</li> -->
	</ul>
</div>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="../m_biancheng_default_2.html">
		<img height="26" src="../templets/new/images/logo_2.png" alt="C语言中文网" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li class="wap-yes"><a href="../m_biancheng_default_2.html">首页</a></li>
		<li><a href="../c/c_4.html">C语言教程</a></li>
		<li><a href="../cplus/cplus_2.html">C++教程</a></li>
		<li><a href="../python/python_2.html">Python教程</a></li>
		<li><a href="../java/java_2.html">Java教程</a></li>
		<li><a href="../linux_tutorial/linux_tutorial_2.html">Linux入门</a></li>
		<li><a href="../sitemap/sitemap_2.html" title="网站地图">更多&gt;&gt;</a></li>
	</ul>
	<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
	<div class="arc-info">
		<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../m_biancheng_default_2.html">首页</a> &gt; 编程笔记</span>
	</div>
	<div id="ggxc-position-bottom" class="ggxc-box"></div>
	<h1>C++派生类的构造函数和析构函数（入门必读）</h1>
	<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
	<div id="arc-body">在 C++ 中，继承使得派生类的内部包含了基类的成员，因此派生类也必须负责基类成员的构造和析构。<br />
<h2>
	派生类的构造函数</h2>
首先，构造函数是不能被继承的，派生类必须重新定义自己的构造函数。<br />
<br />
在派生类的构造函数中，至少要完成以下两件事情：
<ul>
	<li>
		构造基类子对象，此过程必须以初始化列表的方式完成；</li>
	<li>
		派生类新添加成员的初始化，可以用初始化列表的方式，也可以写在构造函数的内部，本文中采用初始化列表的方式。</li>
</ul>
<br />
定义派生类的构造函数时，应当在初始化列表中依次写上基类的构造函数和成员的初始化参数。特别是在基类和数据成员的构造函数带有参数的情况下，其参数只能由开发者指定，所以必须显式地初始化。其语法如下：<br />
<pre class="info-box">
派生类构造函数名(参数列表):基类构造函数名(参数列表), 派生类成员初始化
{
    ...... //派生类成员初始化的过程也可以写在函数内部
}</pre>
例如，基类的构造函数是：
<pre class="cpp" shownum="false">
Base(int b);</pre>
派生类新增的成员变量是：
<pre class="cpp" shownum="false">
int m_a;</pre>
那么派生类的构造函数应该定义为：
<pre class="cpp" shownum="false">
Derived(int b, int a):Base(b), m_a(a){
    //...... 也可以将 m_a=a; 写在函数内部
}</pre>
对于有默认构造函数的基类，定义派生类的构造函数时可以不显式地调用基类的构造函数。如果派生类新增成员变量的类型是内置的数据类型，或者是具有默认构造函数的类，那么编译器也会自动添加成员变量的初始化代码。<br />
<br />
在派生类构造函数的初始化列表中，编译器先调用基类的构造函数，然后是各个成员的初始化，各个成员的初始化是按照它们定义的顺序进行的。<br />
<br />
举个简单的例子：
<pre class="cpp">
#include &lt;iostream&gt;

class Base {
public:
    Base() {
        std::cout &lt;&lt; &quot;Base constructor&quot; &lt;&lt; std::endl;
    }
};

class MemberA {
public:
    MemberA() {
        std::cout &lt;&lt; &quot;MemberA constructor&quot; &lt;&lt; std::endl;
    }
};

class MemberB {
public:
    MemberB() {
        std::cout &lt;&lt; &quot;MemberB constructor&quot; &lt;&lt; std::endl;
    }
};

class Derived : public Base {
private:
    MemberA memberA;
    MemberB memberB;

public:
    // 派生类构造函数
    Derived() : memberB(), memberA() {
        std::cout &lt;&lt; &quot;Derived constructor&quot; &lt;&lt; std::endl;
    }
};

int main() {
    Derived d;
    return 0;
}</pre>
示例中有一个基类 Base 和两个成员类 MemberA 和 MemberB，然后有一个派生类 Derived，其中包含了这两个成员。在 Derived 的构造函数里，可以看到初始化列表中首先是 memberA，然后是 memberB。<br />
<br />
运行这段代码，输出结果为：
<p class="info-box">
	Base constructor<br />
	MemberA constructor<br />
	MemberB constructor<br />
	Derived constructor</p>
从结果不难看出，编译器确实是先调用基类构造函数，然后按照它们在派生类中的定义顺序去初始化各个成员。<br />
<h2>
	派生类的析构函数</h2>
和构造函数一样，析构函数也不能被继承，所以派生类也需要有自己的析构函数。<br />
<br />
与构造函数不同的是，由于析构函数没有参数，所以基类和新增数据成员的析构可以由编译器代劳，即在编译时由编译器插入相关的析构代码。<br />
<br />
派生类的析构与构造顺序刚好相反，其顺序是先调用派生类的析构函数，然后析构派生类新增的成员，最后析构基类对象。<br />
<br />
修改上面的程序，为各个类手动添加析构函数：
<pre class="cpp">
#include &lt;iostream&gt;

class Base {
public:
    Base() {
        std::cout &lt;&lt; &quot;Base constructor&quot; &lt;&lt; std::endl;
    }

    ~Base() {
        std::cout &lt;&lt; &quot;Base destructor&quot; &lt;&lt; std::endl;
    }
};

class MemberA {
public:
    MemberA() {
        std::cout &lt;&lt; &quot;MemberA constructor&quot; &lt;&lt; std::endl;
    }

    ~MemberA() {
        std::cout &lt;&lt; &quot;MemberA destructor&quot; &lt;&lt; std::endl;
    }
};

class MemberB {
public:
    MemberB() {
        std::cout &lt;&lt; &quot;MemberB constructor&quot; &lt;&lt; std::endl;
    }

    ~MemberB() {
        std::cout &lt;&lt; &quot;MemberB destructor&quot; &lt;&lt; std::endl;
    }
};

class Derived : public Base {
private:
    MemberA memberA;
    MemberB memberB;

public:
    Derived() : memberB(), memberA() {
        std::cout &lt;&lt; &quot;Derived constructor&quot; &lt;&lt; std::endl;
    }

    ~Derived() {
        std::cout &lt;&lt; &quot;Derived destructor&quot; &lt;&lt; std::endl;
    }
};

int main() {
    Derived d;
    return 0;
}</pre>
运行结果为：
<p class="info-box">
	Base constructor<br />
	MemberA constructor<br />
	MemberB constructor<br />
	Derived constructor<br />
	Derived destructor<br />
	MemberB destructor<br />
	MemberA destructor<br />
	Base destructor</p>
从输出结果不难看出，析构过程确实是按照预期的顺序进行的：先析构派生类的成员（memberB、memberA），然后析构派生类自身，最后析构基类对象。</div>
	<div id="ggxc-weixin-arcbottom">
	<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
	<p style="margin-top:12px; text-align:center;">
		<img src="../templets/new/images/material/qrcode_mp_4.png" alt="公众号二维码" width="160" /><br />
		<span class="col-green">微信扫码关注公众号</span>
	</p>
</div>
	<div id="nice-arcs" class="box-bottom">
    <h4>推荐阅读</h4>
    <ul class="clearfix">
<li><a href="niz69i_8.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_4.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_4.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="1067_2.html" title="Java Map集合详解" target="_blank">Java Map集合详解</a></li>
<li><a href="3411_2.html" title="深度优先搜索（DFS、深搜）和广度优先搜索（BFS、广搜）" target="_blank">深度优先搜索（DFS、深搜）和广度优先搜索（BFS、广搜）</a></li>
<li><a href="6995_2.html" title="Java @Deprecated注解" target="_blank">Java @Deprecated注解</a></li>
<li><a href="7562_2.html" title="Django for标签详解" target="_blank">Django for标签详解</a></li>
<li><a href="../mongodb2/find-document_2.html" title="MongoDB查询文档" target="_blank">MongoDB查询文档</a></li>
<li><a href="../css3/padding_2.html" title="CSS padding（内边距）" target="_blank">CSS padding（内边距）</a></li>
<li><a href="pq6601_2.html" title="Go语言开发环境搭建（所有平台）" target="_blank">Go语言开发环境搭建（所有平台）</a></li>
</ul>
</div>
	
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 10353;
window.arcId = "4243bce67puJBi7V7LFQD+wxnh+cmDRJjVKngiusRuC/Q9/L/+DbqZ3gUFVJ";
window.typeidChain = "120|119";
</script>
<div id="footer" class="clearfix">
	<div class="info left">
	<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
	<p>
		<a href="8066_2.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
		<a href="8092_3.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
		<a href="8097_2.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
		<a href="9648_2.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
		<a href="8093_2.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
		<a href="../sitemap/sitemap_2.html" target="_blank" rel="nofollow">网站地图</a>
	</p>
	<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan_2.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
	</p>
	</div>
	<img id="logo_bottom" class="right" src="https://m.biancheng.net/templets/new/images/logo_bottom_2.gif" alt="底部Logo" />
	<span id="return-top"><b>↑</b></span>
</div>

<div id="addweixin-widget">
	<p>
		<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://m.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
		<img src="https://m.biancheng.net/templets/new/images/material/qrcode_mp_4.png" alt="微信交流群" width="120" />
		<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
	</p>
	<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>

<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>

<script src="https://m.biancheng.net/templets/new/script/jquery1.12.4.min_2.js"></script>
<script src="https://m.biancheng.net/templets/new/script/common_2.js"></script>
<!-- 51la V6 -->
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<!-- 51la V5 -->
<!-- <span style="display: none;"><script type="text/javascript" src="https://js.users.51.la/21368967.js"></script></span> -->
</body>
</html>