<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>WSAStartup()函数以及DLL的加载</title>
<meta name="description" content="本节讲解 Windows 下 DLL 的加载，学习 Linux Socket 的读者可以跳过。 WinSock（Windows Socket）编程依赖于系统提供的动态链接库(DLL)，有两个版本： 较早的DLL是 wsock32.dll ，大小为 28KB，对应的" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>WSAStartup()函数以及DLL的加载</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body"><blockquote>
本节讲解 Windows 下 DLL 的加载，学习 Linux Socket 的读者可以跳过。</blockquote>
WinSock（Windows Socket）编程依赖于系统提供的动态链接库(DLL)，有两个版本：
<ul>
<li>
较早的DLL是 <span style="color: #b22222">wsock32.dll</span>，大小为 28KB，对应的头文件为 winsock1.h；</li>
<li>
最新的DLL是&nbsp;<span style="color: #b22222">ws2_32.dll</span>，大小为 69KB，对应的头文件为&nbsp;winsock2.h。</li>
</ul>
<br />
几乎所有的 Windows 操作系统都已经支持 ws2_32.dll，包括个人操作系统 Windows 95 OSR2、Windows 98、Windows Me、Windows 2000、XP、Vista、Win7、Win8、Win10 以及服务器操作系统 Windows NT 4.0 SP4、Windows Server 2003、Windows Server 2008 等，所以你可以毫不犹豫地使用最新的 ws2_32.dll。<br />
<br />
使用 DLL 之前必须把 DLL 加载到当前程序，你可以在编译时加载，也可以在程序运行时加载，我们已在《<a href="https://c.biancheng.net/cpp/html/2754.html" target="_blank">动态链接库DLL的加载：隐式加载(载入时加载)和显式加载(运行时加载)</a>》进行了讲解。<br />
<br />
这里使用<code>#pragma</code>命令，在编译时加载：
<pre class="info-box">
#pragma comment (lib, &quot;ws2_32.lib&quot;)</pre>
<h2>
WSAStartup() 函数</h2>
使用 DLL 之前，还需要调用&nbsp;WSAStartup() 函数进行初始化，以指明 WinSock 规范的版本，它的原型为：
<pre class="info-box">
int WSAStartup(WORD wVersionRequested, LPWSADATA lpWSAData);</pre>
wVersionRequested 为 WinSock 规范的版本号，低字节为主版本号，高字节为副版本号（修正版本号）；lpWSAData 为指向 WSAData 结构体的指针。
<h4>
关于 WinSock 规范</h4>
WinSock 规范的最新版本号为 2.2，较早的有 2.1、2.0、1.1、1.0，ws2_32.dll 支持所有的规范，而 wsock32.dll 仅支持 1.0 和 1.1。<br />
<br />
wsock32.dll 已经能够很好的支持 TCP/IP 通信程序的开发，ws2_32.dll 主要增加了对其他协议的支持，不过建议使用最新的 <span style="color: #b22222">2.2</span> 版本。<br />
<br />
wVersionRequested 参数用来指明我们希望使用的版本号，它的类型为 WORD，等价于&nbsp;unsigned short，是一个整数，所以需要用 MAKEWORD() 宏函数对版本号进行转换。例如：
<pre class="info-box">
MAKEWORD(1, 2);  //主版本号为1，副版本号为2，返回 0x0201
MAKEWORD(2, 2);  //主版本号为2，副版本号为2，返回 0x0202</pre>
<h4>
关于 WSAData 结构体</h4>
WSAStartup() 函数执行成功后，会将与 ws2_32.dll 有关的信息写入 WSAData 结构体变量。WSAData 的定义如下：
<pre class="cpp">
typedef struct WSAData {
    WORD           wVersion;  //ws2_32.dll 建议我们使用的版本号
    WORD           wHighVersion;  //ws2_32.dll 支持的最高版本号
    //一个以 null 结尾的字符串，用来说明 ws2_32.dll 的实现以及厂商信息
    char           szDescription[WSADESCRIPTION_LEN+1];
    //一个以 null 结尾的字符串，用来说明 ws2_32.dll 的状态以及配置信息
    char           szSystemStatus[WSASYS_STATUS_LEN+1];
    unsigned short iMaxSockets;  //2.0以后不再使用
    unsigned short iMaxUdpDg;  //2.0以后不再使用
    char FAR       *lpVendorInfo;  //2.0以后不再使用
} WSADATA, *LPWSADATA;</pre>
最后3个成员已弃之不用，szDescription 和&nbsp;szSystemStatus 包含的信息基本没有实用价值，读者只需关注前两个成员即可。请看下面的代码：
<pre class="cpp">
#include &lt;stdio.h&gt;
#include &lt;winsock2.h&gt;
#pragma comment (lib, &quot;ws2_32.lib&quot;)

int main(){
    WSADATA wsaData;
    WSAStartup( MAKEWORD(2, 2), &amp;wsaData);

    printf(&quot;wVersion: %d.%d\n&quot;, LOBYTE(wsaData.wVersion), HIBYTE(wsaData.wVersion));
    printf(&quot;wHighVersion: %d.%d\n&quot;, LOBYTE(wsaData.wHighVersion), HIBYTE(wsaData.wHighVersion));
    printf(&quot;szDescription: %s\n&quot;, wsaData.szDescription);
    printf(&quot;szSystemStatus: %s\n&quot;, wsaData.szSystemStatus);

    return 0;
}</pre>
运行结果：<br />
wVersion: 2.2<br />
wHighVersion: 2.2<br />
szDescription: WinSock 2.0<br />
szSystemStatus: Running<br />
<br />
ws2_32.dll 支持的最高版本为 2.2，建议使用的版本也是 2.2。<br />
<br />
<span style="color: #b22222">综上所述：WinSock 编程的第一步就是加载 ws2_32.dll，然后调用 WSAStartup() 函数进行初始化，并指明要使用的版本号。</span></div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="341.html" title="C语言递归函数" target="_blank">C语言递归函数</a></li>
<li><a href="775.html" title="Java算术运算符" target="_blank">Java算术运算符</a></li>
<li><a href="1022.html" title="Java内部类是什么？" target="_blank">Java内部类是什么？</a></li>
<li><a href="2393.html" title="Python生成器详解" target="_blank">Python生成器详解</a></li>
<li><a href="4119.html" title="Go语言多维切片简述" target="_blank">Go语言多维切片简述</a></li>
<li><a href="../thread/vip_8626.html" title="创建线程" target="_blank">创建线程</a></li>
<li><a href="ilrwrl9.html" title="pip（Python包管理工具）使用教程" target="_blank">pip（Python包管理工具）使用教程</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 2130;
window.arcId = "f8ecA+7EAIr106b7GzVqavOnExgabdutz+Pz6PO5IbTTE8sxE+foK/HXM0c";
window.typeidChain = "131|119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>