<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 启用Chromium高速渲染模式 -->
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<!-- 禁止百度转码 -->
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止识别电话号码 -->
<meta name="format-detection" content="telephone=no" />

<link rel="shortcut icon" href="../favicon_3.ico" />
<link href="../templets/new/style/common_2.css" rel="stylesheet" />
<title>TCP/IP协议族</title>
<meta name="description" content="上节《OSI网络七层模型简明教程》中讲到，目前实际使用的网络模型是 TCP/IP 模型，它对 OSI 模型进行了简化，只包含了四层，从上到下分别是：应用层、传输层、网络层、链路层（网络" />
</head>
<body>
<div id="topbar" class="clearfix">
	<ul id="product-type" class="left">
		<li>
			<a href="../m_biancheng_default_2.html"><span class="iconfont iconfont-home"></span>首页</a>
		</li>
		<li class="active">
			<a href="../sitemap/sitemap_2.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
		</li>
		<li>
			<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
		</li>
		<li>
			<a href="niz69i_5.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
		</li>
		<!-- <li>
			<a href="https://www.54benniao.com/c_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-c-course"></span>C语言高级课程</a>
		</li>
		<li>
			<a href="https://www.54benniao.com/java_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-java-course"></span>Java高级课程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/q2a/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-q2a"></span>一对一答疑</a>
		</li> -->
	</ul>
</div>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="../m_biancheng_default_2.html">
		<img height="26" src="../templets/new/images/logo_2.png" alt="C语言中文网" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li class="wap-yes"><a href="../m_biancheng_default_2.html">首页</a></li>
		<li><a href="../c/c_4.html">C语言教程</a></li>
		<li><a href="../cplus/cplus_2.html">C++教程</a></li>
		<li><a href="../python/python_2.html">Python教程</a></li>
		<li><a href="../java/java_2.html">Java教程</a></li>
		<li><a href="../linux_tutorial/linux_tutorial_2.html">Linux入门</a></li>
		<li><a href="../sitemap/sitemap_2.html" title="网站地图">更多&gt;&gt;</a></li>
	</ul>
	<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="iconfont"></span></span>

	<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main" class="clearfix">
	<div id="sidebar" class="toggle-target">
	<div id="contents">
		<dt><span class="iconfont iconfont-list-vertical" aria-hidden="true"></span><a href="../socket/socket_2.html">socket</a></dt>
		<dd>
        	<span class="channel-num">1</span>
        	<a href="2123_2.html">socket是什么</a>
        </dd>
<dd>
        	<span class="channel-num">2</span>
        	<a href="2124_2.html">套接字有哪些类型</a>
        </dd>
<dd>
        	<span class="channel-num">3</span>
        	<a href="vip_5864_2.html">面向连接和无连接的套接字到底有什么区别？</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">4</span>
        	<a href="2126_2.html">OSI网络七层模型</a>
        </dd>
<dd>
        	<span class="channel-num">5</span>
        	<a href="2133_2.html">TCP/IP协议族</a>
        </dd>
<dd>
        	<span class="channel-num">6</span>
        	<a href="2132_2.html">IP、MAC和端口号</a>
        </dd>
<dd>
        	<span class="channel-num">7</span>
        	<a href="2128_2.html">Linux下的socket演示程序</a>
        </dd>
<dd>
        	<span class="channel-num">8</span>
        	<a href="2129_2.html">Windows下的socket演示程序</a>
        </dd>
<dd>
        	<span class="channel-num">9</span>
        	<a href="vip_5865_2.html">使用WSAStartup()函数加载DLL</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">10</span>
        	<a href="2131_2.html">使用socket()函数创建套接字</a>
        </dd>
<dd>
        	<span class="channel-num">11</span>
        	<a href="2344_2.html">bind()和connect()函数</a>
        </dd>
<dd>
        	<span class="channel-num">12</span>
        	<a href="2345_2.html">listen()和accept()函数</a>
        </dd>
<dd>
        	<span class="channel-num">13</span>
        	<a href="2346_2.html">send()/recv()和write()/read()函数</a>
        </dd>
<dd>
        	<span class="channel-num">14</span>
        	<a href="vip_5866_2.html">socket编程实现回声客户端</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">15</span>
        	<a href="vip_5867_2.html">如何让服务器端持续不断地监听客户端的请求？</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">16</span>
        	<a href="2349_2.html">socket缓冲区以及阻塞模式</a>
        </dd>
<dd>
        	<span class="channel-num">17</span>
        	<a href="2350_2.html">TCP粘包问题（数据的无边界性）</a>
        </dd>
<dd>
        	<span class="channel-num">18</span>
        	<a href="2351_2.html">TCP数据报结构以及三次握手(图解)</a>
        </dd>
<dd>
        	<span class="channel-num">19</span>
        	<a href="2352_2.html">TCP数据的传输过程</a>
        </dd>
<dd>
        	<span class="channel-num">20</span>
        	<a href="2353_2.html">TCP四次握手断开连接（图解）</a>
        </dd>
<dd>
        	<span class="channel-num">21</span>
        	<a href="vip_5868_2.html">如何优雅地断开TCP连接？</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">22</span>
        	<a href="vip_5869_2.html">socket编程实现文件传输功能</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">23</span>
        	<a href="vip_5871_2.html">网络数据传输时的大小端问题</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">24</span>
        	<a href="vip_5870_2.html">在socket编程中使用域名</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">25</span>
        	<a href="2358_2.html">再谈UDP和TCP</a>
        </dd>
<dd>
        	<span class="channel-num">26</span>
        	<a href="2359_2.html">基于UDP的服务器端和客户端</a>
        </dd>

	</div>
</div>
	<div id="article-wrap">
		<div id="article">
			<div class="arc-info">
	<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../m_biancheng_default_2.html">首页</a> &gt; <a href="../socket/socket_2.html">socket</a></span>
</div>

<div id="ggxc-position-bottom" class="ggxc-box"></div>
			<h1>TCP/IP协议族</h1>
			<div class="pre-next-page clearfix">&nbsp;</div>
			<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
			<div id="arc-body">上节《<a href="2126_2.html" target="_blank">OSI网络七层模型简明教程</a>》中讲到，目前实际使用的网络模型是 TCP/IP 模型，它对 OSI 模型进行了简化，只包含了四层，从上到下分别是应用层、传输层、网络层和链路层（网络接口层），每一层都包含了若干协议。<br />
<br />
协议（Protocol）就是网络通信过程中的约定或者合同，通信的双方必须都遵守才能正常收发数据。协议有很多种，例如 TCP、UDP、IP 等，通信的双方必须使用同一协议才能通信。协议是一种规范，由计算机组织制定，规定了很多细节，例如，如何建立连接，如何相互识别等。
<blockquote>
	协议仅仅是一种规范，必须由计算机软件来实现。例如 IP 协议规定了如何找到目标计算机，那么各个开发商在开发自己的软件时就必须遵守该协议，不能另起炉灶。</blockquote>
TCP/IP 模型包含了 TCP、IP、UDP、Telnet、FTP、SMTP 等上百个互为关联的协议，其中 TCP 和 IP 是最常用的两种底层协议，所以把它们统称为&ldquo;TCP/IP 协议族&rdquo;。<br />
<br />
也就是说，&ldquo;TCP/IP模型&rdquo;中所涉及到的协议称为&ldquo;TCP/IP协议族&rdquo;，你可以区分这两个概念，也可以认为它们是等价的，随便你怎么想。<br />
<br />
本教程所讲的 <a href='../socket/socket_2.html' target='_blank'>socket</a> 编程是基于 TCP 和 UDP 协议的，它们的层级关系如下图所示：<br />
<br />
<div style="text-align: center;">
	<img alt="TCP/IP协议的层次图" src="../uploads/allimg/190126/1-1Z126104435N0_2.gif" /></div>
<h2>
	【扩展阅读】开放式系统（Open System）</h2>
把协议分成多个层次有哪些优点？协议设计更容易？当然这也足以成为优点之一。但是还有更重要的原因，就是为了通过标准化操作设计成开放式系统。<br />
<br />
标准本身就是对外公开的，会引导更多的人遵守规范。以多个标准为依据设计的系统称为开放式系统（Open System），我们现在学习的 TCP/IP 协议族也属于其中之一。<br />
<br />
接下来了解一下开放式系统具有哪些优点。<br />
<br />
路由器用来完成 IP 层的交互任务。某个网络原来使用 A 公司的路由器，现要将其替换成 B 公司的，是否可行？这并非难事，并不一定要换成同一公司的同一型号路由器，因为所有生产商都会按照 IP 层标准制造。<br />
<br />
再举个例子。大家的计算机是否装有网络接口卡，也就是所谓的网卡？尚未安装也无妨，其实很容易买到，因为所有网卡制造商都会遵守链路层的协议标准。这就是开放式系统的优点。<br />
<br />
标准的存在意味着高速的技术发展，这也是开放式系统设计最大的原因所在。实际上，软件工程中的&ldquo;面向对象（Object Oriented）&rdquo;的诞生背景中也有标准化的影子。也就是说，标准对于技术发展起着举足轻重的作用。<br />
</div>
			<div id="ggxc-weixin-arcbottom">
	<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
	<p style="margin-top:12px; text-align:center;">
		<img src="../templets/new/images/material/qrcode_mp_4.png" alt="公众号二维码" width="160" /><br />
		<span class="col-green">微信扫码关注公众号</span>
	</p>
</div>
			<div class="pre-next-page clearfix">&nbsp;</div>
			<div id="nice-arcs" class="box-bottom">
    <h4>推荐阅读</h4>
    <ul class="clearfix">
<li><a href="niz69i_8.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_4.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_4.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="../mysql/atan_2.html" title="MySQL ATAN函数：求反正切值" target="_blank">MySQL ATAN函数：求反正切值</a></li>
<li><a href="vip_5905_2.html" title="C语言贪吃蛇小游戏源码下载和思路解析" target="_blank">C语言贪吃蛇小游戏源码下载和思路解析</a></li>
<li><a href="9482_2.html" title="大学是最好的学习时间，错过了悔恨终生" target="_blank">大学是最好的学习时间，错过了悔恨终生</a></li>
<li><a href="../c/realloc_2.html" title="C语言realloc()：重新分配堆内存" target="_blank">C语言realloc()：重新分配堆内存</a></li>
<li><a href="i0j5y7o_2.html" title="Linux cd命令：切换目录" target="_blank">Linux cd命令：切换目录</a></li>
<li><a href="30jyoga_2.html" title="CSS交集选择器的用法" target="_blank">CSS交集选择器的用法</a></li>
<li><a href="mbjdhi6_2.html" title="《编程珠玑(第2版)》PDF下载（高清完整版）" target="_blank">《编程珠玑(第2版)》PDF下载（高清完整版）</a></li>
</ul>
</div>
		</div>
		
	</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 2133;
window.arcId = "3a5eHC0T4Lkw5t6zjDZNiUdNzBY4jqhVMPf9Ft5kVzeybNKPx5GbcVZvjeM";
window.typeidChain = "153";
</script>
<div id="footer" class="clearfix">
	<div class="info left">
	<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
	<p>
		<a href="8066_2.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
		<a href="8092_3.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
		<a href="8097_2.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
		<a href="9648_2.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
		<a href="8093_2.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
		<a href="../sitemap/sitemap_2.html" target="_blank" rel="nofollow">网站地图</a>
	</p>
	<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan_2.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
	</p>
	</div>
	<img id="logo_bottom" class="right" src="https://m.biancheng.net/templets/new/images/logo_bottom_2.gif" alt="底部Logo" />
	<span id="return-top"><b>↑</b></span>
</div>

<div id="addweixin-widget">
	<p>
		<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://m.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
		<img src="https://m.biancheng.net/templets/new/images/material/qrcode_mp_4.png" alt="微信交流群" width="120" />
		<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
	</p>
	<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>

<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";
window.prePageURL = "/view/2126.html";
window.nextPageURL = "/view/2132.html";
</script>

<script src="https://m.biancheng.net/templets/new/script/jquery1.12.4.min_2.js"></script>
<script src="https://m.biancheng.net/templets/new/script/common_2.js"></script>
<!-- 51la V6 -->
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<!-- 51la V5 -->
<!-- <span style="display: none;"><script type="text/javascript" src="https://js.users.51.la/21368967.js"></script></span> -->
</body>
</html>