<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>Python字典及基本操作（超级详细）</title>
<meta name="description" content="字典也是 Python 提供的一种常用的数据结构，它用于存放具有映射关系的数据。 比如有份成绩表数据，语文：79，数学：80，英语：92，这组数据看上去像两个列表，但这两个列表的元素" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>Python字典及基本操作（超级详细）</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">字典也是 <a href='../python/python.html' target='_blank'>Python</a> 提供的一种常用的<a href='../data_structure/data_structure.html' target='_blank'>数据结构</a>，它用于存放具有映射关系的数据。<br />
<br />
比如有份成绩表数据，语文：79，数学：80，英语：92，这组数据看上去像两个列表，但这两个列表的元素之间有一定的关联关系。如果单纯使用两个列表来保存这组数据，则无法记录两组数据之间的关联关系。<br />
<br />
为了保存具有映射关系的数据，Python 提供了字典，字典相当于保存了两组数据，其中一组数据是关键数据，被称为 key；另一组数据可通过 key 来访问，被称为 value。形象地看，字典中 key 和 value 的关联关系如图 1 所示：
<div style="text-align: center;">
<br />
<img alt="" src="../uploads/allimg/190212/2-1Z212152450U3.gif" /><br />
图 1 字典保存的关联数据</div>
<br />
<span style="color:#b22222;">由于字典中的 key 是非常关键的数据，而且程序需要通过 key 来访问 value，因此字典中的 key 不允许重复。</span><br />
<br />
程序既可使用花括号语法来创建字典，也可使用 dict() 函数来创建字典。实际上，dict 是一种类型，它就是 Python 中的字典类型。<br />
<br />
在使用花括号语法创建字典时，花括号中应包含多个 key-value 对，key 与 value 之间用英文冒号隔开；多个 key-value 对之间用英文逗号隔开。<br />
<br />
如下代码示范了使用花括号语法创建字典：
<pre class="python">
scores = {&#39;语文&#39;: 89, &#39;数学&#39;: 92, &#39;英语&#39;: 93}
print(scores)
# 空的花括号代表空的dict
empty_dict = {}
print(empty_dict)
# 使用元组作为dict的key
dict2 = {(20, 30):&#39;good&#39;, 30:&#39;bad&#39;}
print(dict2)</pre>
上面程序中第 1 行代码创建了一个简单的 dict，该 dict 的 key 是字符串，value 是整数；第 4 行代码使用花括号创建了一个空的字典；第 7 行代码创建的字典中第一个 key 是元组，第二个 key 是整数值，这都是合法的。<br />
<p class="info-box">
需要指出的是，元组可以作为 dict 的 key，但列表不能作为元组的 key。这是由于 dict 要求 key 必须是不可变类型，但列表是可变类型，因此列表不能作为元组的 key。</p>
在使用 dict() 函数创建字典时，可以传入多个列表或元组参数作为 key-value 对，每个列表或元组将被当成一个 key-value 对，因此这些列表或元组都只能包含两个元素。例如如下代码：<br />
<pre class="python">
vegetables = [(&#39;celery&#39;, 1.58), (&#39;brocoli&#39;, 1.29), (&#39;lettuce&#39;, 2.19)]
# 创建包含3组key-value对的字典
dict3 = dict(vegetables)
print(dict3) # {&#39;celery&#39;: 1.58, &#39;brocoli&#39;: 1.29, &#39;lettuce&#39;: 2.19}
cars = [[&#39;BMW&#39;, 8.5], [&#39;BENS&#39;, 8.3], [&#39;AUDI&#39;, 7.9]]
# 创建包含3组key-value对的字典
dict4 = dict(cars)
print(dict4) # {&#39;BMW&#39;: 8.5, &#39;BENS&#39;: 8.3, &#39;AUDI&#39;: 7.9}</pre>
如果不为 dict() 函数传入任何参数，则代表创建一个空的字典。例如如下代码：
<pre class="python">
# 创建空的字典
dict5 = dict()
print(dict5) # {}</pre>
还可通过为 dict 指定关键字参数创建字典，此时字典的 key 不允许使用表达式。例如如下代码：
<pre class="python">
# 使用关键字参数来创建字典
dict6 = dict(spinach = 1.39, cabbage = 2.59)
print(dict6) # {&#39;spinach&#39;: 1.39, &#39;cabbage&#39;: 2.59}</pre>
上面粗体字代码在创建字典时，其 key 直接写 spinach、cabbage，不需要将它们放在引号中。<br />
<h2>
字典的基本用法</h2>
对于初学者而言，应牢记字典包含多个 key-value 对，而 key 是字典的关键数据，因此程序对字典的操作都是基于 key 的。基本操作如下：
<ul>
<li>
通过 key 访问 value 。</li>
<li>
通过 key 添加 key-value 对。</li>
<li>
通过 key 删除 key-value 对。</li>
<li>
通过 key 修改 key-value 对。</li>
<li>
通过 key 判断指定 key-value 对是否存在。</li>
<li>
通过 key 访问 value 使用的也是方括号语法，就像前面介绍的列表和元组一样，只是此时在方括号中放的是 key，而不是列表或元组中的索引。</li>
</ul>
<br />
如下代码示范了通过 key 访问 value：<br />
<pre class="python">
scores = {&#39;语文&#39;: 89}
# 通过key访问value
print(scores[&#39;语文&#39;])</pre>
如果要为 dict 添加 key-value 对，只需为不存在的 key 赋值即可：
<pre class="python">
# 对不存在的key赋值，就是增加key-value对
scores[&#39;数学&#39;] = 93
scores[92] = 5.7
print(scores) # {&#39;语文&#39;: 89, &#39;数学&#39;: 93, 92: 5.7}</pre>
如果要删除宇典中的 key-value 对，则可使用 del 语句。例如如下代码：
<pre class="python">
# 使用del语句删除key-value对
del scores[&#39;语文&#39;]
del scores[&#39;数学&#39;]
print(scores) # {92: 5.7}</pre>
如果对 dict 中存在的 key-value 对赋值，新赋的 value 就会覆盖原有的 value，这样即可改变 dict 中的 key-value 对。例如如下代码：
<pre class="python">
cars = {&#39;BMW&#39;: 8.5, &#39;BENS&#39;: 8.3, &#39;AUDI&#39;: 7.9}
# 对存在的key-value对赋值，改变key-value对
cars[&#39;BENS&#39;] = 4.3
cars[&#39;AUDI&#39;] = 3.8
print(cars) # {&#39;BMW&#39;: 8.5, &#39;BENS&#39;: 4.3, &#39;AUDI&#39;: 3.8}</pre>
如果要判断字典是否包含指定的 key，则可以使用 in 或 not in 运算符。需要指出的是，对于 dict 而言，in 或 not in 运算符都是基于 key 来判断的。例如如下代码：
<pre class="python">
# 判断cars是否包含名为&#39;AUDI&#39;的key
print(&#39;AUDI&#39; in cars) # True
# 判断cars是否包含名为&#39;PORSCHE&#39;的key
print(&#39;PORSCHE&#39; in cars) # False
print(&#39;LAMBORGHINI&#39; not in cars) # True</pre>
通过上面介绍可以看出，字典的 key 是它的关键。换个角度来看，字典的 key 就相当于它的索引，只不过这些索引不一定是整数类型，字典的 key 可以是任意不可变类型。<br />
<br />
可以这样说，字典相当于索引是任意不可变类型的列表：而列表则相当于 key 只能是整数的字典。因此，如果程序中要使用的字典的 key 都是整数类型，则可考虑能否换成列表。<br />
<br />
此外，还有一点需要指出，列表的索引总是从 0 开始、连续增大的；但字典的索引即使是整数类型，也不需要从 0 开始，而且不需要连续。因此，列表不允许对不存在的索引赋值：但字典则允许直接对不存在的 key 赋值，这样就会为字典增加一个 key-value 对。<br />
<p class="info-box">
列表不允许对不存在的索引赋值，但字典则允许直接对不存在的 key 赋值。</p>
<h2>
字典的常用方法</h2>
字典由 dict 类代表，因此我们同样可使用 dir(dict) 来查看该类包含哪些方法。在交互式解释器中输入 dir(dict) 命令，将看到如下输出结果：
<p class="info-box">
&gt;&gt;&gt; dir(dict)<br />
[&#39;clear&#39;, &#39;copy&#39;, &#39;fromkeys&#39;, &#39;get&#39;, &#39;items&#39;, &#39;keys&#39;, &#39;pop&#39;, &#39;popitem&#39;, &#39;setdefault&#39;, &#39;update&#39;, &#39;values&#39;]<br />
&gt;&gt;&gt;</p>
下面介绍 dict 的一些方法。
<h4>
clear()方法</h4>
clear() 用于清空字典中所有的 key-value 对，对一个字典执行 clear() 方法之后，该字典就会变成一个空字典。例如如下代码：<br />
<pre class="python">
cars = {&#39;BMW&#39;: 8.5, &#39;BENS&#39;: 8.3, &#39;AUDI&#39;: 7.9}
print(cars) # {&#39;BMW&#39;: 8.5, &#39;BENS&#39;: 8.3, &#39;AUDI&#39;: 7.9}
# 清空cars所有key-value对
cars.clear()
print(cars) # {}</pre>
<h4>
get()方法</h4>
get() 方法其实就是根据 key 来获取 value，它相当于方括号语法的增强版，当使用方括号语法访问并不存在的 key 时，字典会引发 KeyError 错误；但如果使用 get() 方法访问不存在的 key，该方法会简单地返回 None，不会导致错误。例如如下代码：
<pre class="python">
cars = {&#39;BMW&#39;: 8.5, &#39;BENS&#39;: 8.3, &#39;AUDI&#39;: 7.9}
# 获取&#39;BMW&#39;对应的value
print(cars.get(&#39;BMW&#39;)) # 8.5
print(cars.get(&#39;PORSCHE&#39;)) # None
print(cars[&#39;PORSCHE&#39;]) # KeyError</pre>
<h4>
update()方法</h4>
update() 方法可使用一个字典所包含的 key-value 对来更新己有的字典。在执行 update() 方法时，如果被更新的字典中己包含对应的 key-value 对，那么原 value 会被覆盖；如果被更新的字典中不包含对应的 key-value 对，则该 key-value 对被添加进去。例如如下代码：
<pre class="python">
cars = {&#39;BMW&#39;: 8.5, &#39;BENS&#39;: 8.3, &#39;AUDI&#39;: 7.9}
cars.update({&#39;BMW&#39;:4.5, &#39;PORSCHE&#39;: 9.3})
print(cars)</pre>
从上面的执行过程可以看出，由于被更新的 dict 中己包含 key 为&ldquo;AUDI&rdquo;的 key-value 对，因此更新时该 key-value 对的 value 将被改写；但如果被更新的 dict 中不包含 key 为&ldquo;PORSCHE&rdquo;的 key-value 对，那么更新时就会为原字典增加一个 key-value 对。
<h4>
items()、keys()、values()</h4>
items()、keys()、values() 分别用于获取字典中的所有 key-value 对、所有 key、所有 value。这三个方法依次返回 dict_items、dict_keys 和 dict_values 对象，Python 不希望用户直接操作这几个方法，但可通过 list() 函数把它们转换成列表。如下代码示范了这三个方法的用法：
<pre class="python">
cars = {&#39;BMW&#39;: 8.5, &#39;BENS&#39;: 8.3, &#39;AUDI&#39;: 7.9}
# 获取字典所有的key-value对，返回一个dict_items对象
ims = cars.items()
print(type(ims)) # &lt;class &#39;dict_items&#39;&gt;
# 将dict_items转换成列表
print(list(ims)) # [(&#39;BMW&#39;, 8.5), (&#39;BENS&#39;, 8.3), (&#39;AUDI&#39;, 7.9)]
# 访问第2个key-value对
print(list(ims)[1]) # (&#39;BENS&#39;, 8.3)
# 获取字典所有的key，返回一个dict_keys对象
kys = cars.keys()
print(type(kys)) # &lt;class &#39;dict_keys&#39;&gt;
# 将dict_keys转换成列表
print(list(kys)) # [&#39;BMW&#39;, &#39;BENS&#39;, &#39;AUDI&#39;]
# 访问第2个key
print(list(kys)[1]) # &#39;BENS&#39;
# 获取字典所有的value，返回一个dict_values对象
vals = cars.values()
# 将dict_values转换成列表
print(type(vals)) # [8.5, 8.3, 7.9]
# 访问第2个value
print(list(vals)[1]) # 8.3</pre>
从上面代码可以看出，程序调用字典的 items()、keys()、values() 方法之后，都需要调用 list() 函数将它们转换为列表，这样即可把这三个方法的返回值转换为列表。<br />
<p class="info-box">
在 Python 2.x 中，items()、keys()、values() 方法的返回值本来就是列表，完全可以不用 list() 函数进行处理。当然，使用 list() 函数处理也行，列表被处理之后依然是列表。</p>
<h4>
pop方法</h4>
pop() 方法用于获取指定 key 对应的 value，并删除这个 key-value 对。如下方法示范了 pop() 方法的用法：<br />
<pre class="python">
cars = {&#39;BMW&#39;: 8.5, &#39;BENS&#39;: 8.3, &#39;AUDI&#39;: 7.9}
print(cars.pop(&#39;AUDI&#39;)) # 7.9
print(cars) # {&#39;BMW&#39;: 8.5, &#39;BENS&#39;: 8.3}</pre>
此程序中，第 2 行代码将会获取&ldquo;AUDI&rdquo;对应的 value，并删除该 key-value 对。
<h4>
popitem()方法</h4>
popitem() 方法用于随机弹出字典中的一个 key-value 对。<br />
<p class="info-box">
此处的随机其实是假的，正如列表的 pop() 方法总是弹出列表中最后一个元素，实际上字典的 popitem() 其实也是弹出字典中最后一个 key-value 对。由于字典存储 key-value 对的顺序是不可知的，因此开发者感觉字典的 popitem() 方法是&ldquo;随机&rdquo;弹出的，但实际上字典的 popitem() 方法总是弹出底层存储的最后一个 key-value 对。</p>
如下代码示范了 popitem() 方法的用法：
<pre class="python">
cars = {&#39;AUDI&#39;: 7.9, &#39;BENS&#39;: 8.3, &#39;BMW&#39;: 8.5}
print(cars)
# 弹出字典底层存储的最后一个key-value对
print(cars.popitem()) # (&#39;AUDI&#39;, 7.9)
print(cars) # {&#39;BMW&#39;: 8.5, &#39;BENS&#39;: 8.3}</pre>
由于实际上 popitem 弹出的就是一个元组，因此程序完全可以通过序列解包的方式用两个变量分别接收 key 和 value。例如如下代码：
<pre class="python">
# 将弹出项的key赋值给k、value赋值给v
k, v = cars.popitem()
print(k, v) # BENS 8.3</pre>
<h4>
setdefault()方法</h4>
setdefault() 方法也用于根据 key 来获取对应 value 的值。但该方法有一个额外的功能，即当程序要获取的 key 在字典中不存在时，该方法会先为这个不存在的 key 设置一个默认的 value，然后再返回该 key 对应的 value。<br />
<br />
总之，setdefault() 方法总能返回指定 key 对应的 value；如果该 key-value 对存在，则直接返回该 key 对应的 value；如果该 key-value 对不存在，则先为该 key 设置默认的 value，然后再返回该 key 对应的 value。<br />
<br />
如下代码示范了 setdefault() 方法的用法：
<pre class="python">
cars = {&#39;BMW&#39;: 8.5, &#39;BENS&#39;: 8.3, &#39;AUDI&#39;: 7.9}
# 设置默认值，该key在dict中不存在，新增key-value对
print(cars.setdefault(&#39;PORSCHE&#39;, 9.2)) # 9.2
print(cars)
# 设置默认值，该key在dict中存在，不会修改dict内容
print(cars.setdefault(&#39;BMW&#39;, 3.4)) # 8.5
print(cars)</pre>
<h4>
fromkeys()方法</h4>
fromkeys() 方法使用给定的多个 key 创建字典，这些 key 对应的 value 默认都是 None；也可以额外传入一个参数作为默认的 value。该方法一般不会使用字典对象调用（没什么意义），通常会使用 dict 类直接调用。例如如下代码：
<pre class="python">
# 使用列表创建包含2个key的字典
a_dict = dict.fromkeys([&#39;a&#39;, &#39;b&#39;])
print(a_dict) # {&#39;a&#39;: None, &#39;b&#39;: None}
# 使用元组创建包含2个key的字典
b_dict = dict.fromkeys((13, 17))
print(b_dict) # {13: None, 17: None}
# 使用元组创建包含2个key的字典，指定默认的value
c_dict = dict.fromkeys((13, 17), &#39;good&#39;)
print(c_dict) # {13: &#39;good&#39;, 17: &#39;good&#39;}</pre>
<h2>
使用字典格式化字符串</h2>
前面章节介绍过，在格式化字符串时，如果要格式化的字符串模板中包含多个变量，后面就需要按顺序给出多个变量，这种方式对于字符串模板中包含少量变量的情形是合适的，但如果字符串模板中包含大量变量，这种按顺序提供变量的方式则有些不合适。可改为在字符串模板中按 key 指定变量，然后通过字典为字符串模板中的 key 设置值。<br />
<br />
例如如下程序：
<pre class="python">
# 字符串模板中使用key
temp = &#39;教程是:%(name)s, 价格是:%(price)010.2f, 出版社是:%(publish)s&#39;
book = {&#39;name&#39;:&#39;Python基础教程&#39;, &#39;price&#39;: 99, &#39;publish&#39;: &#39;C语言中文网&#39;}
# 使用字典为字符串模板中的key传入值
print(temp % book)
book = {&#39;name&#39;:&#39;C语言小白变怪兽&#39;, &#39;price&#39;:159, &#39;publish&#39;: &#39;C语言中文网&#39;}
# 使用字典为字符串模板中的key传入值
print(temp % book)</pre>
运行上面程序，可以看到如下输出结果：
<p class="info-box">
教程是:Python基础教程, 价格是:0000099.00, 出版社是:C语言中文网<br />
教程是:C语言小白变怪兽, 价格是:0000159.00, 出版社是:C语言中文网</p>
</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="3866.html" title="解密Qt安装目录的结构" target="_blank">解密Qt安装目录的结构</a></li>
<li><a href="5124.html" title="Go语言正则表达式：regexp包" target="_blank">Go语言正则表达式：regexp包</a></li>
<li><a href="../redis2/persist.html" title="Redis PERSIST命令" target="_blank">Redis PERSIST命令</a></li>
<li><a href="../sql/create-table.html" title="SQL CREATE TABLE：创建表" target="_blank">SQL CREATE TABLE：创建表</a></li>
<li><a href="vip_9665.html" title="Qt打包程序详解（适用于Windows平台）" target="_blank">Qt打包程序详解（适用于Windows平台）</a></li>
<li><a href="wi6m50.html" title="什么是网络爬虫" target="_blank">什么是网络爬虫</a></li>
<li><a href="gqqqy3.html" title="Python标识符命名规范（新版）" target="_blank">Python标识符命名规范（新版）</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 2212;
window.arcId = "ae44C5A9TxjpHcTEfH/r8zBlntxiTiLGVyeWDaFa1ejarTE3Oaza2TIkC/w";
window.typeidChain = "145|119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>