<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>fgets函数及其用法，C语言fgets函数详解</title>
<meta name="description" content="虽然用 gets() 时有空格也可以直接输入，但是 gets() 有一个非常大的缺陷，即它不检查预留存储区是否能够容纳实际输入的数据，换句话说，如果输入的字符数目大于数组的长度，gets 无" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>fgets函数及其用法，C语言fgets函数详解</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">虽然用 gets() 时有空格也可以直接输入，但是 gets() 有一个非常大的缺陷，即它不检查预留存储区是否能够容纳实际输入的数据，换句话说，如果输入的字符数目大于数组的长度，gets 无法检测到这个问题，就会发生内存越界，所以编程时建议使用 fgets()。<br />
<br />
fgets() 的原型为：
<p class="info-box">
# include &lt;stdio.h&gt;<br />
char *fgets(char *s, int size, FILE *stream);</p>
fgets() 虽然比 gets() 安全，但安全是要付出代价的，代价就是它的使用比 gets() 要麻烦一点，有三个参数。它的功能是从 stream 流中读取 size 个字符存储到字符指针变量 s 所指向的内存空间。它的返回值是一个指针，指向字符串中第一个字符的地址。<br />
<br />
其中：s 代表要保存到的内存空间的首地址，可以是字符数组名，也可以是指向字符数组的字符指针变量名。size 代表的是读取字符串的长度。stream 表示从何种流中读取，可以是标准输入流 stdin，也可以是文件流，即从某个文件中读取，这个在后面讲文件的时候再详细介绍。标准输入流就是前面讲的输入缓冲区。所以如果是从键盘读取数据的话就是从输入缓冲区中读取数据，即从标准输入流 stdin 中读取数据，所以第三个参数为 stdin。<br />
<br />
下面写一个程序：
<pre class="cpp">
# include &lt;stdio.h&gt;
int main(void)
{
    char str[20];  /*定义一个最大长度为19, 末尾是&#39;\0&#39;的字符数组来存储字符串*/
    printf(&quot;请输入一个字符串:&quot;);
    fgets(str, 7, stdin);  /*从输入流stdin即输入缓冲区中读取7个字符到字符数组str中*/
    printf(&quot;%s\n&quot;, str);
    return 0;
}</pre>
输出结果是：<br />
请输入一个字符串:i love you<br />
i love<br />
<br />
我们发现输入的是&ldquo;i love you&rdquo;，而输出只有&ldquo;i love&rdquo;。原因是 fgets() 只指定了读取 7 个字符放到字符数组 str 中。&ldquo;i love&rdquo;加上中间的空格和最后的 &#39;\0&#39; 正好是 7 个字符。<br />
<br />
那有人会问：&ldquo;用 fgets() 是不是每次都要去数有多少个字符呢？这样不是很麻烦吗？&rdquo;不用数！fget() 函数中的 size 如果小于字符串的长度，那么字符串将会被截取；如果 size 大于字符串的长度则多余的部分系统会自动用 &#39;\0&#39; 填充。所以假如你定义的字符数组长度为 n，那么 fgets() 中的 size 就指定为 n&ndash;1，留一个给 &#39;\0&#39; 就行了。<br />
<br />
但是需要注意的是，如果输入的字符串长度没有超过 n&ndash;1，那么系统会将最后输入的换行符 &#39;\n&#39; 保存进来，保存的位置是紧跟输入的字符，然后剩余的空间都用 &#39;\0&#39; 填充。所以此时输出该字符串时 printf 中就不需要加换行符 &#39;\n&#39; 了，因为字符串中已经有了。<br />
<br />
下面写一个程序看一下：
<pre class="cpp">
# include &lt;stdio.h&gt;
int main(void)
{
    char str[30];
    char *string = str;  //一定要先给指针变量初始化
    printf(&quot;请输入字符串：&quot;);
    fgets(string, 29, stdin);  //size指定为比字符数组元素少一就行了
    printf(&quot;%s&quot;, string);  //printf中不需要添加&#39;\n&#39;, 因为字符串中已经有了
    return 0;
}</pre>
输出结果是：<br />
请输入字符串：i love studying C语言<br />
i love studying C语言<br />
<br />
我们看到，printf 中没有添加换行符 &#39;\n&#39;，输出时也自动换行了。<br />
<br />
所以 fgets() 和 gets() 一样，最后的回车都会从缓冲区中取出来。只不过 gets() 是取出来丢掉，而 fgets() 是取出来自己留着。但总之缓冲区中是没有回车了！所以与 gets() 一样，在使用 fgets() 的时候，如果后面要从键盘给字符变量赋值，那么同样不需要清空缓冲区。下面写一个程序验证一下。
<pre class="cpp">
# include &lt;stdio.h&gt;
int main(void)
{
    char str[30];
    char ch;
    printf(&quot;请输入字符串：&quot;);
    fgets(str, 29, stdin);
    printf(&quot;%s&quot;, str);  //后面不要加&#39;\n&#39;
    scanf(&quot;%c&quot;, &amp;ch);
    printf(&quot;ch = %c\n&quot;, ch);
    return 0;
}</pre>
输出结果是：<br />
请输入字符串：i love you<br />
i love you<br />
Y<br />
ch = Y<br />
</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="347.html" title="宏和函数的区别，C语言宏和函数区别详解" target="_blank">宏和函数的区别，C语言宏和函数区别详解</a></li>
<li><a href="3005.html" title="什么是Vim，Vim及其安装" target="_blank">什么是Vim，Vim及其安装</a></li>
<li><a href="4004.html" title="Linux less命令：查看文件内容" target="_blank">Linux less命令：查看文件内容</a></li>
<li><a href="7395.html" title="MySQL LIKE：模糊查询" target="_blank">MySQL LIKE：模糊查询</a></li>
<li><a href="8123.html" title="GDB是什么？" target="_blank">GDB是什么？</a></li>
<li><a href="../nexus/deployment.html" title="部署构件到Nexus" target="_blank">部署构件到Nexus</a></li>
<li><a href="6twx5yy.html" title="C++类的构造函数（入门必读）" target="_blank">C++类的构造函数（入门必读）</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 235;
window.arcId = "14daAvgukWZ418S4fmdukp0MOW/eLZc5M8IU+/XXDtt2zUQr6Pl3uaiLlw";
window.typeidChain = "131|119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>