<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 启用Chromium高速渲染模式 -->
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<!-- 禁止百度转码 -->
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止识别电话号码 -->
<meta name="format-detection" content="telephone=no" />

<link rel="shortcut icon" href="../favicon_3.ico" />
<link href="../templets/new/style/common_2.css" rel="stylesheet" />
<title>图解TCP四次握手断开连接</title>
<meta name="description" content="建立连接非常重要，它是数据正确传输的前提；断开连接同样重要，它让计算机释放不再使用的资源。如果连接不能正常断开，不仅会造成数据传输错误，还会导致套接字不能关闭，持" />
</head>
<body>
<div id="topbar" class="clearfix">
	<ul id="product-type" class="left">
		<li>
			<a href="../m_biancheng_default_2.html"><span class="iconfont iconfont-home"></span>首页</a>
		</li>
		<li class="active">
			<a href="../sitemap/sitemap_2.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
		</li>
		<li>
			<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
		</li>
		<li>
			<a href="niz69i_5.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
		</li>
		<!-- <li>
			<a href="https://www.54benniao.com/c_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-c-course"></span>C语言高级课程</a>
		</li>
		<li>
			<a href="https://www.54benniao.com/java_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-java-course"></span>Java高级课程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/q2a/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-q2a"></span>一对一答疑</a>
		</li> -->
	</ul>
</div>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="../m_biancheng_default_2.html">
		<img height="26" src="../templets/new/images/logo_2.png" alt="C语言中文网" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li class="wap-yes"><a href="../m_biancheng_default_2.html">首页</a></li>
		<li><a href="../c/c_4.html">C语言教程</a></li>
		<li><a href="../cplus/cplus_2.html">C++教程</a></li>
		<li><a href="../python/python_2.html">Python教程</a></li>
		<li><a href="../java/java_2.html">Java教程</a></li>
		<li><a href="../linux_tutorial/linux_tutorial_2.html">Linux入门</a></li>
		<li><a href="../sitemap/sitemap_2.html" title="网站地图">更多&gt;&gt;</a></li>
	</ul>
	<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="iconfont"></span></span>

	<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main" class="clearfix">
	<div id="sidebar" class="toggle-target">
	<div id="contents">
		<dt><span class="iconfont iconfont-list-vertical" aria-hidden="true"></span><a href="../socket/socket_2.html">socket</a></dt>
		<dd>
        	<span class="channel-num">1</span>
        	<a href="2123_2.html">socket是什么</a>
        </dd>
<dd>
        	<span class="channel-num">2</span>
        	<a href="2124_2.html">套接字有哪些类型</a>
        </dd>
<dd>
        	<span class="channel-num">3</span>
        	<a href="vip_5864_2.html">面向连接和无连接的套接字到底有什么区别？</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">4</span>
        	<a href="2126_2.html">OSI网络七层模型</a>
        </dd>
<dd>
        	<span class="channel-num">5</span>
        	<a href="2133_2.html">TCP/IP协议族</a>
        </dd>
<dd>
        	<span class="channel-num">6</span>
        	<a href="2132_2.html">IP、MAC和端口号</a>
        </dd>
<dd>
        	<span class="channel-num">7</span>
        	<a href="2128_2.html">Linux下的socket演示程序</a>
        </dd>
<dd>
        	<span class="channel-num">8</span>
        	<a href="2129_2.html">Windows下的socket演示程序</a>
        </dd>
<dd>
        	<span class="channel-num">9</span>
        	<a href="vip_5865_2.html">使用WSAStartup()函数加载DLL</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">10</span>
        	<a href="2131_2.html">使用socket()函数创建套接字</a>
        </dd>
<dd>
        	<span class="channel-num">11</span>
        	<a href="2344_2.html">bind()和connect()函数</a>
        </dd>
<dd>
        	<span class="channel-num">12</span>
        	<a href="2345_2.html">listen()和accept()函数</a>
        </dd>
<dd>
        	<span class="channel-num">13</span>
        	<a href="2346_2.html">send()/recv()和write()/read()函数</a>
        </dd>
<dd>
        	<span class="channel-num">14</span>
        	<a href="vip_5866_2.html">socket编程实现回声客户端</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">15</span>
        	<a href="vip_5867_2.html">如何让服务器端持续不断地监听客户端的请求？</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">16</span>
        	<a href="2349_2.html">socket缓冲区以及阻塞模式</a>
        </dd>
<dd>
        	<span class="channel-num">17</span>
        	<a href="2350_2.html">TCP粘包问题（数据的无边界性）</a>
        </dd>
<dd>
        	<span class="channel-num">18</span>
        	<a href="2351_2.html">TCP数据报结构以及三次握手(图解)</a>
        </dd>
<dd>
        	<span class="channel-num">19</span>
        	<a href="2352_2.html">TCP数据的传输过程</a>
        </dd>
<dd>
        	<span class="channel-num">20</span>
        	<a href="2353_2.html">TCP四次握手断开连接（图解）</a>
        </dd>
<dd>
        	<span class="channel-num">21</span>
        	<a href="vip_5868_2.html">如何优雅地断开TCP连接？</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">22</span>
        	<a href="vip_5869_2.html">socket编程实现文件传输功能</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">23</span>
        	<a href="vip_5871_2.html">网络数据传输时的大小端问题</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">24</span>
        	<a href="vip_5870_2.html">在socket编程中使用域名</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">25</span>
        	<a href="2358_2.html">再谈UDP和TCP</a>
        </dd>
<dd>
        	<span class="channel-num">26</span>
        	<a href="2359_2.html">基于UDP的服务器端和客户端</a>
        </dd>

	</div>
</div>
	<div id="article-wrap">
		<div id="article">
			<div class="arc-info">
	<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../m_biancheng_default_2.html">首页</a> &gt; <a href="../socket/socket_2.html">socket</a></span>
</div>

<div id="ggxc-position-bottom" class="ggxc-box"></div>
			<h1>图解TCP四次握手断开连接</h1>
			<div class="pre-next-page clearfix">&nbsp;</div>
			<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
			<div id="arc-body">建立连接非常重要，它是数据正确传输的前提；断开连接同样重要，它让计算机释放不再使用的资源。如果连接不能正常断开，不仅会造成数据传输错误，还会导致套接字不能关闭，持续占用资源，如果并发量高，服务器压力堪忧。<br />
<br />
建立连接需要三次握手，断开连接需要四次握手，可以形象的比喻为下面的对话：
<ul>
	<li>
		[Shake 1] 套接字A：&ldquo;任务处理完毕，我希望断开连接。&rdquo;</li>
	<li>
		[Shake 2] 套接字B：&ldquo;哦，是吗？请稍等，我准备一下。&rdquo;</li>
	<li>
		等待片刻后&hellip;&hellip;</li>
	<li>
		[Shake 3] 套接字B：&ldquo;我准备好了，可以断开连接了。&rdquo;</li>
	<li>
		[Shake 4] 套接字A：&ldquo;好的，谢谢合作。&rdquo;</li>
</ul>
<br />
下图演示了客户端主动断开连接的场景：
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/190219/115T13926-0_2.jpg" /></div>
<br />
建立连接后，客户端和服务器都处于<code>ESTABLISED</code>状态。这时，客户端发起断开连接的请求：<br />
1) 客户端调用 close() 函数后，向服务器发送 FIN 数据包，进入<code>FIN_WAIT_1</code>状态。FIN 是 Finish 的缩写，表示完成任务需要断开连接。<br />
<br />
2) 服务器收到数据包后，检测到设置了 FIN 标志位，知道要断开连接，于是向客户端发送&ldquo;确认包&rdquo;，进入<code>CLOSE_WAIT</code>状态。<br />
<br />
注意：服务器收到请求后并不是立即断开连接，而是先向客户端发送&ldquo;确认包&rdquo;，告诉它我知道了，我需要准备一下才能断开连接。<br />
<br />
3) 客户端收到&ldquo;确认包&rdquo;后进入<code>FIN_WAIT_2</code>状态，等待服务器准备完毕后再次发送数据包。<br />
<br />
4) 等待片刻后，服务器准备完毕，可以断开连接，于是再主动向客户端发送 FIN 包，告诉它我准备好了，断开连接吧。然后进入<code>LAST_ACK</code>状态。<br />
<br />
5) 客户端收到服务器的 FIN 包后，再向服务器发送 ACK 包，告诉它你断开连接吧。然后进入<code>TIME_WAIT</code>状态。<br />
<br />
6) 服务器收到客户端的 ACK 包后，就断开连接，关闭套接字，进入<code>CLOSED</code>状态。
<h2>
	关于 TIME_WAIT 状态的说明</h2>
客户端最后一次发送 ACK包后进入 TIME_WAIT 状态，而不是直接进入 CLOSED 状态关闭连接，这是为什么呢？<br />
<br />
TCP 是面向连接的传输方式，必须保证数据能够正确到达目标机器，不能丢失或出错，而网络是不稳定的，随时可能会毁坏数据，所以机器A每次向机器B发送数据包后，都要求机器B&rdquo;确认&ldquo;，回传ACK包，告诉机器A我收到了，这样机器A才能知道数据传送成功了。如果机器B没有回传ACK包，机器A会重新发送，直到机器B回传ACK包。<br />
<br />
客户端最后一次向服务器回传ACK包时，有可能会因为网络问题导致服务器收不到，服务器会再次发送 FIN 包，如果这时客户端完全关闭了连接，那么服务器无论如何也收不到ACK包了，所以客户端需要等待片刻、确认对方收到ACK包后才能进入CLOSED状态。那么，要等待多久呢？<br />
<br />
数据包在网络中是有生存时间的，超过这个时间还未到达目标主机就会被丢弃，并通知源主机。这称为<span style="color: #b22222">报文最大生存时间（MSL，Maximum Segment Lifetime）</span>。TIME_WAIT 要等待 2MSL 才会进入 CLOSED 状态。ACK 包到达服务器需要 MSL 时间，服务器重传 FIN 包也需要 MSL 时间，2MSL 是数据包往返的最大时间，如果 2MSL 后还未收到服务器重传的 FIN 包，就说明服务器已经收到了 ACK 包。</div>
			<div id="ggxc-weixin-arcbottom">
	<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
	<p style="margin-top:12px; text-align:center;">
		<img src="../templets/new/images/material/qrcode_mp_4.png" alt="公众号二维码" width="160" /><br />
		<span class="col-green">微信扫码关注公众号</span>
	</p>
</div>
			<div class="pre-next-page clearfix">&nbsp;</div>
			<div id="nice-arcs" class="box-bottom">
    <h4>推荐阅读</h4>
    <ul class="clearfix">
<li><a href="niz69i_8.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_4.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_4.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="957_2.html" title="Java访问对象的属性和行为" target="_blank">Java访问对象的属性和行为</a></li>
<li><a href="980_2.html" title="Java析构方法" target="_blank">Java析构方法</a></li>
<li><a href="1068_2.html" title="Linux kill命令详解：终止进程" target="_blank">Linux kill命令详解：终止进程</a></li>
<li><a href="../redis/incrby_2.html" title="Redis INCR数值操作命令" target="_blank">Redis INCR数值操作命令</a></li>
<li><a href="vip_9756_2.html" title="手机上运行Python程序" target="_blank">手机上运行Python程序</a></li>
<li><a href="wnqg7p_2.html" title="DevOps到底是什么？" target="_blank">DevOps到底是什么？</a></li>
<li><a href="klwlb40_2.html" title="MySQL外键约束的使用" target="_blank">MySQL外键约束的使用</a></li>
</ul>
</div>
		</div>
		
	</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 2353;
window.arcId = "84ecPAnGoG0PSxpIKTr8ZaoM9U0CWfpNYgdUI5JGgyUuTbMtIafogzakVQI";
window.typeidChain = "153";
</script>
<div id="footer" class="clearfix">
	<div class="info left">
	<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
	<p>
		<a href="8066_2.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
		<a href="8092_3.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
		<a href="8097_2.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
		<a href="9648_2.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
		<a href="8093_2.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
		<a href="../sitemap/sitemap_2.html" target="_blank" rel="nofollow">网站地图</a>
	</p>
	<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan_2.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
	</p>
	</div>
	<img id="logo_bottom" class="right" src="https://m.biancheng.net/templets/new/images/logo_bottom_2.gif" alt="底部Logo" />
	<span id="return-top"><b>↑</b></span>
</div>

<div id="addweixin-widget">
	<p>
		<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://m.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
		<img src="https://m.biancheng.net/templets/new/images/material/qrcode_mp_4.png" alt="微信交流群" width="120" />
		<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
	</p>
	<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>

<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";
window.prePageURL = "/view/2352.html";
window.nextPageURL = "/view/vip_5868.html";
</script>

<script src="https://m.biancheng.net/templets/new/script/jquery1.12.4.min_2.js"></script>
<script src="https://m.biancheng.net/templets/new/script/common_2.js"></script>
<!-- 51la V6 -->
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<!-- 51la V5 -->
<!-- <span style="display: none;"><script type="text/javascript" src="https://js.users.51.la/21368967.js"></script></span> -->
</body>
</html>