<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>UE4添加人物模型</title>
<meta name="description" content="在正式使用 UE4 添加人物模型之前，我们先来解释几个概念。 什么是组件 在添加人物模型之前先介绍一个概念叫组件，组件是什么呢？组件的作用是为了让 Actor 实现一个功能，比如说：" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="iconfont"></span></span>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main" class="clearfix">
<div id="sidebar" class="toggle-target">
<div id="contents">
<dt><span class="iconfont iconfont-list-vertical" aria-hidden="true"></span><a href="../ue4/ue4.html">UE4</a></dt>
<dd>
<span class="channel-num">1</span>
<a href="2549.html">UE4是什么</a>
</dd>
<dd>
<span class="channel-num">2</span>
<a href="2562.html">UE4的下载和安装</a>
</dd>
<dd>
<span class="channel-num">3</span>
<a href="2575.html">UE4使用什么编译器</a>
</dd>
<dd>
<span class="channel-num">4</span>
<a href="2576.html">UE4对电脑配置的要求</a>
</dd>
<dd>
<span class="channel-num">5</span>
<a href="2855.html">UE4新建项目</a>
</dd>
<dd>
<span class="channel-num">6</span>
<a href="2857.html">UE4新建人物和地图模式</a>
</dd>
<dd>
<span class="channel-num">7</span>
<a href="2881.html">UE4设置默认游戏模式和关卡</a>
</dd>
<dd>
<span class="channel-num">8</span>
<a href="2883.html">UE4设置默认角色和控制器</a>
</dd>
<dd>
<span class="channel-num">9</span>
<a href="2884.html">UE4设置人物移动和人物视角</a>
</dd>
<dd>
<span class="channel-num">10</span>
<a href="2907.html">UE4实现人物跳跃</a>
</dd>
<dd>
<span class="channel-num">11</span>
<a href="2908.html">UE4添加人物模型</a>
</dd>
<dd>
<span class="channel-num">12</span>
<a href="4458.html">UE4添加人物摄像机</a>
</dd>
<dd>
<span class="channel-num">13</span>
<a href="4460.html">UE4添加人物动画之状态机</a>
</dd>
<dd>
<span class="channel-num">14</span>
<a href="4462.html">UE4添加人物动画之前后左右移动</a>
</dd>
</div>
</div>
<div id="article-wrap">
<div id="article">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; <a href="../ue4/ue4.html">UE4</a></span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>UE4添加人物模型</h1>
<div class="pre-next-page clearfix">&nbsp;</div>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">在正式使用 UE4 添加人物模型之前，我们先来解释几个概念。
<h4>
什么是组件</h4>
在添加人物模型之前先介绍一个概念叫&ldquo;组件&rdquo;，组件是什么呢？组件的作用是为了让 Actor 实现一个功能，比如说：我们现在的角色，没有模型，我们需要一个模型那怎么办呢？那么我就要在 Character 身上挂一个&ldquo;骨骼模型组件&rdquo;，比如说我想要我的摄像机远离我的人物实现一个上帝视角那要怎么做呢？那么我们可以在Character的身上挂一个摄像机组件。
<h4>
什么是 Actor</h4>
Actor 是 UE4 里面的 &ldquo;可放置物品&rdquo;，我们在 UE4 游戏窗口中所看到的场景、灯光、角色、模型，它们的父类都是 Actor。
<h4>
什么是Character</h4>
Character 是 Actor 的一个子类，Character 封装了 移动组件 ，让 Character 类有了移动的功能。
<h2>
添加人物模型</h2>
通过上面的介绍，我们已经知道需要通过添加组件来添加人物模型。那么我们要如何在 <a href='../cplus/cplus.html' target='_blank'>C++</a> 里面添加组件呢？<br />
<br />
1) 首先打开 VS 编辑器，在 APlayingCharacter.h 文件尾部下入以下代码：
<pre class="cpp">
//这个是骨骼模型组件
USkeletalMeshComponent* MeshComponent = nullptr;
//这个是骨骼模型
USkeletalMesh* SkeletalMesh = nullptr;</pre>
上面就是声明组件的格式。USkeletalMeshComponent 是组件的类型，贴心的 UE4 其实已经在父类帮我们创建好了 USkeletalMeshComponent，我这里只是演示如何添加一个组件。删掉<code>USkeletalMeshComponent* MeshComponent = nullptr</code>，我们来到构造函数去注册我们的骨骼模型 USkeletalMesh。<br />
<br />
2) 首先我们把构造函数里面的<code>PrimaryActorTick.bCanEverTick = true;</code>删掉，然后把<code>virtual void Tick(float DeltaTime) override</code>函数删掉，这个是开启帧事件和实现帧事件的函数，这个帧事件非常损耗性能，因为它是每帧执行一次的，我们不需要。<br />
<br />
然后我们输入以下代码：
<pre class="cpp">
APlayingCharacter::APlayingCharacter()
{
    //注册组件
    SkeletalMesh = CreateDefaultSubobject&lt;USkeletalMesh&gt;(TEXT(&quot;SkeletalMesh&quot;));
}</pre>
这里我注册了一个骨骼模型。注意，SkeletalMesh 是骨骼模型，不是骨骼模型组件，但是它还是一个组件，我们需要把这个骨骼模型添加到骨骼模型组件里面去，它们是配套的。<br />
<br />
注意：CreateDefaultSubobject 只能用在构造函数里面，在构造函数其他地方使用的话会崩溃。<br />
<br />
3) 下载资源，资源地址：<a href="https://pan.baidu.com/s/1ymF9V1yEPEb_Kow4Qx-jcA" target="_blank">https://pan.baidu.com/s/1ymF9V1yEPEb_Kow4Qx-jcA</a><br />
<br />
我先下载这两个资源，这两个资源是人物的模型资源，下载好了之后我们把这两个文件夹复制到你的 UE4 保管库目录，保管库目录可以在 UE4 的启动器里面查看。<br />
<br />
<div style="text-align: center;">
<img alt="" src="../uploads/allimg/190326/1-1Z326130925129.gif" /></div>
<br />
然后点击&ldquo;编辑保管库缓存位置&rdquo;， 会出现一个路径：<br />
<br />
<div style="text-align: center;">
<img alt="" src="../uploads/allimg/190326/1-1Z326131004B7.gif" /></div>
<br />
把这两个文件放在 Launcher/VaultCache/ 目录下：<br />
<br />
<div style="text-align: center;">
<img alt="" src="../uploads/allimg/190326/1-1Z32613102MB.gif" /></div>
<br />
放好了之后，我们回到 UE4 启动器，点击库：<br />
<br />
<div style="text-align: center;">
<img alt="" src="../uploads/allimg/190326/1-1Z326131101L8.gif" /></div>
<br />
我们会发现我们刚刚复制的两个文件夹出现在了我们保管库里面。我们这里使用 TwinSwordAnimsetBase 资源，点击添加到工程。<br />
<br />
<div style="text-align: center;">
<img alt="" src="../uploads/allimg/190326/1-1Z326131230320.gif" /></div>
<br />
首先，由于这两个资源比较旧，所以会显示没有匹配的工程。我们先点击所有工程，然后点击我们的项目，选择最近的版本，然后点击添加到工程。<br />
<br />
<div style="text-align: center;">
<img alt="" src="../uploads/allimg/190326/1-1Z32613125H19.gif" /></div>
<br />
回到 UE4 编辑器，我们会发现我们的资源窗口已经有了我们刚刚添加的文件夹：<br />
<br />
<div style="text-align: center;">
<img alt="" src="../uploads/allimg/190326/1-1Z32613132E32.gif" /></div>
<br />
4.双击打开这个文件，依次进入 UE4_Mannequin 文件夹和 Mesh 文件夹，我们会看到有三个资源，其中 SK_Mannequin 就是我们的骨骼模型资源，我们单击选中这个资源然后 按Ctrl+C 获取这个资源的路径。<br />
<br />
<div style="text-align: center;">
<img alt="" src="../uploads/allimg/190326/1-1Z326131434221.gif" /></div>
<br />
5) 回到VS编辑器，我们在 APlayingCharacter 文件的构造函数写入以下代码：
<pre class="cpp">
//加载模型
SkeletalMesh = LoadObject&lt;USkeletalMesh&gt;(NULL,TEXT(&quot;SkeletalMesh&#39;/Game/TwinSwordAnimsetBase/UE4_Mannequin/Mesh/SK_Mannequin.SK_Mannequin&#39;&quot;));</pre>
LoadObject 用来动态加载对象资源，它可以用在任何地方。这里我们第二个参数传入的是一个路径，这个路径是我们模型的路径，我们直接Ctrl+V就可以获取这个资源的路径。<br />
<br />
6) 我们使用 GetMesh() 来设置模型，在构造函数中继续下入以下代码：
<pre class="cpp">
//把我们的模型赋值到模型组件
GetMesh()-&gt;SetSkeletalMesh(SkeletalMesh);</pre>
GetMehsh() 其实就是 SkeletalMeshComponente 骨骼模型组件，然后通过 SetSkeletalMesh() 函数去添加我们刚刚加载的模型。<br />
<br />
7) 编译之后，回到编辑器点击 play，发现我们的人物已经添加到屏幕上。<br />
<br />
<div style="text-align: center;">
<img alt="" src="../uploads/allimg/190326/1-1Z326131J62G.jpg" /></div>
<br />
下一节我们将会添加一个摄像机，实现第三人称视角。</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div class="pre-next-page clearfix">&nbsp;</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="272.html" title="什么是流？C++流类和流对象" target="_blank">什么是流？C++流类和流对象</a></li>
<li><a href="751.html" title="Java return语句" target="_blank">Java return语句</a></li>
<li><a href="../mysql/case.html" title="MySQL CASE函数：搜索语句" target="_blank">MySQL CASE函数：搜索语句</a></li>
<li><a href="7704.html" title="Django QuerySet查询API攻略" target="_blank">Django QuerySet查询API攻略</a></li>
<li><a href="../tkinter/what-is-tkinter.html" title="Tkinter是什么" target="_blank">Tkinter是什么</a></li>
<li><a href="ling1o.html" title="Java并发编程轻量级入门教程" target="_blank">Java并发编程轻量级入门教程</a></li>
<li><a href="i0j5y7o.html" title="Linux cd命令：切换目录" target="_blank">Linux cd命令：切换目录</a></li>
</ul>
</div>
</div>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 2908;
window.arcId = "c915h5RNy3XD1DA0GLF9ZNbN9Yaf46lci1PP55oJ2DQyf759h71IiPh1Vik";
window.typeidChain = "202";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";
window.prePageURL = "/view/2907.html";
window.nextPageURL = "/view/4458.html";
</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>