<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>C# ListBox：列表框控件</title>
<meta name="description" content="列表框 (ListBox) 将所提供的内容以列表的形式显示出来，并可以选择其中的一项或多项内容，从形式上比使用复选框更好一些。 例如，在 Word 中设置字体时界面如下图所示。 在列表框控" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>C# ListBox：列表框控件</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">列表框 (ListBox) 将所提供的内容以列表的形式显示出来，并可以选择其中的一项或多项内容，从形式上比使用复选框更好一些。<br />
<br />
例如，在 Word 中设置字体时界面如下图所示。<br />
<br />
<div style="text-align: center;">
<img alt="设置字体界面" src="../uploads/allimg/190329/4-1Z3291P045325.gif" /></div>
<br />
在列表框控件中有一些属性与前面介绍的控件不同，如下表所示。<br />
<br />
<table>
<tbody>
<tr>
<th>
属性名</th>
<th>
作用</th>
</tr>
<tr>
<td>
MultiColumn</td>
<td>
获取或设置列表框是否支持多列，如果设置为 True，则表示支持多列； 如果设置为 False，则表示不支持多列，默认为 False</td>
</tr>
<tr>
<td>
Items</td>
<td>
获取或设置列表框控件中的值</td>
</tr>
<tr>
<td>
SelectedItems</td>
<td>
获取列表框中所有选中项的集合</td>
</tr>
<tr>
<td>
SelectedItem</td>
<td>
获取列表框中当前选中的项</td>
</tr>
<tr>
<td>
SelectedIndex</td>
<td>
获取列表框中当前选中项的索引，索引从 0 开始</td>
</tr>
<tr>
<td>
SelectionMode</td>
<td>
获取或设置列表框中选择的模式，当值为 One 时，代表只能选中一项， 当值为 MultiSimple 时，代表能选择多项，当值为 None 时，代表不能选 择，当值为 MultiExtended 时，代表能选择多项，但要在按下 Shift 键后 再选择列表框中的项</td>
</tr>
</tbody>
</table>
<br />
列表框还提供了一些方法来操作列表框中的选项，由于列表框中的选项是一个集合形式的，列表项的操作都是用 Items 属性进行的。<br />
<br />
例如 <code>Items.Add</code> 方法用于向列表框中添加项，<code>Items.Insert</code> 方法用于向列表框中的指定位置添加项，<code>Items.Remove</code> 方法用于移除列表框中的项。<br />
<br />
【实例 1】使用列表框的形式完成《<a href="https://c.biancheng.net/view/2958.html" target="_blank">C# CheckBox</a>》一节中爱好的选择。<br />
<br />
根据题目要求，使用列表框列出所需的爱好，将窗体命名为 ListBoxForm，界面设计如下图所示。<br />
<br />
<div style="text-align: center;">
<img alt="使用列表框选择爱好的界面" src="../uploads/allimg/190329/4-1Z3291P3352b.gif" /></div>
<blockquote>
<p>
提示：ListBox实现多选需要设置窗体的 SelectionMode 属性为 MultiSimple。</p>
</blockquote>
单击&ldquo;确定&rdquo;按钮以消息框弹出所选的爱好，实现的代码如下。
<pre class="cpp">
public partial class ListBoxForm : Form
{
    public ListBoxForm()
    {
        InitializeComponent();
    }
    //单击&ldquo;确定&rdquo;按钮事件
    private void button1_Click(object sender, EventArgs e)
    {
        string msg = &quot;&quot;;
        for(int i = 0; i &lt; listBox1.SelectedItems.Count; i++)
        {
            msg = msg + &quot; &quot; + listBox1.SelectedItems[i].ToString();
        }
        if (msg != &quot;&quot;)
        {
            MessageBox.Show(&quot;您选择的爱好是：&quot; + msg, &quot;提示&quot;);
        }
        else
        {
            MessageBox.Show(&quot;您没有选择爱好&quot;, &quot;提示&quot;);
        }
    }
}</pre>
运行 ListBoxForm 窗体，效果如下图所示。<br />
<br />
<div style="text-align: center;">
<img alt="ListBoxForm窗体运行效果" src="../uploads/allimg/190329/4-1Z3291P432145.gif" /></div>
<br />
单击&ldquo;确定&rdquo;按钮后弹出消息框显示被选中的项目，效果如下图所示。<br />
<br />
<div style="text-align: center;">
<img alt="显示列表框中选中的项" src="../uploads/allimg/190329/4-1Z3291P506147.gif" /></div>
<br />
【实例 2】在实例 1 的基础上添加两个按钮，一个负责向列表框中添加爱好，一个负责删除选中的列表项。<br />
<br />
根据题目要求，ListBoxForm 窗体的设计效果如下图所示。<br />
<br />
<div style="text-align: center;">
<img alt="具有添加删除操作的窗体" src="../uploads/allimg/190329/4-1Z3291P54D49.gif" /></div>
<br />
实现的代码如下。
<pre class="cpp">
//将列表框中的选中项删除
private void button2_Click(object sender, EventArgs e)
{
    //由于列表框控件中允许多选所以需要循环删除所有已选项
    int count = listBox1.SelectedItems.Count;
    List&lt;string&gt; itemValues = new List&lt;string&gt;();
    if (count != 0)
    {
        for(int i = 0; i &lt; count; i++)
        {
            itemValues.Add(listBox1.SelectedItems[i].ToString());
        }
        foreach(string item in itemValues)
        {
            listBox1.Items.Remove(item);
        }
    }
    else
    {
        MessageBox.Show(&quot;请选择需要删除的爱好！&quot;);
    }
}
//将文本框中的值添加到列表框中
private void button3_Click(object sender, EventArgs e)
{
    //当文本框中的值不为空时将其添加到列表框中
    if (textBox1.Text != &quot;&quot;)
    {
        listBox1.Items.Add(textBox1.Text);
    }
    else
    {
        MessageBox.Show(&quot;请添加爱好！&quot;);
    }
}</pre>
在编写删除操作的功能时需要注意，首先要将列表框中的选中项存放到一个集合中, 然后再对该集合中的元素依次使用 Remove 方法移除。<br />
<br />
向列表框中添加选项的效果如下图所示。<br />
<br />
<div style="text-align: center;">
<img alt="向列表框中添加选项" src="../uploads/allimg/190329/4-1Z3291P63c58.gif" /></div>
<br />
当选中列表框中的值并单击&ldquo;删除&rdquo;按钮后，列表中的相应选项即可被删除。</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="545.html" title="C++ multiset用法详解（附带完整示例）" target="_blank">C++ multiset用法详解（附带完整示例）</a></li>
<li><a href="vip_2320.html" title="C++函数模板的重载" target="_blank">C++函数模板的重载</a></li>
<li><a href="vip_3229.html" title="Shell命令的本质到底是什么？如何自己实现一个命令？" target="_blank">Shell命令的本质到底是什么？如何自己实现一个命令？</a></li>
<li><a href="../pandas/reindexing.html" title="Pandas reindex重置索引" target="_blank">Pandas reindex重置索引</a></li>
<li><a href="../pandas/data-display.html" title="Pandas设置数据显示格式" target="_blank">Pandas设置数据显示格式</a></li>
<li><a href="vn6i5j.html" title="C语言怎么实现四舍五入" target="_blank">C语言怎么实现四舍五入</a></li>
<li><a href="dt3x7vv.html" title="C++重载[]（下标运算符）" target="_blank">C++重载[]（下标运算符）</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 2962;
window.arcId = "9dfbpqSQ1gGYLMjAGCrzsXxHWBlpDo8Toj8SIVhYgSli/5ZzhlqFqF+1TNk";
window.typeidChain = "211|119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>