<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>C语言二维数组</title>
<meta name="description" content="C语言中的二维数组是一个常见的数据结构，它是由多个一维数组组合而成的，可以被用来表示一些需要按行列排列的数据集合，比如矩阵、地图等。本文将详细介绍C语言中二维数组的定" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>C语言二维数组</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">C语言中的二维数组是一个常见的数据结构，它是由多个一维数组组合而成的，可以被用来表示一些需要按行列排列的数据集合，比如矩阵、地图等。本文将详细介绍C语言中二维数组的定义、初始化、访问、参数传递、内存分配等方面的内容，让初学者能够更好地掌握这一数据结构。
<h2>
二维数组的定义</h2>
在C语言中，二维数组的定义格式为：<br />
<p class="info-box">
数据类型 数组名[行数][列数];</p>
其中，数据类型指的是二维数组中每个元素的数据类型，可以是整型、浮点型、字符型等等；数组名指的是二维数组的名称，可以自行定义；行数和列数指的是二维数组中的行数和列数，也可以根据实际需要进行自定义。<br />
<br />
例如，下面的代码定义了一个由3行4列组成的二维整型数组：<br />
<pre class="c">
int arr[3][4];</pre>
<h2>
二维数组的初始化</h2>
在定义二维数组时，我们也可以对其进行初始化。有两种方式可以初始化二维数组，分别是静态初始化和动态初始化。<br />
<h3>
1) 静态初始化</h3>
静态初始化是在定义二维数组的同时对其进行初始化，可以通过以下两种方式实现。<br />
<h4>
在定义时直接赋值</h4>
<pre class="c">
int arr[2][3] = {{1, 2, 3}, {4, 5, 6}};</pre>
这样就定义了一个由 2 行 3 列组成的二维整型数组，并将其初始化为<code>{{1, 2, 3}, {4, 5, 6}}</code>。注意，当对二维数组进行初始化时，需要按照从左到右、从上到下的顺序进行赋值。<br />
<h4>
省略列数</h4>
在定义二维数组时，可以省略列数，由系统根据初始化列表的元素个数自动推算列数。例如：<br />
<pre class="c">
int arr[][3] = {{1, 2, 3}, {4, 5, 6}, {7, 8, 9}};</pre>
这样就定义了一个由 3 行 3 列组成的二维整型数组，并将其初始化为<code>{{1, 2, 3}, {4, 5, 6}, {7, 8, 9}}</code>。<br />
<h3>
2) 动态初始化</h3>
动态初始化是在定义二维数组后，通过循环结构逐个为其元素赋值的方式实现。例如：<br />
<pre class="c">
int arr[2][3];
int i, j;
for (i = 0; i &lt; 2; i++) {
    for (j = 0; j &lt; 3; j++) {
        arr[i][j] = i * j;
    }
}</pre>
这样就定义了一个由 2 行 3 列组成的二维整型数组，并将其初始化为<code>{{0, 0, 0}</code>。
<h2>
二维数组的访问</h2>
在 C语言中，可以使用下标访问二维数组中的元素。二维数组的下标由两个部分组成，分别是行下标和列下标，用中括号括起来，中间用逗号隔开。例如，访问 arr 数组中第 2 行第 3 列的元素，可以使用以下语句：<br />
<pre class="c">
int x = arr[1][2];</pre>
这样就可以将 arr 数组中第 2 行第 3 列的元素赋值给变量 x。<br />
<h2>
二维数组作为函数参数</h2>
二维数组可以作为函数参数传递，通过这种方式可以在函数中对数组进行操作。在传递二维数组时，需要在函数定义和函数调用时都指定数组的列数。例如，下面的代码定义了一个函数 print_array，用于输出一个由 n 行 m 列的二维数组：<br />
<pre class="c">
void print_array(int arr[][m], int n, int m) {
    int i, j;
    for (i = 0; i &lt; n; i++) {
        for (j = 0; j &lt; m; j++) {
            printf(&quot;%d &quot;, arr[i][j]);
        }
        printf(&quot;\n&quot;);
    }
}</pre>
在调用函数时，需要传递数组、行数和列数三个参数：<br />
<pre class="c">
int arr[2][3] = {{1, 2, 3}, {4, 5, 6}};
print_array(arr, 2, 3);</pre>
这样就可以输出数组 arr 的所有元素。<br />
<h2>
二维数组的内存分配</h2>
在 C语言中，二维数组是按行优先存储的，即二维数组的每一行在内存中是连续存放的，而不同行之间的元素并不一定连续。例如，对于一个由 3 行 4 列组成的二维整型数组，内存中的存储结构如下所示：<br />
<p class="info-box">
arr[0][0] arr[0][1] arr[0][2] arr[0][3] arr[1][0] arr[1][1] arr[1][2] arr[1][3] arr[2][0] arr[2][1] arr[2][2] arr[2][3]</p>
在使用二维数组时，需要注意内存的分配问题。当数组的规模比较大时，可以使用动态内存分配函数 malloc() 来动态分配内存。例如，下面的代码动态分配了一个由3行4列组成的二维整型数组：<br />
<pre class="c">
int **arr;
int i;
arr = (int **)malloc(3 * sizeof(int *));
for (i = 0; i &lt; 3; i++) {
    arr[i] = (int *)malloc(4 * sizeof(int));
}</pre>
这样就可以动态分配一个由 3 行 4 列组成的二维整型数组，并在使用完后使用 free() 函数释放内存。
<h2>
总结</h2>
本文介绍了 C语言中二维数组的定义、初始化、访问、参数传递、内存分配等方面的知识。总的来说，二维数组是一种非常常用的数据结构，在 C语言中有着广泛的应用。掌握二维数组的相关知识，有助于提高编程效率，同时也有助于加深对 C语言的理解。<br />
<br />
总结一下本文的主要内容：<br />
<ul>
<li>
二维数组是由多个一维数组组成的，可以用于存储多行多列的数据；</li>
<li>
定义二维数组时需要指定行数和列数，可以在定义时初始化数组元素；</li>
<li>
可以使用下标访问二维数组中的元素，下标由行下标和列下标组成；</li>
<li>
二维数组可以作为函数参数传递，需要指定数组的列数；</li>
<li>
在 C语言中，二维数组是按行优先存储的，需要注意内存的分配问题；</li>
<li>
动态内存分配函数 malloc() 可以用来动态分配二维数组的内存，使用完后需要使用 free() 函数释放内存。</li>
</ul>
<br />
希望通过本文的介绍，读者能够对 C语言中二维数组的相关知识有一个更加深入的了解。同时也希望读者能够继续深入学习 C语言，提高自己的编程能力。</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="252.html" title="C++ protected（受保护的）详解" target="_blank">C++ protected（受保护的）详解</a></li>
<li><a href="1058.html" title="Linux源码包服务管理（启动与自启动）" target="_blank">Linux源码包服务管理（启动与自启动）</a></li>
<li><a href="1377.html" title="C++函数定义和调用过程（超详细）" target="_blank">C++函数定义和调用过程（超详细）</a></li>
<li><a href="2594.html" title="MySQL修改存储过程（ALTER PROCEDURE）" target="_blank">MySQL修改存储过程（ALTER PROCEDURE）</a></li>
<li><a href="../jstl/fn-substringafter.html" title="fn:substringAfter()函数" target="_blank">fn:substringAfter()函数</a></li>
<li><a href="9446.html" title="我的大学为何挂科严重，甚至差点被劝退" target="_blank">我的大学为何挂科严重，甚至差点被劝退</a></li>
<li><a href="9648.html" title="官方公众号" target="_blank">官方公众号</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 9903;
window.arcId = "b06eGchtGj3tAuxGfyRs5P90N8EFvT7Q4F6P6sNl7dMlIU42fPKIqfm6Iqk";
window.typeidChain = "131|119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>