<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 启用Chromium高速渲染模式 -->
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<!-- 禁止百度转码 -->
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止识别电话号码 -->
<meta name="format-detection" content="telephone=no" />

<link rel="shortcut icon" href="../favicon_3.ico" />
<link href="../templets/new/style/common_2.css" rel="stylesheet" />
<title>Qt编程涉及的术语和名词</title>
<meta name="description" content="本节我们来介绍一下使用 Qt 编程过程中常用的术语和名字，它们不一定专属于 Qt，在其它的 C/C++ 开发过程中也会使用到。 Project 即项目（或叫工程），这里的项目是指为实现某个相对独" />
</head>
<body>
<div id="topbar" class="clearfix">
	<ul id="product-type" class="left">
		<li>
			<a href="../m_biancheng_default_2.html"><span class="iconfont iconfont-home"></span>首页</a>
		</li>
		<li class="active">
			<a href="../sitemap/sitemap_2.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
		</li>
		<li>
			<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
		</li>
		<li>
			<a href="niz69i_5.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
		</li>
		<!-- <li>
			<a href="https://www.54benniao.com/c_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-c-course"></span>C语言高级课程</a>
		</li>
		<li>
			<a href="https://www.54benniao.com/java_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-java-course"></span>Java高级课程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/q2a/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-q2a"></span>一对一答疑</a>
		</li> -->
	</ul>
</div>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="../m_biancheng_default_2.html">
		<img height="26" src="../templets/new/images/logo_2.png" alt="C语言中文网" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li class="wap-yes"><a href="../m_biancheng_default_2.html">首页</a></li>
		<li><a href="../c/c_4.html">C语言教程</a></li>
		<li><a href="../cplus/cplus_2.html">C++教程</a></li>
		<li><a href="../python/python_2.html">Python教程</a></li>
		<li><a href="../java/java_2.html">Java教程</a></li>
		<li><a href="../linux_tutorial/linux_tutorial_2.html">Linux入门</a></li>
		<li><a href="../sitemap/sitemap_2.html" title="网站地图">更多&gt;&gt;</a></li>
	</ul>
	<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="iconfont"></span></span>

	<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main" class="clearfix">
	<div id="sidebar" class="toggle-target">
	<div id="contents">
		<dt><span class="iconfont iconfont-list-vertical" aria-hidden="true"></span><a href="../qt/qt_2.html">Qt教程</a></dt>
		<dd>
        	<span class="channel-num">1</span>
        	<a href="1792_2.html">Qt是什么</a>
        </dd>
<dd>
        	<span class="channel-num">2</span>
        	<a href="3876_2.html">Qt和其它GUI库的对比</a>
        </dd>
<dd>
        	<span class="channel-num">3</span>
        	<a href="3877_2.html">学习QML还是C++</a>
        </dd>
<dd>
        	<span class="channel-num">4</span>
        	<a href="3851_2.html">Qt下载</a>
        </dd>
<dd>
        	<span class="channel-num">5</span>
        	<a href="3858_2.html">Windows下安装Qt</a>
        </dd>
<dd>
        	<span class="channel-num">6</span>
        	<a href="3886_2.html">Linux下安装Qt</a>
        </dd>
<dd>
        	<span class="channel-num">7</span>
        	<a href="3901_2.html">解决cannot find -lGL错误</a>
        </dd>
<dd>
        	<span class="channel-num">8</span>
        	<a href="3866_2.html">解密Qt安装目录的结构</a>
        </dd>
<dd>
        	<span class="channel-num">9</span>
        	<a href="3868_2.html">Qt用到的开发工具</a>
        </dd>
<dd>
        	<span class="channel-num">10</span>
        	<a href="3871_2.html">Qt编程涉及的术语和名词</a>
        </dd>
<dd>
        	<span class="channel-num">11</span>
        	<a href="1804_2.html">Qt Creator的初步使用</a>
        </dd>
<dd>
        	<span class="channel-num">12</span>
        	<a href="1817_2.html">第一个Qt程序</a>
        </dd>
<dd>
        	<span class="channel-num">13</span>
        	<a href="9412_2.html">分析第一个Qt程序</a>
        </dd>
<dd>
        	<span class="channel-num">14</span>
        	<a href="vip_9651_2.html">Qt控件和事件</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">15</span>
        	<a href="vip_9652_2.html">Qt信号和槽</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">16</span>
        	<a href="vip_9653_2.html">Qt QLabel文本框</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">17</span>
        	<a href="vip_9654_2.html">Qt QPushButton按钮</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">18</span>
        	<a href="vip_9655_2.html">Qt QLineEdit单行输入框</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">19</span>
        	<a href="vip_9656_2.html">Qt QListWidget列表框</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">20</span>
        	<a href="vip_9657_2.html">Qt QTableWidget表格控件</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">21</span>
        	<a href="vip_9659_2.html">Qt QTreeWidget树形控件</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">22</span>
        	<a href="vip_9658_2.html">Qt QMessageBox消息对话框</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">23</span>
        	<a href="vip_9660_2.html">Qt布局管理详解</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">24</span>
        	<a href="vip_9661_2.html">Qt pro工程管理文件</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">25</span>
        	<a href="vip_9662_2.html">Qt自定义信号和槽</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">26</span>
        	<a href="vip_9663_2.html">Qt QFile文件操作</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">27</span>
        	<a href="vip_9664_2.html">Qt实现学生信息管理系统</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">28</span>
        	<a href="vip_9665_2.html">Qt打包程序</a><span class="iconfont iconfont-vip2"></span>
        </dd>

	</div>
</div>
	<div id="article-wrap">
		<div id="article">
			<div class="arc-info">
	<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../m_biancheng_default_2.html">首页</a> &gt; <a href="../qt/qt_2.html">Qt教程</a></span>
</div>

<div id="ggxc-position-bottom" class="ggxc-box"></div>
			<h1>Qt编程涉及的术语和名词</h1>
			<div class="pre-next-page clearfix">&nbsp;</div>
			<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
			<div id="arc-body">本节我们来介绍一下使用 <a href='../qt/qt_2.html' target='_blank'>Qt</a> 编程过程中常用的术语和名字，它们不一定专属于 Qt，在其它的 C/<a href='../cplus/cplus_2.html' target='_blank'>C++</a> 开发过程中也会使用到。
<h2>
	Project</h2>
Project 的中文翻译是&ldquo;项目&rdquo;或者&ldquo;工程&rdquo;，这里的项目是指为实现某个相对独立功能的程序代码合集，这些代码不单单是放在一块，而是有相互之间的关联性，并且有专门负责管理该项目的项目文件，比如：
<ul>
	<li>
		Qt 使用 .pro 文件管理项目；</li>
	<li>
		VC++ 则使用 .vcproj 作为项目文件。</li>
</ul>
<br />
集成开发环境通常都是依据项目文件（.pro/.vcproj）管理和构建项目。
<h2>
	Makefile</h2>
即生成脚本，虽然可以直接调用编译器如 g++ 编译程序，但是如果项目里的代码文件变多了，哪些代码文件更新了需要重新编译，哪些代码没有改不需要重新编译等等，靠程序员自己记忆去处理是比较麻烦的事，还有哪些代码需要预处理或是链接哪些库文件， 这些都是繁杂的过程。为了规范程序的编译生成过程，产生了规范化的生成脚本，就是 Makefile，生成器 make 可以依据规范的 Makefile 自动生成目标程序或库文件。<br />
<br />
简单的说，就是定义好 Makefile ，让程序员只需要去关注如何编写代码，而生成程序过程中的脏活累活都交给 make 程序。<br />
<br />
现在 Makefile 通常都有工具自动生成，如 qmake 工具， 这样就大量减轻了程序员的负担。<br />
<h2>
	Debug 和 Release</h2>
Debug 即调试，Release 即发行。代码编写之后，生成的目标程序或库文件通常不会绝对正确，或多或少有些毛病（bug）， 因此需要进行纠错调试（Debug）。调试过程中需要源代码和二进制目标程序之间一一对应的关系， 这样才能定位到错误代码，所以 Debug 版本的程序是臃肿而不进行优化的。<br />
<br />
与之相对的是 Release 发行版，在纠正了发觉到的错误后，需要发布程序用于实际用途，实际应用时强调运行效率高，减少冗余代码，因此会对二进制程序进行大量优化，提升性能。这样发布的二进制目标程序就是 Release 版。<br />
<br />
Debug 版本和 Release 版本使用的库文件不一样：
<ul>
	<li>
		Debug 版本程序通常链接的也是 Debug 版本的库文件，比如 libQt5Guid.a/Qt5Guid.dll，库文件的简短名（不含扩展名）都是以 d 结尾的，Debug 库通常都比较大 。</li>
	<li>
		Release 版本程序链接的通常就是 Release 版本的库文件，Release 版本库文件名字比 Debug 版本库文件少一个字母 d ，如 libQt5Gui.a/Qt5Gui.dll，而且 Release 版本库一般都比 Debug 版本小很多，运行效率也高很多。</li>
</ul>
<h2>
	C++11 标准</h2>
时代在变化，C++ 标准也在前进。C++ 正式公布标准有 C++98、C++03、C++11。最新的 C++11 标准是2011年8月12日公布的，在公布之前该标准原名为 C++0x 。这是一次较大的修订和扩充，建议读者专门学一下。<br />
<br />
Qt 从 4.8 版本就开始用 C++11 新特性了。编译器里面开始支持 C++11 的版本是 MSVC 2010、<a href='../gcc/gcc_2.html' target='_blank'>GCC</a> 4.5、Clang 3.1，这之后版本的编译器都在逐步完善对 C++11 的支持，现在新版本编译器对新标准的支持都比较全面了。<br />
<br />
Qt 官方在编译 Qt5 库的时候都是开启 C++11 特性的，如果我们要在自己项目代码启用新标准，需要在 .pro 文件里面添加一行：
<p class="info-box">
	CONFIG += c++11</p>
如果是 Qt4 版本则是添加：
<p class="info-box">
	gcc:CXXFLAGS += -std=c++0x</p>
MSVC 编译器默认开启 C++11 特性，GCC（g++命令）则需要自己添加选项 -std=c++0x ，上面 CXXFLAGS 就是为 GCC 编译器（g++命令）添加 -std=c++0x 选项。
<h2>
	Dynamic Link 和 Static Link</h2>
Dynamic Link 即动态链接，Static Link 即静态链接。
<h4>
	动态链接库</h4>
目标程序通常都不是独立个体，生成程序时都需要链接其他的库，要用到其他库的代码。对于多个程序同时运行而言，内存中就可能有同一个库的多个副本，占用了太多内存而干的活差不多。<br />
<br />
为了优化内存运用效率，引入了动态链接库（Dynamic Link Library），或叫共享库（Shared Object）。使用动态链接库时，内存中只需要一份该库文件，其他程序要使用该库文件时，只要链接过来就行了。由于动态库文件外置，链接到动态库的目标程序相对比较小，因为剥离了大量库代码，而只需要一些链接指针。<br />
<br />
使用动态库，也意味着程序需要链接到如 *.dll 或 *.so 文件，得提前装好动态库文件，然后目标程序才能正常运行。
<h4>
	静态链接库</h4>
静态库就是将链接库的代码和自己编写的代码都编译链接到一块，链接到静态库的程序通常比较大，但好处是运行时依赖的库文件很少，因为目标程序自己内部集成了很多库代码。
<h4>
	库文件后缀</h4>
Linux/Unix 系统里静态库扩展名一般是 .a，动态库扩展名一般是 .so 。Windows 系统里 VC 编译器用的静态库扩展名一般是 .lib，动态库扩展名一般是 .dll 。<br />
<br />
MinGW 比较特殊，是将 GNU 工具集和链接库从 Linux/Unix 系统移植到 Windows 里， 有意思的情况就出现了，MinGW 使用的静态库扩展名为 .a ，而其动态库扩展名则为 .dll， .a 仅在生成目标程序过程中使用，.dll 则是在目标程序运行时使用。
<h2>
	Explicit Linking 和 Implicit Linking</h2>
Explicit Linking 即显式链接，Implicit Linking 即隐式链接，这两种都是动态链接库的使用方式。<br />
<br />
动态链接库通常都有其导出函数列表， 告知其他可执行程序可以使用它的哪些函数。可执行程序使用这些导出函数有两种方式：一是在运行时使用主动加载动态库的函数，Linux 里比如用 dlopen 函数打开并加载动态库，Windows 里一般用 LoadLibrary 打开并加载动态库，只有当程序代码执行到这些函数时，其参数里的动态库才会被加载，这就是显式链接。显式链接方式是在运行时加载动态库，其程序启动时并不检查这些动态库是否存在。<br />
<br />
隐式链接是最为常见的，所有的编译环境默认都是采用隐式链接的方式使用动态库。隐式链接会在链接生成可执行程序时就确立依赖关系，在该程序启动时，操作系统自动会检查它依赖的动态库，并一一加载到该程序的内存空间，程序员就不需要操心什么时候加载动态库了。比如 VC 编译环境，链接时使用动态库对应的 .lib 文件（包含动态库的导出函数声明，但没有实际功能代码），在 .exe 程序运行前系统会检查依赖的 .dll，如果找不到某个动态库就会出现类似下图对话框：<br />
<br />
<div style="text-align: center;">
	<img alt="找不到动态链接库" src="../uploads/allimg/190530/1-1Z530100032603_2.gif" /></div>
<br />
MinGW 是将动态库的导出函数声明放在了 .a 文件里，程序运行依赖的动态库也是 .dll 。<br />
<br />
请注意，VC 链接器使用的 .lib 文件分两类，一种是完整的静态库，体积比较大，另一种是动态库的导出声明，体积比较小。MinGW 链接器使用的 .a 文件也是类似的，Qt 官方库都是按照动态库发布的，静态库只有自己编译才会有。<br />
</div>
			<div id="ggxc-weixin-arcbottom">
	<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
	<p style="margin-top:12px; text-align:center;">
		<img src="../templets/new/images/material/qrcode_mp_4.png" alt="公众号二维码" width="160" /><br />
		<span class="col-green">微信扫码关注公众号</span>
	</p>
</div>
			<div class="pre-next-page clearfix">&nbsp;</div>
			<div id="nice-arcs" class="box-bottom">
    <h4>推荐阅读</h4>
    <ul class="clearfix">
<li><a href="niz69i_8.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_4.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_4.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="321_3.html" title="什么是函数？以及函数的定义" target="_blank">什么是函数？以及函数的定义</a></li>
<li><a href="329_3.html" title="C语言const int *a和int*const a 的区别详解" target="_blank">C语言const int *a和int*const a 的区别详解</a></li>
<li><a href="1341_2.html" title="C++ fixed用法详解" target="_blank">C++ fixed用法详解</a></li>
<li><a href="../mysql/datediff_2.html" title="MySQL DATEDIFF函数：获取两个日期的时间间隔" target="_blank">MySQL DATEDIFF函数：获取两个日期的时间间隔</a></li>
<li><a href="7tj366z_2.html" title="C# break和continue语句：跳出循环" target="_blank">C# break和continue语句：跳出循环</a></li>
<li><a href="d0rx484_2.html" title="测试工程师都干些什么工作？工资和程序员差得多吗？" target="_blank">测试工程师都干些什么工作？工资和程序员差得多吗？</a></li>
<li><a href="pbrunqq_2.html" title="《中公实用Web前端开发轻松学 HTML5+CSS3+JavaScript》PDF下载（高清完整版）" target="_blank">《中公实用Web前端开发轻松学 HTML5+CSS3+JavaScript》PDF下载（高清完整版）</a></li>
</ul>
</div>
		</div>
		
	</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 3871;
window.arcId = "ecffQWhGaStZslC8YfrANgKaGQU582XT0A/wLq94LhX14WD7YrWhK8Pi/Qs";
window.typeidChain = "133";
</script>
<div id="footer" class="clearfix">
	<div class="info left">
	<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
	<p>
		<a href="8066_2.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
		<a href="8092_3.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
		<a href="8097_2.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
		<a href="9648_2.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
		<a href="8093_2.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
		<a href="../sitemap/sitemap_2.html" target="_blank" rel="nofollow">网站地图</a>
	</p>
	<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan_2.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
	</p>
	</div>
	<img id="logo_bottom" class="right" src="https://m.biancheng.net/templets/new/images/logo_bottom_2.gif" alt="底部Logo" />
	<span id="return-top"><b>↑</b></span>
</div>

<div id="addweixin-widget">
	<p>
		<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://m.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
		<img src="https://m.biancheng.net/templets/new/images/material/qrcode_mp_4.png" alt="微信交流群" width="120" />
		<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
	</p>
	<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>

<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";
window.prePageURL = "/view/3868.html";
window.nextPageURL = "/view/1804.html";
</script>

<script src="https://m.biancheng.net/templets/new/script/jquery1.12.4.min_2.js"></script>
<script src="https://m.biancheng.net/templets/new/script/common_2.js"></script>
<!-- 51la V6 -->
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<!-- 51la V5 -->
<!-- <span style="display: none;"><script type="text/javascript" src="https://js.users.51.la/21368967.js"></script></span> -->
</body>
</html>