<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 启用Chromium高速渲染模式 -->
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<!-- 禁止百度转码 -->
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止识别电话号码 -->
<meta name="format-detection" content="telephone=no" />

<link rel="shortcut icon" href="../favicon_3.ico" />
<link href="../templets/new/style/common_2.css" rel="stylesheet" />
<title>Qt和其它GUI库的对比</title>
<meta name="description" content="Qt 经常被当做一个 GUI 库，用来开发图形界面应用程序，但这并不是 Qt 全部；Qt 除了可以绘制漂亮的界面（包括控件、布局、交互），还包含很多其它功能，例如你不再需要研究 STL，不" />
</head>
<body>
<div id="topbar" class="clearfix">
	<ul id="product-type" class="left">
		<li>
			<a href="../m_biancheng_default_2.html"><span class="iconfont iconfont-home"></span>首页</a>
		</li>
		<li class="active">
			<a href="../sitemap/sitemap_2.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
		</li>
		<li>
			<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
		</li>
		<li>
			<a href="niz69i_5.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
		</li>
		<!-- <li>
			<a href="https://www.54benniao.com/c_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-c-course"></span>C语言高级课程</a>
		</li>
		<li>
			<a href="https://www.54benniao.com/java_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-java-course"></span>Java高级课程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/q2a/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-q2a"></span>一对一答疑</a>
		</li> -->
	</ul>
</div>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="../m_biancheng_default_2.html">
		<img height="26" src="../templets/new/images/logo_2.png" alt="C语言中文网" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li class="wap-yes"><a href="../m_biancheng_default_2.html">首页</a></li>
		<li><a href="../c/c_4.html">C语言教程</a></li>
		<li><a href="../cplus/cplus_2.html">C++教程</a></li>
		<li><a href="../python/python_2.html">Python教程</a></li>
		<li><a href="../java/java_2.html">Java教程</a></li>
		<li><a href="../linux_tutorial/linux_tutorial_2.html">Linux入门</a></li>
		<li><a href="../sitemap/sitemap_2.html" title="网站地图">更多&gt;&gt;</a></li>
	</ul>
	<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="iconfont"></span></span>

	<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main" class="clearfix">
	<div id="sidebar" class="toggle-target">
	<div id="contents">
		<dt><span class="iconfont iconfont-list-vertical" aria-hidden="true"></span><a href="../qt/qt_2.html">Qt教程</a></dt>
		<dd>
        	<span class="channel-num">1</span>
        	<a href="1792_2.html">Qt是什么</a>
        </dd>
<dd>
        	<span class="channel-num">2</span>
        	<a href="3876_2.html">Qt和其它GUI库的对比</a>
        </dd>
<dd>
        	<span class="channel-num">3</span>
        	<a href="3877_2.html">学习QML还是C++</a>
        </dd>
<dd>
        	<span class="channel-num">4</span>
        	<a href="3851_2.html">Qt下载</a>
        </dd>
<dd>
        	<span class="channel-num">5</span>
        	<a href="3858_2.html">Windows下安装Qt</a>
        </dd>
<dd>
        	<span class="channel-num">6</span>
        	<a href="3886_2.html">Linux下安装Qt</a>
        </dd>
<dd>
        	<span class="channel-num">7</span>
        	<a href="3901_2.html">解决cannot find -lGL错误</a>
        </dd>
<dd>
        	<span class="channel-num">8</span>
        	<a href="3866_2.html">解密Qt安装目录的结构</a>
        </dd>
<dd>
        	<span class="channel-num">9</span>
        	<a href="3868_2.html">Qt用到的开发工具</a>
        </dd>
<dd>
        	<span class="channel-num">10</span>
        	<a href="3871_2.html">Qt编程涉及的术语和名词</a>
        </dd>
<dd>
        	<span class="channel-num">11</span>
        	<a href="1804_2.html">Qt Creator的初步使用</a>
        </dd>
<dd>
        	<span class="channel-num">12</span>
        	<a href="1817_2.html">第一个Qt程序</a>
        </dd>
<dd>
        	<span class="channel-num">13</span>
        	<a href="9412_2.html">分析第一个Qt程序</a>
        </dd>
<dd>
        	<span class="channel-num">14</span>
        	<a href="vip_9651_2.html">Qt控件和事件</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">15</span>
        	<a href="vip_9652_2.html">Qt信号和槽</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">16</span>
        	<a href="vip_9653_2.html">Qt QLabel文本框</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">17</span>
        	<a href="vip_9654_2.html">Qt QPushButton按钮</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">18</span>
        	<a href="vip_9655_2.html">Qt QLineEdit单行输入框</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">19</span>
        	<a href="vip_9656_2.html">Qt QListWidget列表框</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">20</span>
        	<a href="vip_9657_2.html">Qt QTableWidget表格控件</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">21</span>
        	<a href="vip_9659_2.html">Qt QTreeWidget树形控件</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">22</span>
        	<a href="vip_9658_2.html">Qt QMessageBox消息对话框</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">23</span>
        	<a href="vip_9660_2.html">Qt布局管理详解</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">24</span>
        	<a href="vip_9661_2.html">Qt pro工程管理文件</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">25</span>
        	<a href="vip_9662_2.html">Qt自定义信号和槽</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">26</span>
        	<a href="vip_9663_2.html">Qt QFile文件操作</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">27</span>
        	<a href="vip_9664_2.html">Qt实现学生信息管理系统</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">28</span>
        	<a href="vip_9665_2.html">Qt打包程序</a><span class="iconfont iconfont-vip2"></span>
        </dd>

	</div>
</div>
	<div id="article-wrap">
		<div id="article">
			<div class="arc-info">
	<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../m_biancheng_default_2.html">首页</a> &gt; <a href="../qt/qt_2.html">Qt教程</a></span>
</div>

<div id="ggxc-position-bottom" class="ggxc-box"></div>
			<h1>Qt和其它GUI库的对比</h1>
			<div class="pre-next-page clearfix">&nbsp;</div>
			<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
			<div id="arc-body">世界上的 GUI 库多如牛毛，有的跨平台，有的专属于某个操作系统；有的只有 UI 功能，有的还融合了网络通信、多媒体处理、数据库访问等底层功能。
<h2>
	Windows 下的 GUI 库</h2>
Windows 下的 GUI 解决方案比较多：
<ul>
	<li>
		基于 <a href='../cplus/cplus_2.html' target='_blank'>C++</a> 的有 <a href='../qt/qt_2.html' target='_blank'>Qt</a>、MFC、WTL、wxWidgets、DirectUI、Htmlayout；</li>
	<li>
		基于 <a href='../csharp/csharp_2.html' target='_blank'>C#</a> 的有 WinForm、WPF；</li>
	<li>
		基于 <a href='../java/java_2.html' target='_blank'>Java</a> 的有 AWT、<a href='https://m.biancheng.net/swing/' target='_blank'>Swing</a>；</li>
	<li>
		基于 Pascal 的 有Delphi；</li>
	<li>
		基于Go语言的有 walk 和 electron；</li>
	<li>
		还有国内初露头角的 aardio；</li>
	<li>
		Visual Basic 曾经很流行，现在逐渐失去了色彩；</li>
	<li>
		如果你有 Web 开发经验，也可以基于 Webkit 或 Chromium 将网页转换为桌面程序。</li>
</ul>
<br />
没有哪一种方案能够独霸 Windows，使用比较多的编程语言是 C++、C#、Java。<br />
<br />
用 Qt 来开发 Windows 桌面程序有以下优点：
<ul>
	<li>
		简单易学：Qt 封装的很好，几行代码就可以开发出一个简单的客户端，不需要了解 Windows API。</li>
	<li>
		资料丰富：资料丰富能够成倍降低学习成本，否则你只能去看源码，关于 DirectUI、Htmlayout、aardio 的资料就很少。</li>
	<li>
		漂亮的界面：Qt 很容易做出漂亮的界面和炫酷的动画，而 MFC、WTL、wxWidgets 比较麻烦。</li>
	<li>
		独立安装：Qt 程序最终会编译为本地代码，不需要其他库的支撑，而 Java 要安装虚拟机，C# 要安装 .NET Framework。</li>
	<li>
		跨平台：如果你的程序需要运行在多个平台下，同时又希望降低开发成本，Qt 几乎是必备的。</li>
</ul>
<h4>
	Qt 和 MFC</h4>
读者经常将 MFC 和 Qt 进行对比，MFC 只能应用在 Windows 平台，而 Qt 是跨平台的，一次编写，到处运行。<br />
<br />
另外，Qt 已经封装了底层细节，学习 Qt 将会非常简单；而 MFC 只是给 Windows API 加了一层包装，不了解 Windows API 也学不好 MFC，大家普遍反映 MFC 难学。<br />
<br />
我们不能简单地说 Qt 好还是 MFC 好，两者都有用武之地；但是初学者学习 Qt 会比较简单，不用应付那些烦人的 Windows API，很快就能开发出带有漂亮界面的应用程序。
<h2>
	Linux 下的 GUI 库</h2>
Linux 下常用的 GUI 库有基于 C++ 的 Qt、GTK+、wxWidgets，以及基于 Java 的&nbsp;AWT 和 Swing。其中最著名的就是 Qt 和 GTK+：KDE 桌面系统已经将 Qt 作为默认的 GUI 库，Gnome 桌面系统也将 GTK+ 作为默认的 GUI 库。
<blockquote>
	有兴趣的读者请猛击《<a href="2912_2.html" target="_blank">Linux桌面系统</a>》了解更多关于 KDE 和 Gnome 的内容。</blockquote>
相比 GTK+，Qt 的功能更加强大，更新也很快，比较受人们追捧。<br />
<div style="text-align: center;">
	<img alt="Linux下各种GUI库对比图" src="../uploads/allimg/190530/1-1Z5301332042C_2.gif" /><br />
	图1：Linux 下各种 GUI 库对比图</div>
</div>
			<div id="ggxc-weixin-arcbottom">
	<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
	<p style="margin-top:12px; text-align:center;">
		<img src="../templets/new/images/material/qrcode_mp_4.png" alt="公众号二维码" width="160" /><br />
		<span class="col-green">微信扫码关注公众号</span>
	</p>
</div>
			<div class="pre-next-page clearfix">&nbsp;</div>
			<div id="nice-arcs" class="box-bottom">
    <h4>推荐阅读</h4>
    <ul class="clearfix">
<li><a href="niz69i_8.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_4.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_4.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="720_2.html" title="Linux命令基本格式（详解版）" target="_blank">Linux命令基本格式（详解版）</a></li>
<li><a href="1107_2.html" title="Linux logrotate命令用法详解：进行日志转储（轮替）" target="_blank">Linux logrotate命令用法详解：进行日志转储（轮替）</a></li>
<li><a href="4595_2.html" title="Go语言使用buffer读取文件" target="_blank">Go语言使用buffer读取文件</a></li>
<li><a href="6033_2.html" title="JS scrollTo()方法：设置滚动条位置" target="_blank">JS scrollTo()方法：设置滚动条位置</a></li>
<li><a href="7256_2.html" title="PHP标记（4种风格）" target="_blank">PHP标记（4种风格）</a></li>
<li><a href="vip_7714_2.html" title="深度剖析deque容器底层实现原理" target="_blank">深度剖析deque容器底层实现原理</a></li>
<li><a href="../spring_boot/yaml_2.html" title="YAML教程（快速入门版）" target="_blank">YAML教程（快速入门版）</a></li>
</ul>
</div>
		</div>
		
	</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 3876;
window.arcId = "015fZTSIbtCB2cjfqHhaiAZpO4sdi0q8HwnEDZE+YEQRQSPVowy79a33jW0";
window.typeidChain = "133";
</script>
<div id="footer" class="clearfix">
	<div class="info left">
	<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
	<p>
		<a href="8066_2.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
		<a href="8092_3.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
		<a href="8097_2.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
		<a href="9648_2.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
		<a href="8093_2.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
		<a href="../sitemap/sitemap_2.html" target="_blank" rel="nofollow">网站地图</a>
	</p>
	<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan_2.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
	</p>
	</div>
	<img id="logo_bottom" class="right" src="https://m.biancheng.net/templets/new/images/logo_bottom_2.gif" alt="底部Logo" />
	<span id="return-top"><b>↑</b></span>
</div>

<div id="addweixin-widget">
	<p>
		<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://m.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
		<img src="https://m.biancheng.net/templets/new/images/material/qrcode_mp_4.png" alt="微信交流群" width="120" />
		<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
	</p>
	<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>

<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";
window.prePageURL = "/view/1792.html";
window.nextPageURL = "/view/3877.html";
</script>

<script src="https://m.biancheng.net/templets/new/script/jquery1.12.4.min_2.js"></script>
<script src="https://m.biancheng.net/templets/new/script/common_2.js"></script>
<!-- 51la V6 -->
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<!-- 51la V5 -->
<!-- <span style="display: none;"><script type="text/javascript" src="https://js.users.51.la/21368967.js"></script></span> -->
</body>
</html>