<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>C++ vector迭代器及用法</title>
<meta name="description" content="正如期望的那样，vector 容器实现了所有可以返回迭代器的成员函数，包括 const 迭代器和 non-const 迭代器，以及反向迭代器。 vector 容器的迭代器是随机访问迭代器。 当然，也可以通过全" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>C++ vector迭代器及用法</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">正如期望的那样，vector 容器实现了所有可以返回迭代器的成员函数，包括 const 迭代器和 non-const 迭代器，以及反向迭代器。<br />
<br />
<span style="color:#b22222;">vector 容器的迭代器是随机访问迭代器。</span>当然，也可以通过全局函数获取它们。vector 有成员函数 push_back()，所以能够通过使用 back_insert_iterator 来添加新的值。<br />
<br />
从前面章节了解到，可以通过调用全同的 back_inserter() 函数来获取一个后向插入迭代器。无法在 vector 容器中使用 front_insert_iterator，这需要 vector 有成员函数 push_front()，但是 vector 容器并没有定义这个函数。<br />
<br />
可以通过演示如何用 copy() 算法来添加元素，向你展示怎样在 vector 中使用后向插入迭代器。copy() 的头两个参数是两个迭代器，指定了复制元素的范围，第三个参数指定了这些元素存放的位置。头两个参数要求是输入迭代器，所以可以接受任何其他类别的迭代器；显然第三个参数必须是一个输出迭代器。这里有一个示例：<br />
<pre class="cpp">
std::vector&lt;double&gt; data {32.5, 30.1, 36.3, 40.0, 39.2};
std::cout &lt;&lt; &quot;Enter additional data values separated by spaces or Ctrl+Z to end:&quot; &lt;&lt; std::endl;

std::copy(std::istream_iterator&lt;double&gt;(std::cin) , std::istream_iterator&lt;double&gt;(),std::back_inserter(data));
std::copy(std::begin(data), std::end(data),std::ostream_iterator&lt;double&gt; (std:: cout,&quot; &quot;))</pre>
用初始化列表生成 data 容器。第一次调用 copy() 时，使用一个 istream_iterator 对象作为第一个参数，它能够从标准输入流中读取 double 类型的值。第二个参数是一个流的结束迭代器，当识别到流结束时，istream_iterator 会变为结束迭代器；当从键盘输入 <code>Ctrl+Z</code> 时, 这也会发生在 cin 中。<br />
<br />
copy() 的第三个参数是读入值的存放位置，是 data 容器的一个 back_insert_iterator，它是由 back_inserter() 函数返回的，因此从 cin 读出的值都被作为新元素添加到 data 容器的后面。最后一次调用 copy()，会将 data 容器的所有元素复制到 cout；这是通过将一个 ostream_iterator 对象作为目的地址来实现的。让我们使用 vector 容器的迭代器来尝试一个完整的示例：
<pre class="cpp">
#include &lt;iostream&gt;
#include &lt;string&gt;
#include &lt;algorithm&gt;
#include &lt;vector&gt;
u<a href='https://c.biancheng.net/ref/sin.html' target='_blank'>sin</a>g std::string;
using std::vector;

int main()
{
    vector&lt;string&gt; words;                     // Stores words to be sorted
    words.reserve(10);                        // Allocate some space for elements
    std::cout &lt;&lt; &quot;Enter words separated by spaces. Enter Ctrl+Z on a separate line to end:&quot; &lt;&lt; std::endl;

    std::copy(std::istream_iterator &lt;string&gt; {std::cin}, std::istream_iterator &lt;string&gt; {},std::back_inserter(words));

    std::cout &lt;&lt; &quot;Starting sort.&quot; &lt;&lt; std::endl;
    bool out_of_order {false};
    while (true)
    {
        for (auto first = start + 1; first != last; ++first)
        {
            if (*(first - 1) &gt; *first)
            { // Out of order so swap them
                std::swap(*first, *(first - 1));
                out_of_order = true;
            }
        }
        if (!out_of_order)                      // If they are in order (no swaps necessary)...
            break;                                // ...we are done...
        out_of_order = false;                   // ...otherwise, go round again.
    }
 
    std::cout &lt;&lt; &quot;your words in ascending sequence:&quot; &lt;&lt; std::endl;
    std::copy(std::begin(words), std::end(words), std::ostream_iterator &lt; string &gt; {std::cout, &quot; &quot;});
    std::cout &lt;&lt; std::endl;

    // Create a new vector by moving elements from words vector
    vector&lt;string&gt; words_copy {std::make_move_iterator(std::begin(words)),std::make_move_iterator(std::end(words))};
    std::cout &lt;&lt; &quot;\nAfter moving elements from words, words_copy contains:&quot; &lt;&lt; std::endl;
    std::copy(std::begin(words_copy), std::end(words_copy),  std::ostream_iterator &lt; string &gt; {std::cout, &quot; &quot;});
    std::cout &lt;&lt; std::endl;

    // See what&#39;s happened to elements in words vector...
    std::cout &lt;&lt; &quot;\nwords vector has &quot; &lt;&lt; words.size() &lt;&lt; &quot; elements\n&quot;;
    if (words.front().empty())
    std::cout &lt;&lt; &quot;First element is empty string object.&quot; &lt;&lt; std::endl;

    std::cout &lt;&lt; &quot;First element is \&quot;&quot; &lt;&lt; words.front() &lt;&lt; &quot;\&quot;&quot; &lt;&lt; std::endl;
}</pre>
示例输出如下：
<p class="info-box">
Enter words separated by spaces. Enter Ctrl+Z on a separate line to end:<br />
one two three four five six seven eight<br />
^Z<br />
<br />
Starting sort.<br />
your words in ascending sequence:<br />
eight five four one seven six three two<br />
<br />
After moving elements from words, words_copy contains:<br />
eight five four one seven six three two<br />
<br />
words vector has 8 elements<br />
First element is empty string object.<br />
First element is &quot;&quot;</p>
该程序使用流迭代器从标准输入流读取单词，然后将其作为字符串对象写入一个 vector 容器。可以输入任意个数的单词。容器会在必要时自动增长。这里调用容器的 reserve()&nbsp; 函数来为 10 个元素分配内存。一个好主意是，每次只分配大致需要的内存，这会减少小幅度分配内存所带来的开销。<br />
<br />
back_inserter() 生成了一个 back_insert_iterator，它能够调用容器的成员函数 push_back()，来将每一个字符串对象作为新元素添加到容器中。<br />
<br />
copy() 算法的头两个参数是输入流迭代器，其中的第二个参数是结束流迭代器。当从键盘输入 <code>Ctrl+Z</code> 时，流迭代器就会匹配到它，这相当于文件流的 EOF。<br />
<br />
这里对 vector 元素进行排序的代码展示了迭代器的使用。稍后你会看到，sort() 算法可以只用一条语句就完成相同的工作。这里的排序算法是十分简单的冒泡排序，通过遍历元素来反复排序。在每一趟排序中，如果临近的元素无序，就会互相交换。swap() 函数定义在 &lt;algorithm.h&gt; 头文件中，可以高效地交换任何类型的元素。如果在一趟排序中，所有元素都没有交换，那么所有元素已经是升序序列了。最外层的循环是一个由迭代器控制的 <a href='172.html' target='_blank'>for 循环</a>。first 的初始值是 begin(words)+1，它指向 vector 的第二个元素。从第二个元素开始， 是为了确保能够使用 first-1,这样可以保证两个连续元素的比较总是合法。当 first 自增到 end(words) 时，一趟排序就会结束。<br />
<br />
对 words vector 中的内容排序后的结果，可以通过使用 copy() 算法将全部元素转移到输出流迭代器来显示。转移元素的范围是由 begin() 和 end() 返回的迭代器指定的，所以会输出全部元素。ostream_iterator 构造函数的参数是数据流向的目的地址，分隔字符串会分隔每一个输出的值。<br />
<br />
main() 的最后一部分代码展示了如何使用移动迭代器，这里移动了所有元素。在这个操作之后，从程序输出可以发现，words 中包含的字符串都变成了空字符串。移动一个元素会留下一个由无参字符串构造函数创建的对象。一般来说，移动一个是类对象的元素，会导致这个元素处于一种不确定的状态，因此我们不应该再去使用这个对象。<br />
<br />
main() 中的排序代码其实并不依赖存放元素的容器。它只要求迭代器指定的元素能够支持排序算法的运算。<a href='../stl/stl.html' target='_blank'>STL</a> 有一个 sort() 函数模板，它远比我们能想出的任何方法都好。有时候，我们也可以定义自己的函数模板，去对能够排序的任意类型元素进行排序：
<pre class="cpp">
template&lt;typename RandomIter&gt;
void bubble_sort(RandomIter start, RandomIter last)
{
    std::cout &lt;&lt; &quot;Starting sort.&quot; &lt;&lt; std::endl;
    bool out_of_order {false};                // true when values are not in order
    while (true)
    {
        for (auto first = start + 1; first != last; ++first)
        {
            if (*(first - 1) &gt; *first)
            { // Out of order so swap them
                std::swap(*first, *(first - 1));
                out_of_order = true;
            }
        }
        if (!out_of_order)                      // If they are in order (no swaps necessary)...
            break;                                // ...we are done...
        out_of_order = false;                   // ...otherwise, go round again.
    }
}</pre>
模板类型参数是迭代器类型。因为 for 循环中迭代器算术操作的原因，bubble_sort() 算法需要使用随机访问迭代器。只要容器可以提供随机访问迭代器，算法就可以对这个容器的内容进行排序；这也包括标准数组和字符串对象。如果在前面的 main() 中使用此代码， 就可以使用下面的语句替换掉 main() 中对 words 进行排序的部分：<br />
<pre class="cpp">
bubble_sort(std::begin(words), std::end(words)); // Sort the words array</pre>
定义一个只用迭代器实现操作的函数模板，会使这个函数的用法变得更灵活。任何处理一段元素的算法都可以用这种方式生成。<br />
</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="592.html" title="C++ equal(STL equal)比较算法详解" target="_blank">C++ equal(STL equal)比较算法详解</a></li>
<li><a href="2230.html" title="C++ const成员变量和成员函数（常成员函数）" target="_blank">C++ const成员变量和成员函数（常成员函数）</a></li>
<li><a href="5916.html" title="C语言学生信息管理系统演示和说明（文件版）" target="_blank">C语言学生信息管理系统演示和说明（文件版）</a></li>
<li><a href="7751.html" title="C++ 11是什么，C++ 11标准的由来" target="_blank">C++ 11是什么，C++ 11标准的由来</a></li>
<li><a href="../mybatis/what-is-mybatis.html" title="MyBatis是什么" target="_blank">MyBatis是什么</a></li>
<li><a href="../redis2/zinterstore.html" title="Redis ZINTERSTORE命令" target="_blank">Redis ZINTERSTORE命令</a></li>
<li><a href="llw4ib8.html" title="CSS @layer规则详解" target="_blank">CSS @layer规则详解</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 420;
window.arcId = "166axAtf1/OuM8TtRrmE5Beqw8kmAAXERxQD3w0aCcwTF1b2vM4wW/keHg";
window.typeidChain = "120|119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>