<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>C语言typedef：自定义类型</title>
<meta name="description" content="C语言中的 typedef 是一个非常重要的关键字，它能够定义自己的数据类型，使得代码更加易于阅读和理解。 typedef 关键字的作用是定义新的数据类型，通过这种方式，程序员可以为现有的" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>C语言typedef：自定义类型</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">C语言中的 typedef 是一个非常重要的关键字，它能够定义自己的数据类型，使得代码更加易于阅读和理解。<br />
<br />
typedef 关键字的作用是定义新的数据类型，通过这种方式，程序员可以为现有的数据类型（如int，float等）创建新的名称，方便在程序中使用。在本文中，我们将会详细讨论typedef的使用方法和示例，以帮助读者更好地理解这个关键字。<br />
<h2>
基本语法</h2>
typedef 关键字的语法非常简单，其基本语法如下所示：<br />
<p class="info-box">
typedef 原类型 新类型名;</p>
其中，原类型可以是任何一种现有的 C语言数据类型，比如 int、float、char 等等。新类型名则是程序员自己定义的数据类型名称。使用 typedef 时，必须要注意将原类型放在关键字 typedef 后面，而将新类型名放在分号之前。<br />
<h2>
typedef的作用</h2>
typedef 关键字可以让程序员使用自定义的数据类型名称来替代现有的数据类型名称。这个功能非常有用，因为它可以让程序员更加清晰地表达自己的意图。<br />
<br />
在实际编程中，有很多情况下我们需要使用比较复杂的数据类型，比如结构体、指针等等。如果每次都使用原始的数据类型名称来进行定义和声明，那么代码就会变得非常冗长和难以理解。而通过 typedef，程序员可以为这些复杂的数据类型定义一个简洁的名称，方便在代码中使用。<br />
<br />
下面是一些 typedef 的常见用途：<br />
<h4>
1) 为结构体定义新的名称</h4>
结构体是 C语言中非常常见的一种数据类型，它可以用来组织一组不同类型的变量，形成一个新的复合数据类型。<br />
<br />
在使用结构体时，经常需要使用结构体的名称来进行定义和声明，这样会使代码变得非常冗长。通过 typedef，程序员可以为结构体定义一个新的名称，方便在代码中使用。<br />
<br />
下面是一个例子，其中我们使用 typedef 为结构体定义了一个新的名称 student_t：<br />
<pre class="c">
#include &lt;stdio.h&gt;

typedef struct {
    int id;
    char name[20];
    float score;
} student_t;

int main() {
    student_t student;
    student.id = 1;
    sprintf(student.name, &quot;Tom&quot;);
    student.score = 85.5;
    printf(&quot;id=%d, name=%s, score=%.1f\n&quot;, student.id, student.name, student.score);
    return 0;
}</pre>
运行结果：<br />
<p class="info-box">
id=1, name=Tom, score=85.5</p>
可以看到，我们在代码中使用了新的数据类型名称 student_t 来代替原有的结构体名称，代码更加简洁易读。<br />
<h4>
2) 为指针类型定义新的名称</h4>
在 C语言中，指针是非常重要的数据类型，它可以让我们通过地址来访问变量，从而实现更加高效的编程。然而，在使用指针时，我们经常需要写一些复杂的语法，比如 int*、float* 等等。通过 typedef，程序员可以为指针类型定义一个新的名称，使得代码更加清晰易懂。<br />
<br />
下面是一个例子，其中我们使用 typedef 为指向整型变量的指针类型定义了一个新的名称 int_ptr_t：<br />
<pre class="c">
#include &lt;stdio.h&gt;

typedef int* int_ptr_t;

int main() {
    int x = 10;
    int_ptr_t p = &amp;x;
    printf(&quot;x=%d, *p=%d\n&quot;, x, *p);
    return 0;
}</pre>
运行结果：<br />
<p class="info-box">
x=10, *p=10</p>
可以看到，我们在代码中使用了新的数据类型名称 int_ptr_t 来代替原有的指针类型名称 int*，代码更加简洁易读。<br />
<h4>
3) 为函数指针定义新的名称</h4>
函数指针是 C语言中非常重要的一种数据类型，它可以让我们将函数作为参数传递给其他函数，从而实现更加灵活的编程。然而，在使用函数指针时，我们经常需要写一些复杂的语法，比如<code> int (*p)(int, int) </code>等等。通过 typedef，程序员可以为函数指针定义一个新的名称，使得代码更加清晰易懂。<br />
<br />
下面是一个例子，其中我们使用 typedef 为指向两个整型变量并返回一个整型变量的函数指针类型定义了一个新的名称 func_t：<br />
<pre class="c">
#include &lt;stdio.h&gt;

typedef int (*func_t)(int, int);

int add(int x, int y) {
    return x + y;
}

int main() {
    func_t p = add;
    int result = (*p)(3, 4);
    printf(&quot;result=%d\n&quot;, result);
    return 0;
}</pre>
运行结果：<br />
<p class="info-box">
result=7</p>
可以看到，我们在代码中使用了新的数据类型名称 func_t 来代替原有的函数指针类型名称<code> int (*)(int, int)</code>，代码更加简洁易读。<br />
<h2>
typedef的注意事项</h2>
在使用 typedef 时，有一些注意事项需要程序员特别注意。下面是一些常见的问题：<br />
<h4>
1) 只有原类型</h4>
在使用 typedef 时，必须要指定新类型名，否则会出现编译错误。比如下面这个例子就是错误的：<br />
<pre class="c">
typedef int; // 编译错误</pre>
<h4>
2) 不要滥用typedef</h4>
typedef 虽然有很多好处，但是过度使用也会导致代码变得难以维护。因此，在使用 typedef 时，要遵循简单明了、易于理解的原则，避免定义过于复杂的新类型名。<br />
<h4>
3) 可以多次定义</h4>
在使用 typedef 时，可以多次定义同一个新类型名，但是每次定义时必须保证它们的原类型一致。比如下面这个例子就是合法的：<br />
<pre class="c">
typedef int int_t;
typedef int int_t;</pre>
<h4>
4) typedef的作用域</h4>
typedef 定义的新类型名只在当前作用域内有效，如果在另外一个作用域中需要使用，必须重新定义。比如下面这个例子就是错误的：<br />
<pre class="c">
#include &lt;stdio.h&gt;

int main() {
    typedef int int_t;
    printf(&quot;%d\n&quot;, sizeof(int_t)); // 编译错误
    return 0;
}

typedef float float_t; // 编译错误</pre>
<h4>
5) 避免与已有类型名冲突</h4>
在使用 typedef 时，要避免使用已有的类型名，否则会导致编译错误。比如下面这个例子就是错误的：<br />
<pre class="c">
typedef int size_t; // 编译错误</pre>
因为 size_t 是 C语言中已有的类型名，我们不能再使用它来定义新类型名。<br />
<h2>
总结</h2>
typedef 是 C语言中一个非常有用的关键字，它可以让我们定义新的数据类型名称，从而使得代码更加简洁易读。通过 typedef，我们可以为结构体、指针、函数指针等数据类型定义新的名称，方便我们在代码中使用。<br />
<br />
在使用 typedef 时，我们需要注意一些细节，比如新类型名的命名、作用域、不要与已有类型名冲突等等，从而保证代码的正确性和可读性。</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="314_2.html" title="IEEE 754浮点数标准详解" target="_blank">IEEE 754浮点数标准详解</a></li>
<li><a href="8186.html" title="Python unittest模块实现单元测试" target="_blank">Python unittest模块实现单元测试</a></li>
<li><a href="../dll/vip_8706.html" title="Windows下动态链接库的创建和使用" target="_blank">Windows下动态链接库的创建和使用</a></li>
<li><a href="../redis2/append.html" title="Redis APPEND命令" target="_blank">Redis APPEND命令</a></li>
<li><a href="../pandas/timedelta.html" title="Padans Timedelta时间差" target="_blank">Padans Timedelta时间差</a></li>
<li><a href="9354.html" title="JS Number（数字）对象" target="_blank">JS Number（数字）对象</a></li>
<li><a href="../c/strtoul.html" title="C语言strtoul()：将字符串转换为正整数" target="_blank">C语言strtoul()：将字符串转换为正整数</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 9937;
window.arcId = "0834RQp75kHv7rFj76+BYYUgN1sCmXJHSbjnwMZzGssg2uhMllMQIIasN0c";
window.typeidChain = "131|119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>