<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>JS获取字符串长度（length属性）</title>
<meta name="description" content="字符串的值 使用字符串的toString()方法可以返回字符串的字符表示，使用valueof()方法可以返回字符串的值。两个方法的返回值始终相同，所以一般不直接调用这两个方法、 示例1 下面示" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>JS获取字符串长度（length属性）</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">在 <a href='../js/js.html' target='_blank'>JavaScript</a> 中，使用字符串的&nbsp;<strong>length</strong>&nbsp;属性可以读取字符串的长度。长度以字符为单位，该属性为只读属性。<br />
<br />
下面代码使用字符串的&nbsp;length&nbsp;属性获取字符串的长度。
<pre class="javascript">
var s = &quot;String 类型长度&quot;;  //定义字符串
console.log(s.length);  //返回10个字符</pre>
<br />
<a href='../java/java_3.html' target='_blank'>Java</a>Script&nbsp;支持的字符包括单字节、双字节两种类型，为了精确计算字符串的字节长度，可以采用下面方法来计算。
<h4>
扩展阅读</h4>
为 String&nbsp;扩展原型方法&nbsp;byteLength()，该方法将枚举每个字符，并根据字符编码，判断当前字符是单字节还是双字节，然后统计字符串的字节长度。
<pre class="javascript">
String.prototype.byteLength = function() {  //获取字符串的字节数，扩展string类型方法
    var b = 0; 1 = this.length;  //初始化字节数递加变量并获取字符串参数的字符个数
    if(1) {  //如果存在字符串，则执行计划
        for(var i = 0; i &lt; 1; i ++) {  //遍历字符串，枚举每个字符
            if(this.charCodeAt(i) &gt; 255) {  //字符编码大于255，说明是双字节字符
                b += 2;  //则累加2个
            }else {
                b ++;  //否则递加一次
            }
        }
        return b;  //返回字节数
    } else {
        return 0;  //如果参数为空，则返回0个
    }
}</pre>
应用原型方法：
<pre class="javascript">
var s = &quot;String 类型长度&quot;;  //定义字符串直接量
console.log(s.byteLength());  //返回14</pre>
<br />
在检测字符是否为双字节或单字节时，下面再提供两种设计思路。
<pre class="javascript">
for (var i = 0; i &lt; 1; i ++) {
    var c = this.charAt(i);
    if (escape (c).length &gt; 4) {
        b += 2;
    } else if (c != &quot;\r&quot;) {b ++; }
}</pre>
或者使用正则表达式进行字符编码验证。
<pre class="javascript">
for (var i = 0; i &lt; 1; i ++) {
    var c = this.charAt(i);
    if (/^[\u0000-\u00ff]$/.test(c)) {
        b ++;
    } else {b += 2; }
}</pre>
</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="964.html" title="Linux LANG变量设置：定义系统的主语系环境" target="_blank">Linux LANG变量设置：定义系统的主语系环境</a></li>
<li><a href="1991.html" title="C语言指针变量的定义和使用（精华）" target="_blank">C语言指针变量的定义和使用（精华）</a></li>
<li><a href="7252.html" title="MySQL root修改普通用户密码" target="_blank">MySQL root修改普通用户密码</a></li>
<li><a href="../pandas/class-object.html" title="Python Pandas分类对象" target="_blank">Python Pandas分类对象</a></li>
<li><a href="9860.html" title="电容是什么" target="_blank">电容是什么</a></li>
<li><a href="jbr3inb.html" title="JDK环境变量配置（图解）" target="_blank">JDK环境变量配置（图解）</a></li>
<li><a href="nb355qj.html" title="MATLAB是什么" target="_blank">MATLAB是什么</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 5547;
window.arcId = "0c7czMwqVpTZ0x0LNqZH46WKheGbPsVyGHkv7zOTOv25oJ8MTJg5Dk5tWNk";
window.typeidChain = "309|119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>