<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>JS setAttribute()方法：设置元素的属性值</title>
<meta name="description" content="使用元素的 setAttribute() 方法可以设置元素的属性值。用法如下： setAttribute(name, value) 参数 name 和 value 分别表示属性名称和属性值。属性名和属性值必须以字符串的形式进行传递。如果元" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>JS setAttribute()方法：设置元素的属性值</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">在 <a href='../js/js.html' target='_blank'>JavaScript</a> 中，使用元素的 setAttribute() 方法可以设置元素的属性值。用法如下：
<p class="info-box">
setAttribute(name, value)</p>
参数 name 和 value 分别表示属性名称和属性值。属性名和属性值必须以字符串的形式进行传递。如果元素中存在指定的属性，它的值将被刷新；如果不存在，则&nbsp;setAttribute() 方法将为元素创建该属性并赋值。
<h4>
示例1</h4>
下面示例分别为页面中 div 元素设置 title 属性。
<pre class="javascript">
&lt;div id=&quot;red&quot;&gt;红盒子&lt;/div&gt;
&lt;div id=&quot;blue&quot;&gt;蓝盒子&lt;/div&gt;
&lt;script&gt;
    var red = document.getElementById(&quot;red&quot;);  //获取红盒子的引用
    <span style="background-color: initial;">var blue= document.getElementById(&quot;blue&quot;);  //获取蓝盒子的引用
</span>    red.setAttribute(&quot;title&quot;, &quot;这是红盒子&quot;);  //为红盒子对象设置title属性和值
    blue.setAttribute(&quot;title&quot;, &quot;这是蓝盒子&quot;);  //为蓝盒子对象设置title属性和值
&lt;/script&gt;</pre>
<h4>
示例2</h4>
下面示例定义了一个文本节点和元素节点，并为一级标题元素设置 title 属性，最后把它们添加到文档结构中。
<pre class="javascript">
var hello = document.createTextNode(&quot;Hello World!&quot;);  //创建一个文本节点
var h1 = document.createElement(&quot;h1&quot;);  //创建一个一级标题
h1.setAttribute(&quot;title&quot;, &quot;你好，欢迎光临！&quot;);  //为以及标题定义title 属性
h1.appendChild(hello);  //把文本节点增加到一级标题中
document.body.appendChild(h1);  //把一级标题增加到文档</pre>
<h4>
示例3</h4>
也可以使用快捷方法设置 HTML DOM 文档中元素的属性值。
<pre class="javascript">
&lt;label id=&quot;label1&quot;&gt;文本框：
    &lt;input type=&quot;text&quot; name=&quot;textfield&quot; id=&quot;textfield&quot; /&gt;
&lt;/label&gt;
&lt;script&gt;
    var label1 = document.getElementById(&quot;label1&quot;);
    label.className = &quot;class1&quot;;
    label.htmlFor = &quot;textfield&quot;;
&lt;/script&gt;</pre>
DOM 支持使用 getAttribute() 和 setAttribute() 方法读写自定义属性，不过 IE 6.0 及其以下版本浏览器对其的支持不是很完善。
<h4>
示例4</h4>
直接使用 className 添加类样式，会覆盖掉元素原来的类样式。这时可以采用叠加的方式添加类。
<pre class="javascript">
&lt;div id=&quot;red&quot;&gt;红盒子&lt;/div&gt;
&lt;script&gt;
    var red = document.getElementById(&quot;red&quot;);
    red.className = &quot;red&quot;;
    red.className += &quot;blue&quot;;
&lt;/script&gt;</pre>
<h4>
示例5</h4>
使用叠加的方式添加类也存在问题，这样容易添加大量重复的类。为此，定义一个检测函数，判断元素是否包含指定的类，然后再决定是否添加类。
<pre class="javascript">
&lt;script&gt;
    function hasClass (element, className) {  //检测类名函数
        var reg = new RegExp(&#39;(\\s|^)&#39; + className + &#39;(\\s|$)&#39;);
        return reg.test(element.className);  //使用正则检测是否有相同的样式
    }
    function addClass (element, className) {  //添加类名函数
        if (! hasClass (element, className))
            element.className += &#39; &#39; + className;
    }
&lt;/script&gt;
&lt;div id=&quot;red&quot;&gt;红盒子&lt;/div&gt;
&lt;script&gt;
    var red = document.getElementById(&quot;red&quot;);
    addClass(red, &#39;red&#39;);
    addClass(red, &#39;blue&#39;);
&lt;/script&gt;</pre>
</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="1747.html" title="分析第一个C语言程序" target="_blank">分析第一个C语言程序</a></li>
<li><a href="vip_2017.html" title="C语言空指针NULL以及void指针" target="_blank">C语言空指针NULL以及void指针</a></li>
<li><a href="2397.html" title="Python导入模块，Python import用法（超级详细）" target="_blank">Python导入模块，Python import用法（超级详细）</a></li>
<li><a href="7232.html" title="MySQL视图是什么？" target="_blank">MySQL视图是什么？</a></li>
<li><a href="vip_8357.html" title="MySQL设置默认字符集和校对规则" target="_blank">MySQL设置默认字符集和校对规则</a></li>
<li><a href="../sql/insert-into.html" title="SQL INSERT INTO语句：插入数据" target="_blank">SQL INSERT INTO语句：插入数据</a></li>
<li><a href="../pillow/image-resizing.html" title="Pillow图像缩放操作" target="_blank">Pillow图像缩放操作</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 5924;
window.arcId = "6221E5O9+Q7/m5rZ/U7IzVBpEzZP1FpWS+ot4o1fPjlE9kJlQ5OWssDWd5M";
window.typeidChain = "309|119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>