<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>Java注释（单行注释+多行注释+文档注释）</title>
<meta name="description" content="真正开发一个应用程序，大多情况下都是团队合作。所以，在编写程序时，为了使代码更易于阅读，通常会在实现功能的同时为代码加一些注释。 注释是对程序的某个功能模块或者某行" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>Java注释（单行注释+多行注释+文档注释）</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">真正开发一个应用程序，大多情况下都是团队合作。所以，在编写程序时，为了使代码更易于阅读，通常会在实现功能的同时为代码加一些注释。<br />
<br />
注释是对程序的某个功能模块或者某行代码的解释说明，以便其他人能轻松地阅读代码，了解其意图。<br />
<br />
Java 程序同样需要添加必要的注释，以增强可读性，这些注释只在 Java 源文件中有效，在编译程序时，编译器会自动忽略这些注释信息，不会将其编译到 class 字节码文件中去。<br />
<br />
另外，注释还可以屏蔽一些暂时不用的语句，等需要时直接将此语句的注释取消即可。例如，在调试代码时，彻底删除代码可能会误删，造成程序彻底瘫痪，这时候使用注释就显得异常轻松了。<br />
<br />
根据功能的不同，Java语言提供了如下3种注释方式。
<h2>
1. 单行注释</h2>
用于对程序的某一行代码进行解释。在注释内容前面加双斜杠<code>//</code>，Java 编译器会忽略掉这一行双斜杠以后的信息，并且不会对其他代码造成影响，使用比较灵活。<br />
<br />
单行注释一般用来对声明的变量、一行程序的作用进行简要说明。<br />
<br />
Java 单行注释的具体示例如下：
<pre class="java" showenum="false" shownum="false">
String tea_year = nul1;  // 定义一个String字符串，并为其赋值</pre>
<h2>
2. 多行注释</h2>
用于注释内容有多行的情况。在注释内容前面以单斜杠加一个星号<code>/*</code>开头，并在注释内容末尾以一个星号加单斜杠<code>*/</code>结束，常用于注释掉暂时不用的代码、说明方法的功能等。<br />
<br />
Java 多行注释的具体示例如下：
<pre class="java">
public class JavaaMultiline{  // 定义一个类
    int age;  // 定义一个变量
    /**
      * 主方法，程序的入口地址
      */
    public static void main(String[]args){
        System.out.println(&quot;多行注释&quot;);
    }
}</pre>
<h2>
3. 文档注释</h2>
用于对程序的结构、方法和属性等进行说明，以单斜杠加两个星号<code>/**</code>开头，并以一个星号加单斜杠<code>*/</code>结束。<br />
<br />
在实际开发中，开发人员可以使用 javadoc 命令将文档注释内容提取生成正式的 HTML 格式的帮助文档。对于初学者而言，文档注释并不是很重要，了解即可。<br />
<br />
Java 文档注释的具体示例如下：
<pre class="java">
/**
*作者：王小明
*公司：中国某不知名公司
*功能：文档注释讲解
*/
public class JavaDoc{  // 定义一个类
    int age;  // 定义一个变量
    /**
      * 主方法，程序的入口地址
      */
    public static void main(String[]args){
        System.out.println(&quot;文档注释&quot;);
    }
}</pre>
<h4>
知识点拨</h4>
javadoc 是 API 文档生成器，该工具解析一组 Java 源文件中的声明与文档注释，生成一组 HTML 页面，描述这些源程序中定义的类、内部类、接口、构造方法、成员变量等，JDK 的 API 文档就是 javadoc 工具生成的。<br />
</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="880.html" title="Linux文件系统详解" target="_blank">Linux文件系统详解</a></li>
<li><a href="1044.html" title="Java try catch语句" target="_blank">Java try catch语句</a></li>
<li><a href="../mysql/time_to_sec.html" title="MySQL TIME_TO_SEC函数：将时间转换为秒值" target="_blank">MySQL TIME_TO_SEC函数：将时间转换为秒值</a></li>
<li><a href="vip_3418.html" title="迪杰斯特拉算法求最短路径（C语言详解版）" target="_blank">迪杰斯特拉算法求最短路径（C语言详解版）</a></li>
<li><a href="4284.html" title="Go语言error接口：返回错误信息" target="_blank">Go语言error接口：返回错误信息</a></li>
<li><a href="../ml_alg/env.html" title="Python机器学习环境搭建" target="_blank">Python机器学习环境搭建</a></li>
<li><a href="../springcloud/open-feign.html" title="OpenFeign：Spring Cloud声明式服务调用组件（非常详细）" target="_blank">OpenFeign：Spring Cloud声明式服务调用组件（非常详细）</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 10101;
window.arcId = "fdf40aUP0jAOma71Y7G8sGRtztACyN9vqRpYwonCn2Lv8lzKU3IjPE5GIO5L";
window.typeidChain = "192|119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>