<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>Java Object类详解</title>
<meta name="description" content="Object 是 Java 类库中的一个特殊类，也是所有类的父类。也就是说，Java 允许把任何类型的对象赋给 Object 类型的变量。当一个类被定义后，如果没有指定继承的父类，那么默认父类就是" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="iconfont"></span></span>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main" class="clearfix">
<div id="sidebar" class="toggle-target">
<div id="contents">
<dt><span class="iconfont iconfont-list-vertical" aria-hidden="true"></span><a href="../java/java_3.html">Java教程</a></dt>
<dd>
<span class="channel-num">1</span>
<a href='../java/10/10.html'>Java入门基础及环境搭建</a>
</dd>
<dd>
<span class="channel-num">2</span>
<a href='../java/20/20.html'>Java程序设计基础</a>
</dd>
<dd>
<span class="channel-num">3</span>
<a href='../java/30/30.html'>Java流程控制语句</a>
</dd>
<dd>
<span class="channel-num">4</span>
<a href='../java/40/40.html'>Java字符串处理</a>
</dd>
<dd>
<span class="channel-num">5</span>
<a href='../java/50/50.html'>Java数字和日期处理</a>
</dd>
<dd class="this"> <span class="channel-num">6</span> <a href="../java/60/60.html">Java内置包装类</a> </dd><dl class="dl-sub"><dd>6.1 <a href="6119.html">Java包装类、装箱和拆箱</a></dd><dd>6.2 <a href="6587.html">Java Object类详解</a></dd><dd>6.3 <a href="890.html">Java Integer类</a></dd><dd>6.4 <a href="892.html">Java Float类</a></dd><dd>6.5 <a href="894.html">Java Double类</a></dd><dd>6.6 <a href="895.html">Java Number类</a></dd><dd>6.7 <a href="899.html">Java Character类</a></dd><dd>6.8 <a href="901.html">Java Boolean类</a></dd><dd>6.9 <a href="902.html">Java Byte类</a></dd><dd>6.10 <a href="904.html">Java System类</a></dd></dl>
<dd>
<span class="channel-num">7</span>
<a href='../java/70/70.html'>Java数组处理</a>
</dd>
<dd>
<span class="channel-num">8</span>
<a href='../java/80/80.html'>Java类和对象</a>
</dd>
<dd>
<span class="channel-num">9</span>
<a href='../java/90/90.html'>Java继承和多态</a>
</dd>
<dd>
<span class="channel-num">10</span>
<a href='../java/100/100.html'>Java异常处理</a>
</dd>
<dd>
<span class="channel-num">11</span>
<a href='../java/110/110.html'>Java集合、泛型和枚举</a>
</dd>
<dd>
<span class="channel-num">12</span>
<a href='../java/120/120.html'>Java反射机制</a>
</dd>
<dd>
<span class="channel-num">13</span>
<a href='../java/130/130.html'>Java输入/输出流</a>
</dd>
<dd>
<span class="channel-num">14</span>
<a href='../java/java/135/135.html'>Java注解</a>
</dd>
</div>
</div>
<div id="article-wrap">
<div id="article">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; <a href="../java/java_3.html">Java教程</a> &gt; <a href="../java/60/60.html">Java内置包装类</a></span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>Java Object类详解</h1>
<div class="pre-next-page clearfix">&nbsp;</div>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body"><span style="color:#b22222;">Object 是 <a href='../java/java_3.html' target='_blank'>Java</a> 类库中的一个特殊类，也是所有类的父类。也就是说，Java 允许把任何类型的对象赋给 Object 类型的变量。当一个类被定义后，如果没有指定继承的父类，那么默认父类就是 Object 类。</span>因此，以下两个类表示的含义是一样的。
<pre class="info-box">
public class MyClass{&hellip;}</pre>
等价于
<pre class="info-box">
public class MyClass extends Object {&hellip;}</pre>
<br />
由于 Java 所有的类都是 Object 类的子类，所以任何 Java 对象都可以调用 Object 类的方法。常见的方法如表 1 所示。<br />
<br />
<table border="1">
<caption>
表 1 Object 类的常用方法</caption>
<tbody>
<tr>
<th>
方法</th>
<th>
说明</th>
</tr>
<tr>
<td>
Object clone()</td>
<td>
创建与该对象的类相同的新对象</td>
</tr>
<tr>
<td>
boolean equals(Object)</td>
<td>
比较两对象是否相等</td>
</tr>
<tr>
<td>
void finalize()</td>
<td>
当垃圾回收器确定不存在对该对象的更多引用时，对象垃圾回收器调用该方法</td>
</tr>
<tr>
<td>
Class getClass()</td>
<td>
返回一个对象运行时的实例类</td>
</tr>
<tr>
<td>
int hashCode()</td>
<td>
返回该对象的散列码值</td>
</tr>
<tr>
<td>
void notify()</td>
<td>
激活等待在该对象的监视器上的一个线程</td>
</tr>
<tr>
<td>
void notifyAll()</td>
<td>
激活等待在该对象的监视器上的全部线程</td>
</tr>
<tr>
<td>
String toString()</td>
<td>
返回该对象的字符串表示</td>
</tr>
<tr>
<td>
void wait()</td>
<td>
在其他线程调用此对象的 notify()&nbsp;方法或 notifyAll()&nbsp;方法前，导致当前线程等待</td>
</tr>
</tbody>
</table>
<br />
其中，toString()、equals() 方法和 getClass() 方法在 Java 程序中比较常用。
<h2>
toString() 方法</h2>
toString() 方法返回该对象的字符串，当程序输出一个对象或者把某个对象和字符串进行连接运算时，系统会自动调用该对象的 toString() 方法返回该对象的字符串表示。<br />
<br />
Object 类的 toString() 方法返回&ldquo;运行时类名@十六进制哈希码&rdquo;格式的字符串，但很多类都重写了 Object 类的 toString() 方法，用于返回可以表述该对象信息的字符串。<br />
<blockquote>
<p>
哈希码（hashCode），每个 Java 对象都有哈希码属性，哈希码可以用来标识对象，提高对象在集合操作中的执行效率。</p>
</blockquote>
先看以下代码：
<pre class="java">
// 定义Demo类，实际上继承Object类
class Demo {

}

public class ObjectDemo01 {
    public static void main(String[] args) {
        Demo d = new Demo(); // 实例化Demo对象
        System.out.println(&quot;不加toString()输出：&quot; + d);
        System.out.println(&quot;加上toString()输出：&quot; + d.toString());
    }
}</pre>
输出结果为：
<p class="info-box">
不加toString()输出：Demo@15db9742<br />
加上toString()输出：Demo@15db9742</p>
以上的程序是随机输出了一些地址信息，从程序的运行结果可以清楚的发现，加和不加 toString() 的最终输出结果是一样的，也就是说对象输出时一定会调用 Object 类中的 toString() 方法打印内容。所以利用此特性就可以通过 toString() 取得一些对象的信息，如下面代码。
<pre class="java">
public class Person {
    private String name;
    private int age;

    public Person(String name, int age) {
        this.name = name;
        this.age = age;
    }

    public String toString() {
        return &quot;姓名：&quot; + this.name + &quot;：年龄&quot; + this.age;
    }

    public static void main(String[] args) {
        Person per = new Person(&quot;C语言中文网&quot;, 30);// 实例化Person对象
        System.out.println(&quot;对象信息：&quot; + per);// 打印对象调用toString()方法
    }
}</pre>
输出结果为：
<p class="info-box">
对象信息：姓名：C语言中文网：年龄30</p>
程序中的 Person 类中重写了 Object 类中的 toString() 方法，这样直接输出对象时调用的是被子类重写过的 toString() 方法。<br />
<h2>
equals() 方法</h2>
在前面学习字符串比较时，曾经介绍过两种比较方法，分别是<code>==</code>运算符和 equals() 方法，<code>==</code>运算符是比较两个引用变量是否指向同一个实例，equals() 方法是比较两个对象的内容是否相等，通常字符串的比较只是关心内容是否相等。<br />
<br />
其使用格式如下：
<pre class="cpp">
boolean result = obj.equals(Object o);</pre>
其中，obj 表示要进行比较的一个对象，o 表示另一个对象。
<h4>
例 1</h4>
编写一个 Java 程序，实现用户登录的验证功能。要求用户从键盘输入登录用户名和密码，当用户输入的用户名等于 admin 并且密码也等于 admin 时，则表示该用户为合法用户，提示登录成功，否则提示用户名或者密码错误信息。<br />
<br />
在这里使用 equals() 方法将用户输入的字符串与保存 admin 的字符串对象进行比较，具体的代码如下：
<pre class="java">
import java.util.Scanner;

public class Test01 {
    // 验证用户名和密码
    public static boolean validateLogin(String uname, String upwd) {
        boolean con = false;
        if (uname.equals(&quot;admin&quot;) &amp;&amp; upwd.equals(&quot;admin&quot;)) { // 比较两个 String 对象
            con = true;
        } else {
            con = false;
        }
        return con;
    }

    public static void main(String[] args) {
        Scanner input = new Scanner(System.in);
        System.out.println(&quot;------欢迎使用<a href='https://c.biancheng.net/big_data/' target='_blank'>大数据</a>管理平台------&quot;);
        System.out.println(&quot;用户名：&quot;);
        String username = input.next(); // 获取用户输入的用户名
        System.out.println(&quot;密码：&quot;);
        String pwd = input.next(); // 获取用户输入的密码
        boolean con = validateLogin(username, pwd);
        if (con) {
            System.out.println(&quot;登录成功！&quot;);
        } else {
            System.out.println(&quot;用户名或密码有误！&quot;);
        }
    }
}</pre>
上述代码在 validateLogin() 方法中又使用 equals() 方法将两个 String 类型的对象进行了比较，当 uname 对象与保存 admin 的 String 对象相同时，uname.equals(&quot;admin&quot;) 为 true；与此相同，当 upwd 对象与保存 admin 的 String 对象相同时，upwd.equals(&quot;admin&quot;) 为 true。当用户输入的用户名和密码都为 admin 时，表示该用户为合法用户，提示登录成功信息，否则提示用户名或密码有误的错误信息。<br />
<br />
该程序的运行结果下所示：
<pre class="info-box">
------欢迎使用大数据管理平台------
用户名：
adinm
密码：
admin
用户名或密码有误！</pre>
<pre class="info-box">
------欢迎使用大数据管理平台------
用户名：
admin
密码：
admin
登录成功！</pre>
<h2>
getClass() 方法</h2>
<span style="color:#b22222;">getClass() 方法返回对象所属的类，是一个 Class 对象。</span>通过 Class 对象可以获取该类的各种信息，包括类名、父类以及它所实现接口的名字等。
<h4>
例 2</h4>
编写一个实例，演示如何对 String 类型调用 getClass() 方法，然后输出其父类及实现的接口信息。具体实现代码如下：
<pre class="java">
public class Test02 {
    public static void printClassInfo(Object obj) {
        // 获取类名
        System.out.println(&quot;类名：&quot; + obj.getClass().getName());

        // 获取父类名
        System.out.println(&quot;父类：&quot; + obj.getClass().getSuperclass().getName());
        System.out.println(&quot;实现的接口有：&quot;);

        // 获取实现的接口并输出
        for (int i = 0; i &lt; obj.getClass().getInterfaces().length; i++) {
            System.out.println(obj.getClass().getInterfaces()[i]);
        }
    }

    public static void main(String[] args) {
        String strObj = new String();
        printClassInfo(strObj);
    }
}</pre>
该程序的运行结果如下：
<pre class="info-box">
类名：java.lang.String
父类：java.lang.Object
实现的接口有：
interface java.io.Serializable
interface java.lang.Comparable
interface java.lang.CharSequence</pre>
<h2>
接收任意引用类型的对象</h2>
既然 Object 类是所有对象的父类，则所有的对象都可以向 Object 进行转换，在这其中也包含了数组和接口类型，即一切的引用数据类型都可以使用 Object 进行接收。<br />
<pre class="java">
interface A {
    public String getInfo();
}

class B implements A {
    public String getInfo() {
        return &quot;Hello World!!!&quot;;
    }
}

public class ObjectDemo04 {
    public static void main(String[] args) {
        // 为接口实例化
        A a = new B();
        // 对象向上转型
        Object obj = a;
        // 对象向下转型
        A x = (A) obj;
        System.out.println(x.getInfo());

    }
}</pre>
输出结果为：
<p class="info-box">
Hello World!!!</p>
通过以上代码可以发现，虽然接口不能继承一个类，但是依然是 Object 类的子类，因为接口本身是引用数据类型，所以可以进行向上转型操作。<br />
<br />
同理，也可以使用 Object 接收一个数组，因为数组本身也是引用数据类型。<br />
<pre class="java">
public class ObjectDemo05 {
    public static void main(String[] args) {
        int temp[] = { 1, 3, 5, 7, 9 };
        // 使用object接收数组
        Object obj = temp;
        // 传递数组引用
        print(obj);
    }

    public static void print(Object o) {
        // 判断对象的类型
        if (o instanceof int[]) {
            // 向下转型
            int x[] = (int[]) o;
            // 循环输出
            for (int i = 0; i &lt; x.length; i++) {
                System.out.print(x[i] + &quot;\t&quot;);
            }
        }
    }
}</pre>
输出结果为：
<p class="info-box">
1 3 5 7 9</p>
以上程序使用 Object 接收一个整型数组，因为数组本身属于引用数据类型，所以可以使用 Object 接收数组内容，在输出时通过 instanceof 判断类型是否是一个整型数组，然后进行输出操作。<br />
<br />
提示：因为 Object 类可以接收任意的引用数据类型，所以在很多的类库设计上都采用 Object 作为方法的参数，这样操作起来会比较方便。</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div class="pre-next-page clearfix">&nbsp;</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="118.html" title="Go语言通过反射调用函数" target="_blank">Go语言通过反射调用函数</a></li>
<li><a href="2129.html" title="Windows下的socket演示程序" target="_blank">Windows下的socket演示程序</a></li>
<li><a href="vip_2321.html" title="C++函数模板的实参推断" target="_blank">C++函数模板的实参推断</a></li>
<li><a href="4015.html" title="response.sendRedirect()实现重定向（页面跳转）" target="_blank">response.sendRedirect()实现重定向（页面跳转）</a></li>
<li><a href="../css3/media.html" title="CSS媒体查询（@media）全面解析" target="_blank">CSS媒体查询（@media）全面解析</a></li>
<li><a href="../sql/drop-database.html" title="SQL DROP DATABASE：删除数据库" target="_blank">SQL DROP DATABASE：删除数据库</a></li>
<li><a href="../pandas/sample.html" title="Pandas sample随机抽样" target="_blank">Pandas sample随机抽样</a></li>
</ul>
</div>
</div>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 6587;
window.arcId = "4ba8+OPA70MqzbdesYQdTzlIiBmgEYdKTH0viqnML6vdtjyZWW8qFRUxCaM";
window.typeidChain = "97|79";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";
window.prePageURL = "/view/6119.html";
window.nextPageURL = "/view/890.html";
</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>