<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>MySQL比较运算符一览表（带解析）</title>
<meta name="description" content="当使用 SELECT 语句进行查询时，MYSQL 允许用户对表达式的左边操作数和右边操作数进行比较，比较结果为真，则返回 1，为假则返回 0，比较结果不确定则返回 NULL。MySQL 支持的比较运算符" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="iconfont"></span></span>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main" class="clearfix">
<div id="sidebar" class="toggle-target">
<div id="contents">
<dt><span class="iconfont iconfont-list-vertical" aria-hidden="true"></span><a href="../mysql/mysql_3.html">MySQL教程</a></dt>
<dd>
<span class="channel-num">1</span>
<a href='../mysql/10/10.html'>数据库入门</a>
</dd>
<dd>
<span class="channel-num">2</span>
<a href='../mysql/20/20.html'>MySQL的安装和配置</a>
</dd>
<dd>
<span class="channel-num">3</span>
<a href='../mysql/30/30.html'>MySQL数据库的基本操作</a>
</dd>
<dd>
<span class="channel-num">4</span>
<a href='../mysql/35/35.html'>数据库设计</a>
</dd>
<dd>
<span class="channel-num">5</span>
<a href='../mysql/40/40.html'>MySQL数据类型和存储引擎</a>
</dd>
<dd>
<span class="channel-num">6</span>
<a href='../mysql/50/50.html'>MySQL数据表的基本操作</a>
</dd>
<dd class="this"> <span class="channel-num">7</span> <a href="../mysql/60/60.html">MySQL约束、函数和运算符</a> </dd><dl class="dl-sub"><dd>7.1 <a href="7576.html">MySQL约束概述</a></dd><dd>7.2 <a href="2440.html">MySQL主键</a></dd><dd>7.3 <a href="7624.html">MySQL主键自增长</a></dd><dd>7.4 <a href="2441.html">MySQL外键约束</a></dd><dd>7.5 <a href="2445.html">MySQL唯一约束</a></dd><dd>7.6 <a href="2446.html">MySQL检查约束</a></dd><dd>7.7 <a href="2447.html">MySQL默认值</a></dd><dd>7.8 <a href="2448.html">MySQL非空约束</a></dd><dd>7.9 <a href="2449.html">MySQL查看表中的约束</a></dd><dd>7.10 <a href="7575.html">MySQL常用运算符</a></dd><dd>7.11 <a href="7189.html">MySQL算术运算符</a></dd><dd>7.12 <a href="7188.html">MySQL逻辑运算符</a></dd><dd>7.13 <a href="7191.html">MySQL比较运算符</a></dd><dd>7.14 <a href="7195.html">MySQL位运算符</a></dd><dd>7.15 <a href="7399.html">MySQL运算符优先级</a></dd><dd>7.16 <a href="7193.html">MySQL IN和NOT IN</a></dd><dd>7.17 <a href="7226.html">MySQL函数简介</a></dd></dl>
<dd>
<span class="channel-num">8</span>
<a href='../mysql/70/70.html'>MySQL操作表中数据</a>
</dd>
<dd>
<span class="channel-num">9</span>
<a href='../mysql/80/80.html'>MySQL视图、索引</a>
</dd>
<dd>
<span class="channel-num">10</span>
<a href='../mysql/85/85.html'>MySQL存储过程和触发器</a>
</dd>
<dd>
<span class="channel-num">11</span>
<a href='../mysql/90/90.html'>MySQL事务和字符集</a>
</dd>
<dd>
<span class="channel-num">12</span>
<a href='../mysql/100/100.html'>MySQL用户管理</a>
</dd>
<dd>
<span class="channel-num">13</span>
<a href='../mysql/110/110.html'>MySQL数据库备份与恢复</a>
</dd>
<dd>
<span class="channel-num">14</span>
<a href='../mysql/120/120.html'>MySQL日志</a>
</dd>
<dd>
<span class="channel-num">15</span>
<a href='../mysql/130/130.html'>MySQL性能优化</a>
</dd>
</div>
</div>
<div id="article-wrap">
<div id="article">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; <a href="../mysql/mysql_3.html">MySQL教程</a> &gt; <a href="../mysql/60/60.html">MySQL约束、函数和运算符</a></span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>MySQL比较运算符一览表（带解析）</h1>
<div class="pre-next-page clearfix">&nbsp;</div>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">当使用 SELECT 语句进行查询时，<a href='../mysql/mysql_3.html' target='_blank'>MySQL</a> 允许用户对表达式的左边操作数和右边操作数进行比较，比较结果为真，则返回 1，为假则返回 0，比较结果不确定则返回 NULL。MySQL 支持的比较运算符如下表所示。<br />
<br />
<table>
<caption>
MySQL 中的比较运算符</caption>
<tbody>
<tr>
<th>
运算符</th>
<th>
作用</th>
</tr>
<tr>
<td>
=</td>
<td>
等于</td>
</tr>
<tr>
<td>
&lt;=&gt;</td>
<td>
安全的等于</td>
</tr>
<tr>
<td>
&lt;&gt; 或者 !=</td>
<td>
不等于</td>
</tr>
<tr>
<td>
&lt;=</td>
<td>
小于等于</td>
</tr>
<tr>
<td>
&gt;=</td>
<td>
大于等于</td>
</tr>
<tr>
<td>
&gt;&nbsp;</td>
<td>
大于</td>
</tr>
<tr>
<td>
IS NULL 或者 ISNULL</td>
<td>
判断一个值是否为空</td>
</tr>
<tr>
<td>
IS NOT NULL</td>
<td>
判断一个值是否不为空</td>
</tr>
<tr>
<td>
BETWEEN AND</td>
<td>
判断一个值是否落在两个值之间</td>
</tr>
</tbody>
</table>
<br />
比较运算符可以用于比较数字、字符串和表达式的值。注意，字符串的比较是不区分大小写的。
<h2>
1) 等于运算（=）</h2>
= 运算符用来比较两边的操作数是否相等，相等的话返回 1，不相等的话返回 0。具体的语法规则如下：<br />
<ul>
<li>
若有一个或两个操作数为 NULL，则比较运算的结果为 NULL。</li>
<li>
若两个操作数都是字符串，则按照字符串进行比较。</li>
<li>
若两个操作数均为整数，则按照整数进行比较。</li>
<li>
若一个操作数为字符串，另一个操作数为数字，则 MySQL 可以自动将字符串转换为数字。</li>
</ul>
<br />
注意：NULL 不能用于 = 比较。<br />
<br />
【实例1】使用 = 进行相等判断，SQL 语句如下：
<pre class="info-box">
mysql&gt; SELECT 1=0,&#39;2&#39;=2,2=2,&#39;0.02&#39;=0,&#39;b&#39;=&#39;b&#39;,(1+3)=(2+2),NULL=null;
+-----+-------+-----+----------+---------+-------------+-----------+
| 1=0 | &#39;2&#39;=2 | 2=2 | &#39;0.02&#39;=0 | &#39;b&#39;=&#39;b&#39; | (1+3)=(2+2) | NULL=null |
+-----+-------+-----+----------+---------+-------------+-----------+
|   0 |     1 |   1 |        0 |       1 |           1 |      NULL |
+-----+-------+-----+----------+---------+-------------+-----------+
1 row in set (0.01 sec)</pre>
对运行结果的分析：
<ul>
<li>
<code>2=2</code>和<code>&#39;2&#39; =2</code>的返回值相同，都为 1，因为在进行判断时，MySQL 自动进行了转换，把字符 &#39;2&#39; 转换成了数字 2。</li>
<li>
<code>&#39;b&#39;=&#39;b&#39;</code>为相同的字符比较，因此返回值为 1。</li>
<li>
表达式<code>1+3</code>和表达式<code>2+2</code>的结果都为 4，因此结果相等，返回值为 1；</li>
<li>
由于 = 不能用于空值 NULL 的判断，因此<code>NULL=null</code>的返回值为 NULL。</li>
</ul>
<h2>
2) 安全等于运算符（&lt;=&gt;）</h2>
&lt;=&gt; 操作符和 = 操作符类似，不过 &lt;=&gt; 可以用来判断 NULL 值，具体语法规则为：
<ul>
<li>
当两个操作数均为 NULL 时，其返回值为 1 而不为 NULL；</li>
<li>
而当一个操作数为 NULL 时，其返回值为 0 而不为 NULL。</li>
</ul>
<br />
【实例2】使用 &lt;=&gt; 进行相等的判断，SQL 语句如下：
<p class="info-box">
mysql&gt; SELECT 1&lt;=&gt;0,&#39;2&#39;&lt;=&gt;2,2&lt;=&gt;2,&#39;0.02&#39;&lt;=&gt;0,&#39;b&#39;&lt;=&gt;&#39;b&#39;,(1+3) &lt;=&gt; (2+1),NULL&lt;=&gt;NULL;<br />
+-------+---------+-------+------------+-----------+-----------------+-------------+<br />
| 1&lt;=&gt;0 | &#39;2&#39;&lt;=&gt;2 | 2&lt;=&gt;2 | &#39;0.02&#39;&lt;=&gt;0 | &#39;b&#39;&lt;=&gt;&#39;b&#39; | (1+3) &lt;=&gt; (2+1) | NULL&lt;=&gt;NULL |<br />
+-------+---------+-------+------------+-----------+-----------------+-------------+<br />
|&nbsp;&nbsp;&nbsp;&nbsp; 0 |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 |&nbsp;&nbsp;&nbsp;&nbsp; 1 |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 0 |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 0 |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 |<br />
+-------+---------+-------+------------+-----------+-----------------+-------------+<br />
1 row in set (0.00 sec)</p>
由结果可以看到，&lt;=&gt; 在执行比较操作时和 = 的作用是相似的，唯一的区别是 &lt;=&gt; 可以用来对 NULL 进行判断，两者都为 NULL 时返回值为 1。
<h2>
3) 不等于运算符（&lt;&gt; 或者 !=）</h2>
与 = 的作用相反，&lt;&gt; 和 != 用于判断数字、字符串、表达式是否不相等。对于 &lt;&gt; 和 !=，如果两侧操作数不相等，返回值为 1，否则返回值为 0；如果两侧操作数有一个是 NULL，那么返回值也是 NULL。<br />
<br />
【实例3】使用 &lt;&gt; 和 != 进行不相等的判断，SQL 语句如下：
<pre class="info-box">
mysql&gt; SELECT &#39;good&#39;&lt;&gt;&#39;god&#39;,1&lt;&gt;2,4!=4,5.5!=5,(1+3)!=(2+1),NULL&lt;&gt;NULL;
+---------------+------+------+--------+--------------+------------+
| &#39;good&#39;&lt;&gt;&#39;god&#39; | 1&lt;&gt;2 | 4!=4 | 5.5!=5 | (1+3)!=(2+1) | NULL&lt;&gt;NULL |
+---------------+------+------+--------+--------------+------------+
|             1 |    1 |    0 |      1 |            1 |       NULL |
+---------------+------+------+--------+--------------+------------+
1 row in set (0.00 sec)</pre>
由结果可以看到，两个不等于运算符作用相同，都可以进行数字、字符串、表达式的比较判断。
<h2>
4) 小于等于运算符（&lt;=）</h2>
&lt;= 是小于等于运算符，用来判断左边的操作数是否小于或者等于右边的操作数；如果小于或者等于，返回值为 1，否则返回值为 0；如果两侧操作数有一个是 NULL，那么返回值也是 NULL。<br />
<br />
【实例4】使用 &lt;= 进行比较判断，SQL 语句如下:
<pre class="info-box">
mysql&gt; SELECT &#39;good&#39;&lt;=&#39;god&#39;,1&lt;=2,4&lt;=4,5.5&lt;=5,(1+3)&lt;=(2+1),NULL&lt;=NULL;
+---------------+------+------+--------+--------------+------------+
| &#39;good&#39;&lt;=&#39;god&#39; | 1&lt;=2 | 4&lt;=4 | 5.5&lt;=5 | (1+3)&lt;=(2+1) | NULL&lt;=NULL |
+---------------+------+------+--------+--------------+------------+
|             0 |    1 |    1 |      0 |            0 |       NULL |
+---------------+------+------+--------+--------------+------------+
1 row in set (0.00 sec)</pre>
由结果可以看到：
<ul>
<li>
左边操作数小于或者等于右边时，返回值为 1，例如 4&lt;=4；</li>
<li>
当左边操作数大于右边时，返回值为 0，例如&ldquo;good&rdquo;第 3 个位置的&ldquo;o&rdquo;字符在字母表中的顺序大于&ldquo;god&rdquo;中的第 3 个位置的&ldquo;d&rdquo;字符，因此返回值为0；</li>
<li>
同样，比较 NULL 值时返回 NULL。</li>
</ul>
<h2>
5) 小于运算符（&lt;）</h2>
&lt; 是小于运算符，用来判断左边的操作数是否小于右边的操作数；如果小于，返回值为 1，否则返回值为 0；如果两侧操作数有一个是 NULL，那么返回值也是 NULL。<br />
<br />
【实例5】使用 &lt; 进行比较判断，SQL 语句如下：
<pre class="info-box">
mysql&gt; SELECT &#39;good&#39;&lt;&#39;god&#39;，1&lt;2，4&lt;4，5.5&lt;5，(1+3)&lt;(2+1)，NULL&lt;NULL；
+--------------+-----+-----+-------+-------------+-----------+
| &#39;good&#39;&lt;&#39;god&#39; | 1&lt;2 | 4&lt;4 | 5.5&lt;5 | (1+3)&lt;(2+1) | NULL&lt;NULL |
+--------------+-----+-----+-------+-------------+-----------+
|            0 |   1 |   0 |     0 |           0 |      NULL |
+--------------+-----+-----+-------+-------------+-----------+
1 row in set (0.02 sec)</pre>
由结果可以看到：
<ul>
<li>
当左边操作数小于右边时，返回值为 1，例如 1&lt;2；</li>
<li>
当左边操作数大于右边时，返回值为 0，例如&ldquo;good&rdquo;第 3 个位置的&ldquo;o&rdquo;字符在字母表中的顺序大于&ldquo;god&rdquo;中的第 3 个位置的&ldquo;d&rdquo;字符，因此返回值为 0；</li>
<li>
同样，比较 NULL 值时返回 NULL。</li>
</ul>
<h2>
6) 大于等于运算符（&gt;=）</h2>
&gt;= 是大于等于运算符，用来判断左边的操作数是否大于或者等于右边的操作数；如果大于或者等于，返回值为 1，否则返回值为 0；如果两侧操作数有一个是 NULL，那么返回值也是 NULL。<br />
<br />
【实例6】使用 &gt;= 进行比较判断，SQL 语句如下：
<pre class="info-box">
mysql&gt; SELECT &#39;good&#39;&gt;=&#39;god&#39;，1&gt;=2，4&gt;=4，5.5&gt;=5，(1+3)&gt;=(2+1)，NULL&gt;=NULL；
+---------------+------+------+--------+--------------+------------+
| &#39;good&#39;&gt;=&#39;god&#39; | 1&gt;=2 | 4&gt;=4 | 5.5&gt;=5 | (1+3)&gt;=(2+1) | NULL&gt;=NULL |
+---------------+------+------+--------+--------------+------------+
|             1 |    0 |    1 |      1 |            1 |       NULL |
+---------------+------+------+--------+--------------+------------+
1 row in set (0.00 sec)</pre>
由结果可以看到：
<ul>
<li>
左边操作数大于或者等于右边时，返回值为 1，例如 4&gt;=4；</li>
<li>
当左边操作数小于右边时，返回值为 0，例如 1&gt;=2；</li>
<li>
同样，比较 NULL 值时返回 NULL。</li>
</ul>
<h2>
7) 大于运算符（&gt;）</h2>
&gt; 是大于运算符，用来判断左边的操作数是否大于右边的操作数；如果大于，返回值为 1，否则返回值为 0；如果两侧操作数有一个是 NULL，那么返回值也是 NULL。<br />
<br />
【实例7】使用 &gt; 进行比较判断，SQL 语句如下：
<pre class="info-box">
mysql&gt; SELECT &#39;good&#39;&gt;&#39;god&#39;，1&gt;2，4&gt;4，5.5&gt;5，(1+3)&gt;(2+1)，NULL&gt;NULL；
+--------------+-----+-----+-------+-------------+-----------+
| &#39;good&#39;&gt;&#39;god&#39; | 1&gt;2 | 4&gt;4 | 5.5&gt;5 | (1+3)&gt;(2+1) | NULL&gt;NULL |
+--------------+-----+-----+-------+-------------+-----------+
|            1 |   0 |   0 |     1 |           1 |      NULL |
+--------------+-----+-----+-------+-------------+-----------+
1 row in set (0.00 sec)</pre>
由结果可以看到：
<ul>
<li>
左边操作数大于右边时，返回值为 1，例如 5.5&gt;5；</li>
<li>
当左边操作数小于右边时，返回 0，例如 1&gt;2；</li>
<li>
同样，比较 NULL 值时返回 NULL。</li>
</ul>
<h2>
8) IS NULL(ISNULL) 和 IS NOT NULL 运算符</h2>
IS NULL 或 ISNULL 运算符用来检测一个值是否为 NULL，如果为 NULL，返回值为 1，否则返回值为 0。ISNULL 可以认为是 IS NULL 的简写，去掉了一个空格而已，两者的作用和用法都是完全相同的。<br />
<br />
IS NOT NULL 运算符用来检测一个值是否为非 NULL，如果是非 NULL，返回值为 1，否则返回值为 0。<br />
<br />
【实例8】使用 IS NULL、ISNULL 和 IS NOT NULL 判断 NULL 值和非 NULL 值，SQL 语句如下：
<pre class="info-box">
mysql&gt; SELECT NULL IS NULL，ISNULL(NULL)，ISNULL(10)，10 IS NOT NULL;
+--------------+--------------+------------+----------------+
| NULL IS NULL | ISNULL(NULL) | ISNULL(10) | 10 IS NOT NULL |
+--------------+--------------+------------+----------------+
|            1 |            1 |          0 |              1 |
+--------------+--------------+------------+----------------+
1 row in set (0.01 sec)</pre>
由结果可以看到，IS NULL 和 ISNULL 的作用相同，只是写法略有不同。ISNULL 和 IS NOT NULL 的返回值正好相反。
<h2>
9) BETWEEN AND 运算符</h2>
BETWEEN AND 运算符用来判断表达式的值是否位于两个数之间，或者说是否位于某个范围内，它的语法格式如下：
<p class="info-box">
expr BETWEEN min AND max</p>
expr 表示要判断的表达式，min 表示最小值，max 表示最大值。如果 expr 大于等于 min 并且小于等于 max，那么返回值为 1，否则返回值为 0。<br />
<br />
【实例9】使用 BETWEEN AND 进行值区间判断，输入 SQL 语句如下：
<pre class="info-box">
mysql&gt; SELECT 4 BETWEEN 2 AND 5,4 BETWEEN 4 AND 6,12 BETWEEN 9 AND 10;
+-------------------+-------------------+---------------------+
| 4 BETWEEN 2 AND 5 | 4 BETWEEN 4 AND 6 | 12 BETWEEN 9 AND 10 |
+-------------------+-------------------+---------------------+
|                 1 |                 1 |                   0 |
+-------------------+-------------------+---------------------+
1 row in set (0.00 sec)</pre>
由结果可以看到：
<ul>
<li>
4 在端点值区间内或者等于其中一个端点值，BETWEEN AND 表达式返回值为 1；</li>
<li>
12 并不在指定区间内，因此返回值为 0；</li>
<li>
对于字符串类型的比较，按字母表中字母顺序进行比较，&ldquo;x&rdquo;不在指定的字母区间内，因此返回值为 0，而&ldquo;b&rdquo;位于指定字母区间内，因此返回值为 1。</li>
</ul>
<h2>
总结</h2>
使用比较运算符时需要注意空值 NULL，大部分比较运算符遇到 NULL 时也会返回 NULL，上面我们都进行了说明。<br />
<br />
另外，有些教程把 IN 和 NOT IN 也划分为比较运算符，但是我并不这样认为，我认为它们的初衷是判断某个值是否位于给出的列表中，只是使用了比较的功能而已，读者可以猛击《<a href="7193.html" target="_blank">MySQL IN和NOT IN用法详解</a>》一文了解更多。<br />
</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div class="pre-next-page clearfix">&nbsp;</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="499.html" title="C语言输出菱形（详解版）" target="_blank">C语言输出菱形（详解版）</a></li>
<li><a href="4770.html" title="Python close()函数：关闭文件" target="_blank">Python close()函数：关闭文件</a></li>
<li><a href="5824.html" title="Visual Studio运行Python程序（超级详细）" target="_blank">Visual Studio运行Python程序（超级详细）</a></li>
<li><a href="6212.html" title="Linux sar命令详解：分析系统性能" target="_blank">Linux sar命令详解：分析系统性能</a></li>
<li><a href="binary-search.html" title="二分查找算法（折半查找算法）" target="_blank">二分查找算法（折半查找算法）</a></li>
<li><a href="9389.html" title="HTML列表标签：&lt;ul&gt;&lt;ol&gt;&lt;dl&gt;" target="_blank">HTML列表标签：&lt;ul&gt;&lt;ol&gt;&lt;dl&gt;</a></li>
<li><a href="../c/fwrite.html" title="C语言fwrite()：向文件中写入一个数据块" target="_blank">C语言fwrite()：向文件中写入一个数据块</a></li>
</ul>
</div>
</div>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 7191;
window.arcId = "e2cfolfC7FwPu1dMe28KB5adghksBredlOHaEv2QKWGKcsRYI1LwNIVzE8E";
window.typeidChain = "351|159";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";
window.prePageURL = "/view/7188.html";
window.nextPageURL = "/view/7195.html";
</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>