<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>NumPy ndarray合并数组</title>
<meta name="description" content="在 NumPy 中，合并数组也是最常见的操作之一，下表列举了常见的用于数组或向量合并的方法。 表1：Num:Py ndarray 数组合并方法 函数 描述 np. append() 内存占用大 np.concatenate() 没有内存问题" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>NumPy ndarray合并数组</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">在 NumPy 中，合并数组也是最常见的操作之一，下表列举了常见的用于数组或向量合并的方法。<br />
<br />
<table>
<caption>
表1：Num:Py ndarray 数组合并方法</caption>
<tbody>
<tr>
<th>
函数</th>
<th>
描述</th>
</tr>
<tr>
<td>
np. append()</td>
<td>
内存占用大</td>
</tr>
<tr>
<td>
np.concatenate()</td>
<td>
没有内存问题</td>
</tr>
<tr>
<td>
np. stack()</td>
<td>
沿着新的轴加入一系列数组</td>
</tr>
<tr>
<td>
np.hstack()</td>
<td>
堆栈数组垂直顺序（行）</td>
</tr>
<tr>
<td>
np.vstack()</td>
<td>
堆栈数组垂直顺序（列）</td>
</tr>
<tr>
<td>
np.dstack()</td>
<td>
堆栈数组按顺序深入（沿第3维）</td>
</tr>
<tr>
<td>
np.vsplit()</td>
<td>
将数组分解成垂直的多个子数组的列表</td>
</tr>
</tbody>
</table>
<br />
几点说明：
<ul>
<li>
append()、concatenate() 以及 stack() 都有一个 axis 参数，用于控制数组的合并方式是按行还是按列。</li>
<li>
对于 append() 和 concatenate()，待合并的数组必须有相同的行数或列数（满足一个即可）。</li>
<li>
stack()、hstack()、dstack() 要求待合并的数组必须具有相同的形状（shape）。</li>
</ul>
<br />
下面选择一些常用函数进行说明。
<h4>
append()</h4>
append() 函数可以合并一维数组：
<pre class="python">
import numpy as np

a =np.array([1, 2, 3])
b = np.array([4, 5, 6])
c = np.append(a, b)
print(c)
# [1 2 3 4 5 6]</pre>
<br />
append() 也可以合并多维数组：
<pre class="python">
import numpy as np

a =np.arange(4).reshape(2, 2)
b = np.arange(4).reshape(2, 2)
# 按行合并
c = np.append(a, b, axis=0)
print(&#39;按行合并后的结果&#39;)
print(c)
print(&#39;合并后数据维度&#39;, c.shape)
# 按列合并
d = np.append(a, b, axis=1)
print(&#39;按列合并后的结果&#39;)
print(d)
print(&#39;合并后数据维度&#39;, d.shape)</pre>
输出结果：
<p class="info-box">
按行合并后的结果<br />
[[0 1]<br />
&nbsp; [2 3]<br />
&nbsp; [0 1]<br />
&nbsp; [2 3]]<br />
合并后数据维度 (4, 2)<br />
按列合并后的结果<br />
[[0 1 0 1]<br />
&nbsp; [2 3 2 3]]<br />
合并后数据维度 (2, 4)</p>
<h4>
concatenate()</h4>
沿指定轴连接数组或矩阵：
<pre class="python">
import numpy as np
a =np.array([[1, 2], [3, 4]])
b = np.array([[5, 6]])

c = np.concatenate((a, b), axis=0)
print(c)
d = np.concatenate((a, b.T), axis=1)
print(d)</pre>
输出结果：
<p class="info-box">
[[1 2]<br />
&nbsp; [3 4]<br />
&nbsp; [5 6]]<br />
[[1 2 5]<br />
&nbsp; [3 4 6]]</p>
<h4>
stack()</h4>
沿指定轴堆叠数组或矩阵：
<pre class="python">
import numpy as np

a =np.array([[1, 2], [3, 4]])
b = np.array([[5, 6], [7, 8]])
print(np.stack((a, b), axis=0))</pre>
输出结果：
<p class="info-box">
[[[1 2]<br />
&nbsp; [3 4]]<br />
<br />
[[5 6]<br />
&nbsp; [7 8]]]</p>
</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="238.html" title="fputs函数，C语言fputs函数及其用法详解" target="_blank">fputs函数，C语言fputs函数及其用法详解</a></li>
<li><a href="277.html" title="C++ cin判断输入结束（读取结束）" target="_blank">C++ cin判断输入结束（读取结束）</a></li>
<li><a href="734.html" title="Shell提示符：#和$" target="_blank">Shell提示符：#和$</a></li>
<li><a href="740.html" title="Linux ln命令：在文件之间建立链接（硬链接和软链接）详解版" target="_blank">Linux ln命令：在文件之间建立链接（硬链接和软链接）详解版</a></li>
<li><a href="1085.html" title="Java泛型简明教程" target="_blank">Java泛型简明教程</a></li>
<li><a href="vip_8353.html" title="MySQL锁机制（入门篇）" target="_blank">MySQL锁机制（入门篇）</a></li>
<li><a href="siz2v8.html" title="数据分析是什么" target="_blank">数据分析是什么</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 7209;
window.arcId = "eac2A2gxt02lK/M0AT4m7efPsF797SJC69CqRAGr90Ho3xK+aW4U3pT+MUE";
window.typeidChain = "145|119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>