<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>执行Shell脚本（多种方法）</title>
<meta name="description" content="执行 Shell 脚本通常有两种方法。 1) 作为可执行程序 Shell 脚本也是一种解释执行的程序，可以在终端直接调用（需要使用 chmod 命令给 Shell 脚本加上执行权限），如下所示： $ cd demo #切换" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="iconfont"></span></span>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main" class="clearfix">
<div id="sidebar" class="toggle-target">
<h4><span class="iconfont iconfont-list-vertical" aria-hidden="true"></span><a href="../shell/shell.html">Shell</a></h4>
<dl id="contents">
<dt><a href="../shell/base/base.html">Shell基础（开胃菜）</a></dt>
<dd>1.<a href="706.html">Shell是什么</a>
</dd>
<dd>2.<a href="731.html">Shell是运维人员必须掌握的技能</a>
</dd>
<dd>3.<a href="vip_4555.html">常用的Shell有哪些？</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>4.<a href="733.html">进入Shell的两种方式</a>
</dd>
<dd>5.<a href="3163.html">Shell命令的基本格式</a>
</dd>
<dd>6.<a href="vip_3229.html">Shell命令的本质到底是什么？如何自己实现一个命令？</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>7.<a href="vip_3230.html">Shell命令的选项和参数在本质上是什么</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>8.<a href="3175.html">Shell命令提示符</a>
</dd>
<dd>9.<a href="vip_3279.html">修改命令提示符</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>10.<a href="735.html">第一个Shell脚本</a>
</dd>
<dd>11.<a href="739.html">执行Shell脚本</a>
</dd>
<dd>12.<a href="vip_3231.html">Shell四种运行方式（启动方式）</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>13.<a href="vip_3232.html">Shell配置文件（配置脚本）的加载</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>14.<a href="vip_3233.html">如何编写自己的Shell配置文件？</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dt><a href="../shell/program/program.html">Shell编程</a></dt>
<dd>1.<a href="743.html">Shell变量</a>
</dd>
<dd>2.<a href="vip_4558.html">Shell变量的作用域（精讲）</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>3.<a href="1164.html">Shell命令替换</a>
</dd>
<dd>4.<a href="789.html">Shell位置参数</a>
</dd>
<dd>5.<a href="806.html">Shell特殊变量</a>
</dd>
<dd>6.<a href="vip_4559.html">Shell $*和$@之间的区别</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>7.<a href="808.html">Shell $?</a>
</dd>
<dd>8.<a href="821.html">Shell字符串详解</a>
</dd>
<dd>9.<a href="1114.html">Shell字符串拼接</a>
</dd>
<dd>10.<a href="1120.html">Shell字符串截取</a>
</dd>
<dd>11.<a href="810.html">Shell数组</a>
</dd>
<dd>12.<a href="812.html">Shell获取数组长度</a>
</dd>
<dd>13.<a href="818.html">Shell数组拼接</a>
</dd>
<dd>14.<a href="819.html">Shell删除数组元素</a>
</dd>
<dd>15.<a href="vip_3234.html">Shell关联数组</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>16.<a href="1136.html">Shell内建命令</a>
</dd>
<dd>17.<a href="1138.html">Shell alias命令</a>
</dd>
<dd>18.<a href="1142.html">Shell echo命令</a>
</dd>
<dd>19.<a href="2991.html">Shell read命令</a>
</dd>
<dd>20.<a href="1145.html">Shell exit命令</a>
</dd>
<dd>21.<a href="2709.html">Shell declare和typeset命令</a>
</dd>
<dd>22.<a href="1169.html">Shell数学计算</a>
</dd>
<dd>23.<a href="2480.html">Shell (())</a>
</dd>
<dd>24.<a href="2504.html">Shell let命令</a>
</dd>
<dd>25.<a href="vip_3235.html">Shell $[]</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>26.<a href="vip_3236.html">Shell expr命令</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>27.<a href="vip_3237.html">Linux bc命令</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>28.<a href="vip_3238.html">Shell declare -i</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>29.<a href="1262.html">Shell if else</a>
</dd>
<dd>30.<a href="2735.html">Shell退出状态</a>
</dd>
<dd>31.<a href="2742.html">Shell test命令</a>
</dd>
<dd>32.<a href="2751.html">Shell [[]]</a>
</dd>
<dd>33.<a href="2767.html">Shell case in</a>
</dd>
<dd>34.<a href="1006.html">Shell while</a>
</dd>
<dd>35.<a href="1007.html">Shell until</a>
</dd>
<dd>36.<a href="2804.html">Shell for</a>
</dd>
<dd>37.<a href="2829.html">Shell select in</a>
</dd>
<dd>38.<a href="1011.html">Shell break和continue</a>
</dd>
<dd>39.<a href="1009.html">Shell函数</a>
</dd>
<dd>40.<a href="2860.html">Shell函数参数</a>
</dd>
<dd>41.<a href="vip_3239.html">Shell函数返回值精讲</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dt><a href="../shell/advanced/advanced.html">Shell高级</a></dt>
<dd>1.<a href="942.html">Shell重定向</a>
</dd>
<dd>2.<a href="vip_3240.html">Linux中的文件描述符到底是什么？</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>3.<a href="vip_3241.html">结合文件描述符谈重定向，彻底理解重定向的本质！</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>4.<a href="vip_3242.html">使用exec命令操作文件描述符</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>5.<a href="vip_3243.html">Shell代码块重定向</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>6.<a href="vip_3244.html">Shell Here Document</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>7.<a href="vip_3245.html">Shell Here String</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>8.<a href="vip_3246.html">Shell组命令</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>9.<a href="vip_3247.html">Shell进程替换</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>10.<a href="3131.html">Linux管道</a>
</dd>
<dd>11.<a href="3472.html">Shell过滤器</a>
</dd>
<dd>12.<a href="vip_3248.html">子Shell和子进程到底有什么区别？</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>13.<a href="vip_3249.html">如何检测子Shell和子进程？</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>14.<a href="vip_3520.html">Linux中的信号是什么</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>15.<a href="vip_3522.html">Bash Shell中的信号</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>16.<a href="vip_3521.html">Linux进程简明教程</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>17.<a href="vip_3495.html">使用什么命令查看进程</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>18.<a href="vip_3497.html">Shell向进程发送信号</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>19.<a href="vip_3499.html">使用trap命令获取信号</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>20.<a href="vip_3506.html">trap命令捕获信号实例演示</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>21.<a href="vip_3507.html">移除（重置）信号捕获</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>22.<a href="vip_3508.html">关于进程、信号和捕获的总结</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>23.<a href="vip_3250.html">Shell模块化（把代码分散到多个脚本文件中）</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dt><a href="../shell/shortcut/shortcut.html">Bash Shell快捷键</a></dt>
<dd>1.<a href="vip_3509.html">Bash Shell快捷键大全</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>2.<a href="vip_3510.html">Bash Shell命令自动补全功能</a><span class="iconfont iconfont-vip2"></span>
</dd>
<dd>3.<a href="vip_3512.html">Bash Shell历史命令</a><span class="iconfont iconfont-vip2"></span>
</dd>
</dl>
</div>
<div id="article-wrap">
<div id="article">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; <a href="../shell/shell.html">Shell</a> &gt; <a href="../shell/base/base.html">Shell基础（开胃菜）</a></span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>执行Shell脚本（多种方法）</h1>
<div class="pre-next-page clearfix">&nbsp;</div>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">上节我们编写了一个简单的 Shell 脚本，这节我们就让它运行起来。运行 Shell 脚本有两种方法，一种在新进程中运行，一种是在当前 Shell 进程中运行。<br />
<h2>
在新进程中运行 Shell 脚本</h2>
在新进程中运行 Shell 脚本有多种方法。
<h4>
1) 将 Shell 脚本作为程序运行</h4>
Shell 脚本也是一种解释执行的程序，可以在终端直接调用（需要使用 chmod 命令给 Shell 脚本加上执行权限），如下所示：<br />
<pre class="info-box">
[mozhiyan@localhost ~]$ cd demo                #切换到 test.sh 所在的目录
[mozhiyan@localhost demo]$ chmod +x ./test.sh  #给脚本添加执行权限
[mozhiyan@localhost demo]$ ./test.sh           #执行脚本文件
Hello World !                                  #运行结果</pre>
第 2 行中，<code>chmod +x</code>表示给 test.sh 增加执行权限。<br />
<br />
第 3 行中，<code>./</code>表示当前目录，整条命令的意思是执行当前目录下的 test.sh 脚本。如果不写<code>./</code>，Linux 会到系统路径（由 PATH 环境变量指定）下查找 test.sh，而系统路径下显然不存在这个脚本，所以会执行失败。<br />
<br />
通过这种方式运行脚本，脚本文件第一行的<code>#!/bin/bash</code>一定要写对，好让系统查找到正确的解释器。
<h4>
2) 将 Shell 脚本作为参数传递给 Bash 解释器</h4>
你也可以直接运行 Bash 解释器，将脚本文件的名字作为参数传递给 Bash，如下所示：
<pre class="info-box">
[mozhiyan@localhost ~]$ cd demo               #切换到 test.sh 所在的目录
[mozhiyan@localhost demo]$ /bin/bash test.sh  #使用Bash的绝对路径
Hello World !                                 #运行结果</pre>
通过这种方式运行脚本，不需要在脚本文件的第一行指定解释器信息，写了也没用。<br />
<br />
更加简洁的写法是运行 bash 命令。bash 是一个外部命令，Shell 会在 /bin 目录中找到对应的应用程序，也即 /bin/bash，这点我们已在《<a href="vip_3229.html" target="_blank">Shell命令的本质到底是什么</a>》一节中提到。
<pre class="info-box">
[mozhiyan@localhost ~]$ cd demo
[mozhiyan@localhost demo]$ bash test.sh
Hello World !</pre>
<br />
这两种写法在本质上是一样的：第一种写法给出了绝对路径，会直接运行 Bash 解释器；第二种写法通过 bash 命令找到 Bash 解释器所在的目录，然后再运行，只不过多了一个查找的过程而已。<br />
<h4>
检测是否开启了新进程</h4>
有些读者可能会疑问，你怎么知道开启了新进程？你有什么证据吗？既然如此，那我就来给大家验证一下吧。<br />
<br />
Linux 中的每一个进程都有一个唯一的 ID，称为 PID，使用<code>$$</code>变量就可以获取当前进程的 PID。<code>$$</code>是 Shell 中的特殊变量，稍后我会在《<a href="806.html">Shell特殊变量</a>》一节中展开讲解，读者在此不必深究。<br />
<br />
首先编写如下的脚本文件，并命名为 check.sh：
<pre class="sh">
#!/bin/bash
echo $$  #输出当前进程PID</pre>
然后使用以上两种方式来运行 check.sh：
<pre class="info-box">
[mozhiyan@localhost demo]$ echo $$
2861  #当前进程的PID
[mozhiyan@localhost demo]$ chmod +x ./check.sh
[mozhiyan@localhost demo]$ ./check.sh
4597  #新进程的PID
[mozhiyan@localhost demo]$ echo $$
2861  #当前进程的PID
[mozhiyan@localhost demo]$ /bin/bash check.sh
4584  #新进程的PID</pre>
你看，进程的 PID 都不一样，当然就是两个进程了。
<h2>
在当前进程中运行 Shell 脚本</h2>
这里需要引入一个新的命令&mdash;&mdash;source 命令。source 是 <a href="1136.html" target="_blank">Shell 内置命令</a>的一种，它会读取脚本文件中的代码，并依次执行所有语句。你也可以理解为，source 命令会强制执行脚本文件中的全部命令，而忽略脚本文件的权限。<br />
<br />
source 命令的用法为：
<p class="info-box">
source filename</p>
也可以简写为：
<p class="info-box">
. filename</p>
两种写法的效果相同。对于第二种写法，注意点号<code>.</code>和文件名中间有一个空格。<br />
<br />
例如，使用 source 运行上节的 test.sh：
<pre class="info-box">
[mozhiyan@localhost ~]$ cd demo              #切换到test.sh所在的目录
[mozhiyan@localhost demo]$ source ./test.sh  #使用source
Hello World !
[mozhiyan@localhost demo]$ source test.sh    #使用source
Hello World !
[mozhiyan@localhost demo]$ . ./test.sh       #使用点号
Hello World !
[mozhiyan@localhost demo]$ . test.sh         #使用点号
Hello World !</pre>
你看，使用 source 命令不用给脚本增加执行权限，并且写不写<code>./</code>都行，是不是很方便呢？
<h4>
检测是否在当前 Shell 进程中</h4>
我们仍然借助<code>$$</code>变量来输出进程的 PID，如下所示：
<pre class="info-box">
[mozhiyan@localhost ~]$ cd demo
[mozhiyan@localhost demo]$ echo $$
5169  #当前进程PID
[mozhiyan@localhost demo]$ source ./check.sh
5169  #Shell脚本所在进程PID
[mozhiyan@localhost demo]$ echo $$
5169  #当前进程PID
[mozhiyan@localhost demo]$ . ./check.sh
5169  #Shell脚本所在进程PID</pre>
你看，进程的 PID 都是一样的，当然是同一个进程了。
<h2>
总结</h2>
作为初学者，你可能看不懂这些运行方式有什么区别，没关系，暂时先留个疑问吧，后续教程中我们会逐一讲解。<br />
<br />
如果需要在新进程中运行 Shell 脚本，我一般使用<code>bash test.sh</code>这种写法；如果在当前进程中运行 Shell 脚本，我一般使用<code>. ./test.sh</code>这种写法。这是我个人的风格。<br />
<br />
最后再给大家演示一个稍微复杂的例子。本例中使用 read 命令从键盘读取用户输入的内容并赋值给 URL 变量，最后在显示器上输出。
<pre class="sh">
#!/bin/bash
# Copyright (c) http://c.biancheng.net/shell/

echo &quot;What is the url of the shell tutorial?&quot;
read URL
echo &quot;$URL is very fast!&quot;</pre>
运行脚本：
<pre class="info-box">
[mozhiyan@localhost demo]$ . ./test.sh
What is the url of the shell tutorial?
http://c.biancheng.net/shell/↙
http://c.biancheng.net/shell/ is very fast!</pre>
↙ 表示按下回车键。<br />
</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div class="pre-next-page clearfix">&nbsp;</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="3360.html" title="串是什么，串存储结构的3种实现方法" target="_blank">串是什么，串存储结构的3种实现方法</a></li>
<li><a href="4738.html" title="Java List.removeAll()方法：从列表中移除所有元素" target="_blank">Java List.removeAll()方法：从列表中移除所有元素</a></li>
<li><a href="7632.html" title="Django路由反向解析与命名空间" target="_blank">Django路由反向解析与命名空间</a></li>
<li><a href="../thread/vip_8616.html" title="使用信号量实现线程同步" target="_blank">使用信号量实现线程同步</a></li>
<li><a href="../jstl/fn-substringbefore.html" title="fn:substringBefore()函数" target="_blank">fn:substringBefore()函数</a></li>
<li><a href="../tkinter/what-is-tkinter.html" title="Tkinter是什么" target="_blank">Tkinter是什么</a></li>
<li><a href="2qi34n.html" title="C语言二维数组" target="_blank">C语言二维数组</a></li>
</ul>
</div>
</div>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 739;
window.arcId = "22e9mKRkJmWqJdOlILN+UyLk/5QH8DmbkIY+/0WJq5HTAjlmmE3eVJ/6Wg";
window.typeidChain = "245|78";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";
window.prePageURL = "/view/735.html";
window.nextPageURL = "/view/vip_3231.html";
</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>