<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 启用Chromium高速渲染模式 -->
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<!-- 禁止百度转码 -->
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止识别电话号码 -->
<meta name="format-detection" content="telephone=no" />

<link rel="shortcut icon" href="../favicon_3.ico" />
<link href="../templets/new/style/common_2.css" rel="stylesheet" />
<title>HTML &lt;textarea&gt;标签（文本域）</title>
<meta name="description" content="与其它 input 标签不同，textarea 标签是单闭合标签，它包含起始标签和结束标签。具体语法格式如下： textarea/textarea" />
</head>
<body>
<div id="topbar" class="clearfix">
	<ul id="product-type" class="left">
		<li>
			<a href="../m_biancheng_default_2.html"><span class="iconfont iconfont-home"></span>首页</a>
		</li>
		<li class="active">
			<a href="../sitemap/sitemap_2.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
		</li>
		<li>
			<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
		</li>
		<li>
			<a href="niz69i_5.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
		</li>
		<!-- <li>
			<a href="https://www.54benniao.com/c_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-c-course"></span>C语言高级课程</a>
		</li>
		<li>
			<a href="https://www.54benniao.com/java_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-java-course"></span>Java高级课程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/q2a/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-q2a"></span>一对一答疑</a>
		</li> -->
	</ul>
</div>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="../m_biancheng_default_2.html">
		<img height="26" src="../templets/new/images/logo_2.png" alt="C语言中文网" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li class="wap-yes"><a href="../m_biancheng_default_2.html">首页</a></li>
		<li><a href="../c/c_4.html">C语言教程</a></li>
		<li><a href="../cplus/cplus_2.html">C++教程</a></li>
		<li><a href="../python/python_2.html">Python教程</a></li>
		<li><a href="../java/java_2.html">Java教程</a></li>
		<li><a href="../linux_tutorial/linux_tutorial_2.html">Linux入门</a></li>
		<li><a href="../sitemap/sitemap_2.html" title="网站地图">更多&gt;&gt;</a></li>
	</ul>
	<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
	<div class="arc-info">
		<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../m_biancheng_default_2.html">首页</a> &gt; 编程笔记</span>
	</div>
	<div id="ggxc-position-bottom" class="ggxc-box"></div>
	<h1>HTML &lt;textarea&gt;标签（文本域）</h1>
	<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
	<div id="arc-body">在使用表单时，例如姓名、年龄字段我们可以使用单行文本框，但是当涉及到描述信息，内容比较多时，单行文本框很有可能放不下所有的内容，这时就需要用到多行文本框。<br />
<br />
在 HTML 中，使用 &lt;textarea&gt; 标签来表示多行文本框，又叫做文本域。与其它 &lt;input&gt; 标签不同，&lt;textarea&gt; 标签是单闭合标签，它包含起始标签和结束标签，文本内容需要写在两个标签中间。具体语法格式如下：<br />
<p class="info-box">
	&lt;textarea&gt;文本内容&lt;/textarea&gt;</p>
接下来我们通过一段简单的代码来看一下：
<pre class="html">
&lt;form action=&quot;http://vip.biancheng.net/register.php&quot; method=&quot;post&quot;&gt;
    描述信息：&lt;textarea name=&quot;description&quot;&gt;此处是描述信息&lt;/textarea&gt;
&lt;/form&gt;</pre>
运行效果如图所示：
<div style="text-align: center;">
	<img alt="HTML文本域" src="../uploads/allimg/200426/10-200426162235K8_2.png" /><br />
	图1：HTML 文本域</div>
<br />
通过运行结果可以发现，文本域的右下角有一个收缩按钮，拖拽按钮可以手动改变文本域的宽高。这个按钮默认显示，也可以隐藏，我们来看一下怎么隐藏它呢？<br />
<pre class="html">
&lt;form action=&quot;http://vip.biancheng.net/register.php&quot; method=&quot;post&quot;&gt;
    描述信息：&lt;textarea name=&quot;description&quot; style=&quot;resize:none;&quot;&gt;此处是描述信息&lt;/textarea&gt;
&lt;/form&gt;</pre>
<p class="tip-box">
	注意：此处用到的是 CSS 样式中的内容，读者只需了解即可。当收缩按钮隐藏后，不能手动调节文本域的宽高。</p>
同所有表单元素相同，文本域要想正确提交，也必须设置 name 属性。除了 name 属性以外，文本域还有其它属性，接下来我们看一下：<br />
<table border="1" cellpadding="1" cellspacing="1">
	<caption>
		<br />
		文本域其它属性</caption>
	<tbody>
		<tr>
			<td>
				其他属性</td>
			<td>
				说明</td>
		</tr>
		<tr>
			<td>
				cols</td>
			<td>
				用来指定每行显示的字符数。</td>
		</tr>
		<tr>
			<td>
				rows</td>
			<td>
				用来指定正常情况下（没有滚动条）显示的文本行数。</td>
		</tr>
		<tr>
			<td>
				id</td>
			<td>
				用来定义文本域的唯一 id 属性。</td>
		</tr>
	</tbody>
</table>
<h2>
	1. cols属性</h2>
cols 属性用来指定每行可以显示的字符数，也就是文本域的可见宽度。一般情况下，如果内容超出文本域宽度，会自动换行显示，但是如果文本内容较长，而且在大于文本域宽度时，还没有空格可以进行换行，就会出现横向滚动条。<br />
<br />
我们来看一个示例：<br />
<pre class="html">
&lt;form action=&quot;http://vip.biancheng.net/register.php&quot; method=&quot;post&quot;&gt;
&nbsp;&nbsp;HTML教程描述：&lt;textarea name=&quot;description&quot; cols=&quot;40&quot;&gt;这套「HTML教程」可以帮助读者快速入门，其中包含了作者大量的实践经验，将知识系统化，浓缩为精华，用通俗易懂的语言直指网页设计初学者的痛点。&lt;/textarea&gt;
&lt;/form&gt;</pre>
运行结果如图所示：
<div style="text-align: center;">
	<img alt="HTML文本域" src="../uploads/allimg/200426/10-200426162Z9439_2.png" /><br />
	图2：设置了宽度的文本域</div>
<div>
	<br />
	通过运行结果可以发现，当文本内容超出了文本域的宽度时，会自动换行显示。这时，出现了纵向的滚动条是因为高度不够。下面我们就来学习一下如何设置文本域的高度。</div>
<h2>
	2. rows属性</h2>
在文本域中，rows 属性用来设置文本域的可见行数，也就是文本域的高度。当文本内容超出设置高度时，会出现纵向滚动条。用户拖动滚动条可以查看全部内容。<br />
<br />
示例如下：<br />
<pre class="html">
&lt;form action=&quot;http://vip.biancheng.net/register.php&quot; method=&quot;post&quot;&gt;
&nbsp;&nbsp;HTML教程描述：&lt;textarea name=&quot;description&quot; cols=&quot;40&quot; rows=&quot;6&quot;&gt;这套「HTML教程」可以帮助读者快速入门，其中包含了作者大量的实践经验，将知识系统化，浓缩为精华，用通俗易懂的语言直指网页设计初学者的痛点。&lt;/textarea&gt;
&lt;/form&gt;</pre>
运行结果如图所示：
<div style="text-align: center;">
	<img alt="HTML文本域" src="../uploads/allimg/200426/10-20042616353K17_2.png" /><br />
	图3：设置了高度的文本域</div>
<div>
	<br />
	通过运行结果可以看出，当文本高度小于文本域高度时，不会出现纵向滚动条。<br />
	<p class="tip-box">
		注意：除了使用 rows、cols 属性设置文本域的宽高，css 也可以实现，在 css 教程中我们会详细讲解。</p>
</div>
<h2>
	3. id属性</h2>
id 属性用来定义文本域的唯一 id 值。为文本域添加 id 属性，主要有以下 2 个方面：
<ul>
	<li>
		在 css 中，可以使用 id 获取元素为其添加 css 样式；</li>
	<li>
		在 JavaScript 中，可以根据设置好的 id 属性获取文本域，然后对它进行一系列操作，例如操作文本域的内容。</li>
</ul>
</div>
	<div id="ggxc-weixin-arcbottom">
	<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
	<p style="margin-top:12px; text-align:center;">
		<img src="../templets/new/images/material/qrcode_mp_4.png" alt="公众号二维码" width="160" /><br />
		<span class="col-green">微信扫码关注公众号</span>
	</p>
</div>
	<div id="nice-arcs" class="box-bottom">
    <h4>推荐阅读</h4>
    <ul class="clearfix">
<li><a href="niz69i_8.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_4.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_4.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="100_2.html" title="Go语言带缓冲的通道" target="_blank">Go语言带缓冲的通道</a></li>
<li><a href="994_2.html" title="shell sed命令详解：选取、替换、删除、新増数据" target="_blank">shell sed命令详解：选取、替换、删除、新増数据</a></li>
<li><a href="vip_3347_2.html" title="双向循环链表（C语言）详解" target="_blank">双向循环链表（C语言）详解</a></li>
<li><a href="vip_7318_2.html" title="Go语言通过内存缓存来提升性能" target="_blank">Go语言通过内存缓存来提升性能</a></li>
<li><a href="7598_3.html" title="Django实现自定义标签" target="_blank">Django实现自定义标签</a></li>
<li><a href="8117_2.html" title="主流Java ORM框架有哪些？" target="_blank">主流Java ORM框架有哪些？</a></li>
<li><a href="9420_2.html" title="Qt QTreeWidget树形控件用法详解" target="_blank">Qt QTreeWidget树形控件用法详解</a></li>
</ul>
</div>
	
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 7610;
window.arcId = "8fc7G8byYcWVNBXYkVmW01sOhgaES0h01Hc0sCAz6/sCUuYQD2Nrm6KeSUc";
window.typeidChain = "430|119";
</script>
<div id="footer" class="clearfix">
	<div class="info left">
	<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
	<p>
		<a href="8066_2.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
		<a href="8092_3.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
		<a href="8097_2.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
		<a href="9648_2.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
		<a href="8093_2.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
		<a href="../sitemap/sitemap_2.html" target="_blank" rel="nofollow">网站地图</a>
	</p>
	<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan_2.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
	</p>
	</div>
	<img id="logo_bottom" class="right" src="https://m.biancheng.net/templets/new/images/logo_bottom_2.gif" alt="底部Logo" />
	<span id="return-top"><b>↑</b></span>
</div>

<div id="addweixin-widget">
	<p>
		<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://m.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
		<img src="https://m.biancheng.net/templets/new/images/material/qrcode_mp_4.png" alt="微信交流群" width="120" />
		<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
	</p>
	<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>

<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>

<script src="https://m.biancheng.net/templets/new/script/jquery1.12.4.min_2.js"></script>
<script src="https://m.biancheng.net/templets/new/script/common_2.js"></script>
<!-- 51la V6 -->
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<!-- 51la V5 -->
<!-- <span style="display: none;"><script type="text/javascript" src="https://js.users.51.la/21368967.js"></script></span> -->
</body>
</html>