<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 启用Chromium高速渲染模式 -->
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<!-- 禁止百度转码 -->
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止识别电话号码 -->
<meta name="format-detection" content="telephone=no" />

<link rel="shortcut icon" href="../favicon_3.ico" />
<link href="../templets/new/style/common_2.css" rel="stylesheet" />
<title>Python正则表达式详解</title>
<meta name="description" content="正则表达式，又称规则表达式（Regular Expression），是使用单个字符串来描述、匹配某个句法规则的字符串，常被用来检索、替换那些符合某个模式（规则）的文本。最初的正则表达式出" />
</head>
<body>
<div id="topbar" class="clearfix">
	<ul id="product-type" class="left">
		<li>
			<a href="../m_biancheng_default_2.html"><span class="iconfont iconfont-home"></span>首页</a>
		</li>
		<li class="active">
			<a href="../sitemap/sitemap_2.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
		</li>
		<li>
			<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
		</li>
		<li>
			<a href="niz69i_5.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
		</li>
		<!-- <li>
			<a href="https://www.54benniao.com/c_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-c-course"></span>C语言高级课程</a>
		</li>
		<li>
			<a href="https://www.54benniao.com/java_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-java-course"></span>Java高级课程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/q2a/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-q2a"></span>一对一答疑</a>
		</li> -->
	</ul>
</div>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="../m_biancheng_default_2.html">
		<img height="26" src="../templets/new/images/logo_2.png" alt="C语言中文网" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li class="wap-yes"><a href="../m_biancheng_default_2.html">首页</a></li>
		<li><a href="../c/c_4.html">C语言教程</a></li>
		<li><a href="../cplus/cplus_2.html">C++教程</a></li>
		<li><a href="../python/python_2.html">Python教程</a></li>
		<li><a href="../java/java_2.html">Java教程</a></li>
		<li><a href="../linux_tutorial/linux_tutorial_2.html">Linux入门</a></li>
		<li><a href="../sitemap/sitemap_2.html" title="网站地图">更多&gt;&gt;</a></li>
	</ul>
	<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
	<div class="arc-info">
		<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../m_biancheng_default_2.html">首页</a> &gt; 编程笔记</span>
	</div>
	<div id="ggxc-position-bottom" class="ggxc-box"></div>
	<h1>Python正则表达式详解</h1>
	<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
	<div id="arc-body">正则表达式，又称规则表达式（Regular Expression），是使用单个字符串来描述、匹配某个句法规则的字符串，常被用来检索、替换那些符合某个模式（规则）的文本。最初的正则表达式出现于理论计算机科学的自动控制理论和形式化语言理论中。<br />
<br />
1950 年，数学家斯蒂芬&middot;科尔&middot;克莱尼利用称之为&ldquo;正则集合&rdquo;的数学符号来描述此模型。肯&middot;汤普逊将此符号系统引入编辑器 QED，随后是 UNIX 上的编辑器 ed，并最终引入 grep。自此以后，正则表达式被广泛地应用于各种 UNIX 或类 UNIX 系统的工具中。目前，许多程序设计语言都支持利用正则表达式进行字符串操作。<br />
<br />
一个正则表达式通常被称为一个模式（pattern），是用来描述或者匹配一系列匹配某个句法规则的字符串。例如 Polish、Spanish 和 Swedish 这三个字符串，都可以由(Pol|Span|Swed)ish 这个模式来描述。<br />
<br />
大部分正则表达式的形式都有如下的结构：<br />
<h4>
	1) 选择</h4>
竖线<code>|</code>表示选择，具有最低优先级，例如 center|centre 可以匹配 center 或 centre。<br />
<h4>
	2) 数量限定</h4>
字符后的数量限定符用来限定前面这个字符允许出现的个数。最常见的数量限定符包括&ldquo;+&rdquo;&ldquo;？&rdquo;和&ldquo;*&rdquo;（不加数量限定则代表出现一次且仅出现一次）：
<ul>
	<li>
		加号<code>+</code>代表前面的字符必须至少出现一次（一次或多次），例如 goo+gle 可以匹配 google、gooogle、goooogle 等。</li>
	<li>
		问号<code>？</code>代表前面的字符最多只可以出现一次（零次或一次），例如 colou?r 可以匹配 color 或者 colour。</li>
	<li>
		星号<code>*</code>代表前面的字符可以不出现，也可以出现一次或者多次（零次、一次或多次），例如 0*42 可以匹配 42、042、0042、00042 等。</li>
</ul>
<h4>
	3) 匹配</h4>
成对的小括号<code>( )</code>用来定义操作符的范围和优先度，例如 gr(a|e)y 等效于 gray|grey,(grand)?father 匹配 father 和 grandfather。<br />
<br />
正则表达式中除了上述的几种特殊字符外，还使用了一些特殊的方式表示匹配的模式，常用的特殊字符及含义如表 1 所示。<br />
<br />
<table>
	<caption>
		表 1：正则表达式常用的特殊字符及含义</caption>
	<tbody>
		<tr>
			<th>
				符号</th>
			<th>
				描述</th>
		</tr>
		<tr>
			<td>
				\</td>
			<td>
				<div>
					将下一个字符标记为一个特殊字符、一个原义字符(Identity Escape,有 &quot;^&quot;&nbsp; &quot;$&quot;&nbsp; &quot;(&quot;&nbsp; &nbsp;&quot;)&quot;&nbsp; &quot;*&quot;&nbsp; &quot;+&quot;&nbsp; &quot;{&quot;&nbsp; &quot;|&quot; 共计12个)、一个向后引用(backreferences)或一个八进制转义符。例如&ldquo;n&rdquo;匹配字符&ldquo;n&rdquo;，&ldquo;\n&rdquo;匹配一个换行符，&ldquo;\\&rdquo;匹配&ldquo;\&rdquo;，&ldquo;\(&rdquo;则匹配&ldquo;(&rdquo;</div>
			</td>
		</tr>
		<tr>
			<td>
				^</td>
			<td>
				匹配输入字符串的开始位置。如果设置了正则表达式的多行属性，&ldquo;^&rdquo;也可以匹配&ldquo;\n&rdquo;或&ldquo;\r&rdquo;之 后的位置</td>
		</tr>
		<tr>
			<td>
				$</td>
			<td>
				匹配输入字符串的结束位置。如果设置了正则表达式的多行属性，&ldquo;$&rdquo;也可以匹配&ldquo;\n&rdquo;或&ldquo;\r&rdquo;之 前的位置</td>
		</tr>
		<tr>
			<td>
				*</td>
			<td>
				匹配前面的子表达式零次或多次。例如&ldquo;zo*&rdquo;能匹配&ldquo;z&rdquo; &ldquo;zo&rdquo;以及&ldquo;zoo&rdquo;，&ldquo;*&rdquo;等效于&ldquo;{0,}&rdquo;</td>
		</tr>
		<tr>
			<td>
				+</td>
			<td>
				<div>
					匹配前面的子表达式一次或多次。例如&ldquo;zo+&rdquo;能匹配&ldquo;zo&rdquo;以及&ldquo;zoo&rdquo;，但不能匹配&ldquo;z&rdquo;，&ldquo;+&rdquo;等效于&quot;{1,}&rdquo;</div>
			</td>
		</tr>
		<tr>
			<td>
				?</td>
			<td>
				<div>
					匹配前面的子表达式零次或一次。例如&ldquo;do(es)?&rdquo;可以匹配 &ldquo;do&rdquo;或 &ldquo;does&rdquo;中的&ldquo;do&rdquo;，&ldquo;?&rdquo;等效 于 &ldquo;{0,1}&rdquo;</div>
			</td>
		</tr>
		<tr>
			<td>
				{n}</td>
			<td>
				n 是一个非负整数，匹配确定的 n 次。例如&ldquo;o{2}&rdquo;不能匹配&ldquo;Bob&rdquo;中的&ldquo;o&rdquo;，但是能匹配&ldquo;food&rdquo; 中的两个 o</td>
		</tr>
		<tr>
			<td>
				{n,}</td>
			<td>
				n 是一个非负整数，至少匹配n次。例如&ldquo;o{2,}&rdquo;不能匹配&ldquo;Bob&rdquo;中的&ldquo;o&rdquo;，但能匹配&ldquo;foooood&rdquo;中的所有o,<span style="white-space:pre"> </span>等效于&ldquo;o+&rdquo;，&ldquo;o{0,}&rdquo;则等效于&ldquo;o*&rdquo;</td>
		</tr>
		<tr>
			<td>
				{n,m}</td>
			<td>
				<div>
					m 和 n 均为非负整数，其中 n＜=m。最少匹配 n 次且最多匹配 m 次。例如&ldquo;o{1,3}&rdquo;将匹配&ldquo;fooooood&quot; 中的前三个&ldquo;o&rdquo;，&ldquo;o{0,l}&rdquo;等效于&ldquo;0?&rdquo;。注意在逗号和两个数之间不能有空格</div>
			</td>
		</tr>
		<tr>
			<td>
				.</td>
			<td>
				匹配除&ldquo;\r&rdquo; &ldquo;\n&rdquo;之外的任何单个字符。要匹配包括&ldquo;\r&rdquo; &ldquo;\n&rdquo;在内的任何字符，请使用&ldquo;(.|\r|\n)&rdquo; 的模式</td>
		</tr>
		<tr>
			<td>
				(?:pattem)</td>
			<td>
				匹配模式但不获取匹配的子字符串，也就是说这是一个非获取匹配，不存储匹配的子字符串用于向 后引用。这在使用竖线字符来组合一个模式的各个部分时很有用。例如&ldquo;industr(?:y|ies)&rdquo;就是 一个比&quot;industry|industries&rdquo;更简略的表达式</td>
		</tr>
		<tr>
			<td>
				(?=pattem)</td>
			<td>
				<div>
					正向肯定断言，在任何匹配 pattern 的字符串开始处匹配查找字符串。这是一个非获取匹配。例如 &ldquo;Windows(?=95|98|NT|2000)&ldquo; 能匹配 &ldquo;Windows2000&rdquo; 中的 &ldquo;Windows&rdquo;，但不能匹配&quot;Windows3.1 &rdquo; 中的&ldquo;Windows&rdquo;。断言不消耗字符，即在一个匹配发生后，在最后一次匹配之后立即开始下一次匹配的搜索，而不是从包含断言的字符之后开始</div>
			</td>
		</tr>
		<tr>
			<td>
				x|y</td>
			<td>
				<div>
					没有包围在 ( ) 里，其范围是整个正则表达式。例如&ldquo;z|food&rdquo;匹配&ldquo;z&rdquo;或&ldquo;food&rdquo;，&ldquo;(?:z|f)ood&rdquo;则匹配 &ldquo;zood&rdquo; 或 &ldquo;food&rdquo;</div>
			</td>
		</tr>
		<tr>
			<td>
				[xyz]</td>
			<td>
				<div>
					字符集合，匹配所包含的任意一个字符。例如&ldquo;[ab可&rdquo;可以匹配&ldquo;plain&rdquo;中的&ldquo;a&rdquo;。特殊字符仅有反斜线&ldquo;\&rdquo;保持特殊含义，用于转义字符。其他特殊字符如星号、加号、各种括号等均作为普通字符。脱字符&ldquo;^&rdquo;如果出现在首位则表示负值字符集合；如果出现在字符串中间就仅作为普通字符。 连字符&ldquo;-&rdquo;如果出现在字符串中间表示字符范围描述；如果出现在首位(或末尾)则仅作为普通字符。右方括号应转义出现，也可以作为首位字符出现</div>
			</td>
		</tr>
		<tr>
			<td>
				[a-z]</td>
			<td>
				<div>
					字符范围，匹配指定范围内的任意字符。例如&ldquo;[a-z]&rdquo;可以匹配&ldquo;a&rdquo;到&ldquo;z&rdquo;范围内的任意小写字母字符</div>
			</td>
		</tr>
		<tr>
			<td>
				\b</td>
			<td>
				匹配一个单词边界，也就是指单词和空格间的位置。例如&ldquo;er\b&rdquo;可以匹配&ldquo;never&rdquo;中的&ldquo;er&rdquo;，但不匹配&ldquo;verb&rdquo;中的&ldquo;er&rdquo;</td>
		</tr>
		<tr>
			<td>
				\B</td>
			<td>
				匹配非单词边界。例如&ldquo;er\B&rdquo;能匹配&ldquo;verb&rdquo;中的&ldquo;er&rdquo;，但不能匹配&ldquo;never&rdquo;中的&ldquo;er&rdquo;</td>
		</tr>
		<tr>
			<td>
				\cx</td>
			<td>
				匹配控制字符。x 必须为 A(a) 到 Z(z)。否则，将 c 视为一个原义的&ldquo;c&rdquo;字符。控制字符的值等于 x 的值，但最低为 5 比特(即对 3210 进制的余数)。例如&ldquo;\cM&rdquo;匹配一个&ldquo;Control-M&rdquo;或回车符。&ldquo;\ca&rdquo; 等效于 &ldquo;\u0001&rdquo;，&ldquo;\cb&rdquo; 等效于 &ldquo;\u0002&rdquo;</td>
		</tr>
		<tr>
			<td>
				\d</td>
			<td>
				匹配一个数字字符，等效于&quot;[0-9]&rdquo;。注意 Unicode 正则表达式会匹配全角数字字符</td>
		</tr>
		<tr>
			<td>
				\D</td>
			<td>
				匹配一个非数字字符，等效于&ldquo;[^0-9]&rdquo;</td>
		</tr>
		<tr>
			<td>
				\f</td>
			<td>
				<div>
					匹配一个换页符，等效于&ldquo;\x0c 和 \cL&rdquo;</div>
			</td>
		</tr>
		<tr>
			<td>
				\n</td>
			<td>
				匹配一个换行符，等效于&ldquo;\x0a 和 \cJ&rdquo;</td>
		</tr>
		<tr>
			<td>
				\r</td>
			<td>
				<div>
					匹配一个回车符，等效于&ldquo;\x0d 和 \cM&rdquo;</div>
			</td>
		</tr>
		<tr>
			<td>
				\s</td>
			<td>
				匹配任何空白字符，包括空格、制表符、换页符等，等效于&ldquo;[\f\n\r\t\v]&rdquo;。注意 Unicode 正则表达式 会匹配全角空格符</td>
		</tr>
		<tr>
			<td>
				\S</td>
			<td>
				匹配任何非空白字符，等效于&ldquo;[^\f\n\r\t\v]&rdquo;</td>
		</tr>
		<tr>
			<td>
				\t</td>
			<td>
				匹配一个制表符，等效于&ldquo;\x09 和 \c1&rdquo;</td>
		</tr>
		<tr>
			<td>
				\v</td>
			<td>
				匹配一个垂直制表符，等效于&ldquo;\x0b 和 \cK&rdquo;</td>
		</tr>
		<tr>
			<td>
				\w</td>
			<td>
				匹配包括下画线的任何单词字符，等效于&quot;[A-Za-z0-9_]&rdquo;。注意 Unicode 正则表达式会匹配中文字符</td>
		</tr>
		<tr>
			<td>
				\W</td>
			<td>
				匹配任何非单词字符，等效于&ldquo;[^A-Za-z0-9_]&rdquo;</td>
		</tr>
		<tr>
			<td>
				\n</td>
			<td>
				标识一个八进制数转义值或一个向后引用。如果&ldquo;\n&rdquo;之前至少 n 个获取的子表达式，则 n 为向后引 用。否则，如果 n 为八进制数字&ldquo;(0-7)&rdquo;，则 n 为一个八进制数转义值</td>
		</tr>
	</tbody>
</table>
<br />
表 1 中这些特殊字符的优先级如表 2 所示。<br />
<br />
<table>
	<caption>
		表 2：正则表达式特殊字符的优先级</caption>
	<tbody>
		<tr>
			<th>
				优先级</th>
			<th>
				符号</th>
		</tr>
		<tr>
			<td>
				最高</td>
			<td>
				&ldquo;\&rdquo;</td>
		</tr>
		<tr>
			<td>
				高</td>
			<td>
				&ldquo;()&rdquo; &ldquo;(?:)&rdquo; &ldquo;(?=)&rdquo; &ldquo;[]&rdquo;</td>
		</tr>
		<tr>
			<td>
				中</td>
			<td>
				&ldquo;*&rdquo;&ldquo;+&rdquo; &ldquo;?&rdquo;&ldquo;{n}&rdquo; &ldquo;{n,}&rdquo; &ldquo;{n,m}&rdquo;</td>
		</tr>
		<tr>
			<td>
				低</td>
			<td>
				&ldquo;^&rdquo; &ldquo;$&rdquo; &ldquo;中介字符&rdquo;</td>
		</tr>
		<tr>
			<td>
				次最低</td>
			<td>
				串接，即相邻字符连接在一起</td>
		</tr>
		<tr>
			<td>
				最低</td>
			<td>
				&ldquo;|&rdquo;</td>
		</tr>
	</tbody>
</table>
<br />
在Python中可以通过 re 模块使用正则表达式，例如：
<p class="info-box">
	import re<br />
	str = &#39;&lt;span&gt;abcd&lt;/span&gt;&lt;span&gt;abcdef&lt;/span&gt; &#39;<br />
	pattern =&#39;&lt;span&gt;.*&lt;/span&gt;&#39;<br />
	p = re.compile(pattern)<br />
	match = re.search(p, str)<br />
	print(match.group(0))</p>
上述代码的运行结果如下所示：
<p class="info-box">
	&gt;&gt;&gt; import re<br />
	&gt;&gt;&gt; str = &#39;&lt;span&gt;abcd&lt;/span&gt;&lt;span&gt;abcdef&lt;/span&gt; &#39;<br />
	&gt;&gt;&gt; pattern =&#39;&lt;span&gt;.*&lt;/span&gt;&#39;<br />
	&gt;&gt;&gt; p = re.compile(pattern)<br />
	&gt;&gt;&gt; match = re.search(p, str)<br />
	&gt;&gt;&gt; print(match.group(0))<br />
	&lt;span&gt;abcd&lt;/span&gt;&lt;span&gt;abcdef&lt;/span&gt;</p>
<br />
在正则表达式中使用&ldquo;*&rdquo;匹配字符串默认是匹配到串的结尾，即所谓的&ldquo;贪婪模式&rdquo;。如果只想匹配到第一个符合条件的子字符串就停止，需要切换为&ldquo;非贪婪模式&rdquo;，方法是在&ldquo;*&rdquo;之后使用&ldquo;？&rdquo;，例如：
<p class="info-box">
	import re<br />
	str = &#39;&lt;span&gt;abcd&lt;/span&gt;&lt;span&gt;abcdef&lt;/span&gt; &#39;<br />
	pattern =&#39;&lt;span&gt;.*?&lt;/span&gt;&#39;<br />
	p = re.compile(pattern)<br />
	match = re.search(p, str)<br />
	print(match.group(0))</p>
上述代码的运行结果如下所示：
<p class="info-box">
	&gt;&gt;&gt; import re<br />
	&gt;&gt;&gt; str = &#39;&lt;span&gt;abcd&lt;/span&gt;&lt;span&gt;abcdef&lt;/span&gt; &#39;<br />
	&gt;&gt;&gt; pattern =&#39;&lt;span&gt;.*?&lt;/span&gt;&#39;<br />
	&gt;&gt;&gt; p = re.compile(pattern)<br />
	&gt;&gt;&gt; match = re.search(p, str)<br />
	&gt;&gt;&gt; print(match.group(0))<br />
	&lt;span&gt;abcd&lt;/span&gt;</p>
<br />
可见，&ldquo;贪婪模式&rdquo;在整个表达式匹配成功的前提下，尽可能多地匹配；而&ldquo;非贪婪模式&rdquo;在整个表达式匹配成功的前提下，尽可能少地匹配。&ldquo;贪婪模式&rdquo;与&ldquo;非贪婪模式&rdquo;影响的是被量词修饰的子表达式的匹配行为。<br />
<br />
Python中正则表达式常用的方法如表 3 所示。<br />
<br />
<table>
	<caption>
		表 3：正则表达式常用的方法</caption>
	<tbody>
		<tr>
			<th>
				方法</th>
			<th>
				描述</th>
		</tr>
		<tr>
			<td>
				compile()</td>
			<td>
				编译正则表达式模式，返回一个对象的模式</td>
		</tr>
		<tr>
			<td>
				match()</td>
			<td>
				决定正则表达式对象是否在字符串最开始的位置匹配。注意：该方法不是完全匹配。当模式结束时若 原字符串还有剩余字符，仍然视为成功。想要完全匹配，可以在表达式末尾加上边界匹配符&ldquo;$&rdquo;</td>
		</tr>
		<tr>
			<td>
				search()</td>
			<td>
				在字符串内查找模式匹配，只要找到第一个匹配然后返回，如果字符串没有匹配，则返回&ldquo;None&rdquo;</td>
		</tr>
		<tr>
			<td>
				findall()</td>
			<td>
				遍历匹配，可以获取字符串中所有匹配的字符串，返回一个列表</td>
		</tr>
		<tr>
			<td>
				finditer()</td>
			<td>
				返回一个顺序访问每一个匹配结果的迭代器，该方法将找到匹配正则表达式的所有子串</td>
		</tr>
		<tr>
			<td>
				split()</td>
			<td>
				按照能够匹配的子串将原字符串分割后返回列表</td>
		</tr>
		<tr>
			<td>
				sub()</td>
			<td>
				替换原字符串中每一个匹配的子串后返回替换后的字符串</td>
		</tr>
		<tr>
			<td>
				subn()</td>
			<td>
				返回&ldquo;sub()&rdquo;方法执行后的替换次数</td>
		</tr>
		<tr>
			<td>
				flags()</td>
			<td>
				正则表达式编译时设置的标志</td>
		</tr>
		<tr>
			<td>
				pattem()</td>
			<td>
				正则表达式编译时使用的字符串</td>
		</tr>
	</tbody>
</table>
</div>
	<div id="ggxc-weixin-arcbottom">
	<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
	<p style="margin-top:12px; text-align:center;">
		<img src="../templets/new/images/material/qrcode_mp_4.png" alt="公众号二维码" width="160" /><br />
		<span class="col-green">微信扫码关注公众号</span>
	</p>
</div>
	<div id="nice-arcs" class="box-bottom">
    <h4>推荐阅读</h4>
    <ul class="clearfix">
<li><a href="niz69i_8.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_4.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_4.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="985_2.html" title="Java使用自定义包" target="_blank">Java使用自定义包</a></li>
<li><a href="vip_3234_2.html" title="Shell关联数组（下标是字符串的数组）" target="_blank">Shell关联数组（下标是字符串的数组）</a></li>
<li><a href="4729_2.html" title="数据结构与算法视频教程汇总" target="_blank">数据结构与算法视频教程汇总</a></li>
<li><a href="5355_2.html" title="第一个JavaScript程序" target="_blank">第一个JavaScript程序</a></li>
<li><a href="vip_5882_2.html" title="学习小妙招，及时掌握Python更新动态" target="_blank">学习小妙招，及时掌握Python更新动态</a></li>
<li><a href="7492_2.html" title="PHP class：定义类" target="_blank">PHP class：定义类</a></li>
<li><a href="vip_8339_2.html" title="MySQL如何处理无效数据值？" target="_blank">MySQL如何处理无效数据值？</a></li>
</ul>
</div>
	
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 7768;
window.arcId = "bd7cJuTFEjMeZr5dtvvhBmzJb90SsMYrpEhsAozAwTjd+Us39d3N6tVWyvc";
window.typeidChain = "145|119";
</script>
<div id="footer" class="clearfix">
	<div class="info left">
	<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
	<p>
		<a href="8066_2.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
		<a href="8092_3.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
		<a href="8097_2.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
		<a href="9648_2.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
		<a href="8093_2.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
		<a href="../sitemap/sitemap_2.html" target="_blank" rel="nofollow">网站地图</a>
	</p>
	<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan_2.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
	</p>
	</div>
	<img id="logo_bottom" class="right" src="https://m.biancheng.net/templets/new/images/logo_bottom_2.gif" alt="底部Logo" />
	<span id="return-top"><b>↑</b></span>
</div>

<div id="addweixin-widget">
	<p>
		<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://m.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
		<img src="https://m.biancheng.net/templets/new/images/material/qrcode_mp_4.png" alt="微信交流群" width="120" />
		<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
	</p>
	<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>

<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>

<script src="https://m.biancheng.net/templets/new/script/jquery1.12.4.min_2.js"></script>
<script src="https://m.biancheng.net/templets/new/script/common_2.js"></script>
<!-- 51la V6 -->
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<!-- 51la V5 -->
<!-- <span style="display: none;"><script type="text/javascript" src="https://js.users.51.la/21368967.js"></script></span> -->
</body>
</html>