<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 启用Chromium高速渲染模式 -->
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<!-- 禁止百度转码 -->
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止识别电话号码 -->
<meta name="format-detection" content="telephone=no" />

<link rel="shortcut icon" href="../favicon_3.ico" />
<link href="../templets/new/style/common_2.css" rel="stylesheet" />
<title>Java Math类的常用方法</title>
<meta name="description" content="在 Java 中 Math 类封装了常用的数学运算，提供了基本的数学操作，如指数、对数、平方根和三角函数等。Math 类位于 java.lang 包，下面详细介绍该类的常量及数学处理方法。 静态常量 M" />
</head>
<body>
<div id="topbar" class="clearfix">
	<ul id="product-type" class="left">
		<li>
			<a href="../m_biancheng_default_2.html"><span class="iconfont iconfont-home"></span>首页</a>
		</li>
		<li class="active">
			<a href="../sitemap/sitemap_2.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
		</li>
		<li>
			<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
		</li>
		<li>
			<a href="niz69i_5.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
		</li>
		<!-- <li>
			<a href="https://www.54benniao.com/c_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-c-course"></span>C语言高级课程</a>
		</li>
		<li>
			<a href="https://www.54benniao.com/java_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-java-course"></span>Java高级课程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/q2a/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-q2a"></span>一对一答疑</a>
		</li> -->
	</ul>
</div>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="../m_biancheng_default_2.html">
		<img height="26" src="../templets/new/images/logo_2.png" alt="C语言中文网" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li class="wap-yes"><a href="../m_biancheng_default_2.html">首页</a></li>
		<li><a href="../c/c_4.html">C语言教程</a></li>
		<li><a href="../cplus/cplus_2.html">C++教程</a></li>
		<li><a href="../python/python_2.html">Python教程</a></li>
		<li><a href="../java/java_2.html">Java教程</a></li>
		<li><a href="../linux_tutorial/linux_tutorial_2.html">Linux入门</a></li>
		<li><a href="../sitemap/sitemap_2.html" title="网站地图">更多&gt;&gt;</a></li>
	</ul>
	<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="iconfont"></span></span>

	<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main" class="clearfix">
	<div id="sidebar" class="toggle-target">
	<div id="contents">
		<dt><span class="iconfont iconfont-list-vertical" aria-hidden="true"></span><a href="../java/java_2.html">Java教程</a></dt>
		
			<dd>
				<span class="channel-num">1</span>
				<a href='../java/10/10_2.html'>Java入门基础及环境搭建</a>
			</dd>
		
			<dd>
				<span class="channel-num">2</span>
				<a href='../java/20/20_2.html'>Java程序设计基础</a>
			</dd>
		
			<dd>
				<span class="channel-num">3</span>
				<a href='../java/30/30_2.html'>Java流程控制语句</a>
			</dd>
		
			<dd>
				<span class="channel-num">4</span>
				<a href='../java/40/40_2.html'>Java字符串处理</a>
			</dd>
		<dd class="this"> <span class="channel-num">5</span> <a href="../java/50/50_2.html">Java数字和日期处理</a> </dd><dl class="dl-sub"><dd>5.1 <a href="866_2.html">Java Math类的常用方法</a></dd><dd>5.2 <a href="867_2.html">Java生成随机数</a></dd><dd>5.3 <a href="869_2.html">Java数字格式化</a></dd><dd>5.4 <a href="871_2.html">Java大数字运算</a></dd><dd>5.5 <a href="876_2.html">Java时间日期的处理</a></dd><dd>5.6 <a href="878_2.html">Java日期格式化</a></dd><dd>5.7 <a href="881_2.html">Java计算课程结束的日期</a></dd><dd>5.8 <a href="882_2.html">Java日期查询</a></dd></dl>
			<dd>
				<span class="channel-num">6</span>
				<a href='../java/60/60_2.html'>Java内置包装类</a>
			</dd>
		
			<dd>
				<span class="channel-num">7</span>
				<a href='../java/70/70_2.html'>Java数组处理</a>
			</dd>
		
			<dd>
				<span class="channel-num">8</span>
				<a href='../java/80/80_2.html'>Java类和对象</a>
			</dd>
		
			<dd>
				<span class="channel-num">9</span>
				<a href='../java/90/90_2.html'>Java继承和多态</a>
			</dd>
		
			<dd>
				<span class="channel-num">10</span>
				<a href='../java/100/100_2.html'>Java异常处理</a>
			</dd>
		
			<dd>
				<span class="channel-num">11</span>
				<a href='../java/110/110_2.html'>Java集合、泛型和枚举</a>
			</dd>
		
			<dd>
				<span class="channel-num">12</span>
				<a href='../java/120/120_2.html'>Java反射机制</a>
			</dd>
		
			<dd>
				<span class="channel-num">13</span>
				<a href='../java/130/130_2.html'>Java输入/输出流</a>
			</dd>
		
			<dd>
				<span class="channel-num">14</span>
				<a href='../java/java/135/135_2.html'>Java注解</a>
			</dd>
		
	</div>
</div>
	<div id="article-wrap">
		<div id="article">
			<div class="arc-info">
	<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../m_biancheng_default_2.html">首页</a> &gt; <a href="../java/java_2.html">Java教程</a> &gt; <a href="../java/50/50_2.html">Java数字和日期处理</a></span>
</div>

<div id="ggxc-position-bottom" class="ggxc-box"></div>
			<h1>Java Math类的常用方法</h1>
			<div class="pre-next-page clearfix">&nbsp;</div>
			<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
			<div id="arc-body"><a href='../java/java_2.html' target='_blank'>Java</a> 中的 +、-、*、/ 和 % 等基本算术运算符不能进行更复杂的数学运算，例如，三角函数、对数运算、指数运算等。于是 Java 提供了 Math 工具类来完成这些复杂的运算。<br />
<br />
在 Java 中 <span style="color:#b22222;">Math 类封装了常用的数学运算，提供了基本的数学操作，如指数、对数、平方根和三角函数等</span>。Math 类位于 java.lang 包，它的构造方法是 private 的，因此无法创建 Math 类的对象，并且 Math 类中的所有方法都是类方法，可以直接通过类名来调用它们。<br />
<br />
下面详细介绍该类的常量及数学处理方法。
<h2>
	静态常量</h2>
Math 类中包含 E 和 PI 两个静态常量，正如它们名字所暗示的，它们的值分别等于 e（自然对数）和 &pi;（圆周率）。
<h4>
	例 1</h4>
调用 Math 类的 E 和 PI 两个常量，并将结果输出。代码如下：
<pre class="cpp">
System.out.println(&quot;E 常量的值：&quot; + Math.E);
System.out.println(&quot;PI 常量的值：&quot; + Math.PI);</pre>
<br />
执行上述代码，输出结果如下：
<pre class="info-box">
E 常量的值：2.718281828459045
PI 常量的值：3.141592653589793</pre>
<h2>
	求最大值、最小值和绝对值</h2>
在程序中常见的就是求最大值、最小值和绝对值问题，如果使用 Math 类提供的方法可以很容易实现。这些方法的说明如表 1 所示。<br />
<br />
<table border="1">
	<caption>
		表 1 求最大值、最小值和绝对值的方法</caption>
	<tbody>
		<tr>
			<th>
				方法</th>
			<th>
				说明</th>
		</tr>
		<tr>
			<td>
				static int abs(int a)</td>
			<td>
				返回 a 的绝对值</td>
		</tr>
		<tr>
			<td>
				static long abs(long a)</td>
			<td>
				返回 a 的绝对值</td>
		</tr>
		<tr>
			<td>
				static float abs(float a)</td>
			<td>
				返回 a 的绝对值</td>
		</tr>
		<tr>
			<td>
				static double abs(double a)</td>
			<td>
				返回 a 的绝对值</td>
		</tr>
		<tr>
			<td>
				static int max(int x,int y)</td>
			<td>
				返回 x 和 y 中的最大值</td>
		</tr>
		<tr>
			<td>
				static double max(double x,double y)</td>
			<td>
				返回 x 和 y 中的最大值</td>
		</tr>
		<tr>
			<td>
				static long max(long x,long y)</td>
			<td>
				返回 x 和 y 中的最大值</td>
		</tr>
		<tr>
			<td>
				static float max(float x,float y)</td>
			<td>
				返回 x 和 y 中的最大值</td>
		</tr>
		<tr>
			<td>
				static int min(int x,int y)</td>
			<td>
				返回 x 和 y 中的最小值</td>
		</tr>
		<tr>
			<td>
				static long min(long x,long y)</td>
			<td>
				返回 x 和 y 中的最小值</td>
		</tr>
		<tr>
			<td>
				static double min(double x,double y)</td>
			<td>
				返回 x 和 y 中的最小值</td>
		</tr>
		<tr>
			<td>
				static float min(float x,float y)</td>
			<td>
				返回 x 和 y 中的最小值</td>
		</tr>
	</tbody>
</table>
<h4>
	例 2</h4>
求 10 和 20 的较大值、15.6 和 15 的较小值、-12 的绝对值，代码如下：
<pre class="cpp">
public class Test02 {
    public static void main(String[] args) {
        System.out.println(&quot;10 和 20 的较大值：&quot; + Math.max(10, 20));
        System.out.println(&quot;15.6 和 15 的较小值：&quot; + Math.min(15.6, 15));
        System.out.println(&quot;-12 的绝对值：&quot; + Math.abs(-12));
    }
}</pre>
该程序的运行结果如下：
<pre class="info-box">
10和20的较大值：20
15.6和15的较小值：15.0
-12的绝对值：12</pre>
<h2>
	求整运算</h2>
Math 类的求整方法有很多，详细说明如表 2 所示。<br />
<br />
<table border="1">
	<caption>
		表 2 取整方法及其说明</caption>
	<tbody>
		<tr>
			<th>
				方法</th>
			<th>
				说明</th>
		</tr>
		<tr>
			<td>
				static double ceil(double a)</td>
			<td>
				返回大于或等于 a 的最小整数</td>
		</tr>
		<tr>
			<td>
				static double floor(double a)</td>
			<td>
				返回小于或等于 a 的最大整数</td>
		</tr>
		<tr>
			<td>
				static double rint(double a)</td>
			<td>
				返回最接近 a 的整数值，如果有两个同样接近的整数，则结果取偶数</td>
		</tr>
		<tr>
			<td>
				static int round(float a)</td>
			<td>
				将参数加上 1/2 后返回与参数最近的整数</td>
		</tr>
		<tr>
			<td>
				static long round(double a)</td>
			<td>
				将参数加上 1/2 后返回与参数最近的整数，然后强制转换为长整型</td>
		</tr>
	</tbody>
</table>
<h4>
	例 3</h4>
下面的实例演示了 Math 类中取整函数方法的应用：
<pre class="cpp">
import java.util.Scanner;
public class Test03 {
    public static void main(String[] args) {
        Scanner input = new Scanner(System.in);
        System.outprintln(&quot;请输入一个数字：&quot;);
        double num = input.nextDouble();
        System.out.println(&quot;大于或等于 &quot;+ num +&quot; 的最小整数：&quot; + Math.ceil(num));
        System.out.println(&quot;小于或等于 &quot;+ num +&quot; 的最大整数：&quot; + Math.floor(num));
        System.out.println(&quot;将 &quot;+ num +&quot; 加上 0.5 之后最接近的整数：&quot; + Math.round(num));
        System.out.println(&quot;最接近 &quot;+num+&quot; 的整数：&quot; + Math.rint(num));
    }
}</pre>
执行结果如下：
<pre class="info-box">
请输入一个数字：
99.01
大于或等于 99.01 的最小整数：100.0
小于或等于 99.01 的最大整数：99.0
将 99.01 加上 0.5 之后最接近的整数：100
最接近 99.01 的整数：99.0</pre>
<h2>
	三角函数运算</h2>
Math 类中包含的三角函数方法及其说明如表 3 所示。<br />
<br />
<table border="1">
	<caption>
		表 3 三角函数方法及其说明</caption>
	<tbody>
		<tr>
			<th>
				方法</th>
			<th>
				说明</th>
		</tr>
		<tr>
			<td>
				static double sin(double a)</td>
			<td>
				返回角的三角正弦值，参数以孤度为单位</td>
		</tr>
		<tr>
			<td>
				static double cos(double a)</td>
			<td>
				返回角的三角余弦值，参数以孤度为单位</td>
		</tr>
		<tr>
			<td>
				static double asin(double a)</td>
			<td>
				返回一个值的反正弦值，参数域在 [-1,1]，值域在 [-PI/2,PI/2]</td>
		</tr>
		<tr>
			<td>
				static double acos(double a)</td>
			<td>
				返回一个值的反余弦值，参数域在 [-1,1]，值域在 [0.0,PI]</td>
		</tr>
		<tr>
			<td>
				static double tan(double a)</td>
			<td>
				返回角的三角正切值，参数以弧度为单位</td>
		</tr>
		<tr>
			<td>
				static double atan(double a)</td>
			<td>
				返回一个值的反正切值，值域在 [-PI/2,PI/2]</td>
		</tr>
		<tr>
			<td>
				static double toDegrees(double angrad)</td>
			<td>
				将用孤度表示的角转换为近似相等的用角度表示的角</td>
		</tr>
		<tr>
			<td>
				staticdouble toRadians(double angdeg)</td>
			<td>
				将用角度表示的角转换为近似相等的用弧度表示的角</td>
		</tr>
	</tbody>
</table>
<br />
在表 3 中，每个方法的参数和返回值都是 double 类型，参数以弧度代替角度来实现，其中 1 度等于 &pi;/180 弧度，因此平角就是 &pi; 弧度。
<h4>
	例 4</h4>
计算 90 度的正弦值、0 度的余弦值、1 的反正切值、120 度的弧度值，代码如下：
<pre class="cpp">
public class Test04 {
    public static void main(String[] args) {
        System.out.println{&quot;90 度的正弦值：&quot; + Math.sin(Math.PI/2));
        System.out.println(&quot;0 度的余弦值：&quot; + Math.cos(0));
        System.out.println(&quot;1 的反正切值：&quot; + Math.atan(l));
        System.out.println(&quot;120 度的弧度值：&quot; + Math.toRadians(120.0));
    }
}</pre>
在上述代码中，因为 Math.sin() 中的参数的单位是弧度，而 90 度表示的是角度，因此需要将 90 度转换为弧度，即 Math.PI/180*90，故转换后的弧度为 Math.PI/2，然后调用 Math 类中的 sin() 方法计算其正弦值。<br />
<br />
该程序的运行结果如下：
<pre class="info-box">
90 度的正弦值：1.0
0 的余弦值：1.0
1 的反正切值：0.7853981633974483
120 度的弧度值：2.0943951023931953</pre>
<h2>
	指数运算</h2>
指数的运算包括求方根、取对数及其求 n 次方的运算。在 Math 类中定义的指数运算方法及其说明如表 4 所示。<br />
<br />
<table border="1">
	<caption>
		表 4 指数方法及其说明</caption>
	<tbody>
		<tr>
			<th>
				方法</th>
			<th>
				说明</th>
		</tr>
		<tr>
			<td>
				static double exp(double a)</td>
			<td>
				返回 e 的 a 次幂</td>
		</tr>
		<tr>
			<td>
				static double pow(double a,double b)</td>
			<td>
				返回以 a 为底数，以 b 为指数的幂值</td>
		</tr>
		<tr>
			<td>
				static double sqrt(double a)</td>
			<td>
				返回 a 的平方根</td>
		</tr>
		<tr>
			<td>
				static double cbrt(double a)</td>
			<td>
				返回 a 的立方根</td>
		</tr>
		<tr>
			<td>
				static double log(double a)</td>
			<td>
				返回 a 的自然对数，即 lna 的值</td>
		</tr>
		<tr>
			<td>
				static double log10(double a)</td>
			<td>
				返回以 10 为底 a 的对数</td>
		</tr>
	</tbody>
</table>
<h4>
	例 5</h4>
使用 Math 类中的方法实现指数的运算，main() 方法中的代码如下：
<pre class="cpp">
public class Test05 {
    public static void main(String[] args) {
        System.out.println(&quot;4 的立方值：&quot; + Math.pow(4, 3));
        System.out.println(&quot;16 的平方根：&quot; + Math.sqrt(16));
        System.out.println(&quot;10 为底 2 的对数：&quot; + Math.log1O(2));
    }
}</pre>
该程序的运行结果如下：
<pre class="info-box">
4 的立方值：64.0
16 的平方根：4.0
10 为底 2 的对数：0.3010299956639812</pre>
</div>
			<div id="ggxc-weixin-arcbottom">
	<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
	<p style="margin-top:12px; text-align:center;">
		<img src="../templets/new/images/material/qrcode_mp_4.png" alt="公众号二维码" width="160" /><br />
		<span class="col-green">微信扫码关注公众号</span>
	</p>
</div>
			<div class="pre-next-page clearfix">&nbsp;</div>
			<div id="nice-arcs" class="box-bottom">
    <h4>推荐阅读</h4>
    <ul class="clearfix">
<li><a href="niz69i_8.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_4.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_4.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="vip_2335_2.html" title="到底什么时候会调用拷贝构造函数？" target="_blank">到底什么时候会调用拷贝构造函数？</a></li>
<li><a href="2414_2.html" title="MySQL修改数据库：ALTER DATABASE用法简介" target="_blank">MySQL修改数据库：ALTER DATABASE用法简介</a></li>
<li><a href="7251_2.html" title="C++ STL unordered_multiset容器详解" target="_blank">C++ STL unordered_multiset容器详解</a></li>
<li><a href="7992_2.html" title="gcc指令一次处理多个文件" target="_blank">gcc指令一次处理多个文件</a></li>
<li><a href="vip_8340_2.html" title="向MySQL发送一个请求的时候，MySQL到底做了些什么？" target="_blank">向MySQL发送一个请求的时候，MySQL到底做了些什么？</a></li>
<li><a href="vip_8359_2.html" title="MySQL如何选择正确的字符集？" target="_blank">MySQL如何选择正确的字符集？</a></li>
<li><a href="e035irn_2.html" title="CSS层叠特性详解" target="_blank">CSS层叠特性详解</a></li>
</ul>
</div>
		</div>
		
	</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 866;
window.arcId = "0e87iN30yFRuU1yC+F9WtYWu09KEopvd0mkl8S/U1iNmvq89SjrciHAT/w";
window.typeidChain = "96|79";
</script>
<div id="footer" class="clearfix">
	<div class="info left">
	<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
	<p>
		<a href="8066_2.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
		<a href="8092_3.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
		<a href="8097_2.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
		<a href="9648_2.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
		<a href="8093_2.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
		<a href="../sitemap/sitemap_2.html" target="_blank" rel="nofollow">网站地图</a>
	</p>
	<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan_2.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
	</p>
	</div>
	<img id="logo_bottom" class="right" src="https://m.biancheng.net/templets/new/images/logo_bottom_2.gif" alt="底部Logo" />
	<span id="return-top"><b>↑</b></span>
</div>

<div id="addweixin-widget">
	<p>
		<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://m.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
		<img src="https://m.biancheng.net/templets/new/images/material/qrcode_mp_4.png" alt="微信交流群" width="120" />
		<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
	</p>
	<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>

<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";
window.prePageURL = "/java/50/";
window.nextPageURL = "/view/867.html";
</script>

<script src="https://m.biancheng.net/templets/new/script/jquery1.12.4.min_2.js"></script>
<script src="https://m.biancheng.net/templets/new/script/common_2.js"></script>
<!-- 51la V6 -->
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<!-- 51la V5 -->
<!-- <span style="display: none;"><script type="text/javascript" src="https://js.users.51.la/21368967.js"></script></span> -->
</body>
</html>