<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>Java日期格式化（DateFormat类和SimpleDateFormat类）</title>
<meta name="description" content="格式化日期表示将日期/时间格式转换为预先定义的日期/时间格式。例如将日期Fri May 18 15:46:24 CST2016 格式转换为 2016-5-18 15:46:24 星期五的格式。 在 Java 中，可以使用 DateFormat 类和 Simple" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="iconfont"></span></span>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main" class="clearfix">
<div id="sidebar" class="toggle-target">
<div id="contents">
<dt><span class="iconfont iconfont-list-vertical" aria-hidden="true"></span><a href="../java/java_3.html">Java教程</a></dt>
<dd>
<span class="channel-num">1</span>
<a href='../java/10/10.html'>Java入门基础及环境搭建</a>
</dd>
<dd>
<span class="channel-num">2</span>
<a href='../java/20/20.html'>Java程序设计基础</a>
</dd>
<dd>
<span class="channel-num">3</span>
<a href='../java/30/30.html'>Java流程控制语句</a>
</dd>
<dd>
<span class="channel-num">4</span>
<a href='../java/40/40.html'>Java字符串处理</a>
</dd>
<dd class="this"> <span class="channel-num">5</span> <a href="../java/50/50.html">Java数字和日期处理</a> </dd><dl class="dl-sub"><dd>5.1 <a href="866.html">Java Math类的常用方法</a></dd><dd>5.2 <a href="867.html">Java生成随机数</a></dd><dd>5.3 <a href="869.html">Java数字格式化</a></dd><dd>5.4 <a href="871.html">Java大数字运算</a></dd><dd>5.5 <a href="876.html">Java时间日期的处理</a></dd><dd>5.6 <a href="878.html">Java日期格式化</a></dd><dd>5.7 <a href="881.html">Java计算课程结束的日期</a></dd><dd>5.8 <a href="882.html">Java日期查询</a></dd></dl>
<dd>
<span class="channel-num">6</span>
<a href='../java/60/60.html'>Java内置包装类</a>
</dd>
<dd>
<span class="channel-num">7</span>
<a href='../java/70/70.html'>Java数组处理</a>
</dd>
<dd>
<span class="channel-num">8</span>
<a href='../java/80/80.html'>Java类和对象</a>
</dd>
<dd>
<span class="channel-num">9</span>
<a href='../java/90/90.html'>Java继承和多态</a>
</dd>
<dd>
<span class="channel-num">10</span>
<a href='../java/100/100.html'>Java异常处理</a>
</dd>
<dd>
<span class="channel-num">11</span>
<a href='../java/110/110.html'>Java集合、泛型和枚举</a>
</dd>
<dd>
<span class="channel-num">12</span>
<a href='../java/120/120.html'>Java反射机制</a>
</dd>
<dd>
<span class="channel-num">13</span>
<a href='../java/130/130.html'>Java输入/输出流</a>
</dd>
<dd>
<span class="channel-num">14</span>
<a href='../java/java/135/135.html'>Java注解</a>
</dd>
</div>
</div>
<div id="article-wrap">
<div id="article">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; <a href="../java/java_3.html">Java教程</a> &gt; <a href="../java/50/50.html">Java数字和日期处理</a></span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>Java日期格式化（DateFormat类和SimpleDateFormat类）</h1>
<div class="pre-next-page clearfix">&nbsp;</div>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">格式化日期表示将日期/时间格式转换为预先定义的日期/时间格式。例如将日期&ldquo;Fri May 18 15:46:24 CST2016&rdquo; 格式转换为 &ldquo;2016-5-18 15:46:24 星期五&rdquo;的格式。<br />
<br />
在 <a href='../java/java_3.html' target='_blank'>Java</a> 中，可以使用 DateFormat 类和 SimpleDateFormat 类来格式化日期，下面详细介绍这两个格式化日期类的使用。
<h2>
DateFormat 类</h2>
<span style="color:#b22222;">DateFormat 是日期/时间格式化子类的抽象类，它以与语言无关的方式格式化并解析日期或时间。</span>日期/时间格式化子类（如 SimpleDateFormat）允许进行格式化（也就是日期&rarr;文本）、解析（文本&rarr;日期）和标准化日期。<br />
<br />
<span style="color:#b22222;">在创建 DateFormat 对象时不能使用 new 关键字，而应该使用 DateFormat 类中的静态方法 getDateInstance()</span>，示例代码如下：
<pre class="info-box">
DateFormat df = DateFormat.getDatelnstance();</pre>
<br />
在创建了一个 DateFormat 对象后，可以调用该对象中的方法来对日期/时间进行格式化。DateFormat 类中常用方法如表 1 所示。<br />
<br />
<table border="1">
<caption>
表 1 DateFormat类的常用方法</caption>
<tbody>
<tr>
<th>
方法</th>
<th>
描述</th>
</tr>
<tr>
<td>
String format(Date date)</td>
<td>
将 Date 格式化日期/时间字符串</td>
</tr>
<tr>
<td>
Calendar getCalendar()</td>
<td>
获取与此日期/时间格式相关联的日历</td>
</tr>
<tr>
<td>
static DateFormat getDateInstance()</td>
<td>
获取具有默认格式化风格和默认语言环境的日期格式</td>
</tr>
<tr>
<td>
static DateFormat getDateInstance(int style)</td>
<td>
获取具有指定格式化风格和默认语言环境的日期格式</td>
</tr>
<tr>
<td>
static DateFormat getDateInstance(int style,<br />
Locale locale)</td>
<td>
获取具有指定格式化风格和指定语言环境的日期格式</td>
</tr>
<tr>
<td>
static DateFormat getDateTimeInstance()</td>
<td>
获取具有默认格式化风格和默认语言环境的日期/时间<br />
格式</td>
</tr>
<tr>
<td>
static DateFormat getDateTimeInstance(int<br />
dateStyle,int timeStyle)</td>
<td>
获取具有指定日期/时间格式化风格和默认语言环境的<br />
日期/时间格式</td>
</tr>
<tr>
<td>
static DateFormat getDateTimeInstance(int<br />
dateStyle,int timeStyle,Locale locale)</td>
<td>
获取具有指定日期/时间格式化风格和指定语言环境的<br />
日期/时间格式</td>
</tr>
<tr>
<td>
static DateFormat getTimeInstance()</td>
<td>
获取具有默认格式化风格和默认语言环境的时间格式</td>
</tr>
<tr>
<td>
static DateFormat getTimeInstance(int style)</td>
<td>
获取具有指定格式化风格和默认语言环境的时间格式</td>
</tr>
<tr>
<td>
static DateFormat getTimeInstance(int style,<br />
Locale locale)</td>
<td>
获取具有指定格式化风格和指定语言环境的时间格式</td>
</tr>
<tr>
<td>
void setCalendar(Calendar newCalendar)</td>
<td>
为此格式设置日历</td>
</tr>
<tr>
<td>
Date parse(String source)</td>
<td>
将给定的字符串解析成日期/时间</td>
</tr>
</tbody>
</table>
<br />
格式化样式主要通过 DateFormat 常量设置。将不同的常量传入到表 1 所示的方法中，以控制结果的长度。DateFormat 类的常量如下。
<ul>
<li>
SHORT：完全为数字，如 12.5.10 或 5:30pm。</li>
<li>
MEDIUM：较长，如 May 10，2016。</li>
<li>
LONG：更长，如 May 12，2016 或 11:15:32am。</li>
<li>
FULL：是完全指定，如 Tuesday、May 10、2012 AD 或 11:l5:42am CST。</li>
</ul>
<br />
使用 DateFormat 类格式化曰期/时间的示例如下：
<pre class="java">
// 获取不同格式化风格和中国环境的日期
DateFormat df1 = DateFormat.getDateInstance(DateFormat.SHORT, Locale.CHINA);
DateFormat df2 = DateFormat.getDateInstance(DateFormat.FULL, Locale.CHINA);
DateFormat df3 = DateFormat.getDateInstance(DateFormat.MEDIUM, Locale.CHINA);
DateFormat df4 = DateFormat.getDateInstance(DateFormat.LONG, Locale.CHINA);

// 获取不同格式化风格和中国环境的时间
DateFormat df5 = DateFormat.getTimeInstance(DateFormat.SHORT, Locale.CHINA);
DateFormat df6 = DateFormat.getTimeInstance(DateFormat.FULL, Locale.CHINA);
DateFormat df7 = DateFormat.getTimeInstance(DateFormat.MEDIUM, Locale.CHINA);
DateFormat df8 = DateFormat.getTimeInstance(DateFormat.LONG, Locale.CHINA);

// 将不同格式化风格的日期格式化为日期字符串
String date1 = df1.format(new Date());
String date2 = df2.format(new Date());
String date3 = df3.format(new Date());
String date4 = df4.format(new Date());

// 将不同格式化风格的时间格式化为时间字符串
String time1 = df5.format(new Date());
String time2 = df6.format(new Date());
String time3 = df7.format(new Date());
String time4 = df8.format(new Date());

// 输出日期
System.out.println(&quot;SHORT：&quot; + date1 + &quot; &quot; + time1);
System.out.println(&quot;FULL：&quot; + date2 + &quot; &quot; + time2);
System.out.println(&quot;MEDIUM：&quot; + date3 + &quot; &quot; + time3);
System.out.println(&quot;LONG：&quot; + date4 + &quot; &quot; + time4);</pre>
<br />
运行该段代码，输出的结果如下：
<pre class="info-box">
SHORT：18-10-15 上午9:30
FULL：2018年10月15日 星期一 上午09时30分43秒 CST
MEDIUM：2018-10-15 9:30:43
LONG：2018年10月15日 上午09时30分43秒</pre>
<br />
该示例主要介绍了 DateFormat 类中方法与常量的结合使用，通过使用 DateFomat 类可以对日期进行不同风格的格式化。
<h2>
SimpleDateFormat 类</h2>
如果使用 DateFormat 类格式化日期/时间并不能满足要求，那么就需要使用 DateFormat 类的子类&mdash;&mdash;SimpleDateFormat。<br />
<br />
<span style="color:#b22222;">SimpleDateFormat 是一个以与语言环境有关的方式来格式化和解析日期的具体类，它允许进行格式化（日期&rarr;文本）、解析（文本&rarr;日期）和规范化。</span>SimpleDateFormat 使得可以选择任何用户定义的日期/时间格式的模式。<br />
<br />
SimpleDateFormat 类主要有如下 3 种构造方法。
<ul>
<li>
SimpleDateFormat()：用默认的格式和默认的语言环境构造 SimpleDateFormat。</li>
<li>
SimpleDateFormat(String pattern)：用指定的格式和默认的语言环境构造 SimpleDateF ormat。</li>
<li>
SimpleDateFormat(String pattern,Locale locale)：用指定的格式和指定的语言环境构造 SimpleDateF ormat。</li>
</ul>
<br />
SimpleDateFormat 自定义格式中常用的字母及含义如表 2 所示。<br />
<br />
<table border="1">
<caption>
表 2 日期/时间格式中的字母及其含义与示例</caption>
<tbody>
<tr>
<th>
字母</th>
<th>
含义</th>
<th>
示例</th>
</tr>
<tr>
<td>
y</td>
<td>
年份。一般用 yy 表示两位年份，yyyy 表示&nbsp;4 位年份</td>
<td>
使用 yy 表示的年扮，如 11；<br />
使用 yyyy 表示的年份，如 2011</td>
</tr>
<tr>
<td>
M</td>
<td>
月份。一般用 MM 表示月份，如果使用&nbsp;MMM，则会<br />
根据语言环境显示不同语言的月份</td>
<td>
使用 MM 表示的月份，如 05；<br />
使用 MMM 表示月份，在 Locale.CHINA<br />
语言环境下，如&ldquo;十月&rdquo;；在 Locale.US<br />
语言环境下，如 Oct</td>
</tr>
<tr>
<td>
d</td>
<td>
月份中的天数。一般用 dd 表示天数</td>
<td>
使用 dd 表示的天数，如 10</td>
</tr>
<tr>
<td>
D</td>
<td>
年份中的天数。表示当天是当年的第几天， 用 D 表示</td>
<td>
使用 D 表示的年份中的天数，如 295</td>
</tr>
<tr>
<td>
E</td>
<td>
星期几。用 E 表示，会根据语言环境的不同， 显示不<br />
同语言的星期几</td>
<td>
使用 E 表示星期几，在 Locale.CHINA 语<br />
言环境下，如&ldquo;星期四&rdquo;；在 Locale.US&nbsp;语<br />
言环境下，如 Thu</td>
</tr>
<tr>
<td>
H</td>
<td>
一天中的小时数（0~23)。一般用 HH 表示小时数</td>
<td>
使用 HH 表示的小时数，如 18</td>
</tr>
<tr>
<td>
h</td>
<td>
一天中的小时数（1~12)。一般使用 hh 表示小时数</td>
<td>
使用 hh 表示的小时数，如 10 (注意 10 有<br />
可能是 10 点，也可能是 22 点）</td>
</tr>
<tr>
<td>
m</td>
<td>
分钟数。一般使用 mm 表示分钟数</td>
<td>
使用 mm 表示的分钟数，如 29</td>
</tr>
<tr>
<td>
s</td>
<td>
秒数。一般使用 ss 表示秒数</td>
<td>
使用 ss 表示的秒数，如 38</td>
</tr>
<tr>
<td>
S</td>
<td>
毫秒数。一般使用 SSS 表示毫秒数</td>
<td>
使用 SSS 表示的毫秒数，如 156</td>
</tr>
</tbody>
</table>
<h4>
例 1</h4>
编写 Java 程序，使用 SimpleDateFormat 类格式化当前日期并打印，日期格式为&ldquo;xxxx 年 xx 月 xx 日星期 xxx 点 xx 分 xx 秒&rdquo;，具体的实现代码如下：
<pre class="java">
import java.text.SimpleDateFormat;
import java.util.Date;

public class Test13 {
    public static void main(String[] args) {
        Date now = new Date(); // 创建一个Date对象，获取当前时间
        // 指定格式化格式
        SimpleDateFormat f = new SimpleDateFormat(&quot;今天是 &quot; + &quot;yyyy 年 MM 月 dd 日 E HH 点 mm 分 ss 秒&quot;);
        System.out.println(f.format(now)); // 将当前时间袼式化为指定的格式
    }
}</pre>
该程序的运行结果如下：
<pre class="info-box">
今天是 2018 年 10 月 15 日 星期一 09 点 26 分 23 秒</pre>
</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div class="pre-next-page clearfix">&nbsp;</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="vip_2252.html" title="C++引用在本质上是什么，它和指针到底有什么区别？" target="_blank">C++引用在本质上是什么，它和指针到底有什么区别？</a></li>
<li><a href="2829.html" title="Shell select in循环详解" target="_blank">Shell select in循环详解</a></li>
<li><a href="6955.html" title="C++ STL list容器底层实现（详解版）" target="_blank">C++ STL list容器底层实现（详解版）</a></li>
<li><a href="7232.html" title="MySQL视图是什么？" target="_blank">MySQL视图是什么？</a></li>
<li><a href="../python_spider/scrapy-case.html" title="Python Scrapy爬虫框架实战应用" target="_blank">Python Scrapy爬虫框架实战应用</a></li>
<li><a href="../pandas/indexing.html" title="Pandas index操作索引" target="_blank">Pandas index操作索引</a></li>
<li><a href="hbjt2dd.html" title="Python建造者模式（附带源码）" target="_blank">Python建造者模式（附带源码）</a></li>
</ul>
</div>
</div>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 878;
window.arcId = "969c78ZxTxoXZ3TYhCPEOiG1qu/K+kKous+0ap3+RBa5kUQh+RxnEr8InA";
window.typeidChain = "96|79";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";
window.prePageURL = "/view/876.html";
window.nextPageURL = "/view/881.html";
</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>