<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>JS调试（Debug）教程[简明版]</title>
<meta name="description" content="在 JavaScript 开发过程中，代码可能存在一些语法或者逻辑上的错误，导致程序不能得到我们想要的结果，这时就需要我们找到并修复这些错误，我们将查找和修复错误的过程称为调试或" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="iconfont"></span></span>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main" class="clearfix">
<div id="sidebar" class="toggle-target">
<div id="contents">
<dt><span class="iconfont iconfont-list-vertical" aria-hidden="true"></span><a href="../js/js.html">JavaScript</a></dt>
<dd>
<span class="channel-num">1</span>
<a href="5351.html">JavaScript是什么</a>
</dd>
<dd>
<span class="channel-num">2</span>
<a href="9338.html">Node.js是什么</a>
</dd>
<dd>
<span class="channel-num">3</span>
<a href="5355.html">第一个JavaScript程序</a>
</dd>
<dd>
<span class="channel-num">4</span>
<a href="5359.html">JavaScript中的几个重要概念</a>
</dd>
<dd>
<span class="channel-num">5</span>
<a href="5370.html">JavaScript注释</a>
</dd>
<dd>
<span class="channel-num">6</span>
<a href="9339.html">JavaScript变量</a>
</dd>
<dd>
<span class="channel-num">7</span>
<a href="9340.html">JavaScript数据类型</a>
</dd>
<dd>
<span class="channel-num">8</span>
<a href="9341.html">JavaScript运算符</a>
</dd>
<dd>
<span class="channel-num">9</span>
<a href="9342.html">JavaScript输出</a>
</dd>
<dd>
<span class="channel-num">10</span>
<a href="5505.html">JavaScript if else</a>
</dd>
<dd>
<span class="channel-num">11</span>
<a href="5526.html">JavaScript switch case</a>
</dd>
<dd>
<span class="channel-num">12</span>
<a href="9343.html">JavaScript while</a>
</dd>
<dd>
<span class="channel-num">13</span>
<a href="9344.html">JavaScript do while</a>
</dd>
<dd>
<span class="channel-num">14</span>
<a href="9345.html">JavaScript for</a>
</dd>
<dd>
<span class="channel-num">15</span>
<a href="9346.html">JavaScript for in</a>
</dd>
<dd>
<span class="channel-num">16</span>
<a href="9347.html">JavaScript for of</a>
</dd>
<dd>
<span class="channel-num">17</span>
<a href="9348.html">JavaScript跳出循环</a>
</dd>
<dd>
<span class="channel-num">18</span>
<a href="9349.html">JavaScript函数</a>
</dd>
<dd>
<span class="channel-num">19</span>
<a href="9351.html">JavaScript事件处理</a>
</dd>
<dd>
<span class="channel-num">20</span>
<a href="9352.html">JavaScript作用域</a>
</dd>
<dd>
<span class="channel-num">21</span>
<a href="9353.html">JavaScript对象</a>
</dd>
<dd>
<span class="channel-num">22</span>
<a href="9354.html">JavaScript Number对象</a>
</dd>
<dd>
<span class="channel-num">23</span>
<a href="9355.html">JavaScript String对象</a>
</dd>
<dd>
<span class="channel-num">24</span>
<a href="9356.html">JavaScript Array对象</a>
</dd>
<dd>
<span class="channel-num">25</span>
<a href="9357.html">JavaScript Date对象</a>
</dd>
<dd>
<span class="channel-num">26</span>
<a href="9358.html">JavaScript Math对象</a>
</dd>
<dd>
<span class="channel-num">27</span>
<a href="9359.html">JavaScript RegExp对象</a>
</dd>
<dd>
<span class="channel-num">28</span>
<a href="9360.html">JavaScript DOM</a>
</dd>
<dd>
<span class="channel-num">29</span>
<a href="9361.html">JavaScript Element对象</a>
</dd>
<dd>
<span class="channel-num">30</span>
<a href="9362.html">JavaScript attributes对象</a>
</dd>
<dd>
<span class="channel-num">31</span>
<a href="9363.html">JavaScript BOM</a>
</dd>
<dd>
<span class="channel-num">32</span>
<a href="9364.html">JavaScript Navigator对象</a>
</dd>
<dd>
<span class="channel-num">33</span>
<a href="9365.html">JavaScript Screen对象</a>
</dd>
<dd>
<span class="channel-num">34</span>
<a href="9366.html">JavaScript Location对象</a>
</dd>
<dd>
<span class="channel-num">35</span>
<a href="9367.html">JavaScript History对象</a>
</dd>
<dd>
<span class="channel-num">36</span>
<a href="9368.html">JavaScript定时器</a>
</dd>
<dd>
<span class="channel-num">37</span>
<a href="9369.html">JavaScript异常处理</a>
</dd>
<dd>
<span class="channel-num">38</span>
<a href="9370.html">JavaScript表单验证</a>
</dd>
<dd>
<span class="channel-num">39</span>
<a href="9371.html">JavaScript动画</a>
</dd>
<dd>
<span class="channel-num">40</span>
<a href="9372.html">JavaScript调试</a>
</dd>
<dd>
<span class="channel-num">41</span>
<a href="9373.html">JavaScript闭包</a>
</dd>
<dd>
<span class="channel-num">42</span>
<a href="9374.html">JavaScript严格模式</a>
</dd>
<dd>
<span class="channel-num">43</span>
<a href="9375.html">JavaScript解析JSON</a>
</dd>
<dd>
<span class="channel-num">44</span>
<a href="9376.html">JavaScript Cookie</a>
</dd>
<dd>
<span class="channel-num">45</span>
<a href="9377.html">JavaScript Ajax请求</a>
</dd>
<dd>
<span class="channel-num">46</span>
<a href="9378.html">JavaScript类型转换</a>
</dd>
<dd>
<span class="channel-num">47</span>
<a href="9379.html">JavaScript事件冒泡与事件捕获</a>
</dd>
<dd>
<span class="channel-num">48</span>
<a href="9380.html">JavaScript事件委托</a>
</dd>
</div>
</div>
<div id="article-wrap">
<div id="article">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; <a href="../js/js.html">JavaScript</a></span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>JS调试（Debug）教程[简明版]</h1>
<div class="pre-next-page clearfix">&nbsp;</div>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">在 JavaScript 开发过程中，代码可能存在一些语法或者逻辑上的错误，导致程序不能得到我们想要的结果，这时就需要我们找到并修复这些错误，我们将查找和修复错误的过程称为调试或代码调试。<br />
<br />
调试是程序开发过程中必不可少的一个环节，熟练掌握各种调试技巧，能在我们的工作中起到事半功倍的效果。<br />
<br />
在前端开发中，想要快速定位错误，可以借助浏览器内置的调试工具（控制台），通常按键盘上的 F12 就能启动，借助调试工具我们不仅可以很轻松的找到代码出错的位置，还可以通过设置断点（代码执行到断点处会暂停），来检查代码执行过程中变量的变化。<br />
<h2>
控制台</h2>
控制台中能够显示代码中的语法错误和运行时错误，其中包括错误类型、错误描述以及错误出现的位置（即错误所在的行），如下图所示：<br />
<br />
<div style="text-align: center;">
<img alt="Chrome 控制台" src="../uploads/allimg/210926/124G4GG-0.gif" /><br />
图1：Chrome 控制台</div>
<br />
<div style="text-align: center;">
<img alt="Firefox 控制台" src="../uploads/allimg/210926/124G41Y6-1.gif" /><br />
图2：Firefox 控制台</div>
<br />
借助控制台提供的信息，我们可以轻松的定位代码中的错误，不过有一点需要注意，就是控制台提供的错误信息不一定百分之百正确，因为某些错误可能是由于另外一个错误直接或间接引起的，所以控制台提示有错误的地方不一定真有问题。<br />
<h2>
如何调试 JavaScript 代码</h2>
有多种方法可以调试 JavaScript 代码，最简单的方法就是使用 console.log()、document.write()、alert() 等方法来打印程序中各个变量、对象、表达式的值，以确保程序每个阶段的运行结果都是正确的，推荐使用 console.log()，如下例所示：<br />
<pre class="html">
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;title&gt;JavaScript&lt;/title&gt;
&lt;/head&gt;

&lt;body&gt;
    &lt;div id=&quot;box&quot;&gt;&lt;/div&gt;
    &lt;script&gt;
        var box = document.getElementById(&#39;box&#39;);
        console.log(box);
        var a = &#39;Hello&#39;, b = &#39;JavaScript&#39;;
        var c = a + &#39; &#39; + b;
        console.log(c);
        box.innerHTML = c;
    &lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
运行结果如下图所示：<br />
<br />
<div style="text-align: center;">
<img alt="使用 console.log() 来调试程序" src="../uploads/allimg/210926/124G4N54-2.gif" /><br />
图3：使用 console.log() 来调试程序</div>
<br />
使用这种方法调试代码有一个弊端，那就是这些输出语句并不是代码中需要的，虽然它们不会影响代码的运行，但是为了代码更加整洁，在调试完程序后我们需要手动清理干净。<br />
<h2>
断点调试</h2>
断点是浏览器内置调试工具的重要功能之一，通过设置断点可以让程序在我们需要的地方中断（暂停），从而方便我们对该处代码进行分析和逻辑处理。以 Chrome 浏览器为例，要进行断点调试首先需要打开浏览器内置的开发者工具（按 F12 或者单击鼠标右键，在弹出的菜单中选择&ldquo;检查&rdquo;），然后在找到并选择&ldquo;Sources&rdquo;，如下图所示：<br />
<br />
<div style="text-align: center;">
<img alt="Chrome 调试工具" src="../uploads/allimg/210926/124G442J-3.gif" /><br />
图4：Chrome 调试工具</div>
<h4>
1) 找到要调试的文件</h4>
打开调试工具后，需要在工具的左侧找到要调试的文件并单击打开该文件，如下图所示：<br />
<br />
<div style="text-align: center;">
<img alt="找到要调试的文件" src="../uploads/allimg/210926/124G42491-4.gif" /><br />
图5：找到要调试的文件</div>
<h4>
2) 打断点</h4>
给代码打断点非常简单，只需要在单击要调试代码前面的行号即可，若行号被标记为蓝色，则说明已经成功打了断点，如下图所示（在代码的第 11 行和第 14 行打了断点）：<br />
<br />
<div style="text-align: center;">
<img alt="打断点" src="../uploads/allimg/210926/124G43N6-5.gif" /><br />
图6：打断点</div>
<h4>
3) 断点调试</h4>
打好断点后，刷新页面即可进入调试模式，代码执行到断点的位置会暂停，此时我们可以点击页面中的箭头会按 F8 来使代码继续执行到下个断点，如下图所示：<br />
<br />
<div style="text-align: center;">
<img alt="断点调试" src="../uploads/allimg/210926/124G4C23-6.gif" /><br />
图7：断点调试</div>
<br />
调试过程中，会在调试工具的最右侧的 Scope 栏显示一些数据。此外，还可以在最右侧的 Watch 栏中录入要调试的变量名，这样在调试过程中就能实时看到代码运行中变量的变化。<br />
<h4>
4) 逐语句执行</h4>
在调试过程中，我们还可以选择让代码逐句执行，只需要点击下图所示的按钮，或者按 F10 即可：<br />
<br />
<div style="text-align: center;">
<img alt="逐句执行" src="../uploads/allimg/210926/124G4L10-7.gif" /><br />
图8：逐句执行</div>
<br />
逐句执行配合在 Watch 栏中录入要调试的变量，能够更清晰的看到变量在代码运行过程中的变化：<br />
<br />
<div style="text-align: center;">
<img alt="逐行调试" src="../uploads/allimg/210926/124G42640-8.gif" /><br />
图9：逐行调试</div>
<h2>
debugger关键字</h2>
除了可以借助浏览器的调试工具来给代码设置断点外，也可以使用 debugger 关键字在代码中设置断点（类似于 PHP 中的 die 和 exit），效果与在调试工具中设置断点是一样的，示例代码如下：<br />
<pre class="html">
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;title&gt;JavaScript&lt;/title&gt;
&lt;/head&gt;

&lt;body&gt;
    &lt;div id=&quot;box&quot;&gt;&lt;/div&gt;
    &lt;script&gt;
        var x = 15 * 5;
        debugger;
        document.getElementById(&#39;box&#39;).innerHTML = x;
    &lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
运行上面的代码，浏览器会自动进入调试模式，并在执行到 debugger 关键字时（代码第 12 行）暂停。</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div class="pre-next-page clearfix">&nbsp;</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="555.html" title="vi文本复制命令（复制文件内容）" target="_blank">vi文本复制命令（复制文件内容）</a></li>
<li><a href="940.html" title="Java认识类和对象" target="_blank">Java认识类和对象</a></li>
<li><a href="1443.html" title="C++ string构造函数和析构函数详解" target="_blank">C++ string构造函数和析构函数详解</a></li>
<li><a href="vip_2036.html" title="大端小端以及判别方式" target="_blank">大端小端以及判别方式</a></li>
<li><a href="vip_2102.html" title="函数调用惯例(Calling Convention)" target="_blank">函数调用惯例(Calling Convention)</a></li>
<li><a href="../spring_mvc/9681.html" title="Spring MVC拦截器案例：用户登录权限验证" target="_blank">Spring MVC拦截器案例：用户登录权限验证</a></li>
<li><a href="jbw9p2q.html" title="《数据结构(C语言版)》秦玉平第4版PDF下载（高清完整版）" target="_blank">《数据结构(C语言版)》秦玉平第4版PDF下载（高清完整版）</a></li>
</ul>
</div>
</div>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 9372;
window.arcId = "b8e1pog87jQuWbCilCG9lf1MdSF/wLaFKQL/V1/sPHrcj3fthQxVNu0M/TY";
window.typeidChain = "308";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";
window.prePageURL = "/view/9371.html";
window.nextPageURL = "/view/9373.html";
</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>