<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>如何长期输出优质内容？我是如何做到的？</title>
<meta name="description" content="创业 7 年时间里，我一直在运营C语言中文网，创作和参与了 40 多套编程教材，累计阅读人次超过 2000 万，我工作的内核就是长期输出高质量内容。 现在我开始运营公众号了（名字是魏" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; <a href="../hot/hot.html">推荐阅读</a></span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>如何长期输出优质内容？我是如何做到的？</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">创业 7 年时间里，我一直在运营C语言中文网，创作和参与了 40 多套编程教材，累计阅读人次超过 2000 万，我工作的内核就是长期输出高质量内容。<br />
<br />
现在我开始运营公众号（名字是&ldquo;站长严长生&rdquo;）了，还要持续输出编程之外的硬核内容，包括求职、创业和营销。<br />
<br />
有很多读者说，站长你太励志了，懂得这么多编程语言，还都编写成教材；最让人受不了的是，它们还都通俗易懂，深入浅出。<br />
<br />
其实我很早就想分享一下自己的真实创作经历，为大家揭开一个奇葩程序员的神秘面纱，现在我创办了公众号，终于有机会了。<br />
<br />
另外，我在《<a href="9436.html" target="_blank">什么是个人品牌？如何打造个人品牌？</a>》一文中也给自己挖了个坑，承诺要写一篇文章告诉大家如何长期输出优质内容来塑造个人品牌。这篇文章，就是来填坑的，吹过的 NB 必须兑现。
<h2>
创作需要具备的基本素质</h2>
自媒体作品有多种呈现形式，它可以是文字、音频、视频、图片，每种形式都需要作者具备不同的基本素养：
<ul>
<li>
创作文字内容需要文笔通顺，逻辑清晰，符合中国人的阅读习惯。</li>
<li>
创作音频内容需要口齿清晰，抑扬顿挫，节奏明确，掌握常用剪辑技巧。</li>
<li>
创作视频内容需要表情自然，面容干净，有效控场，掌握常用剪辑技巧。</li>
<li>
创作图片内容需要审美独特，并掌握常用 PS 技巧，或者具备美术功底。</li>
</ul>
<br />
目前我只擅长创作文字内容，其它形式不太熟悉，不敢多言，所以此处我仅仅说一下如何创作文字内容。<br />
<br />
在自媒体上创作文字内容不需要文采飞扬，引经据典，你只需要学会说中国话就行。有读者可能会疑问，大家都是中国人，谁还不会说中国话呀？<br />
<br />
我告诉你，这一点并不容易，90% 以上的大学生都不具备这个能力。虽然大家在聊天过程中不觉得语言是障碍，但是你换做书面语言试试，我保证你写出来的是小学生作文水平，你自己读起来都呕吐，除非你平时有写博客、写小说、写诗歌的习惯。<br />
<br />
好在写作能力是可以慢慢培养的，你可以不断地写作，并参考一些优秀作品，慢慢积累对文字的感觉。我也一直在培养团队成员，教他们如何创作一篇优质教程，一般经过半年就能轻车熟路。<br />
<br />
我的写作能力也不是与生俱来的，我从小学就开始培养了，直到此刻还在不断输出。我的写作经历大概经过了以下几个阶段：
<ul>
<li>
小学五六年级我开始购买类似《优秀作文100篇》这样的课外书籍，模仿别人的写作风格。</li>
<li>
高中我开始尝试写小说，写散文，并被某家忘了名字的报纸刊登了部分内容；另外，我的高中作文还得过满分。</li>
<li>
大一还在坚持写散文和诗歌，并在我校诗歌征文大赛中获得二等奖；大二开始创建网站，写作的事情也就逐渐放下了。</li>
<li>
离职后一直运营C语言中文网，坚持创作编程教材。现在还创办了公众号，我还要持续输出求职、创业、营销类的文章。</li>
</ul>
<br />
如果站在文学角度评价，也许我并不具备顶级的艺术细胞；如果站在读者角度评价，我对文字的敏感超越很多自媒体作者。有这样的文字功底，不管运营网站，还是创办公众号，都足够了。
<h2>
如何持续输出优质内容</h2>
首先，创作优质内容需要走心，需要烧脑，会消耗很多精力。如果你想随便应付一下读者，推送粗制滥造的文章，我劝你还是放弃吧。<br />
<br />
自媒体已经持续火热了五六年，用户的胃口越来越刁钻，那些拼凑的内容已经没有市场了。大浪淘沙，沉淀下来的都是优质内容。<br />
<br />
其次，在创作过程中我们还需要不断搜集素材，掏出自己的干货。每个人脑海中的知识储备都是有限的，可能几个月就榨干了，所以要一边输出一边学习，不断丰富自己的信息量。<br />
<br />
创作的过程，也是学习的过程，如果你坚持创作 1000 篇文章，我保证你能学到很多东西。<br />
<br />
那些有才艺，有一技之长，有兴趣爱好人更容易持续输出优质内容，比如你热爱跳舞、滑板、武术，或者你是一名程序员、股票交易员、医生等。<br />
<br />
如果你啥也不会，只要你擅长表演，你也可以每天为粉丝阅读一篇别人的文章，用你的声音、节奏、表情、动作去感染粉丝。<br />
<br />
即使你一无是处，你也可以游遍大好河山，为粉丝介绍旅游景点，总结旅游攻略，或者分享美景照片。<br />
<br />
总之，只要你想，总有办法持续输出优质内容。<br />
<br />
接下来我分享一下自己是如何解决内容输出困局的。<br />
<br />
我虽然创办了C语言中文网，每天有十几万的用户在使用，但是我并没有个人品牌，没人知道严长生是谁，因为C语言中文网不是我的名字。<br />
<br />
我之所以创办公众号（名字是&ldquo;站长严长生&rdquo;），也是为了打造个人品牌。几年之前我就想创办公众号了，但是我认为内容输出是个头疼的问题，不知道如何解决，所以一直在拖延，也一直在错失机会，直到最近才决定踏入这个领域。<br />
<br />
我计划如何解决内容输出问题呢？<br />
<br />
我是一个程序员，我可以在公众号上分享代码或者技术细节，教大家如何学习编程，但是，如果我真的这样做了，我相信大家都会吐血，根本看不动，早晚取关。另外，关注我的用户使用的编程语言也都不一样，如果我分享 Java 知识，那么学习 Python 的读者看不懂，反之亦然。<br />
<br />
多方面的原因决定，我不能在公众号上分享技术细节，然而分享技术细节又是我最擅长的，这可怎么办呢？这也是我迟迟没有运营公众号的原因，我被这个问题困住了。<br />
<br />
后来经过长期的思考，我才终于想明白，我为啥一定要把自己定位成一个技术控，我还可以有其它角色，比如技术科普、职业规划师、创业导师、营销专家，这些方面我也有一堆话要说，而且它们都和程序员相关。甚至，我还可以约谈我的用户，为读者分享各家公司的工作日常、薪资待遇、学习经历等。<br />
<br />
实在不行，我还可以八卦一下自己，运营C语言中文网 11 年，我经历了很多，哭过笑过，自卑过狂妄过，跟合伙人吵过架，跟同事摔过手机&hellip;&hellip;这些都是精彩的故事。
<p class="tip-box">
C语言中文网最初由我和我的同学创办，后来因为运营理念不同，我全资收购了C语言中文网，现在只有我一个站长。</p>
多个方面加起来，足够输出上千篇内容了，我每天发布一篇，公众号就能运营三年。在这三年时间内，我也会不断成长，和大家建立更多连接，以后还会碰撞出更多火花。
<h2>
总结</h2>
如果你想通过自媒体打造个人品牌，只要敢作敢为，不被固有思维局限，总有输出不完的优质内容。<br />
<br />
举一个反常规的例子。一个一无是处的屌丝如果想运营自媒体，他可以输出什么内容呢？其实我在上面已经提到了，就是游遍大好河山，为粉丝介绍旅游景点，总结旅游攻略，或者分享美景照片。<br />
<br />
有读者可能会质疑，你说的不现实呀，难道工作不要了吗？屌丝哪来的钱旅游？<br />
<br />
这很好解决。你可以业余时间去旅游，不必占用工作时间。如果没钱，你可以穷游，买一辆单车在周边骑行，或者乘坐公共交通工具出行。坚持一年，你就有粉丝了，有收入了，你就可以离职了，此时一切问题就迎刃而解。<br />
<br />
束缚你的，是你的思维，是别人的眼光，只要你什么都不在乎，横下一颗心来，就可以一边旅游一边赚钱。</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="616.html" title="C++ swap_ranges(STL swap_ranges)函数使用详解" target="_blank">C++ swap_ranges(STL swap_ranges)函数使用详解</a></li>
<li><a href="820.html" title="Linux RPM包验证和数字证书（数字签名）" target="_blank">Linux RPM包验证和数字证书（数字签名）</a></li>
<li><a href="1158.html" title="SELinux策略规则的开启和关闭（详解版）" target="_blank">SELinux策略规则的开启和关闭（详解版）</a></li>
<li><a href="3534.html" title="汇编语言PUSH和POP指令（压栈和出栈）" target="_blank">汇编语言PUSH和POP指令（压栈和出栈）</a></li>
<li><a href="vip_7050.html" title="小白如何使用Java API帮助文档？" target="_blank">小白如何使用Java API帮助文档？</a></li>
<li><a href="vip_7710.html" title="深度剖析C++ vector容器的底层实现机制" target="_blank">深度剖析C++ vector容器的底层实现机制</a></li>
<li><a href="../spring_boot/example.html" title="IDEA创建Spring Boot项目" target="_blank">IDEA创建Spring Boot项目</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 9437;
window.arcId = "e9e1iXB+Y1TeE1S+a/D9l6w3ahfXrjgYKlE133CvmCYyQL06of4tPMD6lGo";
window.typeidChain = "397";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>