<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>尼玛，又被割韭菜了...</title>
<meta name="description" content="前段时间我在B站上关注了一个 UP 主，他分享了一系列关于职业生涯的视频，其中包含了不少亮点，让我深受启发，感觉对各个产业的认知又提升了一个 Level。 在视频中，他三番五次地" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; <a href="../hot/hot.html">推荐阅读</a></span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>尼玛，又被割韭菜了...</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">前段时间我在B站上关注了一个 UP 主，他分享了一系列关于职业生涯的视频，其中包含了不少亮点，让我深受启发，感觉对各个产业的认知又提升了一个 Level。<br />
<br />
在视频中，他三番五次地推荐自己的付费课程，说里面有更加完整和系统的知识结构，想深入了解的小伙伴可以自行购买。<br />
<br />
出于对 UP 主的信任，以及对知识付费的认可，我稍微犹豫了一会就直接下单了，花了 199 元。<br />
<br />
当时我感觉如获至宝，迫不及待地打开课程去学习，但是学着学着，我发现课程里边并没有什么额外的干货，那些精华内容都已经在免费视频里边讲解过了，付费课程只是补充了一些边边角角，以及一些不重要的闲言碎语。<br />
<br />
课程学习了不到一半，我就学不下去了，感觉自己又被割了韭菜，白白浪费了 199 元。<br />
<br />
虽然心情不爽，但是我并没有去找 UP 主理论，也没有在视频下方留言差评，虽然收费课程有点坑，但是免费内容还是不错的，这 199 元我就当打赏免费内容了，毕竟制作免费内容也是非常消耗的。<br />
<br />
自由职业这几年，我买过的付费课程也有几十套了，大部分课程都对得起它的价格，甚至有一套 9999 元的课程还让网站的流量提升了一个档次。<br />
<br />
当然，我也遇到过几套比较糟糕的课程（包括这次），他们要么质量不行，要么不符合我的需求。但是，这些不好的体验并不会影响我继续购买其他付费课程，即使被割韭菜，我也愿意去尝试。<br />
<br />
难道我是人傻钱多吗？噗，拉到吧，钱多的人从来不是傻子，我只是愿意为学习冒险而已。<br />
<br />
从本质上讲，我是把学习当成了一种投资。<br />
<br />
投资有风险，你可能血本无归，也可能翻倍增长，我们不能只看一次的得失，而应该看整体上的盈利情况。<br />
<br />
目前我已经为学习花费了几万元，看起来付出挺多，但是它给我带来的收益也是相当可观的，这包括：
<ul>
<li>
网站流量大涨，课程销量增加；</li>
<li>
以低成本的方式持续创作公众号文章；</li>
<li>
打消了炒股的念头，避免了资金流失；</li>
<li>
发布了多套编程教材。</li>
</ul>
<br />
只要把时间线拉长，你就会发现投资学习永远不会亏本，你所掌握的每一项技能，都会在不远的将来反哺你的事业，为你带来长期价值。<br />
<br />
只要你坚持学习，你就会遇到垃圾课程，让自己变成被收割的韭菜，但是这都无所谓，毕竟垃圾课程还是少数的，大部分课程都是物有所值。<br />
<br />
我们不能因为一两次不爽的遭遇，就否定所有付费课程，更不能因此而停止学习，那将会给我们带来无法估量的损失。<br />
<br />
或许 UP 主手头比较紧，被坑就被坑吧，人生本来就不会一帆风顺，坎坎坷坷才是一种常态。</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="1121.html" title="Linux zlib和libpng安装（LAMP环境搭建）" target="_blank">Linux zlib和libpng安装（LAMP环境搭建）</a></li>
<li><a href="2294.html" title="C++多态和虚函数快速入门教程" target="_blank">C++多态和虚函数快速入门教程</a></li>
<li><a href="vip_5948.html" title="Eclipse+PyDec运行Python程序" target="_blank">Eclipse+PyDec运行Python程序</a></li>
<li><a href="5995.html" title="JS XMLHttpRequest入门教程（非常详细）" target="_blank">JS XMLHttpRequest入门教程（非常详细）</a></li>
<li><a href="vip_7352.html" title="Go语言Telnet回音服务器——TCP服务器的基本结构" target="_blank">Go语言Telnet回音服务器——TCP服务器的基本结构</a></li>
<li><a href="../css3/responsive.html" title="CSS响应式布局（自适应布局）教程" target="_blank">CSS响应式布局（自适应布局）教程</a></li>
<li><a href="../c/calloc.html" title="C语言calloc()：动态分配堆内存并初始化" target="_blank">C语言calloc()：动态分配堆内存并初始化</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 9642;
window.arcId = "77d6AerXzgiRgXqZUn/USbytsW76atT47AOVDnI/w1ENDdP4y/Z3k5Ge++k";
window.typeidChain = "397";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>