<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>NoSQL（非关系型数据库）是什么？</title>
<meta name="description" content="非关系型数据库也称为 NoSQL 数据库，请注意，NoSQL 的本意是Not Only SQL，指的是非关系型数据库，而不是No SQL（没有SQL）的意思。 NoSQL 数据库的产生之初并不是要彻底地否定和终结关系型" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>NoSQL（非关系型数据库）是什么？</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">非关系型数据库也称为 NoSQL 数据库，请注意，NoSQL 的本意是&ldquo;Not Only SQL&rdquo;，指的是非关系型数据库，而不是&ldquo;No SQL&rdquo;（没有SQL）的意思。<br />
<br />
NoSQL 数据库的产生之初并不是要彻底地否定和终结关系型数据库，而是作为传统关系型数据库的一个有效补充。<br />
<br />
随着互联网 Web2.0、Web3.0 网站的兴起，传统的关系型数据库在应付这些网站，特别是对于规模日益扩大的海量数据，超大规模和高并发的微博、微信等类型的动态网站时已经显得力不从心，暴露了很多难以克服的问题，例如，传统关系型数据库的 I/O 瓶颈、性能瓶颈等都难以有效突破。<br />
<br />
于是出现了大批针对特定场景，以高性能、高并发以及使用便利为目的的功能特异化的数据库产品，非关系型数据库就是在这样的情景中诞生并得到非常迅速发展的。在这些特定的场景下，NoSQL 数据库可以发挥出难以想象的高效率和高性能。近年来，NoSQL 这个术语得到了广泛认同。<br />
<br />
NoSQL 是非关系型数据库的广义定义，它打破了长久以来关系型数据库与 ACID 理论大一统的局面。<br />
<br />
NoSQL 数据库的数据存储不需要固定的表结构，通常也不存在连接操作，其在大数据存取上具备关系型数据库无法比拟的性能优势，满足了企业应用需要将数据存储在横向且伸缩性上更强的功能需求。例如，Google 的 BigTable、Amazon 的 Dynamo 都是非常成功的商业 NoSQL 实现。<br />
<br />
在开源的 NoSQL 体系中，从早期的 Memcached 缓存软件到当今 Facebook 的 Cassandra、Apache 的 HBase，都得到了广泛应用，redis、MongoDB 等新兴的 NoSQL 数据库，也逐渐受到各类公司的欢迎和追捧。<br />
<br />
NoSQL数据库没有标准的查询语言（SQL），因此进行数据库查询需要制定数据模型。许多 NoSQL 数据库都有 REST 式的数据接口或者查询 API。
<h4>
非关系型数据库（NoSQL）知识小结</h4>
1) NoSQL 数据库不是否定关系型数据库，而是作为关系型数据库的一个重要补充。<br />
<br />
2) NoSQL 数据库为了适应灵活及高性能、高并发需求而生，忽略影响高性能、高并发的功能。<br />
<br />
3) 在 NoSQL 数据库领域，当今的最典型产品为 redis（持久化缓存）、MongoDB、Memcached（纯内存）等。<br />
<br />
4) NoSQL 数据库没有标准的查询语言(SQL)，通常使用 REST 式的数据接口或者查询 API。
<h2>
非关系型数据库种类介绍</h2>
<h4>
1) 键值存储数据库</h4>
键值（key-value）数据库类似于传统语言中使用的哈希表，可以通过 key 来添加、查询或者删除数据，因为是使用 key 主键访问，所以会获得很高的性能及扩展性。<br />
<br />
键值数据库主要使用一个哈希表，表中有一个特定的键和一个指针（指向特定的数据）。对于 IT 系统来说，key/value 模型的优势在于简单、易部署、高并发。<br />
<br />
下面就来举例说明。
<p class="info-box">
k1&rarr;oldboy</p>
k1 是键，相当于学号，oldboy 对应的就是真实的数据，相当于具体的人。<br />
<br />
我们要找人，首先定位学号 (k1, k2)，然后再找到具体的数据 (oldboy, oldgirl)。<br />
<br />
键值存储数据库的典型产品为 Memcached、redis。
<p class="tip-box">
Memcached、redis 是互联网领域里中小型企业网站使用最多的 NoSQL 数据库种类。</p>
<h4>
2) 列存储数据库</h4>
列存储（column-oriented）数据库会将数据储存在列族（column family）中，一个列族通常存储会被一起查询的相关数据。<br />
<br />
举个例子，对于 Person 类，我们通常会查询他们的姓名和年龄，而不是薪资。在这种情况下，姓名和年龄就会放入一个列族中，而薪资则放在另一个列族中。<br />
<br />
这部分数据库通常用于应对分布式存储的海量数据。键仍然存在，但是它们的特点是指向了多个列，这些列是由列族来安排的。<br />
<br />
列存储数据库的典型产品为 Cassandra、HBase。
<p class="tip-box">
Cassandra、HBase 是互联网领域大型门户网站使用较多的 NoSQL 数据库种类。例如，新浪、京东网站使用的是 HBase，360 安全公司使用的是 Cassandra。</p>
<h4>
3) 面向文档的数据库</h4>
面向文档（document-oriented）的数据库的灵感来自于 Lotus Notes 办公软件，而且它同第一种键值存储相类似。该类型的数据模型是版本化的文档，半结构化的文档以特定的格式存储，比如 JSON。<br />
<br />
面向文档（document-oriented）的数据库可以看作键值数据库的升级版，允许之间嵌套键值，而且面向文档（document-oriented）的数据库比键值数据库的查询更高效。<br />
<br />
面向文档的数据库会将数据以文档的形式储存。每个文档都是自包含的数据单元，是一系列数据项的集合。每个数据项都有一个与名称对应的值，值既可以是简单的数据类型，如字符串、数字和日期等；也可以是复杂的类型，如有序列表和关联对象等。<br />
<br />
数据存储的最小单位是文档，同一个表中存储的文档属性可以是不同的，数据可以使用 XML、JSON 或者 JSONB 等多种形式存储。<br />
<br />
面向文档的数据库的典型产品为 MongoDB。
<p class="tip-box">
MongoDB 是互联网领域里中小型企业比较常用的面向文档的数据库种类，在部分企业里，可以替代 MySQL 作为数据库使用。</p>
<h4>
4) 图形数据库（了解即可）</h4>
图形（graph）数据库允许我们将数据以图形的方式进行存储。实体会被作为顶点，而实体之间的关系则会被作为边。比如我们有三个实体 Steve Jobs、Apple 和 Next，则会有两个&ldquo;Founded by&rdquo;的边将 Apple 和 Next 连接到 Steve Jobs。<br />
<br />
图形结构的数据库与其他行列以及刚性结构的 SQL 数据库不同，它使用的是灵活的图形模型，并且能够扩展到多个服务器上。<br />
<br />
图形数据库的典型产品为 Neo4J、InfoGrid
<p class="tip-box">
在笔者工作的十多年里，没有使用过图形数据库，不过根据国外网站数据库排名信息来看，Neo4J 上升到了 21位（截至笔者写作时），看来该软件正在被越来越多的人所熟知，我们对它保持关注吧，建议简单了解就可以了。</p>
</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="248.html" title="C++运算符重载注意事项以及汇总" target="_blank">C++运算符重载注意事项以及汇总</a></li>
<li><a href="1038.html" title="Java中的异常（Exception）：什么是异常？异常产生的原因及常见的几种异常类型" target="_blank">Java中的异常（Exception）：什么是异常？异常产生的原因及常见的几种异常类型</a></li>
<li><a href="1804.html" title="Qt Creator的初步使用" target="_blank">Qt Creator的初步使用</a></li>
<li><a href="2229.html" title="Python（for和while）循环嵌套及用法" target="_blank">Python（for和while）循环嵌套及用法</a></li>
<li><a href="3006.html" title="Android Spinner：下拉列表控件" target="_blank">Android Spinner：下拉列表控件</a></li>
<li><a href="8207.html" title="Django unittest测试框架特性简述" target="_blank">Django unittest测试框架特性简述</a></li>
<li><a href="../pandas/panel.html" title="Pandas Panel三维数据结构" target="_blank">Pandas Panel三维数据结构</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 9773;
window.arcId = "300aJKfQFXJXUJIHXdaqTf+HGWI0zSs1PQwx3IBikllo2v8h4ZoDIMrrx5I";
window.typeidChain = "450|119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>