<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 启用Chromium高速渲染模式 -->
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<!-- 禁止百度转码 -->
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止识别电话号码 -->
<meta name="format-detection" content="telephone=no" />

<link rel="shortcut icon" href="../favicon_3.ico" />
<link href="../templets/new/style/common_2.css" rel="stylesheet" />
<title>MATLAB复数及其运算</title>
<meta name="description" content="复数对于数学本身的发展有着极其重要的意义，MATLAB 提供了丰富的复数函数用于复数运算。 复数的表示 数学上把形如 a+bi（a, b均为实数）的数称为复数。其中，a 称为实部（real part），" />
</head>
<body>
<div id="topbar" class="clearfix">
	<ul id="product-type" class="left">
		<li>
			<a href="../m_biancheng_default_2.html"><span class="iconfont iconfont-home"></span>首页</a>
		</li>
		<li class="active">
			<a href="../sitemap/sitemap_2.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
		</li>
		<li>
			<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
		</li>
		<li>
			<a href="niz69i_5.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
		</li>
		<!-- <li>
			<a href="https://www.54benniao.com/c_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-c-course"></span>C语言高级课程</a>
		</li>
		<li>
			<a href="https://www.54benniao.com/java_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-java-course"></span>Java高级课程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/q2a/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-q2a"></span>一对一答疑</a>
		</li> -->
	</ul>
</div>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="../m_biancheng_default_2.html">
		<img height="26" src="../templets/new/images/logo_2.png" alt="C语言中文网" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li class="wap-yes"><a href="../m_biancheng_default_2.html">首页</a></li>
		<li><a href="../c/c_4.html">C语言教程</a></li>
		<li><a href="../cplus/cplus_2.html">C++教程</a></li>
		<li><a href="../python/python_2.html">Python教程</a></li>
		<li><a href="../java/java_2.html">Java教程</a></li>
		<li><a href="../linux_tutorial/linux_tutorial_2.html">Linux入门</a></li>
		<li><a href="../sitemap/sitemap_2.html" title="网站地图">更多&gt;&gt;</a></li>
	</ul>
	<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
	<div class="arc-info">
		<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../m_biancheng_default_2.html">首页</a> &gt; 编程笔记</span>
	</div>
	<div id="ggxc-position-bottom" class="ggxc-box"></div>
	<h1>MATLAB复数及其运算</h1>
	<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
	<div id="arc-body">复数对于数学本身的发展有着极其重要的意义，MATLAB 提供了丰富的复数函数用于复数运算。<br />
<h2>
	复数的表示</h2>
数学上把形如 a+bi（a, b 均为实数）的数称为复数。其中，a 称为实部（real part），记作 Rez=a；b 称为虚部（imaginary part），记作 Imz=b；i 称为虚数单位。<br />
<br />
当虚部等于 0（即 b=0），这个复数可以视为实数；当 z 的虚部不等于 0，实部等于 0（即 a=0 且 b&ne;0）时，z=bi，常称 z 为纯虚数。<br />
<br />
【实例】显示复数。MATLAB 程序如下：
<pre class="info-box">
&gt;&gt; clear             % 清除工作区的变量
&gt;&gt; 1+2i              % 直接输入复数
ans =
   1.0000 + 2.0000i
&gt;&gt; 2-3i
ans =
   2.0000 - 3.0000i
&gt;&gt; 5+6j
ans =
   5.0000 + 6.0000j
&gt;&gt; 2i
ans =
   0.0000 + 2.0000i
&gt;&gt; -3i
ans =
   0.0000 - 3.0000i</pre>
<h2>
	复数的基本元素函数</h2>
若存在复数 c<sub>1</sub>=a<sub>1</sub>+b<sub>1</sub>i 和复数 c<sub>2</sub>=a<sub>2</sub>+b<sub>2</sub>i，那么它们的加、减、乘、除运算定义为
<p class="info-box">
	c<sub>1</sub>+c<sub>2</sub>=(a<sub>1</sub>+a<sub>2</sub>)+(b<sub>1</sub>+b<sub>2</sub>)i<br />
	c<sub>1</sub>+c<sub>2</sub>=(a<sub>1</sub>-a<sub>2</sub>)+(b<sub>1</sub>-b<sub>2</sub>)i<br />
	c<sub>1</sub>xc<sub>2</sub>=(a<sub>1</sub>a<sub>2</sub>-b<sub>1</sub>b<sub>2</sub>)+(a<sub>1</sub>b<sub>2</sub>+b<sub>1</sub>a<sub>2</sub>)i<br />
	c<sub>1</sub>/c<sub>2</sub>=(a<sub>1</sub>a<sub>2</sub>+b<sub>1</sub>b<sub>2</sub>)/(a<sub>1</sub><sup>2</sup>+b<sub>2</sub><sup>2</sup>)+(b<sub>1</sub>a<sub>2</sub>-a<sub>1</sub>b<sub>2</sub>)/(a<sub>2</sub><sup>2</sup>+b<sub>2</sub><sup>2</sup>)i</p>
当两个复数进行二元运算时，MATLAB 将会用上面的法则进行加法、减法、乘法和除法运算。<br />
<br />
【实例】复数运算。MATLAB 程序如下：
<pre class="info-box">
&gt;&gt; clear             % 清除工作区的变量
&gt;&gt; A=1+2i;           % 创建两个变量A和B，分别赋值为复数
&gt;&gt; B=3+5i;
&gt;&gt; C=A+B             % 复数相加
C =
   4.0000 + 7.0000i
&gt;&gt; C=A-B             % 复数相减
C =
  -2.0000 - 3.0000i
&gt;&gt; C=A*B             % 复数相乘
C =
  -7.0000 +11.0000i
&gt;&gt; C=A/B             % 复数相除
C =
   0.3824 + 0.0294i</pre>
MATLAB 提供的复数基本函数及说明如下表所示。<br />
<br />
<table>
	<caption>
		表 1 复数基本函数及说明</caption>
	<tbody>
		<tr>
			<th>
				名称</th>
			<th>
				说明</th>
			<th>
				名称</th>
			<th>
				说明</th>
		</tr>
		<tr>
			<td>
				abs</td>
			<td>
				模</td>
			<td>
				complex</td>
			<td>
				用实部和虚部构造一个复数</td>
		</tr>
		<tr>
			<td>
				angle</td>
			<td>
				复数的相角</td>
			<td>
				conj</td>
			<td>
				复数的共轭</td>
		</tr>
		<tr>
			<td>
				imag</td>
			<td>
				复数的虚部</td>
			<td>
				real</td>
			<td>
				复数的实部</td>
		</tr>
		<tr>
			<td>
				unwrap</td>
			<td>
				调整矩阵元素的相位</td>
			<td>
				isreal</td>
			<td>
				判断是否为实数矩阵</td>
		</tr>
		<tr>
			<td>
				cplxpair</td>
			<td>
				把复数矩阵排列成复共轭对</td>
			<td>
				&nbsp;</td>
			<td>
				&nbsp;</td>
		</tr>
	</tbody>
</table>
<h2>
	复数的操作函数</h2>
<h4>
	1) 复数的模</h4>
除基本表示方式外，复数还有另一种表达方式，即极坐标表示方式，具体为
<p class="info-box">
	z=a+bi =r&ang;&theta;</p>
其中，r 代表复数 z 的模，&theta; 代表辐角。直角坐标中的 a,b 和极坐标 z,&theta; 之间的关系为：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/230913/2-2309131F02KU_2.gif" /></div>
<br />
这里，调用 abs 函数可直接得到复数的模。<br />
<br />
【实例】复数求模运算。MATLAB程序如下：
<pre class="info-box">
&gt;&gt; clear       % 清除工作区的变量
&gt;&gt; A=1+2i;     % 创建变量A，赋值为复数
&gt;&gt; B=angle(A)  % 求复数的幅角&theta;
B =
    1.1071
&gt;&gt; C=abs(A)    % 求复数的模
C =
    2.2361</pre>
<h4>
	2) 复数的共轭</h4>
如果复数 c=a+bi，那么该复数的共轭复数为 d=a-bi。<br />
<br />
【实例】复数求共轭运算。MATLAB 程序如下：
<pre class="info-box">
&gt;&gt; clear      % 清除工作区的变量
&gt;&gt; A=1+2i;    % 创建变量A，赋值为复数
&gt;&gt; B=real(A)  % 得到复数的实数部分
B =
     1
&gt;&gt; C=imag(A)       % 得到复数的虚数部分
C =
     2
&gt;&gt; D=conj(A)       % 得到复数的共轭复数
D =
   1.0000 - 2.0000i</pre>
<h4>
	3) 构造复数</h4>
使用函数 complex(a,b) 可以构造复数；直接输入 a+bi 形式的数值，也可以得到复数。<br />
<br />
【实例】复数构造运算。MATLAB程序如下：
<pre class="info-box">
&gt;&gt; clear             % 清除工作区的变量
&gt;&gt; complex(1,3)      % 使用函数构造复数
ans =
   1.0000 + 3.0000i
&gt;&gt; 1+3i              % 直接输入复数
ans =
   1.0000 + 3.0000i</pre>
<h4>
	4) 实数矩阵</h4>
若复数矩阵中的元素的虚部均为0，即显示为
<p class="info-box">
	c=a+bi</p>
其中，b=0，可以简写为
<p class="info-box">
	c=a</p>
则该复数矩阵称为实数矩阵。调用 isreal(X) 函数显示结果为 1，反之显示为 0。单个复数视为单元素复数矩阵处理。<br />
<br />
【实例】复数转换为实数运算。MATLAB 程序如下：
<pre class="info-box">
&gt;&gt; clear      % 清除工作区的变量
&gt;&gt; A=1+2i;    % 创建变量A，赋值为复数
&gt;&gt; isreal(A)  % 判断复数A是否为实数矩阵
ans =
logical
     0
&gt;&gt; M=1        % 创建变量M，赋值为实数
M =
     1
&gt;&gt; isreal(M)  % 判断M是否为实数矩阵
ans =
logical
     1</pre>
</div>
	<div id="ggxc-weixin-arcbottom">
	<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
	<p style="margin-top:12px; text-align:center;">
		<img src="../templets/new/images/material/qrcode_mp_4.png" alt="公众号二维码" width="160" /><br />
		<span class="col-green">微信扫码关注公众号</span>
	</p>
</div>
	<div id="nice-arcs" class="box-bottom">
    <h4>推荐阅读</h4>
    <ul class="clearfix">
<li><a href="niz69i_8.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_4.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_4.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="1003_2.html" title="Shell case语句（多分支条件判断）" target="_blank">Shell case语句（多分支条件判断）</a></li>
<li><a href="vip_2090_2.html" title="一个程序在计算机中到底是如何运行的？" target="_blank">一个程序在计算机中到底是如何运行的？</a></li>
<li><a href="2393_2.html" title="Python生成器详解" target="_blank">Python生成器详解</a></li>
<li><a href="3392_2.html" title="二叉树层次遍历（包含C语言实现代码）" target="_blank">二叉树层次遍历（包含C语言实现代码）</a></li>
<li><a href="vip_7675_2.html" title="C++多文件编程是什么" target="_blank">C++多文件编程是什么</a></li>
<li><a href="../spring_boot/static-mapping_2.html" title="Spring Boot静态资源映射" target="_blank">Spring Boot静态资源映射</a></li>
<li><a href="st30pqm_2.html" title="C#选择排序算法（附带源码）" target="_blank">C#选择排序算法（附带源码）</a></li>
</ul>
</div>
	
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 10453;
window.arcId = "615fyta3ML32FUzeISAk7CMxdK3wcWKz814Z8vuxpPRXwguHVDj8nXwzXJZN";
window.typeidChain = "332|119";
</script>
<div id="footer" class="clearfix">
	<div class="info left">
	<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
	<p>
		<a href="8066_2.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
		<a href="8092_3.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
		<a href="8097_2.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
		<a href="9648_2.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
		<a href="8093_2.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
		<a href="../sitemap/sitemap_2.html" target="_blank" rel="nofollow">网站地图</a>
	</p>
	<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan_2.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
	</p>
	</div>
	<img id="logo_bottom" class="right" src="https://m.biancheng.net/templets/new/images/logo_bottom_2.gif" alt="底部Logo" />
	<span id="return-top"><b>↑</b></span>
</div>

<div id="addweixin-widget">
	<p>
		<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://m.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
		<img src="https://m.biancheng.net/templets/new/images/material/qrcode_mp_4.png" alt="微信交流群" width="120" />
		<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
	</p>
	<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>

<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>

<script src="https://m.biancheng.net/templets/new/script/jquery1.12.4.min_2.js"></script>
<script src="https://m.biancheng.net/templets/new/script/common_2.js"></script>
<!-- 51la V6 -->
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<!-- 51la V5 -->
<!-- <span style="display: none;"><script type="text/javascript" src="https://js.users.51.la/21368967.js"></script></span> -->
</body>
</html>