<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 启用Chromium高速渲染模式 -->
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<!-- 禁止百度转码 -->
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止识别电话号码 -->
<meta name="format-detection" content="telephone=no" />

<link rel="shortcut icon" href="../favicon_3.ico" />
<link href="../templets/new/style/common_2.css" rel="stylesheet" />
<title>C++ for循环语句详解</title>
<meta name="description" content="实现代码块的重复执行，C++ 提供了多种循环结构，包括 while、do while 和本节讲的 for 循环语句。 for 循环语句的基本语法结构如下： for (表达式 1; 表达式 2; 表达式 3) { // 循环体：当表达" />
</head>
<body>
<div id="topbar" class="clearfix">
	<ul id="product-type" class="left">
		<li>
			<a href="../m_biancheng_default_2.html"><span class="iconfont iconfont-home"></span>首页</a>
		</li>
		<li class="active">
			<a href="../sitemap/sitemap_2.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
		</li>
		<li>
			<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
		</li>
		<li>
			<a href="niz69i_5.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
		</li>
		<!-- <li>
			<a href="https://www.54benniao.com/c_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-c-course"></span>C语言高级课程</a>
		</li>
		<li>
			<a href="https://www.54benniao.com/java_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-java-course"></span>Java高级课程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/q2a/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-q2a"></span>一对一答疑</a>
		</li> -->
	</ul>
</div>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="../m_biancheng_default_2.html">
		<img height="26" src="../templets/new/images/logo_2.png" alt="C语言中文网" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li class="wap-yes"><a href="../m_biancheng_default_2.html">首页</a></li>
		<li><a href="../c/c_4.html">C语言教程</a></li>
		<li><a href="../cplus/cplus_2.html">C++教程</a></li>
		<li><a href="../python/python_2.html">Python教程</a></li>
		<li><a href="../java/java_2.html">Java教程</a></li>
		<li><a href="../linux_tutorial/linux_tutorial_2.html">Linux入门</a></li>
		<li><a href="../sitemap/sitemap_2.html" title="网站地图">更多&gt;&gt;</a></li>
	</ul>
	<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
	<div class="arc-info">
		<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../m_biancheng_default_2.html">首页</a> &gt; 编程笔记</span>
	</div>
	<div id="ggxc-position-bottom" class="ggxc-box"></div>
	<h1>C++ for循环语句详解</h1>
	<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
	<div id="arc-body">实现代码块的重复执行，C++ 提供了多种循环结构，包括 while、do while 和本节讲的 for 循环语句。<br />
<br />
for 循环语句的基本语法结构如下：<br />
<pre class="info-box">
for (表达式 1; 表达式 2; 表达式 3) {
    // 循环体：当表达式 2 的值为 true 时执行的代码块
}</pre>
<ul>
	<li>
		表达式 1：循环开始前执行的语句，常用来完成循环开始前的初始化工作；</li>
	<li>
		表达式 2：循环的判断条件，当表达式的值为 true 时才执行循环体，否则就结束循环；</li>
	<li>
		表达式 3：每次循环体执行完成后，都会执行一次这个表达式。</li>
</ul>
<br />
结合 for 循环的语法结构，它的执行过程是：
<ol>
	<li>
		首先执行一次表达式 1；</li>
	<li>
		判断表达式 2 的值，如果为 true，则进入第 3 步，否则结束循环；</li>
	<li>
		执行循环体；</li>
	<li>
		执行表达式 3，然后回到第 2 步。</li>
</ol>
<br />
举个简单的例子（<b>实例一</b>）：
<pre class="cpp">
#include &lt;iostream&gt;

int main() {
    for (int i = 0; i &lt; 10; i++) {
        std::cout &lt;&lt; i &lt;&lt; &quot; &quot;;
    }
    return 0;
}</pre>
示例中 for 循环语句的执行过程是：
<ol>
	<li>
		定义一个变量 i 并初始化它的值为 0；</li>
	<li>
		判断 i&lt;10 的值，如果为 true，则进入第 3 步，否则结束循环；</li>
	<li>
		输出变量 i 的值；</li>
	<li>
		执行 i++，然后回到第 2 步。</li>
</ol>
<br />
整个循环过程中，变量 i 的值是递增的，当 i 的值为 10 时，此时 i&lt;10 的值为 false，循环过程结束。<br />
<br />
执行程序，运行结果为：
<p class="info-box">
	0 1 2 3 4 5 6 7 8 9</p>
<h2>
	for循环的灵活使用</h2>
for 语句中的 3 个表达式都是可以省略的，接下来给大家逐一探讨这些表达式的省略，并了解它们是如何影响循环行为的。<br />
<br />
首先，如果不需要在循环开始时执行任何操作，可以省略表达式 1。例如，如果循环控制变量已在循环外部初始化，那么表达式 1 就可以省略。<br />
<br />
举个简单的例子：
<pre class="cpp">
int i = 0;
for (; i &lt; 10; i++) {
    std::cout &lt;&lt; i &lt;&lt; &quot; &quot;;
}</pre>
这里将变量 i 的初始化过程放到 for 循环的外面执行，执行过程和实例一中的 for 循环语句完全一样。<br />
<br />
原则上，for 循环语句中的表达式 2 也是可以省略的。如果省略表达式 2，那么将无限次的执行循环体，除非在循环体内部使用 break 语句跳出循环。<br />
<br />
例如：
<pre class="cpp">
for (;;) { // 无限循环
    // ...
    break; // 退出循环
}</pre>
<br />
当然，如果不需要在每次迭代后执行任何操作，可以省略表达式 3。例如：<br />
<pre class="cpp">
for (int i = 0; i &lt; 10;) {
    std::cout &lt;&lt; i &lt;&lt; &quot; &quot;;
    i++;
}</pre>
和实例一中的 for 语句相比，i++; 从表达式 3 的位置移到了循环体的末尾，它们的执行过程是完全相同的。<br />
<br />
我们也可以将 for 语句的 3 个表达式全部省略，例如：
<pre class="info-box">
for( ; ; ){
    //循环体
}</pre>
如果循环体中没有使用 break 跳出，那么它就是一个无限循环（死循环）。<br />
<br />
注意，for 循环的三个表达式都是可选的，但它们之间的分号不能省略。大多数情况下，至少应包括表达式 2，以明确指定循环的终止条件。<br />
<h2>
	C++11基于范围的for循环</h2>
在 C++ 11 新标准中，为 for 循环添加了一种全新的语法格式，如下所示：
<pre class="info-box">
for (declaration : expression){
    //循环体
}</pre>
<ul>
	<li>
		declaration：定义一个变量，它的类型是 experssion 序列中存储元素的类型；</li>
	<li>
		expression：表示要遍历的序列，比如事先定义好的普通数组或者容器。</li>
</ul>
<br />
举个简单的例子：
<pre class="cpp">
#include &lt;iostream&gt;

int main() {
    int a[] = { 1,2,3,4,5 };
    for (int i : a) {
        std::cout &lt;&lt; i &lt;&lt; &quot; &quot;;
    }
    return 0;
}</pre>
输出结果为：
<p class="info-box">
	1 2 3 4 5</p>
<h2>
	总结</h2>
C++ 中的 for 循环提供了一种结构清晰，可读性更高的方法来执行有限次数的迭代，恰当使用 for 循环可以使代码更加整洁、高效和可维护。<br />
<br />
无论是处理常规的计数迭代，还是使用范围 for 循环遍历数组或者容器，for循环都是 C++ 程序员必备的工具之一。</div>
	<div id="ggxc-weixin-arcbottom">
	<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
	<p style="margin-top:12px; text-align:center;">
		<img src="../templets/new/images/material/qrcode_mp_4.png" alt="公众号二维码" width="160" /><br />
		<span class="col-green">微信扫码关注公众号</span>
	</p>
</div>
	<div id="nice-arcs" class="box-bottom">
    <h4>推荐阅读</h4>
    <ul class="clearfix">
<li><a href="niz69i_8.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_4.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_4.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="965_2.html" title="Java访问控制修饰符详解（public、 private、protected 和 friendly）" target="_blank">Java访问控制修饰符详解（public、 private、protected 和 friendly）</a></li>
<li><a href="1127_2.html" title="Linux MySQL安装过程（详解版）" target="_blank">Linux MySQL安装过程（详解版）</a></li>
<li><a href="9438_2.html" title="程序员离职会给公司带来多大的伤害？答案超出你的预料" target="_blank">程序员离职会给公司带来多大的伤害？答案超出你的预料</a></li>
<li><a href="9776_2.html" title="Memcached数据简介" target="_blank">Memcached数据简介</a></li>
<li><a href="mlrkl2s_2.html" title="C++函数的默认参数详解" target="_blank">C++函数的默认参数详解</a></li>
<li><a href="3bj4moj_2.html" title="git rebase -i命令：压缩历史" target="_blank">git rebase -i命令：压缩历史</a></li>
<li><a href="9tjclb9_2.html" title="Linux date命令：显示或设置系统时间" target="_blank">Linux date命令：显示或设置系统时间</a></li>
</ul>
</div>
	
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 10302;
window.arcId = "8f51NPhIaUNm+E5fd+R+vWNsCJW1l4nciLGaO2xOPIAQHCHIENy0SQxuj4Y8";
window.typeidChain = "120|119";
</script>
<div id="footer" class="clearfix">
	<div class="info left">
	<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
	<p>
		<a href="8066_2.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
		<a href="8092_3.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
		<a href="8097_2.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
		<a href="9648_2.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
		<a href="8093_2.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
		<a href="../sitemap/sitemap_2.html" target="_blank" rel="nofollow">网站地图</a>
	</p>
	<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan_2.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
	</p>
	</div>
	<img id="logo_bottom" class="right" src="https://m.biancheng.net/templets/new/images/logo_bottom_2.gif" alt="底部Logo" />
	<span id="return-top"><b>↑</b></span>
</div>

<div id="addweixin-widget">
	<p>
		<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://m.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
		<img src="https://m.biancheng.net/templets/new/images/material/qrcode_mp_4.png" alt="微信交流群" width="120" />
		<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
	</p>
	<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>

<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>

<script src="https://m.biancheng.net/templets/new/script/jquery1.12.4.min_2.js"></script>
<script src="https://m.biancheng.net/templets/new/script/common_2.js"></script>
<!-- 51la V6 -->
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<!-- 51la V5 -->
<!-- <span style="display: none;"><script type="text/javascript" src="https://js.users.51.la/21368967.js"></script></span> -->
</body>
</html>