<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 启用Chromium高速渲染模式 -->
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<!-- 禁止百度转码 -->
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止识别电话号码 -->
<meta name="format-detection" content="telephone=no" />

<link rel="shortcut icon" href="../favicon_3.ico" />
<link href="../templets/new/style/common_2.css" rel="stylesheet" />
<title>Kamailio是什么？</title>
<meta name="description" content="Kamailio 是一个开源的 SIP 服务器，主要用作 SIP 代理服务器、注册服务器等，而 FreeSWITCH 是一个典型的 SIP B2BUA，主要用于 VoIP 媒体相关的处理。 在学习 FreeSWITCH 以及 SIP 的过程中，经常有" />
</head>
<body>
<div id="topbar" class="clearfix">
	<ul id="product-type" class="left">
		<li>
			<a href="../m_biancheng_default_2.html"><span class="iconfont iconfont-home"></span>首页</a>
		</li>
		<li class="active">
			<a href="../sitemap/sitemap_2.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
		</li>
		<li>
			<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
		</li>
		<li>
			<a href="niz69i_5.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
		</li>
		<!-- <li>
			<a href="https://www.54benniao.com/c_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-c-course"></span>C语言高级课程</a>
		</li>
		<li>
			<a href="https://www.54benniao.com/java_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-java-course"></span>Java高级课程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/q2a/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-q2a"></span>一对一答疑</a>
		</li> -->
	</ul>
</div>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="../m_biancheng_default_2.html">
		<img height="26" src="../templets/new/images/logo_2.png" alt="C语言中文网" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li class="wap-yes"><a href="../m_biancheng_default_2.html">首页</a></li>
		<li><a href="../c/c_4.html">C语言教程</a></li>
		<li><a href="../cplus/cplus_2.html">C++教程</a></li>
		<li><a href="../python/python_2.html">Python教程</a></li>
		<li><a href="../java/java_2.html">Java教程</a></li>
		<li><a href="../linux_tutorial/linux_tutorial_2.html">Linux入门</a></li>
		<li><a href="../sitemap/sitemap_2.html" title="网站地图">更多&gt;&gt;</a></li>
	</ul>
	<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
	<div class="arc-info">
		<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../m_biancheng_default_2.html">首页</a> &gt; 编程笔记</span>
	</div>
	<div id="ggxc-position-bottom" class="ggxc-box"></div>
	<h1>Kamailio是什么？</h1>
	<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
	<div id="arc-body">Kamailio 是一个开源的 SIP 服务器，主要用作 SIP 代理服务器、注册服务器等，而 FreeSWITCH 是一个典型的 SIP B2BUA，主要用于 VoIP 媒体相关的处理。<br />
<br />
在学习 FreeSWITCH 以及 SIP 的过程中，经常有人问我：
<p class="info-box">
	SIP 消息中那么多头域和参数，都是干什么用的？有些头域我从来也没有用过，是否真正有用？</p>
我的回答是肯定的。<br />
<br />
FreeSWITCH 只是一个应用场景，SIP 是面向运营商设计的协议，在实际的部署环境中比单纯的 FreeSWITCH 要复杂得多。当然并不是所有人都能接触到运营商的环境，不过，现在是开源主导的世界，通过学习 OpenSIPS 或 Kamailio，就可以更好地理解 SIP 了。
<h2>
	什么是Kamailio</h2>
Kamailio 主要处理 SIP，因此了解 SIP 对更快地学习 Kamailio 有很大帮助，而学好 Kamailio 又有助于进一步了解 SIP，两者相辅相成。<br />
<br />
Kamailio 基于 GPLv2+ 开源协议发布，它可以支持每秒建立和释放成千上万次的呼叫（Call Attempt Per Second，CAPS），可用于构建大型的 VoIP 实时通信服务&mdash;&mdash;音视频通信、状态呈现（Presence）、WebRTC、实时消息等；也可以构建易扩容的 SIP-to-PSTN 网关、IP-PBX 系统，以及连接 Asterisk、FreeSWITCH、SEMS 等。<br />
<br />
Kamailio 具有如下特性：
<ul>
	<li>
		支持异步的 TCP、UDP、SCTP、TLS、WebSocket。</li>
	<li>
		支持 WebRTC，支持 IPv4 和 IPv6。</li>
	<li>
		支持 IM 消息及状态呈现。</li>
	<li>
		支持 XCAP 和 MSRP Relay。</li>
	<li>
		支持异步操作。</li>
	<li>
		支持 VoLTE 相关的 IMS 扩展。</li>
	<li>
		支持 ENUM、DID 以及 LCR 路由。</li>
	<li>
		支持负载均衡、主备用路由（Fail-Over）。</li>
	<li>
		支持 AAA（记账、鉴权和授权）。</li>
	<li>
		支持很多 SQL 和 NoSQL 数据库后端，如 MySQL、PostgreSQL、Oracle、Radius、LDAP、Redis、Cassandra、MongoDB、Memcached 等。</li>
	<li>
		支持消息队列，如 RabbitMQ、Kafka、NATS 等。</li>
	<li>
		支持 JSON-RPC、XML-RPC 控制协议以及 SNMP 监控。</li>
</ul>
<br />
Kamailio 从 2001 年开始开发，至今也有 20 余年的历史了。<br />
<br />
Kamailio 的读法是 Kah-Mah-Illie-Oh，或简单一点，Ka-Ma-ili-o，或 Kama-ilio，谷歌翻译成&ldquo;卡迈里奥&rdquo;，但笔者觉得翻译成&ldquo;卡马伊里奥&rdquo;或简称&ldquo;卡马&rdquo;更为合适。<br />
<br />
Kamailio 与 FreeSWITCH 配合使用最常用的场景是 Kamailio 作为注册服务器和呼叫负载均衡服务器（一般主备配置），FreeSWITCH 进行媒体相关的处理（如转码、放音、录音、呼叫排队等），如图1所示。<br />
<br />
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/230228/1-23022QJ94b49_2.jpg" /><br />
	图1：Kamailio 与 FreeSWITCH 配合使用</div>
<br />
简单总结一下，Kamailio 是一个：
<ul>
	<li>
		SIP服务器（SIP Server）</li>
	<li>
		SIP代理服务器（SIP Proxy Server）</li>
	<li>
		SIP注册服务器（SIP Registrar Server）</li>
	<li>
		SIP地址查询服务器（SIP Location Server）</li>
	<li>
		SIP重定向服务器（SIP Redirection Server）</li>
	<li>
		SIP应用服务器（SIP Application Server）</li>
	<li>
		SIP负载均衡服务器（SIP Load balance Server）</li>
	<li>
		SIP WebSocket 服务器（SIP WebSocket Server）</li>
	<li>
		SIP SBC 服务器（SIP SBC Server）</li>
</ul>
<br />
相对而言，Kamailio 不是：
<ul>
	<li>
		SIP软电话（SIP Phone）</li>
	<li>
		媒体服务器（Media Server）</li>
	<li>
		背靠背用户代理（Back-to-Back UA，B2BUA）</li>
</ul>
<br />
它有以下特性：
<ul>
	<li>
		快</li>
	<li>
		可靠</li>
	<li>
		灵活</li>
</ul>
<br />
但它不做以下事情：
<ul>
	<li>
		发起通话；</li>
	<li>
		应答通话；</li>
	<li>
		做音、视频等媒体处理。</li>
</ul>
<h2>
	Kamailio 诞生背景</h2>
Kamailio 起源于一个研究项目&mdash;&mdash;SER。<br />
<br />
SER 项目的全称是 SIP Express Router，最早是由位于德国柏林的 FhG FOKUS 研究所开发的，并以 GPL 协议发布。核心研发人员有 Andrei Pelinescu-Onciul、Bogdan-Andrei Iancu、Daniel-Constantin Mierla、Jan Janak 以及 Jiri Kuthan。<br />
<br />
2004 年 FhG FOKUS 在 SER 的基础上启动了一个新项目 IPtel（iptel. org），次年该项目的商业部分卖给了 Tekelec，核心开发团队中部分成员去了 iptel.org，而 Bogdan 和 Daniel 离开 FhG FOKUS 创建了一家新的公司 Voice-System，并开始维护开源版本的 SER&mdash;&mdash;OpenSER。<br />
<br />
后来，OpenSER 分出两个项目，一个是 Kamailio，另一个是 OpenSIPS。<br />
<br />
再后来，Kamailio 与 OpenSER 项目合并，这使得 Kamailio 看起来更&ldquo;正宗&rdquo;一些。不管怎样，两者最初的代码都是一样的，但由于思路和方向不同，后来的版本差异就比较大了。<br />
<br />
下面是 Kamailio 的发展简史。
<ul>
	<li>
		2001 年 9 月，SER 项目，Andrei Pelinescu-Onciul 在德国 FhG FOKUS 研究所写下第一行代码。</li>
	<li>
		2005 年 6 月，分离为 SER 与 OpenSER 两个项目。</li>
	<li>
		2008 年 8 月，OpenSER 分为 Kamailio 与 OpenSIPS，首个 Kamailio 版本是 1.4.0。</li>
	<li>
		2008 年 11 月，OpenSER 与 Kamailio 代码合并，两者的模块可以通用，但分为不同的模块目录。</li>
	<li>
		2009 年 3 月，发布 Kamailio v1.5.0，这是代码合并后的第一个大版本，该版本引入了很多新特性。</li>
	<li>
		2013 年 3 月，发布 Kamailio v4.0.0，彻底整合了 OpenSER 的模块，使用同一个模块目录。</li>
	<li>
		2017 年 2 月，发布 Kamailio v5.0.0，增加了 KEMI 支持，移除了 MI 控制接口，将相关功能统一到 RPC 管理接口。</li>
	<li>
		2017 年 12 月，发布 Kamailio v5.1.0，增强了 KEMI 支持，增加了 sipdump 等 9 个新模块。</li>
	<li>
		2018 年 11 月，发布 Kamailio v5.2.0，继续增强 KEMI 支持，增强了 dispatcher 模块，支持 rtpengine 转码功能，增加了 acc_json 等 6 个新模块。</li>
	<li>
		2019 年 11 月，发布 Kamailio v5.3.0，继续增强 KEMI 支持，增强 dispatcher 模块，支持 HAProxy 协议，增加了 rtp_media_server 等 6 个新模块。</li>
	<li>
		2020 年 7 月，发布 Kamailio v5.4.0，继续增强 KEMI 支持，支持 STIR/SHAKEN，增加了 JSON 格式日志支持，增加了 secsipid、kafka 等 5 个新模块。</li>
	<li>
		2021 年 5 月 5 日，发布 Kamailio v5.5.0，继续增强 KEMI 支持，增加 rtpengine 的 Websocket 控制接口支持，增加 jwt 等6个新模块。</li>
	<li>
		2022 年 2 月 27 日，发布 Kamailio v5.5.4，本文开始写作时最新的版本，包含一些缺陷更新。</li>
	<li>
		2022 年 5 月，发布 Kamailio v5.6.0，本文截稿时，该版本已冻结更新并准备发布，完整的特性列表尚未公布。当你看到本文时，相信该版本就已经发布了。</li>
</ul>
<br />
Kamailio 简史如图2所示。
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/230228/1-23022QP001M2_2.jpg" /><br />
	图2：Kamailio 简史</div>
<h2>
	SIP 简介</h2>
SIP（Session Initiation Protocol，会话初始协议）是一个控制发起、修改和终结交互式多媒体会话的信令协议。它是由 IETF（Internet Engineering Task Force，Internet 工程任务组）在 RFC 2543 中定义的。<br />
<br />
SIP 最早发布于 1999 年 3 月，后来在 2002 年 6 月又发布了一个新的标准 RFC 3261。<br />
<br />
除此之外，还有大量相关的或是在 SIP 基础上扩展出来的 RFC，如关于 SDP 的 RFC 4566、关于会议的 RFC 4579 等。<br />
<br />
关于 SIP，笔者找到对 Henning Schulzrinne 教授的一段采访。采访中他回忆了 SIP 协议的诞生过程。<br />
<br />
我最开始对音频和视频编码产生兴趣，是因为我的硕士论文与此有关。那时候 PC 声卡还没有广泛用于真正的音频采集，所以我只能在一台 PDP-11/44 迷你计算机上使用 A/D 转换器对信息进行转换。<br />
<br />
后来互联网和早期的 SUN 工作站（如SPARC）可以传输实时音视频了，我开始致力于开发和标准化用于在互联网上传输音视频的协议，如 RTP 和 SIP。移动设备的广泛使用造就了&ldquo;无处不在的系统&rdquo;，包括现在广为人知的 IoT。<br />
<br />
我当时正在致力于一个被称为 DARTnet 的博士科研项目，这个项目可以在一个试验性的叠加网络中传输音频和视频，该网络当时使用了一个新的协议&mdash;&mdash;ST-II（现在已弃用）。网络节点是早期可以实现网络路由器和叠加网络的 SPARC 工作站（来自SUN公司），这个系统需要配合相关工具和协议才能运行。<br />
<br />
我开始积极投入到音视频的各种技术工作中&mdash;&mdash;从创造传输语音和视频的协议到开发支持流畅播放的算法。当时 IETF 为了支持组播骨干网（一种早期可以向千百个观众传输音视频的技术），开始开发所需协议，我也参与其中。这些工作促成了 RTP 的开发工作。<br />
<br />
RTP 最初是针对组播设计的，后来被用于大多数&ldquo;基于标准&rdquo;的音视频传输，而不只限于组播。随着这项工作不断成熟，包括我在内参与这项工作的很多人认为，需要更好的方法来启动音视频会话，SIP 因此诞生了。<br />
<br />
当时没人在意我们这个小组的研究，因为&ldquo;真正的&rdquo;电信工程师们正在研究时分复用电路交换机，而 SIP 是基于 IP 交换的。这反而成了我们的优势，没有人来指手画脚，我们的研究进程也较快。随着有线和无线行业开始认识到需要转入 IP 网络，SIP 所需的底层协议标准实际上已经准备就绪了。</div>
	<div id="ggxc-weixin-arcbottom">
	<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
	<p style="margin-top:12px; text-align:center;">
		<img src="../templets/new/images/material/qrcode_mp_4.png" alt="公众号二维码" width="160" /><br />
		<span class="col-green">微信扫码关注公众号</span>
	</p>
</div>
	<div id="nice-arcs" class="box-bottom">
    <h4>推荐阅读</h4>
    <ul class="clearfix">
<li><a href="niz69i_8.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_4.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_4.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="504_2.html" title="C语言水仙花数（详解版）" target="_blank">C语言水仙花数（详解版）</a></li>
<li><a href="1074_2.html" title="Linux nice和renice命令：改变进程优先级" target="_blank">Linux nice和renice命令：改变进程优先级</a></li>
<li><a href="vip_2335_2.html" title="到底什么时候会调用拷贝构造函数？" target="_blank">到底什么时候会调用拷贝构造函数？</a></li>
<li><a href="vip_5883_2.html" title="Python解释器这么多，初学者该如何选择？" target="_blank">Python解释器这么多，初学者该如何选择？</a></li>
<li><a href="vip_8524_2.html" title="GCC分步编译C++程序（汇总版）" target="_blank">GCC分步编译C++程序（汇总版）</a></li>
<li><a href="../sql/having_2.html" title="SQL HAVING子句" target="_blank">SQL HAVING子句</a></li>
<li><a href="vip_9662_2.html" title="Qt自定义信号和槽函数" target="_blank">Qt自定义信号和槽函数</a></li>
</ul>
</div>
	
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 9883;
window.arcId = "b757J1EkFVBfSA3GXOQSVAAN9vx6n3GDbvWIjZR3w6BXn6FzJtyMWSYlLKw";
window.typeidChain = "119";
</script>
<div id="footer" class="clearfix">
	<div class="info left">
	<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
	<p>
		<a href="8066_2.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
		<a href="8092_3.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
		<a href="8097_2.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
		<a href="9648_2.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
		<a href="8093_2.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
		<a href="../sitemap/sitemap_2.html" target="_blank" rel="nofollow">网站地图</a>
	</p>
	<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan_2.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
	</p>
	</div>
	<img id="logo_bottom" class="right" src="https://m.biancheng.net/templets/new/images/logo_bottom_2.gif" alt="底部Logo" />
	<span id="return-top"><b>↑</b></span>
</div>

<div id="addweixin-widget">
	<p>
		<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://m.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
		<img src="https://m.biancheng.net/templets/new/images/material/qrcode_mp_4.png" alt="微信交流群" width="120" />
		<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
	</p>
	<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>

<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>

<script src="https://m.biancheng.net/templets/new/script/jquery1.12.4.min_2.js"></script>
<script src="https://m.biancheng.net/templets/new/script/common_2.js"></script>
<!-- 51la V6 -->
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<!-- 51la V5 -->
<!-- <span style="display: none;"><script type="text/javascript" src="https://js.users.51.la/21368967.js"></script></span> -->
</body>
</html>