<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>C++递归函数（入门必读）</title>
<meta name="description" content="如果一个函数在其定义中又调用自身，则称为递归函数，调用自身的过程叫做递归。 递归分为直接递归和间接递归。直接递归是指函数直接调用自身，间接递归则指 A 函数调用了其它函" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>C++递归函数（入门必读）</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">如果一个函数在其定义中又调用自身，则称为递归函数，调用自身的过程叫做递归。<br />
<br />
递归分为直接递归和间接递归。直接递归是指函数直接调用自身，间接递归则指 A 函数调用了其它函数，而其它的函数中又调用了 A 函数。<br />
<br />
递归函数通常由以下两个部分组成：<br />
<ul>
<li>
基本情况（Base Case）：这是递归的终止条件。没有基本情况，递归函数将无限地调用自己，导致栈溢出。</li>
<li>
递归情况（Recursive Case）：在这里，函数将问题分解成更小的子问题，并自我调用来解决这些子问题。</li>
</ul>
<br />
实际场景中，很多问题适合用递归函数来解决，接下来通过两个实例，带读者体会函数的递归过程。<br />
<h2>
实例一</h2>
计算一个阶乘（n!）是递归的经典应用之一，求 n! 的递归函数如下：<br />
<pre class="cpp">
#include &lt;iostream&gt;

int factorial(int n) {
    // 基本情况
    if (n == 0) {
        return 1;
    }
    // 递归情况
    return n * factorial(n - 1);
}

int main() {
    int result = factorial(5);  // 5的阶乘是120
    std::cout &lt;&lt; &quot;Factorial of 5 is: &quot; &lt;&lt; result &lt;&lt; std::endl;
    return 0;
}</pre>
程序运行后，factorial(5) 函数会被调用，这是一个递归函数，它的执行过程如下：<br />
<ul>
<li>
factorial(5) 被调用，基本情况 n==0 不成立，所以进入递归情况，计算 5*factorial(4)；</li>
<li>
factorial(4) 被调用，基本情况 n==0 不成立，所以进入递归情况，计算 4*factorial(3)；</li>
<li>
factorial(3) 被调用，基本情况 n==0 不成立，所以进入递归情况，计算 3*factorial(2)；</li>
<li>
factorial(2) 被调用，基本情况 n==0 不成立，所以进入递归情况，计算 2*factorial(1)；</li>
<li>
factorial(1) 被调用，基本情况 n==0 不成立，所以进入递归情况，计算 1*factorial(0)；</li>
<li>
factorial(0) 被调用，基本情况 n==0 成立，返回 1。</li>
</ul>
<br />
此时递归开始&ldquo;展开&rdquo;，并且每一层递归都会返回其结果：
<ul>
<li>
factorial(1) 计算 1*1=1，所以返回 1；</li>
<li>
factorial(2) 计算 2*1=2，所以返回 2；</li>
<li>
factorial(3) 计算 3*2=6，所以返回 6；</li>
<li>
factorial(4) 计算 4*6=24，所以返回 24；</li>
<li>
factorial(5) 计算 5*24=120，所以返回 120。</li>
</ul>
<br />
最后在 main() 函数中，factorial(5) 的结果 120 被赋值给变量 result，然后输出到控制台。<br />
<br />
因此，这个递归函数的执行过程首先是&ldquo;深入&rdquo;（从 factorial(5) 到 factorial(0)），然后是&ldquo;展开&rdquo;（从 factorial(0) 返回到 factorial(5)），在这个过程中逐步完成阶乘的计算。每一层递归都依赖于其下一层的结果，直到达到基本情况，然后逐层返回计算结果。<br />
<h2>
实例二</h2>
计算斐波那契数列的第 n 个元素是递归的另一个经典例子。<br />
<br />
所谓斐波那契数列，指从 0 和 1 开始，之后每一项都是前两项之和的数列，数列的前几项是<code> 0 1 1 2 3 5 8 13...</code><br />
<br />
计算斐波那契数列的第 n 个元素，对应的递归函数如下：<br />
<pre class="cpp">
#include &lt;iostream&gt;

int fibonacci(int n) {
    // 基本情况
    if (n == 0) return 0;
    if (n == 1) return 1;
    // 递归情况
    return fibonacci(n - 1) + fibonacci(n - 2);
}

int main() {
    int result = fibonacci(5);  // 第5个Fibonacci数是5
    std::cout &lt;&lt; &quot;The 5th Fibonacci number is: &quot; &lt;&lt; result &lt;&lt; std::endl;
    return 0;
}</pre>
示例程序中，main() 函数调用了 fibonacci(5)，也就是计算斐波那契数列的第 5 个元素。<br />
<br />
fibonacci() 是一个递归函数，它的执行过程是：
<ul>
<li>
fibonacci(5) 被调用，基本情况不成立（n!=0且n!=1），所以进入递归情况，需要计算 fibonacci(4)+fibonacci(3)；</li>
<li>
fibonacci(4) 被调用，基本情况不成立，所以进入递归情况，需要计算 fibonacci(3)+fibonacci(2)；</li>
<li>
fibonacci(3) 被调用，基本情况不成立，所以进入递归情况，需要计算 fibonacci(2)+fibonacci(1)；</li>
<li>
fibonacci(2) 被调用，基本情况不成立，所以进入递归情况，需要计算 fibonacci(1)+fibonacci(0)。</li>
<li>
fibonacci(1) 和 fibonacci(0) 被调用，基本情况成立，fibonacci(1)返回 1，fibonacci(0) 返回 0。</li>
</ul>
<br />
至此递归开始&ldquo;展开&rdquo;，并且每一层递归都会返回其结果：<br />
<ul>
<li>
fibonacci(2) 计算 1+0，所以返回 1；</li>
<li>
fibonacci(3) 计算 1+1，所以返回 2；</li>
<li>
fibonacci(4) 计算 2+1，所以返回 3；</li>
<li>
fibonacci(5) 计算 3+2，所以返回 5。</li>
</ul>
最终，fibonacci(5) 的返回值是 5，这个结果存储在 result 变量中，并输出到控制台。<br />
<br />
虽然递归在解决某些问题方面非常方便，但也是有代价的。每次递归调用都要重新创建一份函数的副本，如果函数中有大量的变量，并且递归层次很多，则内存很快就会被消耗殆尽。因此应用递归时，函数应当尽量简单，而且要尽量减少递归的层次。</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="2227.html" title="C++ static静态成员变量详解" target="_blank">C++ static静态成员变量详解</a></li>
<li><a href="../mysql/tan.html" title="MySQL TAN函数：求正切值" target="_blank">MySQL TAN函数：求正切值</a></li>
<li><a href="vip_7074.html" title="Java项目实战：计算平均成绩" target="_blank">Java项目实战：计算平均成绩</a></li>
<li><a href="vip_8528.html" title="GCC找不到库文件怎么办？" target="_blank">GCC找不到库文件怎么办？</a></li>
<li><a href="../csharp/pointer-and-unsafe.html" title="C#指针变量与unsafe" target="_blank">C#指针变量与unsafe</a></li>
<li><a href="7qzigd.html" title="C语言中有哪些基础数据类型" target="_blank">C语言中有哪些基础数据类型</a></li>
<li><a href="znn48u.html" title="C语言联合体" target="_blank">C语言联合体</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 10328;
window.arcId = "83459aE2ErZu0miTIyy9DRkNl6P7cwCyAWD3p/Opeh6zDox2mpCNq6J0KbuP";
window.typeidChain = "120|119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>