<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 启用Chromium高速渲染模式 -->
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<!-- 禁止百度转码 -->
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止识别电话号码 -->
<meta name="format-detection" content="telephone=no" />

<link rel="shortcut icon" href="../favicon_3.ico" />
<link href="../templets/new/style/common_2.css" rel="stylesheet" />
<title>最短路径算法</title>
<meta name="description" content="最短路径算法用于查找图中顶点之间的最短路径，本文将详细讲解什么是最短路径，同时会给出4种查找最短路径的算法。" />
</head>
<body>
<div id="topbar" class="clearfix">
	<ul id="product-type" class="left">
		<li>
			<a href="../m_biancheng_default_2.html"><span class="iconfont iconfont-home"></span>首页</a>
		</li>
		<li class="active">
			<a href="../sitemap/sitemap_2.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
		</li>
		<li>
			<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
		</li>
		<li>
			<a href="niz69i_5.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
		</li>
		<!-- <li>
			<a href="https://www.54benniao.com/c_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-c-course"></span>C语言高级课程</a>
		</li>
		<li>
			<a href="https://www.54benniao.com/java_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-java-course"></span>Java高级课程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/q2a/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-q2a"></span>一对一答疑</a>
		</li> -->
	</ul>
</div>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="../m_biancheng_default_2.html">
		<img height="26" src="../templets/new/images/logo_2.png" alt="C语言中文网" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li class="wap-yes"><a href="../m_biancheng_default_2.html">首页</a></li>
		<li><a href="../c/c_4.html">C语言教程</a></li>
		<li><a href="../cplus/cplus_2.html">C++教程</a></li>
		<li><a href="../python/python_2.html">Python教程</a></li>
		<li><a href="../java/java_2.html">Java教程</a></li>
		<li><a href="../linux_tutorial/linux_tutorial_2.html">Linux入门</a></li>
		<li><a href="../sitemap/sitemap_2.html" title="网站地图">更多&gt;&gt;</a></li>
	</ul>
	<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
	<div class="arc-info">
		<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../m_biancheng_default_2.html">首页</a> &gt; 编程笔记</span>
	</div>
	<div id="ggxc-position-bottom" class="ggxc-box"></div>
	<h1>最短路径算法</h1>
	<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
	<div id="arc-body">在给定的图存储结构中，从某一顶点到另一个顶点所经过的多条边称为<span style="color:#008000;">路径</span>。<br />
<br />
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/210820/14592QS2-0_2.gif" /><br />
	图 1 图存储结构</div>
<br />
例如在图 1 所示的图结构中，从顶点 A 到 B 的路径有多条，包括 A-B、A-C-B 和 A-D-B。当我们给图中的每条边赋予相应的权值后，就可以从众多路径中找出总权值最小的一条，这条路径就称为<span style="color:#008000;">最短路径</span>。<br />
<br />
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/210820/14592Q0I-1_2.gif" /><br />
	图 2 无向带权图</div>
<br />
以图 2 为例，从顶点 A 到 B 的路径有 3 条，它们各自的总权值是：
<p class="info-box">
	A-B：9<br />
	A-C-B：2+6=8<br />
	A-D-B：5+8=13</p>
经过对比，A-C-B 的总权值最小，它就是从顶点 A 到 B 的最短路径。<br />
<br />
最短路径不仅适用于无向加权图，也适用于有向加权图，如下图所示：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/210820/14592RY3-2_2.gif" /><br />
	图 3 有向加权图</div>
<br />
和图 2 相比，图 3 中的每条边都标有方向，以权值为 2 的边为例，它只表示从顶点 A 到 C 的一条边，而从顶点 C 是无法直达 A 的。从顶点 A 到 B 的路径仅有 1 条，就是 A-&gt;C-&gt;B，因此它自然也就是从 A 到 B 的最短路径。<br />
<h2>
	最短路径算法</h2>
实际生产和生活中，经常需要查找最短路径，例如借助高德、腾讯地图等导航工具查找到目的地的最短可行路线，建立道路交通网、物流运输网络、计算机网络等，这时就可以使用最短路径算法。<br />
<br />
常用的查找最短路径的算法有 4 种，下表给出了它们各自的名称和特点。<br />
<br />
<table>
	<caption>
		表 1 最短路径算法</caption>
	<tbody>
		<tr>
			<th>
				最短路径算法</th>
			<th>
				描 述</th>
		</tr>
		<tr>
			<td>
				<a href="../algorithm/dijkstra_2.html" target="_blank">迪杰斯特拉算法</a>（Dijkstra）</td>
			<td>
				寻找某个特定顶点到其它所有顶点的最短路径，该算法要求所有路径的权值为非负数。</td>
		</tr>
		<tr>
			<td>
				<a href="../algorithm/floyd-warshall_2.html" target="_blank">弗洛伊德算法（</a>Floyd-Warshall）</td>
			<td>
				寻找各个顶点之间的最短路径，允许非环路的路径权值为负数，该算法不仅适用于稀疏图，在稠密图（路径数量多的图）中寻找最短路径的效率也很高。</td>
		</tr>
		<tr>
			<td>
				贝尔曼福特算法（Bellman-Ford）</td>
			<td>
				寻找某个特定顶点到其它所有顶点的最短路径，该算法允许路径的权值为负数。<br />
				<br />
				推荐阅读：
				<ul>
					<li>
						<a href="https://blog.csdn.net/a8082649/article/details/81812000" rel="nofollow" target="_blank">图解贝尔曼福特算法</a>：详尽的讲解过程和丰富的实例演示，最终用 Java 语言实现该算法。</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>
				约翰逊算法（Johnson）</td>
			<td>
				寻找各个顶点之间的最短路径，允许非环路的路径权值为负数，该算法更适用于稀疏图（路径数量少的图）。<br />
				<br />
				推荐阅读：
				<ul>
					<li>
						<a href="https://blog.csdn.net/aijianxie8808/article/details/101647844" rel="nofollow" target="_blank">Johnson 全源最短路径算法</a>：详细讲解了 Johnson 算法的实现过程，最终实现的演示代码用 C# 实现。</li>
					<li>
						<a href="https://www.cnblogs.com/mk-oi/p/13604088.html" rel="nofollow" target="_blank">Johnson 全源最短路径算法</a>：以作者自身的理解讲解了 Johnson 算法，最终实现的演示程序用 C++ 实现。</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>
</div>
	<div id="ggxc-weixin-arcbottom">
	<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
	<p style="margin-top:12px; text-align:center;">
		<img src="../templets/new/images/material/qrcode_mp_4.png" alt="公众号二维码" width="160" /><br />
		<span class="col-green">微信扫码关注公众号</span>
	</p>
</div>
	<div id="nice-arcs" class="box-bottom">
    <h4>推荐阅读</h4>
    <ul class="clearfix">
<li><a href="niz69i_8.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_4.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_4.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="519_2.html" title="vi工作模式（3种）以及模式切换（转换）" target="_blank">vi工作模式（3种）以及模式切换（转换）</a></li>
<li><a href="1144_2.html" title="Java字节流的使用：字节输入/输出流、文件输入/输出流、字节数组输入/输出流" target="_blank">Java字节流的使用：字节输入/输出流、文件输入/输出流、字节数组输入/输出流</a></li>
<li><a href="vip_2089_2.html" title="VS调试的总结以及技巧" target="_blank">VS调试的总结以及技巧</a></li>
<li><a href="6185_2.html" title="PHP $_SERVER详解" target="_blank">PHP $_SERVER详解</a></li>
<li><a href="../sql/data-types_2.html" title="SQL数据类型汇总" target="_blank">SQL数据类型汇总</a></li>
<li><a href="../matplotlib/twin-axes_2.html" title="Matplotlib双轴图" target="_blank">Matplotlib双轴图</a></li>
<li><a href="../json/what-is-jsonp_2.html" title="JSONP是什么？" target="_blank">JSONP是什么？</a></li>
</ul>
</div>
	
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 9125;
window.arcId = "126aEiAUmcijTEp0eJKS18Lf7DZUvxH6MDxys0ZcrEiBw+SlKkkRb7v3HW0";
window.typeidChain = "457|119";
</script>
<div id="footer" class="clearfix">
	<div class="info left">
	<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
	<p>
		<a href="8066_2.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
		<a href="8092_3.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
		<a href="8097_2.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
		<a href="9648_2.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
		<a href="8093_2.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
		<a href="../sitemap/sitemap_2.html" target="_blank" rel="nofollow">网站地图</a>
	</p>
	<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="https://m.biancheng.net/templets/new/images/gongan_2.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
	</p>
	</div>
	<img id="logo_bottom" class="right" src="https://m.biancheng.net/templets/new/images/logo_bottom_2.gif" alt="底部Logo" />
	<span id="return-top"><b>↑</b></span>
</div>

<div id="addweixin-widget">
	<p>
		<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://m.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
		<img src="https://m.biancheng.net/templets/new/images/material/qrcode_mp_4.png" alt="微信交流群" width="120" />
		<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
	</p>
	<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>

<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>

<script src="https://m.biancheng.net/templets/new/script/jquery1.12.4.min_2.js"></script>
<script src="https://m.biancheng.net/templets/new/script/common_2.js"></script>
<!-- 51la V6 -->
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<!-- 51la V5 -->
<!-- <span style="display: none;"><script type="text/javascript" src="https://js.users.51.la/21368967.js"></script></span> -->
</body>
</html>