<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 启用Chromium高速渲染模式 -->
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<!-- 禁止百度转码 -->
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止识别电话号码 -->
<meta name="format-detection" content="telephone=no" />

<link rel="shortcut icon" href="../favicon_3.ico" />
<link href="../templets/new/style/common_2.css" rel="stylesheet" />
<title>千万不要这样投资，无数中产瞬间返贫！</title>
<meta name="description" content="站长在当地的一个孵化器（创业园区）上班，这里有很多小公司，挨得非常近，老板们也相互认识，所以经常会串门交流，分享创业的酸甜苦辣。 今年（2022年）的经济状况特别糟糕，求" />
</head>
<body>
<div id="topbar" class="clearfix">
	<ul id="product-type" class="left">
		<li>
			<a href="../m_biancheng_default_2.html"><span class="iconfont iconfont-home"></span>首页</a>
		</li>
		<li class="active">
			<a href="../sitemap/sitemap_2.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
		</li>
		<li>
			<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
		</li>
		<li>
			<a href="niz69i_5.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
		</li>
		<!-- <li>
			<a href="https://www.54benniao.com/c_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-c-course"></span>C语言高级课程</a>
		</li>
		<li>
			<a href="https://www.54benniao.com/java_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-java-course"></span>Java高级课程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/q2a/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-q2a"></span>一对一答疑</a>
		</li> -->
	</ul>
</div>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="../m_biancheng_default_2.html">
		<img height="26" src="../templets/new/images/logo_2.png" alt="C语言中文网" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li class="wap-yes"><a href="../m_biancheng_default_2.html">首页</a></li>
		<li><a href="../c/c_4.html">C语言教程</a></li>
		<li><a href="../cplus/cplus_2.html">C++教程</a></li>
		<li><a href="../python/python_2.html">Python教程</a></li>
		<li><a href="../java/java_2.html">Java教程</a></li>
		<li><a href="../linux_tutorial/linux_tutorial_2.html">Linux入门</a></li>
		<li><a href="../sitemap/sitemap_2.html" title="网站地图">更多&gt;&gt;</a></li>
	</ul>
	<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
	<div class="arc-info">
	<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../m_biancheng_default_2.html">首页</a> &gt; <a href="../hot/hot_2.html">推荐阅读</a></span>
</div>

<div id="ggxc-position-bottom" class="ggxc-box"></div>
	<h1>千万不要这样投资，无数中产瞬间返贫！</h1>
	<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
	<div id="arc-body">站长在当地的一个孵化器（创业园区）上班，这里有很多小公司，挨得非常近，老板们也相互认识，所以经常会串门交流，分享创业的酸甜苦辣。<br />
<br />
今年（2022年）的经济状况特别糟糕，求职者和创业者都非常难受。站长隔壁有一家金融公司，最近几个月营收下降地特别厉害，直接腰斩了。<br />
<br />
老板虽然不甘心，但是也没有办法，后来经过一番挣扎，他决定趁机转型，投资一个新的项目。<br />
<br />
自己一个人从零开始折腾，他已经没有那个耐性了，他只能注入资金，招募团队，赶紧把规模做起来。<br />
<br />
嗯，要做就做大，小打小闹没意思。<br />
<br />
不过，创业这几年有赚有赔，他兜里也没有攒下多少钱，所以基本是砸锅卖铁去投资的，甚至还要借一部分钱。<br />
<br />
他把大饼画得很香，仿佛只要舍得投钱，很快就能盈利。但是当我问到风险和细节的时候，他都支支吾吾，总说那些都是小事，只要方向对了，困难都是可以解决的。<br />
<br />
博一下吧，万一成了呢？<br />
<br />
好吧，我知道他着急了，打了鸡血一样杀进一个不太熟悉的领域，来不及试错就想一把梭哈了。<br />
<br />
这种心态实在是太危险了，一旦项目遭遇失败，就会倾家荡产，或者债务缠身。<br />
<br />
吃喝玩乐是很难把钱花光的，这个世界上有两种著名的返贫途径，一个是赌博，一个是投资。
<h4>
	1) 赌博返贫</h4>
赌博就像吸毒，一旦沾染，就会上瘾，或者被别人裹挟。而赌博的赢家永远只有一个，就是赌场或者庄家，懂的都懂。<br />
<br />
你肯定听说过某某赚了不少钱，后来去了一趟澳门，就把房子和车子都卖了。没错，他就是去赌博了。
<h4>
	2) 投资返贫</h4>
在大部分人眼里，投资是一种敢打敢拼敢闯的行为，应该会越来越富有，怎么会突然返贫呢？<br />
<br />
因为创业成功是一种小概率事件，而失败才是一种常态。<br />
<br />
影响创业成败的环节有很多，比如产品质量、营销手段、服务成本、招聘速度、管理能力、公关技巧、市场环境、政策变动、突击检查、天灾意外、恶意竞争、融资渠道、团队内耗、平台规则等，你只有把这些环节都打通了，才能获得成功，只要有一个环节卡住，你的项目就挂了。<br />
<br />
假设打通一个环节的概率是 80%，那么连续打通 10 个环节的概率就是：
<p class="info-box">
	0.8^10=10.7%</p>
就算你比较牛 B，打通一个环节的概率有 90%，那么最终的概率也只有：
<p class="info-box">
	0.9^10=34.9%</p>
看到了吗，创业是一种概率的乘法，每多一道关卡都会拉低成功的概率。而在你的创业旅途中，少说也有十个关卡吧？<br />
<br />
这里的每个关卡都很有挑战，可能还没有现成的攻略，你只能自己去摸索。<br />
<br />
另外还有一些无法预测的不可抗力，你在立项之初根本就想象不到。<br />
<br />
这种地狱级的难度，你哪里来的勇气打包票？<br />
<br />
像这位老板一样，把所有家产都押注在一个小概率的游戏上，那么他大概率会输得很惨。<br />
<br />
这样的例子太多了，你肯定听说过某人不甘心一辈子打工，用所有的积蓄投资了一个项目，或者开了一个门店，然后又回去打工还债了吧。<br />
<br />
挣钱是一种能力，守钱也是一种能力。<br />
<br />
大部分人有了钱都会蠢蠢欲动，想去撬动更大的杠杆，这个时候，风险就来了，如果你管控不好，就会一夜回到解放前。<br />
<br />
当然，站长并不是说不去投资，而是说要有风险意识，如果不是自己的专业领域，千万不要一把梭哈，或者背负债务。<br />
<br />
站长也曾经放手一搏，拿出所有积蓄购买了一个网站，然后小赚了一笔，但是运营网站是我的拿手本领，我是看到了它的增值潜力才出手的。<br />
<br />
另外那个时候站长也有被动收入，就算出现什么意外，赔个精光，也不会影响我的生活，因为过段时间我又赚回来了。<br />
<br />
我的观点是，必须有抗风险能力，即使投资失败，也不能影响物质生活和精神生活。<br />
<br />
对于那些不熟悉的领域，你的钱大概率会打水漂，你顶多拿出 20% 的积蓄去投资，这样哪怕失败了，你还有继续再战的勇气。<br />
<br />
千万不要做赌徒，那样的投资真的是返贫的开始。<br />
<br />
另外，正在工作的小伙伴一定要认识到，打工和创业完全是两码事，工资高并不代表会开公司，千万不要用数年的积蓄去投资，那样真的是风险极高。<br />
<br />
决定创业成败的不是钱，而是你的能力，只要你具备了这样的能力，你可以找别人来投资，何必自己下场呢。<br />
<br />
如果你找了十个有钱人，大家都不愿意给你投资，那说明你的项目或者能力是有问题的，而你自己却蒙在鼓里。<br />
<br />
隔行如隔山，每一行都有很深的水，必须要经过学习和实践才能入门。对于非专业领域，我们一定要有风险意识，千万不能梭哈。<br />
<br />
就算是自己熟悉的领域，也要留一条退路，以保证生活质量不下降。<br />
<br />
最后，再强调一下两种不好的投资心态：
<ul>
	<li>
		第一，原有的工作或者项目遭遇不测，收入骤降，急切地想恢复之前的生活水平；</li>
	<li>
		第二，长期上班导致内心压抑，或者看不到上升空间，然后想自己创业当老板，博取一个更好的未来。</li>
</ul>
<br />
这种情况下投资，心情容易急躁，还没摸清门路就想梭哈一个不熟悉的领域，大概率会返贫。<br />
</div>
	<div id="ggxc-weixin-arcbottom">
	<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
	<p style="margin-top:12px; text-align:center;">
		<img src="../templets/new/images/material/qrcode_mp_4.png" alt="公众号二维码" width="160" /><br />
		<span class="col-green">微信扫码关注公众号</span>
	</p>
</div>
	<div id="nice-arcs" class="box-bottom">
    <h4>推荐阅读</h4>
    <ul class="clearfix">
<li><a href="niz69i_8.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_4.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_4.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="336_3.html" title="C语言指针作为参数和返回值" target="_blank">C语言指针作为参数和返回值</a></li>
<li><a href="../mysql/dayofweek_2.html" title="MySQL DAYOFWEEK函数：获取日期对应的周索引" target="_blank">MySQL DAYOFWEEK函数：获取日期对应的周索引</a></li>
<li><a href="7568_2.html" title="HTML &lt;meta&gt;标签" target="_blank">HTML &lt;meta&gt;标签</a></li>
<li><a href="../jsp2/out_2.html" title="JSP out对象" target="_blank">JSP out对象</a></li>
<li><a href="../spring/xml-aspectj_2.html" title="Spring使用AspectJ进行AOP开发（基于XML）" target="_blank">Spring使用AspectJ进行AOP开发（基于XML）</a></li>
<li><a href="gtrjya1_2.html" title="JS闭包的理解（非常详细）" target="_blank">JS闭包的理解（非常详细）</a></li>
<li><a href="nlwcp9y_2.html" title="git push命令：推送到远程仓库" target="_blank">git push命令：推送到远程仓库</a></li>
</ul>
</div>
	
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 9955;
window.arcId = "0b4fiAe/IOfD/C5I+iM/HrUxXbkKv6HwYVu0+t1nct61S0YV2xHmshz/laQ";
window.typeidChain = "397";
</script>
<div id="footer" class="clearfix">
	<div class="info left">
	<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
	<p>
		<a href="8066_2.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
		<a href="8092_3.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
		<a href="8097_2.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
		<a href="9648_2.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
		<a href="8093_2.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
		<a href="../sitemap/sitemap_2.html" target="_blank" rel="nofollow">网站地图</a>
	</p>
	<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan_2.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
	</p>
	</div>
	<img id="logo_bottom" class="right" src="https://m.biancheng.net/templets/new/images/logo_bottom_2.gif" alt="底部Logo" />
	<span id="return-top"><b>↑</b></span>
</div>

<div id="addweixin-widget">
	<p>
		<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://m.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
		<img src="https://m.biancheng.net/templets/new/images/material/qrcode_mp_4.png" alt="微信交流群" width="120" />
		<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
	</p>
	<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>

<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>

<script src="https://m.biancheng.net/templets/new/script/jquery1.12.4.min_2.js"></script>
<script src="https://m.biancheng.net/templets/new/script/common_2.js"></script>
<!-- 51la V6 -->
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<!-- 51la V5 -->
<!-- <span style="display: none;"><script type="text/javascript" src="https://js.users.51.la/21368967.js"></script></span> -->
</body>
</html>