<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>MySQL比较运算符详解</title>
<meta name="description" content="比较运算符用于比较运算，包括大于（）、小于（）、等于（=）、大于或等于（=）、小于或等于（=）、不等于（!=），以及IN、BETWEEN AND、IS NULL、GREATEST、LEAST、LIKE、REGEXP等。 一个比较" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>MySQL比较运算符详解</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">比较运算符用于比较运算，包括大于（&gt;）、小于（&lt;）、等于（=）、大于或等于（&gt;=）、小于或等于（&lt;=）、不等于（!=），以及IN、BETWEEN AND、IS NULL、GREATEST、LEAST、LIKE、REGEXP等。<br />
<br />
一个比较运算符的结果总是 1、0 或者是 NULL。比较运算符经常在 SELECT 的查询条件子句中使用，用来查询满足指定条件的记录。<br />
<br />
下表罗列了 MySQL 中的比较运算符。<br />
<br />
<table>
<caption>
表 1 MySQL中的比较运算符</caption>
<tbody>
<tr>
<th>
运算符</th>
<th>
作用</th>
</tr>
<tr>
<td>
=</td>
<td>
等于</td>
</tr>
<tr>
<td>
&lt;=&gt;</td>
<td>
安全等于</td>
</tr>
<tr>
<td>
&lt;&gt;、!=</td>
<td>
不等于</td>
</tr>
<tr>
<td>
&lt;=</td>
<td>
小于或等于</td>
</tr>
<tr>
<td>
&gt;=</td>
<td>
大于或等于</td>
</tr>
<tr>
<td>
&gt;</td>
<td>
大于</td>
</tr>
<tr>
<td>
IS NULL</td>
<td>
判断一个值是否为 NULL</td>
</tr>
<tr>
<td>
IS NOT NULL</td>
<td>
判断一个值是否不为 NULL</td>
</tr>
<tr>
<td>
LEAST</td>
<td>
在有两个或多个参数时，返回最小值</td>
</tr>
<tr>
<td>
GREATEST</td>
<td>
当有两个或多个参数时，返回最大值</td>
</tr>
<tr>
<td>
BETWEEN AND</td>
<td>
判断一个值是否落在两个值之间</td>
</tr>
<tr>
<td>
ISNULL</td>
<td>
与 IS NULL 作用相同</td>
</tr>
<tr>
<td>
IN</td>
<td>
判断一个值是 IN 列表中的任意一个值</td>
</tr>
<tr>
<td>
NOT IN</td>
<td>
判断一个值不是 IN 列表中的任意一个值</td>
</tr>
<tr>
<td>
LIKE</td>
<td>
通配符匹配</td>
</tr>
<tr>
<td>
REGEXP</td>
<td>
正则表达式匹配</td>
</tr>
</tbody>
</table>
下面分别讨论不同比较运算符的使用方法。<br />
<h2>
1、等于运算符（=）</h2>
等号（=）用来判断数字、字符串和表达式是否相等：如果相等，返回值为 1，否则返回值为 0。<br />
<br />
【实例】使用&ldquo;=&rdquo;进行相等判断，SQL 语句如下：
<pre class="sql" showmenu="false" shownum="false">
mysql&gt; SELECT 1=0, &#39;2&#39;=2, 2=2,&#39;0.02&#39;=0, &#39;b&#39;=&#39;b&#39;, (1+3) = (2+2),NULL=NULL;
+-----+-----+-----+----------+---------+-----------------+-------------+
| 1=0 |&#39;2&#39;=2| 2=2 | &#39;0.02&#39;=0 | &#39;b&#39;=&#39;b&#39; | (1+3) = (2+2)   | NULL=NULL   |
+-----+-----+-----+----------+---------+-----------------+-------------+
|   0 |  1  |  1  |     0    |    1    |      1          |    NULL     |
+-----+-----+-----+----------+---------+-----------------+-------------+</pre>
由结果可以看到，在进行判断时，2=2 和 &#39;2&#39;=2 的返回值相同，都为 1。因为在进行判断时，MySQL 自动进行了转换，把字符 &#39;2&#39; 转换成了数字 2；&#39;b&#39;=&#39;b&#39; 为相同的字符比较，所以返回值为 1；表达式 1+3 和表达式 2+2 的结果都为 4，因此结果相等，返回值为 1；由于&ldquo;=&rdquo;不能用于空值 NULL 的判断，所以返回值为 NULL。<br />
<br />
数值比较时有如下规则：
<ul>
<li>
若有一个或两个参数为 NULL，则比较运算的结果为 NULL。</li>
<li>
若同一个比较运算中的两个参数都是字符串，则按照字符串进行比较。</li>
<li>
若两个参数均为整数，则按照整数进行比较。</li>
<li>
若用字符串和数字进行相等判断，则 MySQL 可以自动将字符串转换为数字。</li>
</ul>
<h2>
2、安全等于运算符（&lt;=&gt;）</h2>
这个操作符和 = 操作符执行相同的比较操作，不过 &lt;=&gt; 可以用来判断 NULL 值。在两个操作数均为 NULL 时，其返回值为 1，而不为 NULL；当一个操作数为 NULL 时，其返回值为 0，而不为 NULL。<br />
<br />
【实例】使用&ldquo;&lt;=&gt;&rdquo;进行相等的判断，SQL 语句如下：
<pre class="sql" showmenu="false" shownum="false">
mysql&gt; SELECT 1&lt;=&gt;0, &#39;2&#39;&lt;=&gt;2, 2&lt;=&gt;2,&#39;0.02&#39;&lt;=&gt;0, &#39;b&#39;&lt;=&gt;&#39;b&#39;, (1+3)&lt;=&gt; (2+1),NULL&lt;=&gt;NULL;
+-----+-------+-----+----------+---------+---------------+------------+
|1&lt;=&gt;0|&#39;2&#39;&lt;=&gt;2|2&lt;=&gt;2|&#39;0.02&#39;&lt;=&gt;0|&#39;b&#39;&lt;=&gt;&#39;b&#39;|(1+3) &lt;=&gt; (2+1)| NULL&lt;=&gt;NULL|
+-----+-------+-----+----------+---------+---------------+------------+
|   0 |     1|    1 |        0 |       1 |             0 |          1 |
+-----+-------+-----+----------+---------+---------------+------------+</pre>
由结果可以看到，&ldquo;&lt;=&gt;&rdquo;在执行比较操作时和&ldquo;=&rdquo;的作用相似，唯一的区别是&ldquo;&lt;=&gt;&rdquo;可以用来对 NULL 进行判断，两者都为 NULL 时返回值为 1。<br />
<h2>
3、不等于运算符（&lt;&gt;或者 !=）</h2>
&ldquo;&lt;&gt;&rdquo;或者&ldquo;!=&rdquo;用于判断数字、字符串、表达式是否相等：如果不相等，返回值为 1，否则返回值为 0。这两个运算符不能用于判断空值 NULL。<br />
<br />
【实例】使用&ldquo;&gt;&rdquo;和&ldquo;!=&rdquo;进行不相等的判断，SQL 语句如下：
<pre class="sql" showmenu="false" shownum="false">
mysql&gt; SELECT &#39;good&#39;&lt;&gt;&#39;god&#39;, 1&lt;&gt;2, 4!=4, 5.5!=5, (1+3)!=(2+1),NULL&lt;&gt;NULL;
+---------------+------+------+--------+--------------+------------+
| &#39;good&#39;&lt;&gt;&#39;god&#39; | 1&lt;&gt;2 | 4!=4 | 5.5!=5 | (1+3)!=(2+1) | NULL&lt;&gt;NULL |
+---------------+------+------+--------+--------------+------------+
|          1    |    1 |  0   |      1 |         1    |     NULL   |
+---------------+------+------+--------+--------------+------------+</pre>
由结果可以看到，上面两个不等于运算符的作用相同，都可以进行数字、字符串、表达式的比较判断。<br />
<h2>
4、小于或等于运算符（&lt;=）</h2>
&ldquo;&lt;=&rdquo;用来判断左边的操作数是否小于或等于右边的操作数：如果小于或等于，返回值为 1，否则返回值为 0。&ldquo;&lt;=&rdquo;不能用于判断空值 NULL。<br />
<br />
【实例】使用&ldquo;&lt;=&rdquo;进行比较判断，SQL 语句如下：
<pre class="sql" showmenu="false" shownum="false">
mysql&gt;SELECT &#39;good&#39;&lt;=&#39;god&#39;, 1&lt;=2, 4&lt;=4, 5.5&lt;=5, (1+3)&lt;=(2+1),NULL&lt;=NULL;
+---------------+------+------+--------+----------------+------------+
| &#39;good&#39;&lt;=&#39;god&#39; | 1&lt;=2 | 4&lt;=4 | 5.5&lt;=5 | (1+3) &lt;= (2+1) | NULL&lt;=NULL |
+---------------+------+------+--------+----------------+------------+
|          0    |    1 |  1   |      0 |          0     |      NULL  |
+---------------+------+------+--------+----------------+------------+</pre>
由结果可以看到，左边操作数小于或等于右边时，返回值为 1，例如 4&lt;=4；当左边操作数大于右边时，返回值为 0，例如 &#39;good&#39;&lt;=&#39;god&#39;（&#39;good&#39; 第 3 个位置的&ldquo;o&rdquo;字符在字母表中的顺序大于&#39;god&#39; 中第 3 个位置的&ldquo;d&rdquo;字符，因此返回值为 0）；比较两个 NULL 值时将返回 NULL。<br />
<h2>
5、小于运算符（&lt;）</h2>
&ldquo;&lt;&rdquo;运算符用来判断左边的操作数是否小于右边的操作数：如果是，则返回值为 1，否则返回值为 0。&ldquo;&lt;&rdquo;不能用于判断空值 NULL。<br />
<br />
【实例】使用&ldquo;&lt;&rdquo;进行比较判断，SQL 语句如下：
<pre class="sql" showmenu="false" shownum="false">
mysql&gt; SELECT &#39;good&#39;&lt;&#39;god&#39;, 1&lt;2, 4&lt;4, 5.5&lt;5, (1+3) &lt; (2+1),NULL&lt;NULL;
+--------------+-----+-----+-------+---------------+-----------+
| &#39;good&#39;&lt;&#39;god&#39; | 1&lt;2 | 4&lt;4 | 5.5&lt;5 | (1+3) &lt; (2+1) | NULL&lt;NULL |
+--------------+-----+-----+-------+---------------+-----------+
|         0    |   1 |  0  |    0  |          0    |    NULL   |
+--------------+-----+-----+-------+---------------+-----------+</pre>
由结果可以看到，当左边操作数小于右边时，返回值为 1，例如 1&lt;2；当左边操作数大于右边时，返回值为0，例如 &#39;good&#39;&lt;&#39;god&#39;（&#39;good&#39; 第 3 个位置的&ldquo;o&rdquo;字符在字母表中的顺序大于 &#39;god&#39; 中第 3 个位置的&ldquo;d&rdquo;字符，因此返回值为 0）；比较两个 NULL 值时将返回 NULL。<br />
<h2>
6、大于或等于运算符（&gt;=）</h2>
&ldquo;&gt;=&rdquo;运算符用来判断左边的操作数是否大于或等于右边的操作数：如果是，则返回值为 1；否则返回值为 0。&ldquo;&gt;=&rdquo;不能用于判断空值 NULL。<br />
<br />
【实例】使用&ldquo;&gt;=&rdquo;进行比较判断，SQL 语句如下：
<pre class="sql" showmenu="false" shownum="false">
MySQL&gt; SELECT &#39;good&#39;&gt;=&#39;god&#39;, 1&gt;=2, 4&gt;=4, 5.5&gt;=5, (1+3) &gt;= (2+1),NULL&gt;=NULL;
+---------------+------+------+--------+----------------+------------+
| &#39;good&#39;&gt;=&#39;god&#39; | 1&gt;=2 | 4&gt;=4 | 5.5&gt;=5 | (1+3) &gt;= (2+1) | NULL&gt;=NULL |
+---------------+------+------+--------+----------------+------------+
|          1    |   0  |   1  |     1  |           1    |     NULL   |
+---------------+------+------+--------+----------------+------------+</pre>
由结果可以看到，左边操作数大于或等于右边时，返回值为 1，例如 4&gt;=4；当左边操作数小于右边时，返回值为 0，例如 1&gt;=2；比较两个 NULL 值时将返回 NULL。<br />
<h2>
7、大于运算符（&gt;）</h2>
&ldquo;&gt;&rdquo;运算符用来判断左边的操作数是否大于右边的操作数：如果是，则返回值为 1；否则返回值为 0。&ldquo;&gt;&rdquo;不能用于判断空值 NULL。<br />
<br />
【实例】使用&ldquo;&gt;&rdquo;进行比较判断，SQL 语句如下：
<pre class="sql" showmenu="false" shownum="false">
mysql&gt; SELECT &#39;good&#39;&gt;&#39;god&#39;, 1&gt;2, 4&gt;4, 5.5&gt;5, (1+3) &gt; (2+1),NULL&gt;NULL;
+--------------+-----+-----+-------+---------------+-----------+
| &#39;good&#39;&gt;&#39;god&#39; | 1&gt;2 | 4&gt;4 | 5.5&gt;5 | (1+3) &gt; (2+1) | NULL&gt;NULL |
+--------------+-----+-----+-------+---------------+-----------+
|       1      |   0 |  0  |    1  |          1    |     NULL  |
+--------------+-----+-----+-------+---------------+-----------+</pre>
由结果可以看到，左边操作数大于右边时，返回值为 1，例如 5.5&gt;5；左边操作数小于右边时，返回 0，例如 1&gt;2；比较两个 NULL 值时将返回 NULL。<br />
<h2>
8、IS NULL（ISNULL）和IS NOT NULL运算符</h2>
IS NULL 和 ISNULL 检验一个值是否为 NULL：如果为 NULL，返回值为 1，否则返回值为 0。IS NOT NULL 检验一个值是否为非 NULL：如果是非 NULL，返回值为 1，否则返回值为 0。<br />
<br />
【实例】使用 IS NULL、ISNULL 和 IS NOT NULL 判断 NULL 值和非 NULL 值，SQL 语句如下：
<pre class="sql" showmenu="false" shownum="false">
mysql&gt; SELECT NULL IS NULL, ISNULL(NULL),ISNULL(10), 10 IS NOT NULL;
+--------------+--------------+------------+----------------+
| NULL IS NULL | ISNULL(NULL) | ISNULL(10) | 10 IS NOT NULL |
+--------------+--------------+------------+----------------+
|          1   |         1    |       0    |           1    |
+--------------+--------------+------------+----------------+</pre>
由结果可以看到，IS NULL 和 ISNULL 的作用相同，只是格式不同。ISNULL 和 IS NOT NULL 的返回值正好相反。<br />
<h2>
9、BETWEEN&hellip;AND&hellip;运算符</h2>
语法格式为：
<pre class="info-box">
expr BETWEEN min AND max</pre>
假如 expr 大于等于 min 且小于等于 max，则 BETWEEN 的返回值为 1，否则返回值为 0。<br />
<br />
【实例】使用 BETWEEN&hellip;AND&hellip; 进行值区间判断，输入 SQL 语句如下：
<pre class="sql" showmenu="false" shownum="false">
mysql&gt; SELECT 4 BETWEEN 2 AND 5, 4 BETWEEN 4 AND 6,12 BETWEEN 9 AND 10;
+-------------------+-------------------+---------------------+
| 4 BETWEEN 2 AND 5 | 4 BETWEEN 4 AND 6 | 12 BETWEEN 9 AND 10 |
+-------------------+-------------------+---------------------+
|              1    |             1     |               0     |
+-------------------+-------------------+---------------------+
mysql&gt; SELECT  &#39;x&#39; BETWEEN &#39;f&#39; AND &#39;g&#39;, &#39;b&#39; BETWEEN &#39;a&#39; AND &#39;c&#39;;
+-------------------------+-------------------------+
| &#39;x&#39; BETWEEN &#39;f&#39; AND &#39;g&#39; | &#39;b&#39; BETWEEN &#39;a&#39; AND &#39;c&#39; |
+-------------------------+-------------------------+
|                   0     |               1         |
+-------------------------+-------------------------+</pre>
由结果可以看到，4 在端点值区间内或者等于其中一个端点值时，BETWEEN&hellip;AND&hellip; 表达式返回值为 1；12 并不在指定区间内，因此返回值为 0；对于字符串类型的比较，按字母表中字母顺序进行比较，&ldquo;x&rdquo;不在指定的字母区间内，因此返回值为 0，而&ldquo;b&rdquo;位于指定字母区间内，因此返回值为 1。<br />
<h2>
10、LEAST运算符</h2>
语法格式为：
<pre class="info-box">
LEAST(值1,值2,...,值n)</pre>
其中，&ldquo;值n&rdquo;表示参数列表中有 n 个值。在有两个或多个参数的情况下，返回最小值。假如任意一个自变量为 NULL，则 LEAST() 的返回值为 NULL。<br />
<br />
【实例】使用 LEAST 运算符进行大小判断，SQL 语句如下：
<pre class="sql" showmenu="false" shownum="false">
mysql&gt; SELECT least(2,0), least(20.0,3.0,100.5), least(&#39;a&#39;,&#39;c&#39;,&#39;b&#39;),least(10,NULL);
+----------+---------------------+------------------+--------------+
|least(2,0)|least(20.0,3.0,100.5)|least(&#39;a&#39;,&#39;c&#39;,&#39;b&#39;)|least(10,NULL)|
+----------+---------------------+------------------+--------------+
|        0 |               3.0   | a                |         NULL |
+----------+---------------------+------------------+--------------+</pre>
由结果可以看到，当参数是整数或者浮点数时，LEAST 将返回其中最小的值；当参数为字符串时，返回字母表中顺序最靠前的字符；当比较值列表中有 NULL 时，不能判断大小，返回值为 NULL。<br />
<h2>
11、GREATEST (value1,value2,...)</h2>
语法格式为：
<pre class="info-box">
GREATEST(值1, 值2,...,值n)</pre>
其中，n 表示参数列表中有 n 个值。当有两个或多个参数时，返回值为最大值。假如任意一个自变量为 NULL，则 GREATEST() 的返回值为 NULL。<br />
<br />
【实例】使用 GREATEST 运算符进行大小判断，SQL 语句如下：
<pre class="sql" showmenu="false" shownum="false">
mysql&gt; SELECT greatest(2,0), greatest(20.0,3.0,100.5), greatest(&#39;a&#39;,&#39;c&#39;,&#39;b&#39;), greatest(10,NULL);
+-------------+------------------------+---------------------+------------------+
|greatest(2,0)|greatest(20.0,3.0,100.5)|greatest(&#39;a&#39;,&#39;c&#39;,&#39;b&#39;)|greatest(10,NULL) |
+-------------+------------------------+---------------------+------------------+
|          2  |             100.5      | c                   |         NULL     |
+-------------+------------------------+---------------------+------------------+</pre>
由结果可以看到，当参数中是整数或者浮点数时，GREATEST 将返回其中最大的值；当参数为字符串时，返回字母表中顺序最靠后的字符；当比较值列表中有 NULL 时，不能判断大小，返回值为 NULL。<br />
<h2>
12、IN、NOT IN运算符</h2>
IN 运算符用来判断操作数是否为 IN 列表中的其中一个值：如果是，返回值为 1，否则返回值为 0。<br />
<br />
NOT IN 运算符用来判断表达式是否为 IN 列表中的其中一个值：如果不是，返回值为 1，否则返回值为 0。<br />
<br />
【实例】使用 IN、NOT IN 运算符进行判断，SQL 语句如下：
<pre class="sql" showmenu="false" shownum="false">
mysql&gt; SELECT 2 IN (1,3,5,&#39;thks&#39;), &#39;thks&#39; IN (1,3,5,&#39;thks&#39;);
+---------------------+--------------------------+
| 2 IN (1,3,5,&#39;thks&#39;) | &#39;thks&#39; IN (1,3,5,&#39;thks&#39;) |
+---------------------+--------------------------+
|               0     |                    1     |
+---------------------+--------------------------+
mysql&gt; SELECT 2 NOT IN (1,3,5,&#39;thks&#39;), &#39;thks&#39; NOT IN (1,3,5,&#39;thks&#39;);
+-------------------------+------------------------------+
| 2 NOT IN (1,3,5,&#39;thks&#39;) | &#39;thks&#39; NOT IN (1,3,5,&#39;thks&#39;) |
+-------------------------+------------------------------+
|                   1     |                        0     |
+-------------------------+------------------------------+</pre>
由结果可以看到，IN 和 NOT IN 的返回值正好相反。<br />
<br />
在左侧表达式为 NULL 的情况下，或是表中找不到匹配项并且表中一个表达式为 NULL 的情况下，IN的返回值均为 NULL。<br />
<br />
【实例】存在 NULL 值时的 IN 查询，SQL 语句如下：
<pre class="sql" showmenu="false" shownum="false">
mysql&gt; SELECT NULL IN (1,3,5,&#39;thks&#39;),10 IN (1,3,NULL,&#39;thks&#39;);
+------------------------+-------------------------+
| NULL IN (1,3,5,&#39;thks&#39;) | 10 IN (1,3,NULL,&#39;thks&#39;) |
+------------------------+-------------------------+
|               NULL     |                NULL     |
+------------------------+-------------------------+</pre>
IN() 语法也可用于在 SELECT 语句中进行嵌套子查询，在后面的章节中将会讲到。<br />
<h2>
13、LIKE</h2>
LIKE 运算符用来匹配字符串，语法格式为：
<pre class="info-box">
expr LIKE 匹配条件</pre>
如果 expr 满足匹配条件，则返回值为 1（True）；如果不匹配，则返回值为 0（False）。expr 或匹配条件中任何一个为 NULL，则结果为 NULL。<br />
<br />
LIKE 运算符在进行匹配时，可以使用下面的两种通配符：
<ul>
<li>
&ldquo;%&rdquo;：匹配任何数目的字符，甚至包括零字符。</li>
<li>
&ldquo;_&rdquo;：只能匹配一个字符。</li>
</ul>
<br />
【实例】使用运算符 LIKE 进行字符串匹配运算，SQL 语句如下：
<pre class="sql" showmenu="false" shownum="false">
mysql&gt; SELECT &#39;stud&#39; LIKE &#39;stud&#39;, &#39;stud&#39; LIKE &#39;stu_&#39;,&#39;stud&#39; LIKE &#39;%d&#39;,&#39;stud&#39; LIKE &#39;t_ _ _&#39;, &#39;s&#39; LIKE NULL;
+------------------+------------------+---------------+--------------------+--------------+
|&#39;stud&#39; LIKE &#39;stud&#39;|&#39;stud&#39; LIKE &#39;stu_&#39;|&#39;stud&#39; LIKE &#39;%d&#39;|&#39;stud&#39; LIKE &#39;t_ _ _&#39;| &#39;s&#39; LIKE NULL |
+------------------+------------------+---------------+--------------------+--------------+
|             1    |              1   |            1  |              0     | NULL         |
+------------------+------------------+---------------+--------------------+--------------+</pre>
由结果可以看到，指定匹配字符串为&ldquo;stud&rdquo;。&ldquo;stud&rdquo;表示直接匹配&ldquo;stud&rdquo;字符串，满足匹配条件，返回 1；&ldquo;stu_&rdquo;表示匹配以 stu 开头的长度为 4 个字符的字符串，&ldquo;stud&rdquo;正好是 4 个字符，满足匹配条件，因此匹配成功，返回 1；&ldquo;%d&rdquo;表示匹配以字母&ldquo;d&rdquo;结尾的字符串，&ldquo;stud&rdquo;满足匹配条件，匹配成功，返回 1；&ldquo;t _ _ _&rdquo;表示匹配以&ldquo;t&rdquo;开头的长度为 4 个字符的字符串，&ldquo;stud&rdquo;不满足匹配条件，因此返回 0；当字符&ldquo;s&rdquo;与 NULL 匹配时，结果为 NULL。<br />
<h2>
14、REGEXP</h2>
REGEXP 运算符用来匹配字符串，语法格式为：
<pre class="info-box">
expr REGEXP 匹配条件</pre>
如果 expr 满足匹配条件，则返回 1；如果不满足，则返回 0。若 expr 或匹配条件任意一个为 NULL，则结果为 NULL。<br />
<br />
REGEXP运算符在进行匹配时，常用的有下面几种通配符：
<ul>
<li>
&ldquo;^&rdquo;：匹配以该字符后面的字符开头的字符串。</li>
<li>
&ldquo;$&rdquo;：匹配以该字符后面的字符结尾的字符串。</li>
<li>
&ldquo;.&rdquo;：匹配任何一个单字符。</li>
<li>
&ldquo;[...]&rdquo;：匹配在方括号内的任何字符。例如：&ldquo;[abc]&rdquo;匹配&ldquo;a&rdquo;&ldquo;b&rdquo;或&ldquo;c&rdquo;。为了命名字符的范围，使用一个&ldquo;-&rdquo;。&ldquo;[a-z]&rdquo;匹配任何字母，而&ldquo;[0-9]&rdquo;匹配任何数字。</li>
<li>
&ldquo;*&rdquo;：匹配零个或多个在它前面的字符。例如：&ldquo;x*&rdquo;匹配任何数量的&ldquo;x&rdquo;字符，&ldquo;[0-9]*&rdquo;匹配任何数量的数字，而&ldquo;*&rdquo;匹配任何数量的任何字符。</li>
</ul>
<br />
【实例】使用运算符 REGEXP 进行字符串匹配运算，SQL 语句如下：
<pre class="sql" showmenu="false" shownum="false">
mysql&gt; SELECT &#39;ssky&#39; REGEXP &#39;^s&#39;, &#39;ssky&#39; REGEXP &#39;y$&#39;, &#39;ssky&#39; REGEXP &#39;.sky&#39;, &#39;ssky&#39; REGEXP &#39;[ab]&#39;;
+------------------+------------------+--------------------+--------------------+
|&#39;ssky&#39; REGEXP &#39;^s&#39;|&#39;ssky&#39; REGEXP &#39;y$&#39;|&#39;ssky&#39; REGEXP &#39;.sky&#39;|&#39;ssky&#39; REGEXP &#39;[ab]&#39;|
+------------------+------------------+--------------------+--------------------+
|            1     |            1     |             1      |                0   |
+------------------+------------------+--------------------+--------------------+</pre>
由结果可以看到，指定匹配字符串为&ldquo;ssky&rdquo;：
<ul>
<li>
&ldquo;^s&rdquo;表示匹配任何以字母&ldquo;s&rdquo;开头的字符串，因此满足匹配条件，返回 1；</li>
<li>
&ldquo;y$&rdquo;表示任何以字母&ldquo;y&rdquo;结尾的字符串，因此满足匹配条件，返回 1；</li>
<li>
&ldquo;.sky&rdquo;匹配任何以&ldquo;sky&rdquo;结尾、字符长度为 4 的字符串，满足匹配条件，返回 1；</li>
<li>
&ldquo;[ab]&rdquo;匹配任何包含字母&ldquo;a&rdquo;或者&ldquo;b&rdquo;的字符串，指定字符串中既没有字母&ldquo;a&rdquo;也没有字母&ldquo;b&rdquo;，因此不满足匹配条件，返回 0。</li>
</ul>
<br />
正则表达式是一个可以进行复杂查询的强大工具。相对于 LIKE 字符串匹配，它可以使用更多的通配符类型，查询结果更加灵活。读者可以参考相关的书籍或资料，深入学习正则表达式的写法，在这里就不详细介绍了。<br />
</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="883.html" title="Linux df用法详解：查看文件系统硬盘使用情况" target="_blank">Linux df用法详解：查看文件系统硬盘使用情况</a></li>
<li><a href="4749.html" title="Java Map.isEmpty()方法：判断Map集合对象是否包含内容" target="_blank">Java Map.isEmpty()方法：判断Map集合对象是否包含内容</a></li>
<li><a href="../sql/like.html" title="SQL LIKE子句：模糊匹配" target="_blank">SQL LIKE子句：模糊匹配</a></li>
<li><a href="../ml_alg/gradient-descent.html" title="梯度下降求极值" target="_blank">梯度下降求极值</a></li>
<li><a href="../matplotlib/twin-axes.html" title="Matplotlib双轴图" target="_blank">Matplotlib双轴图</a></li>
<li><a href="zbwktv1.html" title="C++ new和delete用法详解" target="_blank">C++ new和delete用法详解</a></li>
<li><a href="p03c1q1.html" title="Go语言列表（list）的创建和使用" target="_blank">Go语言列表（list）的创建和使用</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 10427;
window.arcId = "31f44uDJLf93VTBD+WJzwofQ5iyLmiYHWFw/GpZPh58pgs2g4QlD0bRlMP1C";
window.typeidChain = "345|119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>