<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 启用Chromium高速渲染模式 -->
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<!-- 禁止百度转码 -->
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止识别电话号码 -->
<meta name="format-detection" content="telephone=no" />

<link rel="shortcut icon" href="../favicon_3.ico" />
<link href="../templets/new/style/common_2.css" rel="stylesheet" />
<title>C++ throw抛出异常用法详解</title>
<meta name="description" content="异常处理是许多现代编程语言中不可或缺的一部分，C++ 也不例外。通过使用throw, try, 和 catch 关键字，C++ 为程序员提供了强大的异常处理机制。 在这篇文章中，我们专门讲解 throw 关键字" />
</head>
<body>
<div id="topbar" class="clearfix">
	<ul id="product-type" class="left">
		<li>
			<a href="../m_biancheng_default_2.html"><span class="iconfont iconfont-home"></span>首页</a>
		</li>
		<li class="active">
			<a href="../sitemap/sitemap_2.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
		</li>
		<li>
			<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
		</li>
		<li>
			<a href="niz69i_5.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
		</li>
		<!-- <li>
			<a href="https://www.54benniao.com/c_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-c-course"></span>C语言高级课程</a>
		</li>
		<li>
			<a href="https://www.54benniao.com/java_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-java-course"></span>Java高级课程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/q2a/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-q2a"></span>一对一答疑</a>
		</li> -->
	</ul>
</div>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="../m_biancheng_default_2.html">
		<img height="26" src="../templets/new/images/logo_2.png" alt="C语言中文网" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li class="wap-yes"><a href="../m_biancheng_default_2.html">首页</a></li>
		<li><a href="../c/c_4.html">C语言教程</a></li>
		<li><a href="../cplus/cplus_2.html">C++教程</a></li>
		<li><a href="../python/python_2.html">Python教程</a></li>
		<li><a href="../java/java_2.html">Java教程</a></li>
		<li><a href="../linux_tutorial/linux_tutorial_2.html">Linux入门</a></li>
		<li><a href="../sitemap/sitemap_2.html" title="网站地图">更多&gt;&gt;</a></li>
	</ul>
	<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
	<div class="arc-info">
		<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../m_biancheng_default_2.html">首页</a> &gt; 编程笔记</span>
	</div>
	<div id="ggxc-position-bottom" class="ggxc-box"></div>
	<h1>C++ throw抛出异常用法详解</h1>
	<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
	<div id="arc-body">异常处理是许多现代编程语言中不可或缺的一部分，C++ 也不例外。通过使用 throw、try、和 catch 关键字，C++ 为程序员提供了强大的异常处理机制。<br />
<br />
在这篇文章中，我们专门讲解 throw 关键字的用法，并通过实例代码来详细解释。<br />
<h2>
	throw的基础用法</h2>
throw 是 C++ 异常处理机制中的一个关键字，用于在检测到异常情况时触发异常，语法格式如下：<br />
<pre class="info-box">
throw 异常信息;</pre>
异常信息可以是一个变量，也可以是一个表达式，表示要抛出的异常对象。<br />
<br />
例如：
<pre class="cpp">
throw 1; // 抛出一个整数的异常
throw &ldquo;abced&rdquo;; // 抛出一个字符串的异常
throw int; // 错误，异常信息不能是类型，必须是具体的值</pre>
当在代码中检测到一个异常情况（如非法输入、资源耗尽等）时，可以使用 throw 关键字来抛出一个异常。这通常会中断当前函数的执行，并将控制权转交给最近的 catch 块。<br />
<br />
下面是一个完整的例子：
<pre class="cpp">
#include &lt;iostream&gt;

void testFunction(int choice) {
    if (choice == 1) {
        throw 42;
    }
    else if (choice == 2) {
        throw &quot;String type exception&quot;;
    }
    else {
        throw 1.23;
    }
}

int main() {
    try {
        testFunction(2);
    }
    catch (int e) {
        std::cout &lt;&lt; &quot;Caught an integer exception: &quot; &lt;&lt; e &lt;&lt; std::endl;
    }
    catch (const char* e) {
        std::cout &lt;&lt; &quot;Caught a string exception: &quot; &lt;&lt; e &lt;&lt; std::endl;
    }
    catch (const double&amp; e) {
        std::cout &lt;&lt; &quot;Caught a standard exception: &quot; &lt;&lt; e &lt;&lt; std::endl;
    }

    return 0;
}</pre>
运行结果为：
<p class="info-box">
	Caught a string exception: String type exception</p>
<h2>
	C++异常类</h2>
throw 抛出的异常值，可以是基本数据类型，也可以是类类型。C++ 标准库中提供了一些常见的异常类，它们定义在<code>&lt;stdexcept&gt;</code>头文件中。<br />
<br />
如下是从 &lt;stdexcept&gt; 头文件中摘录的一部分异常类：<br />
<pre class="cpp">
namespace std
{
    class logic_error; // logic_error: 表示程序逻辑错误的基类。
    class domain_error; // 当数学函数的输入参数不在函数的定义域内时抛出。
    class invalid_argument; // 当函数的一个参数无效时抛出。
    class length_error; //当操作导致容器超过其最大允许大小时抛出。
    class out_of_range; // 当数组或其他数据结构访问越界时抛出。
   
    class runtime_error;// 表示运行时错误的基类。
    class range_error; // 当数学计算的结果不可表示时抛出。
    class overflow_error; // 当算术运算导致溢出时抛出。
    class underflow_error; // 当算术运算导致下溢时抛出。
}</pre>
举个简单的例子：
<pre class="cpp">
#include &lt;iostream&gt;
#include &lt;stdexcept&gt;

void divideNumbers(double num1, double num2) {
    if (num2 == 0) {
        throw std::invalid_argument(&quot;Denominator cannot be zero&quot;);
    }
    std::cout &lt;&lt; &quot;Result: &quot; &lt;&lt; num1 / num2 &lt;&lt; std::endl;
}

int main() {
    try {
        divideNumbers(10, 2);
        divideNumbers(10, 0);
    } catch (const std::invalid_argument&amp; e) {
        std::cerr &lt;&lt; &quot;Caught exception: &quot; &lt;&lt; e.what() &lt;&lt; std::endl;
    }

    return 0;
}</pre>
运行结果为：
<p class="info-box">
	Result: 5<br />
	Caught exception: Denominator cannot be zero</p>
在上述代码中，divideNumbers() 函数接受两个浮点数，并尝试进行除法。如果除数（denominator）是 0，则通过 throw 关键字抛出一个 std::invalid_argument 异常。这个异常会被 main() 函数中的 catch 块捕获，并输出相应的错误消息。</div>
	<div id="ggxc-weixin-arcbottom">
	<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
	<p style="margin-top:12px; text-align:center;">
		<img src="../templets/new/images/material/qrcode_mp_4.png" alt="公众号二维码" width="160" /><br />
		<span class="col-green">微信扫码关注公众号</span>
	</p>
</div>
	<div id="nice-arcs" class="box-bottom">
    <h4>推荐阅读</h4>
    <ul class="clearfix">
<li><a href="niz69i_8.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_4.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_4.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="2857_2.html" title="UE4新建人物和地图模式" target="_blank">UE4新建人物和地图模式</a></li>
<li><a href="vip_3331_2.html" title="数据结构和算法的关系和区别" target="_blank">数据结构和算法的关系和区别</a></li>
<li><a href="vip_3497_2.html" title="Shell向进程发送信号（kill、pkill和killall命令）" target="_blank">Shell向进程发送信号（kill、pkill和killall命令）</a></li>
<li><a href="7981_2.html" title="GCC -c选项：生成目标文件" target="_blank">GCC -c选项：生成目标文件</a></li>
<li><a href="9820_2.html" title="Python求素数（带完整源码）" target="_blank">Python求素数（带完整源码）</a></li>
<li><a href="tbrabfn_2.html" title="C++函数（声明、定义和调用）详解" target="_blank">C++函数（声明、定义和调用）详解</a></li>
<li><a href="tljc0x1_2.html" title="Linux ps命令：查看进程信息" target="_blank">Linux ps命令：查看进程信息</a></li>
</ul>
</div>
	
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 10337;
window.arcId = "734a4zBM+7AvRHqf9gWmmYC/79u3V3MS8mIBK0my4LGB/BfJO61rgRnfO1F4";
window.typeidChain = "120|119";
</script>
<div id="footer" class="clearfix">
	<div class="info left">
	<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
	<p>
		<a href="8066_2.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
		<a href="8092_3.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
		<a href="8097_2.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
		<a href="9648_2.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
		<a href="8093_2.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
		<a href="../sitemap/sitemap_2.html" target="_blank" rel="nofollow">网站地图</a>
	</p>
	<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan_2.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
	</p>
	</div>
	<img id="logo_bottom" class="right" src="https://m.biancheng.net/templets/new/images/logo_bottom_2.gif" alt="底部Logo" />
	<span id="return-top"><b>↑</b></span>
</div>

<div id="addweixin-widget">
	<p>
		<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://m.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
		<img src="https://m.biancheng.net/templets/new/images/material/qrcode_mp_4.png" alt="微信交流群" width="120" />
		<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
	</p>
	<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>

<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>

<script src="https://m.biancheng.net/templets/new/script/jquery1.12.4.min_2.js"></script>
<script src="https://m.biancheng.net/templets/new/script/common_2.js"></script>
<!-- 51la V6 -->
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<!-- 51la V5 -->
<!-- <span style="display: none;"><script type="text/javascript" src="https://js.users.51.la/21368967.js"></script></span> -->
</body>
</html>