<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>Shell for循环及用法举例</title>
<meta name="description" content="for 循环是固定循环，也就是在循环时已经知道需要进行几次循环。有时也把 for 循环称为 计数循环 。 for 循环的语法有如下 2 种。 语法一 for 变量 in 值1 值2 值3 do 程序 done 在这种语法中" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>Shell for循环及用法举例</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">for 循环是固定循环，也就是在循环时已经知道需要进行几次循环。有时也把 for 循环称为<span style="color:#008000;">计数循环</span>。<br />
<br />
for 循环的语法有如下 2 种。<br />
<h2>
语法一</h2>
<p class="info-box">
for 变量 in 值1 值2 值3&hellip;<br />
do<br />
程序<br />
done</p>
在这种语法中，for 循环的次数取决于 in 后面值的个数（以空格分隔），有几个值就循环几次，并且每次循环都把值赋予变量。也就是说，假设 in 后面有三个值，for 会循环三次，第一次循环会把值 1 赋予变量，第二次循环会把值 2 赋予变量，以此类推。<br />
<br />
<strong>【例 1】</strong>打印时间。
<p class="info-box">
[root@localhost ~]# vi sh/for.sh<br />
#!/bin/bash 打印时间<br />
for time in morning noon afternoon evening<br />
do<br />
echo &quot;This time is $time!&quot;<br />
done</p>
解释一下脚本思路：in 值后面有 4 个字符串，所以这个 for 会循环 4 次。每次循环会依次把字符串赋予变量 time，所以这个脚本会循环 4 次，并依次输出&quot;morning noon afternoon evening&quot;这 4 个字符串。这个脚本执行之后是这样子的：<br />
<p class="info-box">
[root@localhost ~]# sh/for.sh<br />
This time is morning!<br />
#第一次循环把morning赋予变量time<br />
This time is noon!<br />
#第二次循环把noon赋予变量time<br />
This time is afternoon!<br />
第三次循环把afternoon赋予变量time<br />
This time is evening!<br />
#第四次循环把evening赋予变量time，循环结束</p>
因为关键字 in 后面有 4 个值，所以 for 会循环 4 次。每次循环时，会依次把 4 个值赋予变量 time。非常简单吧！
<h2>
语法二</h2>
<p class="info-box">
for ((初始值；循环控制条件；变量变化)）<br />
do<br />
程序<br />
done</p>
在语法二中需要注意以下几点：
<ul>
<li>
初始值：在循环开始时，需要给某个变量赋予初始值，如 i=1。</li>
<li>
循环控制条件：用于指定变量循环的次数，如 i&lt;=100，则只要 i 的值小于等于 100，循环就会继续。</li>
<li>
变量变化：每次循环之后，变量该如何变化，如 i=i+1，代表每次循环之后，变量的值都加 1。</li>
</ul>
<br />
语法二和其他语言中的 for 循环类似，也就是事先决定循环次数的固定循环。先举一个简单的例子。<br />
<br />
<strong>【例 2】</strong>从 1 加到 100。<br />
<p class="info-box">
#!/bin/bash<br />
#从 1 加到100<br />
s=0<br />
for(( i=1;i&lt;=100;i=i+1))<br />
#定义循环100次<br />
do<br />
s=$(($s+$i))<br />
#每次循环给变量s赋值<br />
done<br />
echo &quot;The sum of 1+2+..+100 is : $s&quot;<br />
#输出从1加到100的和</p>
</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="68.html" title="Go语言构造函数" target="_blank">Go语言构造函数</a></li>
<li><a href="309.html" title="C++移动和获取文件读写指针（seekp、seekg、tellg、tellp）" target="_blank">C++移动和获取文件读写指针（seekp、seekg、tellg、tellp）</a></li>
<li><a href="2182.html" title="Python赋值运算符（入门必读）" target="_blank">Python赋值运算符（入门必读）</a></li>
<li><a href="2267.html" title="Python类调用实例方法" target="_blank">Python类调用实例方法</a></li>
<li><a href="2380.html" title="Python __call__()方法（详解版）" target="_blank">Python __call__()方法（详解版）</a></li>
<li><a href="3554.html" title="汇编语言OR指令：对两个操作数进行逻辑（按位）或操作" target="_blank">汇编语言OR指令：对两个操作数进行逻辑（按位）或操作</a></li>
<li><a href="znn48u.html" title="C语言联合体" target="_blank">C语言联合体</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 1005;
window.arcId = "96c9PRQAPwzaWdn42gQcU9KfEyBpTr3kfpkFkX4nRPg33rdkVHoihPX3vYg";
window.typeidChain = "210|119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>