<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 启用Chromium高速渲染模式 -->
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<!-- 禁止百度转码 -->
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止识别电话号码 -->
<meta name="format-detection" content="telephone=no" />

<link rel="shortcut icon" href="../favicon_3.ico" />
<link href="../templets/new/style/common_2.css" rel="stylesheet" />
<title>指针变量及其定义，C语言指针变量定义详解</title>
<meta name="description" content="若有一个变量专门用来存放另一个变量的地址，那么就称它为 指针变量 。也就是说，指针变量里面存放的是指针，即地址。 大家一定要区分指针和指针变量这两个概念。 指针是一个地" />
</head>
<body>
<div id="topbar" class="clearfix">
	<ul id="product-type" class="left">
		<li>
			<a href="../m_biancheng_default_2.html"><span class="iconfont iconfont-home"></span>首页</a>
		</li>
		<li class="active">
			<a href="../sitemap/sitemap_2.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
		</li>
		<li>
			<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
		</li>
		<li>
			<a href="niz69i_5.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
		</li>
		<!-- <li>
			<a href="https://www.54benniao.com/c_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-c-course"></span>C语言高级课程</a>
		</li>
		<li>
			<a href="https://www.54benniao.com/java_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-java-course"></span>Java高级课程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/q2a/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-q2a"></span>一对一答疑</a>
		</li> -->
	</ul>
</div>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="../m_biancheng_default_2.html">
		<img height="26" src="../templets/new/images/logo_2.png" alt="C语言中文网" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li class="wap-yes"><a href="../m_biancheng_default_2.html">首页</a></li>
		<li><a href="../c/c_4.html">C语言教程</a></li>
		<li><a href="../cplus/cplus_2.html">C++教程</a></li>
		<li><a href="../python/python_2.html">Python教程</a></li>
		<li><a href="../java/java_2.html">Java教程</a></li>
		<li><a href="../linux_tutorial/linux_tutorial_2.html">Linux入门</a></li>
		<li><a href="../sitemap/sitemap_2.html" title="网站地图">更多&gt;&gt;</a></li>
	</ul>
	<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
	<div class="arc-info">
		<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../m_biancheng_default_2.html">首页</a> &gt; 编程笔记</span>
	</div>
	<div id="ggxc-position-bottom" class="ggxc-box"></div>
	<h1>指针变量及其定义，C语言指针变量定义详解</h1>
	<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
	<div id="arc-body">若有一个变量专门用来存放另一个变量的地址，那么就称它为&ldquo;<span style="color:#008000;">指针变量</span>&rdquo;。也就是说，指针变量里面存放的是指针，即地址。<br />
<br />
大家一定要区分&ldquo;指针&rdquo;和&ldquo;指针变量&rdquo;这两个概念。<span style="color:#b22222;">指针是一个地址，而指针变量是存放地址的变量。</span><br />
<br />
习惯上我们也将&ldquo;指针变量&rdquo;简称为&ldquo;指针&rdquo;，但大家心里一定要明白这两个指针的区别。一个是真正的指针，它的本质是地址；而另一个是指针变量的简称。<br />
<br />
为了表示指针变量和它所指向的变量之间的联系，在程序中用&ldquo;*&rdquo;表示&ldquo;指向&rdquo;。<span style="color:#b22222;">如果定义变量 i 为指针变量，那么 *i 就表示指针变量i里面存放的地址所指向的存储单元里面的数据。</span><br />
<h2>
	指针变量的定义</h2>
C 语言规定所有变量在使用前必须先定义，指定其类型，并按此分配内存单元。指针变量不同于整型变量和其他类型的变量，它是专门用来存放地址的，所以必须将它定义为&ldquo;指针类型&rdquo;。<br />
<br />
指针变量定义的一般形式为：
<p class="info-box">
	基类型 *指针变量名;</p>
比如：
<pre class="cpp">
int *i;
float *j;</pre>
&ldquo;*&rdquo; 表示该变量的类型为指针类型。指针变量名为 i 和 j，而不是 *i 和 *j。<br />
<br />
在定义指针变量时必须指定其基类型。指针变量的&ldquo;基类型&rdquo;用来指定该指针变量可以指向的变量的类型。比如&ldquo;int*i；&rdquo;表示 i 只可以指向 int 型变量；又比如&ldquo;float*j；&rdquo;表示 j 只可以指向 float 型变量。<br />
<br />
换句话说，&ldquo;基类型&rdquo;就表示指针变量里面所存放的&ldquo;变量的地址&rdquo;所指向的变量可以是什么类型的。说得简单点就是：以&ldquo;int*i；&rdquo;为例，&ldquo;*&rdquo;表示这个变量是一个指针变量，而&ldquo;int&rdquo;表示这个变量只能存放 int 型变量的地址。<br />
<br />
为什么叫基类型，而不直接叫类型？因为比如&ldquo;int*i；&rdquo;，其中 i 是变量名，i 变量的数据类型是&ldquo;int*&rdquo;型，即存放 int 变量地址的类型。&ldquo;int&rdquo;和&ldquo;*&rdquo;加起来才是变量i的类型，所以 int 称为<span style="color:#008000;">基类型</span>。<br />
<br />
&ldquo;int*i；&rdquo;表示定义了一个指针变量 i，它可以指向 int 型变量的地址。但此时并没有给它初始化，即此时这个指针变量并未指向任何一个变量。此时的&ldquo;*&rdquo;只表示该变量是一个指针变量，至于具体指向哪一个变量要在程序中指定。这个就跟定义了&ldquo;int j；&rdquo;但并未给它赋初值一样。<br />
<br />
因为不同类型的数据在内存中所占的字节数是不同的，比如 int 型数据占 4 字节，char 型数据占 1 字节。而每个字节都有一个地址，比如一个 int 型数据占 4 字节，就有 4 个地址。那么指针变量所指向的是这 4 个地址中的哪个地址呢？指向的是第一个地址，即指针变量里面保存的是它所指向的变量的第一个字节的地址，即首地址。因为通过所指向变量的首地址和该变量的类型就能知道该变量的所有信息。<br />
<br />
指针变量也是变量，是变量就有地址，所以指针变量本身也是有地址的。只要定义了一个变量，程序在运行时系统就会为它分配内存空间。但指针变量又是存放地址的变量，所以这里有两个地址大家一定要弄清楚：一个是系统为指针变量分配的地址，即指针变量本身的地址；另一个是指针变量里面存放的另一个变量的地址。这两个地址一个是&ldquo;指针变量的地址&rdquo;，另一个是&ldquo;指针变量的内容&rdquo;。<br />
<br />
地址也是可以进行运算的，我们后面会学到指针的运算和移动。比如&ldquo;使指针向后移 1 个位置&rdquo;或&ldquo;使指针加 1&rdquo;，这个 1 代表什么呢？这个 1 与指针变量的基类型是直接相关的。指针变量的基类型占几字节，这个 1 代表的就是几。比如指针变量指向一个 int 型变量，那么&ldquo;使指针移动 1 个位置&rdquo;就意味着移动 4 字节，&ldquo;使指针加 1&rdquo;就意味着使地址加 4。所以必须指定指针变量所指向的变量的类型，即指针变量的基类型。某种基类型的指针变量只能存放该种基类型变量的地址。<br />
<br />
我们前面讲过两个指针变量相减的结果是一个常量，而不是指针型变量。如两个&ldquo;int*&rdquo;型的指针变量相减，结果是 int 型常量。此时要是把相减的结果赋给&ldquo;int*&rdquo;型就会报错。而且两个指针变量相减的结果是这两个地址之间元素的个数，而不是地址的个数。<br />
<br />
比如说，两个&ldquo;int*&rdquo;型的指针变量相减，第一个指针变量里面存放的地址是 1245036，第二个指针变量里面存放的地址是 1245032，那么这两个地址相减的结果是几？是 1，而不是 4。因为 int 型变量占 4 字节，所以一个 int 元素就占 4 字节，两个地址之间相差 4 个地址，正好是一个 int 元素，所以结果就是 1。下面写一个程序验证一下：<br />
<pre class="cpp">
# include &lt;stdio.h&gt;
int main (void)
{
    int *p, *q;
    int k;  //k用来存放两个地址数相减的结果
    int i = 3, j = 4;
    p = &amp;i;
    q = &amp;j;
    k = p-q;
    printf(&quot;p = %d\nq = %d\nk = %d\n&quot;, p, q, k);
    return 0;
}</pre>
输出结果是：<br />
p = 1245040<br />
q = 1245036<br />
k = 1<br />
</div>
	<div id="ggxc-weixin-arcbottom">
	<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
	<p style="margin-top:12px; text-align:center;">
		<img src="../templets/new/images/material/qrcode_mp_4.png" alt="公众号二维码" width="160" /><br />
		<span class="col-green">微信扫码关注公众号</span>
	</p>
</div>
	<div id="nice-arcs" class="box-bottom">
    <h4>推荐阅读</h4>
    <ul class="clearfix">
<li><a href="niz69i_8.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_4.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_4.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="1829_2.html" title="C语言二维数组的定义、初始化、赋值" target="_blank">C语言二维数组的定义、初始化、赋值</a></li>
<li><a href="vip_2082_2.html" title="查看和修改变量的值" target="_blank">查看和修改变量的值</a></li>
<li><a href="4362_2.html" title="Go语言多核并行化" target="_blank">Go语言多核并行化</a></li>
<li><a href="5807_2.html" title="Java分割字符串（split()）" target="_blank">Java分割字符串（split()）</a></li>
<li><a href="../mongodb2/create-collection_2.html" title="MongoDB创建集合" target="_blank">MongoDB创建集合</a></li>
<li><a href="../sql/where_2.html" title="SQL WHERE子句：指定查询条件" target="_blank">SQL WHERE子句：指定查询条件</a></li>
<li><a href="jqq1ow_2.html" title="C语言strcpy函数：将一个字符串复制到另一个字符串中" target="_blank">C语言strcpy函数：将一个字符串复制到另一个字符串中</a></li>
</ul>
</div>
	
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 212;
window.arcId = "56cdFgE80gYGjYA5ncHx0LdDrNMoEX7QNpEjEPYWCL2Rg2ldxERcpDcMAQ";
window.typeidChain = "131|119";
</script>
<div id="footer" class="clearfix">
	<div class="info left">
	<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
	<p>
		<a href="8066_2.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
		<a href="8092_3.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
		<a href="8097_2.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
		<a href="9648_2.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
		<a href="8093_2.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
		<a href="../sitemap/sitemap_2.html" target="_blank" rel="nofollow">网站地图</a>
	</p>
	<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan_2.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
	</p>
	</div>
	<img id="logo_bottom" class="right" src="https://m.biancheng.net/templets/new/images/logo_bottom_2.gif" alt="底部Logo" />
	<span id="return-top"><b>↑</b></span>
</div>

<div id="addweixin-widget">
	<p>
		<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://m.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
		<img src="https://m.biancheng.net/templets/new/images/material/qrcode_mp_4.png" alt="微信交流群" width="120" />
		<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
	</p>
	<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>

<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>

<script src="https://m.biancheng.net/templets/new/script/jquery1.12.4.min_2.js"></script>
<script src="https://m.biancheng.net/templets/new/script/common_2.js"></script>
<!-- 51la V6 -->
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<!-- 51la V5 -->
<!-- <span style="display: none;"><script type="text/javascript" src="https://js.users.51.la/21368967.js"></script></span> -->
</body>
</html>