<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>一维字符数组的定义、初始化及引用，C语言一维字符数组详解</title>
<meta name="description" content="字符数组通常用于存储和处理字符串， 在 C 语言中，一般以空字符 \0 (ASCII 值为 0)作为字符串结束的标志。 一维字符数组一般用于存储和表示一个字符串，二维字符数组一般用于存储和" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>一维字符数组的定义、初始化及引用，C语言一维字符数组详解</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">字符数组通常用于存储和处理字符串，<span style="color:#b22222;">在 C 语言中，一般以空字符 &#39;\0&#39; (ASCII 值为 0)作为字符串结束的标志。</span><br />
<br />
一维字符数组一般用于存储和表示一个字符串，二维字符数组一般用于存储和表示多个字符串，其每一行均可表示一个字符串。<br />
<h2>
一维字符教组的定义及初始化</h2>
一维字符数组的定义格式为：
<p class="info-box">
char 数组名[数组大小];</p>
例如：
<pre class="cpp">
char c[10];</pre>
该语句定义了一个一维字符数组 c，大小为 10，即占 10 个字符变量空间，最大可存储长度为 9 的字符串（第 10 个字符为 &#39;0&#39;）。由于没有显式给每个字符变量赋值，故每个字符变量为随机值。<br />
<br />
可以采用单个字符逐个赋值的方式初始化，也可以使用字符串初始化的方式。<br />
<h4>
采用逐个字符赋值的方式</h4>
<strong>1)</strong> 当字符个数少于数组空间大小时，例如：
<pre class="cpp">
char c[8] = {&#39;h&#39;,&#39;e&#39;,&#39;l&#39;,&#39;l&#39;,&#39;o&#39;,};//始值个数5小于数组空间个数8</pre>
该语句定义了含 8 个字符变量的一维字符数组，前 5 个字符变量分别显式初始化为 &#39;h&#39;，&#39;e&#39;，&#39;l&#39;，&#39;l&#39;，&#39;o&#39; 等 5 个字符，后 3 个字符变量为空字符 &#39;\0&#39;。其存储形式如下。
<div style="text-align: center;">
<br />
<img alt="" src="../uploads/allimg/180831/2-1PS1155233416.jpg" style="width: 700px; height: 51px;" /></div>
<br />
当字符数组中含有字符串结束字符 &#39;\0&#39; 时，可以使用 printf 函数及格式控制符 %s，输出该字符数组中的字符串，如下所示。<br />
<pre class="cpp">
printf (&quot;%s&rdquo;，c); //数组名 c 为首字符 &#39;h&#39; 的地址或者为 &amp;c[0]</pre>
注意：使用 printf 函数及格式控制符 %s，输出一个字符串时，输出列表中一定为某个字符的地址，且从该字符开始的串一定有结束标志 &#39;\0&#39;。该语句的功能是：从输出列表中的该地址开始，到第一次遇到 &#39;\0&#39; 为止，这之间的字符全部输出。<br />
<br />
通常一维数组初始化时，其第一维大小可以省略，例如：
<pre class="cpp">
char c[]={&#39;h&#39;,&#39;e&#39;,&#39;l&#39;,&#39;l&#39;,&#39;o&#39;};</pre>
对应的数组存储形式如下所示。
<div style="text-align: center;">
<br />
<img alt="" src="../uploads/allimg/180831/2-1PS115524X60.jpg" style="width: 700px; height: 52px;" /></div>
<br />
由于该数组中不存在 &#39;\0&#39; 字符，故不能使用 printf(&quot;%s&quot;,c); 输出。<br />
<pre class="cpp">
char c[8] = {&#39;h&#39;,&#39;e&#39;,&#39;l&#39;,&#39;l&#39;,&#39;o&#39;};</pre>
不等价于
<pre class="cpp">
char c[]={&#39;h&#39;,&#39;e&#39;,&#39;l&#39;,&#39;l&#39;,&#39;o&#39;};</pre>
<br />
<strong>2) </strong>当字符个数等于数组空间大小时，例如：<br />
<pre class="cpp">
char c[5]={&#39;h&#39;,&#39;e&#39;,&#39;l&#39;,&#39;l&#39;,&#39;o&#39;};//初值个数5等于数组大小5</pre>
执行该初始化语句后，数组的存储形式如下所示。
<div style="text-align: center;">
<br />
<img alt="" src="../uploads/allimg/180831/2-1PS1155301962.jpg" style="width: 700px; height: 52px;" /><br />
&nbsp;</div>
<pre class="cpp">
char c[5]={&#39;h&#39;,&#39;e&#39;,&#39;l&#39;,&#39;l&#39;,&#39;o&#39;};</pre>
等价于<br />
<pre class="cpp">
char c[]={&#39;h&#39;,&#39;e&#39;,&#39;l&#39;,&#39;l&#39;,&#39;o&#39;};</pre>
由于该字符数组中不包含字符串结束标志 &#39;\0&#39;，故不能使用 printf(&quot;%s&quot;，c); 输出其中的字符串。输出结果中一般含有随机乱码。<br />
<br />
这种情况一般采用循环语句逐个输出该数组中的每个字符。<br />
<pre class="cpp">
int i;
for(i=0;i&lt;5;i++) //循环次数为字符个数或数组大小
    printf (&quot;%c&quot;,c[i]);//格式控制符为％c，输出列表中为字符变量c[i]</pre>
<br />
<strong>3) </strong>当字符个数多于空间大小时，编译时报错。例如：<br />
<pre class="cpp">
char c[4] = {&#39;h&#39;,&#39;e&#39;,&#39;l&#39;,&#39;l&#39;,&#39;o&#39;}； //错误。初值个数5大于数组大小4
</pre>
<h4>
采用字符串初始化的方式</h4>
在 C 语言中，字符串一般是指含有字符串结束符 &#39;\0&#39; 的若干个字符的集合。而使用双引号括起来的字符串常量，默认隐含字符串结束符 &#39;\0&#39;。例如：<br />
<pre class="cpp">
char c[12] = {&quot;C program&quot;}; //注意该数组大小应足够大</pre>
用字符串对字符数组初始化时，一般大括号可以去掉，即:<br />
<pre class="cpp">
char c[12]=&quot;C program&quot;;</pre>
该初始化语句与以下三条语句均是等价的。<br />
<pre class="cpp">
char c[12]= {&#39;C&#39;,&#39; &#39;,&#39;p&#39;,&#39;r&#39;,&#39;o&#39;,&#39;g&#39;,&#39;r&#39;,&#39;a&#39;,&#39;m&#39;,&#39;\0&#39;,&#39;\0&#39;,&#39;\0&#39;};</pre>
或者:<br />
<pre class="cpp">
char c[12] = {&#39;C&#39;,&#39; &#39;,&#39;p&#39;,&#39;r&#39;,&#39;o&#39;,&#39;g&#39;,&#39;r&#39;,&#39;a&#39;,&#39;m&#39;,&#39;\0&#39;};</pre>
或者:<br />
<pre class="cpp">
char c[12] = {&#39;C&#39;,&#39; &#39;,&#39;p&#39;,&#39;r&#39;,&#39;o&#39;,&#39;g&#39;,&#39;r&#39;,&#39;a&#39;,&#39;m&#39;};</pre>
以上等价初始化语句有一个共同特点：数组的大小均为指定值 12。<br />
<br />
其数组存储形式均如下所示。
<div style="text-align: center;">
<br />
<img alt="" src="../uploads/allimg/180831/2-1PS1155314H9.jpg" style="width: 700px; height: 50px;" /></div>
<br />
采用字符串对字符数组进行初始化时，一般省略一维数组空间的大小，即:<br />
<pre class="cpp">
char c[]=&quot;C program&quot;;</pre>
该数组中除了存储字符串中的 9 个有效字符外，还自动在字符串的结尾存储 &#39;\0&#39; 字符。即该数组的大小为 10。其存储形式如下所示。
<div style="text-align: center;">
<br />
<img alt="" src="../uploads/allimg/180831/2-1PS1155325139.jpg" style="width: 700px; height: 50px;" /></div>
<br />
为节省空间及书写方便，当用字符串对字符数组初始化时，一般均省略其一维的大小。<br />
<h2>
一维字符数组的引用</h2>
字符数组中的每一个元素都是一个字符，可以使用下标的形式来访问数组中的每一个字符。<br />
<br />
例如
<pre class="cpp">
char c[]=&quot;abcd&quot;;</pre>
定义了一个一维字符数组 c，用字符串常量对其初始化，该数组大小为 5，前 4 个元素的值分别为 &#39;a&#39;、&#39;b&#39;、&#39;c&#39;、&#39;d&#39;，第 5 个元素的值为 &#39;\0&#39;。其存储形式如下所示。
<div style="text-align: center;">
<br />
<img alt="" src="../uploads/allimg/180831/2-1PS115533MG.jpg" style="width: 700px; height: 54px;" /><br />
&nbsp;</div>
可以使用 c[i] 引用该数组中的每个元素，例如：<br />
<pre class="cpp">
c[2]=&#39;f&#39;; //把&#39;f&#39;赋给元素c[2]
scanf(&quot;%c&quot;,&amp;c[3]); //输入一个字符，保存到元素c[3]对应的地址空间中
printf(&quot;%c&quot;,c[1]); //输出元素c[1]中的字符值</pre>
如果每次输出一个字符，可使用循环语句输出字符数组中保存的字符串，参考代码如下。<br />
<pre class="cpp">
int i;
for(i=0;c[i]!=&#39;\0&#39;;i++) //当前i号位置的字符变量只要不是结束符就输出
    printf(&quot;%c&quot;,c[i]);</pre>
<h2>
一维字符教组的应用举例</h2>
C 语言中的字符串总是以 &#39;\0&#39; 作为结束标志，所以字符串的长度指的是从字符串的首字符开始，到第一次遇到 &#39;\0&#39; 为止，这之间所包含的有效字符的个数，结束符不计算在字符串长度内。<br />
<br />
如字符串&rdquo;abcd&rdquo;，C 语言中字符串最后一个有效字符后隐含 &#39;\0&#39; 字符，故该字符串长度为 4。<br />
<br />
<strong>【例 1】</strong>编写实现求一个字符串长度的程序。<br />
<br />
分析:把字符串保存在一维字符数组中，其长度用 len 表示，初始为 0。算法为：从该数组的首元素（0 号位置）开始，只要当前元素不为 &#39;\0&#39;，len 加 1，直到遇到 &#39;\0&#39; 为止，此时 len 的值即为该字符串的长度。<br />
<br />
实现代码：
<pre class="cpp">
#include&lt;stdio.h&gt;
int main (void)
{
    char str[]=&quot;A good book is a good friend!&quot;;
    int i, len=0; //len必须初始化为0
    for(i=0;str[i]!=&#39;\0&#39;;i++)
        len++;
    printf (&quot;The length is: %d\n&quot;,len);
    return 0;
}</pre>
运行结果为：<br />
The length is: 29<br />
<br />
<strong>【补充】</strong>该程序循环部分也可以使用 while 循环，如下所示：<br />
<pre class="cpp">
i=0;
while(str[i]!=&#39;\0&#39;)
{
    len++;
    i++;
}</pre>
</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="737.html" title="Linux tail命令：显示文件结尾的内容" target="_blank">Linux tail命令：显示文件结尾的内容</a></li>
<li><a href="1724.html" title="进制详解：二进制、八进制和十六进制" target="_blank">进制详解：二进制、八进制和十六进制</a></li>
<li><a href="5956.html" title="Linux重定向（输入输出重定向）详解" target="_blank">Linux重定向（输入输出重定向）详解</a></li>
<li><a href="vip_6087.html" title="Python装饰器的应用场景" target="_blank">Python装饰器的应用场景</a></li>
<li><a href="vip_7678.html" title="C++ const常量如何在多文件编程中使用？" target="_blank">C++ const常量如何在多文件编程中使用？</a></li>
<li><a href="8094.html" title="Sublime Text运行C和C++程序" target="_blank">Sublime Text运行C和C++程序</a></li>
<li><a href="vb3b93m.html" title="Python操作SQLite数据库（非常详细）" target="_blank">Python操作SQLite数据库（非常详细）</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 271;
window.arcId = "8d73eTUKaVm1u9jo/OS/dVn8+ng0HS9Dzz1H+FuzE7EQ6vcslrmPz36tKQ";
window.typeidChain = "131|119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>