<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" /> 
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-store, must-revalidate" />
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" />
<meta http-equiv="expires" content="0" />
<link rel="shortcut icon" href="../favicon_4.ico" />
<link href="../templets/default/style/common.css" rel="stylesheet" />
<title>时间复杂度和空间复杂度（完整版）</title>
<meta name="keywords" content="时间,复杂度,和,空间,完,整版,时间,复杂度,和," />
<meta name="description" content="跟随本教程学习数据结构，我们会给大家讲解一些与数据结构联系紧密的算法。 所谓算法，简单理解就是解决问题的方法（方案、思路）。通常情况下，一个问题的解决方法会有很多种" />
</head>
<body>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../data_biancheng_default.html">
<img height="26" src="../templets/default/images/logo_monkey.png" alt="数据结构与算法教程Logo" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li><a href="../data_biancheng_default.html">教程首页</a></li>
<li><a href="212_2.html">购买教程（带答疑）</a></li>
</ul>
<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="glyphicon"></span></span>
</div>
<div id="main" class="clearfix">
<div id="sidebar" class="toggle-target">
<div id="contents">
<dt><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>教程目录</dt>
<dd class="this"> <span class="channel-num">1</span> <a href="../intro/intro.html">数据结构概述</a> </dd><dl class="dl-sub"><dd>1.1 <a href="291_2.html">数据结构是什么</a></dd><dd>1.2 <a href="292_2.html">数据的逻辑结构和存储结构（物理结构）</a></dd><dd>1.3 <a href="293.html">数据结构到底学什么？</a></dd><dd>1.4 <a href="294_2.html">时间复杂度和空间复杂度</a></dd><dd>1.5 <a href="vip_213.html">数据结构和算法不是一码事！</a><span class="glyphicon glyphicon-usd"></span></dd><dd>1.6 <a href="273_2.html">数据结构如何自学，效率更高？</a><span class="glyphicon glyphicon-usd"></span></dd><dd>1.7 <a href="274.html">数学不好，对学数据结构有影响吗？</a><span class="glyphicon glyphicon-usd"></span></dd><dd>1.8 <a href="275_2.html">学好数据结构，你已然超越了99%的程序员！</a><span class="glyphicon glyphicon-usd"></span></dd></dl>
<dd>
<span class="channel-num">2</span>
<a href='../linear_list/linear_list.html'>线性表</a>
</dd>
<dd>
<span class="channel-num">3</span>
<a href='../stack_queue/stack_queue.html'>栈和队列</a>
</dd>
<dd>
<span class="channel-num">4</span>
<a href='../string/string.html'>字符串</a>
</dd>
<dd>
<span class="channel-num">5</span>
<a href='../array_list/array_list.html'>数组和广义表</a>
</dd>
<dd>
<span class="channel-num">6</span>
<a href='../tree/tree.html'>树</a>
</dd>
<dd>
<span class="channel-num">7</span>
<a href='../graph/graph.html'>图</a>
</dd>
<dd>
<span class="channel-num">8</span>
<a href='../search/search.html'>查找算法</a>
</dd>
<dd>
<span class="channel-num">9</span>
<a href='../sort/sort.html'>排序算法</a>
</dd>
<dd>
<span class="channel-num">10</span>
<a href='../out_sort/out_sort.html'>外部排序算法</a>
</dd>
<dd>
<span class="channel-num">11</span>
<a href='../memory/memory_3.html'>动态内存管理</a>
</dd>
</div>
</div>
<div id="article-wrap">
<div id="article">
<div id="arc-info">
阅读：<span class="click">0</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
作者：解学武
</div>
<h1>时间复杂度和空间复杂度（完整版）</h1>
<div class="pre-next-page pre-next-detail clearfix">
<span class="pre left"><span class="glyphicon glyphicon-menu-left"></span> <a href="293.html">数据结构到底学什么？</a></span>
<span class="next right"><a href="vip_213.html">数据结构和算法不是一码事！</a> <span class="glyphicon glyphicon-menu-right"></span></span>
</div>
<div class="pre-next-page pre-next-brief clearfix">
<span class="pre left"><span class="glyphicon glyphicon-menu-left"></span> <a href="294_2.html#">上一节</a></span>
<span class="next right"><a href="294_2.html#">下一节</a> <span class="glyphicon glyphicon-menu-right"></span></span>
</div>
<script type="text/javascript">window.prePageURL = "/view/293.html";window.nextPageURL = "/view/vip_213.html";</script>
<div id="arc-body">跟随本教程学习数据结构，我们会给大家讲解一些与数据结构联系紧密的算法。<br />
<br />
所谓算法，简单理解就是解决问题的方法（方案、思路）。通常情况下，一个问题的解决方法会有很多种，或者说解决这个问题的算法有很多种。<br />
<br />
举个简单的例子，对数据集<code>{2,4,5,1,3}</code>做升序排序，解决这个问题的算法就有很多种，比如<u><a href='70.html' target='_blank'>冒泡排序算法</a></u>、快速排序算法、归并排序算法、希尔排序算法等。借助任何一种算法，都可以得到<code>{1,2,3,4,5}</code>升序序列。<br />
<br />
同一个问题，使用不同的算法，虽然都可以解决问题，但有的算法执行效率高，有的算法执行效率低。就好比拧一个螺母，使用钳子和扳手都可以，但显然扳手拧螺母的效率更高。那么问题就出现了，怎样从众多算法中选择出&ldquo;最好&rdquo;的呢？<br />
<br />
算法本身是不分&ldquo;好坏&rdquo;的，所谓&ldquo;最好&rdquo;的算法，指的是最适合当前场景的算法。通常情况下，挑选算法主要考虑两个方面，分别是：
<ul>
<li>
执行效率：根据算法编写出的程序，执行时间越短，效率就越高；</li>
<li>
占用的内存空间：不同算法编写出的程序，执行时占用的内存空间也不相同。如果实际场景中仅能使用少量的内存空间，就要优先选择占用空间最少的算法。</li>
</ul>
<br />
算法只是解决问题的思路，无法直接在计算机上执行。要想知道一个算法确切的执行时间和占用的内存大小，必须根据算法编写出可执行的程序。<br />
<br />
当算法的数量较少时（比如 2、3 种），我们确实可以编写出各个算法对应的程序，逐个在机器上运行，记录下各自的执行时间和占用的内存大小，然后挑选出&ldquo;最好&rdquo;的算法。但是，如果算法的数量很多（比如 10 种，20 种），真机测试的方法将不再适用，因为将各个算法一一编写成程序的工作量是巨大的，得不偿失。<br />
<br />
实际开发中，往往采用 &ldquo;预先估值&rdquo;的方法挑选算法。具体来讲，就是分析各个算法的实现过程（步骤），估算出它们各自的运行时间和占用的内存大小，就可以挑选出&ldquo;最好&rdquo;的算法。<br />
<br />
我们习惯用「<span style="color:#008000;">时间复杂度</span>」预估算法的执行时间，用「<span style="color:#008000;">空间复杂度</span>」预估算法占用的内存大小。
<h2>
时间复杂度</h2>
时间复杂度用来预估算法的执行时间。<br />
<br />
以解决&ldquo;求 n 的阶乘（n!）&rdquo;为例，如下用伪代码描述出了解决此问题的一种算法：
<pre class="info-box">
输入 n             // 接收 n 的值
p &lt;- 1             // p 的初值置为 1
for i&lt;-1 to n：    // i 的值从 1 到 n，每次将 p*i 的值赋值给 p
    p &lt;- p * i     
Print p            // 输出 p 的值</pre>
<blockquote>
<p>
伪代码是一种介于自然语言和编程语言之间，专门用来描述算法的语言。伪代码没有固定的语法，本教程中我们用<code>&lt;-</code>表示赋值过程，用<code>Print xxx</code>表示输出某个变量的值。</p>
</blockquote>
接下来，我就以这个算法为例，教大家如何计算一个算法的时间复杂度。<br />
<br />
计算一个算法的时间复杂度，需要经过以下 3 个步骤。<br />
<h4>
1) 统计算法中各个步骤的执行次数</h4>
整个算法中共有 5 行伪指令，它们各自的执行次数分别是：
<pre class="info-box">
输入 n                 &lt;- 执行 1 次
p &lt;- 1                 &lt;- 执行 1 次
for i&lt;-1 to n：        &lt;- i 的值从 1 遍历到 n，当 i 的值为 n+1 的时候退出循环，总共执行 n+1 次
    p &lt;- p * i         &lt;- i 从 1 到 n 的过程，共执行 n 次
Print p                &lt;- 执行 1 次</pre>
所有伪指令执行次数的总和是<code>2*n+4</code>，显然它不是一个固定值，整个表达式的大小取决于 n 的值。<br />
<br />
<code>2*n+4</code>可以直接作为算法执行时间的估值，但通常情况下，我们会做进一步地简化，并用规范的格式来表示一个算法的执行时间。<br />
<h4>
2) 简化算法的执行次数</h4>
通过统计各个算法中伪指令的执行次数，每个算法的运行时间都可以用类似 2*n+4、3*n<sup>2</sup>+4*n+5 这样的表达式表示。那么，该如何比较各个表达式的大小呢？<br />
<br />
我们可以尝试对每个表达式进行简化，简化的方法是：假设表达式中变量的值无限大，去除表达式中那些对结果影响较小的项。<br />
<br />
以 3*n<sup>2</sup>+4*n+5 为例，简化过程为：
<ol>
<li>
当 n 无限大时，3*n<sup>2</sup>+4*n 与 3*n<sup>2</sup>+4*n+5 的值非常接近，是否加 5 对表达式的值影响不大，因此表达式可以简化为 3*n<sup>2</sup>+4*n；</li>
<li>
当 n 无限大时，3*n<sup>2</sup> 的值要远远大于 4*n 的值，它们之间类似于 10000 和 1 之间的关系，因此是否加 4*n 对表达式最终的值影响不大，整个表达式可以简化为 3*n<sup>2</sup>；</li>
<li>
当 n 无限大时，n<sup>2</sup> 的值已经超级大，是否乘 3 对最终结果影响不大，整个表达式可以简化为&nbsp; n<sup>2</sup>。</li>
</ol>
<br />
基于&ldquo;n 值无限大&rdquo;的思想，3*n<sup>2</sup>+4*n+5 最终就简化成了 n<sup>2</sup>。同样的道理，2*n+4 可以简化为 n。无论多么复杂的表达式，都可以采用这种方式进行简化。<br />
<h4>
3) 用大O记法表示算法的时间复杂度</h4>
除了用 n 外，一些人还可能会用 a、b、c 等字符作为表达式中的变量。为此，人们逐渐达成了一种共识，即都用 n 作为表达式中的变量，并采用大 O 记法表示算法的执行时间。<br />
<br />
采用大 O 记法表示算法的执行时间，直接套用如下的格式即可：
<p class="info-box">
O(频度)</p>
频度指的就是简化后的表达式。<br />
<br />
采用大 O 记法，2*n+4 可以用<code>O(n)</code>表示，3*n<sup>2</sup>+4*n+5 可以用<code>O(n<sup>2</sup>)</code>表示。如果一个算法对应的表达式中没有变量（比如 10，100 等），则用<code>O(1)</code>表示算法的执行时间。<br />
<br />
如果一个算法的执行时间最终估算为 O(n)，那么该算法的时间复杂度就是 O(n)。如下列举了常用的几种时间复杂度以及它们之间的大小关系：
<p class="info-box">
O(1)&lt; O(logn) &lt; O(n) &lt; O(n<sup>2</sup>) &lt; O(n<sup>3</sup>) &lt; O(2<sup>n</sup>)</p>
<code>O(1)</code>是最小的，对应的算法的执行时间最短，执行效率最高。
<h2>
空间复杂度</h2>
空间复杂度用来估算一个算法执行时占用的内存大小。<br />
<br />
执行过程中的程序，占用的内存空间主要包括：
<ul>
<li>
程序代码本身所占用的存储空间；</li>
<li>
如果需要输入输出数据，也会占用一定的存储空间；</li>
<li>
运行过程中，可能还需要临时申请更多的存储空间。</li>
</ul>
<br />
程序自身占用的存储空间取决于编写的代码量，如果想压缩这部分存储空间，要求我们在实现功能的同时尽可能编写足够短的代码。<br />
<br />
程序运行过程中输入输出的数据，往往由要解决的问题而定，即便所用算法不同，程序输入输出所占用的存储空间也是相近的。<br />
<br />
事实上，对算法的空间复杂度影响最大的，是程序运行过程中临时申请的内存空间。不同算法编写出的程序，运行时申请的临时存储空间通常会有较大不同。<br />
<br />
因此，比较各个算法占用的内存大小，本质上比较的是它们执行过程中额外申请的内存空间的大小。举个简单的例子：
<pre class="info-box">
输入 n
A[1...n] &lt;- {1...n}    &lt;- 额外申请 n 个空间</pre>
根据 n 的值，算法执行时需要申请 n 个整数的内存空间，n 的值越大，额外申请的内存空间就越多。<br />
<br />
和时间复杂度一样，空间复杂度也习惯用大 O 记法表示。空间复杂度的估算方法是：
<ul>
<li>
如果算法中额外申请的内存空间不受用户输入值的影响（是一个固定值），那么该算法的空间复杂度用<code>O(1)</code>表示；</li>
<li>
如果随着输入值 n 的增大，算法申请的存储空间成线性增长，则程序的空间复杂度用<code>O(n)</code>表示;</li>
<li>
如果随着输入值 n 的增大，程序申请的存储空间成 n<sup>2</sup> 关系增长，则程序的空间复杂度用<code>O(n<sup>2</sup>)</code>表示；</li>
<li>
如果随着输入值 n 的增大，程序申请的存储空间成 n<sup>3</sup> 关系增长，则程序的空间复杂度用<code>O(n<sup>3</sup>)</code>表示；</li>
</ul>
<blockquote>
<p>
多数场景中，挑选 &quot;好&quot; 算法往往更注重的是时间复杂度，空间复杂度只要处于一个合理的范围即可。</p>
</blockquote>
</div>
<div class="pre-next-page pre-next-detail clearfix">
<span class="pre left"><span class="glyphicon glyphicon-menu-left"></span> <a href="293.html">数据结构到底学什么？</a></span>
<span class="next right"><a href="vip_213.html">数据结构和算法不是一码事！</a> <span class="glyphicon glyphicon-menu-right"></span></span>
</div>
<div class="pre-next-page pre-next-brief clearfix">
<span class="pre left"><span class="glyphicon glyphicon-menu-left"></span> <a href="294_2.html#">上一节</a></span>
<span class="next right"><a href="294_2.html#">下一节</a> <span class="glyphicon glyphicon-menu-right"></span></span>
</div>
<script type="text/javascript">window.prePageURL = "/view/293.html";window.nextPageURL = "/view/vip_213.html";</script>
</div>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 294;
window.arcId = "c280Kh3x7AQCdSncsQfpAH7pEkWjcjHuQ4lsrdrpkHRMyS6Y6wG9FvW/hg";
window.siteId = 1;
window.cmsTempletsVer = "1.2";
</script>
<div id="footer">
<ul id="nav-bottom" class="clearfix">
<li><a href="267.html" target="_blank">联系方式</a></li>
<li><a href="212_2.html" target="_blank">购买教程（带答疑）</a></li>
</ul>
</div>
<script src="../templets/default/script/jquery1.12.4.min.js"></script>
<script src="../templets/default/script/jquery.snippet.js"></script>
<script src="../templets/default/script/common.js"></script>
<span style="display:none;"><script src="https://s22.cnzz.com/z_stat.php?id=1273514649&web_id=1273514649" language="JavaScript"></script></span>
</body>
</html>