<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>GoLand搭建Go语言开发环境（图解）</title>
<meta name="description" content="Go语言的开发环境搭建成功后，下一步安装集成开发环境（Integrated Development Environment, IDE）。 关于Go语言的安装，请转到： Go语言安装教程（Windows+Linux+macOS） 集成开发环境是提供程序开" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>GoLand搭建Go语言开发环境（图解）</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">Go语言的开发环境搭建成功后，下一步安装集成开发环境（Integrated Development Environment, IDE）。
<p class="tip-box">
关于Go语言的安装，请转到：<a href="el3rmuh.html" target="_blank">Go语言安装教程（Windows+Linux+macOS）</a></p>
集成开发环境是提供程序开发环境的应用程序，一般包括代码编辑器、编译器、调试器和图形用户界面等工具，它是集成了代码编写功能、分析功能、编译功能、调试功能等一体化的开发软件。<br />
<br />
常用的 IDE 软件有 GoLand、VS Code、Vim GO、Sublime Text、LiteIDE、Eclipse 和 Atom 等。这里以 GoLand 为例，讲述如何使用 GoLand 搭建Go语言的开发环境。
<h2>
GoLand 简介</h2>
GoLand 是 JetBrains 公司推出的Go语言集成开发环境，同样基于 IntelliJ 平台开发，支持 JetBrains 的插件体系。<br />
<br />
在浏览器打开 <a href="https://www.jetbrains.com/go/download" target="_blank">https://www.jetbrains.com/go/download</a> 并下载 GoLand，如图1所示。<br />
<br />
<div style="text-align: center;">
<img alt="下载 GoLand" src="../uploads/allimg/230716/1-230G615595RS.png" /><br />
图1：下载 GoLand</div>
<br />
GoLand 分别支持 Windows、Linux 和macOS 三大系统的使用，选择下载 Windows 安装包并双击运行，根据安装提示完成安装过程即可，安装过程较为傻瓜式，本书就不再详细讲述了。<br />
<br />
安装成功后，在桌面双击GoLand图标，刚开始提示软件配置，选择默认配置即可进入软件激活界面，激活方式有3种，分别是 Jetbrains 用户激活、激活码和许可服务器，如图2所示。<br />
<br />
不同版本的 GoLand 有不同的免费激活方式，由于软件版本迭代更新较快，导致每个版本的激活方式各不相同，有需要的读者可以从网上查找最新的激活教程。<br />
<br />
<div style="text-align: center;">
<img alt="激活界面" src="../uploads/allimg/230716/1-230G6160016152.png" /><br />
图2：激活界面</div>
<h2>
搭建 GoLand 环境</h2>
GoLand 激活成功后，再次打开 GoLand，在 Welcome to GoLand 界面单击 Configure，找到并单击 Settings，从而进入 Settings for New Projects 界面，如图3所示。<br />
<br />
<div style="text-align: center;">
<img alt="Welcome to GoLand 界面" src="../uploads/allimg/230716/1-230G6160031Z5.png" /><br />
图3：Welcome to GoLand 界面</div>
<br />
在 Settings for New Projects 界面打开 Go&rarr;GOROOT 选项，然后选择已安装的Go语言编译器，如图4所示。<br />
<br />
<div style="text-align: center;">
<img alt="配置 GOROOT" src="../uploads/allimg/230716/1-230G616004N50.png" /><br />
图4：配置 GOROOT</div>
<br />
如果 GoLand 不是最新版本，配置 GOROOT 的时候会提示&ldquo;The selected directory is not a valid home for Go SDK&rdquo;异常，这是 GoLand 与Go语言版本不匹配导致，我们在Go语言安装目录下打开 src\runtime\internal\sys\zversion.go，然后添加代码：
<p class="info-box">
const TheVersion = `go1.18`</p>
其中 go1.18 代表Go语言版本，保存文件后即可在 GoLand 配置 GOROOT。<br />
<br />
下一步单击 GOPATH，在该界面看到 Global GOPATH 和 Project GOPATH 配置，如图5所示。<br />
<br />
<div style="text-align: center;">
<img alt="配置 GOPATH" src="../uploads/allimg/230716/1-230G616010C24.png" /><br />
图5：配置 GOPATH</div>
<br />
Global GOPATH 和 Project GOPATH 的配置说明如下：
<ul>
<li>
Global GOPATH：代表全局 GOPATH，一般来源于系统环境变量中的 GOPATH，所有Go语言项目都能使用该路径，它与Go语言的环境变量 GOPATH 相同。</li>
<li>
Project GOPATH：代表项目所使用的 GOPATH，仅适用于当前项目。</li>
</ul>
<br />
安装Go语言开发环境已设置了环境变量 GOPATH（即 Global GOPATH），我们只需在 Project GOPATH 下配置即可。在 E 盘下创建 go 文件夹，然后在 Project GOPATH 下添加 go 文件夹的路径信息，如图6所示。<br />
<br />
<div style="text-align: center;">
<img alt="配置 Project GOPATH" src="../uploads/allimg/230716/1-230G61601232G.png" /><br />
图6：配置 Project GOPATH</div>
<br />
最新版本Go语言的配置属性 GO111MODULE 为 on，它用于开启或关闭模块支持，设有3个可选值：off、on、auto，每个可选值的说明如下：
<ul>
<li>
GO111MODULE=off：无模块支持，Go语言会从 GOPATH 和 vendor 文件夹寻找包。</li>
<li>
GO111MODULE=on：模块支持，Go语言忽略 GOPATH 和 vendor 文件夹，只根据 go.mod 下载依赖。</li>
<li>
GO111MODULE=auto：分别从 GOPATH、vendor 文件夹或 go.mod 寻找包。</li>
</ul>
<br />
配置属性 GO111MODULE 用于解决早期Go语言对模块或包管理遗漏下来的问题，早期Go语言是通过 GOPATH 和 vendor 文件夹管理模块或包的，现更改为使用 go.mod 管理模块或包。<br />
<br />
为了更好地兼容新旧版本问题，我们将 GO111MODULE 设为 auto。打开 CMD 窗口，输入并执行指令<code>go env -w GO111MODULE=auto</code>即可，如图7所示。<br />
<br />
<div style="text-align: center;">
<img alt="配置属性 GO111MODULE" src="../uploads/allimg/230716/1-230G6160141D3.png" /><br />
图7：配置属性 GO111MODULE</div>
<br />
由于国内网络问题，使用 go get 指令下载第三方包会出现网络无法接通的问题，为了解决此问题，在 CMD 窗口输入并执行指令<code>go env -w GOPROXY=https://goproxy.cn,direct</code>即可。<br />
<br />
最后在 CMD 窗口输入<code>go env</code>即可查看当前Go语言的环境信息，如图8所示。<br />
<br />
<div style="text-align: center;">
<img alt="Go语言的环境信息" src="../uploads/allimg/230716/1-230G616015GA.png" /><br />
图8：Go语言的环境信息</div>
</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="583.html" title="C语言兔子生兔子问题" target="_blank">C语言兔子生兔子问题</a></li>
<li><a href="934.html" title="Linux echo详解：输出命令" target="_blank">Linux echo详解：输出命令</a></li>
<li><a href="1023.html" title="Linux /etc/rc.d/rc.local配置文件用法" target="_blank">Linux /etc/rc.d/rc.local配置文件用法</a></li>
<li><a href="1092.html" title="Linux crontab命令：循环执行定时任务（详解版）" target="_blank">Linux crontab命令：循环执行定时任务（详解版）</a></li>
<li><a href="1105.html" title="Linux日志服务器设置过程" target="_blank">Linux日志服务器设置过程</a></li>
<li><a href="4712.html" title="Linux视频教程汇总（出自各大培训机构）" target="_blank">Linux视频教程汇总（出自各大培训机构）</a></li>
<li><a href="7171.html" title="MySQL客户端和服务器架构（C/S架构）" target="_blank">MySQL客户端和服务器架构（C/S架构）</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 10076;
window.arcId = "a8a1b9JNIAkwpI04g9/Bn/PFHRxDBr2VJswWcQyAXbKzI+6hX1m5hyldTMVj";
window.typeidChain = "6|119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>