<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>Shell四种运行方式（启动方式）</title>
<meta name="description" content="Shell 是一个应用程序，它的一端连接着 Linux 内核，另一端连接着用户。Shell 是用户和 Linux 系统沟通的桥梁，我们都是通过 Shell 来管理 Linux 系统。 我们可以直接使用 Shell，也可以输入用" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>Shell四种运行方式（启动方式）</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">Shell 是一个应用程序，它的一端连接着 Linux 内核，另一端连接着用户。Shell 是用户和 Linux 系统沟通的桥梁，我们都是通过 Shell 来管理 Linux 系统。<br />
<br />
我们可以直接使用 Shell，也可以输入用户名和密码后再使用 Shell；第一种叫做非登录式，第二种叫做登录式。<br />
<br />
我们可以在 Shell 中一个个地输入命令并及时查看它们的输出结果，整个过程都在跟 Shell 不停地互动，这叫做交互式。我们也可以运行一个 Shell 脚本文件，让所有命令批量化、一次性地执行，这叫做非交互式。<br />
<br />
总起来说，Shell 一共有四种运行方式：
<ul>
<li>
交互式的登录 Shell；</li>
<li>
交互式的非登录 Shell；</li>
<li>
非交互式的登录 Shell；</li>
<li>
非交互式的非登录 Shell。</li>
</ul>
<h2>
判断 Shell 是否是交互式</h2>
判断是否为交互式 Shell 有两种简单的方法。<br />
<br />
1) 查看变量<code>-</code>的值，如果值中包含了字母<code>i</code>，则表示交互式（interactive）。<br />
<br />
【实例1】在 CentOS GNOME 桌面环境自带的终端下输出<code>-</code>的值：
<pre class="info-box">
[c.biancheng.net]$ echo $-
himBH</pre>
包含了<code>i</code>，为交互式。<br />
<br />
【实例2】在 Shell 脚本文件中输出<code>-</code>的值：
<pre class="info-box">
[c.biancheng.net]$ cat test.sh
#!/bin/bash

echo $-
[c.biancheng.net]$ bash ./test.sh
hB</pre>
不包含<code>i</code>，为非交互式。注意，必须在新进程中<a href="739.html" target="_blank">运行 Shell 脚本</a>。<br />
<br />
2) 查看变量<code>PS1</code>的值，如果非空，则为交互式，否则为非交互式，因为非交互式会清空该变量。<br />
<br />
【实例1】在 CentOS GNOME 桌面环境自带的终端下输出 PS1 的值：
<pre class="info-box">
[mozhiyan@localhost]$ echo $PS1
[\u@\h \W]\$</pre>
非空，为交互式。<br />
<br />
【实例2】在 Shell 脚本文件中输出 PS1 的值：
<pre class="info-box">
[c.biancheng.net]$ cat test.sh
#!/bin/bash

echo $PS1
[c.biancheng.net]$ bash ./test.sh

</pre>
空值，为非交互式。注意，必须在新进程中运行 Shell 脚本。
<h2>
判断 Shell 是否为登录式</h2>
判断 Shell 是否为登录式也非常简单，只需执行<code>shopt login_shell</code>即可，值为<code>on</code>表示为登录式，<code>off</code>为非登录式。<br />
<br />
shopt 命令用来查看或设置 Shell 中的行为选项，这些选项可以增强 Shell 的易用性。<br />
<br />
【实例1】在 CentOS GNOME 桌面环境自带的终端下查看 login_shell 选项：
<pre class="info-box">
[c.biancheng.net]$ shopt login_shell
login_shell    off</pre>
<br />
【实例2】按下<code>Ctrl+Alt+Fn</code>组合键切换到虚拟终端，输入用户名和密码登录后，再查看 login_shell 选项：
<pre class="info-box">
[c.biancheng.net]$ shopt login_shell
login_shell    on</pre>
<br />
【实例3】在 Shell 脚本文件中查看 login_shel 选项：
<pre class="info-box">
[c.biancheng.net]$ cat test.sh
#!/bin/bash

shopt login_shell
[c.biancheng.net]$ bash ./test.sh
login_shell    off</pre>
<h2>
同时判断交互式、登录式</h2>
要同时判断是否为交互式和登录式，可以简单使用如下的命令：
<p class="info-box">
echo $PS1; shopt login_shell</p>
或者
<p class="info-box">
echo $-; shopt login_shell</p>
<h2>
常见的 Shell 启动方式</h2>
1) 通过 Linux 控制台（不是桌面环境自带的终端）或者 ssh 登录 Shell 时（这才是正常登录方式），为交互式的登录 Shell。<br />
<pre class="info-box">
[c.biancheng.net]$ echo $PS1;shopt login_shell
[\u@\h \W]\$
login_shell    on</pre>
<br />
2) 执行 bash 命令时默认是非登录的，增加<code>--login</code>选项（简写为<code>-l</code>）后变成登录式。
<pre class="info-box">
[c.biancheng.net]$ cat test.sh
#!/bin/bash

echo $-; shopt login_shell
[c.biancheng.net]$ bash -l ./test.sh
hB
login_shell    on</pre>
<br />
3) 使用由<code>()</code>包围的<a href="https://c.biancheng.net/view/3023.html" target="_blank">组命令</a>或者<a href="1164.html" target="_blank">命令替换</a>进入子 Shell 时，子 Shell 会继承父 Shell 的交互和登录属性。
<pre class="info-box">
[c.biancheng.net]$ bash
[c.biancheng.net]$ (echo $PS1;shopt login_shell)
[\u@\h \W]\$
login_shell    off
[c.biancheng.net]$ bash -l
[c.biancheng.net]$ (echo $PS1;shopt login_shell)
[\u@\h \W]\$
login_shell    on</pre>
<br />
4)&nbsp;ssh 执行远程命令，但不登录时，为非交互非登录式。
<pre class="info-box">
[c.biancheng.net]$ ssh localhost &#39;echo $PS1;shopt login_shell&#39;

login_shell     off</pre>
<br />
5)&nbsp;在 <a href="2912.html" target="_blank">Linux 桌面环境</a>下打开终端时，为交互式的非登录 Shell。
<div style="text-align: center;">
<img alt="桌面环境下打开终端为交互式的非登录Shell" src="../uploads/allimg/190409/1-1Z409153249262.gif" /></div>
</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="291.html" title="C语言*运算符和&amp;运算符" target="_blank">C语言*运算符和&amp;运算符</a></li>
<li><a href="1282.html" title="Java是什么？Java的特点有哪些？" target="_blank">Java是什么？Java的特点有哪些？</a></li>
<li><a href="vip_3356.html" title="[数据结构实践项目]括号匹配算法（C语言实现）" target="_blank">[数据结构实践项目]括号匹配算法（C语言实现）</a></li>
<li><a href="vip_8333.html" title="不同存储引擎的数据表在磁盘中是如何存储的？" target="_blank">不同存储引擎的数据表在磁盘中是如何存储的？</a></li>
<li><a href="../maven2/aggregation.html" title="Maven聚合" target="_blank">Maven聚合</a></li>
<li><a href="../spring_mvc/file-download.html" title="Spring MVC文件下载" target="_blank">Spring MVC文件下载</a></li>
<li><a href="i0ra1oz.html" title="C++递归函数（入门必读）" target="_blank">C++递归函数（入门必读）</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 3045;
window.arcId = "527bjvPvIUrRrdXbKMvD6FebL9LlANEpJO14GGFqEcT+kTt6BQitw365auk";
window.typeidChain = "210|119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>