<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 启用Chromium高速渲染模式 -->
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<!-- 禁止百度转码 -->
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止识别电话号码 -->
<meta name="format-detection" content="telephone=no" />

<link rel="shortcut icon" href="../favicon_3.ico" />
<link href="../templets/new/style/common_2.css" rel="stylesheet" />
<title>认识一下Qt用到的开发工具</title>
<meta name="description" content="Qt 不是凭空产生的，它是基于现有工具链打造而成的，它所使用的编译器、链接器、调试器等都不是自己的，Qt 官方只是开发了上层工具。下面我们分几个部分讲解 Qt 使用到的工具链。" />
</head>
<body>
<div id="topbar" class="clearfix">
	<ul id="product-type" class="left">
		<li>
			<a href="../m_biancheng_default_2.html"><span class="iconfont iconfont-home"></span>首页</a>
		</li>
		<li class="active">
			<a href="../sitemap/sitemap_2.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
		</li>
		<li>
			<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
		</li>
		<li>
			<a href="niz69i_5.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
		</li>
		<!-- <li>
			<a href="https://www.54benniao.com/c_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-c-course"></span>C语言高级课程</a>
		</li>
		<li>
			<a href="https://www.54benniao.com/java_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-java-course"></span>Java高级课程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/q2a/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-q2a"></span>一对一答疑</a>
		</li> -->
	</ul>
</div>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="../m_biancheng_default_2.html">
		<img height="26" src="../templets/new/images/logo_2.png" alt="C语言中文网" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li class="wap-yes"><a href="../m_biancheng_default_2.html">首页</a></li>
		<li><a href="../c/c_4.html">C语言教程</a></li>
		<li><a href="../cplus/cplus_2.html">C++教程</a></li>
		<li><a href="../python/python_2.html">Python教程</a></li>
		<li><a href="../java/java_2.html">Java教程</a></li>
		<li><a href="../linux_tutorial/linux_tutorial_2.html">Linux入门</a></li>
		<li><a href="../sitemap/sitemap_2.html" title="网站地图">更多&gt;&gt;</a></li>
	</ul>
	<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="iconfont"></span></span>

	<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main" class="clearfix">
	<div id="sidebar" class="toggle-target">
	<div id="contents">
		<dt><span class="iconfont iconfont-list-vertical" aria-hidden="true"></span><a href="../qt/qt_2.html">Qt教程</a></dt>
		<dd>
        	<span class="channel-num">1</span>
        	<a href="1792_2.html">Qt是什么</a>
        </dd>
<dd>
        	<span class="channel-num">2</span>
        	<a href="3876_2.html">Qt和其它GUI库的对比</a>
        </dd>
<dd>
        	<span class="channel-num">3</span>
        	<a href="3877_2.html">学习QML还是C++</a>
        </dd>
<dd>
        	<span class="channel-num">4</span>
        	<a href="3851_2.html">Qt下载</a>
        </dd>
<dd>
        	<span class="channel-num">5</span>
        	<a href="3858_2.html">Windows下安装Qt</a>
        </dd>
<dd>
        	<span class="channel-num">6</span>
        	<a href="3886_2.html">Linux下安装Qt</a>
        </dd>
<dd>
        	<span class="channel-num">7</span>
        	<a href="3901_2.html">解决cannot find -lGL错误</a>
        </dd>
<dd>
        	<span class="channel-num">8</span>
        	<a href="3866_2.html">解密Qt安装目录的结构</a>
        </dd>
<dd>
        	<span class="channel-num">9</span>
        	<a href="3868_2.html">Qt用到的开发工具</a>
        </dd>
<dd>
        	<span class="channel-num">10</span>
        	<a href="3871_2.html">Qt编程涉及的术语和名词</a>
        </dd>
<dd>
        	<span class="channel-num">11</span>
        	<a href="1804_2.html">Qt Creator的初步使用</a>
        </dd>
<dd>
        	<span class="channel-num">12</span>
        	<a href="1817_2.html">第一个Qt程序</a>
        </dd>
<dd>
        	<span class="channel-num">13</span>
        	<a href="9412_2.html">分析第一个Qt程序</a>
        </dd>
<dd>
        	<span class="channel-num">14</span>
        	<a href="vip_9651_2.html">Qt控件和事件</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">15</span>
        	<a href="vip_9652_2.html">Qt信号和槽</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">16</span>
        	<a href="vip_9653_2.html">Qt QLabel文本框</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">17</span>
        	<a href="vip_9654_2.html">Qt QPushButton按钮</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">18</span>
        	<a href="vip_9655_2.html">Qt QLineEdit单行输入框</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">19</span>
        	<a href="vip_9656_2.html">Qt QListWidget列表框</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">20</span>
        	<a href="vip_9657_2.html">Qt QTableWidget表格控件</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">21</span>
        	<a href="vip_9659_2.html">Qt QTreeWidget树形控件</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">22</span>
        	<a href="vip_9658_2.html">Qt QMessageBox消息对话框</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">23</span>
        	<a href="vip_9660_2.html">Qt布局管理详解</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">24</span>
        	<a href="vip_9661_2.html">Qt pro工程管理文件</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">25</span>
        	<a href="vip_9662_2.html">Qt自定义信号和槽</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">26</span>
        	<a href="vip_9663_2.html">Qt QFile文件操作</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">27</span>
        	<a href="vip_9664_2.html">Qt实现学生信息管理系统</a><span class="iconfont iconfont-vip2"></span>
        </dd>
<dd>
        	<span class="channel-num">28</span>
        	<a href="vip_9665_2.html">Qt打包程序</a><span class="iconfont iconfont-vip2"></span>
        </dd>

	</div>
</div>
	<div id="article-wrap">
		<div id="article">
			<div class="arc-info">
	<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../m_biancheng_default_2.html">首页</a> &gt; <a href="../qt/qt_2.html">Qt教程</a></span>
</div>

<div id="ggxc-position-bottom" class="ggxc-box"></div>
			<h1>认识一下Qt用到的开发工具</h1>
			<div class="pre-next-page clearfix">&nbsp;</div>
			<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
			<div id="arc-body"><a href='../qt/qt_2.html' target='_blank'>Qt</a> 不是凭空产生的，它是基于现有工具链打造而成的，它所使用的编译器、链接器、调试器等都不是自己的，Qt 官方只是开发了上层工具。下面我们分几个部分讲解 Qt 使用到的工具链。
<h2>
	GNU 工具集</h2>
在上个世纪八十年代，计算机都是奢侈品，操作系统里最著名的是 Unix 家族， 当时还没有 Windows、Linux 之类的，Unix 系统都是商业软件，里面的应用软件也是商业软件， 全是封闭的环境。<br />
<br />
系统程序员 Richard M. Stallman (RMS) 在此环境下创立了与众不同的 <a href="https://www.gnu.org/" target="_blank">GNU 项目</a> (GNU&#39;s Not Unix) ， 以及推进自由软件发展的 <a href="https://www.fsf.org/" target="_blank">Free Software Foundation (FSF) 自由软件基金会</a>。<br />
<br />
GNU 项目是为了创建自由的类 Unix 系统，也因此开发出来很多开源的系统工具，其中非常著名的就是 <a href='../gcc/gcc_2.html' target='_blank'>GCC</a> （GNU Compiler Collection，GNU编译器套件）。
<blockquote>
	现在我们知道，GUN 开发类 Unix 系统的项目失败了，但是它开发的一系列工具集却用到了后来的 Linux 内核上，两者结合形成了今天的各种 Linux 发行版，有兴趣的读者请转到《<a href="707_2.html" target="_blank">Linux和UNIX的关系及区别</a>》了解更多。</blockquote>
在 GNU 工具集里面，开发时常见到的几个罗列如下（这些工具通常位于 Linux 或 Unix 系统里的 /usr/bin/ 目录）：<br />
<br />
<table>
	<tbody>
		<tr>
			<th>
				工具</th>
			<th>
				说明</th>
		</tr>
		<tr>
			<td>
				gcc</td>
			<td>
				GNU C 语言编译器。</td>
		</tr>
		<tr>
			<td>
				g++</td>
			<td>
				GNU <a href='../cplus/cplus_2.html' target='_blank'>C++</a> 语言编译器。</td>
		</tr>
		<tr>
			<td>
				ld</td>
			<td>
				GNU 链接器，将目标文件和库文件链接起来，创建可执行程序和动态链接库。</td>
		</tr>
		<tr>
			<td>
				ar</td>
			<td>
				生成静态库 .a ，可以编辑和管理静态链接库。</td>
		</tr>
		<tr>
			<td>
				make</td>
			<td>
				生成器，可以根据 makefile 文件自动编译链接生成可执行程序或库文件。</td>
		</tr>
		<tr>
			<td>
				gdb</td>
			<td>
				调试器，用于调试可执行程序。</td>
		</tr>
		<tr>
			<td>
				ldd</td>
			<td>
				查看可执行文件依赖的共享库（扩展名 .so，也叫动态链接库）。</td>
		</tr>
	</tbody>
</table>
<h2>
	MinGW</h2>
原本 GNU 工具只在 Linux/Unix 系统里才有，随着 Windows 系统的广泛使用， 为了在 Windows 系统里可以使用 GNU 工具，诞生了 MinGW（Minimalist GNU for Windows） 项目，利用 MinGW 就可以生成 Windows 里面的 exe 程序和 dll 链接库。<br />
<br />
需要注意的是，MinGW 与 Linux/Unix 系统里 GNU 工具集的有些区别：
<ul>
	<li>
		MinGW 里面工具带有扩展名 .exe， Linux/Unix 系统里工具通常都是没有扩展名的。</li>
	<li>
		MinGW 里面的生成器文件名为 mingw32-make.exe，Linux/Unix 系统里就叫 make。</li>
	<li>
		MinGW 在链接时是链接到 *.a 库引用文件，生成的可执行程序运行时依赖 *.dll，而 Linux/Unix 系统里链接时和运行时都是使用 *.so 。</li>
</ul>
<br />
另外 MinGW 里也没有 ldd 工具，因为 Windows 不使用 .so 共享库文件。如果要查看 Windows 里可执行文件的依赖库，需要使用微软自家的 Dependency Walker 工具。Windows 里面动态库扩展名为 .dll，MinGW 可以通过 dlltool 来生成用于创建和使用动态链接库需要的文件，如 .def 和 .lib。<br />
<br />
MinGW 原本是用于生成 32 位程序的，随着 64 位系统流行起来， 从 MinGW 分离出来了 MinGW-w64 项目，该项目同时支持生成 64 位和 32 位程序。Qt 的 MinGW 版本库就是使用 MinGW-w64 项目里面的工具集生成的。
<h4>
	MSYS（Minimal SYStem）</h4>
另外提一下，由于 MinGW 本身主要就是编译链接等工具和头文件、库文件，并不包含系统管理、文件操作之类的 Shell 环境， 这对希望用类 Unix 命令的开发者来说还是不够用的。 所以 MinGW 官方又推出了 MSYS（Minimal SYStem），相当于是一个部署在 Windows 系统里面的小型 Unix 系统环境， 移植了很多 Unix/Linux 命令行工具和配置文件等等，是对 MinGW 的扩展。<br />
<br />
MSYS 对于熟悉 Unix/Linux 系统环境或者要尝试学习 Unix/Linux 系统的人都是一种便利。MSYS 和 MinGW 的安装升级都是通过其官方的 mingw-get 工具实现，二者是统一下载安装管理的。<br />
<br />
对于 MinGW-w64 项目，它对应的小型系统环境叫 MSYS2（Minimal SYStem 2），MSYS2 是 MSYS 的衍生版，不仅支持 64 位系统和 32 位系统，还有自己的独特的软件包管理工具，它从 Arch Linux 系统里移植了 pacman 软件管理工具，所以装了 MSYS2 之后，可以直接通过 pacman 来下载安装软件，而且可以自动解决依赖关系、方便系统升级等。装了 MSYS2 之后，不需要自己去下载 MinGW-w64，可以直接用 pacman 命令安装编译链接工具和 git 工具等。<br />
<br />
MinGW 项目主页（含 MSYS）： <a href="http://www.mingw.org/" target="_blank">http://www.mingw.org/</a><br />
MinGW-w64 项目主页： <a href="https://sourceforge.net/projects/mingw-w64/" target="_blank">https://sourceforge.net/projects/mingw-w64/</a><br />
MSYS2 项目主页： <a href="https://sourceforge.net/projects/msys2/" target="_blank">https://sourceforge.net/projects/msys2/</a>
<h2>
	CMake</h2>
CMake（Cross platform Make）是一个开源的跨平台自动化构建工具， 可以跨平台地生成各式各样的 makefile 或者 project 文件， 支持利用各种编译工具生成可执行程序或链接库。<br />
<br />
CMake 自己不编译程序， 它相当于用自己的构建脚本 CMakeLists.txt，叫各种编译工具集去生成可执行程序或链接库。<br />
<br />
一般用于编译程序的 makefile 文件比较复杂，自己去编写比较麻烦， 而利用 CMake ，就可以编写相对简单的 CMakeLists.txt ，由 CMake 根据 CMakeLists.txt 自动生成 makefile，然后就可以用 make 生成可执行程序或链接库。<br />
<br />
本教程里面是使用 Qt 官方的 qmake 工具生成 makefile 文件，没有用 CMake。这里之所以提 CMake，是因为整个 KDE 桌面环境的茫茫多程序都是用 CMake 脚本构建的，另外跨平台的程序/库如 Boost C++ Libraries、<a href='https://m.biancheng.net/opencv/' target='_blank'>OpenCV</a>、LLVM、Clang 等也都是用 CMake 脚本构建的。以后如果接触到这些东西，是需要了解 CMake 的。<br />
<br />
CMake 项目主页：<a href="https://cmake.org/" target="_blank">https://cmake.org/</a><br />
KDE 项目主页：<a href="https://www.kde.org/" target="_blank">https://www.kde.org/</a>
<h2>
	Qt 工具集</h2>
Qt 官方的开发环境安装包里有自己专门的开发工具，之前用过 qmake 命令。qmake 是 Qt 开发最核心的工具，既可以生成 Qt 项目文件 .pro ，也可以自动生成项目的 Makefile 文件。<br />
<br />
这里将常用的 Qt 开发工具列表如下：<br />
<div>
	&nbsp;</div>
<div>
	<table>
		<tbody>
			<tr>
				<th>
					工具</th>
				<th>
					说明</th>
			</tr>
			<tr>
				<td>
					qmake</td>
				<td>
					核心的项目构建工具，可以生成跨平台的 .pro 项目文件，并能依据不同操作系统和编译工具生成相应的 Makefile，用于构建可执行程序或链接库。</td>
			</tr>
			<tr>
				<td>
					uic</td>
				<td>
					User Interface Compiler，用户界面编译器，Qt 使用 XML 语法格式的 .ui 文件定义用户界面，uic 根据 .ui 文件生成用于创建用户界面的 C++ 代码头文件，比如 ui_*****.h 。</td>
			</tr>
			<tr>
				<td>
					moc</td>
				<td>
					Meta-Object Compiler，元对象编译器，moc 处理 C++ 头文件的类定义里面的 Q_OBJECT 宏，它会生成源代码文件，比如 moc_*****.cpp ，其中包含相应类的元对象代码，元对象代码主要用于实现 Qt 信号/槽机制、运行时类型定义、动态属性系统。</td>
			</tr>
			<tr>
				<td>
					rcc</td>
				<td>
					Resource Compiler，资源文件编译器，负责在项目构建过程中编译 .qrc 资源文件，将资源嵌入到最终的 Qt 程序里。</td>
			</tr>
			<tr>
				<td>
					qtcreator</td>
				<td>
					集成开发环境，包含项目生成管理、代码编辑、图形界面可视化编辑、 编译生成、程序调试、上下文帮助、版本控制系统集成等众多功能， 还支持手机和嵌入式设备的程序生成部署。</td>
			</tr>
			<tr>
				<td>
					assistant</td>
				<td>
					Qt 助手，帮助文档浏览查询工具，Qt 库所有模块和开发工具的帮助文档、示例代码等都可以检索到，是 Qt 开发必备神器，也可用于自学 Qt。</td>
			</tr>
			<tr>
				<td>
					designer</td>
				<td>
					Qt 设计师，专门用于可视化编辑图形用户界面（所见即所得），生成 .ui 文件用于 Qt 项目。</td>
			</tr>
			<tr>
				<td>
					linguist</td>
				<td>
					Qt 语言家，代码里用 tr() 宏包裹的就是可翻译的字符串，开发人员可用 lupdate 命令生成项目的待翻译字符串文件 .ts，用 linguist 翻译多国语言 .ts ，翻译完成后用 lrelease 命令生成 .qm 文件，然后就可用于多国语言界面显示。</td>
			</tr>
			<tr>
				<td>
					qmlscene</td>
				<td>
					在 Qt 4.x 里是用 qmlviewer 进行 QML 程序的原型设计和测试，Qt 5 用 qmlscene 取代了旧的 qmlviewer。新的 qmlscene 另外还支持 Qt 5 中的新特性 scenegraph 。</td>
			</tr>
		</tbody>
	</table>
</div>
<br />
</div>
			<div id="ggxc-weixin-arcbottom">
	<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
	<p style="margin-top:12px; text-align:center;">
		<img src="../templets/new/images/material/qrcode_mp_4.png" alt="公众号二维码" width="160" /><br />
		<span class="col-green">微信扫码关注公众号</span>
	</p>
</div>
			<div class="pre-next-page clearfix">&nbsp;</div>
			<div id="nice-arcs" class="box-bottom">
    <h4>推荐阅读</h4>
    <ul class="clearfix">
<li><a href="niz69i_8.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_4.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_4.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="971_2.html" title="Shell数值运算方法（3种）" target="_blank">Shell数值运算方法（3种）</a></li>
<li><a href="vip_6006_2.html" title="Python嵌套循环实现冒泡排序" target="_blank">Python嵌套循环实现冒泡排序</a></li>
<li><a href="vip_7306_2.html" title="Go语言map的多键索引——多个数值条件可以同时查询" target="_blank">Go语言map的多键索引——多个数值条件可以同时查询</a></li>
<li><a href="../servlet2/filterconfig_2.html" title="FilterConfig接口（Servlet）" target="_blank">FilterConfig接口（Servlet）</a></li>
<li><a href="../spring_mvc/9666_2.html" title="MVC模式是什么" target="_blank">MVC模式是什么</a></li>
<li><a href="6ljbux6_2.html" title="Vue v-pre命令的用法" target="_blank">Vue v-pre命令的用法</a></li>
<li><a href="6t3k18f_2.html" title="C++局部变量和全局变量详解" target="_blank">C++局部变量和全局变量详解</a></li>
</ul>
</div>
		</div>
		
	</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 3868;
window.arcId = "249b8wMd9eGCrL7zRAbHKITmthUfnKNRtxijISEtm0aY4ryTTi5oye1IHbw";
window.typeidChain = "133";
</script>
<div id="footer" class="clearfix">
	<div class="info left">
	<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
	<p>
		<a href="8066_2.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
		<a href="8092_3.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
		<a href="https://m.biancheng.net/view/8097_2.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
		<a href="https://m.biancheng.net/view/9648_2.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
		<a href="https://m.biancheng.net/view/8093_2.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
		<a href="https://m.biancheng.net/sitemap/sitemap_2.html" target="_blank" rel="nofollow">网站地图</a>
	</p>
	<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="https://m.biancheng.net/templets/new/images/gongan_2.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
	</p>
	</div>
	<img id="logo_bottom" class="right" src="https://m.biancheng.net/templets/new/images/logo_bottom_2.gif" alt="底部Logo" />
	<span id="return-top"><b>↑</b></span>
</div>

<div id="addweixin-widget">
	<p>
		<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://m.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
		<img src="https://m.biancheng.net/templets/new/images/material/qrcode_mp_4.png" alt="微信交流群" width="120" />
		<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
	</p>
	<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>

<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";
window.prePageURL = "/view/3866.html";
window.nextPageURL = "/view/3871.html";
</script>

<script src="https://m.biancheng.net/templets/new/script/jquery1.12.4.min_2.js"></script>
<script src="https://m.biancheng.net/templets/new/script/common_2.js"></script>
<!-- 51la V6 -->
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<!-- 51la V5 -->
<!-- <span style="display: none;"><script type="text/javascript" src="https://js.users.51.la/21368967.js"></script></span> -->
</body>
</html>