<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>C++ deque使用、创建及初始化详解</title>
<meta name="description" content="dequeT，一个定义在 deque 头文件中的容器模板，可以生成包含 T 类型元素的容器， 它以双端队列的形式组织元素。可以在容器的头部和尾部高效地添加或删除对象，这是它相对于 vector 容" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>C++ deque使用、创建及初始化详解</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">deque&lt;T&gt;，一个定义在 deque 头文件中的容器模板，可以生成包含 T 类型元素的容器，<span style="color:#b22222;">它以双端队列的形式组织元素。可以在容器的头部和尾部高效地添加或删除对象，这是它相对于 vector 容器的优势。</span>当需要这种功能时，可以选择这种类型的容器。<br />
<br />
无论何时，当应用包含先入先出的事务处理时，都应该使用 deque 容器。处理数据库事务或模拟一家超市的结账队列，像这两种应用都可以充分利用 deque 容器。<br />
<h2>
生成 deque 容器</h2>
如果用默认的构造函数生成 deque 容器，容器中没有任何元素，因此添加第一个元素，就会导致内存的分配：<br />
<pre class="cpp">
std::deque&lt;int&gt; a_deque;    // A deque container with no elements</pre>
可以生成给定元素个数的 deque 容器，这一点和 vector 容器在本质上相同：<br />
<pre class="cpp">
std::deque&lt;int&gt; my_deque(10); // A deque container with 10 elements</pre>
如图 1 所示，有一个存储 int 型元素、名为 my_deque 的 deque 容器。在这个容器中，保存了一些奇数元素：<br />
<div style="text-align: center;">
<br />
<img alt="" src="../uploads/allimg/180912/2-1P912112354246.jpg" style="width: 600px; height: 307px;" /><br />
图 1 deque容器示例<br />
&nbsp;</div>
当生成特定元素个数的 deque 时，每个元素保存的都是这种元素类型的默认值，因此前面定义的 my_deque 的所有元素的初始值都是 0。如果生成一个具有指定元素个数的 deque，每一个元素都会被构造函数 string() 初始化。<br />
<br />
也可以用初始化列表来生成 deque 容器：<br />
<pre class="cpp">
std:: deque&lt;std:: string&gt; words { &quot;one&quot;, &quot;none&quot;, &quot;some&quot;, &quot;all&quot;, &quot;none&quot;,&quot;most&quot;, &quot;many&rdquo; };</pre>
这个容器将会有 7 个字符串元素，它们都是用初始化列表中的字符生成的。当然，也可以将初始化列表中的对象依次指定为 string(&quot;one&quot;)、string(&quot;none&quot;) 等。<br />
<br />
deque 容器也有拷贝构造函数，可以生成现有容器的副本：
<pre class="cpp">
std::deque&lt;std::string&gt; words_copy { words };// Makes a copy of the words container</pre>
当生成一个 deque 容器时，也可以用由两个迭代器标识的一段元素来初始化它：<br />
<pre class="cpp">
std::deque&lt;std::string&gt; words_part { std::begin(words),std::begin(words) + 5 };</pre>
这个容器有 5 个元素，它们和 words 容器的前 5 个元素相等。当然，作为初始值的一段元素，可以来自任何种类的容器，不需要一定是 deque。deque 提供了随机访问迭代器，所以能够以和 vector 相同的方式，从 deque 容器中获取 const 迭代器、non-const 迭代器、反向迭代器。<br />
</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="47.html" title="Go语言for range（键值循环）" target="_blank">Go语言for range（键值循环）</a></li>
<li><a href="1375.html" title="C++ break和continue用法详解" target="_blank">C++ break和continue用法详解</a></li>
<li><a href="1748.html" title="C语言代码中的空白符" target="_blank">C语言代码中的空白符</a></li>
<li><a href="2251.html" title="C++引用10分钟入门教程" target="_blank">C++引用10分钟入门教程</a></li>
<li><a href="6119.html" title="Java包装类、装箱和拆箱" target="_blank">Java包装类、装箱和拆箱</a></li>
<li><a href="vip_7360.html" title="Go语言从INI配置文件中读取需要的值" target="_blank">Go语言从INI配置文件中读取需要的值</a></li>
<li><a href="gqqqy3.html" title="Python标识符命名规范（新版）" target="_blank">Python标识符命名规范（新版）</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 432;
window.arcId = "2ef3TMhjfGP/iUr2q99XOl/GyrqkVGfRgq0IruoNpjL5FEGxmYKiNHb4rg";
window.typeidChain = "120|119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>