<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 启用Chromium高速渲染模式 -->
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<!-- 禁止百度转码 -->
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止识别电话号码 -->
<meta name="format-detection" content="telephone=no" />

<link rel="shortcut icon" href="../favicon_3.ico" />
<link href="../templets/new/style/common_2.css" rel="stylesheet" />
<title>C语言#include的用法</title>
<meta name="description" content="插入头文件的内容 #include 命令告诉预处理器将指定头文件的内容插入到预处理器命令的相应位置。有两种方式可以指定插入头文件： #include 文件名#include 文件名 如果需要包含标准库头" />
</head>
<body>
<div id="topbar" class="clearfix">
	<ul id="product-type" class="left">
		<li>
			<a href="../m_biancheng_default_2.html"><span class="iconfont iconfont-home"></span>首页</a>
		</li>
		<li class="active">
			<a href="../sitemap/sitemap_2.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
		</li>
		<li>
			<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
		</li>
		<li>
			<a href="niz69i_5.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
		</li>
		<!-- <li>
			<a href="https://www.54benniao.com/c_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-c-course"></span>C语言高级课程</a>
		</li>
		<li>
			<a href="https://www.54benniao.com/java_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-java-course"></span>Java高级课程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/q2a/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-q2a"></span>一对一答疑</a>
		</li> -->
	</ul>
</div>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="../m_biancheng_default_2.html">
		<img height="26" src="../templets/new/images/logo_2.png" alt="C语言中文网" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li class="wap-yes"><a href="../m_biancheng_default_2.html">首页</a></li>
		<li><a href="../c/c_4.html">C语言教程</a></li>
		<li><a href="../cplus/cplus_2.html">C++教程</a></li>
		<li><a href="../python/python_2.html">Python教程</a></li>
		<li><a href="../java/java_2.html">Java教程</a></li>
		<li><a href="../linux_tutorial/linux_tutorial_2.html">Linux入门</a></li>
		<li><a href="../sitemap/sitemap_2.html" title="网站地图">更多&gt;&gt;</a></li>
	</ul>
	<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
	<div class="arc-info">
		<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../m_biancheng_default_2.html">首页</a> &gt; 编程笔记</span>
	</div>
	<div id="ggxc-position-bottom" class="ggxc-box"></div>
	<h1>C语言#include的用法</h1>
	<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
	<div id="arc-body">#include 命令是预处理命令的一种，预处理命令可以将别的源代码内容插入到所指定的位置；可以标识出只有在特定条件下才会被编译的某一段程序代码；可以定义类似标识符功能的宏，在编译时，预处理器会用别的文本取代该宏。
<h2>
	插入头文件的内容</h2>
<span style="color:#b22222;">#include 命令告诉预处理器将指定头文件的内容插入到预处理器命令的相应位置。</span>有两种方式可以指定插入头文件：
<pre class="cpp">
#include &lt;文件名&gt;
#include &quot;文件名&quot;</pre>
<br />
<span style="color:#b22222;">如果需要包含标准库头文件或者实现版本所提供的头文件，应该使用第一种格式。</span>如下例所示：
<pre class="cpp">
#include &lt;math.h&gt;               // 一些数学函数的原型，以及相关的类型和宏</pre>
<br />
<span style="color:#b22222;">如果需要包含针对程序所开发的源文件，则应该使用第二种格式。采用 #include 命令所插入的文件，通常文件扩展名是 .h，文件包括函数原型、宏定义和类型定义。</span>只要使用 #include 命令，这些定义就可被任何源文件使用。如下例所示：
<pre class="cpp">
#include &quot;myproject.h&quot;         // 用在当前项目中的函数原型、类型定义和宏</pre>
<br />
你<span style="color:#b22222;">可以在 #include 命令中使用宏。</span>如果使用宏，该宏的取代结果必须确保生成正确的 #include 命令。例 1 展示了这样的 #include 命令。<br />
<br />
【例1】在 #include 命令中的宏
<pre class="cpp">
#ifdef        _DEBUG_
  #define       MY_HEADER       &quot;myProject_dbg.h&quot;
#else
  #define       MY_HEADER       &quot;myProject.h&quot;
#endif
#include        MY_HEADER</pre>
<br />
当上述程序代码进入预处理时，如果 _DEBUG_ 宏已被定义，那么预处理器会插入 myProject_dbg.h 的内容；如果还没定义，则插入 myProject.h 的内容。
<h2>
	预处理器如何找到头文件</h2>
由给定的 C 语言实现版本决定 #include 命令所指定文件的搜索路径。同时，也由实现版本决定文件名是否区分大小写。对于命令中使用尖括号指定的文件（&lt;文件名&gt;），预处理器通常会在特定的系统路径下搜索，例如，在 Unix 系统中，会搜索路径 /usr/local/include 与 /usr/include。<br />
<br />
对于命令中用双引号指定的文件（&quot;文件名&quot;），预处理器通常首先在当前目录下寻找，也就是包含该程序其他源文件的目录。如果在当前目录下没有找到，那么预处理器也会搜索系统的 include 路径。文件名中可以包含路径。但如果文件名中包含了路径，则预处理器只会到该目录下寻找。<br />
<br />
你也可以通过使用编译器命令行选项，或在环境变量（该变量通常称为 INCLUDE）中加入搜索路径，为 #include 命令指定自己的搜索路径。具体的做法请参考采用的编译器的说明文档。
<h2>
	嵌套的 #include 命令</h2>
#include 命令可以嵌套使用；也就是说，<span style="color:#b22222;">通过 #include 命令插入的源文件本身也可以包含另一个 #include 命令。预处理器最多允许 15 层的嵌套包含。</span><br />
<br />
因为头文件有时候会包含另一个头文件，很容易发生相同的一个文件被多次包含的情况。例如，假设文件 myProject.h 中包含如下代码：
<pre class="cpp">
#include &lt;stdio.h&gt;</pre>
<br />
<span style="color:#b22222;">如果源文件包含下面的 #include 命令，就会两次包含 stdio.h，一次是直接包含，另一次是间接包含</span>：
<pre class="cpp">
#include &lt;stdio.h&gt;
#include &quot;myProject.h&quot;</pre>
<br />
然而，<span style="color:#b22222;">可以采用条件式编译的命令，方便地避免多次包含相同的文件。</span>例 2 使用了这个技巧。<br />
<br />
【例2】避免多次包含
<pre class="cpp">
#ifndef INCFILE_H_
#define INCFILE_H_
/* ...实际的头文件incfile.h的内容写在这里... */
#endif  /* INCFILE_H_ */</pre>
<br />
第一次出现包含 incfile.h 的命令时，INCFILE_H_ 宏是没有定义的。预处理器因此插入 #ifndef 和 #endif 之间的内容，这段内容包含了对 INCFILE_H_ 宏的定义。嵌入 incfile.h 文件之后，#ifndef 条件就会为 false，预处理器会忽略 #ifndef 和 #endif 之间的内容。</div>
	<div id="ggxc-weixin-arcbottom">
	<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
	<p style="margin-top:12px; text-align:center;">
		<img src="../templets/new/images/material/qrcode_mp_4.png" alt="公众号二维码" width="160" /><br />
		<span class="col-green">微信扫码关注公众号</span>
	</p>
</div>
	<div id="nice-arcs" class="box-bottom">
    <h4>推荐阅读</h4>
    <ul class="clearfix">
<li><a href="niz69i_8.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_4.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_4.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="13_2.html" title="Go语言整型（整数类型）" target="_blank">Go语言整型（整数类型）</a></li>
<li><a href="761_2.html" title="Linux chown命令：修改文件和目录的所有者和所属组" target="_blank">Linux chown命令：修改文件和目录的所有者和所属组</a></li>
<li><a href="1015_2.html" title="主引导目录（MBR）结构及作用详解" target="_blank">主引导目录（MBR）结构及作用详解</a></li>
<li><a href="../servlet2/session_2.html" title="Servlet Session的使用" target="_blank">Servlet Session的使用</a></li>
<li><a href="../servlet2/listener_2.html" title="Servlet Listener（监听器）" target="_blank">Servlet Listener（监听器）</a></li>
<li><a href="../python_spider/json_2.html" title="Python json模块常用方法" target="_blank">Python json模块常用方法</a></li>
<li><a href="../springcloud/micro-service_2.html" title="微服务是什么" target="_blank">微服务是什么</a></li>
</ul>
</div>
	
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 443;
window.arcId = "1ade50TzDTYpBqEs8/gpnYd9oYm5x08k1f9VkA5nbD9RWfy6wJBsacWUpA";
window.typeidChain = "131|119";
</script>
<div id="footer" class="clearfix">
	<div class="info left">
	<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
	<p>
		<a href="8066_2.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
		<a href="8092_3.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
		<a href="8097_2.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
		<a href="9648_2.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
		<a href="8093_2.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
		<a href="../sitemap/sitemap_2.html" target="_blank" rel="nofollow">网站地图</a>
	</p>
	<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan_2.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
	</p>
	</div>
	<img id="logo_bottom" class="right" src="https://m.biancheng.net/templets/new/images/logo_bottom_2.gif" alt="底部Logo" />
	<span id="return-top"><b>↑</b></span>
</div>

<div id="addweixin-widget">
	<p>
		<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://m.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
		<img src="https://m.biancheng.net/templets/new/images/material/qrcode_mp_4.png" alt="微信交流群" width="120" />
		<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
	</p>
	<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>

<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>

<script src="https://m.biancheng.net/templets/new/script/jquery1.12.4.min_2.js"></script>
<script src="https://m.biancheng.net/templets/new/script/common_2.js"></script>
<!-- 51la V6 -->
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<!-- 51la V5 -->
<!-- <span style="display: none;"><script type="text/javascript" src="https://js.users.51.la/21368967.js"></script></span> -->
</body>
</html>