<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>Go语言XML文件的读写操作</title>
<meta name="description" content="XML(extensible Markup Language) 格式被广泛用作一种数据交换格式，并且自成一种文件格式。与 JSON 相比，XML 复杂得多，手动写起来也啰嗦而且乏味得多。 encoding/xml 包可以用在结构体和 XML 格" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="iconfont"></span></span>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main" class="clearfix">
<div id="sidebar" class="toggle-target">
<div id="contents">
<dt><span class="iconfont iconfont-list-vertical" aria-hidden="true"></span><a href="../golang/golang.html">Go语言</a></dt>
<dd>
<span class="channel-num">1</span>
<a href='../golang/intro/intro.html'>Go语言简介</a>
</dd>
<dd>
<span class="channel-num">2</span>
<a href='../golang/syntax/syntax.html'>Go语言基本语法</a>
</dd>
<dd>
<span class="channel-num">3</span>
<a href='../golang/container/container.html'>Go语言容器</a>
</dd>
<dd>
<span class="channel-num">4</span>
<a href='../golang/flow_control/flow_control.html'>流程控制</a>
</dd>
<dd>
<span class="channel-num">5</span>
<a href='../golang/func/func.html'>Go语言函数</a>
</dd>
<dd>
<span class="channel-num">6</span>
<a href='../golang/struct/struct.html'>Go语言结构体</a>
</dd>
<dd>
<span class="channel-num">7</span>
<a href='../golang/interface/interface.html'>Go语言接口</a>
</dd>
<dd>
<span class="channel-num">8</span>
<a href='../golang/package/package.html'>Go语言包（package）</a>
</dd>
<dd>
<span class="channel-num">9</span>
<a href='../golang/concurrent/concurrent.html'>Go语言并发</a>
</dd>
<dd>
<span class="channel-num">10</span>
<a href='../golang/reflect/reflect.html'>Go语言反射</a>
</dd>
<dd class="this"> <span class="channel-num">11</span> <a href="../golang/102/102.html">Go语言文件处理</a> </dd><dl class="dl-sub"><dd>11.1 <a href="4543.html">Go语言自定义数据文件</a></dd><dd>11.2 <a href="4545.html">Go语言JSON文件的读写操作</a></dd><dd>11.3 <a href="4551.html">Go语言XML文件的读写操作</a></dd><dd>11.4 <a href="4597.html">Go语言使用Gob传输数据</a></dd><dd>11.5 <a href="4556.html">Go语言纯文本文件的读写操作</a></dd><dd>11.6 <a href="4563.html">Go语言二进制文件的读写操作</a></dd><dd>11.7 <a href="4570.html">Go语言自定义二进制文件的读写操作</a></dd><dd>11.8 <a href="4583.html">Go语言zip归档文件的读写操作</a></dd><dd>11.9 <a href="4584.html">Go语言tar归档文件的读写操作</a></dd><dd>11.10 <a href="4595.html">Go语言使用buffer读取文件</a></dd><dd>11.11 <a href="vip_7359.html">示例：并发目录遍历</a><span class="iconfont iconfont-vip2"></span></dd><dd>11.12 <a href="vip_7360.html">示例：从INI配置文件中读取需要的值</a><span class="iconfont iconfont-vip2"></span></dd><dd>11.13 <a href="5729.html">Go语言文件的写入、追加、读取、复制操作</a></dd><dd>11.14 <a href="5730.html">Go语言文件锁操作</a></dd></dl>
<dd>
<span class="channel-num">12</span>
<a href='../golang/build/build.html'>Go语言编译与工具</a>
</dd>
</div>
</div>
<div id="article-wrap">
<div id="article">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; <a href="../golang/golang.html">Go语言</a> &gt; <a href="../golang/102/102.html">Go语言文件处理</a></span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>Go语言XML文件的读写操作</h1>
<div class="pre-next-page clearfix">&nbsp;</div>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">XML（extensible Markup Language）格式被广泛用作一种数据交换格式，并且自成一种文件格式。与上一节介绍的&nbsp;<a href="4545.html" target="_blank">JSON</a>&nbsp;相比 XML 要复杂得多，而且手动写起来相对乏味得多。<br />
<br />
在 JSON 还未像现在这么广泛使用时，XML 的使用相当广泛。XML 作为一种数据交换和信息传递的格式，使用还是很广泛的，现在很多开放平台接口，基本都会支持 XML 格式。<br />
<br />
Go语言内置的 encoding/xml 包可以用在结构体和 XML 格式之间进行编解码，其方式跟 encoding/json 包类似。然而与 JSON 相比 XML 的编码和解码在功能上更苛刻得多，这是由于 encoding/xml 包要求结构体的字段包含格式合理的标签，而 JSON 格式却不需要。<br />
<h2>
写 XML 文件</h2>
使用 encoidng/xml 包可以很方便的将 xml 数据存储到文件中，示例代码如下：
<pre class="go">
package main

import (
&nbsp;&nbsp;&nbsp; &quot;encoding/xml&quot;
&nbsp;&nbsp;&nbsp; &quot;fmt&quot;
&nbsp;&nbsp;&nbsp; &quot;os&quot;
)

type Website struct {
&nbsp;&nbsp;&nbsp; Name&nbsp;&nbsp; string `xml:&quot;name,attr&quot;`
&nbsp;&nbsp;&nbsp; Url&nbsp;&nbsp;&nbsp; string
&nbsp;&nbsp;&nbsp; Course []string
}

func main() {
&nbsp;&nbsp;&nbsp; //实例化对象
&nbsp;&nbsp;&nbsp; info := Website{&quot;C语言中文网&quot;, &quot;http://c.biancheng.net/golang/&quot;, []string{&quot;Go语言入门教程&quot;, &quot;Golang入门教程&quot;}}
&nbsp;&nbsp;&nbsp; f, err := os.Create(&quot;./info.xml&quot;)
&nbsp;&nbsp;&nbsp; if err != nil {
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; fmt.Println(&quot;文件创建失败&quot;, err.Error())
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; return
&nbsp;&nbsp;&nbsp; }
&nbsp;&nbsp;&nbsp; defer f.Close()
&nbsp;&nbsp;&nbsp; //序列化到文件中
&nbsp;&nbsp;&nbsp; encoder := xml.NewEncoder(f)
&nbsp;&nbsp;&nbsp; err = encoder.Encode(info)
&nbsp;&nbsp;&nbsp; if err != nil {
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; fmt.Println(&quot;编码错误：&quot;, err.Error())
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; return
&nbsp;&nbsp;&nbsp; } else {
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; fmt.Println(&quot;编码成功&quot;)
&nbsp;&nbsp;&nbsp; }
}
</pre>
运行上面的代码会在当前目录生成一个 info.xml 文件，文件的内容如下所示：
<p class="info-box">
&lt;Website name=&quot;C语言中文网&quot;&gt;<br />
&nbsp;&nbsp;&nbsp; &lt;Url&gt;http://c.biancheng.net/golang/&lt;/Url&gt;<br />
&nbsp;&nbsp;&nbsp; &lt;Course&gt;Go语言入门教程&lt;/Course&gt;<br />
&nbsp;&nbsp;&nbsp; &lt;Course&gt;Golang入门教程&lt;/Course&gt;<br />
&lt;/Website&gt;</p>
<h2>
读 XML 文件</h2>
读 XML 文件比写 XML 文件稍微复杂，特别是在必须处理一些我们自定义字段的时候（例如日期）。但是，如果我们使用合理的打上 XML 标签的结构体，就不会复杂。示例代码如下：
<pre class="go">
package main

import (
&nbsp;&nbsp;&nbsp; &quot;encoding/xml&quot;
&nbsp;&nbsp;&nbsp; &quot;fmt&quot;
&nbsp;&nbsp;&nbsp; &quot;os&quot;
)

type Website struct {
&nbsp;&nbsp;&nbsp; Name&nbsp;&nbsp; string `xml:&quot;name,attr&quot;`
&nbsp;&nbsp;&nbsp; Url&nbsp;&nbsp;&nbsp; string
&nbsp;&nbsp;&nbsp; Course []string
}

func main() {
&nbsp;&nbsp;&nbsp; //打开xml文件
&nbsp;&nbsp;&nbsp; file, err := os.Open(&quot;./info.xml&quot;)
&nbsp;&nbsp;&nbsp; if err != nil {
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; fmt.Printf(&quot;文件打开失败：%v&quot;, err)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; return
&nbsp;&nbsp;&nbsp; }
&nbsp;&nbsp;&nbsp; defer file.Close()

&nbsp;&nbsp;&nbsp; info := Website{}
&nbsp;&nbsp;&nbsp; //创建 xml 解码器
&nbsp;&nbsp;&nbsp; decoder := xml.NewDecoder(file)
&nbsp;&nbsp;&nbsp; err = decoder.Decode(&amp;info)
&nbsp;&nbsp;&nbsp; if err != nil {
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; fmt.Printf(&quot;解码失败：%v&quot;, err)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; return
&nbsp;&nbsp;&nbsp; } else {
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; fmt.Println(&quot;解码成功&quot;)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; fmt.Println(info)
&nbsp;&nbsp;&nbsp; }
}
</pre>
运行结果如下：
<p class="info-box">
go run main.go<br />
解码成功<br />
{C语言中文网 http://c.biancheng.net/golang/ [Go语言入门教程 Golang入门教程]}</p>
正如写 XML 时一样，我们无需关心对所读取的 XML 数据进行转义，xml.NewDecoder.Decode() 函数会自动处理这些。<br />
<br />
xml 包还支持更为复杂的标签，包括嵌套。例如标签名为 &#39;xml:&quot;Books&gt;Author&quot;&#39; 产生的是 &lt;Books&gt;&lt;Author&gt;content&lt;/Author&gt;&lt;/Books&gt; 这样的 XML 内容。同时除了 &#39;xml:&quot;, attr&quot;&#39; 之外，该包还支持 &#39;xml:&quot;,chardata&quot;&#39; 这样的标签表示将该字段当做字符数据来写，支持 &#39;xml:&quot;,innerxml&quot;&#39; 这样的标签表示按照字面量来写该字段，以及 &#39;xml:&quot;,comment&quot;&#39; 这样的标签表示将该字段当做 XML 注释。因此，通过使用标签化的结构体，我们可以充分利用好这些方便的编码解码函数，同时合理控制如何读写 XML 数据。</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div class="pre-next-page clearfix">&nbsp;</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="vip_2117.html" title="C语言模块化编程中的头文件" target="_blank">C语言模块化编程中的头文件</a></li>
<li><a href="5559.html" title="Go语言运算符的优先级" target="_blank">Go语言运算符的优先级</a></li>
<li><a href="6123.html" title="PHP break和continue语句" target="_blank">PHP break和continue语句</a></li>
<li><a href="7190.html" title="C++ STL multimap容器用法完全攻略（超详细）" target="_blank">C++ STL multimap容器用法完全攻略（超详细）</a></li>
<li><a href="9450.html" title="使用CLion编写C语言程序" target="_blank">使用CLion编写C语言程序</a></li>
<li><a href="../csharp/interface.html" title="C#接口（interface）" target="_blank">C#接口（interface）</a></li>
<li><a href="../c/ftell.html" title="C语言ftell()：定位文件中的位置指针" target="_blank">C语言ftell()：定位文件中的位置指针</a></li>
</ul>
</div>
</div>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 4551;
window.arcId = "ecfdskH9N/OpC2zyNbyekeMBOwnBgmbCnW79Dzdyyy2wD52vpWZjqZRwfOs";
window.typeidChain = "301|1";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";
window.prePageURL = "/view/4545.html";
window.nextPageURL = "/view/4597.html";
</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>