<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 启用Chromium高速渲染模式 -->
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<!-- 禁止百度转码 -->
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止识别电话号码 -->
<meta name="format-detection" content="telephone=no" />

<link rel="shortcut icon" href="../favicon_3.ico" />
<link href="../templets/new/style/common_2.css" rel="stylesheet" />
<title>JS移位运算符（&lt;&lt;、&gt;&gt;和&gt;&gt;&gt;）</title>
<meta name="description" content="移位运算就是对二进制进行有规律低移位。移位运算可以设计很多奇妙的效果，在图形图像编程中应用广泛。 运算符 运算符执行左移位运算。在移位运算过程中，符号位始终保持不变。" />
</head>
<body>
<div id="topbar" class="clearfix">
	<ul id="product-type" class="left">
		<li>
			<a href="../m_biancheng_default_2.html"><span class="iconfont iconfont-home"></span>首页</a>
		</li>
		<li class="active">
			<a href="../sitemap/sitemap_2.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
		</li>
		<li>
			<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
		</li>
		<li>
			<a href="niz69i_5.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
		</li>
		<!-- <li>
			<a href="https://www.54benniao.com/c_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-c-course"></span>C语言高级课程</a>
		</li>
		<li>
			<a href="https://www.54benniao.com/java_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-java-course"></span>Java高级课程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/q2a/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-q2a"></span>一对一答疑</a>
		</li> -->
	</ul>
</div>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="../m_biancheng_default_2.html">
		<img height="26" src="../templets/new/images/logo_2.png" alt="C语言中文网" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li class="wap-yes"><a href="../m_biancheng_default_2.html">首页</a></li>
		<li><a href="../c/c_4.html">C语言教程</a></li>
		<li><a href="../cplus/cplus_2.html">C++教程</a></li>
		<li><a href="../python/python_2.html">Python教程</a></li>
		<li><a href="../java/java_2.html">Java教程</a></li>
		<li><a href="../linux_tutorial/linux_tutorial_2.html">Linux入门</a></li>
		<li><a href="../sitemap/sitemap_2.html" title="网站地图">更多&gt;&gt;</a></li>
	</ul>
	<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
	<div class="arc-info">
		<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../m_biancheng_default_2.html">首页</a> &gt; 编程笔记</span>
	</div>
	<div id="ggxc-position-bottom" class="ggxc-box"></div>
	<h1>JS移位运算符（&lt;&lt;、&gt;&gt;和&gt;&gt;&gt;）</h1>
	<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
	<div id="arc-body">移位运算就是对二进制进行有规律低移位。移位运算可以设计很多奇妙的效果，在图形图像编程中应用广泛。
<h2>
	&ldquo;&lt;&lt;&rdquo;运算符</h2>
&ldquo;&lt;&lt;&rdquo;运算符执行左移位运算。在移位运算过程中，符号位始终保持不变。如果右侧空出位置，则自动填充为 0；超出 32&nbsp;位的值，则自动丢弃。<br />
<br />
把数字 5&nbsp;向左移动 2&nbsp;位，则返回值为 20。
<pre class="javascript">
console.log(5 &lt;&lt; 2);  //返回值20</pre>
<br />
用算式进行演示，如图所示。<br />
<br />
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/190827/6-1ZRGG61JU_2.gif" /></div>
<h2>
	&ldquo;&gt;&gt;&rdquo;运算符</h2>
&ldquo;&gt;&gt;&rdquo;运算符执行有符号右移位运算。与左移运算操作相反，它把 32&nbsp;位数字中的所有有效位整体右移，再使用符号位的值填充空位。移动过程中超出的值将被丢弃。<br />
<br />
把数值 1000&nbsp;向右移 8&nbsp;位，则返回值为 3。
<pre class="javascript">
console.log(1000 &gt;&gt; 8);  //返回值3</pre>
<br />
用算式进行演示，如图所示。<br />
<br />
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/190827/6-1ZRGH0003W_2.gif" /></div>
<br />
把数值 -1000&nbsp;向右移 8&nbsp;位，则返回值为 -4。
<pre class="javascript">
console.log(-1000  &gt;&gt; 8);  //返回值 -4</pre>
<br />
用算式进行演示，如图所示。当符号位值为 1&nbsp;时，则有效位左侧的空位全部使用 1&nbsp;进行填充。<br />
<br />
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/190827/6-1ZRGH214508_2.gif" /></div>
<h2>
	&ldquo;&gt;&gt;&gt;&rdquo;运算符</h2>
&ldquo;&gt;&gt;&gt;&rdquo;运算符执行五符号右移位运算。它把无符号的 32&nbsp;位整数所有数位整体右移。对于无符号数或正数右移运算，无符号右移与有符号右移运算的结果是相同的。<br />
<br />
下面两行表达式的返回值是相同的。
<pre class="javascript">
console.log(1000 &gt;&gt; 8);  //返回值3
console.log(1000 &gt;&gt; 8);  //返回值3</pre>
<br />
对于负数来说，无符号右移将使用 0&nbsp;来填充所有的空位，同时会把负数作为正数来处理，所得结果会非常大所以，使用无符号右移运算符时要特别小心，避免意外错误。
<pre class="javascript">
console.log(-1000 &gt;&gt; 8);  //返回值 -4
console.log(-1000 &gt;&gt;&gt; 8);  //返回值 16777212</pre>
<br />
用算式进行演示，如图所示。左侧空位不再用符号位的值来填充，而是用 0&nbsp;来填充。<br />
<br />
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/190827/6-1ZRGHZ0200_2.gif" /></div>
</div>
	<div id="ggxc-weixin-arcbottom">
	<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
	<p style="margin-top:12px; text-align:center;">
		<img src="../templets/new/images/material/qrcode_mp_4.png" alt="公众号二维码" width="160" /><br />
		<span class="col-green">微信扫码关注公众号</span>
	</p>
</div>
	<div id="nice-arcs" class="box-bottom">
    <h4>推荐阅读</h4>
    <ul class="clearfix">
<li><a href="niz69i_8.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_4.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_4.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="../linux/ln_3.html" title="ln命令_Linux ln命令：创建文件链接" target="_blank">ln命令_Linux ln命令：创建文件链接</a></li>
<li><a href="1329_2.html" title="C++数据类型（强制）转换详解" target="_blank">C++数据类型（强制）转换详解</a></li>
<li><a href="1748_2.html" title="C语言代码中的空白符" target="_blank">C语言代码中的空白符</a></li>
<li><a href="3042_2.html" title="Linux UID和GID（用户ID和组ID）" target="_blank">Linux UID和GID（用户ID和组ID）</a></li>
<li><a href="4407_2.html" title="Go语言反射（reflection）简述" target="_blank">Go语言反射（reflection）简述</a></li>
<li><a href="7203_2.html" title="C++ STL multiset容器详解" target="_blank">C++ STL multiset容器详解</a></li>
<li><a href="wt3rsnr_2.html" title="MySQL创建数据库（CREATE DATABASE）" target="_blank">MySQL创建数据库（CREATE DATABASE）</a></li>
</ul>
</div>
	
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 5471;
window.arcId = "562aMf7fSi4i6q01Gl4t/jJzs4GDxK3f/Q7oXsLzjUF5VKFR4+buSr9meqM";
window.typeidChain = "309|119";
</script>
<div id="footer" class="clearfix">
	<div class="info left">
	<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
	<p>
		<a href="8066_2.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
		<a href="8092_3.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
		<a href="8097_2.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
		<a href="9648_2.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
		<a href="8093_2.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
		<a href="../sitemap/sitemap_2.html" target="_blank" rel="nofollow">网站地图</a>
	</p>
	<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan_2.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
	</p>
	</div>
	<img id="logo_bottom" class="right" src="https://m.biancheng.net/templets/new/images/logo_bottom_2.gif" alt="底部Logo" />
	<span id="return-top"><b>↑</b></span>
</div>

<div id="addweixin-widget">
	<p>
		<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://m.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
		<img src="https://m.biancheng.net/templets/new/images/material/qrcode_mp_4.png" alt="微信交流群" width="120" />
		<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
	</p>
	<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>

<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>

<script src="https://m.biancheng.net/templets/new/script/jquery1.12.4.min_2.js"></script>
<script src="https://m.biancheng.net/templets/new/script/common_2.js"></script>
<!-- 51la V6 -->
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<!-- 51la V5 -->
<!-- <span style="display: none;"><script type="text/javascript" src="https://js.users.51.la/21368967.js"></script></span> -->
</body>
</html>