<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>Visual Studio运行Python程序（超级详细）</title>
<meta name="description" content="本节仍以第一个 Python 程序为例，继续讲解如何通过 VS（Visual Studio 的简写）实现编写和运行 Python 程序。 VS创建Python项目 VS 和 PyCharm、Eclipse 一样，也是通过项目来管理 Python 源代码程序" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>Visual Studio运行Python程序（超级详细）</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">本节仍以第一个 <a href='../python/python.html' target='_blank'>Python</a> 程序为例，继续讲解如何通过 VS（Visual Studio 的简写）实现编写和运行 Python 程序。<br />
<h2>
VS创建Python项目</h2>
VS 和 PyCharm、Eclipse 一样，也是通过项目来管理 Python 源代码程序文件的。VS 创建 Python 项目的过程如下。<br />
<br />
1) 首先打开 VS，在菜单栏中依次选择&ldquo;文件 -&gt; 新建 -&gt; 项目&rdquo;（如图 1 所示），打开新建项目对话框。
<div style="text-align: center;">
<br />
<img alt="VS打开新建项目窗口示意图" src="../uploads/allimg/190923/2-1Z923164119456.gif" /><br />
图 1 VS 打开新建项目窗口示意图</div>
<br />
2) 新建项目对话框如图 2 所示，依次选择&ldquo;Python -&gt; Python应用程序&rdquo;，并为新建项目起名（比如为 Demo），其他选择默认即可。
<div style="text-align: center;">
<br />
<img alt="设置项目名称" src="../uploads/allimg/190923/2-1Z923164142R5.gif" /><br />
图 2 设置项目名称</div>
<blockquote>
<p>
直接使用快捷键&ldquo;Ctrl+Shift+N&rdquo;，也可以打开此窗口。</p>
</blockquote>
3) 点击&ldquo;确定&rdquo;之后，会回到 VS 主界面，此时可以看到，VS 资源管理器中已经出现了 Demo 项目，如图 3 所示。
<div style="text-align: center;">
<br />
<img alt="创建完成的Python项目" src="../uploads/allimg/190923/2-1Z923164206226.gif" /><br />
图 3 创建完成的 Python 项目</div>
<br />
不仅如此，项目中还自动创建了一个和 Demo 项目同名的 Demo 源代码文件，我们可以在此文件中直接编写 Python 代码。但这里还是给大家介绍一下，VS 创建好项目之后，如何向项目中手动添加源代码文件。<br />
<br />
以上面创建的 Demo 项目为例，下面手动向项目中创建一个名为 test 的源代码文件。<br />
<br />
1) 首先，右键资源管理器中的 Demo 项目，并依次选择&ldquo;添加 -&gt; 新建项&rdquo;，可以打开&ldquo;添加文件&rdquo;对话框。如图 4 所示。
<div style="text-align: center;">
<br />
<img alt="VS添加文件具体操作" src="../uploads/allimg/190923/2-1Z92316425E34.gif" /><br />
图 4 VS 添加文件具体操作</div>
<br />
2) 打开的&ldquo;添加文件&rdquo;对话框，如图 5 所示，这里可以选择想要创建的 Python 文件。由于本节以简单的&ldquo;Hello，World&rdquo;程序为例，因此选择创建空 Python 文件即可。最后，还要记得给要添加的文件命名（比如&ldquo;test&rdquo;）。<br />
<div style="text-align: center;">
<br />
<img alt="添加文件" src="../uploads/allimg/190923/2-1Z92316431R45.gif" /><br />
图 5 添加文件</div>
<blockquote>
<p>
直接使用快捷键&ldquo;Ctrl+Shift+A&rdquo;，也可以打开此窗口。</p>
</blockquote>
3) 点击&ldquo;添加&rdquo;按钮后，VS 会回到主界面，此时再次观察 Demo 项目，发现其多了一个 test.py 文件，这就是我们手动添加的文件，如图 6 所示。<br />
<div style="text-align: center;">
<br />
<img alt="成功手动添加Python文件" src="../uploads/allimg/190923/2-1Z923164QY29.gif" /><br />
图 6 成功手动添加 Python 文件</div>
<br />
由此，我们就可以在现有的 Demo.py 或者 test.py 文件中编写第一个 Python 程序。例如，我们在 Demo.py 文件中编写如下代码：
<pre class="python">
print(&quot;Hello，Demo&quot;)</pre>
在 test.py 文件中编写如下代码：
<pre class="python">
print(&quot;hello，test&quot;)</pre>
编写完成之后，VS 运行程序也很简单，只需要点击&ldquo;启动&rdquo;按钮，或者按&ldquo;Ctrl+F5&rdquo;，即可运行程序。点击之后，可以看到运行结果如图 7 所示。
<div style="text-align: center;">
<br />
<img alt="Demo.py文件中代码的运行结果" src="../uploads/allimg/190923/2-1Z923164414F2.gif" /><br />
图 7 Demo.py 文件中代码的运行结果</div>
<br />
有读者可能会问，为什么 VS 不运行 test.py 文件中的代码呢？这是因为，在默认情况下，VS 会将和项目同名的 Python 文件（本例中为 Demo 文件）设为启动文件，运行时也只会运行和启动文件相关的程序代码。<br />
<br />
所以，如果想运行 test.py 文件中的程序，需要提前将 test.py 文件设置为启动文件，设置方式也很简单，右键点击 test.py 并选择&ldquo;设置为启动文件&rdquo;。此时，再次点击&ldquo;启动&rdquo;按钮，其运行结果如图 8 所示。
<div style="text-align: center;">
<br />
<img alt="test.py文件中代码的运行结果" src="../uploads/allimg/190923/2-1Z923164431631.gif" /><br />
图 8 test.py 文件中代码的运行结果</div>
</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="682.html" title="C++ accumulate函数用法详解" target="_blank">C++ accumulate函数用法详解</a></li>
<li><a href="vip_1733.html" title="明白了这点才能学好编程，否则参加什么培训班都没用" target="_blank">明白了这点才能学好编程，否则参加什么培训班都没用</a></li>
<li><a href="2031.html" title="C语言结构体详解，C语言struct用法详解" target="_blank">C语言结构体详解，C语言struct用法详解</a></li>
<li><a href="4119.html" title="Go语言多维切片简述" target="_blank">Go语言多维切片简述</a></li>
<li><a href="5700.html" title="JS函数调用（4种方法）" target="_blank">JS函数调用（4种方法）</a></li>
<li><a href="../json/syntax.html" title="JSON语法规则" target="_blank">JSON语法规则</a></li>
<li><a href="9790.html" title="Python while循环语句的用法" target="_blank">Python while循环语句的用法</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 5824;
window.arcId = "2c16YQOxwWAp26Ks/GDPbnRyTmwxyiWBuhFgR4POMOZqt4uGvYdvweHSikE";
window.typeidChain = "145|119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>