<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>C语言贪吃蛇小游戏演示和说明</title>
<meta name="description" content="C语言中文网提供的贪吃蛇游戏不依赖TC环境，不依赖任何第三方库，可以在VC 6.0、VS、C-Free等常见IDE中编译通过。 设计贪吃蛇游戏的主要目的是让大家夯实C语言基础，训练编程思维，培" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; <a href="../c/practice/practice.html">C语言项目案例</a></span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>C语言贪吃蛇小游戏演示和说明</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">C语言中文网提供的贪吃蛇游戏不依赖TC环境，不依赖任何第三方库，可以在VC 6.0、VS、C-Free等常见IDE中编译通过。<br />
<br />
设计贪吃蛇游戏的主要目的是让大家夯实C语言基础，训练编程思维，培养解决问题的思路，领略多姿多彩的C语言。<br />
<br />
游戏开始后，会在中间位置出现一条只有三个节点的贪吃蛇，并随机出现一个食物，如下图所示：
<div style="text-align: center;">
<img alt="" src="../uploads/allimg/191010/10221K641-0.png" /><br />
图1：游戏初始化</div>
<br />
按下键盘上的任意一个键，贪吃蛇开始移动。和大部分游戏一样，你可以通过W、A、S、D四个键来控制移动方向，如下图所示：
<div style="text-align: center;">
<img alt="" src="../uploads/allimg/191010/10221H248-1.png" /><br />
图2：游戏进行中</div>
<br />
当贪吃蛇出界或者撞到自己时，游戏结束，如下图所示：
<div style="text-align: center;">
<img alt="" src="../uploads/allimg/191010/10221LN1-2.png" /><br />
图3：游戏结束</div>
<br />
演示程序百度网盘下载地址：<a href="https://pan.baidu.com/s/1pMTS3NH" target="_blank">https://pan.baidu.com/s/1pMTS3NH</a>&nbsp; 密码：u5ee<br />
<br />
注意：上面的下载地址仅仅提供了已经编译好的贪吃蛇程序，如果你希望查看游戏源码，或者想了解贪吃蛇是如何编写的，请猛击：<a href="vip_5905.html" target="_blank">C语言贪吃蛇小游戏源码下载、源码解析和设计思路</a></div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="1489.html" title="C++友元函数（超详细）" target="_blank">C++友元函数（超详细）</a></li>
<li><a href="1746.html" title="C语言程序的错误和警告" target="_blank">C语言程序的错误和警告</a></li>
<li><a href="1860.html" title="C语言块级变量：在代码块内部定义的变量" target="_blank">C语言块级变量：在代码块内部定义的变量</a></li>
<li><a href="6710.html" title="C++ STL array容器访问元素的几种方式" target="_blank">C++ STL array容器访问元素的几种方式</a></li>
<li><a href="vip_8670.html" title="汇总auto和decltype的区别" target="_blank">汇总auto和decltype的区别</a></li>
<li><a href="../spring_mvc/validation.html" title="Spring MVC数据校验" target="_blank">Spring MVC数据校验</a></li>
<li><a href="bubble-sort.html" title="冒泡排序算法" target="_blank">冒泡排序算法</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 5904;
window.arcId = "7fe842ntGaNBP8CQGODDb3MA+phBdS3mVoB0BXNETFyI7qcb3BkHZbL7tkk";
window.typeidChain = "316";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>