<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>Linux Vim撤销和恢复撤销快捷键用法详解</title>
<meta name="description" content="使用 Vim 编辑文件内容时，经常会有做如下 2 种操作： 对文件内容做了修改之后，却发现整个修改过程是错误或者没有必要的，想将文件复原到修改之前的样子。 将文件内容复原之后，" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="iconfont"></span></span>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main" class="clearfix">
<div id="sidebar" class="toggle-target">
<div id="contents">
<dt><span class="iconfont iconfont-list-vertical" aria-hidden="true"></span><a href="../linux_tutorial/linux_tutorial.html">Linux</a></dt>
<dd>
<span class="channel-num">1</span>
<a href='../linux_tutorial/10/10.html'>Linux简介</a>
</dd>
<dd>
<span class="channel-num">2</span>
<a href='../linux_tutorial/20/20.html'>Linux安装</a>
</dd>
<dd>
<span class="channel-num">3</span>
<a href='../linux_tutorial/file_content/file_content.html'>Linux文件和目录管理</a>
</dd>
<dd>
<span class="channel-num">4</span>
<a href='../linux_tutorial/bale_compress/bale_compress.html'>Linux打包（归档）和压缩</a>
</dd>
<dd class="this"> <span class="channel-num">5</span> <a href="../linux_tutorial/40/40.html">Vim文本编辑器</a> </dd><dl class="dl-sub"><dd>5.1 <a href="3005.html">Vim及其安装</a></dd><dd>5.2 <a href="vip_5059.html">Vi和Vim之间到底有什么关系？</a><span class="iconfont iconfont-vip2"></span></dd><dd>5.3 <a href="804.html">Linux Vim三种工作模式</a></dd><dd>5.4 <a href="805.html">Linux Vim基本操作</a></dd><dd>5.5 <a href="3008.html">Vim移动光标命令汇总</a></dd><dd>5.6 <a href="6332.html">Linux Vim撤销和恢复撤销快捷键</a></dd><dd>5.7 <a href="6355.html">Linux Vim可视化模式</a></dd><dd>5.8 <a href="vip_5060.html">Vim多窗口编辑模式</a><span class="iconfont iconfont-vip2"></span></dd><dd>5.9 <a href="813.html">Linux Vim批量注释和自定义注释</a></dd><dd>5.10 <a href="vip_5061.html">Vim显示行号</a><span class="iconfont iconfont-vip2"></span></dd><dd>5.11 <a href="vip_5062.html">Vim配置文件（.vimrc）详解</a><span class="iconfont iconfont-vip2"></span></dd><dd>5.12 <a href="vip_7659.html">如何在Vim中执行Linux命令？</a><span class="iconfont iconfont-vip2"></span></dd></dl>
<dd>
<span class="channel-num">6</span>
<a href='../linux_tutorial/text_processing/text_processing.html'>Linux文本处理（Linux三剑客）</a>
</dd>
<dd>
<span class="channel-num">7</span>
<a href='../linux_tutorial/50/50.html'>Linux软件安装</a>
</dd>
<dd>
<span class="channel-num">8</span>
<a href='../linux_tutorial/60/60.html'>Linux用户和用户组管理</a>
</dd>
<dd>
<span class="channel-num">9</span>
<a href='../linux_tutorial/70/70.html'>Linux权限管理</a>
</dd>
<dd>
<span class="channel-num">10</span>
<a href='../linux_tutorial/80/80.html'>Linux文件系统管理</a>
</dd>
<dd>
<span class="channel-num">11</span>
<a href='../linux_tutorial/90/90.html'>Linux高级文件系统管理</a>
</dd>
<dd>
<span class="channel-num">12</span>
<a href='../linux_tutorial/14/14.html'>Linux系统管理</a>
</dd>
<dd>
<span class="channel-num">13</span>
<a href='../linux_tutorial/17/17.html'>Linux备份与恢复</a>
</dd>
<dd>
<span class="channel-num">14</span>
<a href='../linux_tutorial/13/13.html'>Linux系统服务管理</a>
</dd>
<dd>
<span class="channel-num">15</span>
<a href='../linux_tutorial/15/15.html'>Linux系统日志管理</a>
</dd>
<dd>
<span class="channel-num">16</span>
<a href='../linux_tutorial/12/12.html'>Linux启动管理</a>
</dd>
<dd>
<span class="channel-num">17</span>
<a href='../linux_tutorial/16/16.html'>LAMP环境搭建和LNMP环境搭建</a>
</dd>
<dd>
<span class="channel-num">18</span>
<a href='../linux_tutorial/18/18.html'>SELinux管理</a>
</dd>
</div>
</div>
<div id="article-wrap">
<div id="article">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; <a href="../linux_tutorial/linux_tutorial.html">Linux</a> &gt; <a href="../linux_tutorial/40/40.html">Vim文本编辑器</a></span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>Linux Vim撤销和恢复撤销快捷键用法详解</h1>
<div class="pre-next-page clearfix">&nbsp;</div>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">使用 Vim 编辑文件内容时，经常会有如下 2 种需求：
<ul>
<li>
对文件内容做了修改之后，却发现整个修改过程是错误或者没有必要的，想将文件恢复到修改之前的样子。</li>
<li>
将文件内容恢复之后，经过仔细考虑，又感觉还是刚才修改过的内容更好，想撤销之前做的恢复操作。</li>
</ul>
<br />
基于这 2 种需求，Vim 编辑器提供了撤销和恢复撤销的命令，如表 1 所示。<br />
<br />
<table>
<caption>
表 1 Linux Vim 撤销和恢复撤销快捷键</caption>
<tbody>
<tr>
<th>
快捷键</th>
<th>
功能</th>
</tr>
<tr>
<td>
u（小写）</td>
<td>
undo 的第 1 个字母，功能是撤销最近一次对文本做的修改操作。</td>
</tr>
<tr>
<td>
Ctrl+R</td>
<td>
Redo 的第 1 个字母，功能是恢复最近一次所做的撤销操作。</td>
</tr>
<tr>
<td>
U（大写）</td>
<td>
第一次会撤销对一行文本（光标所在行）做过的全部操作，第二次使用该命令会恢复对该行文本做过的所有操作。</td>
</tr>
</tbody>
</table>
<blockquote>
<p>
注意，以上这 3 种命令都必须在 Vim 编辑器处于命令模式时才能使用。</p>
</blockquote>
下面通过一个例子来演示以上 3 个命令的具体用法。首先，我们新建一个 demo.txt 文件并打开，键入一行内容，例如：
<p class="info-box">
http://c.biancheng.net</p>
然后按&ldquo;Esc&rdquo;键，使 Vim 由输入模式转为命令模式，并使用 yy 命令将这一行文本复制到剪贴板中，如此我们就可以在文本任意位置通过键入 p（或大写的 P）命令将复制的内容粘贴到光标所在的位置。<br />
<br />
假设我们将光标调整到第一行最后一个字符处，连续按两次 p 命令（粘贴 2 次），则此时文本中的内容变为：
<p class="info-box">
http://c.biancheng.net<br />
http://c.biancheng.net<br />
http://c.biancheng.net</p>
在此基础上，通过 u（小写）命令就可以使文本内容恢复到上一次做粘贴操作之前的样子，其中&ldquo;上一次&rdquo;的含义是，恢复操作是可以叠加的，即按一次就会在现有基础上做一次恢复操作。<br />
<br />
比如，继续操作 demo.txt 文件，按一次 u，会发现其文本内容变为：
<p class="info-box">
http://c.biancheng.net<br />
http://c.biancheng.net</p>
再按一次 u，文本内容继续恢复为：
<p class="info-box">
http://c.biancheng.net</p>
<br />
同样，恢复撤销的操作和撤销操作是相对应的，通过按 Ctrl+R 组合键，可以撤销之前所做的一次恢复操作。例如，继续操作 demo.txt 文件，按一次 Ctrl+R，会发现其文本内容恢复为：<br />
<p class="info-box">
http://c.biancheng.net<br />
http://c.biancheng.net</p>
再按一次 Ctrl+R，文本内容又恢复为：<br />
<p class="info-box">
http://c.biancheng.net<br />
http://c.biancheng.net<br />
http://c.biancheng.net</p>
<br />
U（大写）的功能和之前的 2 个命令不同，它的作用是撤销或恢复撤销对光标所在行文本所做的全部操作。比如，我们对 demo.txt 文件内容做如下修改：<br />
<p class="info-box">
http://c.biancheng.net<br />
http://c.biancheng.net<br />
<span style="color:#b22222;">Linux教程 </span>http://c.biancheng.net/<span style="color:#b22222;">linux_tutorial/</span></p>
可以看到，这里对第三行文本做了 2 处修改（红色标注部分）。在此基础上，如果在命令模式下键入 U（大写），可以看到，之前对第 3 行所做的 2 处修改，全部被恢复了：
<p class="info-box">
http://c.biancheng.net<br />
http://c.biancheng.net<br />
http://c.biancheng.net</p>
如果此时再键入 U（大写），则又会恢复之前对第 3 行文本做过的全部操作：
<p class="info-box">
http://c.biancheng.net<br />
http://c.biancheng.net<br />
Linux教程 http://c.biancheng.net/linux_tutorial/</p>
</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div class="pre-next-page clearfix">&nbsp;</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="174.html" title="C语言注释详解（两种注释方式）" target="_blank">C语言注释详解（两种注释方式）</a></li>
<li><a href="422.html" title="C++异常处理（try catch throw）完全攻略" target="_blank">C++异常处理（try catch throw）完全攻略</a></li>
<li><a href="4400.html" title="Python set集合基本操作（添加、删除、交集、并集、差集）" target="_blank">Python set集合基本操作（添加、删除、交集、并集、差集）</a></li>
<li><a href="9432.html" title="Qt打包程序详解（适用于Windows平台）" target="_blank">Qt打包程序详解（适用于Windows平台）</a></li>
<li><a href="9762.html" title="C语言有哪些冷知识？" target="_blank">C语言有哪些冷知识？</a></li>
<li><a href="9825.html" title="Elasticsearch介绍（非常详细）" target="_blank">Elasticsearch介绍（非常详细）</a></li>
<li><a href="q0r3o95.html" title="BIOS固件是什么？" target="_blank">BIOS固件是什么？</a></li>
</ul>
</div>
</div>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 6332;
window.arcId = "0a3bnHzHYcTG7xHTo3leylGJVsPhm6fAhKeYpzNliDCHREIQmASs4hoqvEA";
window.typeidChain = "83|77";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";
window.prePageURL = "/view/3008.html";
window.nextPageURL = "/view/6355.html";
</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>