<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 启用Chromium高速渲染模式 -->
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<!-- 禁止百度转码 -->
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止识别电话号码 -->
<meta name="format-detection" content="telephone=no" />

<link rel="shortcut icon" href="../favicon_3.ico" />
<link href="../templets/new/style/common_2.css" rel="stylesheet" />
<title>常用数据库大汇总（附带优缺点）</title>
<meta name="description" content="现在已经存在了很多优秀的商业数据库，如甲骨文（Oracle）公司的 Oracle 数据库、IBM 公司的 DB2 数据库、微软公司的 SQL Server 数据库和 Access 数据库。同时，还有很多优秀的开源数据库，" />
</head>
<body>
<div id="topbar" class="clearfix">
	<ul id="product-type" class="left">
		<li>
			<a href="../m_biancheng_default_2.html"><span class="iconfont iconfont-home"></span>首页</a>
		</li>
		<li class="active">
			<a href="../sitemap/sitemap_2.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
		</li>
		<li>
			<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
		</li>
		<li>
			<a href="niz69i_5.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
		</li>
		<!-- <li>
			<a href="https://www.54benniao.com/c_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-c-course"></span>C语言高级课程</a>
		</li>
		<li>
			<a href="https://www.54benniao.com/java_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-java-course"></span>Java高级课程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/q2a/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-q2a"></span>一对一答疑</a>
		</li> -->
	</ul>
</div>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="../m_biancheng_default_2.html">
		<img height="26" src="../templets/new/images/logo_2.png" alt="C语言中文网" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li class="wap-yes"><a href="../m_biancheng_default_2.html">首页</a></li>
		<li><a href="../c/c_4.html">C语言教程</a></li>
		<li><a href="../cplus/cplus_2.html">C++教程</a></li>
		<li><a href="../python/python_2.html">Python教程</a></li>
		<li><a href="../java/java_2.html">Java教程</a></li>
		<li><a href="../linux_tutorial/linux_tutorial_2.html">Linux入门</a></li>
		<li><a href="../sitemap/sitemap_2.html" title="网站地图">更多&gt;&gt;</a></li>
	</ul>
	<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
	<div class="arc-info">
		<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../m_biancheng_default_2.html">首页</a> &gt; 编程笔记</span>
	</div>
	<div id="ggxc-position-bottom" class="ggxc-box"></div>
	<h1>常用数据库大汇总（附带优缺点）</h1>
	<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
	<div id="arc-body">现在已经存在了很多优秀的商业数据库，如甲骨文（Oracle）公司的 Oracle 数据库、IBM 公司的 DB2 数据库、微软公司的 SQL Server 数据库和 Access 数据库。同时，还有很多优秀的开源数据库，如 <a href='../mysql/mysql_2.html' target='_blank'>MySQL</a> 数据库，PostgreSQL 数据库等。下面介绍这些常见的数据库。<br />
<h4>
	1）Oracle</h4>
<span style="color:#008000;">Oracle</span> 是甲骨文公司的一款关系型数据库管理系统，在数据库领域一直处于领先地位的产品，是目前世界上流行的关系型数据库之一，是一种高效率、可靠性好、适应高吞吐量的数据库方案。<br />
<h4>
	优点：</h4>
<ol>
	<li>
		Oracle 可移植性好，能在所有主流平台上运行（包括 Windows），完全支持所有工业标准。采用完全开放策略，使客户可以选择最适合解决方案。以及对开发商的全力支持。</li>
	<li>
		获得最高认证级别的 ISO 标准认证，安全性高。</li>
	<li>
		与其它数据库相比，Oracle 性能最高。保持着开放平台下 TPC-D 和 TPC-C 世界记录。</li>
	<li>
		多层次网络计算，支持多种工业标准，可以用 ODBC、JDBC、OCI 等网络客户连接 。</li>
	<li>
		完全向下兼容，因此被广泛应用，且风险低 。</li>
</ol>
<blockquote>
	<p>
		向下兼容指的是高版本支持低版本的或者说后期开发的版本支持和兼容早期开发的版本。</p>
</blockquote>
<h4>
	缺点：</h4>
<ol>
	<li>
		对硬件的要求高</li>
	<li>
		价格比较昂贵</li>
	<li>
		管理维护麻烦</li>
	<li>
		操作比较复杂</li>
</ol>
<h4>
	2）SQL Server</h4>
<span style="color:#008000;">SQL Server</span> 是 Microsoft（微软）公司推出的关系型数据库管理系统，主要应用于大型的管理系统中。
<h4>
	优点：</h4>
<ol>
	<li>
		与微软的 Windows 系列操作系统的兼容性很好。</li>
	<li>
		高性能设计，可充分利用 WindowsNT 的优势。</li>
	<li>
		系统管理先进，支持 Windows 图形化管理工具，支持本地和远程的系统管理和配置。</li>
	<li>
		强壮的事务处理功能，采用各种方法保证数据的完整性。</li>
	<li>
		支持对称多处理器结构、存储过程、ODBC，并具有自主的 SQL 语言。</li>
</ol>
<h4>
	缺点：</h4>
<ol>
	<li>
		SQL Server 只能在&nbsp;Windows 系统上运行，没有丝毫开放性。</li>
	<li>
		没有获得任何安全证书。</li>
	<li>
		多用户时性能不佳 。</li>
	<li>
		只支持 C/S 模式，SQL Server C/S 结构只支持 Windows 客户用 ADO、DAO、OLEDB、ODBC 连接。</li>
</ol>
<h4>
	3）MySQL</h4>
<span style="color:#008000;">MySQL</span> 是一种开放源代码的关系型数据库管理系统，由瑞典 MySQL AB 公司开发，属于 Oracle 旗下产品。因为其速度、可靠性和适应性而备受关注。MySQL 是流行的关系型数据库管理系统之一，在 WEB 应用方面，MySQL 是最好的应用软件之一。<br />
<h4>
	优点：</h4>
<ol>
	<li>
		性能卓越服务稳定，很少出现异常宕机</li>
	<li>
		开放源代码且无版权制约，自主性强、使用成本低。</li>
	<li>
		历史悠久、社区及用户非常活跃，遇到问题，可以很快获取到帮助。</li>
	<li>
		软件体积小，安装使用简单，并且易于维护，安装及维护成本低。</li>
	<li>
		支持多种操作系统，提供多种 API 接口，支持多种开发语言。</li>
</ol>
<h4>
	缺点：</h4>
<ol>
	<li>
		MySQL 最大的缺点是其安全系统，主要是复杂而非标准，只有调用 mysqladmin 来重读用户权限才会发生改变。</li>
	<li>
		MySQL 不允许调试存储过程，开发和维护存储过程很难。</li>
	<li>
		MySQL 不支持热备份。</li>
	<li>
		MySQL 的价格随平台和安装方式变化。</li>
</ol>
<h4>
	4）Access</h4>
<span style="color:#008000;">Access</span> 是由 Microsoft（微软）发布的小型关系数据库管理系统，是微软把数据库引擎的图形用户界面和软件开发工具结合在一起的一个数据库管理系统。<br />
<h4>
	优点：</h4>
<ol>
	<li>
		存储方式简单，易于维护管理。Access 的对象有表、查询、窗体、报表、页、宏和模块，以上对象都存放在后缀为（.mdb 或 .accdb）的数据库文件中，便于用户的操作和管理。</li>
	<li>
		Access 是一个面向对象的开发工具，这种基于面向对象的开发方式，使得开发应用程序更为简便。</li>
	<li>
		界面友好、易操作。Access 是一个可视化工具，风格与 Windows 完全一样，用户想要生成对象应用，只要使用鼠标进行拖放即可，非常直观方便。系统还提供了表生成器、查询生成器、报表设计器以及数据库向导、表向导、查询向导、窗体向导、报表向导等工具，使得操作简便，容易使用和掌握。</li>
	<li>
		集成环境，可以处理多种数据信息。Access 基于 Windows 操作系统下的集成开发环境，该环境集成了各种向导和生成器工具，极大地提高了开发人员的工作效率，使得建立数据库、创建表、设计用户界面、设计数据查询、报表打印等可以方便有序地进行。</li>
	<li>
		支持广泛，易于扩展，弹性大。Access 是一个既可以只用来存放数据的数据库，也可以作为一个客户端开发工具来进行数据库应用系统开发。即可以开发方便易用的小型软件，也可以用来开发大型的应用系统。</li>
</ol>
<h4>
	缺点：</h4>
<ol>
	<li>
		不支持并发处理。</li>
	<li>
		数据库存储量小安全性不够高。</li>
	<li>
		Access 是小型数据库，当数据量过大时，一般百M以上（纯数据，不包括窗体、报表等客户端对象）性能会变差。</li>
	<li>
		虽然理论上支持 255 个并发用户，但实际上根本支持不了那么多，如果以只读方式访问大概在 100 个用户左右，而如果是并发编辑，则大概在10-20个用户。</li>
	<li>
		单表记录数过百万时，性能就会变得较差，如果加上设计不良，这个限度还要降低。</li>
	<li>
		不能编译成可执行文件（.exe），必须要安装 Access 运行环境才能使用。</li>
</ol>
<h4>
	5）DB2</h4>
<span style="color:#008000;">DB2</span> 是美国 IBM 公司开发的一款支持多媒体、Web 的关系型数据库管理系统。主要应用于大型应用系统，具有较好的可伸缩性，可支持从大型机到单用户环境。<br />
<h4>
	优点：</h4>
<ol>
	<li>
		相比较 MySQL 和 Oracle 两种数据库来说，DB2 提供了高层次的数据利用性、完整性、安全性、可恢复性，以及小规模到大规模地应用程序执行能力，具有与平台无关的基本功能和 SQL 命令。</li>
	<li>
		DB2 采用了数据分级技术，能够使大型数据很方便的下载到数据库服务器，使数据库本地化和远程连接透明化。</li>
	<li>
		拥有非常完备的查询优化器，改善了查询性能，并支持多任务并行查询。</li>
	<li>
		具有很好的网络支持能力，每个子系统可以连接十几万个分布式用户，可同时激活上千个活动线程，对大型分布式应用系统更加使用。</li>
	<li>
		DB2 可跨平台使用。</li>
</ol>
<h4>
	缺点：</h4>
<ol>
	<li>
		配置文件和参数多，且命名不规范。</li>
	<li>
		一些 DB2 产品开发不方便。</li>
	<li>
		和 Oracle 相比，命令多，且没 Oracle 统一规范的好。</li>
	<li>
		由于其设计框架的问题，如果用户对数据库的本身优化和应用程序优化做的不足，那么 DB2 容易出现锁等待现象。</li>
</ol>
<h4>
	6）PostgreSQL</h4>
<span style="color:#008000;">PostgreSQL</span> 是一款富有特色的自由数据库管理系统，甚至可以说是最强大的自由软件数据库管理系统。该数据库管理系统支持了目前世界上最丰富的数据类型。是自由软件数据库管理系统中唯一支持事务、子查询、多版本并行控制系统、数据完整性检查等特性的自由软件。
<h4>
	优点：</h4>
<ol>
	<li>
		PostgreSQL 遵循的是 BSD 协议，是一个完全开源、免费、同时非常强大的关系型数据库。</li>
	<li>
		与 PostgreSQL 配合的有很多分布式集群软件，如 pgpool、pgcluster、slony、plploxy 等等，很容易做读写分离、负载均衡、数据水平拆分等方案，而这些 MySQL 则比较难实现。</li>
	<li>
		PostgreSQL 源代码写的很清晰，易读性比 MySQL 强，所以很多公司基本都是以 PostgreSQL 做二次开发的。</li>
	<li>
		PostgreSQL 是多进程的，而 MySQL 是多线程的。并发不高时，MySQL处理速度快，但当并发高的时候，对于现在多核的单台机器上，MySQL 的总体处理性能不如 PostgreSQL，原因是 MySQL 的线程无法充分利用 CPU 的能力。</li>
	<li>
		PostgreSQL 有很强大的查询优化器，支持很复杂的查询处理。</li>
</ol>
<blockquote>
	<p>
		BSD 开源协议是一个给于使用者很大自由的协议。可以自由的使用，修改源代码，也可以将修改后的代码作为开源或者专有软件再发布。</p>
</blockquote>
<h4>
	缺点：</h4>
<ol>
	<li>
		对于简单而繁重的读取操作，相比较其它数据库来说，PostgreSQL 性能较低。</li>
	<li>
		PostgreSQL 数据库扩容花费时间很长。</li>
</ol>
</div>
	<div id="ggxc-weixin-arcbottom">
	<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
	<p style="margin-top:12px; text-align:center;">
		<img src="../templets/new/images/material/qrcode_mp_4.png" alt="公众号二维码" width="160" /><br />
		<span class="col-green">微信扫码关注公众号</span>
	</p>
</div>
	<div id="nice-arcs" class="box-bottom">
    <h4>推荐阅读</h4>
    <ul class="clearfix">
<li><a href="niz69i_8.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_4.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_4.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="vip_2091_2.html" title="虚拟内存到底是什么？为什么我们在C语言中看到的地址是假的？" target="_blank">虚拟内存到底是什么？为什么我们在C语言中看到的地址是假的？</a></li>
<li><a href="2428_2.html" title="MySQL BIT、BINARY、VARBINARY、BLOB（二进制类型）" target="_blank">MySQL BIT、BINARY、VARBINARY、BLOB（二进制类型）</a></li>
<li><a href="4583_2.html" title="Go语言zip归档文件的读写操作" target="_blank">Go语言zip归档文件的读写操作</a></li>
<li><a href="4984_2.html" title="JSP JSTL &lt;c:if&gt;标签：条件判断标签" target="_blank">JSP JSTL &lt;c:if&gt;标签：条件判断标签</a></li>
<li><a href="5335_2.html" title="什么是闭包，Python闭包（初学者必读）" target="_blank">什么是闭包，Python闭包（初学者必读）</a></li>
<li><a href="../servlet2/eclipse-servlet_2.html" title="Eclipse创建Servlet项目" target="_blank">Eclipse创建Servlet项目</a></li>
<li><a href="9418_2.html" title="Qt QListWidget列表框用法详解" target="_blank">Qt QListWidget列表框用法详解</a></li>
</ul>
</div>
	
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 7109;
window.arcId = "b5d6bjTpl2TCX6qFX6RgBixo0qCyrW2ZXy82zWk7EYbp5iJpt6ZVjNFIUtA";
window.typeidChain = "345|119";
</script>
<div id="footer" class="clearfix">
	<div class="info left">
	<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
	<p>
		<a href="8066_2.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
		<a href="8092_3.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
		<a href="8097_2.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
		<a href="9648_2.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
		<a href="8093_2.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
		<a href="../sitemap/sitemap_2.html" target="_blank" rel="nofollow">网站地图</a>
	</p>
	<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan_2.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
	</p>
	</div>
	<img id="logo_bottom" class="right" src="https://m.biancheng.net/templets/new/images/logo_bottom_2.gif" alt="底部Logo" />
	<span id="return-top"><b>↑</b></span>
</div>

<div id="addweixin-widget">
	<p>
		<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://m.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
		<img src="https://m.biancheng.net/templets/new/images/material/qrcode_mp_4.png" alt="微信交流群" width="120" />
		<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
	</p>
	<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>

<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>

<script src="https://m.biancheng.net/templets/new/script/jquery1.12.4.min_2.js"></script>
<script src="https://m.biancheng.net/templets/new/script/common_2.js"></script>
<!-- 51la V6 -->
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<!-- 51la V5 -->
<!-- <span style="display: none;"><script type="text/javascript" src="https://js.users.51.la/21368967.js"></script></span> -->
</body>
</html>