<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>网站到底是什么？</title>
<meta name="description" content="网站是由一个一个的网页构成的，要想理解网站是什么，我们首先要理解网页是什么。 网页其实就是放在服务器上的一个文件，当我们浏览网页时，这个文件会被下载到我们本地的电脑" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="iconfont"></span></span>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main" class="clearfix">
<div id="sidebar" class="toggle-target">
<div id="contents">
<dt><span class="iconfont iconfont-list-vertical" aria-hidden="true"></span><a href="../html/html.html">HTML</a></dt>
<dd>
<span class="channel-num">1</span>
<a href="7410_3.html">网站到底是什么？</a>
</dd>
<dd>
<span class="channel-num">2</span>
<a href="9381.html">HTML是什么</a>
</dd>
<dd>
<span class="channel-num">3</span>
<a href="9382.html">HTML标签的语法格式</a>
</dd>
<dd>
<span class="channel-num">4</span>
<a href="9383.html">HTML属性</a>
</dd>
<dd>
<span class="channel-num">5</span>
<a href="9384.html">HTML标题</a>
</dd>
<dd>
<span class="channel-num">6</span>
<a href="9385.html">HTML段落</a>
</dd>
<dd>
<span class="channel-num">7</span>
<a href="9386.html">HTML文本格式化</a>
</dd>
<dd>
<span class="channel-num">8</span>
<a href="9387.html">HTML超链接</a>
</dd>
<dd>
<span class="channel-num">9</span>
<a href="7528.html">HTML插入图片</a>
</dd>
<dd>
<span class="channel-num">10</span>
<a href="7540.html">HTML表格</a>
</dd>
<dd>
<span class="channel-num">11</span>
<a href="9389.html">HTML列表</a>
</dd>
<dd>
<span class="channel-num">12</span>
<a href="7564.html">HTML表单</a>
</dd>
<dd>
<span class="channel-num">13</span>
<a href="9391.html">HTML注释</a>
</dd>
<dd>
<span class="channel-num">14</span>
<a href="1293.html">HTML嵌入CSS样式</a>
</dd>
<dd>
<span class="channel-num">15</span>
<a href="9392.html">HTML块级元素和内联元素</a>
</dd>
<dd>
<span class="channel-num">16</span>
<a href="9393.html">HTML布局</a>
</dd>
<dd>
<span class="channel-num">17</span>
<a href="9394.html">HTML内联框架</a>
</dd>
<dd>
<span class="channel-num">18</span>
<a href="9395.html">HTML头部标签</a>
</dd>
</div>
</div>
<div id="article-wrap">
<div id="article">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; <a href="../html/html.html">HTML</a></span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>网站到底是什么？</h1>
<div class="pre-next-page clearfix">&nbsp;</div>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">网站是由一个一个网页构成的，要想理解网站是什么，首先要理解网页是什么。
<h2>
1. 什么是网页？</h2>
网页其实就是放在服务器上的一个文件，当我们浏览网页时，这个文件会被下载到我们本地的电脑，然后再由浏览器解析，渲染出各种漂亮的界面，比如表格、图片、标题、列表等。<br />
<br />
网页文件的后缀有很多种，比如<code>.html</code>、<code>.php</code>、<code>.jsp</code>、<code>.asp</code>等，相信读者在浏览器的地址栏里也都见到过，如下图所示：
<div style="text-align: center;">
<img alt="在浏览器地址栏中查看 URL" src="../uploads/allimg/200317/1-20031GF551201.gif" /><br />
图1：在浏览器地址栏中查看 URL</div>
<br />
但不管网页的后缀是什么，它的本质都是一样的，就是由 HTML 代码构成的纯文本文件。<br />
<br />
我们可以使用记事本、Notepad++、Sublime Text、Vim 等文本编辑器打开网页文件，看到它的所有内容，就像下面这样：
<pre class="html">
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;zh-CN&quot;&gt;
&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;title&gt;这是网页标题&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;p&gt;这是一段文本&lt;/p&gt;

    &lt;a href=&quot;http://c.biancheng.net/&quot;&gt;这个一个超链接&lt;/a&gt;

    &lt;ul&gt;
        &lt;li&gt;条目1&lt;/li&gt;
        &lt;li&gt;条目2&lt;/li&gt;
        &lt;li&gt;条目3&lt;/li&gt;
    &lt;/ul&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
这就是 HTML 代码！我们可以看到很多由<code>&lt;&gt;</code>包围的特殊标记，这叫做 HTML <span style="color:#008000;">标签（Tag）</span>，浏览器通过识别这些 HTML 标签来渲染出各种界面和效果。<br />
<br />
每种 HTML 标签都有不同的含义，适用于不同的场景，能展示出不同的效果，例如：
<ul>
<li>
&lt;html&gt; 标签用来包围当前网页的所有 HTML 代码，可以把它看做一个外壳。</li>
<li>
&lt;head&gt; 标签表示网页的头部，用来设置一些网页的参数，在浏览器中是看不到的：
<ul>
<li>
&lt;meta charset=&quot;UTF-8&quot;&gt; 用来指明当前网页的编码格式是 UTF-8；</li>
<li>
&lt;title&gt; 用来设置当前网页的标题，相当于文件的名字，它会显示在浏览器的标题栏。</li>
</ul>
</li>
<li>
&lt;body&gt; 标签表示网页的正文内容，也就是需要在浏览器主界面中显示的内容：
<ul>
<li>
&lt;p&gt; 标签用来表示一个段落，能容纳一段文本；</li>
<li>
&lt;a&gt; 标签用来表示一个超链接，用鼠标点击后可以跳转到其它网页；</li>
<li>
&lt;ul&gt; 标签用来表示一个列表，其中的每个 &lt;li&gt; 都是子标签，用来表示一个列表项。</li>
</ul>
</li>
</ul>
<br />
将上面的代码保存到 index.html，拖到浏览器中运行，可以看到如下的效果：
<div style="text-align: center;">
<img alt="一个简单的网页" src="../uploads/allimg/200317/1-20031G34H6447.png" /><br />
图2：一个简单的网页</div>
<br />
这是一个非常简陋的网页，仅作为例子来演示，真实网页的 HTML 代码远比这复杂，你可以在网页上单击鼠标右键，然后在弹出菜单中选择&ldquo;查看网页源代码&rdquo;，就可以查看当前网页的 HTML 代码。
<h2>
2. 什么是网站？</h2>
一个网站由很多网页组成，可以将多个网页放在一个文件夹中，这个文件夹还可以嵌套其它子文件夹，最终形成一个树状结构，如下图所示：
<div style="text-align: center;">
<img alt="一个简单的网站结构" src="../uploads/allimg/200317/1-20031G44142Y3.gif" /><br />
图3：一个简单的网站结构</div>
<br />
如果我们给顶级目录 program 绑定一个域名 www.domain.com，那么用户就可以通过 www.domain.com 来访问 program 文件夹中的所有文件（包括子文件夹），例如：
<ul>
<li>
www.domain.com/demo.html</li>
<li>
www.domain.com/python/</li>
<li>
www.domain.com/java/spring.html</li>
<li>
www.domain.com/java/maven/profile.html</li>
</ul>
<br />
<span style="color:#b22222;">可以认为，网站就是一个绑定了域名的文件夹，该文件夹中可以包含子文件夹以及各种各样的文件，这些文件都可以通过域名来访问。</span>当我们在地址栏中输入一个 URL 时，它其实已经展示了服务器上的目录结构，例如 <a href="http://c.biancheng.net/linux/ln.html" target="_blank">http://c.biancheng.net/linux/ln.html</a>，就表示访问 linux 目录下的 ln.html 文件。<br />
<br />
当然，你也可以不绑定域名，只要在服务器上设置某个文件夹提供 Web 服务，用户也可以通过 IP 地址来访问。<br />
<br />
互联网上的所有服务器都是通过 IP 地址来定位的，域名只是 IP 地址的一种助记符，帮助用户记住网站的链接以及品牌。使用域名访问网站时，浏览器会先找到域名对应的 IP 地址，然后再通过 IP 地址请求服务器上的文件；这个过程叫做<span style="color:#008000;">域名解析</span>，是通过 DNS 服务器来完成的。<br />
<br />
网站的作用是把计算机上的数据（文章、博客、图片、视频等）分享出去，让别人也能获取到有用的信息；同时，别人也能发布自己的数据（发布文章、留言、上传视频等），让网站的内容更加丰富。网站和用户之间是一个相互促进的关系，网站用户越多，积累的数据也就越多，然后就会吸引更多用户继续分享数据，这是一个良性循环，是一个健康的生态。<br />
<br />
网站是互联网的基石，它让用户获取信息，也让用户分享信息，所以现在的互联网才能丰富多彩。
<h4>
1) 网站服务器（Server）</h4>
我们都知道网站放在服务器上，服务器其实就是一台计算机，它和我们平时使用的笔记本、台式机并没有什么区别，都由主板、CPU、内存、风扇等部件构成。不过，服务器一般是不带显示器、键盘、音响等外设的（当然它也支持这些外设），因为服务器的唯一用途就是运行网站，没有其它作用，所以用家庭台式机的主机箱来类比服务器更加恰当。<br />
<br />
服务器一般放在专业的机房中，这些机房温度恒定、网络畅通、有备用电源、有容灾备份，能够保证服务器 7&times;24 小时不间断运行。<br />
<br />
另外，为了让服务器能够放入机柜中，避免占用太多空间，服务器一般看起来很薄，是扁平的，这就是人们常说的&ldquo;刀片&rdquo;。<br />
<div style="text-align: center;">
<img alt="刀片式服务器" src="../uploads/allimg/200317/1-20031GK1152b.jpg" /><br />
图4：刀片式服务器<br />
<br />
<img alt="服务器机柜" src="../uploads/allimg/200317/1-20031GK145228.jpg" /><br />
图5：服务器机柜</div>
<h2>
3. 总结</h2>
网站可以认为是放在服务器上的一个文件夹，它包含了很多网页文件以及很多子文件夹。用户访问网站就是读取文件的内容，用户分享数据就是修改文件的内容，或者删除现有的文件，或者创建一个新的文件。</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div class="pre-next-page clearfix">&nbsp;</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="3739.html" title="Linux quotacheck命令：扫描文件系统并建立Quota记录文件" target="_blank">Linux quotacheck命令：扫描文件系统并建立Quota记录文件</a></li>
<li><a href="vip_5045.html" title="新手必读的Linux使用注意事项" target="_blank">新手必读的Linux使用注意事项</a></li>
<li><a href="vip_5097.html" title="使用mdadm命令来配置RAID" target="_blank">使用mdadm命令来配置RAID</a></li>
<li><a href="6901.html" title="C++ vector（STL vector）底层实现机制（通俗易懂）" target="_blank">C++ vector（STL vector）底层实现机制（通俗易懂）</a></li>
<li><a href="7118.html" title="Python list列表查找元素" target="_blank">Python list列表查找元素</a></li>
<li><a href="7409.html" title="MySQL IS NULL：空值查询" target="_blank">MySQL IS NULL：空值查询</a></li>
<li><a href="../csharp/this.html" title="C# this关键字" target="_blank">C# this关键字</a></li>
</ul>
</div>
</div>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 7410;
window.arcId = "9774T7qt/dvFsXkKXmMD52V1lTNub5o0WJWMH9pgrZWNs1a6X4gxTaQ+gbc";
window.typeidChain = "344";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";
window.prePageURL = "/html/";
window.nextPageURL = "/view/9381.html";
</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>