<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 启用Chromium高速渲染模式 -->
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<!-- 禁止百度转码 -->
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止识别电话号码 -->
<meta name="format-detection" content="telephone=no" />

<link rel="shortcut icon" href="../favicon_3.ico" />
<link href="../templets/new/style/common_2.css" rel="stylesheet" />
<title>HTML表单：&lt;form&gt;标签</title>
<meta name="description" content="在原来设计的网站中，用户访问网站可能就只是单纯的想要查找一些信息，但是随着网络的发展，越来越多的网站需要用户参与进来告诉网站一些他们自己的信息。例如，网站上的问卷" />
</head>
<body>
<div id="topbar" class="clearfix">
	<ul id="product-type" class="left">
		<li>
			<a href="../m_biancheng_default_2.html"><span class="iconfont iconfont-home"></span>首页</a>
		</li>
		<li class="active">
			<a href="../sitemap/sitemap_2.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
		</li>
		<li>
			<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
		</li>
		<li>
			<a href="niz69i_5.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
		</li>
		<!-- <li>
			<a href="https://www.54benniao.com/c_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-c-course"></span>C语言高级课程</a>
		</li>
		<li>
			<a href="https://www.54benniao.com/java_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-java-course"></span>Java高级课程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/q2a/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-q2a"></span>一对一答疑</a>
		</li> -->
	</ul>
</div>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="../m_biancheng_default_2.html">
		<img height="26" src="../templets/new/images/logo_2.png" alt="C语言中文网" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li class="wap-yes"><a href="../m_biancheng_default_2.html">首页</a></li>
		<li><a href="../c/c_4.html">C语言教程</a></li>
		<li><a href="../cplus/cplus_2.html">C++教程</a></li>
		<li><a href="../python/python_2.html">Python教程</a></li>
		<li><a href="../java/java_2.html">Java教程</a></li>
		<li><a href="../linux_tutorial/linux_tutorial_2.html">Linux入门</a></li>
		<li><a href="../sitemap/sitemap_2.html" title="网站地图">更多&gt;&gt;</a></li>
	</ul>
	<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="iconfont"></span></span>

	<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main" class="clearfix">
	<div id="sidebar" class="toggle-target">
	<div id="contents">
		<dt><span class="iconfont iconfont-list-vertical" aria-hidden="true"></span><a href="../html/html_2.html">HTML</a></dt>
		<dd>
        	<span class="channel-num">1</span>
        	<a href="7410_2.html">网站到底是什么？</a>
        </dd>
<dd>
        	<span class="channel-num">2</span>
        	<a href="9381_2.html">HTML是什么</a>
        </dd>
<dd>
        	<span class="channel-num">3</span>
        	<a href="9382_2.html">HTML标签的语法格式</a>
        </dd>
<dd>
        	<span class="channel-num">4</span>
        	<a href="9383_2.html">HTML属性</a>
        </dd>
<dd>
        	<span class="channel-num">5</span>
        	<a href="9384_2.html">HTML标题</a>
        </dd>
<dd>
        	<span class="channel-num">6</span>
        	<a href="9385_2.html">HTML段落</a>
        </dd>
<dd>
        	<span class="channel-num">7</span>
        	<a href="9386_2.html">HTML文本格式化</a>
        </dd>
<dd>
        	<span class="channel-num">8</span>
        	<a href="9387_2.html">HTML超链接</a>
        </dd>
<dd>
        	<span class="channel-num">9</span>
        	<a href="7528_2.html">HTML插入图片</a>
        </dd>
<dd>
        	<span class="channel-num">10</span>
        	<a href="7540_2.html">HTML表格</a>
        </dd>
<dd>
        	<span class="channel-num">11</span>
        	<a href="9389_2.html">HTML列表</a>
        </dd>
<dd>
        	<span class="channel-num">12</span>
        	<a href="7564_2.html">HTML表单</a>
        </dd>
<dd>
        	<span class="channel-num">13</span>
        	<a href="9391_2.html">HTML注释</a>
        </dd>
<dd>
        	<span class="channel-num">14</span>
        	<a href="1293_2.html">HTML嵌入CSS样式</a>
        </dd>
<dd>
        	<span class="channel-num">15</span>
        	<a href="9392_2.html">HTML块级元素和内联元素</a>
        </dd>
<dd>
        	<span class="channel-num">16</span>
        	<a href="9393_2.html">HTML布局</a>
        </dd>
<dd>
        	<span class="channel-num">17</span>
        	<a href="9394_2.html">HTML内联框架</a>
        </dd>
<dd>
        	<span class="channel-num">18</span>
        	<a href="9395_2.html">HTML头部标签</a>
        </dd>

	</div>
</div>
	<div id="article-wrap">
		<div id="article">
			<div class="arc-info">
	<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../m_biancheng_default_2.html">首页</a> &gt; <a href="../html/html_2.html">HTML</a></span>
</div>

<div id="ggxc-position-bottom" class="ggxc-box"></div>
			<h1>HTML表单：&lt;form&gt;标签</h1>
			<div class="pre-next-page clearfix">&nbsp;</div>
			<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
			<div id="arc-body">当您想要通过网页来收集一些用户的信息（例如用户名、电话、邮箱地址等）时，就需要用到 HTML 表单。表单可以接收用户输入的信息，然后将其发送到后端应用程序，例如 PHP、Java、Python 等，后端应用程序将根据定义好的业务逻辑对表单传递来的数据进行处理。<br />
<br />
表单属于 HTML 文档的一部分，其中包含了如输入框、复选框、单选按钮、提交按钮等不同的表单控件，用户通过修改表单中的元素（例如输入文本，选择某个选项等）来完成表单，通过表单中的提交按钮将表单数据提交给后端程序。<br />
<br />
在 HTML 中创建表单需要用到<code> &lt;form&gt; </code>标签，具体语法如下所示：<br />
<p class="info-box">
	&lt;form action=&quot;URL&quot; method=&quot;GET|POST&quot;&gt;<br />
	&nbsp;&nbsp;&nbsp; 表单中的其它标签<br />
	&lt;/form&gt;</p>
对属性的说明：
<ul>
	<li>
		action 属性用来指明将表单提交到哪个页面；</li>
	<li>
		method 属性表示使用哪个方式提交数据，包括 GET 和 POST 两种方式，它们两者的区别如下：
		<ul>
			<li>
				GET：用户点击提交按钮后，提交的信息会被显示在页面的地址栏中。一般情况下，GET 提交方式中不建议包含密码，因为密码被提交到地址栏，不安全。</li>
			<li>
				POST：如果表单包含密码这种敏感信息，建议使用 POST 方式进行提交，这样数据会传送到后台，不显示在地址栏中，相对安全。</li>
		</ul>
	</li>
</ul>
<h2>
	表单属性</h2>
HTML 为<code>&lt;form&gt;</code>标签提供了一些专用的属性，如下表所示：<br />
<br />
<table>
	<tbody>
		<tr>
			<th>
				属性</th>
			<th>
				可选值</th>
			<th>
				描述</th>
		</tr>
		<tr>
			<td>
				accept</td>
			<td>
				MIME_type</td>
			<td>
				<span style="color:#b22222;">HTML5 中不再支持</span>，设置服务器要接收的文件类型</td>
		</tr>
		<tr>
			<td>
				accept-charset</td>
			<td>
				character_set</td>
			<td>
				设置表单数据的字符集（默认为 HTML 文档字符集）</td>
		</tr>
		<tr>
			<td>
				action</td>
			<td>
				URL</td>
			<td>
				设置要将表单提交到何处（默认为当前页面）</td>
		</tr>
		<tr>
			<td>
				autocomplete</td>
			<td>
				on、off</td>
			<td>
				设置是否启用表单的自动完成功能（默认开启）</td>
		</tr>
		<tr>
			<td>
				enctype</td>
			<td>
				application/x-www-form-urlencoded、<br />
				multipart/form-data、<br />
				text/plain</td>
			<td>
				设置在提交表单数据之前如何对数据进行编码（适用于 method=&quot;post&quot; 的情况）</td>
		</tr>
		<tr>
			<td>
				method</td>
			<td>
				get、post</td>
			<td>
				设置使用哪种 HTTP 方法来提交表单数据（默认为 get）</td>
		</tr>
		<tr>
			<td>
				name</td>
			<td>
				text</td>
			<td>
				设置表单的名称</td>
		</tr>
		<tr>
			<td>
				novalidate</td>
			<td>
				novalidate</td>
			<td>
				如果使用该属性，则提交表单时不进行验证</td>
		</tr>
		<tr>
			<td>
				target</td>
			<td>
				_blank、_self、_parent、_top</td>
			<td>
				设置在何处打开 action 属性设定的链接（默认为 _self）</td>
		</tr>
	</tbody>
</table>
<br />
action 和 method 是最常用的两个属性。<br />
<h2>
	表单控件</h2>
表单用来收集用户数据，这些数据需要填写在各种控件中。HTML 控件也通过标签来实现，只是它们会呈现一些特殊的外观，并具有一些交互功能。<br />
<br />
HTML 表单中可以包含如下表所示的控件：<br />
<br />
<table>
	<tbody>
		<tr>
			<th>
				控件/标签</th>
			<th>
				描述</th>
		</tr>
		<tr>
			<td>
				&lt;input&gt;</td>
			<td>
				定义输入框</td>
		</tr>
		<tr>
			<td>
				&lt;textarea&gt;</td>
			<td>
				定义文本域（一个可以输入多行文本的控件）</td>
		</tr>
		<tr>
			<td>
				&lt;label&gt;</td>
			<td>
				为表单中的各个控件定义标题</td>
		</tr>
		<tr>
			<td>
				&lt;fieldset&gt;</td>
			<td>
				定义一组相关的表单元素，并使用边框包裹起来</td>
		</tr>
		<tr>
			<td>
				&lt;legend&gt;</td>
			<td>
				定义&nbsp;&lt;fieldset&gt; 元素的标题</td>
		</tr>
		<tr>
			<td>
				&lt;select&gt;</td>
			<td>
				定义下拉列表</td>
		</tr>
		<tr>
			<td>
				&lt;optgroup&gt;</td>
			<td>
				定义选项组</td>
		</tr>
		<tr>
			<td>
				&lt;option&gt;</td>
			<td>
				定义下拉列表中的选项</td>
		</tr>
		<tr>
			<td>
				&lt;button&gt;</td>
			<td>
				定义一个可以点击的按钮</td>
		</tr>
		<tr>
			<td>
				&lt;datalist&gt;</td>
			<td>
				指定一个预先定义的输入控件选项列表</td>
		</tr>
		<tr>
			<td>
				&lt;keygen&gt;</td>
			<td>
				定义表单的密钥对生成器字段</td>
		</tr>
		<tr>
			<td>
				&lt;output&gt;</td>
			<td>
				定义一个计算结果</td>
		</tr>
	</tbody>
</table>
<br />
这里我们不再一一列举各种控件的用法，请读者点击链接跳转到对应页面学习，下面我们通过一个完整的示例来演示一下：<br />
<pre class="html">
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;title&gt;HTML form表单演示&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;form action=&quot;./userinfo.php&quot; method=&quot;POST&quot;&gt;
        &lt;!-- 文本输入框控件 --&gt;
        &lt;label&gt;用户名： &lt;/label&gt;&lt;input name=&quot;username&quot; type=&quot;text&quot;&gt;&lt;br&gt;

        &lt;!-- 密码框控件 --&gt;
        &lt;label&gt;密&amp;emsp;码： &lt;/label&gt;&lt;input name=&quot;password&quot; type=&quot;password&quot;&gt;&lt;br&gt;

        &lt;!-- 下拉菜单控件 --&gt;
        &lt;label&gt;性&amp;emsp;别：&lt;/label&gt;
        &lt;select name=&quot;sex&quot;&gt;
            &lt;option value=&quot;1&quot;&gt;男&lt;/option&gt;
            &lt;option value=&quot;2&quot;&gt;女&lt;/option&gt;
            &lt;option value=&quot;3&quot;&gt;未知&lt;/option&gt;
        &lt;/select&gt;
        &lt;br&gt;

        &lt;!-- 复选框控件 --&gt;
        &lt;label&gt;爱&amp;emsp;好：&lt;/label&gt;
        &lt;input type=&quot;checkbox&quot; name=&quot;hobby&quot; value=&quot;1&quot;&gt;听音乐
        &lt;input type=&quot;checkbox&quot; name=&quot;hobby&quot; value=&quot;2&quot;&gt;看电影
        &lt;input type=&quot;checkbox&quot; name=&quot;hobby&quot; value=&quot;3&quot;&gt;打游戏
        &lt;br&gt;

        &lt;!-- 单选按钮控件 --&gt;
        &lt;label&gt;学&amp;emsp;历：&lt;/label&gt;
        &lt;input type=&quot;radio&quot; name=&quot;education&quot; value=&quot;1&quot;&gt;小学
        &lt;input type=&quot;radio&quot; name=&quot;education&quot; value=&quot;2&quot;&gt;中学
        &lt;input type=&quot;radio&quot; name=&quot;education&quot; value=&quot;3&quot;&gt;本科
        &lt;input type=&quot;radio&quot; name=&quot;education&quot; value=&quot;4&quot;&gt;硕士
        &lt;input type=&quot;radio&quot; name=&quot;education&quot; value=&quot;5&quot;&gt;博士
        &lt;br&gt;

        &lt;!-- 按钮 --&gt;
        &lt;input type=&quot;submit&quot; value=&quot;提 交&quot;&gt;&amp;emsp;&amp;emsp;
        &lt;input type=&quot;reset&quot; value=&quot;重 置&quot;&gt;
    &lt;/form&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
运行结果如下图所示：
<div style="text-align: center;">
	<img alt="HTML form表单演示" src="../uploads/allimg/210929/1-210929163KWX_2.png" /><br />
	图1：HTML form 表单演示</div>
<br />
填写好用户数据，点击&ldquo;提交&rdquo;按钮，即可使用 POST 方式将数据提交到当前目录下的 userinfo.php 页面，在服务器端通过 PHP 代码可以接收提交的数据。</div>
			<div id="ggxc-weixin-arcbottom">
	<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
	<p style="margin-top:12px; text-align:center;">
		<img src="../templets/new/images/material/qrcode_mp_4.png" alt="公众号二维码" width="160" /><br />
		<span class="col-green">微信扫码关注公众号</span>
	</p>
</div>
			<div class="pre-next-page clearfix">&nbsp;</div>
			<div id="nice-arcs" class="box-bottom">
    <h4>推荐阅读</h4>
    <ul class="clearfix">
<li><a href="niz69i_8.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_4.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_4.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="2952_2.html" title="Linux源码包安装和卸载教程（以apache为例）" target="_blank">Linux源码包安装和卸载教程（以apache为例）</a></li>
<li><a href="5668_2.html" title="JS截取数组：使用splice()和slice()方法" target="_blank">JS截取数组：使用splice()和slice()方法</a></li>
<li><a href="../python_spider/case04_2.html" title="Python爬虫抓取链家二手房数据" target="_blank">Python爬虫抓取链家二手房数据</a></li>
<li><a href="../sql/create-database_2.html" title="SQL CREATE DATABASE：创建数据库" target="_blank">SQL CREATE DATABASE：创建数据库</a></li>
<li><a href="9364_2.html" title="JS Navigator对象：获取浏览器信息" target="_blank">JS Navigator对象：获取浏览器信息</a></li>
<li><a href="5bwlrpq_2.html" title="pytest框架是什么？" target="_blank">pytest框架是什么？</a></li>
<li><a href="flj4xw6_2.html" title="C++函数重载详解" target="_blank">C++函数重载详解</a></li>
</ul>
</div>
		</div>
		
	</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 7564;
window.arcId = "15f0JIp0Vj2Vme75Fv4TrfRcSDRYxtysiz1aak3g3stTsIGbfIhs/ZIWClo";
window.typeidChain = "344";
</script>
<div id="footer" class="clearfix">
	<div class="info left">
	<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
	<p>
		<a href="8066_2.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
		<a href="8092_3.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
		<a href="8097_2.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
		<a href="9648_2.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
		<a href="8093_2.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
		<a href="../sitemap/sitemap_2.html" target="_blank" rel="nofollow">网站地图</a>
	</p>
	<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan_2.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
	</p>
	</div>
	<img id="logo_bottom" class="right" src="https://m.biancheng.net/templets/new/images/logo_bottom_2.gif" alt="底部Logo" />
	<span id="return-top"><b>↑</b></span>
</div>

<div id="addweixin-widget">
	<p>
		<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://m.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
		<img src="https://m.biancheng.net/templets/new/images/material/qrcode_mp_4.png" alt="微信交流群" width="120" />
		<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
	</p>
	<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>

<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";
window.prePageURL = "/view/9389.html";
window.nextPageURL = "/view/9391.html";
</script>

<script src="https://m.biancheng.net/templets/new/script/jquery1.12.4.min_2.js"></script>
<script src="https://m.biancheng.net/templets/new/script/common_2.js"></script>
<!-- 51la V6 -->
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<!-- 51la V5 -->
<!-- <span style="display: none;"><script type="text/javascript" src="https://js.users.51.la/21368967.js"></script></span> -->
</body>
</html>