<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>Django HTML表单实现用户注册</title>
<meta name="description" content="在本节我们将进入逻辑性较强的，代码环节，主要以实现功能为主，并且也会穿插介绍一些知识点，带领大家对之前讲过的知识重点复习，做到温故而知新。" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; <a href="../django/django.html">Django</a></span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>Django HTML表单实现用户注册</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">在本节我们将进入逻辑性较强的代码环节，主要以实现项目中功能为主，并且会穿插介绍一些知识点，带领大家对之前讲过的知识进行重点复习，做到温故而知新。在以下几节中我们将重点介绍如何实现 Django 的注册登录这一基础功能，如果有小伙伴对 HTML Form 表单不熟悉的，建议马上进行复习，很简单的一看就会哦，下面就正式开始本节的内容。<br />
<h2>
1. HTML表单实现用户注册</h2>
在每一个 Web 应用网站都会提供用户的注册功能，这也是网站获取用户信息的一种方式，所以要理解此处的逻辑，大家几个网站平台的账号，不过在向注册的过程中，要站在一个程序员的角度，去思考问题，我相信你会有很大的发现与收获，如图所示是 C语言中文网的注册界面。<br />
<br />
<div style="text-align: center;">
<img alt="C语言中文往网注册界面" src="../uploads/allimg/200608/9-20060Q553403M.png" /><br />
图1: C语言中文网注册界面</div>
<h4>
1) Django Form表单的处理过程</h4>
Django 开发的是动态 Web 服务，而非单纯提供静态页面。动态服务的本质在于和用户进行互动，接收用户的输入，然后根据输入的不同，返回不同的内容给用户。在这个过程中返回数据是服务器后端完成的，而接收用户输入就需要靠 HTML 表单即 <code>&lt;form&gt;</code> 标签来完成。<br />
<br />
Form 表单可以用来收集其内部标签中的用户输入，并将搜集到的用户输入以键值对的形式提交给 action 属性关联的 url，比如 &lt;input&gt; 的输入就是以 name 属性值为键，以 value 为值。然后通过 GET/POST 方法将数据发送到服务端进行处理。<br />
<h4>
2) 模板层编写HTML Form表单</h4>
新建一个 app 应用使用<code>python manager.py startapp user </code>在 templats\user 目录下新建 register.html 文件并在其中简单编写如下代码：
<pre class="html">
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;title&gt;注册&lt;/title&gt;
    &lt;style&gt;
        #reg .pwd p input{
           margin-left:14px
        }
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div id=&quot;reg&quot;&gt;
&lt;form action=&quot;/user/reg/&quot; method=&quot;post&quot;&gt;
    {% csrf_token %}
    &lt;p&gt;
        用户名: &lt;input type=&quot;text&quot; name=&quot;username&quot; value=&quot;{{ username }}&quot;&gt;
        &lt;span&gt;{{ username_error }}&lt;/span&gt;
    &lt;/p&gt;
    &lt;div class=&quot;pwd&quot;&gt;
        &lt;p&gt;
        密  码: &lt;input type=&quot;password&quot; name=&quot;password_1&quot; value=&quot;{{ password_1 }}&quot;&gt;
        &lt;span&gt; {{ password_1_error }} &lt;/span&gt;
    &lt;/p&gt;
    &lt;/div&gt;
&lt;div class=&quot;pd&quot;&gt;
    &lt;p&gt;
         确认密码: &lt;input type=&quot;password&quot; name=&quot;password_2&quot; value=&quot;{{ password_2 }}&quot;&gt;
        &lt;span&gt; {{ password_2_error }} &lt;/span&gt;
    &lt;/p&gt;
&lt;/div&gt;
    &lt;p&gt;
        &lt;input type=&quot;submit&quot; value=&quot;注册&quot;&gt;
    &lt;/p&gt;
&lt;/form&gt;
&lt;/div&gt;</pre>
<h4>
3) 视图层编写用户注册逻辑代码</h4>
在 user 应用的 views.py 编写用户注册的逻辑业务代码。如下所示：
<pre class="python">
from django.shortcuts import render
import hashlib
from django.http import HttpResponse
from user.models import User

def reg_view(request):
    #用户注册逻辑代码
    if request.method == &#39;GET&#39;:
        return render(request, &#39;user/register.html&#39;)
    elif request.method == &#39;POST&#39;:
        #处理提交数据
        username = request.POST.get(&#39;username&#39;)
        if not username:
            username_error = &#39;请输入正确的用户名&#39;
            return render(request, &#39;user/register.html&#39;, locals())
        password_1 = request.POST.get(&#39;password_1&#39;)
        #1 生成hash算法对象对密码进行加密
        m = hashlib.md5()
        #2 对待加密明文使用update方法！要求输入明文为字节串
        m.update(password_1.encode())
        #3 调用对象的 hexdigest[16进制],通常存16进制
        password_m1 = m.hexdigest()
        print(password_m1)#加密后的密文会显示在终端上
        password_2 = request.POST.get(&#39;password_2&#39;)
        #对password_2执行MD5加密处理
        m = hashlib.md5()
        m.update(password_2.encode())
        password_m2 = m.hexdigest()
        print(password_m2)
        #可以设定密码格式，判断是都符合
        if not password_m1 or not password_m2:
            password_1_error = &#39;请输入正确的密码&#39;
            return render(request, &#39;user/register.html&#39;, locals())
         #判断两次密码输入是否一致
        if password_m1 != password_m2:
            password_2_error = &#39;两次密码不一致&#39;
            return render(request, &#39;user/register.html&#39;, locals())

        #查询用户名是否已注册过
        try:
            old_user = User.objects.get(username=username)
            #当前用户名已被注册
            username_error = &#39;用户已经被注册 !&#39;
            return render(request, &#39;user/register.html&#39;,locals())
        except Exception as e:
            # 若没查到的情况下进行报错，则证明当前用户名可用
            print(&#39;%s是可用用户名--%s&#39;%(username, e))
            try:
                user = User.objects.create(username=username, password=password_m1)
                #注册成功后
                html = &#39;&#39;&#39;
                注册成功 点击&lt;a href=&#39;/index/&#39;&gt;进入首页&lt;/a&gt;
                &#39;&#39;&#39;
                #存session
                request.session[&#39;username&#39;] = username
                return HttpResponse(html)
            #若创建不成功会抛出异常
            except Exception as e:
                # 还可能存在用户名被重复使用的情况
                print(e)
                username_error = &#39;该用户名已经被占用 &#39;
                return render(request, &#39;user/register.html&#39;, locals())</pre>
<h4>
4) 数据存储层编写Model模型类</h4>
在 user 应用的 user\models.py 中编写对应的模型类，如下所示，新建了三个字段：
<pre class="python">
from django.db import models
class User(models.Model):
    username=models.CharField(max_length=100,verbose_name=&#39;用户注册&#39;)
    password =models.CharField(max_length=100,verbose_name=&#39;用户密码&#39;)
    create_time=models.DateTimeField(auto_now_add=True)#第一次创建的时间
    def __str__(self):
        return &#39;用户名：%s&#39;%(self.username)</pre>
<h4>
5) 完成路由映射关系配置</h4>
最后就是需要完成路由关系的配置，首先建立分布式路由。首先在 BookStore\urls.py 中关联 user 应用的路由映射，然后在 user 应用中新建 urls.py 文件，并关联视图函数 reg_view。代码如下所示：<br />
<pre class="python">
#BookStore\urls.py代码
urlpatterns=[path(&#39;user/&#39;,include(&#39;user.urls&#39;))]
#user\urls.py代码
from django.urls import path
from user import views
urlpatterns=[
    path(&#39;reg/&#39;,views.reg_view)
]</pre>
<h4>
6) 用户注册效果展示</h4>
访问 127.0.0.1:8000\user\reg 进行用户的注册。我们分别注册了以下用户，访问 MySQL 数据库对注册用户数据记录进行查询，如下所示：
<pre class="info-box">
mysql&gt; select * from user_user;
+----+----------+----------------------------------+----------------------------+
| id | username | password                         | create_time                |
+----+----------+----------------------------------+----------------------------+
|  1 | 冯增斌   | 123456                           | 2020-06-09 10:14:59.525601 |
|  2 | 关云长   | 123456                           | 2020-06-09 11:29:45.469154 |
|  3 | 张翼德   | e10adc3949ba59abbe56e057f20f883e | 2020-06-09 13:04:23.943287 |
|  4 | 黄汉升   | 25f9e794323b453885f5181f1b624d0b | 2020-06-09 13:05:33.282287 |
|  5 | 马孟起   | e10adc3949ba59abbe56e057f20f883e | 2020-06-09 13:06:16.395309 |
|  6 | 赵子龙   | 9fa5398e7aaf9e3a9cd3a1035998454d | 2020-06-09 13:06:56.038290 |
|  7 | 刘玄德   | e10adc3949ba59abbe56e057f20f883e | 2020-06-09 14:55:27.623265 |
|  8 | 诸葛亮   | e10adc3949ba59abbe56e057f20f883e | 2020-06-09 16:07:21.851377 |
+----+----------+----------------------------------+----------------------------+
8 rows in set (0.00 sec)</pre>
上述数据表中就是我们已经注册的用户，我们此时再将求中一个用户进行注册，就会得到如下的结果：<br />
<br />
<div style="text-align: center;">
<img alt="HTML Form表单实现用户注册" src="../uploads/allimg/200609/9-2006091K322X3.png" /><br />
图1: HTML表单实现用户注册<br />
&nbsp;</div>
上述代码就完成了一个简单用户注册功能，在代码注释中包含了实现功能的逻辑思路，因为 Django 时后端框架，所以对于前端的界面，我们基本没有进行设计，只关注了后端的逻辑代码，后续会使用 Bootstrap 对界面进行一个简单的美化。下面我们对上述过程中的知识点以及注意事项进行总结归纳。
<h2>
2. 总结以及注意事项</h2>
<h4>
1) 注意事项</h4>
当你使用命令新建 user 应用后，各位小伙伴，你有没有对应用进行注册呢？如果没有注册，那么你会收到一大堆的报错信息，app 应用又是如何进行注册的呢，你还记得吗？首先找到配置文件 settings.py，然后在 INSTALL_APPS 列表中注册应用 user。还有当你在 user\models.py 中创建完成模型类数据表后，有没有记得要执行数据库的迁移命令呢？如果不执行你也会收到 n 多条的报错信息。以上这些小的细节，你注意到了吗？
<h4>
2) 总结归纳</h4>
本节使用 HTML Form 表单完成了我们第一个功能即用户的注册功能。我们从 Django MTV 设计模式的三个角度出发编写代码，从这个过程中，我相信大家对于 Django 的使用模式有了进一步的了解。而对于注册功能的逻辑分析，这个能力需要大家不断人提高，计算机技术与应用是一门思维严谨的学科，要求我们有缜密的思维逻辑，当然这个能力不是一蹴而就的，需要各位小伙伴，多写多分析多练习，比如分析其他网站的登录注册的逻辑，你会发现有很多思维都具有共性，所以我说注册登录是基础功能，但是它又不可或缺。<br />
<br />
注册登录退出功能与实际的业务逻辑相比较还是比较简单的，大家通过简单功能的学习，要学会如何使用 Django 进行功能开发的基本模式，这是本节中最需要领悟的知识点，也是重中之重。再就是要善于利用异常处理机制，这是 Python 语言的一个特性，它会帮助我们在程序出错的时候进行分析处理，同时也避免大面积报错时找不到根源的问题。以上就是本节的相关总结，在下一节，我们将继续讲解如何实现用户的登录功能。<br />
</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="233.html" title="gets函数，C语言gets函数详解" target="_blank">gets函数，C语言gets函数详解</a></li>
<li><a href="2214.html" title="C++类的成员变量和成员函数详解" target="_blank">C++类的成员变量和成员函数详解</a></li>
<li><a href="vip_6000.html" title="Python元组和列表的区别" target="_blank">Python元组和列表的区别</a></li>
<li><a href="6181.html" title="PHP is_array()：判断是否为数组" target="_blank">PHP is_array()：判断是否为数组</a></li>
<li><a href="7467.html" title="如何启动Django项目详解" target="_blank">如何启动Django项目详解</a></li>
<li><a href="0i6qhn.html" title="C语言和C++应该先学哪个" target="_blank">C语言和C++应该先学哪个</a></li>
<li><a href="onq4jl.html" title="C语言#define指令" target="_blank">C语言#define指令</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 7830;
window.arcId = "43f2a18maR6ByK7f72EI9bEJaFg0VGJa0uFetRfJykyZzXjJNrX1PF2jzm0";
window.typeidChain = "339";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>