<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>linux netstat命令：网络状态查看命令</title>
<meta name="description" content="我们需要先简单了解一下端口的作用。在互联网中，如果 IP 地址是 IP 服务器在互联网中唯一的地址标识，那么大家可以想象一下：我有一台服务器，它有固定的公网 IP 地址，通过 IP 地" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>linux netstat命令：网络状态查看命令</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">我们需要先简单了解一下端口的作用。在互联网中，如果 IP 地址是 IP 服务器在互联网中唯一的地址标识，那么大家可以想象一下：我有一台服务器，它有固定的公网 IP 地址，通过 IP 地址可以找到我的服务器。但是我的服务器中既启动了网页服务（Web 服务），又启动了文件传输服务（FTP 服务），那么你的客户端访问我的服务器，到底应该如何确定你访问的是哪一个服务呢？<br />
<br />
端口就是用于网络通信的接口，是数据从传输层向上传递到应用层的数据通道。我们可以理解为每个常规服务都有默认的端口号，通过不同的端口号，我们就可以确定不同的服务。也就是说，客户端通过 IP 地址访问到我的服务器，如果数据包访问的是 80 端口，则访问的是 Web 服务；而如果数据包访问的是 21 端口，则访问的是 FTP 服务。<br />
<br />
我们可以简单地理解为每个常规服务都有一个默认端口（默认端口可以修改），这个端口是所有人都知道的，客户端可以通过固定的端口访问指定的服务。而我们通过在服务器中查看已经开启的端口号，就可以判断服务器中开启了那些服务。<br />
<br />
netstat 是网络状态查看命令，既可以查看到本机开启的端口，也可以查看有哪些客户端连接。netstat 命令的基本信息如下。<br />
<ul>
<li>
命令名称：netstat。</li>
<li>
英文原意：Print network connections, routing tables, interface statistics, masquerade connections, and multicast memberships。</li>
<li>
所在路径：/bin/netstat.</li>
<li>
执行权限：所有用户。</li>
<li>
功能描述：输出网络连接、路由表、接口统计、伪装连接和组播成员。</li>
</ul>
<br />
命令格式如下：
<p class="info-box">
[root@localhost ~]# netstat [选项]</p>
选项：
<ul>
<li>
-a：列出所有网络状态，包括 Socket 程序；</li>
<li>
-c秒数：指定每隔几秒刷新一次网络状态；</li>
<li>
-n：使用 IP 地址和端口号显示，不使用域名与服务名；</li>
<li>
-p：显示 PID 和程序名；</li>
<li>
-t：显示使用 TCP 协议端口的连接状况；</li>
<li>
-u：显示使用 UDP 协议端口的连接状况；</li>
<li>
-I：仅显示监听状态的连接；</li>
<li>
-r：显示路由表；</li>
</ul>
<br />
<strong>【例 1】</strong>查看本机开启的端口。<br />
这是本机最常用的方式，使用选项&quot;-tuln&quot;。因为使用了&quot;-I&quot;选项，所以只能看到监听状态的连接，而不能看到已经连接状态的连接。例如：<br />
<p class="info-box">
[root@localhost ~]# netstat -tuln<br />
Active Internet connections (only servers)<br />
Proto Recv-Q Send-Q Local Address Foreign Address State<br />
tcp&nbsp; 0&nbsp; 0 0.0.0.0:3306&nbsp; 0.0.0.0:* LISTEN<br />
tcp&nbsp; 0&nbsp; 0 0.0.0.0:11211 0.0.0.0:* LISTEN<br />
tcp&nbsp; 0&nbsp; 0 0.0.0.0:22 0.0.0.0:* LISTEN<br />
tcp&nbsp; 0&nbsp; 0:::11211 :::* LISTEN<br />
tcp&nbsp; 0&nbsp; 0 :::80 :::* LISTEN<br />
tcp&nbsp; 0&nbsp;&nbsp; 0 :::22 :::* LISTEN<br />
udp&nbsp; 0&nbsp;&nbsp; 0 0.0.0.0:11211 0.0.0.0:*<br />
udp&nbsp; 0&nbsp;&nbsp; 0:::11211 :::*<br />
#协议接收队列发送队列本机的 IP 地址及端口号 远程主机的 IP 地址及端口号 状态</p>
这个命令的输出较多。<br />
1) Proto：网络连接的协议，一般就是 TCP 协议或者 UDP 协议。<br />
2) Recv-Q：表示接收到的数据，已经在本地的缓冲中，但是还没有被进程取走。<br />
3) Send-Q：表示从本机发送，对方还没有收到的数据，依然在本地的缓冲中，不具备 ACK 标志的数据包。<br />
4) Local Address：本机的 IP 地址和端口号。<br />
5) ForeignAddress：远程主机的 IP 地址和端口号。<br />
6) State：状态。常见的状态主要有以下几种。
<ul>
<li style="margin-left: 40px;">
-LISTEN：监听状态，只有 TCP 协议需要监听，而 UDP 协议不需要监听。</li>
<li style="margin-left: 40px;">
-ESTABLISHED：已经建立连接的状态。如果使用&quot;-I&quot;选项，则看不到已经建立连接的状态。</li>
<li style="margin-left: 40px;">
-SYN_SENT：SYN 发起包，就是主动发起连接的数据包。</li>
<li style="margin-left: 40px;">
-SYN_RECV：接收到主动连接的数据包。</li>
<li style="margin-left: 40px;">
-FIN_WAIT1：正在中断的连接。</li>
<li style="margin-left: 40px;">
-FIN_WAIT2：已经中断的连接，但是正在等待对方主机进行确认。</li>
<li style="margin-left: 40px;">
-TIME_WAIT：连接已经中断，但是套接字依然在网络中等待结束。</li>
<li style="margin-left: 40px;">
-CLOSED：套接字没有被使用。</li>
</ul>
<br />
在这些状态中，我们最常用的就是 LISTEN 和 ESTABLISHED 状态，一种代表正在监听，另一种代表已经连接。<br />
<br />
<strong>【例 2】</strong>查看本机有哪些程序开启的端口。<br />
如果使用&quot;-p&quot;选项，则可以查看到是哪个程序占用了端口，并且可以知道这个程序的 PID。例如：<br />
<p class="info-box">
[root@localhost ~]# netstat -tulnp<br />
Active Internet connections (only servers)<br />
Proto Recv-Q Send-Q Local Address&nbsp; Foreign Address State PID/Program name<br />
tcp&nbsp; 0&nbsp; 0 0.0.0.0:3306&nbsp; 0.0.0.0:* LISTEN 2359/mysqld<br />
tcp&nbsp; 0&nbsp; 0 0.0.0.0:11211&nbsp; 0.0.0.0:* LISTEN 1563/memcached<br />
tcp&nbsp; 0&nbsp; 0 0.0.0.0:22&nbsp; 0.0.0.0:* LISTEN 1490/sshd<br />
tcp&nbsp; 0&nbsp; 0 :::11211 :::* LISTEN 1563/memcached<br />
tcp&nbsp; 0&nbsp; 0 :::80 :::* LISTEN 21025/httpd<br />
tcp&nbsp; 0&nbsp; 0 :::22 :::*<br />
LISTEN 1490/sshd<br />
udp&nbsp; 0&nbsp; 0 0.0.0.0:11211&nbsp; 0.0.0.0:* 1563/memcached<br />
udp&nbsp; 0&nbsp; 0:::11211 :::* 1563/memcached<br />
#比之前的命令多了一个&quot;-p&quot;选项，结果多了可以知道是哪个程序占用了端口</p>
<br />
<strong>【例 3】</strong> 查看所有连接。<br />
使用选项&quot;-an&quot;可以查看所有连接，包括监听状态的连接（LISTEN）、已经建立连接状态的连接（ESTABLISHED）、Socke 程序连接等。因为连接较多，所以输出的内容有很多。例如：
<p class="info-box">
[root@localhost ~]# netstat -an<br />
Active Internet connections (servers and established)<br />
Proto Recv-Q Send-Q Local Address&nbsp; Foreign Address&nbsp; State<br />
tcp&nbsp; 0 0 0.0.0.0:3306 0.0.0.0:* LISTEN<br />
tcp&nbsp; 0 0 0.0.0.0:11211 0.0.0.0:* LISTEN<br />
tcp&nbsp; 0 0 117.79.130.170:80 78.46.174.55:58815 SYN_RECV<br />
tcp&nbsp; 0 0 0.0.0.0:22 0.0.0.0:* LISTEN<br />
tcp&nbsp; 0 0 117.79.130.170:22 124.205.129.99:10379 ESTABLISHED<br />
tcp&nbsp; 0 0 117.79.130.170:22 124.205.129.99:11811 ESTABLISHED<br />
...省略部分内容...<br />
udp&nbsp; 0&nbsp; 0 0.0.0.0:11211 0.0.0.0:*<br />
udp&nbsp; 0 0:::11211 :::*<br />
Active UNIX domain <a href='../socket/socket.html' target='_blank'>socket</a>s (servers and established)<br />
Proto RefCnt Flags Type State I-Node Path<br />
unix&nbsp; 2&nbsp; [ACC]&nbsp; STREAM&nbsp; LISTENING&nbsp; 9761&nbsp; @/var/run/hald/dbus-fr41WkQn1C<br />
&hellip;省略部分内容...</p>
从&quot;Active UNIX domain sockets&quot;开始，之后的内容就是 Socke 程序产生的连接，之前的内容都是网络服务产生的连接。我们可以在&quot;-an&quot;选项的输出中看到各种网络连接状态，而之前的&quot;-tuln&quot;选项则只能看到监听状态。<br />
</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="2020.html" title="C语言指针数组（数组每个元素都是指针）详解" target="_blank">C语言指针数组（数组每个元素都是指针）详解</a></li>
<li><a href="2190.html" title="Python运算符优先级和结合性一览表" target="_blank">Python运算符优先级和结合性一览表</a></li>
<li><a href="5461.html" title="JS判断相等或者不等于（==、===、!=、!==）运算符" target="_blank">JS判断相等或者不等于（==、===、!=、!==）运算符</a></li>
<li><a href="vip_7055.html" title="Java使用正则表达式验证IP地址" target="_blank">Java使用正则表达式验证IP地址</a></li>
<li><a href="maze-puzzle.html" title="迷宫问题" target="_blank">迷宫问题</a></li>
<li><a href="9448.html" title="技术NB的程序员就一定工资高吗？" target="_blank">技术NB的程序员就一定工资高吗？</a></li>
<li><a href="ftrdq8e.html" title="《Web前端技术项目教程（HTML5+CSS3）》PDF下载（高清完整版）" target="_blank">《Web前端技术项目教程（HTML5+CSS3）》PDF下载（高清完整版）</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 800;
window.arcId = "2e6a+ArfEstfcX40/nc9WneuAI90dhnAnytcTiQgNMQxEETryNELX/lHVA";
window.typeidChain = "210|119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>