<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>JS Ajax请求（简明教程）</title>
<meta name="description" content="Ajax 全称Asynchronous JavaScript and XML，译为异步 JavaScript 和 XML，程序员们习惯称之为阿贾克斯，它并不是一种技术，而是多种技术的综合体，其中包括 JavaScript、XML、JSON、DOM、CSS、HTML 以及" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="iconfont"></span></span>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main" class="clearfix">
<div id="sidebar" class="toggle-target">
<div id="contents">
<dt><span class="iconfont iconfont-list-vertical" aria-hidden="true"></span><a href="../js/js.html">JavaScript</a></dt>
<dd>
<span class="channel-num">1</span>
<a href="5351.html">JavaScript是什么</a>
</dd>
<dd>
<span class="channel-num">2</span>
<a href="9338.html">Node.js是什么</a>
</dd>
<dd>
<span class="channel-num">3</span>
<a href="5355.html">第一个JavaScript程序</a>
</dd>
<dd>
<span class="channel-num">4</span>
<a href="5359.html">JavaScript中的几个重要概念</a>
</dd>
<dd>
<span class="channel-num">5</span>
<a href="5370.html">JavaScript注释</a>
</dd>
<dd>
<span class="channel-num">6</span>
<a href="9339.html">JavaScript变量</a>
</dd>
<dd>
<span class="channel-num">7</span>
<a href="9340.html">JavaScript数据类型</a>
</dd>
<dd>
<span class="channel-num">8</span>
<a href="9341.html">JavaScript运算符</a>
</dd>
<dd>
<span class="channel-num">9</span>
<a href="9342.html">JavaScript输出</a>
</dd>
<dd>
<span class="channel-num">10</span>
<a href="5505.html">JavaScript if else</a>
</dd>
<dd>
<span class="channel-num">11</span>
<a href="5526.html">JavaScript switch case</a>
</dd>
<dd>
<span class="channel-num">12</span>
<a href="9343.html">JavaScript while</a>
</dd>
<dd>
<span class="channel-num">13</span>
<a href="9344.html">JavaScript do while</a>
</dd>
<dd>
<span class="channel-num">14</span>
<a href="9345.html">JavaScript for</a>
</dd>
<dd>
<span class="channel-num">15</span>
<a href="9346.html">JavaScript for in</a>
</dd>
<dd>
<span class="channel-num">16</span>
<a href="9347.html">JavaScript for of</a>
</dd>
<dd>
<span class="channel-num">17</span>
<a href="9348.html">JavaScript跳出循环</a>
</dd>
<dd>
<span class="channel-num">18</span>
<a href="9349.html">JavaScript函数</a>
</dd>
<dd>
<span class="channel-num">19</span>
<a href="9351.html">JavaScript事件处理</a>
</dd>
<dd>
<span class="channel-num">20</span>
<a href="9352.html">JavaScript作用域</a>
</dd>
<dd>
<span class="channel-num">21</span>
<a href="9353.html">JavaScript对象</a>
</dd>
<dd>
<span class="channel-num">22</span>
<a href="9354.html">JavaScript Number对象</a>
</dd>
<dd>
<span class="channel-num">23</span>
<a href="9355.html">JavaScript String对象</a>
</dd>
<dd>
<span class="channel-num">24</span>
<a href="9356.html">JavaScript Array对象</a>
</dd>
<dd>
<span class="channel-num">25</span>
<a href="9357.html">JavaScript Date对象</a>
</dd>
<dd>
<span class="channel-num">26</span>
<a href="9358.html">JavaScript Math对象</a>
</dd>
<dd>
<span class="channel-num">27</span>
<a href="9359.html">JavaScript RegExp对象</a>
</dd>
<dd>
<span class="channel-num">28</span>
<a href="9360.html">JavaScript DOM</a>
</dd>
<dd>
<span class="channel-num">29</span>
<a href="9361.html">JavaScript Element对象</a>
</dd>
<dd>
<span class="channel-num">30</span>
<a href="9362.html">JavaScript attributes对象</a>
</dd>
<dd>
<span class="channel-num">31</span>
<a href="9363.html">JavaScript BOM</a>
</dd>
<dd>
<span class="channel-num">32</span>
<a href="9364.html">JavaScript Navigator对象</a>
</dd>
<dd>
<span class="channel-num">33</span>
<a href="9365.html">JavaScript Screen对象</a>
</dd>
<dd>
<span class="channel-num">34</span>
<a href="9366.html">JavaScript Location对象</a>
</dd>
<dd>
<span class="channel-num">35</span>
<a href="9367.html">JavaScript History对象</a>
</dd>
<dd>
<span class="channel-num">36</span>
<a href="9368.html">JavaScript定时器</a>
</dd>
<dd>
<span class="channel-num">37</span>
<a href="9369.html">JavaScript异常处理</a>
</dd>
<dd>
<span class="channel-num">38</span>
<a href="9370.html">JavaScript表单验证</a>
</dd>
<dd>
<span class="channel-num">39</span>
<a href="9371.html">JavaScript动画</a>
</dd>
<dd>
<span class="channel-num">40</span>
<a href="9372.html">JavaScript调试</a>
</dd>
<dd>
<span class="channel-num">41</span>
<a href="9373.html">JavaScript闭包</a>
</dd>
<dd>
<span class="channel-num">42</span>
<a href="9374.html">JavaScript严格模式</a>
</dd>
<dd>
<span class="channel-num">43</span>
<a href="9375.html">JavaScript解析JSON</a>
</dd>
<dd>
<span class="channel-num">44</span>
<a href="9376.html">JavaScript Cookie</a>
</dd>
<dd>
<span class="channel-num">45</span>
<a href="9377.html">JavaScript Ajax请求</a>
</dd>
<dd>
<span class="channel-num">46</span>
<a href="9378.html">JavaScript类型转换</a>
</dd>
<dd>
<span class="channel-num">47</span>
<a href="9379.html">JavaScript事件冒泡与事件捕获</a>
</dd>
<dd>
<span class="channel-num">48</span>
<a href="9380.html">JavaScript事件委托</a>
</dd>
</div>
</div>
<div id="article-wrap">
<div id="article">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; <a href="../js/js.html">JavaScript</a></span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>JS Ajax请求（简明教程）</h1>
<div class="pre-next-page clearfix">&nbsp;</div>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">Ajax 全称&ldquo;Asynchronous JavaScript and XML&rdquo;，译为&ldquo;异步 JavaScript 和 XML&rdquo;，程序员们习惯称之为&ldquo;阿贾克斯&rdquo;，它并不是一种技术，而是多种技术的综合体，其中包括 JavaScript、XML、JSON、DOM、CSS、HTML 以及最重要的 XMLHttpRequest 对象。通过 Ajax 可以异步从服务器请求数据并将数据更新到网页中，整个过程不需要重载（刷新）整个网页，可以将网页的内容更快的呈现给用户。<br />
<br />
这里的异步是指，当程序执行到 Ajax 代码时，将 Ajax 代码交给另外一个线程来执行，不论执行结果如何，当前线程会继续向下执行。<br />
<p class="tip-box">
提示：虽然 X 在 Ajax 中代表 XML，但是由于 JSON 的诸多优势（比如 JSON 属于 JavaScript 的一部分，而且更加轻量），目前 Ajax 中普遍使用 JSON 来传输数据。</p>
<h2>
Ajax 的工作原理</h2>
JavaScript 需要使用浏览器内置的 XMLHttpRequest 对象向服务器发送 HTTP 请求，并接收服务器响应的数据。<br />
<p class="tip-box">
提示：目前，所有的浏览器（Chrome、Firefox、IE7 及以上版本、Safari、Opera 等）都支持 XMLHttpRequest 对象。</p>
下图演示了 Ajax 通信的工作原理：<br />
<br />
<div style="text-align: center;">
<img alt="Ajax 工作原理" src="../uploads/allimg/210927/09343I303-0.gif" /><br />
图1：Ajax 工作原理</div>
<br />
因为 Ajax 请求是异步执行的，Ajax 请求发送之后，代码会继续向下执行，直至结束。<br />
<h2>
发送 Ajax 请求</h2>
要发送 Ajax 请求，首先需要实例化一个 XMLHttpRequest 对象，示例代码如下：<br />
<p class="info-box">
var request = new XMLHttpRequest();</p>
然后，使用 XMLHttpRequest 对象的 open() 方法来初始化一个请求，open() 方法的语法格式如下：<br />
<p class="info-box">
XMLHttpRequest.open(method, url, async, user, password);</p>
参数说明如下：<br />
<ul>
<li>
method：请求的类型（使用的 HTTP 方法），例如 GET、POST、PUT、HEAD、DELETE 等；</li>
<li>
url：请求的地址；</li>
<li>
async：可选参数，布尔类型，表示是否请求是否异步执行，默认值为 true；</li>
<li>
user：可选参数，表示用户名，主要用来认证，默认值为 null；</li>
<li>
password：可选参数，表示密码，同样用来认证，默认值为 null。</li>
</ul>
<p class="tip-box">
提示：与前面介绍的《<a href="https://c.biancheng.net/javascript/cookie.html" target="_blank">Cookie</a>》类似，Ajax 同样需要服务器环境才行。</p>
示例代码如下：<br />
<pre class="js">
var request = new XMLHttpRequest();
request.open(&#39;GET&#39;, &#39;test.php&#39;);</pre>
<p class="tip-box">
提示：请求地址一般为服务器端脚本文件，例如 .php、.asp 格式的文件，它们可以在服务器将响应信息发送给浏览器之前执行某些操作，例如从数据库中查询或写入数据。</p>
最后，使用 XMLHttpRequest 对象的 send() 方法将请求发送到服务器，send() 方法的语法格式如下：<br />
<p class="info-box">
XMLHttpRequest.send(body);</p>
其中 body 是一个可选参数，表示请求主体，即请求中要发送的数据，如果不需要在请求时发送数据，例如发送 GET 请求，就可以忽略该参数或者传入 null。<br />
<p class="tip-box">
提示：如果请求方法为 GET 或 HEAD，则应该将请求主体设置为 null 或者忽略请求主体。</p>
示例代码如下：<br />
<pre class="js">
var request = new XMLHttpRequest();
request.open(&#39;GET&#39;, &#39;./test.php&#39;);
request.send(null);</pre>
<h2>
检索响应信息</h2>
请求发送成功后（即使用 send() 方法发送请求后），可以通过检索 XMLHttpRequest 对象来获取服务器的响应信息，XMLHttpRequest 对象中有许多与响应有关的属性，例如：<br />
<ul>
<li>
XMLHttpRequest.readyState：一个无符号整型数字，表示请求的状态码，取值如下所示：
<ul>
<li>
0：未初始化，尚未调用 open() 方法；</li>
<li>
1：启动，已调用 open() 方法，但尚未调用 send() 方法；</li>
<li>
2：发送，已调用 send() 方法，但尚未接收到响应；</li>
<li>
3：接收，已接收到部分响应数据，但尚未完成；</li>
<li>
4：完成，已接收到全部响应数据，可以在客户端使用了。</li>
</ul>
</li>
<li>
XMLHttpRequest.onreadystatechange：指定一个函数（回调函数），当 readyState&nbsp; 的值发生改变时，就会调用这个函数；</li>
<li>
XMLHttpRequest.responseText：请求的响应信息，如果请求未成功或尚未发送请求，则为 null；</li>
<li>
XMLHttpRequest.responseType：一个枚举值，用于指定响应中包含的数据类型；</li>
<li>
XMLHttpRequest.responseURL：返回响应的序列化 URL（与请求的 URL 相同），如果 URL 为空则返回空字符串；</li>
<li>
XMLHttpRequest.responseXML：返回一个包含 HTML 或 XML 的 Document 对象，若请求未成功、未发送或响应数据无法解析为 XML 或 HTML 则返回 null；</li>
<li>
XMLHttpRequest.status：一个无符号整型数字，表示请求的响应状态码，常见的响应状态码如下所示：
<ul>
<li>
200：请求成功，服务器成功处理了请求；</li>
<li>
404：请求失败，服务器未找到请求的页面；</li>
<li>
500：服务器暂时不可用。</li>
</ul>
</li>
<li>
XMLHttpRequest.statusText：一个字符串，表示响应状态的文本信息，例如&ldquo;OK&rdquo;或&ldquo;Not Found&rdquo;；</li>
<li>
XMLHttpRequest.timeout：一个无符号整型数字，表示请求的超时时间，单位为毫秒，若超过该时间，请求会自动终止，默认值为 0，表示没有超时时间；</li>
<li>
XMLHttpRequest.upload：返回一个 XMLHttpRequestUpload 对象，用来表示上传的进度。</li>
</ul>
<br />
示例代码如下：<br />
<pre class="html">
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;title&gt;JavaScript&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div id=&quot;result&quot;&gt;&lt;/div&gt;
    &lt;button type=&quot;button&quot; onclick=&quot;displayFullName()&quot;&gt;点击发送请求&lt;/button&gt;
    &lt;script&gt;
        function displayFullName() {
            // 创建 XMLHttpRequest 对象
            var request = new XMLHttpRequest();

            // 实例化请求对象
            request.open(&quot;GET&quot;, &quot;test.php?name=C语言中文网&amp;url=http://c.biancheng.net/&quot;);

            // 监听 readyState 的变化
            request.onreadystatechange = function() {
                // 检查请求是否成功
                if(this.readyState === 4 &amp;&amp; this.status === 200) {
                    // 将来自服务器的响应插入当前页面
                    document.getElementById(&quot;result&quot;).innerHTML = this.responseText;
                }
            };
            // 将请求发送到服务器
            request.send();
        }
    &lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
test.php 文件中的代码如下：<br />
<pre class="php">
&lt;?php
    if(isset($_GET[&quot;name&quot;]) &amp;&amp; isset($_GET[&quot;url&quot;])) {
        $name = htmlspecialchars($_GET[&quot;name&quot;]);
        $url = htmlspecialchars($_GET[&quot;url&quot;]);

        // 输出欢迎信息
        echo &quot;欢迎访问 $name! 本站网址为：$url&quot;;
    } else {
        echo &quot;你好！欢迎访问我们的网站。&quot;;
    }
?&gt;</pre>
</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div class="pre-next-page clearfix">&nbsp;</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="231.html" title="memset函数及其用法，C语言memset函数详解" target="_blank">memset函数及其用法，C语言memset函数详解</a></li>
<li><a href="407.html" title="C语言文件的打开和关闭，C语言文件操作" target="_blank">C语言文件的打开和关闭，C语言文件操作</a></li>
<li><a href="1138.html" title="Shell alias：给命令创建别名" target="_blank">Shell alias：给命令创建别名</a></li>
<li><a href="vip_2111.html" title="那些被编译器隐藏了的过程" target="_blank">那些被编译器隐藏了的过程</a></li>
<li><a href="2260.html" title="Python局部函数及用法（包含nonlocal关键字）" target="_blank">Python局部函数及用法（包含nonlocal关键字）</a></li>
<li><a href="../mybatis/delete.html" title="MyBatis delete标签" target="_blank">MyBatis delete标签</a></li>
<li><a href="9625.html" title="预防裁员，科普一下N+1和2N补偿机制" target="_blank">预防裁员，科普一下N+1和2N补偿机制</a></li>
</ul>
</div>
</div>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 9377;
window.arcId = "5413eucC4/xPcIfXmDs4gITxX8mIcuhblsO3ZPbUtjvkONfrTSoApSc+lZY";
window.typeidChain = "308";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";
window.prePageURL = "/view/9376.html";
window.nextPageURL = "/view/9378.html";
</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>