<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 启用Chromium高速渲染模式 -->
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<!-- 禁止百度转码 -->
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止识别电话号码 -->
<meta name="format-detection" content="telephone=no" />

<link rel="shortcut icon" href="../favicon_3.ico" />
<link href="../templets/new/style/common_2.css" rel="stylesheet" />
<title>HTML &lt;head&gt;标签：头部</title>
<meta name="description" content="HTML 中的 head 标签是所有头部标签的容器，这些头部标签用来定义有关 HTML 文档的元数据（描述数据的数据）以及所需资源的引用（例如 CSS 样式文件、JavaScript 脚本文件），对文档能够" />
</head>
<body>
<div id="topbar" class="clearfix">
	<ul id="product-type" class="left">
		<li>
			<a href="../m_biancheng_default_2.html"><span class="iconfont iconfont-home"></span>首页</a>
		</li>
		<li class="active">
			<a href="../sitemap/sitemap_2.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
		</li>
		<li>
			<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
		</li>
		<li>
			<a href="niz69i_5.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
		</li>
		<!-- <li>
			<a href="https://www.54benniao.com/c_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-c-course"></span>C语言高级课程</a>
		</li>
		<li>
			<a href="https://www.54benniao.com/java_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-java-course"></span>Java高级课程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/q2a/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-q2a"></span>一对一答疑</a>
		</li> -->
	</ul>
</div>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="../m_biancheng_default_2.html">
		<img height="26" src="../templets/new/images/logo_2.png" alt="C语言中文网" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li class="wap-yes"><a href="../m_biancheng_default_2.html">首页</a></li>
		<li><a href="../c/c_4.html">C语言教程</a></li>
		<li><a href="../cplus/cplus_2.html">C++教程</a></li>
		<li><a href="../python/python_2.html">Python教程</a></li>
		<li><a href="../java/java_2.html">Java教程</a></li>
		<li><a href="../linux_tutorial/linux_tutorial_2.html">Linux入门</a></li>
		<li><a href="../sitemap/sitemap_2.html" title="网站地图">更多&gt;&gt;</a></li>
	</ul>
	<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="iconfont"></span></span>

	<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main" class="clearfix">
	<div id="sidebar" class="toggle-target">
	<div id="contents">
		<dt><span class="iconfont iconfont-list-vertical" aria-hidden="true"></span><a href="../html/html_2.html">HTML</a></dt>
		<dd>
        	<span class="channel-num">1</span>
        	<a href="7410_2.html">网站到底是什么？</a>
        </dd>
<dd>
        	<span class="channel-num">2</span>
        	<a href="9381_2.html">HTML是什么</a>
        </dd>
<dd>
        	<span class="channel-num">3</span>
        	<a href="9382_2.html">HTML标签的语法格式</a>
        </dd>
<dd>
        	<span class="channel-num">4</span>
        	<a href="9383_2.html">HTML属性</a>
        </dd>
<dd>
        	<span class="channel-num">5</span>
        	<a href="9384_2.html">HTML标题</a>
        </dd>
<dd>
        	<span class="channel-num">6</span>
        	<a href="9385_2.html">HTML段落</a>
        </dd>
<dd>
        	<span class="channel-num">7</span>
        	<a href="9386_2.html">HTML文本格式化</a>
        </dd>
<dd>
        	<span class="channel-num">8</span>
        	<a href="9387_2.html">HTML超链接</a>
        </dd>
<dd>
        	<span class="channel-num">9</span>
        	<a href="7528_2.html">HTML插入图片</a>
        </dd>
<dd>
        	<span class="channel-num">10</span>
        	<a href="7540_2.html">HTML表格</a>
        </dd>
<dd>
        	<span class="channel-num">11</span>
        	<a href="9389_2.html">HTML列表</a>
        </dd>
<dd>
        	<span class="channel-num">12</span>
        	<a href="7564_2.html">HTML表单</a>
        </dd>
<dd>
        	<span class="channel-num">13</span>
        	<a href="9391_2.html">HTML注释</a>
        </dd>
<dd>
        	<span class="channel-num">14</span>
        	<a href="1293_2.html">HTML嵌入CSS样式</a>
        </dd>
<dd>
        	<span class="channel-num">15</span>
        	<a href="9392_2.html">HTML块级元素和内联元素</a>
        </dd>
<dd>
        	<span class="channel-num">16</span>
        	<a href="9393_2.html">HTML布局</a>
        </dd>
<dd>
        	<span class="channel-num">17</span>
        	<a href="9394_2.html">HTML内联框架</a>
        </dd>
<dd>
        	<span class="channel-num">18</span>
        	<a href="9395_2.html">HTML头部标签</a>
        </dd>

	</div>
</div>
	<div id="article-wrap">
		<div id="article">
			<div class="arc-info">
	<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../m_biancheng_default_2.html">首页</a> &gt; <a href="../html/html_2.html">HTML</a></span>
</div>

<div id="ggxc-position-bottom" class="ggxc-box"></div>
			<h1>HTML &lt;head&gt;标签：头部</h1>
			<div class="pre-next-page clearfix">&nbsp;</div>
			<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
			<div id="arc-body">HTML 中的 &lt;head&gt; 标签是所有头部标签的容器，这些头部标签用来定义有关 HTML 文档的元数据（描述数据的数据）以及所需资源的引用（例如 CSS 样式文件、JavaScript 脚本文件），对文档能够在浏览器中正确显示起到了非常重要的作用。根据我们的需求，可以在 HTML 头部定义大量的元数据，也可以定义很少或者根本就不定义。虽然头部标签是 HTML 文档的一部分，但其中的内容并不会显示在浏览器中。<br />
<br />
在 &lt;head&gt; 标签中可以使用的头部标签有 &lt;title&gt;、&lt;base&gt;、&lt;link&gt;、&lt;style&gt;、&lt;meta&gt;、&lt;script&gt; 和 &lt;noscript&gt; 等，下面就来简单介绍一下它们。<br />
<h2>
	1. &lt;title&gt; 标签</h2>
&lt;title&gt; 标签用来定义 HTML 文档的标题，只有包含 &lt;title&gt; 标签的文档才算是一个有效的 HTML 文档。另外，一个 HTML 文档中仅允许存在一个 &lt;title&gt; 标签，并且 &lt;title&gt; 标签必须放置在 &lt;head&gt; 标签中。<br />
<p class="tip-box">
	注意，在 &lt;title&gt; 标签内部仅允许包含纯文本内容，不能包含其他 HTML 标签。</p>
&lt;title&gt; 标签的主要作用如下所示：<br />
<ul>
	<li>
		在浏览器标题栏或者任务栏中显示标题；</li>
	<li>
		当将页面添加到收藏夹（书签）时提供标题；</li>
	<li>
		在搜索结果中显示页面标题。</li>
</ul>
<br />
下面的示例演示了如何在 HTML 文档中使用 &lt;title&gt; 标签：
<pre class="html">
&lt;head&gt;
    &lt;meta charset=&quot;utf-8&quot;&gt;
    &lt;title&gt;C语言中文网：一个在线学习编程的网站&lt;/title&gt;
&lt;/head&gt;
</pre>
<br />
&lt;title&gt; 标签的内容必须与当前文档有关，并且不应该过长，中文页面请尽量控制在 30 个字符（包括空格）以内。
<h2>
	2. &lt;base&gt; 标签</h2>
&lt;base&gt; 标签用于为页面中所有相对链接指定一个基本链接，当您设置了基本链接后，当前页面中的所有相对链接都会使用这个基本链接作为前缀，如下例所示：<br />
<pre class="html">
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
    &lt;meta charset=&quot;utf-8&quot;&gt;
    &lt;title&gt;&amp;lt;base&amp;gt;标签演示&lt;/title&gt;
    &lt;base href=&quot;http://c.biancheng.net/&quot;&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;ul&gt;
        &lt;li&gt;&lt;a href=&quot;index.html&quot;&gt;首页&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;html/index.html&quot;&gt;HTML教程&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
上面的示例中第一个 &lt;li&gt; 标签中的超链接会被解析为&ldquo;http://c.biancheng.net/index.html&rdquo;，第二个 &lt;li&gt; 中的超链接会被解析为&ldquo;http://c.biancheng.net/html/index.html&rdquo;。<br />
<p class="tip-box">
	注意，HTML 文档中的 &lt;base&gt; 标签必须出现在任何引用外部资源的标签之前，而且一个 HTML 文档中仅允许定义一个 &lt;base&gt; 标签。</p>
<h2>
	3. &lt;link&gt; 标签</h2>
&lt;link&gt; 标签经常用于引用外部 CSS 样式表，&lt;link&gt; 标签中包含两个主要的属性，分别是 rel 和 href。rel 属性用来指示引用文件的类型，href 属性用来设置外部文件的路径。示例代码如下：<br />
<p class="info-box">
	&lt;head&gt;<br />
	&nbsp;&nbsp;&nbsp; &lt;title&gt;此处书写标题&lt;/title&gt;<br />
	&nbsp;&nbsp;&nbsp; &lt;link rel=&quot;stylesheet&quot; href=&quot;common.css&quot;&gt;<br />
	&lt;/head&gt;</p>
<p class="tip-box">
	HTML &lt;head&gt; 标签中可以包含任意数量的 &lt;link&gt; 标签。</p>
<h2>
	4、&lt;style&gt;</h2>
使用 &lt;style&gt; 标签可以在 HTML 文档中嵌入 CSS 样式，需要注意的是在 &lt;style&gt; 标签中定义的样式仅对当前 HTML 文档有效。示例代码如下：<br />
<pre class="html">
&lt;head&gt;
    &lt;title&gt;此处书写标题&lt;/title&gt;
    &lt;style&gt;
        body { background-color: YellowGreen; }
        h1 { color: red; }
        p { color: green; }
    &lt;/style&gt;
&lt;/head&gt;</pre>
<p class="tip-box">
	注意：对于文档中的唯一样式可以使用 &lt;style&gt; 标签，但对于在多个文档中通用的样式，使用外部样式表更为合适。关于在 HTML 中嵌入 CSS 的更多内容，请转到《<a href="1293_2.html" target="_blank">HTML嵌入CSS样式（四种方法）</a>》。</p>
<h2>
	5. &lt;meta&gt; 标签</h2>
&lt;meta&gt; 标签用于提供有关 HTML 文档的元数据，例如页面有效期、页面作者、关键字列表、页面描述等信息。&lt;meta&gt; 标签定义的数据并不会显示在页面上，但却会被浏览器解析。<br />
<h4>
	1) 定义字符集</h4>
<p class="info-box">
	&lt;meta charset=&quot;UTF-8&quot;&gt;</p>
charset 属性用来指定 HTML 文档的字符编码，上面的示例中，我们将文档的字符编码设置为了&ldquo;UTF-8&rdquo;。<br />
<h4>
	2) 定义页面描述</h4>
<p class="info-box">
	&lt;meta name=&quot;description&quot; content=&quot;HTML 是 Hyper Text Markup Language 的简写，表示超文本标记语言，同时 HTML 也是我们学习前端开发的基础。随着 web 前端技术的飞速发展，HTML 和 CSS 也成为了编程者的必备技能。&quot;&gt;</p>
定义页面的描述信息有利于搜索引擎的搜索。
<p class="tip-box">
	&lt;title&gt; 标签定义文档标题，name=&quot;description&quot; 定义文档描述，描述的长度通常大于标题。</p>
<h4>
	3) 定义关键字</h4>
<p class="info-box">
	&lt;meta name=&quot;keywords&quot; content=&quot;HTML, HTML教程, HTML入门&quot;&gt;</p>
关键字用于为搜索引擎提供与页面有关的信息。<br />
<h4>
	4) 定义页面作者</h4>
<p class="info-box">
	&lt;meta name=&quot;author&quot; content=&quot;严长生&quot;&gt;</p>
通过某些内容管理系统可以自动提取作者信息。<br />
<h4>
	5) 刷新页面</h4>
<p class="info-box">
	&lt;meta http-equiv=&quot;refresh&quot; content=&quot;30&quot;&gt;</p>
上例中的代码用于向浏览器发送一个指令，使浏览器在经过指定的时间间隔（30 秒）后自动刷新页面。在 content 属性中除了可以指定时间间隔外，还可以再指定一个链接，这时页面将在指定的时间后重定向到链接所指向的页面，如下例所示：<br />
<p class="info-box">
	&lt;meta http-equiv=&quot;refresh&quot; content=&quot;10; url=https://c.biancheng.net/&quot;&gt;</p>
<h2>
	6. &lt;script&gt; 标签</h2>
&lt;script&gt; 标签用于定义 JavaScript 脚本，示例代码如下：<br />
<p class="info-box">
	&lt;head&gt;<br />
	&nbsp;&nbsp;&nbsp; &lt;title&gt;C语言中文网&lt;/title&gt;<br />
	&nbsp;&nbsp;&nbsp; &lt;script&gt;<br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; document.write(&quot;C语言中文网&quot;)<br />
	&nbsp;&nbsp;&nbsp; &lt;/script&gt;<br />
	&lt;/head&gt;</p>
有关 &lt;script&gt; 标签的详细介绍请查阅《HTML与JavaScript》一节。<br />
<h2>
	7. &lt;noscript&gt; 标签</h2>
当用户的浏览器不支持 JavaScript 脚本或者禁用 JavaScript 脚本时，可以在 &lt;noscript&gt; 标签中定义一些内容来替代不能运行的 JavaScript 脚本或者给用户一些提示。除了 &lt;script&gt; 标签外，在 &lt;noscript&gt; 标签中可以包含任何 HTML 元素，如下例所示：<br />
<pre class="html">
&lt;head&gt;
    &lt;title&gt;C语言中文网&lt;/title&gt;
    &lt;noscript&gt;
        &lt;p&gt;您的浏览器不支持 JavaScript 或者您禁用了 JavaScript，请&lt;a href=&quot;http://c.biancheng.net/&quot;&gt;点击这里&lt;/a&gt;了解如何启用 JavaScript。&lt;/p&gt;
    &lt;/noscript&gt;
&lt;/head&gt;</pre>
</div>
			<div id="ggxc-weixin-arcbottom">
	<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
	<p style="margin-top:12px; text-align:center;">
		<img src="../templets/new/images/material/qrcode_mp_4.png" alt="公众号二维码" width="160" /><br />
		<span class="col-green">微信扫码关注公众号</span>
	</p>
</div>
			<div class="pre-next-page clearfix">&nbsp;</div>
			<div id="nice-arcs" class="box-bottom">
    <h4>推荐阅读</h4>
    <ul class="clearfix">
<li><a href="niz69i_8.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_4.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_4.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="735_2.html" title="第一个Shell脚本" target="_blank">第一个Shell脚本</a></li>
<li><a href="1993_2.html" title="C语言数组指针（指向数组的指针）详解" target="_blank">C语言数组指针（指向数组的指针）详解</a></li>
<li><a href="3415_2.html" title="重连通图及重连通分量" target="_blank">重连通图及重连通分量</a></li>
<li><a href="../redis2/get_2.html" title="Redis GET命令" target="_blank">Redis GET命令</a></li>
<li><a href="../json/json-xml_2.html" title="JSON和XML的区别" target="_blank">JSON和XML的区别</a></li>
<li><a href="wiqebc_2.html" title="C语言static关键字" target="_blank">C语言static关键字</a></li>
<li><a href="../c/fputc_2.html" title="C语言fputc()：向文件中写入一个字符" target="_blank">C语言fputc()：向文件中写入一个字符</a></li>
</ul>
</div>
		</div>
		
	</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 9395;
window.arcId = "ab9cYvolfe8POLUO60hTiHfnGVauPPmHE2iKQgaOfj0Fx/omFd3h0MwFumI";
window.typeidChain = "344";
</script>
<div id="footer" class="clearfix">
	<div class="info left">
	<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
	<p>
		<a href="8066_2.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
		<a href="8092_3.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
		<a href="8097_2.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
		<a href="9648_2.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
		<a href="8093_2.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
		<a href="../sitemap/sitemap_2.html" target="_blank" rel="nofollow">网站地图</a>
	</p>
	<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan_2.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
	</p>
	</div>
	<img id="logo_bottom" class="right" src="https://m.biancheng.net/templets/new/images/logo_bottom_2.gif" alt="底部Logo" />
	<span id="return-top"><b>↑</b></span>
</div>

<div id="addweixin-widget">
	<p>
		<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://m.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
		<img src="https://m.biancheng.net/templets/new/images/material/qrcode_mp_4.png" alt="微信交流群" width="120" />
		<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
	</p>
	<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>

<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";
window.prePageURL = "/view/9394.html";
window.nextPageURL = "/view/9395.html";
</script>

<script src="https://m.biancheng.net/templets/new/script/jquery1.12.4.min_2.js"></script>
<script src="https://m.biancheng.net/templets/new/script/common_2.js"></script>
<!-- 51la V6 -->
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<!-- 51la V5 -->
<!-- <span style="display: none;"><script type="text/javascript" src="https://js.users.51.la/21368967.js"></script></span> -->
</body>
</html>