<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 启用Chromium高速渲染模式 -->
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<!-- 禁止百度转码 -->
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止识别电话号码 -->
<meta name="format-detection" content="telephone=no" />

<link rel="shortcut icon" href="../favicon_3.ico" />
<link href="../templets/new/style/common_2.css" rel="stylesheet" />
<title>Qt打包程序详解（适用于Windows平台）</title>
<meta name="description" content="分享 Qt 程序（项目）的方式无非两种，要么直接分享程序的源代码，要么分享程序生成的可执行文件。 和直接分享源码相比，大多数人会选择后者。但遗憾地是，Qt Creator 默认以动态链" />
</head>
<body>
<div id="topbar" class="clearfix">
	<ul id="product-type" class="left">
		<li>
			<a href="../m_biancheng_default_2.html"><span class="iconfont iconfont-home"></span>首页</a>
		</li>
		<li class="active">
			<a href="../sitemap/sitemap_2.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
		</li>
		<li>
			<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
		</li>
		<li>
			<a href="niz69i_5.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
		</li>
		<!-- <li>
			<a href="https://www.54benniao.com/c_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-c-course"></span>C语言高级课程</a>
		</li>
		<li>
			<a href="https://www.54benniao.com/java_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-java-course"></span>Java高级课程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/q2a/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-q2a"></span>一对一答疑</a>
		</li> -->
	</ul>
</div>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="../m_biancheng_default_2.html">
		<img height="26" src="../templets/new/images/logo_2.png" alt="C语言中文网" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li class="wap-yes"><a href="../m_biancheng_default_2.html">首页</a></li>
		<li><a href="../c/c_4.html">C语言教程</a></li>
		<li><a href="../cplus/cplus_2.html">C++教程</a></li>
		<li><a href="../python/python_2.html">Python教程</a></li>
		<li><a href="../java/java_2.html">Java教程</a></li>
		<li><a href="../linux_tutorial/linux_tutorial_2.html">Linux入门</a></li>
		<li><a href="../sitemap/sitemap_2.html" title="网站地图">更多&gt;&gt;</a></li>
	</ul>
	<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
	<div class="arc-info">
		<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../m_biancheng_default_2.html">首页</a> &gt; 编程笔记</span>
	</div>
	<div id="ggxc-position-bottom" class="ggxc-box"></div>
	<h1>Qt打包程序详解（适用于Windows平台）</h1>
	<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
	<div id="arc-body"><p>
	分享 Qt 程序（项目）的方式无非两种，要么直接分享程序的源代码，要么分享程序生成的可执行文件。<br />
	<br />
	和直接分享源码相比，大多数人会选择后者。但遗憾地是，Qt Creator 默认以动态链接的方式生成可执行文件，该文件无法独立运行，必须为其提供所需的动态链接库。也就是说，只分享 Qt Creator 生成的可执行文件是不行的，必须将运行所需的动态链接库一起分享，可执行文件才能在他人的电脑上正常运行。<br />
	<br />
	对 Qt 程序进行打包，指的就是找到可执行文件运行需要的所有动态库文件，并将它们统一存放到指定的空文件夹里。本节以编写完成的学生信息管理系统为例，给大家讲解&ldquo;怎样在 Windows 平台上打包一个 Qt 程序&rdquo;。</p>
<h2>
	为可执行文件添加图标</h2>
《<a href="9431_2.html" target="_blank">Qt实现学生信息管理系统</a>》一节讲了如何给程序中的窗口添加 icon 图标。打包 Qt 程序之前，我们也可以给可执行文件设置 icon 图标。<br />
<br />
以学生信息管理系统为例，默认生成的可执行文件如图 1a) 所示，添加 icon 图标后的可执行文件如图 1b) 所示。<br />
<br />
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/211028/1F5011F8-0_2.gif" /><br />
	图 1 设置 icon 图标</div>
<br />
为可执行文件添加 icon 图标的方法很简单，将事先准备好的 icon 图标拷贝到程序对应的文件夹中，然后在 pro 工程文件内添加如下指令：
<pre class="info-box">
RC_ICONS += logo.ico</pre>
其中，logo.ico 是图标文件的名称。重新对程序进行编译、链接，最终生成的就是带 icon 图标的可执行文件。
<h2>
	Qt程序打包</h2>
打包 Qt 程序，通常选用以 release 模式生成的可执行文件。和 debug 模式相比，release 模式生成的可执行文件体积更小，运行效率更快。<br />
<br />
Qt Creator 默认以 debug 模式生成可执行文件，如下图所示，可以手动修改 Qt Creator 以 release 模式生成可执行文件：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/211028/1F5011T8-1_2.gif" /><br />
	图 2 以 release 模式生成可执行文件</div>
<br />
选择&ldquo;Release&rdquo;之后，再次运行程序，生成的可执行文件可以在下图所示的路径中找到：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/211028/1F5012133-2_2.gif" /><br />
	图 3 可执行文件的存储位置</div>
<br />
找到可执行文件之后，将其拷贝到一个空的文件夹，比如笔者将其拷贝到了新建的 D:\StuInfoFile 文件夹中，如下图所示：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/211028/1F50125D-3_2.gif" /><br />
	图 4 将可执行文件拷贝到新建的文件夹内</div>
<blockquote>
	<p>
		此时的 StuInfoFile.exe 是无法运行的，双击它系统会提示类似&ldquo;找不到 xxx.dll&rdquo;的错误信息。</p>
</blockquote>
在&ldquo;开始&rdquo;中找到 Qt 命令行程序并打开，如下图所示：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/211028/1F50150Y-4_2.gif" /><br />
	图 5 Qt命令行程序</div>
<br />
在命令行中，先执行 &quot;cd D:\StuInfoFile&quot; 命令进入 StuInfoFile 文件夹，然后再执行 &quot;windeployqt StuInfoFile.exe&quot; 命令。windeployqt 是 Qt 提供的 Windows 平台打包工具，它能找到 StuInfoFile.exe 可执行文件需要的所有动态链接库，并将它们拷贝到当前文件夹中。<br />
<br />
成功执行命令之后，StuInfoFile 文件夹内会增加很多文件夹和文件（如下图所示），这些都是 StuinfoFile.exe 执行所需要的。<br />
<br />
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/211028/1F5013L5-5_2.gif" /><br />
	图 6 打包后的 StuInfoFile 文件夹</div>
<p>
	<br />
	再次双击 StuInfoFile.exe，如果它可以成功执行，表明打包操作是成功的。我们可以直接将 StuInfoFile 文件夹分享给他人，只要是 Windows 平台，都可以直接点击运行 StuinfoFile.exe 文件。</p>
</div>
	<div id="ggxc-weixin-arcbottom">
	<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
	<p style="margin-top:12px; text-align:center;">
		<img src="../templets/new/images/material/qrcode_mp_4.png" alt="公众号二维码" width="160" /><br />
		<span class="col-green">微信扫码关注公众号</span>
	</p>
</div>
	<div id="nice-arcs" class="box-bottom">
    <h4>推荐阅读</h4>
    <ul class="clearfix">
<li><a href="niz69i_8.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_4.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_4.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="2214_2.html" title="C++类的成员变量和成员函数详解" target="_blank">C++类的成员变量和成员函数详解</a></li>
<li><a href="vip_3237_2.html" title="Linux bc命令：一款数学计算器" target="_blank">Linux bc命令：一款数学计算器</a></li>
<li><a href="vip_5066_2.html" title="RPM包的依赖性及其解决方案" target="_blank">RPM包的依赖性及其解决方案</a></li>
<li><a href="7529_2.html" title="HTML &lt;a&gt;标签（超链接）" target="_blank">HTML &lt;a&gt;标签（超链接）</a></li>
<li><a href="../maven2/archetype_2.html" title="Maven Archetype(原型/模板)" target="_blank">Maven Archetype(原型/模板)</a></li>
<li><a href="niqohe_2.html" title="JavaScript for循环用法详解" target="_blank">JavaScript for循环用法详解</a></li>
<li><a href="lbwdcxr_2.html" title="《C程序设计(第五版)》谭浩强PDF下载（高清完整版）" target="_blank">《C程序设计(第五版)》谭浩强PDF下载（高清完整版）</a></li>
</ul>
</div>
	
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 9432;
window.arcId = "d664N7WYwpZVY2EbFYBmdDgCc9uDYdZKldPqOr0UTybiHZSiWRMnvFw5w/o";
window.typeidChain = "294|119";
</script>
<div id="footer" class="clearfix">
	<div class="info left">
	<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
	<p>
		<a href="8066_2.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
		<a href="8092_3.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
		<a href="8097_2.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
		<a href="9648_2.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
		<a href="8093_2.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
		<a href="../sitemap/sitemap_2.html" target="_blank" rel="nofollow">网站地图</a>
	</p>
	<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan_2.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
	</p>
	</div>
	<img id="logo_bottom" class="right" src="https://m.biancheng.net/templets/new/images/logo_bottom_2.gif" alt="底部Logo" />
	<span id="return-top"><b>↑</b></span>
</div>

<div id="addweixin-widget">
	<p>
		<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://m.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
		<img src="https://m.biancheng.net/templets/new/images/material/qrcode_mp_4.png" alt="微信交流群" width="120" />
		<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
	</p>
	<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>

<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>

<script src="https://m.biancheng.net/templets/new/script/jquery1.12.4.min_2.js"></script>
<script src="https://m.biancheng.net/templets/new/script/common_2.js"></script>
<!-- 51la V6 -->
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<!-- 51la V5 -->
<!-- <span style="display: none;"><script type="text/javascript" src="https://js.users.51.la/21368967.js"></script></span> -->
</body>
</html>