<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>IP地址和Mac地址的区别</title>
<meta name="description" content="每一个连接到因特网（Internet）的计算机，包括电脑、手机、iPad 等，它们都有两个地址，分别是 IP 地址和 MAC 地址。 IP 和 MAC 都是地址，都用来标识连接到网络中的计算机，看起来是两" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; <a href="../hot/hot.html">推荐阅读</a></span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>IP地址和Mac地址的区别</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">每一个连接到因特网（Internet）的计算机，包括电脑、手机、iPad 等，它们都有两个地址，分别是 IP 地址和 MAC 地址。<br />
<br />
IP 和 MAC 都是地址，都用来标识连接到网络中的计算机，看起来是两种类似的技术，这让读者感到非常困惑，搞不清它们之间的区别，更不理解&ldquo;为什么一台计算机需要两个地址&rdquo;。<br />
<br />
关于这个问题，网络上也有各种各样的解释，但是都不太清楚，所以我决定自己写一篇文章，简明地谈一下 IP 地址和 Mac 地址的区别，以及它们在网络通信中扮演的不同角色。
<h2>
IP地址</h2>
IP 地址是 Internet Protocol Address 的缩写，译为&ldquo;网际协议地址&rdquo;。目前有大部分软件使用 IPv4 地址，但 IPv6 也正在被人们接受，尤其是在教育网中，已经大量使用。<br />
<br />
<div style="text-align: center;">
<img alt="" src="../uploads/allimg/211207/151624AY-0.gif" style="text-align: center;" /></div>
<br />
每一台计算机使用的 IP 地址，是由 ISP（指提供 Internet 服务的公司，比如电信、网通、移动等）负责分配的。通常情况下，计算机每次连接网络使用的 IP 地址都是不固定的，换句话说，ISP 会动态分配一个 IP 地址给它。<br />
<br />
一台计算机可以拥有一个独立的 IP 地址，一个局域网也可以拥有一个独立的 IP 地址（对外就好像只有一台计算机）。对于目前广泛使用 IPv4 地址，它的资源是非常有限的，一台计算机一个 IP 地址是不现实的，往往一个局域网才拥有一个 IP 地址。<br />
<br />
计算机之间进行通信，必须要知道对方的 IP 地址。实际上，计算机发出的数据包中已经附带了 IP 地址，把数据包发送给路由器以后，路由器会根据 IP 地址找到对方的地理位置，完成一次数据的传递。路由器有非常高效和智能的算法，很快就会找到目标计算机。<br />
<h2>
MAC地址</h2>
通常情况下，一个局域网才能拥有一个独立的 IP，换句话说，IP 地址只能定位到一个局域网，无法定位到具体的某个设备。这可怎么办呀？这样也没法通信啊。<br />
<br />
其实，真正能唯一标识设备的是 MAC 地址。MAC 地址是 Media Access Control Address 的缩写，直译为&ldquo;媒体访问控制地址&rdquo;，也称为局域网地址（LAN Address），以太网地址（Ethernet Address）或物理地址（Physical Address）。<br />
<br />
<div style="text-align: center;">
<img alt="" src="../uploads/allimg/211207/1516241137-1.gif" style="text-align: center;" /></div>
<br />
计算机出厂时，MAC 地址已经被写死到网卡里面了（当然通过某些&ldquo;奇巧淫技&rdquo;也是可以修改的），每个网卡的 MAC 地址在全世界都是独一无二的。<br />
<br />
局域网中的路由器/交换机会记录每台计算机的 MAC 地址。当一台计算机通过网络向另一台计算机发送数据时，数据包中除了会附带对方的 IP 地址，还会附带对方的 MAC 地址。当数据包达到局域网以后，路由器/交换机会根据数据包中的 MAC 地址找到对应的计算机，然后把数据包转交给它，这样就完成了数据的传递。
<h2>
总结</h2>
<p>
IP 地址和 MAC 地址虽然都是&ldquo;地址&rdquo;，但它们并不相同，在网络通信中发挥的作用也不一样。总的来说，IP 地址解决的是数据在外网（因特网、互联网）的传输问题，MAC 地址解决的是数据在内网（局域网）中的传输问题。<br />
<br />
对于一台计算机来说，MAC 地址是必须有的，IP 地址可有可无。如果两台通信的计算机处于同一个局域网，那么理论上只凭借 MAC 地址就可以找到对方；如果两台计算机跨网传输数据，那么 IP 地址和 MAC 地址缺一不可。</p>
</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="290.html" title="原码、反码、补码及位操作符，C语言位操作详解" target="_blank">原码、反码、补码及位操作符，C语言位操作详解</a></li>
<li><a href="894.html" title="Java Double类" target="_blank">Java Double类</a></li>
<li><a href="1092.html" title="Linux crontab命令：循环执行定时任务（详解版）" target="_blank">Linux crontab命令：循环执行定时任务（详解版）</a></li>
<li><a href="1398.html" title="C++类对象的创建和使用（详解版）" target="_blank">C++类对象的创建和使用（详解版）</a></li>
<li><a href="4758.html" title="Python write()和writelines()：向文件中写入数据" target="_blank">Python write()和writelines()：向文件中写入数据</a></li>
<li><a href="8002.html" title="Django Auth应用实现用户身份认证" target="_blank">Django Auth应用实现用户身份认证</a></li>
<li><a href="8184.html" title="JS生成随机数（random()函数）" target="_blank">JS生成随机数（random()函数）</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 9487;
window.arcId = "febcxEwQNdKcUX4Se/UqEAax6RMRdYTxy5GNqLElPNvDgNbONCNZkaYiK4E";
window.typeidChain = "397";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>