<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 启用Chromium高速渲染模式 -->
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<!-- 禁止百度转码 -->
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止识别电话号码 -->
<meta name="format-detection" content="telephone=no" />

<link rel="shortcut icon" href="../favicon_3.ico" />
<link href="../templets/new/style/common_2.css" rel="stylesheet" />
<title>曝光一下阿里的工资待遇和职位级别</title>
<meta name="description" content="BAT 是互联网大厂的标杆，是很多程序员的梦想之地，这篇我来汇总一下阿里巴巴内部的职位级别和薪资待遇。 阿里巴巴从两个维度来考察程序员的综合能力，分为技术级别和管理级别：" />
</head>
<body>
<div id="topbar" class="clearfix">
	<ul id="product-type" class="left">
		<li>
			<a href="../m_biancheng_default_2.html"><span class="iconfont iconfont-home"></span>首页</a>
		</li>
		<li class="active">
			<a href="../sitemap/sitemap_2.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
		</li>
		<li>
			<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
		</li>
		<li>
			<a href="niz69i_5.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
		</li>
		<!-- <li>
			<a href="https://www.54benniao.com/c_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-c-course"></span>C语言高级课程</a>
		</li>
		<li>
			<a href="https://www.54benniao.com/java_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-java-course"></span>Java高级课程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/q2a/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-q2a"></span>一对一答疑</a>
		</li> -->
	</ul>
</div>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="../m_biancheng_default_2.html">
		<img height="26" src="../templets/new/images/logo_2.png" alt="C语言中文网" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li class="wap-yes"><a href="../m_biancheng_default_2.html">首页</a></li>
		<li><a href="../c/c_4.html">C语言教程</a></li>
		<li><a href="../cplus/cplus_2.html">C++教程</a></li>
		<li><a href="../python/python_2.html">Python教程</a></li>
		<li><a href="../java/java_2.html">Java教程</a></li>
		<li><a href="../linux_tutorial/linux_tutorial_2.html">Linux入门</a></li>
		<li><a href="../sitemap/sitemap_2.html" title="网站地图">更多&gt;&gt;</a></li>
	</ul>
	<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
	<div class="arc-info">
	<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../m_biancheng_default_2.html">首页</a> &gt; <a href="../hot/hot_2.html">推荐阅读</a></span>
</div>

<div id="ggxc-position-bottom" class="ggxc-box"></div>
	<h1>曝光一下阿里的工资待遇和职位级别</h1>
	<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
	<div id="arc-body">BAT 是互联网大厂的标杆，是很多程序员的梦想之地，这篇我来汇总一下阿里巴巴内部的职位级别和薪资待遇。<br />
<br />
阿里巴巴从两个维度来考察程序员的综合能力，分为技术级别和管理级别：技术级别从 P4 ~ P14，管理级别从 M1 到 M10。<br />
<br />
<table>
	<caption>
		职位级别一览表</caption>
	<tbody>
		<tr>
			<th>
				技术级别（Pn）</th>
			<th>
				级别名称</th>
			<th>
				管理级别（Mn）</th>
			<th>
				级别名称</th>
		</tr>
		<tr>
			<td>
				P4</td>
			<td>
				初级工程师</td>
			<td>
				&nbsp;</td>
			<td>
				&nbsp;</td>
		</tr>
		<tr>
			<td>
				P5</td>
			<td>
				中级工程师</td>
			<td>
				&nbsp;</td>
			<td>
				&nbsp;</td>
		</tr>
		<tr>
			<td>
				P6</td>
			<td>
				高级工程师</td>
			<td>
				M1</td>
			<td>
				主管</td>
		</tr>
		<tr>
			<td>
				P7</td>
			<td>
				专家</td>
			<td>
				M2</td>
			<td>
				经理</td>
		</tr>
		<tr>
			<td>
				P8</td>
			<td>
				高级专家</td>
			<td>
				M3</td>
			<td>
				资深经理</td>
		</tr>
		<tr>
			<td>
				P9</td>
			<td>
				资深专家</td>
			<td>
				M4</td>
			<td>
				总监</td>
		</tr>
		<tr>
			<td>
				P10</td>
			<td>
				研究员</td>
			<td>
				M5</td>
			<td>
				资深总监</td>
		</tr>
		<tr>
			<td>
				P11</td>
			<td>
				高级研究员</td>
			<td>
				M6</td>
			<td>
				副总裁</td>
		</tr>
		<tr>
			<td>
				P12</td>
			<td>
				资深研究员</td>
			<td>
				M7</td>
			<td>
				资深副总裁</td>
		</tr>
		<tr>
			<td>
				P13</td>
			<td>
				科学家</td>
			<td>
				M8</td>
			<td>
				执行副总裁</td>
		</tr>
		<tr>
			<td>
				P14</td>
			<td>
				资深科学家</td>
			<td>
				M9</td>
			<td>
				副董事长<br />
				&nbsp;</td>
		</tr>
		<tr>
			<td>
				&nbsp;</td>
			<td>
				&nbsp;</td>
			<td>
				M10</td>
			<td>
				董事长</td>
		</tr>
	</tbody>
</table>
<br />
<table>
	<caption>
		不同级别程序员年薪一览表</caption>
	<tbody>
		<tr>
			<th>
				技术级别</th>
			<th>
				级别名称</th>
			<th>
				年薪/年包</th>
		</tr>
		<tr>
			<td>
				P5</td>
			<td>
				中级工程师</td>
			<td>
				32W ~ 38W</td>
		</tr>
		<tr>
			<td>
				P6</td>
			<td>
				高级工程师</td>
			<td>
				41W ~ 58W</td>
		</tr>
		<tr>
			<td>
				P7</td>
			<td>
				专家</td>
			<td>
				87W ~ 142W</td>
		</tr>
		<tr>
			<td>
				P8</td>
			<td>
				高级专家</td>
			<td>
				150W ~239W</td>
		</tr>
		<tr>
			<td>
				P9</td>
			<td>
				资深专家</td>
			<td>
				290W</td>
		</tr>
		<tr>
			<td>
				P10</td>
			<td>
				研究员</td>
			<td>
				210W</td>
		</tr>
	</tbody>
</table>
<p class="tip-box">
	注意，以上数据来源于 2021-10-05 某 UP 主分享的视频，虽然不是直接证据，但是根据我的经验，这个数据应该差不多。</p>
一般来说，刚入职阿里的应届生职级为 P5，工作 1~3 年之后可以晋升到 P6，通过社招进来的码农也从 P6 开始。到了 P7 级别，阿里才会给配置股票。<br />
<br />
目前阿里需求量最大的职级范围分布在 P6~P8，这也是阿里集团占比最大的级别。一般而言，在江湖上小有名气的阿里程序员至少也是 P8 级别。P10 级别就是传说中的大神了，这个级别的程序员在业界都是鼎鼎有名的，比如褚霸、毕玄等。<br />
<br />
2021 年秋季校园招聘时人们都说，大厂码农的年包已经到了 35W，腾讯的白菜价也有 40W，你看，这并不是空穴来风，而是真实存在的。<br />
<h2>
	年包</h2>
以上数据说的都是年包（也称总包/年薪）待遇，除了正常工资，还有年底双薪、年终奖和股票。<br />
<br />
阿里薪资结构一般是：
<p class="info-box">
	12个月工资 + 1个月工资 + 3个月年终奖 = 16薪</p>
多出来的 1 个月工资，就是所谓的年底双薪，说白了就是在 12 月份发给你两个月的工资。<br />
<br />
至于 3 个月的年终奖，只有 90% 的人可以拿到，绩效考核不行的部门或者个人是没有的。另外，在这 90% 的人当中，绩效特别亮眼的部门或者个人可能拿到更多奖金。<br />
<br />
至于股票，是用来奖励员工忠诚度的，所以一般都是限制性的，需要分年限行权，不是立马就能拿到的。阿里规定，员工工作满 2 年才能拿到，第一次拿 50%，4 年全部拿完。<br />
<br />
咳咳，股票归属和卖出都属于个人收入，都需要缴纳个税，并且税率很高，综合起来可能超过 50%。网传阿里有些高 P 员工股票金额已经达到了纳税的最高档，归属和卖出时分别需要缴纳 45% 和 20% 的个税。
<p class="tip-box">
	股票归属时的税率貌似是分档的，股票卖出时的税率貌似是固定的 20%。注意我的用词是&ldquo;貌似&rdquo;，这意味着我对税率并不了解，没有确切的把握，只是听说了一些小道消息。</p>
<h2>
	晋升</h2>
只有 KPI 考核优异的程序员才会得到晋升，否则主管不会提名。晋升时需要进行述职，通过晋升委员会的面试。
<p class="tip-box">
	晋升委员会一般由你的直属领导、合作方业务部门领导、HRG、所在业务线领导等组成。</p>
几点晋升规则：<br />
<ul>
	<li>
		晋升至 P8 及其以下级别，子公司内部评定；</li>
	<li>
		晋升到 P9 级别，集团专业委员会进行评审；</li>
	<li>
		M 不得自主提名，M3 及以下公司内 one over one plus HR 评审；</li>
	<li>
		晋升至 M4 进集团管理委员会评审。</li>
</ul>
<p class="tip-box">
	one over one plus HR，即由员工的上级及上级的上级和一位 HR 人员，三人共同根据&ldquo;六脉神剑&rdquo;上行为导向的阐释对员工的价值观进行考核。员工业务上的考核只占 50%，另外 50% 是针对价值观的考核。<br />
	<br />
	这样的考核模式，一方面是显示了阿里巴巴对价值观的重视，另一方面也在客观上帮助阿里巴巴塑造了一支价值观高度统一的团队。</p>
对于刚入职的程序员，P5 晋升 P6 相对容易，再往上会越来越难，一般到 P7 就是团队技术 leader 了。<br />
<br />
P6 晋升 P7 是一个小门槛，很多人被锁死了上升通道，因为从员工到管理的那一步是不容易跨出去的，第一你的能力可能有限，第二不一定给你留坑。<br />
<br />
很多应届生在大厂工作几年以后会遭遇职业瓶颈，就是因为晋升不到专家岗或者管理岗，有时候是因为个人能力不行，有时候是因为没有机会，此时最好的选择就是跳槽，换一家公司继续发展。<br />
</div>
	<div id="ggxc-weixin-arcbottom">
	<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
	<p style="margin-top:12px; text-align:center;">
		<img src="../templets/new/images/material/qrcode_mp_4.png" alt="公众号二维码" width="160" /><br />
		<span class="col-green">微信扫码关注公众号</span>
	</p>
</div>
	<div id="nice-arcs" class="box-bottom">
    <h4>推荐阅读</h4>
    <ul class="clearfix">
<li><a href="niz69i_8.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_4.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_4.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="75_2.html" title="Go语言内嵌结构体成员名字冲突" target="_blank">Go语言内嵌结构体成员名字冲突</a></li>
<li><a href="2623_2.html" title="MySQL数据库恢复（LOAD DATA）" target="_blank">MySQL数据库恢复（LOAD DATA）</a></li>
<li><a href="../c/pow_2.html" title="C语言pow()函数：求x的y次方的值" target="_blank">C语言pow()函数：求x的y次方的值</a></li>
<li><a href="vip_7340_2.html" title="Go语言使用图像包制作GIF动画" target="_blank">Go语言使用图像包制作GIF动画</a></li>
<li><a href="7504_2.html" title="PHP __destruct()：析构函数/方法" target="_blank">PHP __destruct()：析构函数/方法</a></li>
<li><a href="vip_7726_2.html" title="stack容器适配器实现计算器（含实现代码）" target="_blank">stack容器适配器实现计算器（含实现代码）</a></li>
<li><a href="interpolation-search_2.html" title="插值查找算法" target="_blank">插值查找算法</a></li>
</ul>
</div>
	
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 9622;
window.arcId = "0b29USOewgvY0wMrI9QwrJ4jurg3Lt06MReytrV5e/3/oN3QvbGVbgnY52o";
window.typeidChain = "397";
</script>
<div id="footer" class="clearfix">
	<div class="info left">
	<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
	<p>
		<a href="8066_2.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
		<a href="8092_3.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
		<a href="8097_2.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
		<a href="9648_2.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
		<a href="8093_2.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
		<a href="../sitemap/sitemap_2.html" target="_blank" rel="nofollow">网站地图</a>
	</p>
	<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan_2.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
	</p>
	</div>
	<img id="logo_bottom" class="right" src="https://m.biancheng.net/templets/new/images/logo_bottom_2.gif" alt="底部Logo" />
	<span id="return-top"><b>↑</b></span>
</div>

<div id="addweixin-widget">
	<p>
		<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://m.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
		<img src="https://m.biancheng.net/templets/new/images/material/qrcode_mp_4.png" alt="微信交流群" width="120" />
		<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
	</p>
	<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>

<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>

<script src="https://m.biancheng.net/templets/new/script/jquery1.12.4.min_2.js"></script>
<script src="https://m.biancheng.net/templets/new/script/common_2.js"></script>
<!-- 51la V6 -->
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<!-- 51la V5 -->
<!-- <span style="display: none;"><script type="text/javascript" src="https://js.users.51.la/21368967.js"></script></span> -->
</body>
</html>