<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>曝光一下腾讯的工资待遇和职位级别</title>
<meta name="description" content="腾讯是一个超大型的互联网公司，旗下业务众多，涉及社交、视频、游戏、支付、云计算、通用工具等，基本连接了国内的所有人群。 腾讯作为一个母公司，下辖 6 个事业群，分别是：" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; <a href="../hot/hot.html">推荐阅读</a></span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>曝光一下腾讯的工资待遇和职位级别</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">腾讯是一个超大型的互联网公司，旗下业务众多，涉及社交、视频、游戏、支付、云计算、通用工具等，基本连接了国内的所有人群。<br />
<br />
腾讯作为一个母公司，下辖 6 个事业群，分别是：<br />
<ul>
<li>
CDG：企业发展事业群</li>
<li>
CSIG：云与智慧产业事业群</li>
<li>
IEG：互动娱乐事业群</li>
<li>
PCG：平台与内容事业群</li>
<li>
TEG：技术工程事业群</li>
<li>
WXG：微信事业群</li>
</ul>
<p class="tip-box">
你可以将事业群理解成子公司，或者理解成一个部门。</p>
这篇文章，我就来汇总一下腾讯内部的职位级别和薪资待遇。<br />
&nbsp;<br />
2019 年，腾讯宣布调整职级结构，将原有的 6 级 18 等（1.1~6.3 级）优化为现在的 14 级（4~17 级）。<br />
<br />
<table>
<caption>
旧职位级别 VS 新职位级别</caption>
<tbody>
<tr>
<th colspan="2">
旧职级体系</th>
<th colspan="2">
新职级体系</th>
</tr>
<tr>
<th>
职级</th>
<th>
Title/称呼</th>
<th>
职级</th>
<th>
Title/称呼</th>
</tr>
<tr>
<td>
1.1</td>
<td rowspan="3">
助理工程师</td>
<td>
&nbsp;</td>
<td>
&nbsp;</td>
</tr>
<tr>
<td>
1.2</td>
<td>
4</td>
<td>
4级工程师</td>
</tr>
<tr>
<td>
1.3</td>
<td>
5</td>
<td>
5级工程师</td>
</tr>
<tr>
<td>
2.1</td>
<td rowspan="3">
工程师</td>
<td>
6</td>
<td>
6级工程师</td>
</tr>
<tr>
<td>
2.2</td>
<td>
7</td>
<td>
7级工程师</td>
</tr>
<tr>
<td>
2.3</td>
<td>
8</td>
<td>
8级工程师</td>
</tr>
<tr>
<td>
3.1</td>
<td rowspan="3">
高级工程师</td>
<td>
9</td>
<td>
9级工程师</td>
</tr>
<tr>
<td>
3.2</td>
<td>
10</td>
<td>
10级工程师</td>
</tr>
<tr>
<td>
3.3</td>
<td>
11</td>
<td>
11级工程师</td>
</tr>
<tr>
<td>
4.1</td>
<td rowspan="3">
专家工程师</td>
<td>
12</td>
<td>
12级工程师</td>
</tr>
<tr>
<td>
4.2</td>
<td>
13</td>
<td>
13级工程师</td>
</tr>
<tr>
<td>
4.3</td>
<td>
14</td>
<td>
14级工程师</td>
</tr>
<tr>
<td>
5.1</td>
<td rowspan="3">
资深专家工程师</td>
<td rowspan="2">
15</td>
<td rowspan="2">
15级工程师</td>
</tr>
<tr>
<td>
5.2</td>
</tr>
<tr>
<td>
5.3</td>
<td>
16</td>
<td>
16级工程师</td>
</tr>
<tr>
<td>
6.1</td>
<td rowspan="3">
权威专家</td>
<td rowspan="3">
17</td>
<td rowspan="3">
17级工程师</td>
</tr>
<tr>
<td>
6.2</td>
</tr>
<tr>
<td>
6.3</td>
</tr>
</tbody>
</table>
<br />
<table>
<caption>
不同职位级别对应的年包工资</caption>
<tbody>
<tr>
<th>
职位级别</th>
<th>
年包工资</th>
</tr>
<tr>
<td>
6(2.1)</td>
<td>
29~38W</td>
</tr>
<tr>
<td>
7(2.2)</td>
<td>
36~53W</td>
</tr>
<tr>
<td>
8(2.3)</td>
<td>
40~55W</td>
</tr>
<tr>
<td>
9(3.1)</td>
<td>
53~73W</td>
</tr>
<tr>
<td>
10(3.2)</td>
<td>
82~120W</td>
</tr>
<tr>
<td>
11(3.3)</td>
<td>
131~187W</td>
</tr>
<tr>
<td>
12(4.1)</td>
<td>
229~320W</td>
</tr>
<tr>
<td>
13(4.2)</td>
<td>
500W</td>
</tr>
</tbody>
</table>
<br />
以上工资说的是年包，已经囊括了基本工资 + 奖金 + 股票，如果你不了解大厂的工资结构，请转到《<a data-itemshowtype="0" data-linktype="2" hasload="1" href="9646.html" imgdata="null" imgurl="" linktype="text" tab="innerlink" target="_blank" textvalue="曝光一下大厂的工资结构" wah-hotarea="click">曝光一下大厂的工资结构</a>》。
<p class="tip-box">
注意，以上工资数据来源于 2021-10-05 某 UP 主分享的视频，虽然不是直接证据，但是根据我的经验，这个数据应该差不多。</p>
关于职级的几点说明：<br />
<ul>
<li>
6 级是目前校招最多的级别，社招一般 7 级起步。</li>
<li>
6~10 级别的程序员最多，他们是干活的主力。</li>
<li>
从 11 级开始出现了管理岗，一般是小团队的 leader。</li>
</ul>
<br />
腾讯的工资结构一般都是 16 薪，也即：
<p class="info-box">
13个月工资 + 3个月年终奖 = 16薪</p>
但是从实际到手的 offer 看，也不乏 18 薪的团队。<br />
<br />
13 个月的基本工资是固定的，但是年终奖是看个人绩效和部门业绩的：<br />
<ul>
<li>
如果个人绩效不好，可能会扣除部分或者全部年终奖；</li>
<li>
如果个人绩效突出，或者部门业绩亮眼，可能会拿到更多年终奖，比如 6~10 个月年终奖。</li>
</ul>
<br />
另外，腾讯不同事业群之间存在不小的薪资和股票差距，其中游戏团队的薪资和年终奖比较高，而云计算团队的股票份额比较高。<br />
<br />
总起来说，腾讯的年终奖是比较灵活和慷慨的，尤其是游戏团队。<br />
<h2>
绩效考核（KPI）</h2>
腾讯的绩效考核内容分为 2 部分，包括业务评价和组织管理评价，通俗点说就是业绩考核和行为考核，其中业绩考核的权重为 70%，行为考核的权重为 30%。<br />
<br />
考核频次一般一年 2 次，分别在 6 月和 12 月，实行末尾淘汰制。<br />
<br />
腾讯的绩效评估标准分为 5 个档次，从 1 星到 5 星，5 星是最好的，1 星可能会走人了。<br />
<br />
从实际情况来看，4 星和 5 星员工占总数的 15%~20%，3 星员工占总数的 60% 左右，他们在内部被定义为「被认可的绝大多数员工」；剩下的就是 1 星和 2 星的员工，大概在 15% 左右，他们是比较危险的，很有可能被刷掉。<br />
<h2>
晋升</h2>
腾讯的晋升指标主要有两部分：<br />
<h4>
1) 硬性指标</h4>
根据工作年限、在此前等级的停留年限、考核成绩（考核成绩较低的很难晋等，优秀的反而可能免试）、所负责业务核心程度、是否有重大贡献等等决定。<br />
<h4>
2) 答辩（专业通道面试）</h4>
原则上 8 级之前对硬性指标的要求不高，从 8 级开始对硬性指标要求较高并有严格面试。<br />
</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="804.html" title="Linux Vim三种工作模式（命令模式、输入模式和编辑模式）详解" target="_blank">Linux Vim三种工作模式（命令模式、输入模式和编辑模式）详解</a></li>
<li><a href="1025.html" title="Java实例内部类" target="_blank">Java实例内部类</a></li>
<li><a href="2829.html" title="Shell select in循环详解" target="_blank">Shell select in循环详解</a></li>
<li><a href="vip_5101.html" title="Linux数据备份介质的选择" target="_blank">Linux数据备份介质的选择</a></li>
<li><a href="5833.html" title="什么是多态，Python多态及用法详解" target="_blank">什么是多态，Python多态及用法详解</a></li>
<li><a href="vip_7069.html" title="Java抽象类和接口的联系和区别" target="_blank">Java抽象类和接口的联系和区别</a></li>
<li><a href="8189.html" title="GDB break（b）：设置断点" target="_blank">GDB break（b）：设置断点</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 9645;
window.arcId = "6bb1Np7oQzm88Yqo6Q5qJ/6byS2X6TFzi2iKlPN77XiwdZ+EL8sHJdsxLFU";
window.typeidChain = "397";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>