<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 启用Chromium高速渲染模式 -->
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<!-- 禁止百度转码 -->
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止识别电话号码 -->
<meta name="format-detection" content="telephone=no" />

<link rel="shortcut icon" href="../favicon_3.ico" />
<link href="../templets/new/style/common_2.css" rel="stylesheet" />
<title>作为30岁的大叔，站长想说几句肺腑之言</title>
<meta name="description" content="前几天，朋友带着一个准大学生（今年刚刚高考完）来找我聊天，让我给他的大学生活做个简单规划，避免浪费大好时光。 我自以为是个热情之人，别人向我询问建议时，只要在我的认" />
</head>
<body>
<div id="topbar" class="clearfix">
	<ul id="product-type" class="left">
		<li>
			<a href="../m_biancheng_default_2.html"><span class="iconfont iconfont-home"></span>首页</a>
		</li>
		<li class="active">
			<a href="../sitemap/sitemap_2.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
		</li>
		<li>
			<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
		</li>
		<li>
			<a href="niz69i_5.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
		</li>
		<!-- <li>
			<a href="https://www.54benniao.com/c_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-c-course"></span>C语言高级课程</a>
		</li>
		<li>
			<a href="https://www.54benniao.com/java_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-java-course"></span>Java高级课程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/q2a/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-q2a"></span>一对一答疑</a>
		</li> -->
	</ul>
</div>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="../m_biancheng_default_2.html">
		<img height="26" src="../templets/new/images/logo_2.png" alt="C语言中文网" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li class="wap-yes"><a href="../m_biancheng_default_2.html">首页</a></li>
		<li><a href="../c/c_4.html">C语言教程</a></li>
		<li><a href="../cplus/cplus_2.html">C++教程</a></li>
		<li><a href="../python/python_2.html">Python教程</a></li>
		<li><a href="../java/java_2.html">Java教程</a></li>
		<li><a href="../linux_tutorial/linux_tutorial_2.html">Linux入门</a></li>
		<li><a href="../sitemap/sitemap_2.html" title="网站地图">更多&gt;&gt;</a></li>
	</ul>
	<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
	<div class="arc-info">
	<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../m_biancheng_default_2.html">首页</a> &gt; <a href="../hot/hot_2.html">推荐阅读</a></span>
</div>

<div id="ggxc-position-bottom" class="ggxc-box"></div>
	<h1>作为30岁的大叔，站长想说几句肺腑之言</h1>
	<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
	<div id="arc-body">前几天，朋友带着一个准大学生（今年刚刚高考完）来找我聊天，让我给他的大学生活做个简单规划，避免浪费大好时光。<br />
<br />
我自以为是个热情之人，别人向我询问建议时，只要在我的认知范围以内，我都会毫无保留地输出给别人。<br />
<p class="tip-box">
	两个人交换一个苹果，彼此还是有一个苹果；两个人交换一个想法，彼此就有两个想法。从这个角度讲，帮助别人的同时，也是在帮助自己。</p>
我们聊了一个多小时，深入地探讨了一下人生的几个重要分水岭。<br />
<br />
作为一个三十多岁的大叔，作为一个还未油腻的中年人，虽然我还有自己的理想主义，但是我的职业生涯基本已经固化，不可能再转行了。<br />
<br />
接下来，我就从「过来人」的角度谈一下这几个重要的分水岭，既有鸡汤，也有干货。
<h2>
	人生分水岭</h2>
人生有很多重要的分水岭，每个分水岭都能让我们拉开差距，从而领跑别人，或者被别人领跑。
<h4>
	1) 高考</h4>
高考决定了你的大学和学历，进入名牌大学是一生的光环。<br />
<br />
名牌大学代表你有出彩的学习能力，能在全球最内卷的教育事业中杀出重围，获得成功。这种能力会被所有企业认可，毕业后你将获得一份不错的工作。<br />
<br />
学历会影响你的整个职业生涯，即使工作多年以后，仍然会被企业卡学历。<br />
<br />
名牌大学代表你有高端的圈子，你将接受不一样的影响，植入不一样的三观。说白了，你的同学在做什么，你也可能跟随做什么。
<p class="tip-box">
	人是社会性动物，请不要忽略圈子的力量。</p>
另外，你会拿自己和周围的人进行比较，大学同学的那些成就，也将激励你不断进步。
<h4>
	2) 大学三/四年</h4>
大学是人生最好的学习机会，没有之一，错过了将悔恨终生，错过了将损失一个亿。<br />
<br />
我说的学习，不是指考高分，而是指培养一技之长，或者兴趣爱好，让自己的&ldquo;市值&rdquo;成倍增长。<br />
<br />
大学生有很多业余时间，并且不用为经济发愁，可以自由地学习和成长。三四年的时间，足够改变一个人了，充分利用好这段时间，你将变得耳目一新。<br />
<br />
咳咳，有些读者可能会反驳，认为毕业以后也会有大把的学习时间，所以不用着急，也不用给自己压力。<br />
<br />
我告诉你，毕业以后你将失去学习的环境，就像鸟儿失去天空，鱼儿失去海洋；这一点并不是危言耸听，具体原因我已经在《<a href="9482_2.html" target="_blank">大学是最好的学习时间，错过了悔恨终生</a>》中提到。
<h4>
	3) 第一份工作</h4>
第一份工作是一个起点，如果你能进入一家名企或者大厂，以后的职业发展会非常顺利。名企/大厂也是人生的一个光环。<br />
<br />
第一份工作往往也意味着以后的职业发展方向，选择大于努力，如果你进入了一个朝阳产业，那么你就站在了风口上。<br />
<br />
不要想着暂时随便找家公司，以后再跳槽到大厂。打工也是论出身的，从小厂跳槽到大厂是比较困难的，甚至有运气成分，很多人努力了一下没有希望，就直接放弃了。<br />
<br />
也不要想着以后再转行，这个需要巨大的勇气和毅力，年龄越大越困难，30 岁以后几乎没有什么可能性了。<br />
<br />
结婚之前你可能还会谈梦想，结婚之后你只会谈一个字，就是&ldquo;钱&rdquo;。打工人的世界，物质决定精神。
<h4>
	4) 工作五年以后</h4>
毕业五年以后，基本就能看清一个人的工作能力，这个能力将伴随你的此后余生。<br />
<br />
毕业五年以后，有人晋升，有人创业，有人躺平，有人被产业带飞，人与人之间的差距开始凸显；十年以后，大家就有了不同的阶级。<br />
<br />
这个时候，你已经 35 岁左右了，有了稳定的圈子和家庭，也磨灭了敢打敢拼的锐气，不想再折腾，不敢再谈梦想了，人生也基本就此定格了，很难再有阶级跃升。
<h2>
	总结</h2>
20 岁进入大学，24 岁大学毕业，30 岁人生稳定。你看，决定人生的也就黄金十年。<br />
<br />
这十年请大家一定要珍惜，有机会的话可以使劲折腾一下。梦想还是要有的，万一实现了呢？</div>
	<div id="ggxc-weixin-arcbottom">
	<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
	<p style="margin-top:12px; text-align:center;">
		<img src="../templets/new/images/material/qrcode_mp_4.png" alt="公众号二维码" width="160" /><br />
		<span class="col-green">微信扫码关注公众号</span>
	</p>
</div>
	<div id="nice-arcs" class="box-bottom">
    <h4>推荐阅读</h4>
    <ul class="clearfix">
<li><a href="niz69i_8.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_4.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_4.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="571_2.html" title="C++ find_if（STL find_if）查找算法详解" target="_blank">C++ find_if（STL find_if）查找算法详解</a></li>
<li><a href="7584_2.html" title="MySQL修改/删除字段" target="_blank">MySQL修改/删除字段</a></li>
<li><a href="8207_2.html" title="Django unittest测试框架特性简述" target="_blank">Django unittest测试框架特性简述</a></li>
<li><a href="../redis/config-summary_2.html" title="Redis配置项汇总（超级详细）" target="_blank">Redis配置项汇总（超级详细）</a></li>
<li><a href="9430_2.html" title="Qt QFile文件操作详解" target="_blank">Qt QFile文件操作详解</a></li>
<li><a href="vip_9662_2.html" title="Qt自定义信号和槽函数" target="_blank">Qt自定义信号和槽函数</a></li>
<li><a href="nbrueab_2.html" title="《手把手教你学51单片机(C语言版)》第2版PDF下载（高清完整版）" target="_blank">《手把手教你学51单片机(C语言版)》第2版PDF下载（高清完整版）</a></li>
</ul>
</div>
	
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 9763;
window.arcId = "1f25I5+Mtg9+Udu/gtGOtA+2Yu5o1n1yHxehx9PkIUI55g7BHwvp24YO8ZU";
window.typeidChain = "397";
</script>
<div id="footer" class="clearfix">
	<div class="info left">
	<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
	<p>
		<a href="8066_2.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
		<a href="8092_3.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
		<a href="8097_2.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
		<a href="9648_2.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
		<a href="8093_2.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
		<a href="../sitemap/sitemap_2.html" target="_blank" rel="nofollow">网站地图</a>
	</p>
	<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan_2.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
	</p>
	</div>
	<img id="logo_bottom" class="right" src="https://m.biancheng.net/templets/new/images/logo_bottom_2.gif" alt="底部Logo" />
	<span id="return-top"><b>↑</b></span>
</div>

<div id="addweixin-widget">
	<p>
		<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://m.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
		<img src="https://m.biancheng.net/templets/new/images/material/qrcode_mp_4.png" alt="微信交流群" width="120" />
		<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
	</p>
	<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>

<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>

<script src="https://m.biancheng.net/templets/new/script/jquery1.12.4.min_2.js"></script>
<script src="https://m.biancheng.net/templets/new/script/common_2.js"></script>
<!-- 51la V6 -->
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<!-- 51la V5 -->
<!-- <span style="display: none;"><script type="text/javascript" src="https://js.users.51.la/21368967.js"></script></span> -->
</body>
</html>