<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>Go语言是什么</title>
<meta name="description" content="Go 语言是如何诞生的？与其他编程语言相比，Go 语言有什么特点呢？本节我们将回答上述问题，带领大家了解 Go 语言。 Go语言的产生 Go 语言（又称 Golang 语言）是一门开源的程序设计语" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>Go语言是什么</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">Go 语言是如何诞生的？与其他编程语言相比，Go 语言有什么特点呢？本节我们将回答上述问题，带领大家了解 Go 语言。<br />
<h2>
Go语言的产生</h2>
Go 语言（又称 Golang 语言）是一门开源的程序设计语言，意在让人们能够方便地构建简单、可靠、高效的软件。<br />
<br />
Go 语言核心开发者为罗伯特&middot;格瑞史莫（Robert Griesemer）、罗勃&middot;派克（Rob Pike）及肯&middot;汤普逊（Ken Thompson），他们都是国际顶级 IT 技术&ldquo;大牛&rdquo;：
<ul>
<li>
罗伯特&middot;格瑞史莫是贝尔实验室 UNIX 团队成员，C语言、UNIX 和 Plan 9 的创始人之一；</li>
<li>
罗勃&middot;派克是贝尔实验室 UNIX 团队成员，Go 语言项目总负责人，还参与了 Plan 9、Inferno 操作系统、Limbo 编程语言的设计；</li>
<li>
肯&middot;汤普逊是 Google 公司的资深程序员，参与了 Java 虚拟机 HotSpot、Chrome 浏览器等的设计；</li>
</ul>
<br />
他们都承认 C语言的低效，以及 C++ 语言在编译及内存资源释放等方面存在诸多缺点。那么，能不能开发一门既兼顾 C、C++ 语言的功能强大、运行速度快等优点，又兼顾 Python 等语言的易学、高效等优点的开发语言呢？于是，这几个&ldquo;大牛&rdquo;一拍即合，从 2006 年 1 月开始设计全新的 Go 语言，于 2009 年 11 月将其开源，并在 2012 年 3 月发布第一个稳定版本 Go 1。截至 2022 年 4 月，Go 语言的最新稳定版本是 Go 1.18。<br />
<br />
根据著名的编程语言排行网站 TIOBE 2022 年 4 月的最新排名，Go语言进入排名 13 的位置，作为后起之秀，发展潜力很大。<br />
<br />
目前，很多国内外知名 IT 企业都在使用 Go 语言，如 Google、Facebook、腾讯、百度、360、京东、小米、七牛云等。<br />
<br />
Go 语言的标志是一只可爱的囊地鼠，如下图所示，由罗勃&middot;派克的妻子&mdash;&mdash;才华横溢的插画师蕾妮&middot;弗伦奇（Renee French）设计。<br />
<br />
<div style="text-align: center;">
<img alt="" src="../uploads/allimg/221104/2-2211041KJ1327.jpg" /><br />
图 1 Go语言的标志</div>
<h2>
Go语言的特点与优势</h2>
Go 语言是对 C、C++ 等类似语言的一次重大改进，它不但可以开发基于底层的操作系统，还为应用系统开发提供了强大的网络编程、并发编程等支持。<br />
<h3>
1、简单易学</h3>
当读者面对 C、C++、Java、C#、PHP、R、Python、Ruby、Perl 等一长串编程语言清单时，选择一款易学且功能强大的编程语言是首要任务，也是罗伯特&middot;格瑞史莫他们深入思考的问题。于是，他们在设计 Go 语言时，充分吸收了 C、C++ 语言的优点，如快速编译执行，并采用了它们的语法格式风格，保留了它们强大的面向操作系统的开发功能；避免了让人头疼的古怪指针的用法，将手动处理内存垃圾转变为自动处理，进一步统一并保证了语法的简练性；同时，根据最新发展趋势，增加了简单易用的并发处理、网络开发功能等。<br />
<br />
如果学习 C、C++ 语言需要花费半年的时间，才能进入项目开发状态，那么学习 Go 语言只需要花费两个月的时间，这就是 Go 语言吸引人的地方。<br />
<h3>
2、功能强大</h3>
<h4>
1) 自带垃圾回收（Garbage Collection，GC）功能</h4>
程序员无须关心在内存里执行完的代码如何被清理，因为 Go 语言自带垃圾回收功能。而在 C、C++ 语言中，这是需要程序员考虑并处理的，很容易出错，是这类编程语言的一大缺陷。<br />
<h4>
2) 快速编译功能</h4>
Go 语言自带编译器，用于一次性把代码转换为二进制（或字节）形式的可执行命令包。在 Windows 下，编译器是指扩展名为&ldquo;.exe&rdquo;&ldquo;.dll&rdquo;的可执行程序。先编译再执行软件功能的过程叫作编译执行。边把代码翻译成机器码边执行代码功能的过程叫作解释执行。显然，在软件功能执行效率上，解释执行不如编译执行。另外，Go 语言的编译速度要快于Java这样的编译语言（Java 最早是脚本语言，后续增加了编译器）。<br />
<br />
显然，Go 语言吸收了 C、C++ 编译器的优点。<br />
<h4>
3）简洁的设计思路</h4>
Go 语言的语法简洁，没有对象、类等复杂的概念和实现要求，这显然是针对 C、C++ 来说的。它借鉴了 Python 简洁的语言设计风格，但是语法简洁并不等同于功能简单，很多强大的功能都可以通过新方法来体现。例如并发功能，只需要使用一个关键字就可以实现，这在其他编程语言中是不可想象的。<br />
<h4>
4）突出最新发展需求&mdash;&mdash;并发</h4>
在大数据、云平台、人工智能、物联网技术快速发展的情况下，利用并发技术提高运算力是当前的一种需求和趋势。罗伯特&middot;格瑞史莫他们抓住了这个细分市场需求，确定了 Go 语言在多核 CPU 并发运行方面的设计优势，使其从底层支持并发，而且简单易用，可以说&ldquo;Go语言为并发而生&rdquo;。<br />
<h4>
5) 提供快速Web开发功能</h4>
网站（Web）是针对当今业务系统的一种主流开发模式。Go 语言提供了强大的 Net/HTTP 功能开发模块，只需要几行语句，就可以实现一个高性能的网站后台服务功能，非常具有吸引力。<br />
<h4>
6) 支持交叉编译</h4>
所谓交叉编译，就是使用 Go 语言开发的代码可以在不同类型的操作系统下编译并运行。例如，在 Windows 下开发的代码可以在 Linux 下编译并运行。<br />
<h4>
7) 第一门完全支持UTF-8的编程语言</h4>
UTF-8 可以兼容全球不同语言，如中文、日文、蒙古语等。Go 语言对其提供了完整的支持，真正做到了国际化。<br />
<h3>
3、应用领域广泛</h3>
Go 语言的应用领域非常广泛，如 Web 开发、分布式和微服务开发、网络编程、数据库系统及容器虚拟化开发、人工智能、云平台开发、游戏开发、爬虫开发、数据分析及科学计算、系统运维等。</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="../mysql/substring.html" title="MySQL SUBSTRING函数：截取字符串" target="_blank">MySQL SUBSTRING函数：截取字符串</a></li>
<li><a href="5537.html" title="Python GIL全局解释器锁详解（深度剖析）" target="_blank">Python GIL全局解释器锁详解（深度剖析）</a></li>
<li><a href="5574.html" title="Go语言WEB框架(Gin)详解" target="_blank">Go语言WEB框架(Gin)详解</a></li>
<li><a href="8224.html" title="Django项目部署搭建uWSGI工作环境" target="_blank">Django项目部署搭建uWSGI工作环境</a></li>
<li><a href="../servlet2/filter.html" title="Servlet Filter（过滤器）" target="_blank">Servlet Filter（过滤器）</a></li>
<li><a href="../css3/length-unit.html" title="CSS长度单位汇总" target="_blank">CSS长度单位汇总</a></li>
<li><a href="../c/acos.html" title="C语言acos()：求反余弦" target="_blank">C语言acos()：求反余弦</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 9780;
window.arcId = "2304xswWmhJJRuUS/9SW2x35KuYQm1Nim1JW4lsER2hr6z+pPqfe9oOI7D4";
window.typeidChain = "6|119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>