<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>机器学习介绍（非常详细）</title>
<meta name="description" content="随着人工智能技术的快速发展，如今机器学习（machine learning）这个名词说是烂大街也不为过。作为一门以数学计算理论为支撑的综合性学科，机器学习的范畴早已广博繁杂，以至于别人" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>机器学习介绍（非常详细）</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">随着人工智能技术的快速发展，如今机器学习（machine learning）这个名词说是&ldquo;烂大街&rdquo;也不为过。作为一门以数学计算理论为支撑的综合性学科，机器学习的范畴早已广博繁杂，以至于别人问你擅长什么，你答曰机器学习，那么大概率你是没有专长的。<br />
<br />
在不同的细分领域、应用场景和研究方向下，每个人做的机器学习研究可能天差地别。例如：
<ul>
<li>
甲同学即将毕业，他想用线性回归来预测应届毕业生在机器学习岗位上的薪资水平；</li>
<li>
乙同学任职于一家医疗技术公司，他想用卷积神经网络来预测患者肺部是否发生病变；</li>
<li>
丙同学是一家游戏公司的算法工程师，他的工作是利用强化学习来进行游戏开发。</li>
</ul>
<br />
上面提到的线性回归、卷积神经网络和强化学习，都是机器学习算法在不同场景下的应用。上层的应用千变万化，但机器学习的底层技术是不变的。<br />
<br />
那么，什么是机器学习的底层技术呢？一是必备的数学推导能力，二是基于数据结构和算法的基本代码实现能力。<br />
<br />
为了方便本章的行文叙述，下面通过一个简单的例子来引入机器学习。丁师傅是一家饭店的厨师，根据个人从业经验，他认为食材新鲜度、食材是否经过处理、火候、调味品用量和烹饪技术是影响一盘菜肴烹饪水平的关键因素。<br />
<h2>
机器学习相关的术语</h2>
机器学习的官方定义为：系统通过计算手段利用经验来改善自身性能的过程。更具体的说法是，机器学习是一门通过分析和计算数据来归纳出数据中普遍规律的学科。<br />
<br />
要进行机器学习，最关键的是要有数据。我们根据丁师傅的经验，记录和收集了几条关于烹饪的数据，这些数据的集合称为数据集（data set），如下表所示。<br />
<br />
<table>
<caption>
表 1 烹饪数据集示例</caption>
<tbody>
<tr>
<td>
食材新鲜度</td>
<td>
食材是否经过处理</td>
<td>
火候</td>
<td>
调味品用量</td>
<td>
烹饪技术</td>
<td>
菜肴评价</td>
</tr>
<tr>
<td>
新鲜</td>
<td>
是</td>
<td>
偏大</td>
<td>
偏大</td>
<td>
熟练</td>
<td>
中等</td>
</tr>
<tr>
<td>
不够新鲜</td>
<td>
否</td>
<td>
适中</td>
<td>
适中</td>
<td>
一般</td>
<td>
好</td>
</tr>
<tr>
<td>
新鲜</td>
<td>
是</td>
<td>
适中</td>
<td>
适中</td>
<td>
熟练</td>
<td>
好</td>
</tr>
<tr>
<td>
新鲜</td>
<td>
否</td>
<td>
适中</td>
<td>
偏小</td>
<td>
一般</td>
<td>
差</td>
</tr>
<tr>
<td>
不够新鲜</td>
<td>
是</td>
<td>
偏小</td>
<td>
适中</td>
<td>
一般</td>
<td>
差</td>
</tr>
</tbody>
</table>
<br />
我们把数据集中的一条记录（即烹饪过程中各种影响因素和结果的组合）叫作样本（sample）或者实例（instance）。影响烹饪结果的各种因素，如&ldquo;食材新鲜度&rdquo;和&ldquo;火候&rdquo;等，称为特征（feature）或者属性（attribute）。样本的数量叫作数据量（data size），特征的数量叫作特征维度（feature dimension）。<br />
<br />
对于实际的机器学习任务，我们需要将整个数据集划分为训练集（train set）和测试集（test set），其中前者用于训练机器学习模型，而后者用于验证模型在未知数据上的效果。<br />
<br />
假设我们要预测的目标变量是离散值，如本例中的&ldquo;菜肴评价&rdquo;，分为&ldquo;好&rdquo;&ldquo;差&rdquo;和&ldquo;中等&rdquo;，那么该机器学习任务就是一个分类（classification）问题。但如果我们想要对烹饪出来的菜肴进行量化评分，比如表 1 的数据，第一条我们评为 5 分，第二条我们评为 8 分等，这种预测目标为连续值的任务称为回归（regression）问题。<br />
<br />
分类和回归问题可以统称为监督学习（supervised learning）问题。但当收集的数据没有具体的标签时，我们也可以仅根据输入特征来对数据进行聚类（clustering）。<br />
<br />
聚类分析可以对数据进行潜在的概念划分，自动将上述烹饪数据划分为&ldquo;好菜品&rdquo;和&ldquo;一般菜品&rdquo;。这种无标签情形下的机器学习称为无监督学习（unsupervised learning）。<br />
<br />
监督学习和无监督学习共同构建起了机器学习的内容框架。<br />
<h2>
机器学习三要素</h2>
按照统计机器学习的观点，任何一个机器学习方法都是由模型（model）、策略（strategy）和算法（algorithm）三个要素构成的，具体可理解为机器学习模型在一定的优化策略下使用相应求解算法来达到最优目标的过程。<br />
<br />
机器学习的第一个要素是模型。机器学习中的模型就是要学习的决策函数或者条件概率分布，一般用假设空间（hypothesis space）F 来描述所有可能的决策函数或条件概率分布。当模型是一个决策函数时，如线性模型的线性决策函数，F 可以表示为若干决策函数的集合<code>F={f|Y=f(X)}</code>，其中 X 和 Y 为定义在输入空间和输出空间中的变量。<br />
<br />
当模型是一个条件概率分布时，如决策树是定义在特征空间和类空间中的条件概率分布，Fv可以表示为条件概率分布的集合<code>F={P|P=Y|X}</code>，其中 X 和 Y 为定义在输入空间和输出空间中的随机变量。<br />
<br />
机器学习的第二个要素是策略。简单来说，就是在假设空间的众多模型中，机器学习需要按照什么标准选择最优模型。对于给定模型，模型输出 f(X) 和真实输出 Y 之间的误差可以用一个损失函数（loss function），也就是<code>L(Y, F(X))</code>来度量。<br />
<br />
不同的机器学习任务都有对应的损失函数，回归任务一般使用均方误差，分类任务一般使用对数损失函数或者交叉熵损失函数等。<br />
<br />
机器学习的最后一个要素是算法。这里的算法有别于所谓的&ldquo;机器学习算法&rdquo;，在没有特别说明的情况下，&ldquo;机器学习算法&rdquo;实际上指的是模型。作为机器学习三要素之一的算法，指的是学习模型的具体优化方法。当机器学习的模型和损失函数确定时，机器学习就可以具体地形式化为一个最优化问题，可以通过常用的优化算法，比如随机梯度下降法、牛顿法、拟牛顿法等进行模型参数的优化求解。<br />
<br />
当一个机器学习问题的模型、策略和算法都确定了，相应的机器学习方法也就确定了，因而这三者也叫&ldquo;机器学习三要素&rdquo;。<br />
<h2>
机器学习核心</h2>
机器学习的目的在于训练模型，使其不仅能够对已知数据而且能对未知数据有较好的预测能力。当模型对已知数据预测效果很好但对未知数据预测效果很差的时候，就引出了机器学习的核心问题之一：过拟合（over-fitting）。<br />
<br />
先来看一下监督机器学习的核心哲学。总的来说，所有监督机器学习都可以用如下公式来概括：<br />
<br />
上面的公式就是监督机器学习中的损失函数计算公式，其中第一项为针对训练集的经验误差项，即我们常说的训练误差；第二项为正则化项，也称惩罚项，用于对模型复杂度的约束和惩罚。<br />
<br />
所以，所有监督机器学习的核心任务无非就是正则化参数的同时最小化经验误差。多么简约的哲学啊！各类机器学习模型的差别无非就是变着方式改变经验误差项，即我们常说的损失函数。不信你看：当第一项是平方损失（square loss）时，机器学习模型便是线性回归；当第一项变成指数损失（exponential loss）时，模型则是著名的 AdaBoost（一种集成学习树模型算法）；而当损失函数为合页损失（hinge loss）时，便是大名鼎鼎的 SVM了！<br />
<br />
综上所述，第一项&ldquo;经验误差项&rdquo;很重要，它能变着法儿改变模型形式，我们在训练模型时要最大限度地把它变小。但在很多时候，决定机器学习模型质量的关键通常不是第一项，而是第二项&ldquo;正则化项&rdquo;。正则化项通过对模型参数施加约束和惩罚，让模型时时刻刻保持对过拟合的警惕。<br />
<br />
所以，我们再回到前面提到的监督机器学习的核心任务：正则化参数的同时最小化经验误差。通俗来讲，就是训练集误差小，测试集误差也小，模型有着较好的泛化能力；或者模型偏差小，方差也小。<br />
<br />
但是很多时候模型的训练并不如人愿。当你在机器学习领域摸爬滚打已久时，想必更能体会到模型训练的艰辛，要想训练集和测试集的性能表现高度一致实在太难了。很多时候，我们会把经验损失（即训练误差）降到极低，但模型一到测试集上，瞬间&ldquo;天崩地裂&rdquo;，表现得一塌糊涂。这种情况便是我们要谈的主题：过拟合。<br />
<br />
所谓过拟合，指在机器学习模型训练的过程中，模型对训练数据学习过度，将数据中包含的噪声和误差也学习了，使得模型在训练集上表现很好，而在测试集上表现很差的一种现象。机器学习简单而言就是归纳学习数据中的普遍规律，一定得是普遍规律，像这种将数据中的噪声也一起学习了的，归纳出来的便不是普遍规律，而是过拟合。<br />
<br />
欠拟合、正常拟合与过拟合的表现形式如下图所示：<br />
<br />
<div style="text-align: center;">
<img alt="" src="../uploads/allimg/221115/2-2211151JF9154.gif" /><br />
图 1 欠拟合、正常拟合与过拟合</div>
<br />
鉴于过拟合十分普遍并且关乎模型的质量，笔者认为，在机器学习实践中，与过拟合长期坚持不懈地斗争是机器学习的核心。而机器学习的一些其他问题，诸如特征工程、扩大训练集数量、算法设计和超参数调优等都是为防止过拟合这个核心问题而服务的。
<h2>
机器学习流程</h2>
一个完整的机器学习项目的流程，具体如下图所示：<br />
<br />
<div style="text-align: center;">
<img alt="" src="../uploads/allimg/221115/2-2211151JJ4D7.gif" /><br />
图 2 机器学习基本流程</div>
<h4>
1) 需求分析</h4>
很多算法工程师可能觉得需求分析没有技术含量，因而不太重视项目启动前的需求分析工作。这对于一个项目而言其实是非常危险的。<br />
<br />
需求分析的主要目的是为项目确定方向和目标，为整个项目的顺利开展制订计划和设立里程碑。我们需要明确机器学习目标，输入是什么，目标输出是什么，是回归任务还是分类任务，关键性能指标都有哪些，是结构化的机器学习任务还是基于深度学习的图像和文本任务，市面上项目相关的产品都有哪些，对应的SOTA（state of the art）模型有哪些，相关领域的前沿研究和进展都到什么程度了，项目有哪些有利条件和风险。这些都需要在需求分析阶段认真考虑。<br />
<h4>
2) 数据采集</h4>
一个机器学习项目要开展下去，最关键的资源就是数据。<br />
<br />
在数据资源相对丰富的领域，比如电商、O2O、直播以及短视频等行业，企业一般会有自己的数据源，业务部门提出相关需求后，数据工程师可直接根据需求从数据库中提取数据。但对于本身数据资源就贫乏或者数据隐私性较强的行业，比如医疗行业，一般很难获得大量数据，并且医疗数据的标注也比较专业化，高质量的医疗标注数据尤为难得。<br />
<br />
对于这种情况，我们可以先获取一些公开数据集或者竞赛数据集进行算法开发。还有一种情况是目标数据在网页端，比如我们想了解杭州二手房价格信息，找出影响杭州二手房价格的关键因素，这时候可能需要使用像爬虫一类的数据采集技术获取相关数据。<br />
<h4>
3) 数据清洗</h4>
由于公开数据集和一些竞赛数据集非常&ldquo;干净&rdquo;，有的甚至可以直接用于模型训练，所以一些机器学习初学者认为只需专注于模型与算法设计就可以了。其实不然。在生产环境下，我们拿到的数据都会比较&ldquo;脏&rdquo;，以至于需要花大量时间清洗数据，有些人甚至认为数据清洗和特征工程要占用项目 70% 以上的时间。<br />
<h4>
4) 数据分析与可视化</h4>
数据清洗完后，一般不建议直接对数据进行训练。这时候我们对于要训练的数据还是非常陌生的。数据都有哪些特征？是否有很多类别特征？目标变量分布如何？各自变量与目标变量的关系是否需要可视化展示？数据中各变量缺失值的情况如何？怎样处理缺失值？上述问题都需要在探索性数据分析（exploratory data analysis，EDA）和数据可视化过程中找到答案。<br />
<h4>
5) 建模调优与特征工程</h4>
数据初步分析完后，对数据就会有一个整体的认识，一般就可以着手训练机器学习模型了。但建模通常不是一锤子买卖，训练完一个基线（baseline）模型之后，需要花大量时间进行模型调参和优化。<br />
<br />
另外，结合业务的精细化特征工程工作比模型调参更能改善模型表现。建模调优与特征工程之间本身是个交互性的过程，在实际工作中我们可以一边进行调参，一边进行特征设计，交替进行，相互促进，共同改善模型表现。<br />
<h4>
6) 模型结果展示与分析报告</h4>
经过一定的特征工程和模型调优之后，一般会有一个阶段性的最优模型结果，模型对应的关键性能指标都会达到最优状态。这时候需要通过一定的方式呈现模型，并对模型的业务含义进行解释。如果需要给上级领导和业务部门做决策参考，一般还需要生成一份有价值的分析报告。<br />
<h4>
7) 模型部署与上线反馈优化</h4>
给出一份分析报告不是一个机器学习项目的最终目的，将模型部署到生产环境并能切实产生收益才是机器学习的最终价值所在。<br />
<br />
如果新上线的推荐算法能让用户的广告点击率上升 0.5%，为企业带来的收益也是巨大的。该阶段更多的是需要进行工程方面的一些考量，是以 Web 接口的形式提供给开发部门，还是以脚本的形式嵌入到软件中，后续如何收集反馈并提供产品迭代参考，这些都是需要在模型部署和上线之后考虑的。<br />
</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="948.html" title="Java创建一个学生类" target="_blank">Java创建一个学生类</a></li>
<li><a href="1991.html" title="C语言指针变量的定义和使用（精华）" target="_blank">C语言指针变量的定义和使用（精华）</a></li>
<li><a href="3411.html" title="深度优先搜索（DFS、深搜）和广度优先搜索（BFS、广搜）" target="_blank">深度优先搜索（DFS、深搜）和广度优先搜索（BFS、广搜）</a></li>
<li><a href="4268.html" title="Spring AOP（面向切面编程）是什么？" target="_blank">Spring AOP（面向切面编程）是什么？</a></li>
<li><a href="7416.html" title="MySQL HAVING：过滤分组" target="_blank">MySQL HAVING：过滤分组</a></li>
<li><a href="9793.html" title="关于NoSQL数据库的一切，终于说清楚了" target="_blank">关于NoSQL数据库的一切，终于说清楚了</a></li>
<li><a href="7lj7kim.html" title="《C语言程序设计教程(第3版)》王敬华PDF下载（高清完整版）" target="_blank">《C语言程序设计教程(第3版)》王敬华PDF下载（高清完整版）</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 9832;
window.arcId = "a2224YgVxFnHgyha0pPmMZnh7e5f7sjLaOTFnEuUFPni5uzIU3Kn3vssY3U";
window.typeidChain = "145|119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>