<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<link href="../templets/new/style/book.css" rel="stylesheet" />
<title>《C语言项目开发全程实录》第2版PDF下载（高清完整版）</title>
<meta name="description" content="作者：明日科技 出版时间：2018年05月01日 出版社：清华大学出版社 书号ISBN：9787302498827 总页数：414 总字数：72.6W" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 书籍下载</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>《C语言项目开发全程实录》第2版PDF下载（高清完整版）</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">
<table class="book-profile">
<tbody>
<tr>
<td rowspan="6" width="205">
<img alt="《C语言项目开发全程实录》第2版封面" src="../uploads/allimg/231019/2-231019143621114.jpg" style="width: 185px; height: 250px;" /></td>
<td>
作者：明日科技</td>
</tr>
<tr>
<td>
出版时间：2018年05月01日</td>
</tr>
<tr>
<td>
出版社：清华大学出版社</td>
</tr>
<tr>
<td>
书号ISBN：9787302498827</td>
</tr>
<tr>
<td>
总页数：414</td>
</tr>
<tr>
<td>
总字数：72.6W</td>
</tr>
</tbody>
</table>
<br />
这是一本手把手带领 C 程序员做项目的书籍，全书包含 12 个完整实战项目，适合有 C 语言基础、想动手实操的读者。<br />
<br />
这里提供的是《C语言项目开发全程实录》第 2 版的高清 PDF 下载，内容完整，附带目录标签。<br />
<br />
这本书中的 12 个项目是作者精心挑选的，几乎涵盖了各大主流行业用到的核心技术。每个项目尽可能接近真实的开发过程，从系统分析到环境搭建，从参数设置到数据库配置，从模块开发到完整项目实现。做完这些项目，你的编程能力能达到中等靠上的水平。<br />
<br />
一位购买了这本书的读者给出的评价是：
<p class="info-box">
适合有 C 基础的人看，学习借鉴一下别人的编程思维还是不错的，内容蛮丰富的。</p>
还有一位读者也给出了好评：
<p class="info-box">
很实用的 C 语言书籍，内容新，对深入掌握 C 语言有帮助。</p>
<h3>
书籍目录</h3>
<dl class="book-contents">
<dt>
第1章 火车订票系统（DEV C 实现） 1</dt>
<dd>
1.1 开发背景 2</dd>
<dd>
1.2 需求分析 2</dd>
<dd>
1.3 系统设计 2</dd>
<dd>
1.4 预处理模块设计 5</dd>
<dd>
1.5 主函数设计 7</dd>
<dd>
1.6 添加模块设计 12</dd>
<dd>
1.7 查询模块设计 14</dd>
<dd>
1.8 订票模块设计 17</dd>
<dd>
1.9 修改模块设计 19</dd>
<dd>
1.10 显示模块设计 21</dd>
<dd>
1.11 保存模块设计 22</dd>
<dd>
1.12 开发总结 24</dd>
<dt>
第2章 通讯录管理系统（DEV C 实现） 25</dt>
<dd>
2.1 开发背景 26</dd>
<dd>
2.2 系统分析 26</dd>
<dd>
2.3 系统设计 26</dd>
<dd>
2.4 文件引用 28</dd>
<dd>
2.5 声明结构体 28</dd>
<dd>
2.6 函数声明 29</dd>
<dd>
2.7 功能菜单设计 29</dd>
<dd>
2.8 通讯录录入设计 32</dd>
<dd>
2.9 通讯录查询设计 34</dd>
<dd>
2.10 通讯录删除设计 35</dd>
<dd>
2.11 通讯录显示设计 37</dd>
<dd>
2.12 通讯录数据保存设计 38</dd>
<dd>
2.13 数据加载设计 39</dd>
<dd>
2.14 开发总结 41</dd>
<dt>
第3章 学生个人消费管理系统（DEV C 实现） 42</dt>
<dd>
3.1 开发背景 43</dd>
<dd>
3.2 需求分析 43</dd>
<dd>
3.3 系统设计 43</dd>
<dd>
3.4 预处理模块设计 47</dd>
<dd>
3.5 主函数设计 49</dd>
<dd>
3.6 录入学生消费信息模块 53</dd>
<dd>
3.7 查询学生消费信息模块 59</dd>
<dd>
3.8 删除学生消费信息模块 61</dd>
<dd>
3.9 显示学生消费信息模块 64</dd>
<dd>
3.10 保存学生消费信息模块 66</dd>
<dd>
3.11 添加学生消费信息模块 68</dd>
<dd>
3.12 开发总结 72</dd>
<dt>
第4章 企业员工管理系统（DEV C 实现） 73</dt>
<dd>
4.1 开发背景 74</dd>
<dd>
4.2 系统分析 74</dd>
<dd>
4.3 系统设计 75</dd>
<dd>
4.4 头文件模块设计 76</dd>
<dd>
4.5 主函数模块设计 78</dd>
<dd>
4.6 系统初始化模块设计 79</dd>
<dd>
4.7 功能菜单模块设计 82</dd>
<dd>
4.8 系统登录模块设计 85</dd>
<dd>
4.9 员工信息添加模块设计 87</dd>
<dd>
4.10 员工信息删除模块设计 90</dd>
<dd>
4.11 员工信息查询模块设计 92</dd>
<dd>
4.12 员工信息修改模块设计 100</dd>
<dd>
4.13 员工信息统计模块设计 107</dd>
<dd>
4.14 系统密码重置模块设计 108</dd>
<dd>
4.15 开发总结 110</dd>
<dt>
第5章 超级万年历（DEV C 实现） 111</dt>
<dd>
5.1 开发背景 112</dd>
<dd>
5.2 需求分析 112</dd>
<dd>
5.3 系统功能设计 113</dd>
<dd>
5.4 预处理模块设计 115</dd>
<dd>
5.5 主窗体设计 118</dd>
<dd>
5.6 打印月历 140</dd>
<dd>
5.7 其他算法 150</dd>
<dd>
5.8 开发总结 161</dd>
<dt>
第6章 贪吃蛇游戏（Visual C 6.0实现） 163</dt>
<dd>
6.1 开发背景 164</dd>
<dd>
6.2 需求分析 164</dd>
<dd>
6.3 系统功能设计 165</dd>
<dd>
6.4 预处理模块设计 167</dd>
<dd>
6.5 游戏欢迎界面设计 171</dd>
<dd>
6.6 游戏主窗体设计 177</dd>
<dd>
6.7 游戏逻辑 184</dd>
<dd>
6.8 游戏失败界面设计 195</dd>
<dd>
6.9 游戏说明模块 204</dd>
<dd>
6.10 开发总结 207</dd>
<dt>
第7章 学生信息管理系统（Visual C 6.0实现） 208</dt>
<dd>
7.1 开发背景 209</dd>
<dd>
7.2 需求分析 209</dd>
<dd>
7.3 系统设计 209</dd>
<dd>
7.4 预处理模块设计 214</dd>
<dd>
7.5 主函数设计 216</dd>
<dd>
7.6 录入学生信息模块 218</dd>
<dd>
7.7 查询学生信息模块 222</dd>
<dd>
7.8 删除学生信息模块 224</dd>
<dd>
7.9 修改学生信息模块 226</dd>
<dd>
7.10 插入学生信息模块 228</dd>
<dd>
7.11 学生成绩排名模块 230</dd>
<dd>
7.12 显示所有学生信息 232</dd>
<dd>
7.13 开发总结 233</dd>
<dt>
第8章 图书管理系统（Visual C 6.0 MySQL实现） 234</dt>
<dd>
8.1 概述 235</dd>
<dd>
8.2 系统设计 235</dd>
<dd>
8.3 数据库设计 239</dd>
<dd>
8.4 C语言开发数据库程序的流程 250</dd>
<dd>
8.5 C语言操作MySQL数据库 253</dd>
<dd>
8.6 文件引用 262</dd>
<dd>
8.7 变量和函数定义 263</dd>
<dd>
8.8 主要功能模块设计 263</dd>
<dd>
8.9 开发总结 288</dd>
<dt>
第9章 网络通信系统（Visual C 6.0实现） 289</dt>
<dd>
9.1 网络通信系统概述 290</dd>
<dd>
9.2 技术攻关 292</dd>
<dd>
9.3 网络通信系统主程序 301</dd>
<dd>
9.4 点对点通信 304</dd>
<dd>
9.5 服务器中转通信 312</dd>
<dd>
9.6 程序调试与错误处理 321</dd>
<dd>
9.7 开发总结 323</dd>
<dt>
第10章 窗体版图书管理系统（Visual C 6.0 WINAPI MySQL数据库实现） 326</dt>
<dd>
10.1 开发背景 327</dd>
<dd>
10.2 需求分析 327</dd>
<dd>
10.3 系统设计 327</dd>
<dd>
10.4 技术指南 330</dd>
<dd>
10.5 工具模块设计 333</dd>
<dd>
10.6 登录模块设计 336</dd>
<dd>
10.7 客户端主界面设计 340</dd>
<dd>
10.8 基本信息管理模块设计 345</dd>
<dd>
10.9 库存管理模块设计 354</dd>
<dd>
10.10 查询模块设计 362</dd>
<dd>
10.11 开发总结 366</dd>
<dt>
第11章 商品管理系统（Visual C 6.0实现） 367</dt>
<dd>
11.1 开发背景 368</dd>
<dd>
11.2 需求分析 368</dd>
<dd>
11.3 系统设计 368</dd>
<dd>
11.4 预处理模块设计 369</dd>
<dd>
11.5 功能菜单设计 371</dd>
<dd>
11.6 商品录入设计 374</dd>
<dd>
11.7 商品查询设计 380</dd>
<dd>
11.8 商品删除设计 382</dd>
<dd>
11.9 商品修改设计 386</dd>
<dd>
11.10 商品记录插入设计 389</dd>
<dd>
11.11 商品记录排序设计 392</dd>
<dd>
11.12 商品记录统计设计 395</dd>
<dd>
11.13 开发总结 396</dd>
<dt>
第12章 MP3音乐播放器（Linux系统） 397</dt>
<dd>
12.1 GStreamer简介 398</dd>
<dd>
12.2 界面设计 400</dd>
<dd>
12.3 代码设计 401</dd>
<dd>
12.4 开发总结 414</dd>
</dl>
<h3>书籍下载</h3>
<p><a href="http://vip.biancheng.net/wechatlogin.php" target="_blank">一键登录</a>，免费下载完整版 PDF，文件名称：《C语言项目开发全程实录》第2版.pdf</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="66.html" title="Go语言实例化结构体——为结构体分配内存并初始化" target="_blank">Go语言实例化结构体——为结构体分配内存并初始化</a></li>
<li><a href="../mysql/date_add_adddate.html" title="MySQL DATE_ADD和ADDDATE函数：向日期添加指定时间间隔" target="_blank">MySQL DATE_ADD和ADDDATE函数：向日期添加指定时间间隔</a></li>
<li><a href="6124.html" title="Goland 2019下载和安装（带破解补丁和汉化包）" target="_blank">Goland 2019下载和安装（带破解补丁和汉化包）</a></li>
<li><a href="6987.html" title="C++ STL priority_queue容器适配器详解" target="_blank">C++ STL priority_queue容器适配器详解</a></li>
<li><a href="vip_7044.html" title="Java是如何实现跨平台的，原理是什么？" target="_blank">Java是如何实现跨平台的，原理是什么？</a></li>
<li><a href="../csharp/preprocessor-directives.html" title="C#预处理器指令" target="_blank">C#预处理器指令</a></li>
<li><a href="../c/sqrt.html" title="C语言sqrt()：求平方根" target="_blank">C语言sqrt()：求平方根</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 10614;
window.arcId = "fd7aYaFggw61/XYfuZW3fCXgKGO7Wh0xcAsWkkHyWsEutnWIEiT+QdiuIefN";
window.typeidChain = "464|463";
window.bookName = '《C语言项目开发全程实录》第2版';
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<script src="https://c.biancheng.net/templets/new/script/book.js"></script>
</body>
</html>