<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>C++函数重载详解</title>
<meta name="description" content="在 C++ 中，区分不同的函数，不仅仅是看它们的函数名，还有函数的参数列表。也就是说，即便函数的函数名相同，只要它们的参数列表不一样，那么它们还是不同的函数。 函数重载指" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>C++函数重载详解</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">在 C++ 中，区分不同的函数，不仅仅是看它们的函数名，还有函数的参数列表。也就是说，即便函数的函数名相同，只要它们的参数列表不一样，那么它们还是不同的函数。<br />
<br />
函数重载指的是允许使用相同的函数名定义多个函数，只要它们的参数列表不同即可。举个简单的例子：<br />
<pre class="info-box">
int func();
int func(int a);
int func(int a, int b);</pre>
虽然上述 4 个函数的名字都是&ldquo;func&rdquo;，但参数列表不同，它们可以共存在一个程序中，这三个函数就叫做重载函数。<br />
<blockquote>
<p>
注意，函数的返回类型不作为区分函数的标识，因此不能通过返回类型来重载函数。</p>
</blockquote>
总结一下，函数重载的规则是：
<ul>
<li>
函数名必须相同；</li>
<li>
参数列表必须不同，可以是不同类型的参数或不同数量的参数；</li>
<li>
函数返回值类型和访问修饰符（如 public、private 等）不能用于重载。</li>
</ul>
<br />
对于重载函数，编译器会根据传入参数的数量和类型，自动选择合适的函数版本进行调用。下面是一个简单的示例，展示了如何使用函数重载：<br />
<pre class="cpp">
#include &lt;iostream&gt;
#include &lt;string&gt;

// 函数重载示例

// 对整数求和
int add(int a, int b) {
    return a + b;
}

// 对浮点数求和
float add(float a, float b) {
    return a + b;
}

// 对三个整数求和
int add(int a, int b, int c) {
    return a + b + c;
}

// 对字符串进行连接
std::string add(std::string a, std::string b) {
    return a + b;
}

int main() {
    std::cout &lt;&lt; add(2, 3) &lt;&lt; std::endl;            // 输出5，调用第一个add函数
    std::cout &lt;&lt; add(2.5f, 3.5f) &lt;&lt; std::endl;      // 输出6，调用第二个add函数
    std::cout &lt;&lt; add(1, 2, 3) &lt;&lt; std::endl;          // 输出6，调用第三个add函数
    std::cout &lt;&lt; add(&quot;Hello, &quot;, &quot;world!&quot;) &lt;&lt; std::endl;  // 输出&quot;Hello, world!&quot;，调用第四个add函数
   
    return 0;
}</pre>
执行结果为：
<p class="info-box">
5<br />
6<br />
6<br />
Hello, world!</p>
<br />
注意，当多个重载函数都可以匹配时，可能会产生歧义。<br />
<br />
例如在上面的程序中，add(2.5f, 3.5f) 匹配的是 add(float, float)，如果将 2.5 和 3.5 作为参数，add(2.5, 3.5) 与 add(float, float) 和 add(int, int) 都能匹配上，此时函数调用存在二义性，编译器不知道调用哪一个，程序编译会失败。<br />
<h2>
函数重载的适用场景</h2>
定义一组函数，其目的相似，但是参数（类型或数量）不同，此时就可以考虑函数重载。<br />
<br />
因为目的相似，所以可以用同一个函数名来标识。以上面实例中的 add() 函数为例，求各种数据的加和都只用 add 这个函数名就足够了。<br />
<br />
或许读者会想到给函数名加上不同的前缀或后缀来区别函数，从而避免重载，但那样做无疑会使程序变得复杂。<br />
<h2>
总结</h2>
函数重载是 C++ 中一个非常有用的特性，它不仅可以让代码更简洁，还可以提高程序的可读性和灵活性。<br />
<br />
使用函数重载需要注意的是，当多个重载函数都可以匹配时，可能会产生歧义。此外，虽然函数重载可以让代码更简洁，但过度使用可能导致代码难以维护和调试。</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="329.html" title="C语言const int *a和int*const a 的区别详解" target="_blank">C语言const int *a和int*const a 的区别详解</a></li>
<li><a href="857.html" title="Linux groupmod命令详解：修改用户组" target="_blank">Linux groupmod命令详解：修改用户组</a></li>
<li><a href="2594.html" title="MySQL修改存储过程（ALTER PROCEDURE）" target="_blank">MySQL修改存储过程（ALTER PROCEDURE）</a></li>
<li><a href="7237.html" title="C++ STL unordered_map获取元素的4种方法（超级详细）" target="_blank">C++ STL unordered_map获取元素的4种方法（超级详细）</a></li>
<li><a href="vip_8672.html" title="C++11 unique_ptr智能指针" target="_blank">C++11 unique_ptr智能指针</a></li>
<li><a href="../pillow/create-dynamic-gif.html" title="Pillow生成GIF动态图" target="_blank">Pillow生成GIF动态图</a></li>
<li><a href="xni6c5.html" title="JS if else用法详解" target="_blank">JS if else用法详解</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 10330;
window.arcId = "2d8f/iEfAVQgA4+JP56TSuHIR7VOveUhZLRih6GiA8oJAd+B0eLc7lGt7VEL";
window.typeidChain = "120|119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>