<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>C语言strcpy函数：将一个字符串复制到另一个字符串中</title>
<meta name="description" content="C语言是一种非常常用的编程语言，而字符串是 C语言中不可缺少的一部分。在 C语言中，字符串被表示为一组字符数组，每个字符用单引号括起来，字符串则用双引号括起来。字符串操作" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>C语言strcpy函数：将一个字符串复制到另一个字符串中</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">C语言是一种非常常用的编程语言，而字符串是 C语言中不可缺少的一部分。在 C语言中，字符串被表示为一组字符数组，每个字符用单引号括起来，字符串则用双引号括起来。字符串操作是 C语言程序员日常工作中的重要部分。其中，字符串复制是一个基本的操作，即将一个字符串中的内容复制到另一个字符串中。C语言提供了一个内置函数&mdash;&mdash;strcpy() 函数，用于完成这个操作。<br />
<br />
strcpy() 函数是 C语言中一个非常重要的字符串处理函数，其功能是将一个字符串复制到另一个字符串中。该函数原型如下：<br />
<pre class="c">
char *strcpy(char *dest, const char *src);</pre>
其中，dest 表示目标字符串，即将被复制到的字符串；src 表示源字符串，即将被复制的字符串。函数返回一个指向目标字符串的指针。<br />
<br />
strcpy() 函数的使用方法非常简单，只需将需要复制的字符串和目标字符串作为参数传递给该函数即可。下面是一个简单的例子：<br />
<pre class="c">
#include &lt;stdio.h&gt;
#include &lt;string.h&gt;

int main()
{
    char src[] = &quot;Hello World&quot;;
    char dest[100];

    strcpy(dest, src);

    printf(&quot;Source String: %s\n&quot;, src);
    printf(&quot;Destination String: %s\n&quot;, dest);

    return 0;
}</pre>
上面的代码中，首先定义了一个源字符串 src 和一个目标字符串 dest。然后，调用 strcpy() 函数将源字符串 src 中的内容复制到目标字符串 dest 中。最后，使用 printf() 函数输出源字符串和目标字符串的值。<br />
<br />
运行结果如下：<br />
<p class="info-box">
Source String: Hello World<br />
Destination String: Hello World</p>
可以看到，源字符串和目标字符串的值相同，说明 strcpy() 函数正确地将源字符串中的内容复制到了目标字符串中。<br />
<br />
需要注意的是，目标字符串 dest 必须具备足够的空间来存储复制后的字符串。否则，会导致内存越界和数据丢失等问题。因此，在使用 strcpy() 函数时，应该非常小心。<br />
<br />
另外，由于 strcpy() 函数的第二个参数是一个 const char * 类型，即源字符串是只读的，因此在复制过程中不会改变源字符串的值。如果需要修改源字符串的值，应该使用 strncpy() 函数。<br />
<br />
总之，strcpy() 函数是 C语言中一个非常重要的字符串处理函数，掌握它的使用方法对于 C语言程序员来说是非常必要的。在使用该函数时，一定要小心谨慎，确保目标字符串具备足够的空间来存储复制后的字符串，避免因为内存越界和数据丢失等问题导致程序出现异常。<br />
<br />
除了常规使用方法外，strcpy() 函数还有一些其他的用法，下面我们将介绍一些常用的技巧和注意事项。<br />
<br />
1) 将字符串拼接到另一个字符串的末尾<br />
<br />
可以使用 strcpy() 函数将一个字符串拼接到另一个字符串的末尾，例如：<br />
<pre class="c">
#include &lt;stdio.h&gt;
#include &lt;string.h&gt;

int main()
{
    char str1[50] = &quot;Hello&quot;;
    char str2[50] = &quot;World&quot;;

    strcat(str1, str2);
    printf(&quot;Result: %s\n&quot;, str1);

    return 0;
}</pre>
在上面的代码中，我们使用 strcat() 函数将字符串 str2 拼接到字符串 str1 的末尾。strcat() 函数用于将一个字符串拼接到另一个字符串的末尾，其原型如下：<br />
<p class="info-box">
char *strcat(char *dest, const char *src);</p>
其中，dest 表示目标字符串，即将被拼接到的字符串；src 表示源字符串，即将被拼接的字符串。函数返回一个指向目标字符串的指针。<br />
<br />
2) 使用指针实现字符串复制<br />
<br />
在 C语言中，字符串被存储在字符数组中。字符数组本质上就是一个指向字符的指针。因此，我们可以使用指针来实现字符串复制操作，例如：<br />
<pre class="c">
#include &lt;stdio.h&gt;

void mystrcpy(char *dest, const char *src)
{
    while (*src != &#39;\0&#39;)
    {
        *dest++ = *src++;
    }
    *dest = &#39;\0&#39;;
}

int main()
{
    char src[] = &quot;Hello World&quot;;
    char dest[100];

    mystrcpy(dest, src);

    printf(&quot;Source String: %s\n&quot;, src);
    printf(&quot;Destination String: %s\n&quot;, dest);

    return 0;
}</pre>
在上面的代码中，我们定义了一个 mystrcpy() 函数，该函数使用指针实现字符串复制操作。mystrcpy() 函数的参数和 strcpy() 函数相同，使用方法也相同。<br />
<br />
3) 复制指定长度的字符串<br />
<br />
有时候我们需要复制一个字符串的前 n 个字符，而不是整个字符串。可以使用 strncpy() 函数来实现这个功能，例如：<br />
<pre class="c">
#include &lt;stdio.h&gt;
#include &lt;string.h&gt;

int main()
{
    char src[] = &quot;Hello World&quot;;
    char dest[100];

    strncpy(dest, src, 5);

    printf(&quot;Source String: %s\n&quot;, src);
    printf(&quot;Destination String: %s\n&quot;, dest);

    return 0;
}</pre>
在上面的代码中，我们使用 strncpy() 函数将源字符串 src 中的前 5 个字符复制到目标字符串 dest 中。strncpy() 函数用于将一个指定长度的字符串复制到目标字符串中，其原型如下：<br />
<pre class="c">
char *strncpy(char *dest, const char *src, size_t n);</pre>
其中，dest 表示目标字符串，即将被复制到的字符串；src 表示源字符串，即将被复制的字符串；n 表示要复制的字符数。函数返回一个指向目标字符串的指针。<br />
<br />
需要注意的是，如果要复制的字符数大于源字符串的长度，strncpy() 函数将用空字符填充目标字符串的剩余部分，因此目标字符串可能不是以空字符结尾的。<br />
<br />
4) 字符串截断<br />
<br />
与复制指定长度的字符串类似，有时候我们需要截断一个字符串的前 n 个字符，可以使用 strncpy() 函数来实现这个功能，例如：<br />
<pre class="c">
#include &lt;stdio.h&gt;
#include &lt;string.h&gt;

int main()
{
    char str[] = &quot;Hello World&quot;;

    strncpy(str, str + 6, 5);
    str[5] = &#39;\0&#39;;

    printf(&quot;Result: %s\n&quot;, str);

    return 0;
}</pre>
在上面的代码中，我们使用 strncpy() 函数将源字符串 str 中的第 6 个字符开始的 5 个字符复制到源字符串中，然后使用空字符将字符串截断。最终结果为&quot;World&quot;。<br />
<br />
需要注意的是，strncpy() 函数复制的字符数必须小于或等于源字符串的长度，否则可能会导致未定义的行为。<br />
<br />
5) 字符串反转<br />
<br />
可以使用 strcpy() 函数和指针来实现字符串反转操作，例如：<br />
<pre class="c">
#include &lt;stdio.h&gt;
#include &lt;string.h&gt;

void reverse(char *str)
{
    int len = strlen(str);
    char *p = str;
    char *q = str + len - 1;

    while (p &lt; q)
    {
        char temp = *p;
        *p++ = *q;
        *q-- = temp;
    }
}

int main()
{
    char str[] = &quot;Hello World&quot;;

    reverse(str);
    printf(&quot;Result: %s\n&quot;, str);

    return 0;
}</pre>
在上面的代码中，我们定义了一个 reverse() 函数，该函数使用指针实现字符串反转操作。reverse() 函数的参数是一个指向字符串的指针。函数使用两个指针 p 和 q，分别指向字符串的开头和结尾，通过交换指针所指向的字符来实现字符串反转操作。<br />
<br />
需要注意的是，使用 strcpy() 函数来实现字符串反转操作可能会导致内存溢出的问题，因为 strcpy() 函数将源字符串的所有字符都复制到目标字符串中，如果目标字符串的长度小于源字符串的长度，则会发生内存溢出。因此，建议使用指针来实现字符串反转操作。<br />
<h2>
总结</h2>
在本文中，我们介绍了 C语言中的 strcpy() 函数及其常用的技巧和注意事项。strcpy() 函数是 C语言中非常常用的字符串处理函数之一，它可以将一个字符串复制到另一个字符串中。<br />
<br />
除了常规使用方法外，我们还介绍了一些其他的用法，例如将字符串拼接到另一个字符串的末尾、使用指针实现字符串复制、复制指定长度的字符串、字符串截断和字符串反转等。在使用 strcpy() 函数时，需要注意源字符串和目标字符串的长度，避免发生内存溢出等问题。</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="426.html" title="C语言线程函数" target="_blank">C语言线程函数</a></li>
<li><a href="../mysql/right.html" title="MySQL RIGHT函数：从右侧截取字符串" target="_blank">MySQL RIGHT函数：从右侧截取字符串</a></li>
<li><a href="6847.html" title="Java Set集合：HashSet和TreeSet类" target="_blank">Java Set集合：HashSet和TreeSet类</a></li>
<li><a href="7833.html" title="Django CBV基类View源码解析" target="_blank">Django CBV基类View源码解析</a></li>
<li><a href="vip_8362.html" title="MySQL设置日志输出方式" target="_blank">MySQL设置日志输出方式</a></li>
<li><a href="../css3/gradient.html" title="CSS渐变色（颜色渐变）10分钟入门" target="_blank">CSS渐变色（颜色渐变）10分钟入门</a></li>
<li><a href="../c/exit.html" title="C语言exit()：正常终止程序" target="_blank">C语言exit()：正常终止程序</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 9928;
window.arcId = "8c21oZ0x+t4JBCrESp2lxuNZ4oS6T5oTZ3cun3M9tUj9CnGhJiNtR3K103I";
window.typeidChain = "131|119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>