<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 启用Chromium高速渲染模式 -->
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<!-- 禁止百度转码 -->
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止识别电话号码 -->
<meta name="format-detection" content="telephone=no" />

<link rel="shortcut icon" href="../favicon_3.ico" />
<link href="../templets/new/style/common_2.css" rel="stylesheet" />
<title>PHP变量详解</title>
<meta name="description" content="变量像一个贴有名字标签的空盒子。不同的变量类型对应不同种类的数据，就像不同种类的东西要放入不同种类的盒子。 PHP 中的变量不同于 C 或 Java 语言，因为它是弱类型的。在 C 或" />
</head>
<body>
<div id="topbar" class="clearfix">
	<ul id="product-type" class="left">
		<li>
			<a href="../m_biancheng_default_2.html"><span class="iconfont iconfont-home"></span>首页</a>
		</li>
		<li class="active">
			<a href="../sitemap/sitemap_2.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
		</li>
		<li>
			<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
		</li>
		<li>
			<a href="niz69i_5.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
		</li>
		<!-- <li>
			<a href="https://www.54benniao.com/c_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-c-course"></span>C语言高级课程</a>
		</li>
		<li>
			<a href="https://www.54benniao.com/java_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-java-course"></span>Java高级课程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/q2a/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-q2a"></span>一对一答疑</a>
		</li> -->
	</ul>
</div>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="../m_biancheng_default_2.html">
		<img height="26" src="../templets/new/images/logo_2.png" alt="C语言中文网" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li class="wap-yes"><a href="../m_biancheng_default_2.html">首页</a></li>
		<li><a href="../c/c_4.html">C语言教程</a></li>
		<li><a href="../cplus/cplus_2.html">C++教程</a></li>
		<li><a href="../python/python_2.html">Python教程</a></li>
		<li><a href="../java/java_2.html">Java教程</a></li>
		<li><a href="../linux_tutorial/linux_tutorial_2.html">Linux入门</a></li>
		<li><a href="../sitemap/sitemap_2.html" title="网站地图">更多&gt;&gt;</a></li>
	</ul>
	<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
	<div class="arc-info">
		<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../m_biancheng_default_2.html">首页</a> &gt; 编程笔记</span>
	</div>
	<div id="ggxc-position-bottom" class="ggxc-box"></div>
	<h1>PHP变量详解</h1>
	<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
	<div id="arc-body">变量像一个贴有名字标签的空盒子。不同的变量类型对应不同种类的数据，就像不同种类的东西要放入不同种类的盒子。<br />
<br />
PHP 中的变量不同于 C 或 Java 语言，因为它是弱类型的。在 C 或 Java 中，需要对每一个变量声明类型，但是在 PHP 中不需要这样做。<br />
<br />
PHP 中的变量一般以&ldquo;$&rdquo;作为前缀，然后以字母 a~z 的大小写或者&ldquo;_&rdquo;下划线开头。<br />
<br />
例如，合法的变量名可以是：
<p class="info-box">
	$hello<br />
	$Aform1<br />
	$_formhandler</p>
再举两个非法的变量名：
<p class="info-box">
	$168<br />
	$!like</p>
PHP 中不需要显式地声明变量，但是定义变量前进行声明并带有注释，这是一个好的程序员应该养成的习惯。<br />
<br />
PHP 变量的赋值有两种方式，即传值和引用，区别如下：
<ul>
	<li>
		传值赋值：使用&ldquo;=&rdquo;直接将赋值表达式的值赋给另一个变量。</li>
	<li>
		引用赋值：将赋值表达式内存空间的引用赋给另一个变量。需要在&ldquo;=&rdquo;左右的变量前面加上一个&ldquo;&amp;&rdquo;符号。在使用引用赋值的时候，两个变量将会指向内存中同一个存储空间，所以任意一个变量的变化都会引起另一个变量的变化。</li>
</ul>
<br />
【实例】
<pre class="php">
&lt;?php
echo &quot;使用传值方式赋值：&lt;br/&gt;&quot;;  // 输出 使用传值方式赋值
$a = &quot;风吹草低见牛羊&quot;;
$b = $a;                            // 将变量$a的值赋值给$b，两个变量指向不同的内存空间
echo &quot;变量a的值为&quot;.$a.&quot;&lt;br/&gt;&quot;;      // 输出 变量a的值
echo &quot;变量b的值为&quot;.$b.&quot;&lt;br/&gt;&quot;;      // 输出 变量b的值
$a = &quot;天似穹庐，笼盖四野&quot;;          // 改变变量a的值，变量b的值不受影响
echo &quot;变量a的值为&quot;.$a.&quot;&lt;br/&gt;&quot;;      // 输出 变量a的值
echo &quot;变量b的值为&quot;.$b.&quot;&lt;p&gt;&quot;;        //输出 变量b的值
echo &quot;使用引用方式赋值：&lt;br/&gt;&quot;;       //输出  使用引用方式赋值
$a = &quot;天苍苍，野茫茫&quot;;
$b = &amp;$a;                          // 将变量$a的引用赋给$b，两个变量指向同一块内存空间
echo &quot;变量a的值为&quot;.$a.&quot;&lt;br/&gt;&quot;;      // 输出 变量a的值
echo &quot;变量b的值为&quot;.$b.&quot;&lt;br/&gt;&quot;;      // 输出 变量b的值
$a = &quot;敕勒川，阴山下&quot;;
/*
改变变量a在内存空间中存储的内容，变量b也指向该空间，b的值也发生变化
*/
echo &quot;变量a的值为&quot;.$a.&quot;&lt;br/&gt;&quot;;      // 输出 变量a的值
echo &quot;变量b的值为&quot;.$b.&quot;&lt;p&gt;&quot;;        // 输出 变量b的值
?&gt;</pre>
本程序运行结果为：
<p class="info-box">
	使用传值方式赋值：<br />
	变量a的值为风吹草低见牛羊<br />
	变量b的值为风吹草低见牛羊<br />
	变量a的值为天似穹庐，笼盖四野<br />
	变量b的值为风吹草低见牛羊<br />
	<br />
	使用引用方式赋值：<br />
	变量a的值为天苍苍，野茫茫<br />
	变量b的值为天苍苍，野茫茫<br />
	变量a的值为敕勒川，阴山下<br />
	变量b的值为敕勒川，阴山下</p>
<h2>
	可变变量与变量的引用</h2>
一般的变量很容易理解，但是有两个概念比较容易混淆，就是可变变量和变量的引用。<br />
<br />
可变变量是一种特殊的变量，它允许动态改变一个变量名称。其工作原理是该变量的名称由另一个变量的值来确定，实现过程就是在变量的前面再多加一个美元符号&ldquo;$&rdquo;。<br />
<br />
在一个变量前加上&ldquo;&amp;&rdquo;，然后赋值给另一个变量，这就是变量的引用赋值。<br />
<br />
通过下面的例子对它们进行说明。
<pre class="php">
&lt;?php
$aa = &quot;bb&quot;;                           // 定义变量$aa并赋值
$bb = &quot;征蓬出汉塞，归雁入胡天。&quot;;     //定义变量$bb并赋值
echo $aa;             // 输出变量$aa
echo &quot;&lt;br/&gt;&quot;;
echo $$aa;                          //通过可变变量输出变量$bb的值
$bb = &quot;大漠孤烟直，长河落日圆。&quot;;  //重新给变量$bb赋值
echo &quot;&lt;br/&gt;&quot;;
echo $$aa;
echo &quot;&lt;br/&gt;&quot;;

$a = 100;
$b = 200;
echo $a;
    echo &quot;&lt;br/&gt;&quot;;
    echo $b;
    echo &quot;&lt;br/&gt;&quot;;
    $b = &amp;$a;   //变量的引用
    echo $a;
    echo &quot;&lt;br/&gt;&quot;;
    echo $b;
    $b = 300;
    echo &quot;&lt;br/&gt;&quot;;
    echo $a;
    echo &quot;&lt;br/&gt;&quot;;
    echo $b;
?&gt;</pre>
分析：<br />
1) 在代码的第一部分，$aa 被赋值 bb。若 $aa 相当于 bb，则 $$aa 相当于 $bb。所以当 $$aa 被赋值为&ldquo;征蓬出汉塞，归雁入胡天。&rdquo;时，打印 $bb 就得到&ldquo;征蓬出汉塞，归雁入胡天。&rdquo;。反之，当 $bb 变量被赋值为&ldquo;大漠孤烟直，长河落日圆。&rdquo;时，打印 $$aa 同样得到&ldquo;大漠孤烟直，长河落日圆。&rdquo;。这就是可变变量。<br />
<br />
2) 在代码的第二部分里，$a 被赋值 100，然后通过&ldquo;&amp;&rdquo;引用变量 $a 并赋值给 $b。这一步的实质是，给变量 $a 添加了一个别名 $b。所以打印时，$a 和 $b 都得出原始赋值 100。由于 $b 是别名，和 $a 指的是同一个变量，因此当 $b 被赋值 300 后，$a 和 $b 都得到新值 300。<br />
<br />
3) 可变变量其实是允许改变一个变量的变量名，允许使用一个变量的值作为另一个变量的名。<br />
<br />
4) 变量引用相当于给变量添加了一个别名，使用&ldquo;&amp;&rdquo;来引用变量。其实两个变量名指的是同一个变量。就像是给同一个盒子贴了两个名字标签，两个名字标签指的是同一个盒子。<br />
<br />
运行结果为：
<p class="info-box">
	bb<br />
	征蓬出汉塞，归雁入胡天。<br />
	大漠孤烟直，长河落日圆。<br />
	100<br />
	200<br />
	100<br />
	100<br />
	300</p>
<h2>
	变量作用域</h2>
所谓变量作用域（scope），是指特定变量在代码中可以被访问到的位置。<br />
<br />
在 PHP 中有 6 种基本的变量作用域法则。
<ol>
	<li>
		内置超全局变量（built-in superglobal variables），在代码中的任意位置都可以访问到。</li>
	<li>
		常数（constants），一旦声明，就是全局性的，可以在函数内外使用。</li>
	<li>
		全局变量（global variables），在代码间声明，可在代码间访问，但是不能在函数内访问。</li>
	<li>
		在函数中声明为全局变量的变量就是同名的全局变量。</li>
	<li>
		在函数中创建和声明为静态变量的变量在函数外是无法访问的，但是这个静态变量的值可以保留。</li>
	<li>
		在函数中创建和声明的局部变量在函数外是无法访问的，并且在本函数终止时失效。</li>
</ol>
<h4>
	1) 超全局变量</h4>
superglobal 或 autoglobal 可以称为&ldquo;超全局变量&rdquo;或&ldquo;自动全局变量&rdquo;。这种变量的特性是，无论在程序的任何地方都可以访问到，无论是函数内还是函数外都可以访问到。而这些&ldquo;超全局变量&rdquo;就是由 PHP 预先定义好以方便使用的。<br />
<br />
那么这些&ldquo;超全局变量&rdquo;或&ldquo;自动全局变量&rdquo;都有哪些呢？
<ul>
	<li>
		$GLOBALS：包含全局变量的数组。</li>
	<li>
		$_GET：包含所有通过 GET 方法传递给代码的变量的数组。</li>
	<li>
		$_POST：包含所有通过 POST 方法传递给代码的变量的数组。</li>
	<li>
		$_FILES：包含文件上传变量的数组。</li>
	<li>
		$_COOKIE：包含 cookie 变量的数组。</li>
	<li>
		$_SERVER：包含服务器环境变量的数组。</li>
	<li>
		$_ENV：包含环境变量的数组。</li>
	<li>
		$_REQUEST：包含用户所有输入内容的数组（包括 $_GET、$_POST 和 $_COOKIE）。</li>
	<li>
		$_SESSION：包含会话变量的数组。</li>
</ul>
<h4>
	2) 全局变量</h4>
全局变量其实就是在函数外声明的变量，在代码间都可以访问，但是在函数内是不能访问的。这是因为函数默认不能访问在其外部的全局变量。<br />
<br />
通过下面的实例介绍全局变量的使用方法和技巧。
<pre class="php">
&lt;?php
$a=100;                  // 全局变量
// 访问全局变量
function ff()
{
    $b=100;              // 局部变量
    echo &quot;变量a为: $a&quot;;  // 访问全局变量
    echo &quot;&lt;br/&gt;&quot;;
    echo &quot;变量b为: $b&quot;;  // 访问局部变量
}

ff();                    // 函数内访问全局变量和局部变量
echo &quot;&lt;br/&gt;&quot;;
echo &quot;变量a为: $a&quot;;      //函数外访问全局变量和局部变量
echo &quot;&lt;br/&gt;&quot;;
echo &quot;变量b为: $y&quot;;      // 访问局部变量
?&gt;</pre>
程序运行结果如下图所示。<br />
<br />
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/230914/2-23091416320I42_2.gif" /></div>
<br />
出现上述结果是因为函数无法访问外部全局变量，但是在代码间可以访问全局变量。<br />
<br />
如果想让函数访问某个全局变量，可以在函数中通过 global 关键字来声明，就是要告诉函数，它要调用的变量是一个已经存在或者即将创建的同名全局变量，而不是默认的本地变量。<br />
<br />
通过下面的实例介绍 global 关键字的使用方法和技巧。<br />
<pre class="php">
&lt;?php
$a=100;   //全局变量
// 访问全局变量
function ff()
{
    $b=100; //局部变量
    global $a;          //函数内调用全局变量
    echo &quot;变量a为: $a&quot;; //访问全局变量
    echo &quot;&lt;br/&gt;&quot;;
    echo &quot;变量b为: $b&quot;;  // 访问局部变量
}

ff();                   // 函数内访问全局变量和局部变量
?&gt;</pre>
程序运行结果为：
<p class="info-box">
	变量 a 为: 100<br />
	变量 b 为: 100</p>
注意在 PHP 中，global 关键字现在只能引用简单变量，例如：
<pre class="info-box">
global $$foo-&gt;bar;    // 这种写法不支持
global ${$foo-&gt;bar};  // 需用大括号来达到效果</pre>
<br />
另外，读者还可以通过&ldquo;超全局变量&rdquo;中的 $GLOBALS 数组进行访问。下面通过实例介绍 $GLOBALS 数组。
<pre class="php">
&lt;?php
$a=200;                  // 全局变量
// 访问全局变量
function ff()
{
    $b=100; //局部变量
    $a=$GLOBALS[&#39;a&#39;];    // 通过$GLOBALS数组访问全局变量
    echo &quot;变量a为: $a&quot;;   // 访问全局变量
    echo &quot;&lt;br/&gt;&quot;;
    echo &quot;变量b为: $b&quot;;   // 访问局部变量
}

ff();                    // 函数内访问全局变量和局部变量
?&gt;</pre>
程序运行结果为：
<p class="info-box">
	变量 a 为: 200<br />
	变量 b 为: 100</p>
从结果可以看出，上述两种方法都可以实现在函数内访问全局变量。<br />
<h4>
	3) 静态变量</h4>
静态变量只是在函数内存在，在函数外无法访问。但是执行后，其值保留，也就是说这一次执行完毕后，静态变量的值保留，下一次再执行此函数，这个值还可以调用。<br />
<br />
通过下面的实例介绍静态变量的使用方法和技巧。<br />
<pre class="php">
&lt;?php
    $person = 20;
    function showpeople(){
       static $person = 5;
       $person++;
       echo &#39;再增加一位客户, 将会有 &#39;.$person.&#39; 位客户。&lt;br/&gt;&#39;;
    }
    showpeople();
    echo $person.&#39;人员。&lt;br/&gt;&#39;;
    showpeople();
?&gt;</pre>
分析：<br />
函数外的 echo 语句无法调用函数内的 static $person，它调用的是 $person=20。<br />
<br />
showpeople() 函数被执行两次，这个过程中 static $person 的运算值得以保留，并且通过 $person++ 进行了累加。<br />
<br />
程序运行结果为：
<p class="info-box">
	再增加一位客户, 将会有 6 位客户。<br />
	20人员<br />
	再增加一位客户, 将会有 7 位客户。</p>
<h2>
	变量的销毁</h2>
当用户创建一个变量时，相应地在内存中有一个空间专门用于存储该变量，该空间引用计数加 1。当变量与该空间的联系被断开时，空间引用计数减 1，直到引用计数为 0，则成为垃圾。<br />
<br />
PHP 有自动回收垃圾的机制，用户也可以手动销毁变量，通常使用 unset() 函数来实现。该函数的语法格式如下：
<p class="info-box">
	void unset (变量)</p>
其中，若变量类型为局部变量，则变量被销毁；若变量类型为全局变量，则变量不会被销毁。<br />
<pre class="php">
&lt;?php
$b= &quot;大漠孤烟直，长河落日圆。&quot;;    //函数外声明全局变量
function xiaohui()  {              //声明函数
    $a= 10;                      //函数内声明局部变量
    global $b;                     //函数内使用global关键字声明全局变量$b
    unset ($a);                    //使用unset()销毁不再使用的变量$a
    unset ($b);                    //使用unset()销毁不再使用的变量$b
    echo  $a;                      //查看局部变量是否发生变化
}
xiaohui();                         //调用函数
echo  $b;                          //查看全局变量是否发生变化
?&gt;</pre>
本程序运行结果如下图所示。变量销毁后再次调用会提示警告信息。<br />
<br />
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/230914/2-23091416332K34_2.gif" /></div>
</div>
	<div id="ggxc-weixin-arcbottom">
	<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
	<p style="margin-top:12px; text-align:center;">
		<img src="../templets/new/images/material/qrcode_mp_4.png" alt="公众号二维码" width="160" /><br />
		<span class="col-green">微信扫码关注公众号</span>
	</p>
</div>
	<div id="nice-arcs" class="box-bottom">
    <h4>推荐阅读</h4>
    <ul class="clearfix">
<li><a href="niz69i_8.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_4.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_4.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="1059_2.html" title="Linux常见服务类别及功能" target="_blank">Linux常见服务类别及功能</a></li>
<li><a href="3396_2.html" title="树的孩子兄弟表示法" target="_blank">树的孩子兄弟表示法</a></li>
<li><a href="3896_2.html" title="VDI（远程桌面）是什么？" target="_blank">VDI（远程桌面）是什么？</a></li>
<li><a href="vip_8514_2.html" title="如何用GDB调试多线程程序？" target="_blank">如何用GDB调试多线程程序？</a></li>
<li><a href="../dll/vip_8706_2.html" title="Windows下动态链接库的创建和使用" target="_blank">Windows下动态链接库的创建和使用</a></li>
<li><a href="../csharp/variable_2.html" title="C#变量" target="_blank">C#变量</a></li>
<li><a href="9842_2.html" title="CoreDNS简介（非常详细）" target="_blank">CoreDNS简介（非常详细）</a></li>
</ul>
</div>
	
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 10469;
window.arcId = "555eOrPb0Mvk/qcznJ2Qdo7T7uREaeZIwX89ndGhMF/y67JxNJy637NApSWh";
window.typeidChain = "322|119";
</script>
<div id="footer" class="clearfix">
	<div class="info left">
	<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
	<p>
		<a href="8066_2.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
		<a href="8092_3.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
		<a href="8097_2.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
		<a href="9648_2.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
		<a href="8093_2.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
		<a href="../sitemap/sitemap_2.html" target="_blank" rel="nofollow">网站地图</a>
	</p>
	<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan_2.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
	</p>
	</div>
	<img id="logo_bottom" class="right" src="https://m.biancheng.net/templets/new/images/logo_bottom_2.gif" alt="底部Logo" />
	<span id="return-top"><b>↑</b></span>
</div>

<div id="addweixin-widget">
	<p>
		<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://m.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
		<img src="https://m.biancheng.net/templets/new/images/material/qrcode_mp_4.png" alt="微信交流群" width="120" />
		<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
	</p>
	<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>

<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>

<script src="https://m.biancheng.net/templets/new/script/jquery1.12.4.min_2.js"></script>
<script src="https://m.biancheng.net/templets/new/script/common_2.js"></script>
<!-- 51la V6 -->
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<!-- 51la V5 -->
<!-- <span style="display: none;"><script type="text/javascript" src="https://js.users.51.la/21368967.js"></script></span> -->
</body>
</html>