<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<link href="../templets/new/style/book.css" rel="stylesheet" />
<title>《C语言程序设计》全国计算机等级考试二级教程PDF下载（高清完整版）</title>
<meta name="description" content="作者：教育部教育考试院 出版时间：2022年02月01日 出版社：高等教育出版社 书号ISBN：9787040576818 总页数：292" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 书籍下载</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>《C语言程序设计》全国计算机等级考试二级教程PDF下载（高清完整版）</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">
<table class="book-profile">
<tbody>
<tr>
<td rowspan="5" width="192">
<img alt="《C语言程序设计》全国计算机等级考试二级教程封面" src="../uploads/allimg/231010/2-231010141605513.jpg" style="height: 230px; width: 172px;" /></td>
<td>
作者：教育部教育考试院</td>
</tr>
<tr>
<td>
出版时间：2022年02月01日</td>
</tr>
<tr>
<td>
出版社：高等教育出版社</td>
</tr>
<tr>
<td>
书号ISBN：9787040576818</td>
</tr>
<tr>
<td>
总页数：292</td>
</tr>
</tbody>
</table>
<br />
这是一本专为全国计算机二级考试编写的 C 语言书籍，内容精炼，实用性强，是每位考生必备的 C 语言学习教材。<br />
<br />
这里提供的是《C语言程序设计》全国计算机等级考试二级教程的高清 PDF 下载，内容完整，附带目录标签。<br />
<br />
以下是一些读者对这本书的评价：
<p class="info-box">
1) 考试官方推荐教材，这本书你可以用来单纯考试，也可以用来学习一些基础知识，很不错。<br />
2) 二级考试用书，内容很全面，有具体的案例来做练习，书的质量还可以，体系完整，内容丰富，争取考试可以顺利通过。<br />
3) 书的内容很完整，相对来说比较好理解，很符合考试大纲的要求，适合备考。<br />
4) 二级教程，买来学习学习，内容很完整，很全面，可以作为考试的指导用书。</p>
<h3>
书籍目录</h3>
<dl class="book-contents">
<dt>
第1章 程序设计基本概念</dt>
<dd>
1.1 程序和程序设计</dd>
<dd>
1.2 算法</dd>
<dd>
1.3 结构化程序设计和模块化结构</dd>
<dd>
习题</dd>
<dt>
第2章 C程序设计的初步知识</dt>
<dd>
2.1 简单C语言程序的构成和格式</dd>
<dd>
2.2 标识符常量和变量</dd>
<dd>
2.3 整型数据</dd>
<dd>
2.4 实型数据</dd>
<dd>
2.5 算术表达式</dd>
<dd>
2.6 赋值表达式</dd>
<dd>
2.7 自加自减运算符和逗号运算符</dd>
<dd>
习题</dd>
<dt>
第3章 顺序结构</dt>
<dd>
3.1 赋值语句</dd>
<dd>
3.2 数据输出</dd>
<dd>
3.3 数据输入</dd>
<dd>
3.4 复合语句和空语句</dd>
<dd>
3.5 程序举例</dd>
<dd>
习题</dd>
<dt>
第4章 选择结构</dt>
<dd>
4.1 关系运算和逻辑运算</dd>
<dd>
4.2 if语句和用if语句构成的选择结构</dd>
<dd>
4.3 条件表达式构成的选择结构</dd>
<dd>
4.4 switch语句以及用switch语句和break语句构成的选择结构</dd>
<dd>
4.5 语句标号和goto语句</dd>
<dd>
习题</dd>
<dt>
第5章 循环结构</dt>
<dd>
5.1 while语句和用while语句构成的循环结构</dd>
<dd>
5.2 do-while语句和用do-while语句构成的循环结构</dd>
<dd>
5.3 for语句和用for语句构成的循环结构</dd>
<dd>
5.4 循环结构的嵌套</dd>
<dd>
5.5 break和continue语句在循环体中的作用</dd>
<dd>
5.6 程序举例</dd>
<dd>
习题</dd>
<dt>
第6章 字符型数据</dt>
<dd>
6.1 字符型常量</dd>
<dd>
6.2 字符变量</dd>
<dd>
6.3 字符的输入和输出</dd>
<dd>
6.4 程序举例</dd>
<dd>
习题</dd>
<dt>
第7章 函数</dt>
<dd>
7.1 库函数</dd>
<dd>
7.2 函数的定义和返回值</dd>
<dd>
7.3 函数的调用</dd>
<dd>
7.4 函数的说明</dd>
<dd>
7.5 调用函数和被调用函数之间的数据传递</dd>
<dd>
7.6 程序举例</dd>
<dd>
习题</dd>
<dt>
第8章 地址和指针</dt>
<dd>
8.1 变量的地址和指针</dd>
<dd>
8.2 指针变量的定义和指针变量的基类型</dd>
<dd>
8.3 给指针变量赋值</dd>
<dd>
8.4 对指针变量的操作</dd>
<dd>
8.5 函数之间地址值的传递</dd>
<dd>
习题</dd>
<dt>
第9章 数组</dt>
<dd>
9.1 一维数组的定义和一维数组元素的引用</dd>
<dd>
9.2 一维数组和指针</dd>
<dd>
9.3 函数之间对一维数组和数组元素的引用</dd>
<dd>
9.4 一维数组应用举例</dd>
<dd>
9.5 二维数组的定义和二维数组元素的引用</dd>
<dd>
9.6 二维数组和指针</dd>
<dd>
9.7 二维数组名和指针数组作为实参</dd>
<dd>
9.8 二维数组程序举例</dd>
<dd>
习题</dd>
第10章 字符串
<dd>
10.1 用一维字符数组存放字符串</dd>
<dd>
10.2 使指针指向一个字符串</dd>
<dd>
10.3 字符串的输入和输出</dd>
<dd>
10.4 字符串数组</dd>
<dd>
10.5 用于字符串处理的函数</dd>
<dd>
10.6 程序举例</dd>
<dd>
习题</dd>
第11章 对函数的进一步讨论
<dd>
11.1 传给main函数的参数</dd>
<dd>
11.2 通过实参向函数传递函数名或指向函数的指针变量</dd>
<dd>
11.3 函数的递归调用</dd>
<dd>
习题</dd>
第12章 C语言中用户标识符的作用域和存储类
<dd>
12.1 局部变量、全局变量和存储分类</dd>
<dd>
12.2 局部变量及其作用域和生存期</dd>
<dd>
12.3 全局变量及其作用域和生存期</dd>
<dd>
12.4 函数的存储分类</dd>
<dd>
习题</dd>
第13章 编译预处理和动态存储分配
<dd>
13.1 编译预处理</dd>
<dd>
13.2 动态存储分配</dd>
<dd>
习题</dd>
第14章 结构体共用体和用户定义类型
<dd>
14.1 用typedef说明一种新类型名</dd>
<dd>
14.2 结构体类型</dd>
<dd>
14.3 共用体</dd>
<dd>
习题</dd>
第15章 位运算
<dd>
15.1 位运算符</dd>
<dd>
15.2 位运算符的运算功能</dd>
<dd>
习题</dd>
第16章 文件
<dd>
16.1 C语言文件的概念</dd>
<dd>
16.2 文件指针</dd>
<dd>
16.3 打开文件</dd>
<dd>
16.4 关闭文件</dd>
<dd>
16.5 调用getc(fgetc)和putc(fputc)函数进行输入和输出</dd>
<dd>
16.6 判断文件结束函数feof</dd>
<dd>
16.7 fscanf 函数和fprintf函数</dd>
<dd>
16.8 fgets函数和fputs函数</dd>
<dd>
16.9 fread函数和fwrite函数</dd>
<dd>
16.10 文件定位函数</dd>
<dd>
习题</dd>
<dt>
附录</dt>
<dd>
附录1 考试指导</dd>
<dd>
附录2 C语言的关键字</dd>
<dd>
附录3 双目算术运算中两边运算量类型转换规律</dd>
<dd>
附录4 运算符的优先级和结合性</dd>
<dd>
附录5 常用字符与ASCII代码对照表</dd>
<dd>
附录6 库函数</dd>
<dd>
附录7 全国计算机等级考试二级C语言程序设计考试大纲</dd>
<dd>
附录8 全国计算机等级考试二级C语言程序设计样题及参考答案</dd>
<dd>
附录9 习题参考答案</dd>
</dl>
<h3>书籍下载</h3>
<p><a href="http://vip.biancheng.net/wechatlogin.php" target="_blank">一键登录</a>，免费下载完整版 PDF，文件名称：《C语言程序设计》全国计算机等级考试二级教程.pdf</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="../mysql/abc.html" title="MySQL ABS函数：求绝对值" target="_blank">MySQL ABS函数：求绝对值</a></li>
<li><a href="../mongodb2/sort.html" title="MongoDB排序：sort()方法" target="_blank">MongoDB排序：sort()方法</a></li>
<li><a href="../python_spider/selenium-case.html" title="Python Selenium爬虫实战应用" target="_blank">Python Selenium爬虫实战应用</a></li>
<li><a href="../springcloud/sentinel.html" title="Sentinel：Spring Cloud Alibaba高可用流量控制组件（非常详细）" target="_blank">Sentinel：Spring Cloud Alibaba高可用流量控制组件（非常详细）</a></li>
<li><a href="9852.html" title="Ceph分布式存储介绍（非常详细）" target="_blank">Ceph分布式存储介绍（非常详细）</a></li>
<li><a href="oqi66s.html" title="Python日期和时间模块（datetime、time和calendar）" target="_blank">Python日期和时间模块（datetime、time和calendar）</a></li>
<li><a href="ftwbfc2.html" title="Python with as语句的正确用法" target="_blank">Python with as语句的正确用法</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 10538;
window.arcId = "3f10uV5yY3MDpLudGAexlfeLwfk0YVtwIAdplooKF+1uss8p8v3GkCJs0Rrr";
window.typeidChain = "464|463";
window.bookName = '《C语言程序设计》全国计算机等级考试二级教程';
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<script src="https://c.biancheng.net/templets/new/script/book.js"></script>
</body>
</html>