<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 启用Chromium高速渲染模式 -->
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<!-- 禁止百度转码 -->
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止识别电话号码 -->
<meta name="format-detection" content="telephone=no" />

<link rel="shortcut icon" href="../favicon_3.ico" />
<link href="../templets/new/style/common_2.css" rel="stylesheet" />
<title>CSS选择器（标签选择器+类别选择器+ID选择器）</title>
<meta name="description" content="CSS的作用是设置网页各个组成部分的表现形式。比如描述网页上一个二级标题的属性表，可以设想应该是下面这个样子。 二级标题{ 字体：宋体； 大小：15像素； 颜色：红色； 装饰：下" />
</head>
<body>
<div id="topbar" class="clearfix">
	<ul id="product-type" class="left">
		<li>
			<a href="../m_biancheng_default_2.html"><span class="iconfont iconfont-home"></span>首页</a>
		</li>
		<li class="active">
			<a href="../sitemap/sitemap_2.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
		</li>
		<li>
			<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
		</li>
		<li>
			<a href="niz69i_5.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
		</li>
		<!-- <li>
			<a href="https://www.54benniao.com/c_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-c-course"></span>C语言高级课程</a>
		</li>
		<li>
			<a href="https://www.54benniao.com/java_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-java-course"></span>Java高级课程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/q2a/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-q2a"></span>一对一答疑</a>
		</li> -->
	</ul>
</div>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="../m_biancheng_default_2.html">
		<img height="26" src="../templets/new/images/logo_2.png" alt="C语言中文网" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li class="wap-yes"><a href="../m_biancheng_default_2.html">首页</a></li>
		<li><a href="../c/c_4.html">C语言教程</a></li>
		<li><a href="../cplus/cplus_2.html">C++教程</a></li>
		<li><a href="../python/python_2.html">Python教程</a></li>
		<li><a href="../java/java_2.html">Java教程</a></li>
		<li><a href="../linux_tutorial/linux_tutorial_2.html">Linux入门</a></li>
		<li><a href="../sitemap/sitemap_2.html" title="网站地图">更多&gt;&gt;</a></li>
	</ul>
	<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
	<div class="arc-info">
		<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../m_biancheng_default_2.html">首页</a> &gt; 编程笔记</span>
	</div>
	<div id="ggxc-position-bottom" class="ggxc-box"></div>
	<h1>CSS选择器（标签选择器+类别选择器+ID选择器）</h1>
	<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
	<div id="arc-body">CSS的作用是设置网页各个组成部分的表现形式。比如描述网页上一个二级标题的属性表，可以设想应该是下面这个样子。
<pre class="info-box">
二级标题{
    字体：宋体；
    大小：15像素；
    颜色：红色；
    装饰：下画线；
}</pre>
再进一步，如果我们把上面的表格用英语写出来，则可得到下面的代码。
<pre class="html">
h2{
    font-family: 宋体;
    font-size:15px;
    color: red;
    text-decoration: underline;
}</pre>
这就是完全正确的 CSS 代码了。<br />
<br />
CSS 的思想就是首先指定对什么&ldquo;对象&rdquo;进行设置，然后指定对该对象的哪个方面的&ldquo;属性&rdquo;进行设置，最后给出该设置的&ldquo;属性值&rdquo;。因此，概括来说，CSS 就是由 3 个基本部分组成的，分别是&ldquo;对象&rdquo;、&ldquo;属性&rdquo;和&ldquo;属性值&rdquo;。<br />
<br />
在 CSS 的 3 个组成部分中，&ldquo;对象&rdquo;是很重要的，它指定了对哪些网页元素进行设置，因此它有一个专门的名称，叫做选择器（selector）。<br />
<br />
选择器是 CSS 中很重要的概念，所有 HTML 中的标签样式都是通过不同的 CSS 选择器进行控制的。用户只需要通过选择器对不同的 HTML 标签进行选择，并赋予各种样式声明，即可实现各种效果。<br />
<br />
CSS中有几种不同类型的选择器，本节先介绍三种基本的选择器，分别是标签选择器、类别选择器和 ID 选择器。
<h2>
	标签选择器</h2>
一个 HTML 页面由很多不同的标签组成，CSS 标签选择器就负责声明哪些标签采用哪种 CSS 样式。因此，每一种 HTML 标签的名称都可以作为相应的标签选择器的名称。例如 p 选择器，就是用于声明页面中所有 &lt;p&gt; 标签的样式风格。同样可以通过 h1 选择器来声明页面中所有的 &lt;h1&gt; 标签的样式风格。例如下面这段CSS代码。<br />
<pre class="html">
&lt;style&gt;
    h1{
        color: red;
        font-size: 25px;
    }
&lt;/style&gt;</pre>
这段 CSS 代码声明了 HTML 中所有的 &lt;h1&gt; 标签，文字的颜色都采用红色，大小都为 25px。每一个 CSS 选择器都包含选择器本身、属性和属性值，其中属性和属性值可以设置多个，从而对同一个标签声明多种样式风格，如下图所示。<br />
<br />
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/230906/2-230Z610444W96_2.gif" /><br />
	图 1 CSS标签选择器</div>
<br />
如果希望所有 &lt;h1&gt; 标签不采用红色而采用蓝色，则只需要将属性 color 的属性值修改为 blue，即可全部生效。<br />
<br />
CSS 语言对所有属性和属性值都有相对严格的要求。如果声明的属性在 CSS 规则中没有，或者某个属性值不符合该属性的要求，都不能使该 CSS 语句生效。<br />
<br />
下面是一些典型的错误语句。
<pre class="info-box">
Head-height: 48px;     /* 非法属性 */
color: ultraviolet;        /* 非法属性值 */</pre>
对于上面提到的这些错误，通常情况下可以直接利用 CSS 编辑器（如 VS Code）的语法提示功能来避免，但在某些时候还需要查阅 CSS 手册。<br />
<h2>
	类别选择器</h2>
标签选择器一旦声明，页面中所有相应的标签都会产生变化。例如当声明了 &lt;p&gt; 标签为红色时，页面中所有的 &lt;p&gt; 标签都将显示为红色。如果希望其中的某一个 &lt;p&gt; 标签不是红色而是蓝色，这时仅依靠标签选择器是不够的，还需要引入类别（class）选择器。<br />
<br />
类别选择器的名称可以由用户自定义，其属性和属性值跟标签选择器一样，也必须符合 CSS 规则，如下图所示。<br />
<br />
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/230906/2-230Z61045302H_2.gif" /><br />
	图 2 类别选择器</div>
<br />
例如，当页面中同时出现两个 &lt;p&gt; 标签，并且希望它们的颜色不一样时，就可以通过设置不同的类别选择器来实现。一个完整的实例如下：
<pre class="html">
&lt;html&gt;
&lt;head&gt;
     &lt;title&gt;类别选择器&lt;/title&gt;
     &lt;style type=&quot;text/css&quot;&gt;
        .red{
            color:red;            /* 红色 */
            font-size:18px;       /* 文字大小 */
        }
        .green{
            color:green;        /* 绿色 */
            font-size:20px;     /* 文字大小 */
        }
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;p class=&quot;red&quot;&gt;类别选择器1&lt;/p&gt;
    &lt;p class=&quot;green&quot;&gt;类别选择器2&lt;/p&gt;
    &lt;h3 class=&quot;green&quot;&gt;h3同样适用&lt;/h3&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
效果如下图所示：
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/230906/2-230Z6104601440_2.gif" /><br />
	图 3 类别选择器效果</div>
<br />
可以看到两个 &lt;p&gt; 标签的颜色不同。任何一个类别选择器都适用于所有 HTML 标签，只需要用 HTML 标签的 class 属性声明即可，例如 &lt;h3&gt; 标签同样使用了 .green 这个类别。<br />
<br />
仔细观察上例还会发现，最后一行 &lt;h3&gt; 标签显示效果为粗体字，而同样使用 .green 选择器的第 2 个 &lt;p&gt; 标签却没有变成粗体。这是因为 .green 类别中没有定义字体的粗细属性，因此各个 HTML 标签都采用了其自身默认的显示方式，即 &lt;p&gt; 标签默认为正常粗细，而 &lt;h3&gt; 标签默认为粗体字。<br />
<br />
很多时候，页面中几乎所有的 &lt;p&gt; 标签都会使用相同的样式风格，只有 1~2 个特殊的 &lt;p&gt; 标签需要使用不同的风格来突出，这时可以通过配合使用类别选择器与标签选择器来实现。例如下面这段代码：<br />
<pre class="html">
&lt;html&gt;
&lt;head&gt;
     &lt;title&gt;类别选择器与标签选择器&lt;/title&gt;
     &lt;style type=&quot;text/css&quot;&gt;
         p{                         /* 标签选择器 */
             color:blue;
             font-size:18px;
         }
         .special{                   /* 类别选择器 */
            color:red;              /* 红色 */
            font-size:23px;         /* 文字大小 */
        }
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;p&gt;类别选择器与标签选择器1&lt;/p&gt;
    &lt;p&gt;类别选择器与标签选择器2&lt;/p&gt;
    &lt;p&gt;类别选择器与标签选择器3&lt;/p&gt;
    &lt;p class=&quot;special&quot;&gt;类别选择器与标签选择器4&lt;/p&gt;
    &lt;p&gt;类别选择器与标签选择器5&lt;/p&gt;
    &lt;p&gt;类别选择器与标签选择器6&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
首先通过标签选择器定义 &lt;p&gt; 标签的全局显示方案，然后通过一个类别选择器对需要突出的 &lt;p&gt; 标签进行单独设置，这样大大提高了代码的编写效率，效果如下图所示。<br />
<br />
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/230906/2-230Z6104630459_2.gif" /><br />
	图 4 两种选择器配合使用</div>
<br />
在 HTML 标签中，还可以同时给一个标签运用两个类别选择器，从而将两个类别的样式风格同时运用到一个标签中。这在实际制作网站时会很有用，可以减短代码的长度。例如下面这段代码：<br />
<pre class="html">
&lt;html&gt;
&lt;head&gt;
    &lt;title&gt;同时使用两个类别选择器&lt;/title&gt;
    &lt;style type=&quot;text/css&quot;&gt;
        .blue{
            color:blue;         /* 颜色 */
        }
        .big{
            font-size:22px;    /* 字体大小 */
        }
     &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
     &lt;h4&gt;一种都不使用&lt;/h4&gt;
     &lt;h4 class=&quot;blue&quot;&gt;两种class，只使用blue&lt;/h4&gt;
     &lt;h4 class=&quot;big&quot;&gt;两种class，只使用big &lt;/h4&gt;
     &lt;h4 class=&quot;blue big&quot;&gt;两种class，同时使用blue和big&lt;/h4&gt;
     &lt;h4&gt;一种都不使用&lt;/h4&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
效果如下图所示：
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/230906/2-230Z6104AAX_2.gif" /><br />
	图 5 同时使用两个类别选择器</div>
<br />
可以看到使用第 1 个类别选择器的第 2 行文字显示为蓝色，而第 3 行文字仍为黑色，但由于使用了 .big，因此其字体变大了。第 4 行文字通过class=&quot;blue big&quot;将两个样式同时加入，得到了蓝色大字体。第 1 行和第 5 行文字没有使用任何样式，仅作为对比时的参考。<br />
<h2>
	ID选择器</h2>
ID 选择器的使用方法与类别选择器基本相同，不同之处在于 ID 选择器只能在 HTML 页面中使用一次，因此其针对性更强。<br />
<br />
在 HTML 标签中只需要利用 id 属性，就可以直接调用 CSS 中的 ID 选择器，其格式如下图所示。<br />
<br />
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/230906/2-230Z6104I4201_2.gif" /><br />
	图 6 ID选择器</div>
<br />
下面举一个实例：<br />
<pre class="html">
&lt;html&gt;
&lt;head&gt;
    &lt;title&gt;ID选择器&lt;/title&gt;
    &lt;style type=&quot;text/css&quot;&gt;
        #bold{
             font-weight:bold;       /* 粗体 */
        }
        #green{
            font-size:30px;         /* 字体大小 */
            color:#009900;          /* 颜色 */
        }
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
     &lt;p id=&quot;bold&quot;&gt;ID选择器1&lt;/p&gt;
     &lt;p id=&quot;green&quot;&gt;ID选择器2&lt;/p&gt;
     &lt;p id=&quot;green&quot;&gt;ID选择器3&lt;/p&gt;
     &lt;p id=&quot;bold green&quot;&gt;ID选择器4&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
效果如下图所示：
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/230906/2-230Z6104PT95_2.gif" /><br />
	图 7 ID选择器效果</div>
<br />
可以看到第 2 行与第 3 行都显示了 CSS 的方案。换句话说，在很多浏览器下，ID 选择器也可以用于多个标签。<br />
<br />
这里需要指出的是，将 ID 选择器用于多个标签是错误的，因为每个标签所定义的 id 属性不仅 CSS 可以调用，JavaScript 等其他脚本语言同样可以调用。如果一个 HTML 中有两个相同 id 属性的标签，则将导致 JavaScript 在查找 id 属性时出错，例如函数 getElementById()。<br />
<br />
正因为 JavaScript 等脚本语言也能调用 HTML 中设置的 id 属性，因此 ID 选择器一直被广泛地使用。程序开发人员在编写 CSS 代码时，应该养成良好的编写习惯，即一个 id 属性最多只能被赋予一个 HTML 标签。<br />
<br />
另外，从图 7 中还可以看到，最后一行没有任何 CSS 样式风格的显示，这意味着 ID 选择器不支持像如类别选择器那样的多风格同时使用，例如 id=&quot;bold green&quot; 是完全错误的语法。</div>
	<div id="ggxc-weixin-arcbottom">
	<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
	<p style="margin-top:12px; text-align:center;">
		<img src="../templets/new/images/material/qrcode_mp_4.png" alt="公众号二维码" width="160" /><br />
		<span class="col-green">微信扫码关注公众号</span>
	</p>
</div>
	<div id="nice-arcs" class="box-bottom">
    <h4>推荐阅读</h4>
    <ul class="clearfix">
<li><a href="niz69i_8.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_4.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_4.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="663_2.html" title="GCC编译流程" target="_blank">GCC编译流程</a></li>
<li><a href="vip_4555_2.html" title="常用的Shell有哪些？" target="_blank">常用的Shell有哪些？</a></li>
<li><a href="6955_2.html" title="C++ STL list容器底层实现（详解版）" target="_blank">C++ STL list容器底层实现（详解版）</a></li>
<li><a href="../maven2/web_2.html" title="Maven创建Web项目" target="_blank">Maven创建Web项目</a></li>
<li><a href="../python_spider/what-is-spider_2.html" title="网络爬虫是什么" target="_blank">网络爬虫是什么</a></li>
<li><a href="../ml_alg/sklearn-decision_2.html" title="sklearn决策树分类算法应用" target="_blank">sklearn决策树分类算法应用</a></li>
<li><a href="vbryehl_2.html" title="MySQL比较运算符详解" target="_blank">MySQL比较运算符详解</a></li>
</ul>
</div>
	
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 10389;
window.arcId = "7243QG7h0RY7FrW3rOZksppCdEMZb/5zrRRlY/jaVgSUEc0UJb1+ck+pS3a1";
window.typeidChain = "430|119";
</script>
<div id="footer" class="clearfix">
	<div class="info left">
	<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
	<p>
		<a href="8066_2.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
		<a href="8092_3.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
		<a href="8097_2.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
		<a href="9648_2.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
		<a href="8093_2.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
		<a href="../sitemap/sitemap_2.html" target="_blank" rel="nofollow">网站地图</a>
	</p>
	<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan_2.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
	</p>
	</div>
	<img id="logo_bottom" class="right" src="https://m.biancheng.net/templets/new/images/logo_bottom_2.gif" alt="底部Logo" />
	<span id="return-top"><b>↑</b></span>
</div>

<div id="addweixin-widget">
	<p>
		<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://m.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
		<img src="https://m.biancheng.net/templets/new/images/material/qrcode_mp_4.png" alt="微信交流群" width="120" />
		<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
	</p>
	<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>

<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>

<script src="https://m.biancheng.net/templets/new/script/jquery1.12.4.min_2.js"></script>
<script src="https://m.biancheng.net/templets/new/script/common_2.js"></script>
<!-- 51la V6 -->
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<!-- 51la V5 -->
<!-- <span style="display: none;"><script type="text/javascript" src="https://js.users.51.la/21368967.js"></script></span> -->
</body>
</html>