<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 启用Chromium高速渲染模式 -->
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<!-- 禁止百度转码 -->
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止识别电话号码 -->
<meta name="format-detection" content="telephone=no" />

<link rel="shortcut icon" href="../favicon_3.ico" />
<link href="../templets/new/style/common_2.css" rel="stylesheet" />
<title>PCB介绍（超级详细）</title>
<meta name="description" content="PCB（Printed Circuit Board），中文名称为印制电路板，美国称 PWB（Printed Wire Board，印制线路板）。 PCB 是重要的电子部件，既是电子元器件的支撑体，也是电子元器件线路连接的提供者。它" />
</head>
<body>
<div id="topbar" class="clearfix">
	<ul id="product-type" class="left">
		<li>
			<a href="../m_biancheng_default_2.html"><span class="iconfont iconfont-home"></span>首页</a>
		</li>
		<li class="active">
			<a href="../sitemap/sitemap_2.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
		</li>
		<li>
			<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
		</li>
		<li>
			<a href="niz69i_5.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
		</li>
		<!-- <li>
			<a href="https://www.54benniao.com/c_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-c-course"></span>C语言高级课程</a>
		</li>
		<li>
			<a href="https://www.54benniao.com/java_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-java-course"></span>Java高级课程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/q2a/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-q2a"></span>一对一答疑</a>
		</li> -->
	</ul>
</div>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="../m_biancheng_default_2.html">
		<img height="26" src="../templets/new/images/logo_2.png" alt="C语言中文网" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li class="wap-yes"><a href="../m_biancheng_default_2.html">首页</a></li>
		<li><a href="../c/c_4.html">C语言教程</a></li>
		<li><a href="../cplus/cplus_2.html">C++教程</a></li>
		<li><a href="../python/python_2.html">Python教程</a></li>
		<li><a href="../java/java_2.html">Java教程</a></li>
		<li><a href="../linux_tutorial/linux_tutorial_2.html">Linux入门</a></li>
		<li><a href="../sitemap/sitemap_2.html" title="网站地图">更多&gt;&gt;</a></li>
	</ul>
	<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
	<div class="arc-info">
		<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../m_biancheng_default_2.html">首页</a> &gt; 编程笔记</span>
	</div>
	<div id="ggxc-position-bottom" class="ggxc-box"></div>
	<h1>PCB介绍（超级详细）</h1>
	<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
	<div id="arc-body">PCB（Printed Circuit Board），中文名称为印制电路板，美国称 PWB（Printed Wire Board，印制线路板）。<br />
<br />
PCB 是重要的电子部件，既是电子元器件的支撑体，也是电子元器件线路连接的提供者。它用影像转移的方式将线路转移到基板上，经过化学蚀刻后生成线路。<br />
<br />
由于 PCB 是采用电子印刷技术制作的，故被称为印制电路板。几乎每种电子设备，小到耳机、电池、计算器，大到计算机、通信设备、飞机、卫星，只要用到集成电路等电子元器件，为了它们之间的电气互连，都要使用 PCB。<br />
<br />
PCB 与 PCBA 如图 1 所示，图 1a) 为未贴装元器件的 PCB，图 1b) 为 PCBA（Printed Circuit Board Assembly），也就是装配了电子元器件（如芯片、连接器、电阻器、电容器、电感器等）的 PCB。<br />
<br />
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/221130/2-2211301J3249A_2.jpg" /><br />
	图 1 PCB与PCBA</div>
<h2>
	PCB的起源</h2>
1925 年，美国的 Charles Ducas（加成法的鼻祖）在绝缘的基板上印刷出线路图案，再以电镀的方式，成功制成导体作为配线。<br />
<br />
1936 年，奥地利人保罗&middot;爱斯勒（Paul Eisler）（减成法的鼻祖）首先在收音机里采用了印制电路板。<br />
<br />
1943 年，美国人将该技术运用于军用收音机。1948 年，美国正式认可此发明可用于商业用途。<br />
<br />
自 20 世纪 50 年代中期起，印制电路板才开始被广泛运用，如今印制电路板在电子工业中已占据绝对统治地位。<br />
<br />
印制电路板从单层发展到双面、多层和挠性，并且仍旧保持着各自的发展趋势。由于不断地向高精度、高密度和高可靠性方向发展，不断缩小体积、降低成本、提高性能，使得印制电路板在未来电子设备的发展工程中，仍然保持着强大的生命力。<br />
<br />
国内外对未来印制电路板生产制造技术发展动向的论述基本是一致的，即向高密度、高精度、细孔径、细导线、小间距、高可靠性、多层化、高速传输、轻质量、薄型化方向发展，同时在生产方面，向提高生产率，降低成本，减少污染，适应多品种、小批量生产方向发展。<br />
<h2>
	PCB的作用</h2>
在印制电路板出现之前，电子元器件之间的互连都是通过电线直接连接而组成完整线路的。<br />
<br />
电子设备采用印制电路板以后，由于同类印制电路板的一致性，从而避免了人工接线的差错。<br />
<br />
印制电路板可以提供集成电路等各种电子元器件固定、装配的机械支撑，完成集成电路等各种电子元器件之间的布线和电气连接或电绝缘，提供所要求的电气特性，如特性阻抗等，可为自动锡焊提供阻焊图形，为元器件插装、检查、维修提供识别字符和图形。<br />
<h2>
	PCB的分类</h2>
<h3>
	1、按用途分类</h3>
<ul>
	<li>
		民用印制电路板（消费类）：玩具、照相机、电视机、音响设备、手机等使用的印制电路板。</li>
	<li>
		工业用印制电路板（装备类）：安防、汽车、计算机、通信机、仪器仪表等使用的印制电路板。</li>
	<li>
		军用印制电路板：航天、雷达使用的印制电路板等。</li>
</ul>
<h3>
	2、按基材类型分类</h3>
<ul>
	<li>
		纸基印制电路板：酚醛纸基印制电路板、环氧纸基印制电路板等。</li>
	<li>
		玻璃布基印制电路板：环氧玻璃布基印制电路板、聚四氟乙烯玻璃布基印制电路板等。</li>
	<li>
		合成纤维印制电路板：环氧合成纤维印制电路板等。</li>
	<li>
		有机薄膜基材印制电路板：尼龙薄膜印制电路板等。</li>
	<li>
		陶瓷基板印制电路板。</li>
	<li>
		金属芯基印制电路板。</li>
</ul>
<h3>
	3、按结构分类</h3>
按结构印制电路板可分为刚性印制电路板、柔性印制电路板和刚柔结合印制电路板，如图 2 所示。<br />
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/221130/2-2211301J432363_2.jpg" /><br />
	图 2 刚性、柔性及刚柔结合印制电路板</div>
<h3>
	4、按层数分类</h3>
按层数印制电路板可分为单面板、双面板、多层板和 HDI 板（高密度互连板）。<br />
<h4>
	1) 单面板</h4>
单面板指只在电路板的其中一个面（焊接面）上进行布线，而所有元器件以及元器件标号和文字标注等都在另一个面（元器件面）上放置的电路板。<br />
<br />
单面板最大的特点是价格低廉，制造工艺简单。但是由于只能在一个面上进行布线，布线比较困难，容易出现布不通的情况，所以只适用于一些比较简单的电路。<br />
<br />
单面板结构示意图如图 3 所示。
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/221130/2-2211301J50OT_2.jpg" /><br />
	图 3 单面板结构示意图</div>
<h4>
	2) 双面板</h4>
双面板在绝缘板两面进行布线，其中一面作为顶层，另一面作为底层。顶层和底层通过过孔进行电气连接。<br />
<br />
通常，双层板上的元器件被放置在顶层；但是，有时为了缩小电路板体积，也可以在两层都放元器件。双层板的特点是价格适中、布线容易，是目前普通电路板中比较常用的类型。<br />
<br />
双面板结构示意图如图 4 所示。
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/221130/2-2211301J5262N_2.gif" /><br />
	图 4 双面板结构示意图</div>
<h4>
	3) 多层板</h4>
两层以上的印制电路板统称为多层板。<br />
<br />
多层板结构示意图如图 5 所示。
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/221130/2-2211301J544Q1_2.jpg" /><br />
	图 5 多层板结构示意图</div>
<h4>
	4) HDI板</h4>
HDI 板是采用微盲埋孔技术的一种线路分布密度比较高的电路板。<br />
<br />
HDI 板结构示意图如图 6 所示。
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/221130/2-2211301J6015F_2.jpg" /><br />
	图 6 HDI板结构示意图</div>
<h2>
	PCB的结构</h2>
PCB 主要由覆铜箔层压板（Copper Clad Laminates，CCL）、半固化片（PP片）、铜箔（Copper Foil）、阻焊层（又称阻焊膜）（Solder Mask）组成。同时，为了保护表面裸露在外的铜箔，保证焊接效果，还需要对 PCB 进行表面处理，有时还要配以字符进行标识。<br />
<br />
PCB 四层板结构示意图如图 7 所示。
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/221130/2-2211301J61X10_2.gif" /><br />
	图 7 PCB四层板结构示意图</div>
<h4>
	1) 覆铜箔层压板</h4>
覆铜箔层压板（CCL），简称覆铜箔板或覆铜板，是制造印制电路板的基础材料，是由介电层（树脂、玻璃纤维）及高纯度的导体（铜箔）二者所构成的复合材料。<br />
<br />
直到 1960 年才有专业制造厂以甲醛树脂铜箔为基材制作单面 PCB，并将其投入电唱机、录音机、录像机等市场，之后因双面贯孔镀铜制造技术兴起，于是耐热、尺寸安定的环氧玻璃基板大量被应用至今。现在用得比较多的有 FR4、FR1、CEM3、陶瓷板和铁氟龙板等。<br />
<br />
目前，应用最广泛的采用蚀刻法制成的 PCB 是在覆铜箔板上有选择地进行蚀刻，得到所需的线路图形。覆铜箔板在整个印制电路板上主要提供导电、绝缘和支撑三个方面的功能。印制电路板的性能、质量和制造成本，在很大程度上取决于覆铜箔板，如图 8 所示。<br />
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/221130/2-2211301J639B2_2.jpg" /><br />
	图 8 覆铜箔板</div>
<h4>
	2) 半固化片</h4>
半固化片又称 PP 片，是多层板生产中的主要材料之一，主要由树脂和增强材料组成，增强材料分为玻璃纤维布（简称玻璃布）、纸基和复合材料等几种类型。<br />
<br />
制作多层印制电路板所使用的半固化片（黏结片）大多采用玻璃布作为增强材料。将经过处理的玻璃布浸渍上树脂胶液，再经热处理预烘制成的薄片材料被称为半固化片。半固化片在加热加压下会软化，冷却后会固化。<br />
<br />
由于玻璃布在经向、纬向单位长度的纱股数不同，在剪切时需注意半固化片的经纬向，一般选取经向（玻璃布卷曲的方向）为生产板的短边方向，纬向为生产板的长边方向，以确保板面的平整，防止生产板受热后扭曲变形。<br />
<br />
PP片如图 9 所示。
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/221130/2-2211301JF3353_2.jpg" /><br />
	图 9 PP片</div>
<h4>
	3) 铜箔</h4>
铜箔是沉淀于电路板基底层上的一层薄的、连续的金属箔，它作为 PCB 的导电体，容易被黏合在绝缘层上，经蚀刻后形成电路图样。<br />
<br />
常见工业用铜箔可分为压延铜箔（RA铜箔）与电解铜箔（ED铜箔）两大类：
<ul>
	<li>
		压延铜箔具有较好的延展性等特性，是早期软板制程所使用的铜箔；</li>
	<li>
		电解铜箔则具有制造成本较压延铜箔低的优势，如图 10 所示。</li>
</ul>
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/221130/2-2211301JH5Q7_2.jpg" /><br />
	图 10 铜箔</div>
<h4>
	4) 阻焊层</h4>
阻焊层是指印制电路板上有阻焊油墨的部分。<br />
<br />
阻焊油墨通常是绿色的，有少数采用红色、黑色和蓝色等，所以在 PCB 行业常把阻焊油墨称为绿油，它是印制电路板的永久性保护层，能起到防潮、防腐蚀、防霉和机械擦伤等作用，同时也可以防止零件被焊到不正确的地方。<br />
<br />
阻焊层如图 11 所示。
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/221130/2-2211301JKU45_2.jpg" /><br />
	图 11&nbsp;阻焊层</div>
<h4>
	5) 表面处理</h4>
这里所说的&ldquo;表面&rdquo;是指 PCB 上为电子元器件或其他系统与 PCB 上的电路之间提供电气连接的连接点，如焊盘或接触式连接的连接点。裸铜本身的可焊性很好，但是暴露在空气中很容易被氧化，而且容易受到污染，所以要在裸铜的表面覆盖一层保护膜。<br />
<br />
常见的 PCB 表面处理工艺有有铅喷锡、无铅喷锡、有机涂覆（Organic Solderability Preservatives，OSP）、沉金、沉银、沉锡和镀金手指等，随着环保法规的不断完善，有铅喷锡工艺已经逐渐被禁用。<br />
<br />
PCB 表面处理工艺如图 12 所示。
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/221130/2-2211301JT0925_2.jpg" /><br />
	图 12 PCB表面处理工艺</div>
<h4>
	6) 字符</h4>
字符即文字层，在 PCB 的最上面一层，可以没有，一般用于注释。<br />
<br />
通常，为了方便电路的安装和维修等，在印制板的上下表面上印刷所需要的标志图案和文字代号等，例如，元器件标号和标称值、元器件外廓形状和厂家标志、生产日期等。<br />
<br />
字符通常采用丝网印刷方式印刷，如图 13 所示。
<div style="text-align: center;">
	<img alt="" src="../uploads/allimg/221130/2-2211301J911928_2.jpg" /><br />
	图 13 字符</div>
</div>
	<div id="ggxc-weixin-arcbottom">
	<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
	<p style="margin-top:12px; text-align:center;">
		<img src="../templets/new/images/material/qrcode_mp_4.png" alt="公众号二维码" width="160" /><br />
		<span class="col-green">微信扫码关注公众号</span>
	</p>
</div>
	<div id="nice-arcs" class="box-bottom">
    <h4>推荐阅读</h4>
    <ul class="clearfix">
<li><a href="niz69i_8.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_4.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_4.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="349_2.html" title="C语言一维数组的定义" target="_blank">C语言一维数组的定义</a></li>
<li><a href="vip_2104_2.html" title="栈溢出攻击的原理是什么？" target="_blank">栈溢出攻击的原理是什么？</a></li>
<li><a href="3122_2.html" title="Mac OS安装Docker（图解教程）" target="_blank">Mac OS安装Docker（图解教程）</a></li>
<li><a href="3737_2.html" title="C++11列表初始化（统一了初始化方式）" target="_blank">C++11列表初始化（统一了初始化方式）</a></li>
<li><a href="vip_8692_2.html" title="C++11在函数模板和类模板中使用可变参数" target="_blank">C++11在函数模板和类模板中使用可变参数</a></li>
<li><a href="9840_2.html" title="Modbus通信协议精讲" target="_blank">Modbus通信协议精讲</a></li>
<li><a href="vbryehl_2.html" title="MySQL比较运算符详解" target="_blank">MySQL比较运算符详解</a></li>
</ul>
</div>
	
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 9876;
window.arcId = "86dckOGNebbDuRJ2PsiGmWYiwY6iaNsC8IcGmZSShVcXOQUKkvzPoN8oOXU";
window.typeidChain = "131|119";
</script>
<div id="footer" class="clearfix">
	<div class="info left">
	<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
	<p>
		<a href="8066_2.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
		<a href="8092_3.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
		<a href="8097_2.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
		<a href="9648_2.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
		<a href="8093_2.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
		<a href="../sitemap/sitemap_2.html" target="_blank" rel="nofollow">网站地图</a>
	</p>
	<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan_2.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
	</p>
	</div>
	<img id="logo_bottom" class="right" src="https://m.biancheng.net/templets/new/images/logo_bottom_2.gif" alt="底部Logo" />
	<span id="return-top"><b>↑</b></span>
</div>

<div id="addweixin-widget">
	<p>
		<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://m.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
		<img src="https://m.biancheng.net/templets/new/images/material/qrcode_mp_4.png" alt="微信交流群" width="120" />
		<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
	</p>
	<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>

<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>

<script src="https://m.biancheng.net/templets/new/script/jquery1.12.4.min_2.js"></script>
<script src="https://m.biancheng.net/templets/new/script/common_2.js"></script>
<!-- 51la V6 -->
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<!-- 51la V5 -->
<!-- <span style="display: none;"><script type="text/javascript" src="https://js.users.51.la/21368967.js"></script></span> -->
</body>
</html>