<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 启用Chromium高速渲染模式 -->
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<!-- 禁止百度转码 -->
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止识别电话号码 -->
<meta name="format-detection" content="telephone=no" />

<link rel="shortcut icon" href="../favicon_3.ico" />
<link href="../templets/new/style/common_2.css" rel="stylesheet" />
<link href="../templets/new/style/book_2.css" rel="stylesheet" />
<title>《Web前端测试与集成》PDF下载（高清完整版）</title>
<meta name="description" content="作者：金鑫、武帅 出版时间：2019年07月01日 出版社： 清华大学出版社 ISBN：9787302472759 总页数：381 总字数：49.7W 书籍目录" />
</head>
<body>
<div id="topbar" class="clearfix">
	<ul id="product-type" class="left">
		<li>
			<a href="../m_biancheng_default_2.html"><span class="iconfont iconfont-home"></span>首页</a>
		</li>
		<li class="active">
			<a href="../sitemap/sitemap_2.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
		</li>
		<li>
			<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
		</li>
		<li>
			<a href="niz69i_5.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
		</li>
		<!-- <li>
			<a href="https://www.54benniao.com/c_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-c-course"></span>C语言高级课程</a>
		</li>
		<li>
			<a href="https://www.54benniao.com/java_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-java-course"></span>Java高级课程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/q2a/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-q2a"></span>一对一答疑</a>
		</li> -->
	</ul>
</div>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="../m_biancheng_default_2.html">
		<img height="26" src="../templets/new/images/logo_2.png" alt="C语言中文网" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li class="wap-yes"><a href="../m_biancheng_default_2.html">首页</a></li>
		<li><a href="../c/c_4.html">C语言教程</a></li>
		<li><a href="../cplus/cplus_2.html">C++教程</a></li>
		<li><a href="../python/python_2.html">Python教程</a></li>
		<li><a href="../java/java_2.html">Java教程</a></li>
		<li><a href="../linux_tutorial/linux_tutorial_2.html">Linux入门</a></li>
		<li><a href="../sitemap/sitemap_2.html" title="网站地图">更多&gt;&gt;</a></li>
	</ul>
	<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
	<div class="arc-info">
		<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../m_biancheng_default_2.html">首页</a> &gt; 书籍下载</span>
	</div>
	<div id="ggxc-position-bottom" class="ggxc-box"></div>
	<h1>《Web前端测试与集成》PDF下载（高清完整版）</h1>
	<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
	<div id="arc-body">
		<table class="book-profile">
	<tbody>
		<tr>
			<td rowspan="6" style="width:206px;">
				<img alt="" src="../uploads/allimg/231025/16-231025154543938_2.jpg" style="width: 186px; height: 240px;" /></td>
			<td>
				作者：金鑫、武帅</td>
		</tr>
		<tr>
			<td>
				出版时间：2019年07月01日</td>
		</tr>
		<tr>
			<td>
				出版社： 清华大学出版社</td>
		</tr>
		<tr>
			<td>
				ISBN：9787302472759</td>
		</tr>
		<tr>
			<td>
				总页数：381</td>
		</tr>
		<tr>
			<td>
				总字数：49.7W</td>
		</tr>
	</tbody>
</table>
<br />
这是一本以实际项目为范例的 Web 前端开发书籍，内容丰富，适合所有 Web&nbsp;开发员、测试人员及项目经理学习参考。<br />
<br />
这里提供的是《Web前端测试与集成》的高清 PDF 下载，内容完整，附带目录标签。<br />
<br />
本书共分为以下四个部分：
<h4>
	1）基础篇</h4>
&nbsp;总览前端开发测试中的挑战与进行测试转型的方法，以及基于 Node.js搭建测试开发环境的步骤。
<h4>
	2）单元测试篇</h4>
基于单元测试理论，深入剖析 Jasmine&nbsp;测试框架，覆盖所有主流单元测试技巧。结合 gulp、Karma等构建、执行工具，对单元测试进行自动化处理，再以实战的形式来演示最佳测试效果。
<h4>
	3）自动化测试篇</h4>
由浅入深地介绍了 Selenium 各个组件功能特点和 WebDriver&nbsp;在自动化测试中的使用技巧。通过环境搭建，将代码进行自动化测试，并全面覆盖主流浏览器。
<h4>
	4）集成篇</h4>
讲述了基于持续集成技术来实现更快、更可靠的软件交付方法。<br />
<br />
作为一名 Web&nbsp;前端开发程序员，这本书对我工作中的项目开发有很大帮助，不仅在开发过程中避免了很多 bug&nbsp;的出现，也让我在不断地自测过程中掌握了更深入的技能。<br />
<h3>
	书籍目录</h3>
<dl class="book-contents">
	<dt>
		第1章 前端开发测试总览</dt>
	<dd>
		1.1 Web技术的发展和挑战</dd>
	<dd>
		1.2 传统开发流程的局限性</dd>
	<dd>
		1.3 传统手工测试的局限性</dd>
	<dd>
		1.4 开发模式的转型</dd>
	<dd>
		1.5 本书目标</dd>
	<dt>
		第2章 搭建测试基础环境</dt>
	<dd>
		2.1 JavaScript的运行环境Nodejs</dd>
	<dd>
		2.2 软件包管理系统NodePackageManager （npm）</dd>
	<dd>
		2.3 代码编辑器（Visual Studio Code）</dd>
	<dd>
		&hellip;&hellip;</dd>
	
</dl>

		<h3>书籍下载</h3>
		<p><a href="http://vip.biancheng.net/wechatlogin.php" target="_blank">一键登录</a>，免费下载完整版 PDF，文件名称：《Web前端测试与集成》.pdf</p>
		
	</div>
	<div id="nice-arcs" class="box-bottom">
    <h4>推荐阅读</h4>
    <ul class="clearfix">
<li><a href="niz69i_8.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_4.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_4.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="217_2.html" title="const关键字及其作用（用法），C语言const详解" target="_blank">const关键字及其作用（用法），C语言const详解</a></li>
<li><a href="760_2.html" title="Java输出杨辉三角形" target="_blank">Java输出杨辉三角形</a></li>
<li><a href="830_2.html" title="Java截取（提取）子字符串（substring()）" target="_blank">Java截取（提取）子字符串（substring()）</a></li>
<li><a href="vip_3413_2.html" title="普里姆算法(Prim算法)求最小生成树" target="_blank">普里姆算法(Prim算法)求最小生成树</a></li>
<li><a href="vip_7088_2.html" title="Java利用对象序列化控制输入输出" target="_blank">Java利用对象序列化控制输入输出</a></li>
<li><a href="1br4u4v_2.html" title="C++派生类的构造函数和析构函数（入门必读）" target="_blank">C++派生类的构造函数和析构函数（入门必读）</a></li>
<li><a href="2twgsza_2.html" title="《Web前端开发技术——HTML、CSS、JavaScript（第3版）》PDF下载（高清完整版）" target="_blank">《Web前端开发技术——HTML、CSS、JavaScript（第3版）》PDF下载（高清完整版）</a></li>
</ul>
</div>
	
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 10642;
window.arcId = "f346RCGEEdj9oAbmfBZkelXjbYKo9BSBzQVlRTBfxNkB1fGY96Qp79k9OTgw";
window.typeidChain = "465|463";
window.bookName = '《Web前端测试与集成》';
</script>
<div id="footer" class="clearfix">
	<div class="info left">
	<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
	<p>
		<a href="8066_2.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
		<a href="8092_3.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
		<a href="8097_2.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
		<a href="9648_2.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
		<a href="8093_2.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
		<a href="../sitemap/sitemap_2.html" target="_blank" rel="nofollow">网站地图</a>
	</p>
	<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan_2.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
	</p>
	</div>
	<img id="logo_bottom" class="right" src="https://m.biancheng.net/templets/new/images/logo_bottom_2.gif" alt="底部Logo" />
	<span id="return-top"><b>↑</b></span>
</div>

<div id="addweixin-widget">
	<p>
		<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://m.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
		<img src="https://m.biancheng.net/templets/new/images/material/qrcode_mp_4.png" alt="微信交流群" width="120" />
		<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
	</p>
	<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>

<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>

<script src="https://m.biancheng.net/templets/new/script/jquery1.12.4.min_2.js"></script>
<script src="https://m.biancheng.net/templets/new/script/common_2.js"></script>
<!-- 51la V6 -->
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<!-- 51la V5 -->
<!-- <span style="display: none;"><script type="text/javascript" src="https://js.users.51.la/21368967.js"></script></span> -->
<script src="https://m.biancheng.net/templets/new/script/book_2.js"></script>
</body>
</html>