<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>Vue setup()函数的用法</title>
<meta name="description" content="Vue setup() 函数是一个新的组件选项，它是组件内部使用组合 API 的入口点。新的 setup 组件选项在创建组件之前执行，一旦 props 被解析，就充当合成 API 的入口点。对于组件的生命周期钩" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>Vue setup()函数的用法</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">Vue setup() 函数是一个新的组件选项，它是组件内部使用组合 API 的入口点。新的 setup 组件选项在创建组件之前执行，一旦 props 被解析，就充当合成 API 的入口点。对于组件的生命周期钩子，setup() 函数在 beforeCreate 钩子之前调用。<br />
<br />
setup() 是一个接受 props 和 context 的函数，而且接受的 props 对象是响应式的，在组件外部传入新的 prop 值时，props 对象会更新，可以调用相应的方法监听该对象并对修改做出相应。<br />
<br />
setup() 函数的用法如下。
<pre class="html">
&lt;div id=&quot;app&quot;&gt;
    &lt;post-item :post-content=&quot;content&quot;&gt;&lt;/post-item&gt;
&lt;/div&gt;
&lt;!--引入Vue文件--&gt;
&lt;script src=&quot;https://unpkg.com/vue@next&quot;&gt;&lt;/script&gt;
&lt;script&gt;
    //创建一个应用程序实例
    const vm= Vue.createApp({
                data(){
                    return {
                        content: &#39;月浅灯深，梦里云归何处寻。&#39;
                    }
                }
    });
    vm.component(&#39;PostItem&#39;, {
                //声明props
                props: [&#39;postContent&#39;],
                setup(props){
                    Vue.watchEffect(() =&gt; {
                        console.log(props.postContent);
                    })
                },
                template: &#39;&lt;h3&gt;{{ postContent }}&lt;/h3&gt;&#39;
            });
    //在指定的DOM元素上装载应用程序实例的根组件
    vm.mount(&#39;#app&#39;);
&lt;/script&gt;</pre>
在 Chrome 浏览器中运行程序，效果如下图所示。<br />
<br />
<div style="text-align: center;">
<img alt="" src="../uploads/allimg/231007/2-23100G11121142.gif" /><br />
图 1 setup()函数</div>
<br />
注意，由于在执行 setup() 函数时尚未创建组件实例，因此在 setup() 函数中没有 this。这意味着除了 props 之外，用户将无法访问组件中声明的任何属性&mdash;&mdash;本地状态、计算属性或方法。<br />
</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="2123.html" title="socket是什么？套接字是什么？" target="_blank">socket是什么？套接字是什么？</a></li>
<li><a href="2216.html" title="Python pass语句及其作用" target="_blank">Python pass语句及其作用</a></li>
<li><a href="vip_3399.html" title="哈夫曼编码（包含C语言实现代码）" target="_blank">哈夫曼编码（包含C语言实现代码）</a></li>
<li><a href="5808.html" title="Java字符串比较（3种方法）" target="_blank">Java字符串比较（3种方法）</a></li>
<li><a href="../redis2/zincrby.html" title="Redis ZINCRBY命令" target="_blank">Redis ZINCRBY命令</a></li>
<li><a href="hash-search.html" title="哈希查找算法" target="_blank">哈希查找算法</a></li>
<li><a href="../sql/injection.html" title="SQL注入简介" target="_blank">SQL注入简介</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 10509;
window.arcId = "dd70CM6pqtx7CHGJ8I6n0kYF2JEMMA3aRsJsMsQs1yj4e7glXwbzUV9O0NC2";
window.typeidChain = "309|119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>