<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>C++函数（声明、定义和调用）详解</title>
<meta name="description" content="数学中的函数可以根据输入的数值求得一个确定的值，与此类似，C++ 中的函数也可以根据输入的数据，返回一个结果值。不同的是，C++中的函数涵盖的意义更加广泛，定义也更加灵活，" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>C++函数（声明、定义和调用）详解</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">数学中的函数可以根据输入的数值求得一个确定的值，与此类似，C++ 中的函数也可以根据输入的数据，返回一个结果值。不同的是，C++中的函数涵盖的意义更加广泛，定义也更加灵活，不仅可以求数值，还可以执行一组相关的操作。<br />
<h2>
函数的构成</h2>
函数由 4 部分构成：返回值类型、函数名、参数列表和函数体，语法格式如下：<br />
<pre class="info-box">
返回值类型 函数名(参数1, 参数2, ...)
{
    函数体；
}</pre>
<h4>
1) 函数名</h4>
函数名就是函数的名字，即函数的标识符。<br />
<br />
既然是标识符，就必须遵循标识符的命名规则。同变量的标识符相同，函数的标识符也只能由字母、数字以及下画线组成，并且不能以数字开头。<br />
<h4>
2) 返回值类型</h4>
函数的返回类型指的是函数会返回数据的类型。例如，一个函数返回一个 int 型数据，则该函数的返回类型就是 int。<br />
<br />
如果某个函数不返回任何值，则其返回类型是 void，定义这样的函数的目的不是求一个值，而只是为了执行一组操作。<br />
<h4>
3) 参数列表</h4>
如果将函数返回的数据看做是它的输出数据，那么参数列表就是输入到函数内部的数据。<br />
<br />
函数从其使用形式来看，就是接受输入进来的数据，最终输出一个结果值。<br />
<br />
函数的参数位于一个括号中，并且用逗号分隔，括号中的部分就称做函数的参数列表。<br />
<h4>
4) 函数体</h4>
函数体是函数要执行的代码块，这些代码用来实现函数的功能或目的。<br />
<br />
如果函数要返回一个数据，则函数体中至少需要一个 return 语句。其语法如下：<br />
<pre class="info-box">
return 数据;</pre>
如果函数不需要返回数据，即函数的返回类型是 void，则在函数体中不需要 return 语句。<br />
<br />
例如，下面就是一个写好的函数：<br />
<pre class="cpp">
int addNum(int a, int b)
{
    int c = a + b;
    return c;
}</pre>
addNum() 函数有两个参数 a 和 b，表示它接收两个 2 个整数，函数体中会计算这两个整数的和，并将计算结果返回。<br />
<h2>
函数的调用</h2>
所谓调用函数，就是使用函数的功能返回一个值或者执行一组语句。<br />
<br />
调用函数时，在函数名后跟一个括号，其中是向函数输入的数据，用逗号分隔，其语法如下：<br />
<pre class="info-box">
函数名(数据1, 数据2, ...);</pre>
如果函数的返回值类型不是 void，那么调用函数的同时可以用一个变量接收它返回的值，语法格式如下：<br />
<pre class="info-box">
变量 = 函数名(数据1, 数据2, ...);</pre>
以前面写好的 addNum() 函数，调用它计算 3 和 5 的和：
<pre class="cpp" shownum="false">
int sum = addNum(3, 5);</pre>
最终 sum 的值就是 8。<br />
<h2>
函数的声明和定义</h2>
C++ 标准规定，函数在调用之前，必须先声明。函数的声明就是为了告诉编译器存在这样一个函数，并且可以在后面的程序中使用。<br />
<br />
我们知道，函数由返回值类型、函数名、参数列表和函数体这 4 部分组成。定义函数时，这 4 部分都必须有，而函数声明不同，它不包含函数体。<br />
<br />
仍以 addNum() 函数为例，该函数的声明是：
<pre class="cpp" shownum="false">
int addNum(int a, int b);
int addNum(int , int );</pre>
声明函数时，参数的名称可以省略不写。<br />
<br />
而函数的定义是：
<pre class="cpp">
int addNum(int a, int b)
{
    int c = a + b;
    return c;
}</pre>
函数的声明也称做函数原型，而函数的定义也称做函数实现。<br />
<br />
在 C++ 程序中，函数的定义必须写，而函数的声明有时必须写，有时可以省略不写。<br />
<br />
如果在调用前函数已经定义，则不必再写函数的声明了。例如：<br />
<pre class="cpp">
#include &lt;iostream&gt;
//函数的定义
int addNum(int a, int b)
{
    int c = a + b;
    return c;
}
int main()
{
    int sum = addNum(3, 5); // 调用 addNum() 函数
    std::cout &lt;&lt; sum &lt;&lt; std::endl;
    return 0; 
}</pre>
输出结果为：
<p class="info-box">
8</p>
观察程序，调用 addNum() 函数是在第 10 行代码，在此之前已经有了 addNum() 函数的定义，编译器执行到第 10 行代码时，已经知晓了 addNum() 函数的所有细节，因此不再需要额外声明。<br />
<br />
修改上面的程序，将 addNum() 函数放在 main() 函数后面，那么在 main() 函数中调用 addNum() 函数之前必须声明函数。<br />
<pre class="cpp">
#include &lt;iostream&gt;
//函数的声明
int addNum(int a, int b);
int main()
{
    int sum = addNum(3, 5); // 调用 addNum() 函数
    std::cout &lt;&lt; sum &lt;&lt; std::endl;
    return 0; 
}

//函数的定义
int addNum(int a, int b)
{
    int c = a + b;
    return c;
}</pre>
<h2>
return语句</h2>
函数中的 return 语句除了返回数据之外，还有一个重要的功能，就是结束函数的运行，在 return 语句之后的语句都不会执行。<br />
<br />
例如：
<pre class="cpp">
int addNum(int a, int b)
{
    int c = a + b;
    return c;
    std::cout &lt;&lt; &ldquo;不会执行&rdquo; &lt;&lt; std::endl;
}</pre>
第 5 行的输出语句永远不会执行，因为函数在第 4 行已经执行结束了。<br />
</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="6355.html" title="Linux Vim可视化模式及其用法" target="_blank">Linux Vim可视化模式及其用法</a></li>
<li><a href="vip_8346.html" title="MySQL如何创建并执行事件？" target="_blank">MySQL如何创建并执行事件？</a></li>
<li><a href="../jsp2/cookie.html" title="JSP Cookie的使用" target="_blank">JSP Cookie的使用</a></li>
<li><a href="../sql/unique.html" title="SQL UNIQUE：唯一约束" target="_blank">SQL UNIQUE：唯一约束</a></li>
<li><a href="../pillow/image-attr.html" title="Pillow Image对象属性" target="_blank">Pillow Image对象属性</a></li>
<li><a href="../c/fscanf.html" title="C语言fscanf()：从文件中格式化读取数据" target="_blank">C语言fscanf()：从文件中格式化读取数据</a></li>
<li><a href="ztr4htn.html" title="C++ random_shuffle()函数用法详解" target="_blank">C++ random_shuffle()函数用法详解</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 10314;
window.arcId = "d83dDfFnBuMHPRyQOBG9MgaQgMGnBYwQB0A5A/oi6m23tGGxRejSuyHUwOEV";
window.typeidChain = "120|119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>