<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>Python操作MySQL数据库（非常详细）</title>
<meta name="description" content="MySQL 是目前最流行的开源关系数据库，大多应用于互联网行业。 例如，国内的百度、腾讯、淘宝、京东、网易、新浪等，国外的 Google、Facebook、Twitter、GitHub 等都在使用MySQL。社交、电商" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>Python操作MySQL数据库（非常详细）</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">MySQL 是目前最流行的开源关系数据库，大多应用于互联网行业。<br />
<br />
例如，国内的百度、腾讯、淘宝、京东、网易、新浪等，国外的 Google、Facebook、Twitter、GitHub 等都在使用MySQL。社交、电商和游戏的核心存储往往也是 MySQL。
<h2 class="center">
一、MySQL 简介</h2>
MySQL 具有体积小、速度快、开源等特点，许多中小型网站为了降低网站总体拥有成本而选择 MySQL 作为网站数据库。<br />
<br />
MySQL 常用于如下场景：<br />
<br />
1) Web 网站开发人员是 MySQL 最大的客户群，也是 MySQL 发展史上最为重要的支撑力量。<br />
<br />
MySQL 之所以能成为 Web 网站开发人员最青睐的数据库管理系统，是因为 MySQL 数据库的安装配置非常简单，使用过程中的维护也不像很多大型商业数据库管理系统那么复杂，而且性能出色。<br />
<br />
还有一个非常重要的原因就是 MySQL 是开源的，可以免费使用。<br />
<br />
2) 嵌入式环境对软件系统最大的限制是硬件资源非常有限，在嵌入式环境下运行的软件系统，必须是轻量级低消耗的软件。<br />
<br />
MySQL 在资源使用方面的伸缩性非常大，可以在资源非常充裕的环境下运行，也可以在资源非常少的环境下正常运行。对于嵌入式环境，MySQL 是一种非常合适的数据库系统，而且 MySQL 有专门针对嵌入式环境的版本。
<h2 class="center">
二、MySQL 的使用</h2>
<h3>
1. 常用数据类型</h3>
MySQL 支持的数据类型非常多，选择正确的数据类型对于获得高性能至关重要，下面介绍几种常用的数据类型。
<h4>
1) 整数类型</h4>
整数类型有 TINYINT、SMALLINT、MEDIUMINT、INT 和 BIGINT 这几种，用于存储整数，每种类型的存储空间和值的范围不一样，我们需要根据实际情况选择合适的类型。
<h4>
2) 实数类型</h4>
实数是带有小数部分的数字。FLOAT 和 DOUBLE 类型支持使用标准的浮点运算进行近似计算。DECIMAL 类型用于存储精确的小数。<br />
<br />
在程序开发时，如果需要对小数进行精确计算，可以考虑使用 BIGINT 代替 DECIMAL，将需要存储的数值根据小数的位数乘相应的倍数即可。这样可以避免浮点存储计算不精确和 DECIMAL 精确计算代价高的问题。
<h4>
3) 字符串类型</h4>
MySQL 支持多种字符串类型，如 VARCHAR、CHAR、BLOB、TEXT 等。<br />
<br />
VARCHAR 和 CHAR 是两种最主要的字符串类型；BLOB 和 TEXT 是为存储大量数据而设计的字符串数据类型，分别采用二进制和字符方式存储。<br />
<br />
VARCHAR用于存储可变长字符串，是最常见的字符串数据类型。相对于定长类型 CHAR，它更节省空间。<br />
<br />
在存储数据时，VARCHAR 需要使用额外的字节记录字符串的长度：如果列的最大长度小于或等于 255 字节，则只使用1字节来记录，否则使用2字节。在 5.0 或者更高版本，MySQL 在存储和检索时会保留末位空格，并且长度按字符展示，如 varchar(20)，指的是 20 字符。<br />
<br />
CHAR 是定长的，MySQL 会根据定义的字符串长度分配足够的空间。在存储 CHAR 值时，MySQL 会删除所有的末尾空格。CHAR 适合存储短字符串，或者接近同一个长度的值，如身份证号、手机号、电话等。<br />
<br />
对于经常变更的数据，CHAR 比 VARCHAR 更好用，因为定长的 CHAR 不容易产生碎片。对于非常短的列，CHAR 比 VARCHAR 在存储空间上更有优势。例如，用 CHAR(1) 来存储只有 Y 和 N 的值，如果采用单字节字符集则只需要1字节，但是 VARCHAR(1) 却需要2字节，因为还有一个记录长度的额外字节。
<h4>
4) 日期和时间类型</h4>
DATETIME 的时间范围是 1001 年到 9999 年，精度为秒。它使用 8 字节的存储空间，把日期和时间封装到格式为 YYYYMMDDHHMMSS 的整数中，与时区无关。<br />
<br />
TIMESTAMP 只使用 4 字节的存储空间，因此它的范围比 DATETIME 小得多，只能表示 1970 年到 2038 年，并且 TIMESTAMP 会根据时区变化，具有自动更新能力。<br />
<br />
当需要存储比秒更小粒度的日期和时间值时，虽然 MySQL 目前没有提供合适的数据类型，但是可以使用 BIGINT 存储微秒级别的时间戳，或者使用 DOUBLE 存储秒之后的小数部分。
<h3>
2. 表结构的设计原则</h3>
在进行表结构设计时，需要牢记如下几个原则。
<h4>
1) 更小的通常更好</h4>
在确保满足存储要求的前提下，尽量使用最小数据类型。因为它们占用更少的磁盘、内存和 CPU 缓存，并且处理时需要的 CPU 周期也更短，所以通常效率也更快。
<h4>
2) 简单就好</h4>
简单数据类型的操作通常需要更短的 CPU 周期。例如，整形比字符操作代价更低；应该使用 MySQL 内置的类型（date、time和datetime）而不是字符串来存储日期和时间；应该使用整型存储 IP 地址。
<h4>
3) 尽量避免使用NULL</h4>
NULL 是列的默认属性，但是通常情况下最好指定列为 NOT NULL。因为使用 NULL 的列在索引时比较复杂，当可使用 NULL 的列被索引时，每个索引记录需增加一个额外的字节。
<h3>
3. 常用方法</h3>
在 Python 中，主要通过 PyMySQL 库进行 MySQL 数据库的操作。在使用 PyMySQL 库过程中，主要涉及连接对象和游标对象，大部分的操作都是基于这两个对象展开的。<br />
<br />
我们先创建数据库连接对象（db），创建方法如下：
<p class="info-box">
db = pymysql.connect(参数列表)</p>
其中，参数列表中的参数如表1所示。<br />
<br />
<table>
<caption>
表1：pymysql.connect 的参数列表</caption>
<tbody>
<tr>
<th>
参数</th>
<th>
含义</th>
</tr>
<tr>
<td>
host</td>
<td>
主机地址（本地地址为 localhost）</td>
</tr>
<tr>
<td>
port</td>
<td>
端口号，默认 3306</td>
</tr>
<tr>
<td>
user</td>
<td>
用户名</td>
</tr>
<tr>
<td>
password</td>
<td>
密码</td>
</tr>
<tr>
<td>
database</td>
<td>
要操控的库</td>
</tr>
<tr>
<td>
charset</td>
<td>
编码方式，推荐使用 UTF-8</td>
</tr>
</tbody>
</table>
<br />
数据库连接对象（db）的常用方法如表2所示。<br />
<br />
<table>
<caption>
表2：数据库连接对象的常用方法</caption>
<tbody>
<tr>
<th style="height:0px;">
方法</th>
<th style="height:0px;">
描述</th>
</tr>
<tr>
<td style="height:0px;">
db.close()</td>
<td style="height:0px;">
关闭连接</td>
</tr>
<tr>
<td style="height:0px;">
db.commit()</td>
<td style="height:0px;">
提交数据库执行</td>
</tr>
<tr>
<td style="height:0px;">
db.rollback()</td>
<td style="height:0px;">
回滚到错误的语句执行之前的状态</td>
</tr>
<tr>
<td style="height:0px;">
cur = db.cursor()</td>
<td style="height:0px;">
返回游标对象，用于执行具体的 SQL 命令</td>
</tr>
</tbody>
</table>
<br />
游标对象（cur）的常用方法如表3所示。<br />
<br />
<table>
<caption>
表3：游标对象的常用方法</caption>
<tbody>
<tr>
<th>
方法</th>
<th>
描述</th>
</tr>
<tr>
<td>
cur.execute(sql,[列表])</td>
<td>
执行 SQL 命令，将查找结果存入游标对象 cur 中</td>
</tr>
<tr>
<td>
cur.close()</td>
<td>
关闭游标对象</td>
</tr>
<tr>
<td>
cur.fetchone()</td>
<td>
获取查询结果集的第一条数据</td>
</tr>
<tr>
<td>
cur.fetchmany(n)</td>
<td>
获取 n 条数据</td>
</tr>
<tr>
<td>
cur.fetchall()</td>
<td>
获取所有记录</td>
</tr>
<tr>
<td>
cur.rowcount</td>
<td>
返回查询结果记录数</td>
</tr>
</tbody>
</table>
<h3>
4. 使用说明</h3>
本教程使用的 PyMySQL 1.0.2，PyMySQL 的使用分为如下几步。
<ol>
<li>
与数据库服务器建立连接：conn=pymysql.Connect(...)。</li>
<li>
获取游标对象（用于发送和接收数据）：cursor=conn.cursor()。</li>
<li>
使用游标执行 SQL 语句：cursor.excute(sql)。此时返回的是执行该语句后数据库表中受影响的数据条数。</li>
<li>
使用 fetch() 方法来获取执行的结果。</li>
<li>
关闭连接：先关闭游标，再关闭连接。</li>
</ol>
<br />
下面进行基本操作的示例演示。<br />
<br />
1) 新建数据库：
<pre class="python" showmenu="false" shownum="false">
import pymysql
　
con =pymysql.connect(host=&#39;localhost&#39;,user=&#39;root&#39;,passwd=&#39;root&#39;,port=3306,db=&#39;business&#39;)
cursor = con.cursor()
cursor.execute(&#39;create database if not exists business default charset utf8&#39;)
con.commit()</pre>
<br />
2) 新建表：
<pre class="python" showmenu="false" shownum="false">
cursor.execute(&#39;use business&#39;)
cursor.execute(&#39;&#39;&#39;CREATE table if not exists boss(id int auto_increment primary key,
           name varchar(20) not null,
           salary int not null)&#39;&#39;&#39;)</pre>
<br />
3) 增加数据：
<pre class="python" showmenu="false" shownum="false">
sql = &quot;&quot;&quot;INSERT into boss(name,salary)
      values (&#39;Jack&#39;,91), (&#39;Harden&#39;,1300), (&#39;Pony&#39;,200)&quot;&quot;&quot;
cursor.execute(sql)
con.commit()</pre>
<br />
4) 删除数据：
<pre class="python" showmenu="false" shownum="false">
cursor.execute(&#39;delete from boss where salary &lt; 100&#39;)
con.commit() # 一定要提交，提交了语句才生效</pre>
<br />
5) 修改数据：
<pre class="python" showmenu="false" shownum="false">
cursor.execute(&quot;UPDATE boss set salary = 2000 where name = &#39;Pony&#39;&quot;)
con.commit()</pre>
<br />
6) 关闭数据库：
<pre class="python" showmenu="false" shownum="false">
con.close()</pre>
<h4>
注入问题</h4>
用 excute() 方法执行 SQL 语句的时候，必须使用参数化的方式，内部执行参数化生成的 SQL 语句，对特殊字符加<code>\</code>转义，避免注入 SQL 语句漏洞生成。
<h4>
连接池</h4>
面对大量的 Web 请求和插入、查询请求，MySQL 连接会不稳定，出现以下错误：
<p class="info-box">
Lost connection to MySQL server during query ([Errno 104] Connection reset by peer)</p>
解决方法是采用连接池方式，在程序创建连接的时候从连接池中获取一个连接，不需要重新初始化连接，可以提升获取连接的速度。<br />
<br />
DBUtils 是一套 Python 数据库工具类库，可以对非线程安全的数据库接口进行线程安全包装，可用于各种多线程环境。<br />
<br />
DBUtils 提供两种外部接口：
<ul>
<li>
PersistentDB 提供线程专用的数据库连接，并自动管理连接；</li>
<li>
PooledDB 提供线程间可共享的数据库连接，并自动管理连接。</li>
</ul>
<h2 class="center">
三、封装示例</h2>
在实际数据库操作时，使用完毕后须要关闭游标（cursor）和连接（connection），为了简化代码，获取数据库连接采用 with open as 方式，执行完毕后自动关闭连接，无须主动关闭。<br />
<br />
代码清单1中封装和使用 with 优化操作代码。采用 with 的方式来增加一个上下文管理器，并记录每次执行 SQL 预计的耗时。除了更好的采用 with 方式管理连接外，还简要封装了增删改查的操作。<br />
<br />
代码清单1：mysqlUtil.py
<pre class="python">
# -*- coding: utf-8 -*-
# @Time : 2023/7/27 4:41 下午
# @Project : mysqlUtil
# @File : mysqlUtil.py
# @Version: Python3.9.8
　
import pymysql
from timeit import default_timer
　
host = &#39;localhost&#39;
port = 3306
db = &#39;mysql_test&#39;
user = &#39;mysql_test&#39;
password = &#39;mysql_test&#39;
　
# 用PyMySQL操作数据库
def get_connection():
    conn = pymysql.connect(host=host, port=port, db=db, user=user, password=password)
    return conn
　
# 使用with优化代码
class UsingMysql(object):
    def __init__(self, commit=True, log_time=True, log_label=&#39;总用时&#39;):
        &quot;&quot;&quot;
        :param commit: 是否在最后提交事务(设置为False的时候方便单元测试)
        :param log_time: 是否打印程序运行总时间
        :param log_label: 自定义log的文字
        &quot;&quot;&quot;
        self._log_time = log_time
        self._commit = commit
        self._log_label = log_label
　
    def __enter__(self):
        # 如果需要记录时间
        if self._log_time is True:
            self._start = default_timer()
        # 在进入的时候自动获取连接和cursor
        conn = get_connection()
        cursor = conn.cursor(pymysql.cursors.DictCursor)
        conn.autocommit = False
        self._conn = conn
        self._cursor = cursor
        return self
　
    def __exit__(self, *exc_info):
        # 提交事务
        if self._commit:
            self._conn.commit()
        # 在退出的时候自动关闭连接和cursor
        self._cursor.close()
        self._conn.close()
　
        if self._log_time is True:
            diff = default_timer() - self._start
            print(&#39;-- %s: %.6f 秒&#39; % (self._log_label, diff))
　
    # 一系列封装的业务方法
    # 返回count
    def get_count(self, sql, params=None, count_key=&#39;count(id)&#39;):
        self.cursor.execute(sql, params)
        data = self.cursor.fetchone()
        if not data:
            return 0
        return data[count_key]
　
    def fetch_one(self, sql, params=None):
        self.cursor.execute(sql, params)
        return self.cursor.fetchone()
　
    def fetch_all(self, sql, params=None):
        self.cursor.execute(sql, params)
        return self.cursor.fetchall()
　
    def fetch_by_pk(self, sql, pk):
        self.cursor.execute(sql, (pk,))
        return self.cursor.fetchall()
　
    def update_by_pk(self, sql, params=None):
        self.cursor.execute(sql, params)
　
    @property
    def cursor(self):
        return self._cursor
　
def check_it():
    &quot;&quot;&quot;
    &quot;&quot;&quot;
    with UsingMysql(log_time=True) as um:
        um.cursor.execute(&quot;select count(id) as total from Product&quot;)
        data = um.cursor.fetchone()
        print(&quot;-- 当前数量: %d &quot; % data[&#39;total&#39;])
　

if __name__ == &#39;__main__&#39;:
    check_it()</pre>
运行上述代码，输出结果如下：<br />
-- 当前数量: 0<br />
-- 用时: 0.002345 秒<br />
<br />
用这种方式改写代码之后，业务方法更精简，并且加入参数方便进行单元测试和监控代码的运行时间。<br />
</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="163_2.html" title="if else用法详解，C语言if else用法完全攻略" target="_blank">if else用法详解，C语言if else用法完全攻略</a></li>
<li><a href="vip_2082.html" title="查看和修改变量的值" target="_blank">查看和修改变量的值</a></li>
<li><a href="5677.html" title="JS every()方法：检测数组元素是否全部符合指定条件" target="_blank">JS every()方法：检测数组元素是否全部符合指定条件</a></li>
<li><a href="../jstl/c-url.html" title="&lt;c:url&gt;标签" target="_blank">&lt;c:url&gt;标签</a></li>
<li><a href="../redis/server.html" title="Redis服务器命令" target="_blank">Redis服务器命令</a></li>
<li><a href="../json/java-json.html" title="Java JSON的解析和创建" target="_blank">Java JSON的解析和创建</a></li>
<li><a href="otrazpa.html" title="区块链凉了，直接劝退" target="_blank">区块链凉了，直接劝退</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 10149;
window.arcId = "df23iw2TEmWgJrY1Sfd4fp3MVg4xKtoOlEb+q3KKz8rItWGWMWFIhVDPW3rP";
window.typeidChain = "119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>