<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>priority_queue容器适配器实现自定义排序</title>
<meta name="description" content="前面讲解 priority_queue 容器适配器时，还遗留一个问题，即当 function 头文件提供的排序方式（std::lessT 和 std::greaterT）不再适用时，如何自定义一个满足需求的排序规则。 首先，无论 pr" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="iconfont"></span></span>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main" class="clearfix">
<div id="sidebar" class="toggle-target">
<div id="contents">
<dt><span class="iconfont iconfont-list-vertical" aria-hidden="true"></span><a href="../stl/stl.html">STL</a></dt>
<dd>
<span class="channel-num">1</span>
<a href='../stl/stl_basic/stl_basic.html'>STL基础</a>
</dd>
<dd>
<span class="channel-num">2</span>
<a href='../stl/sequence_container/sequence_container.html'>STL序列式容器</a>
</dd>
<dd>
<span class="channel-num">3</span>
<a href='../stl/map_set/map_set.html'>STL关联式容器</a>
</dd>
<dd>
<span class="channel-num">4</span>
<a href='../stl/unordered_container/unordered_container.html'>STL无序关联式容器</a>
</dd>
<dd class="this"> <span class="channel-num">5</span> <a href="../stl/container_adapters/container_adapters.html">STL容器适配器</a> </dd><dl class="dl-sub"><dd>5.1 <a href="6967.html">什么是容器适配器？</a></dd><dd>5.2 <a href="6971.html">C++ STL stack容器适配器</a></dd><dd>5.3 <a href="vip_7726.html">【STL实践项目】stack容器适配器实现计算器</a><span class="iconfont iconfont-vip2"></span></dd><dd>5.4 <a href="6978.html">C++ STL queue容器适配器详解</a></dd><dd>5.5 <a href="vip_7727.html">【STL实践项目】queue容器模拟超市结账环节</a><span class="iconfont iconfont-vip2"></span></dd><dd>5.6 <a href="6987.html">C++ STL priority_queue容器适配器详解</a></dd><dd>5.7 <a href="vip_7728.html">priority_queue容器如何实现自定义排序？</a><span class="iconfont iconfont-vip2"></span></dd><dd>5.8 <a href="vip_7729.html">深度剖析priority_queue容器适配器的底层实现</a><span class="iconfont iconfont-vip2"></span></dd></dl>
<dd>
<span class="channel-num">6</span>
<a href='../stl/iterator_adaptor/iterator_adaptor.html'>STL迭代器适配器</a>
</dd>
<dd>
<span class="channel-num">7</span>
<a href='../stl/algorithms/algorithms.html'>C++常用算法</a>
</dd>
</div>
</div>
<div id="article-wrap">
<div id="article">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; <a href="../stl/stl.html">STL</a> &gt; <a href="../stl/container_adapters/container_adapters.html">STL容器适配器</a></span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>priority_queue容器适配器实现自定义排序</h1>
<div class="pre-next-page clearfix">&nbsp;</div>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body"><div id="buy-course-tip" aid="7728" typeid="63" topid="58">&nbsp;</div></div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div class="pre-next-page clearfix">&nbsp;</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="1290_2.html" title="Java JDK环境变量配置" target="_blank">Java JDK环境变量配置</a></li>
<li><a href="../mysql/avg.html" title="MySQL AVG函数：求平均值" target="_blank">MySQL AVG函数：求平均值</a></li>
<li><a href="3415.html" title="重连通图及重连通分量" target="_blank">重连通图及重连通分量</a></li>
<li><a href="6212.html" title="Linux sar命令详解：分析系统性能" target="_blank">Linux sar命令详解：分析系统性能</a></li>
<li><a href="vip_8251.html" title="如何判断两个单链表相交？" target="_blank">如何判断两个单链表相交？</a></li>
<li><a href="../c/iscntrl.html" title="C语言iscntrl()：判断一个字符是否为控制字符" target="_blank">C语言iscntrl()：判断一个字符是否为控制字符</a></li>
<li><a href="1br5fzg.html" title="Linux du命令：查看目录或文件占用的硬盘空间" target="_blank">Linux du命令：查看目录或文件占用的硬盘空间</a></li>
</ul>
</div>
</div>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 7728;
window.arcId = "5912HQC/jBZRgThzAMhSTD2j7a7qDEMMeTaOuo4z1cuCabveF9DlrVUNlOs";
window.typeidChain = "63|58";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";
window.prePageURL = "/view/6987.html";
window.nextPageURL = "/view/vip_7729.html";
</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>