<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 启用Chromium高速渲染模式 -->
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<!-- 禁止百度转码 -->
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止识别电话号码 -->
<meta name="format-detection" content="telephone=no" />

<link rel="shortcut icon" href="../favicon_3.ico" />
<link href="../templets/new/style/common_2.css" rel="stylesheet" />
<link href="../templets/new/style/book_2.css" rel="stylesheet" />
<title>《JavaScript高级程序设计(第4版)》PDF下载（高清完整版）</title>
<meta name="description" content="作者：[美]马特弗里斯比（Matt Frisbie） 译者：李松峰 出版时间：2020年09月01日 出版社：人民邮电出版社 书号ISBN：9787115545381 总页数：866页" />
</head>
<body>
<div id="topbar" class="clearfix">
	<ul id="product-type" class="left">
		<li>
			<a href="../m_biancheng_default_2.html"><span class="iconfont iconfont-home"></span>首页</a>
		</li>
		<li class="active">
			<a href="../sitemap/sitemap_2.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
		</li>
		<li>
			<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
		</li>
		<li>
			<a href="niz69i_5.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
		</li>
		<!-- <li>
			<a href="https://www.54benniao.com/c_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-c-course"></span>C语言高级课程</a>
		</li>
		<li>
			<a href="https://www.54benniao.com/java_course/?from=biancheng" target="_blank"><span class="iconfont iconfont-java-course"></span>Java高级课程</a>
		</li>
		<li>
			<a href="http://vip.biancheng.net/p/q2a/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-q2a"></span>一对一答疑</a>
		</li> -->
	</ul>
</div>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="../m_biancheng_default_2.html">
		<img height="26" src="../templets/new/images/logo_2.png" alt="C语言中文网" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li class="wap-yes"><a href="../m_biancheng_default_2.html">首页</a></li>
		<li><a href="../c/c_4.html">C语言教程</a></li>
		<li><a href="../cplus/cplus_2.html">C++教程</a></li>
		<li><a href="../python/python_2.html">Python教程</a></li>
		<li><a href="../java/java_2.html">Java教程</a></li>
		<li><a href="../linux_tutorial/linux_tutorial_2.html">Linux入门</a></li>
		<li><a href="../sitemap/sitemap_2.html" title="网站地图">更多&gt;&gt;</a></li>
	</ul>
	<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
	<div class="arc-info">
		<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../m_biancheng_default_2.html">首页</a> &gt; 书籍下载</span>
	</div>
	<div id="ggxc-position-bottom" class="ggxc-box"></div>
	<h1>《JavaScript高级程序设计(第4版)》PDF下载（高清完整版）</h1>
	<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
	<div id="arc-body">
		<table class="book-profile">
	<tbody>
		<tr>
			<td rowspan="6" style="width:212px;">
				<img alt="JavaScript高级程序设计(第4版)封面" src="../uploads/allimg/231011/1-23101116022cM_2.jpg" style="width: 192px; height: 250px;" /></td>
			<td>
				作者：[美]马特&middot;弗里斯比（Matt Frisbie）</td>
		</tr>
		<tr>
			<td>
				译者：李松峰</td>
		</tr>
		<tr>
			<td>
				出版时间：2020年09月01日</td>
		</tr>
		<tr>
			<td>
				出版社：人民邮电出版社</td>
		</tr>
		<tr>
			<td>
				书号ISBN：9787115545381</td>
		</tr>
		<tr>
			<td>
				总页数：866页</td>
		</tr>
	</tbody>
</table>
<br />
这是 Web 前端圈子里面公认的一本 JavaScript 经典，被称为&ldquo;红宝书&rdquo;，基本每个 JavaScript 程序员都读过，它的中文版已经畅销了 10 余年，累计销量超过了 32W 册。<br />
<br />
这里提供的是《JavaScript高级程序设计(第4版)》的高清 PDF 下载，内容完整，附带目录标签。<br />
<br />
这本书内容详实，切中要害，涵盖了 Web 前端入门和进阶的必备知识，非常全面。无论你是新手，还是已有一定编程基础的程序员，你都能从中找到适合自己的内容。
<h4>
	升级</h4>
自从第三版出版以来，前端开发的知识点、JavaScript 的运行环境，以及 ECMAScript 的特性，这几年间都发生了很大的变化。<br />
<br />
这次升级基于较新的 ECMAScript 2019 标准，不仅新增了5章内容，还对其余章节进行了大幅度的增补和修订。无论是 ES6 的新模块，还是 ES8 新增的异步函数，读者都能在书中找到细致的讲解和详尽的示例代码。<br />
<br />
很多读者对这本书进行了好评，比如：
<ul>
	<li>
		为了学习 JavaScript 编程买的这本书，这个是很多人推荐的书，的质量很不错。</li>
	<li>
		这本书相信业内的人基本都听说过，大名鼎鼎的红宝书，既有丰富的基础知识，也有详细的深入讲解，真是兼顾有度。刚拿到手很厚，有一个大拇指左右厚，粗看一遍估计也要很长时间。</li>
</ul>
<h3>
	书籍目录</h3>
<dl class="book-contents">
	<dt>
		第1章　什么是JavaScript 1</dt>
	<dd>
		1.1　简短的历史回顾 1</dd>
	<dd>
		1.2　JavaScript实现 2</dd>
	<dd>
		1.3　JavaScript版本 9</dd>
	<dd>
		1.4　小结 10</dd>
	<dt>
		第2章　HTML中的JavaScript 11</dt>
	<dd>
		2.1　script元素 11</dd>
	<dd>
		2.2　行内代码与外部文件 18</dd>
	<dd>
		2.3　文档模式 18</dd>
	<dd>
		2.4　noscript元素 19</dd>
	<dd>
		2.5　小结 20</dd>
	<dt>
		第3章　语言基础 21</dt>
	<dd>
		3.1　语法 21</dd>
	<dd>
		3.2　关键字与保留字 23</dd>
	<dd>
		3.3　变量 24</dd>
	<dd>
		3.4　数据类型 30</dd>
	<dd>
		3.5　操作符 56</dd>
	<dd>
		3.6　语句 73</dd>
	<dd>
		3.7　函数 80</dd>
	<dd>
		3.8　小结 82</dd>
	<dt>
		第4章　变量、作用域与内存 83</dt>
	<dd>
		4.1　原始值与引用值 83</dd>
	<dd>
		4.2　执行上下文与作用域 87</dd>
	<dd>
		4.3　垃圾回收 94</dd>
	<dd>
		4.4　小结 101</dd>
	<dt>
		第5章　基本引用类型 103</dt>
	<dd>
		5.1　Date 103</dd>
	<dd>
		5.2　RegExp 107</dd>
	<dd>
		5.3　原始值包装类型 113</dd>
	<dd>
		5.4　单例内置对象 128</dd>
	<dd>
		5.5　小结 135</dd>
	<dt>
		第6章　集合引用类型 136</dt>
	<dd>
		6.1　Object 136</dd>
	<dd>
		6.2　Array 138</dd>
	<dd>
		6.3　定型数组 155</dd>
	<dd>
		6.4　Map 163</dd>
	<dd>
		6.5　WeakMap 168</dd>
	<dd>
		6.6　Set 173</dd>
	<dd>
		6.7　WeakSet 178</dd>
	<dd>
		6.8　迭代与扩展操作 180</dd>
	<dd>
		6.9　小结 182</dd>
	<dt>
		第7章　迭代器与生成器 183</dt>
	<dd>
		7.1　理解迭代 183</dd>
	<dd>
		7.2　迭代器模式 184</dd>
	<dd>
		7.3　生成器 192</dd>
	<dd>
		7.4　小结 204</dd>
	<dt>
		第8章　对象、类与面向对象编程 205</dt>
	<dd>
		8.1　理解对象 205</dd>
	<dd>
		8.2　创建对象 220</dd>
	<dd>
		8.3　继承 238</dd>
	<dd>
		8.4　类 249</dd>
	<dd>
		8.5　小结 265</dd>
	<dt>
		第9章　代理与反射 266</dt>
	<dd>
		9.1　代理基础 266</dd>
	<dd>
		9.2　代理捕获器与反射方法 274</dd>
	<dd>
		9.3　代理模式 283</dd>
	<dd>
		9.4　小结 286</dd>
	<dt>
		第10章　函数 287</dt>
	<dd>
		10.1　箭头函数 288</dd>
	<dd>
		10.2　函数名 289</dd>
	<dd>
		10.3　理解参数 290</dd>
	<dd>
		10.4　没有重载 292</dd>
	<dd>
		10.5　默认参数值 293</dd>
	<dd>
		10.6　参数扩展与收集 295</dd>
	<dd>
		10.7　函数声明与函数表达式 297</dd>
	<dd>
		10.8　函数作为值 297</dd>
	<dd>
		10.9　函数内部 299</dd>
	<dd>
		10.10　函数属性与方法 302</dd>
	<dd>
		10.11　函数表达式 304</dd>
	<dd>
		10.12　递归 306</dd>
	<dd>
		10.13　尾调用优化 307</dd>
	<dd>
		10.14　闭包 309</dd>
	<dd>
		10.15　立即调用的函数表达式 314</dd>
	<dd>
		10.16　私有变量 316</dd>
	<dd>
		10.17　小结 321</dd>
	<dt>
		第11章　期约与异步函数 322</dt>
	<dd>
		11.1　异步编程 322</dd>
	<dd>
		11.2　期约 325</dd>
	<dd>
		11.3　异步函数 347</dd>
	<dd>
		11.4　小结 360</dd>
	<dt>
		第12章　BOM 361</dt>
	<dd>
		12.1　window对象 361</dd>
	<dd>
		12.2　location对象 372</dd>
	<dd>
		12.3　navigator对象 375</dd>
	<dd>
		12.4　screen对象 379</dd>
	<dd>
		12.5　history对象 379</dd>
	<dd>
		12.6　小结 381</dd>
	<dt>
		第13章　客户端检测 382</dt>
	<dd>
		13.1　能力检测 382</dd>
	<dd>
		13.2　用户代理检测 386</dd>
	<dd>
		13.3　软件与硬件检测 394</dd>
	<dd>
		13.4　小结 400</dd>
	<dt>
		第14章　DOM 401</dt>
	<dd>
		14.1　节点层级 401</dd>
	<dd>
		14.2　DOM编程 426</dd>
	<dd>
		14.3　MutationObserver接口 432</dd>
	<dd>
		14.4　小结 444</dd>
	<dt>
		第15章　DOM扩展 445</dt>
	<dd>
		15.1　Selectors API 445</dd>
	<dd>
		15.2　元素遍历 447</dd>
	<dd>
		15.3　HTML5 448</dd>
	<dd>
		15.4　专有扩展 456</dd>
	<dd>
		15.5　小结 459</dd>
	<dt>
		第16章　DOM2和DOM3 460</dt>
	<dd>
		16.1　DOM的演进 460</dd>
	<dd>
		16.2　样式 467</dd>
	<dd>
		16.3　遍历 476</dd>
	<dd>
		16.4　范围 481</dd>
	<dd>
		16.5　小结 489</dd>
	<dt>
		第17章　事件 490</dt>
	<dd>
		17.1　事件流 490</dd>
	<dd>
		17.2　事件处理程序 493</dd>
	<dd>
		17.3　事件对象 499</dd>
	<dd>
		17.4　事件类型 505</dd>
	<dd>
		17.5　内存与性能 540</dd>
	<dd>
		17.6　模拟事件 543</dd>
	<dd>
		17.7　小结 548</dd>
	<dt>
		第18章　动画与Canvas图形 549</dt>
	<dd>
		18.1　使用requestAnimationFrame 549</dd>
	<dd>
		18.2　基本的画布功能 552</dd>
	<dd>
		18.3　2D绘图上下文 553</dd>
	<dd>
		18.4　WebGL 569</dd>
	<dd>
		18.5　小结 579</dd>
	<dt>
		第19章　表单脚本 581</dt>
	<dd>
		19.1　表单基础 581</dd>
	<dd>
		19.2　文本框编程 587</dd>
	<dd>
		19.3　选择框编程 597</dd>
	<dd>
		19.4　表单序列化 601</dd>
	<dd>
		19.5　富文本编辑 603</dd>
	<dd>
		19.6　小结 608</dd>
	<dt>
		第20章　JavaScript API 609</dt>
	<dd>
		20.1　Atomics与SharedArrayBuffer 609</dd>
	<dd>
		20.2　跨上下文消息 616</dd>
	<dd>
		20.3　Encoding API 617</dd>
	<dd>
		20.4　File API与Blob API 622</dd>
	<dd>
		20.5　媒体元素 627</dd>
	<dd>
		20.6　原生拖放 631</dd>
	<dd>
		20.7　Notifications API 635</dd>
	<dd>
		20.8　Page Visibility API 636</dd>
	<dd>
		20.9　Streams API 637</dd>
	<dd>
		20.10　计时API 644</dd>
	<dd>
		20.11　Web组件 648</dd>
	<dd>
		20.12　Web Cryptography API 663</dd>
	<dd>
		20.13　小结 674</dd>
	<dt>
		第21章　错误处理与调试 675</dt>
	<dd>
		21.1　浏览器错误报告 675</dd>
	<dd>
		21.2　错误处理 676</dd>
	<dd>
		21.3　调试技术 688</dd>
	<dd>
		21.4　旧版IE的常见错误 691</dd>
	<dd>
		21.5　小结 693</dd>
	<dt>
		第22章　处理XML 694</dt>
	<dd>
		22.1　浏览器对XML DOM的支持 694</dd>
	<dd>
		22.2　浏览器对XPath的支持 696</dd>
	<dd>
		22.3　浏览器对XSLT的支持 700</dd>
	<dd>
		22.4　小结 702</dd>
	<dt>
		第23章　JSON 703</dt>
	<dd>
		23.1　语法 703</dd>
	<dd>
		23.2　解析与序列化 706</dd>
	<dd>
		23.4　小结 710</dd>
	<dt>
		第24章　网络请求与远程资源 711</dt>
	<dd>
		24.1　XMLHttpRequest对象 711</dd>
	<dd>
		24.2　进度事件 718</dd>
	<dd>
		24.3　跨源资源共享 719</dd>
	<dd>
		24.4　替代性跨源技术 721</dd>
	<dd>
		24.5　Fetch API 722</dd>
	<dd>
		24.6　Beacon API 747</dd>
	<dd>
		24.7　Web Socket 747</dd>
	<dd>
		24.8　安全 749</dd>
	<dd>
		24.9　小结 750</dd>
	<dt>
		第25章　客户端存储 751</dt>
	<dd>
		25.1　cookie 751</dd>
	<dd>
		25.2　Web Storage 759</dd>
	<dd>
		25.3　IndexedDB 762</dd>
	<dd>
		25.4　小结 771</dd>
	<dt>
		第26章　模块 772</dt>
	<dd>
		26.1　理解模块模式 772</dd>
	<dd>
		26.2　凑合的模块系统 776</dd>
	<dd>
		26.3　使用ES6之前的模块加载器 779</dd>
	<dd>
		26.4　使用ES6模块 783</dd>
	<dd>
		26.5　小结 790</dd>
	<dt>
		第27章　工作者线程 791</dt>
	<dd>
		27.1　工作者线程简介 791</dd>
	<dd>
		27.2　专用工作者线程 793</dd>
	<dd>
		27.3　共享工作者线程 813</dd>
	<dd>
		27.4　服务工作者线程 817</dd>
	<dd>
		27.5　小结 841</dd>
	<dt>
		第28章　最佳实践 842</dt>
	<dd>
		28.1　可维护性 842</dd>
	<dd>
		28.2　性能 851</dd>
	<dd>
		28.3　部署 861</dd>
	<dd>
		28.4　小结 864</dd>
</dl>

		<h3>书籍下载</h3>
		<p><a href="http://vip.biancheng.net/wechatlogin.php" target="_blank">一键登录</a>，免费下载完整版 PDF，文件名称：《JavaScript高级程序设计(第4版)》.pdf</p>
		
	</div>
	<div id="nice-arcs" class="box-bottom">
    <h4>推荐阅读</h4>
    <ul class="clearfix">
<li><a href="niz69i_8.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_4.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_4.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="228_2.html" title="函数指针及其定义和用法，C语言函数指针详解" target="_blank">函数指针及其定义和用法，C语言函数指针详解</a></li>
<li><a href="494_2.html" title="C语言九九乘法表（五种输出形式）" target="_blank">C语言九九乘法表（五种输出形式）</a></li>
<li><a href="1001_2.html" title="Java多态性：Java什么是多态？" target="_blank">Java多态性：Java什么是多态？</a></li>
<li><a href="1115_2.html" title="Java在远程方法调用中运用反射机制" target="_blank">Java在远程方法调用中运用反射机制</a></li>
<li><a href="2562_2.html" title="UE4的下载和安装（UE4开发环境的搭建）" target="_blank">UE4的下载和安装（UE4开发环境的搭建）</a></li>
<li><a href="../maven2/private-server_2.html" title="Maven私服" target="_blank">Maven私服</a></li>
<li><a href="htj7tzn_2.html" title="Linux alias命令：为命令设置别名" target="_blank">Linux alias命令：为命令设置别名</a></li>
</ul>
</div>
	
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 10545;
window.arcId = "f53dElFYGXAt/qHi5GzfTerQuWmpAQgOm+mHKR/eoQk252Z1XWua09juQNps";
window.typeidChain = "465|463";
window.bookName = '《JavaScript高级程序设计(第4版)》';
</script>
<div id="footer" class="clearfix">
	<div class="info left">
	<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
	<p>
		<a href="8066_2.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
		<a href="8092_3.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
		<a href="8097_2.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
		<a href="9648_2.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
		<a href="8093_2.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
		<a href="../sitemap/sitemap_2.html" target="_blank" rel="nofollow">网站地图</a>
	</p>
	<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan_2.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
	</p>
	</div>
	<img id="logo_bottom" class="right" src="https://m.biancheng.net/templets/new/images/logo_bottom_2.gif" alt="底部Logo" />
	<span id="return-top"><b>↑</b></span>
</div>

<div id="addweixin-widget">
	<p>
		<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://m.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
		<img src="https://m.biancheng.net/templets/new/images/material/qrcode_mp_4.png" alt="微信交流群" width="120" />
		<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
	</p>
	<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>

<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>

<script src="https://m.biancheng.net/templets/new/script/jquery1.12.4.min_2.js"></script>
<script src="https://m.biancheng.net/templets/new/script/common_2.js"></script>
<!-- 51la V6 -->
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
<!-- 51la V5 -->
<!-- <span style="display: none;"><script type="text/javascript" src="https://js.users.51.la/21368967.js"></script></span> -->
<script src="https://m.biancheng.net/templets/new/script/book_2.js"></script>
</body>
</html>