<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit"/>
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="../favicon.ico" />
<link href="../templets/new/style/common.css" rel="stylesheet" />
<title>Vue环境搭建教程（基于VSCode）</title>
<meta name="description" content="工欲善其事，必先利其器，选择一个合适的开发工具，能显著地提高学习和开发效率。目前使用率比较高的前端开发工具有以下几种。 1) Visual Studio Code Visual Studio Code 简称 VS Code，是微软" />
</head>
<body>
<div id="topbar" class="clearfix">
<ul id="product-type" class="left">
<li>
<a href="../c_biancheng_default.html"><span class="iconfont iconfont-home"></span>首页</a>
</li>
<li class="active">
<a href="../sitemap/sitemap_3.html" rel="nofollow"><span class="iconfont iconfont-book"></span>教程</a>
</li>
<li>
<a href="http://vip.biancheng.net/p/vip/show.php" rel="nofollow" target="_blank"><span class="iconfont iconfont-vip"></span>VIP会员</a>
</li>
<li>
<a href="../fudao_biancheng_default.html" rel="nofollow" target="_blank"><span class="iconfont iconfont-fudao"></span>辅导班</a>
</li>
<li>
<a href="niz69i.html" target="_blank"><span class="iconfont iconfont-chip"></span>嵌入式学习路线</a>
</li>
</ul>
</div>
<div id="header" class="clearfix">
<a id="logo" class="left" href="../c_biancheng_default.html">
<img height="26" src="../templets/new/images/logo.png" alt="C语言中文网" />
</a>
<ul id="nav-main" class="hover-none left clearfix">
<li class="wap-yes"><a href="../c_biancheng_default.html">首页</a></li>
<li><a href="../c/c_3.html">C语言教程</a></li>
<li><a href="../cplus/cplus.html">C++教程</a></li>
<li><a href="../python/python.html">Python教程</a></li>
<li><a href="../java/java_3.html">Java教程</a></li>
<li><a href="../linux_tutorial/linux_tutorial.html">Linux入门</a></li>
<li><a href="../sitemap/sitemap_3.html" title="网站地图">更多&gt;&gt;</a></li>
</ul>
<a href="http://vip.biancheng.net/?from=topbar" class="user-info iconfont iconfont-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<div id="main-no-course" class="clearfix">
<div class="arc-info">
<span class="position"><span class="iconfont iconfont-home2"></span> <a href="../c_biancheng_default.html">首页</a> &gt; 编程笔记</span>
</div>
<div id="ggxc-position-bottom" class="ggxc-box"></div>
<h1>Vue环境搭建教程（基于VSCode）</h1>
<div id="ggxc-arctop-pc-1" class="ggxc-box"></div>
<div id="arc-body">工欲善其事，必先利其器，选择一个合适的开发工具，能显著地提高学习和开发效率。目前使用率比较高的前端开发工具有以下几种。<br />
<h4>
1) Visual Studio Code</h4>
Visual Studio Code 简称 VS Code，是微软在 2015 年发布的一款针对编写现代 Web 和云应用的跨平台源代码编辑器。<br />
<br />
VS Code 功能非常强大，界面简洁明晰，操作方便快捷，设计得很人性化。软件主要改进了文档视图，完善了对 Markdown 的支持。<br />
<h4>
2) HBuilder</h4>
HBuilder 是国产的一款前端开发工具，而且是免费的，对于英语不好的前端工程师是一个很大的优势，是前端开发者的首选。<br />
<br />
HBuilder 的优点是对其他语言的强大支持和开发 Web App 等功能，强大到&ldquo;没朋友&rdquo;。在语法提示、转到定义、重构、调试等方面都非常高效。<br />
<h4>
3) Sublime Text 3</h4>
Sublime Text 是一个轻量级的编辑器，也支持各种编程语言。Sublime Text 所有的功能都支持插件，而且快捷键十分好用，可以极大地减小开发工作的强度，使用 Sublime Text 就是要使用其快捷键和插件。<br />
<br />
Sublime Text 3 的优点是轻量级且功能强大，优雅小巧且启动速度快，有着丰富的第三方支持，能够满足各种各样的扩展。其缺点是不便于项目的管理等，而且代码提示不如 HBuilder 强大。<br />
<h4>
4) WebStorm</h4>
WebStorm 是 JetBrains 公司旗下的一款 JavaScript 开发工具，官方提供插件支持，满足许多不会配置的初学者，如 ESlint、词法高亮、emmet、CSS预处理器。<br />
<br />
WebStorm 的新版本也添加了对 ES6 的支持，内建了服务器调试功能，目前已经被广大中国 JavaScript 开发者誉为&ldquo;Web前端开发神器&rdquo;、&ldquo;最强大的HTML5编辑器&rdquo;、&ldquo;最智能的JavaScript IDE&rdquo;等。<br />
<br />
WebStorm 与 IntelliJ IDEA 同源，继承了 IntelliJ IDEA 强大的 JavaScript 部分的功能。<br />
<br />
上面罗列的是目前比较常用的前端开发工具，当然还有很多其他的优秀开发工具，项目团队可以根据实际情况，选择最合适的开发工具。<br />
<br />
本节介绍如何安装及配置Visual Studio Code 软件，并且使用它基于 Vue.js 快速开发猜数字游戏案例，体验 VS Code 工具的基本使用和基于 Vue.js 开发前端的基本流程。<br />
<h2>
安装配置开发环境</h2>
安装配置 VS Code 比较简单，主要步骤是下载并安装 VS Code 软件，再安装高效率的插件。为了方便测试，这里除了介绍 VS Code 的安装配置外，还会介绍在 Chrome 浏览器中如何安装 vue-devtools 插件，以便开发调试 Vue.js 项目。<br />
<h3>
1、安装配置VS Code</h3>
<h4>
1) 下载VS Code安装软件</h4>
用浏览器打开 https://code.visualstudio.com/ 页面，单击 Download 按钮，进入下载页面，选择适合自己计算机环境的版本下载，如图 1 所示。<br />
<br />
<div style="text-align: center;">
<img alt="" src="../uploads/allimg/230908/2-230ZQ5052X12.gif" /><br />
图 1 VS Code下载页面</div>
<br />
这里选择的是 Windows 64 的 User Installer 版本，文件名称是 VSCodeUserSetup-x64-1.33.1.exe。<br />
<h4>
2) 安装VS Code</h4>
双击已下载的安装文件（VSCodeUserSetup-x64-1.33.1.exe），直接运行安装。安装过程比较简单，这里就不再介绍。<br />
<h4>
3) 安装Live Server插件</h4>
Live Server 插件能方便开发者实时浏览页面的显示效果，接下来介绍如何在 VS Code 中安装 Live Server 插件。<br />
<br />
打开 VS Code 开发工具，如下图所示。<br />
<br />
<div style="text-align: center;">
<img alt="" src="../uploads/allimg/230908/2-230ZQ50552334.gif" /><br />
图 2 VS Code启动界面</div>
<br />
单击图 2 左边的 Extensions 图标，或按快捷键 Ctrl+Shift+X，打开 VS Code 的 Extensions 窗口，在输入框中输入 Live Server，选中 Live Server 安装选项，如图 3 所示。<br />
<br />
<div style="text-align: center;">
<img alt="" src="../uploads/allimg/230908/2-230ZQ50605550.gif" /><br />
图 3 Live Server安装界面</div>
<br />
再单击 Install 按钮，完成 Live Server 插件的安装。如果没有异常，并且在 Extensions 中的 Live Server 选项中没有 Install 按钮，则表明基本安装成功。
<h4>
4) 安装Vetur插件</h4>
Vetur 是一个可以运行在 VS Code 中的插件，支持 .vue 文件的语法高亮显示，支持 template 模板，还支持大多数主流的前端开发脚本和插件，例如 Sass 和 TypeScript。接下来在 VS Code 中安装 Vetur 插件。<br />
<br />
同安装 Live Server 插件一样，打开 VS Code 的 Extensions 窗口，在输入框中输入 Vetur，选中 Vetur 安装选项，单击 Install 按钮，即可完成 Vetur 插件的安装。<br />
<h3>
2、安装配置vue-devtools插件</h3>
vue-devtools 是一款运行在 Chrome 浏览器中的插件，能方便开发者开发和调试 Vue.js 应用。本节后面的案例会结合这个插件进行调试说明，同时在开发过程中，它也是一个很好的调试工具。接下来介绍 vue-devtools 插件的安装。<br />
<h4>
1) 下载vue-devtools插件源码</h4>
在浏览器中打开 https://github.com/vuejs/vue-devtools，选择 master 分支，单击 Code 按钮，然后在下拉菜单中单击 Download ZIP 选项，下载 vue-devtools 源码。这里下载的文件是 vue-devtools-dev.zip，下载界面如图 4 所示。<br />
<br />
<div style="text-align: center;">
<img alt="" src="../uploads/allimg/230908/2-230ZQ51021295.gif" /><br />
图 4 vue-devtools下载界面</div>
<h4>
2) 编译vue-devtools源码</h4>
第一步，解压 vue-devtools 源码压缩文件，打开一个 cmd 窗口，切换到 vue-devtools-master 解压目录。输入 npm install 命令，安装 vue-devtools 所需要的依赖，如图 5 所示。<br />
<br />
<div style="text-align: center;">
<img alt="" src="../uploads/allimg/230908/2-230ZQ51045214.gif" /><br />
图 5 安装依赖</div>
<br />
第二步，用文本编辑器打开解压目录 vue-devtools-master 的 shells/Chrome/manifest.json 文件，将代码<code>&quot;persistent&quot;：false</code>改成<code>&quot;persistent&quot;：true</code>。<br />
<br />
第三步，在解压目录下，运行 npm run build 命令，构建 vue-devtools 插件，结果如图 6 所示。<br />
<br />
<div style="text-align: center;">
<img alt="" src="../uploads/allimg/230908/2-230ZQ51143R8.gif" /><br />
图 6 构建vue-devtools</div>
<br />
第四步，打开 Chrome 浏览器，选择菜单&ldquo;更多程序&rdquo;&rarr;&ldquo;扩展程序&rdquo;，打开扩展程序界面，如图 7 所示。<br />
<br />
<div style="text-align: center;">
<img alt="" src="../uploads/allimg/230908/2-230ZQ51201R1.gif" /><br />
图 7 扩展程序</div>
<br />
单击&ldquo;加载已解压的扩展程序&rdquo;按钮，选择 vue-devtools-master/shells/Chrome 目录，将 vue-devtools 插件安装到 Chrome 浏览器，安装结果如图 8 所示。<br />
<br />
<div style="text-align: center;">
<img alt="" src="../uploads/allimg/230908/2-230ZQ5121a60.gif" /><br />
图 8 vue-devtools安装结果</div>
<h2>
实现猜数字游戏</h2>
安装好了开发环境，接下来实现一个简单的猜数字游戏，验证开发环境是否搭建完整，同时快速体验 Vue.js 在前端页面中的使用。<br />
<h3>
1、功能说明</h3>
猜数字游戏的操作比较简单，在打开一个页面时会随机生成一个 1~10 的整数，并且显示页面，如图 9 所示。<br />
<br />
<div style="text-align: center;">
<img alt="" src="../uploads/allimg/230908/2-230ZQ5124BM.gif" /><br />
图 9 猜数字游戏界面</div>
<br />
玩家根据提示，在输入框中输入自己所猜的数字，单击&ldquo;猜一猜&rdquo;按钮，程序就会比较玩家输入的数字同页面随机生成的数字是否一样。如果玩家输入的数字比随机数字小，提示&ldquo;你猜的数字太小，请往大的猜&rdquo;；如果玩家输入的数字比随机数字大，则提示&ldquo;你输入的数字太大，请往小的猜&rdquo;。玩家按照提示，在页面上重新输入一个数字，再单击&ldquo;猜一猜&rdquo;按钮，程序继续比较和提示，直到玩家输入的数字等于随机生成的数字，此时页面提示&ldquo;恭喜你猜中了，一共猜了N次&rdquo;。<br />
<h3>
2、实现猜数字游戏</h3>
了解了猜数字游戏的大体功能后，接下来开始按步骤实现猜数字游戏。<br />
<h4>
1) 创建工作目录</h4>
在工作计算机上，创建一个空目录作为工作目录，这里是在 E:/work/code/vscodeworkspace 目录下，创建 vuebook 目录作为所有案例的工作目录。<br />
<h4>
2) 在工作目录下规划基本子目录</h4>
为了方便管理，在工作目录下分别创建 html 目录和 static/js 目录。html 目录用来存放本书案例中的所有 html 文件，static/js 目录用来存放本书案例用到的所有 JS 文件。<br />
<h4>
3) 用VS Code打开工作目录</h4>
打开 VS Code 编辑器，单击 VS Code 编辑器上的 File 菜单，选中前面创建的 vuebook 文件夹，如图 10 所示。<br />
<br />
<div style="text-align: center;">
<img alt="" src="../uploads/allimg/230908/2-230ZQ5132V09.gif" /><br />
图 10 案例工作目录</div>
<h4>
4) 添加Vue.js文件</h4>
在 static/js 目录下，创建 Vue.js 文件。打开浏览器，打开 https://cdn.jsdelivr.net/npm/vue/dist/vue.js 链接，将页面显示的内容全部复制到 Vue.js 文件中。<br />
<h4>
5) 创建猜数字游戏页面</h4>
在 html 目录下，创建猜数字游戏 .html 文件，代码如下：<br />
<pre class="html">
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;

&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;meta http-equiv=&quot;X-UA-Compatible&quot; content=&quot;IE=edge&quot;&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;&gt;
    &lt;title&gt;猜数字游戏&lt;/title&gt;
    &lt;!-- 引入 Vue.js --&gt;
    &lt;script type=&quot;text/javascript&quot; src=&quot;../static/js/Vue.js&quot;&gt;&lt;/script&gt;
&lt;/head&gt;

&lt;body&gt;
    &lt;div id=&quot;app&quot;&gt;
        欢迎体验猜数字游戏&lt;br /&gt;
        请输入你要猜的数字(1~10的整数)：&lt;input type=&quot;text&quot; v-model=&quot;guessNumber&quot; /&gt;
        &lt;input type=&quot;button&quot; value=&quot;猜一猜&quot; @click=&quot;guess&quot;&gt;
        &lt;div&gt;
            {{message}}
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;script type=&quot;text/javascript&quot;&gt;
        // 创建Vue.js对象
        const vm = new Vue({
            el: &#39;#app&#39;,   // 绑定 app div
            data: {    // 定义 data 属性
                randomNumber: 0,
                guessNumber: &quot;&quot;,
                times: 0,
                message: &quot;&quot;
            },
            created() {    // 定义创建函数，在创建 Vue.js 对象的时候自动执行
                let random = parseInt((Math.random() * 10000));
                this.randomNumber = random % 10 + 1;
            },
            methods: {    // 定义事件方法
                guess() {
                    this.times++;
                    this.guessNumber = parseInt(this.guessNumber);
                    if (this.guessNumber &lt; this.randomNumber) {
                        this.message = &#39;你输入的数字太小，请往大的猜！&#39;;
                    } else if (this.guessNumber &gt; this.randomNumber) {
                        this.message = &#39;你输入的数字太大，请往小的猜！&#39;;
                    } else {
                        this.message = &quot;恭喜你猜中了！共猜了&quot; + this.times + &quot;次&quot;;
                    }
                }
            }
        });
    &lt;/script&gt;
&lt;/body&gt;

&lt;/html&gt;</pre>
<h4>
6) 运行游戏案例</h4>
右击 html/猜数字游戏.html 文件，在弹出的菜单中选中 Open with Live Server 选项，启动 Live Server，如图 11 所示，VS Code 会自动启动浏览器，进入猜数字游戏界面。<br />
<br />
<div style="text-align: center;">
<img alt="" src="../uploads/allimg/230908/2-230ZQ5141H13.gif" /><br />
图 11 启动Live Server</div>
<h4>
7) 基于vue-devtools插件，查看Vue.js对象</h4>
在 Chrome 浏览器中，按 F12 键，单击 Vue 选项，再单击视图中的组件，这样就可以查看该组件对象的 data 数据了，如图 12 所示。<br />
<br />
<div style="text-align: center;">
<img alt="" src="../uploads/allimg/230908/2-230ZQ5144O52.gif" /><br />
图 12 vue-devtools调试</div>
</div>
<div id="ggxc-weixin-arcbottom">
<p>关注公众号「<span class="col-green">站长严长生</span>」，在手机上阅读所有教程，随时随地都能学习。内含一款搜索神器，免费下载全网书籍和视频。</p>
<p style="margin-top:12px; text-align:center;">
<img src="../templets/new/images/material/qrcode_mp.png" alt="公众号二维码" width="160" /><br />
<span class="col-green">微信扫码关注公众号</span>
</p>
</div>
<div id="nice-arcs" class="box-bottom">
<h4>推荐阅读</h4>
<ul class="clearfix">
<li><a href="niz69i_4.html" title="一套完整的嵌入式开发学习路线（高薪就业版）" target="_blank">一套完整的嵌入式开发学习路线（高薪就业版）</a></li>
<li><a href="tnnfqo_2.html" title="一套课程卖1万，TMD太贵了！" target="_blank">一套课程卖1万，TMD太贵了！</a></li>
<li><a href="unnurw_2.html" title="跑了3000公里，见了一位大佬" target="_blank">跑了3000公里，见了一位大佬</a></li>
<li><a href="74.html" title="Go语言初始化内嵌结构体" target="_blank">Go语言初始化内嵌结构体</a></li>
<li><a href="163_2.html" title="if else用法详解，C语言if else用法完全攻略" target="_blank">if else用法详解，C语言if else用法完全攻略</a></li>
<li><a href="749.html" title="Linux mv命令：移动文件或改名" target="_blank">Linux mv命令：移动文件或改名</a></li>
<li><a href="2672.html" title="Shell expr命令：进行整数计算" target="_blank">Shell expr命令：进行整数计算</a></li>
<li><a href="6053.html" title="Java final修饰符详解" target="_blank">Java final修饰符详解</a></li>
<li><a href="9438.html" title="程序员离职会给公司带来多大的伤害？答案超出你的预料" target="_blank">程序员离职会给公司带来多大的伤害？答案超出你的预料</a></li>
<li><a href="../c/remove.html" title="C语言remove()：删除文件" target="_blank">C语言remove()：删除文件</a></li>
</ul>
</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 10414;
window.arcId = "5437uW7jGjvuiLgNuASmMgpuGDPwUEC/kssjpFKweYMYxKDyuzcH+i1CH93l";
window.typeidChain = "309|119";
</script>
<div id="footer" class="clearfix">
<div class="info left">
<p>精美而实用的网站，分享优质编程教程，帮助有志青年。千锤百炼，只为大作；精益求精，处处斟酌；这种教程，看一眼就倾心。</p>
<p>
<a href="8066.html" target="_blank" rel="nofollow">关于网站</a> <span>|</span>
<a href="8092_2.html" target="_blank" rel="nofollow">关于站长</a> <span>|</span>
<a href="8097.html" target="_blank" rel="nofollow">如何完成一部教程</a> <span>|</span>
<a href="9648.html" target="_blank" rel="nofollow">公众号</a> <span>|</span>
<a href="8093.html" target="_blank" rel="nofollow">联系我们</a> <span>|</span>
<a href="../sitemap/sitemap_3.html" target="_blank" rel="nofollow">网站地图</a>
</p>
<p>Copyright ©2012-2022 biancheng.net, <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" style="color:#666;">冀ICP备2022013920号</a>, <img height="13" src="../templets/new/images/gongan.png" alt="公安备案图标" /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13110202001352" target="_blank" rel="nofollow" style="color:#666;">冀公网安备13110202001352号</a>
</p>
</div>
<img id="logo_bottom" class="right" src="https://c.biancheng.net/templets/new/images/logo_bottom.gif" alt="底部Logo" />
<span id="return-top"><b>↑</b></span>
</div>
<div id="addweixin-widget">
<p>
<script type="text/javascript">
			/*var suffix = 'c';
			var thisMin = (new Date()).getMinutes();
			if(thisMin>=40){
				suffix = 'd';
			}else if(thisMin>=20){
				suffix = 'e';
			}else{
				suffix = 'c';
			}
			document.write('<img src="https://c.biancheng.net/templets/new/images/material/qrcode_wx_'%20+%20suffix%20+'.png?v=1.7.07" alt="微信交流群" width="120" /><br />');*/
		</script>
<img src="../templets/new/images/material/qrcode_mp_2.png" alt="微信交流群" width="120" />
<span>关注微信公众号，加入官方交流群。内含一款搜索神器，免费下载全网书籍和视频。</span>
</p>
<span id="close-addweixin-widget" class="iconfont iconfont-close"></span>
</div>
<script type="text/javascript">
window.siteId = 4;
window.cmsTemplets = "/templets/new";
window.cmsTempletsVer = "1.7.07";

</script>
<script src="../templets/new/script/jquery1.12.4.min.js"></script>
<script src="https://c.biancheng.net/templets/new/script/common.js"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KDf6QzBhogyQjall",ck:"KDf6QzBhogyQjall",autoTrack:true})</script>
</span>
</body>
</html>